@import 'variables';

.page-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    background-color: $header__light_background;
  }

  @media (max-width: 767px) {
    &::before {
      height: 160px;
    }
  }
}

.container-sm {
  padding: 0;
}

.heading-h1 {
  margin-bottom: 30px;
}

.form-section {
  position: relative;
  z-index: 2;
  @media (min-width: 768px) {
    padding-top: 20px;
  }
}

.form__group:not(:last-child) {
  margin-bottom: 20px;
}

.form__group:first-child {
  margin-bottom: 40px;
}

.form__group + .form__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.btn {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.form__input {
  -webkit-appearance: none;
}

.form__input:focus ~ .form__input-label, .form__input:not(:focus):valid ~ .form__input-label, .form__input:-webkit-autofill ~ .form__input-label, .form__input:not(:empty) ~ .form__input-label, .form__input[type=tel]:disabled ~ .form__input-label {
  left: 20px;
}
.disable_btn {
  opacity: 0.5;
  pointer-events: none;
}
