<div class="container" style="padding: 50px;">
  <div *ngIf="!schemas">
    Loading...
  </div>

  <ng-container *ngIf="schemas">
    <div *ngFor="let item of schemas">
      <span style="color: #999" *ngIf="currentForm">Шаблон: {{item.name}}</span>
      <a style="color: #00f;" [routerLink]="item.name" *ngIf="!currentForm">Шаблон: {{item.name}}</a>
      <hr/>
      <div style="margin-bottom: 32px; background: #F7F8FB;">
        <app-dynamic-form
          [schema]="item.schema"
        ></app-dynamic-form>
      </div>
    </div>
  </ng-container>

</div>
