@import 'variables';

.page-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 100%;
    background-color: $header__light_background;
  }

  @media (max-width: 767px) {
    &::before {
      height: 356px;
    }
  }
}

.container-sm {
  padding: 0;
}

.form-section {
  position: relative;
  z-index: 2;
  @media (min-width: 768px) {
    padding-top: 20px;
  }
}

.form__input {
  -webkit-appearance: none;
}

.form__group:not(:last-child) {
  margin-bottom: 20px;
}

.form__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;

  @media (max-width: 767px) {
    margin-top: 20px;
    width: 100%;
  }
}

.tel-confirm {
  cursor: pointer;
  padding-top: 23px;
  padding-bottom: 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;

  @media (max-width: 767px) {
    padding-top: 14px;
    padding-bottom: 15px;
  }
}

.tel-confirm.verified {
  color: $g__success_color;
  border: 1px solid $g__success_color;
}

.profile__avatar-wrap {
  position: relative;
  width: 120px;
  display: flex;
  justify-content: center;
  margin: 30px auto;

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px;
    width: 100%;
  }

  & .profile__avatar-field {
    display: none;
  }
}

.profile__avatar-img {
  width: 120px;
  height: 120px;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (max-width: 767px) {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }

  img {
    max-height: none;
    object-fit: cover;
    max-width: 100%;
  }
}

.profile__avatar-label-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -140px;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: 767px) {
    position: static;
    display: flex;
    font-size: 13px;
    line-height: 18px;
    transform: none;
  }
}

.profile__avatar-label {
  display: block;
  color: $g__link_color;
  text-decoration: underline;
  cursor: pointer;

  @media (max-width: 767px) {
    padding: 12px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.profile__avatar-delete {
  position: absolute;
  bottom: -23px;
  left: 0;
  color: $g__alert_color;
  text-decoration: underline;
  cursor: pointer;

  @media (max-width: 767px) {
    position: static;
    margin-left: 10px;
    padding: 12px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.btn {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.form__input:focus ~ .form__input-label, .form__input:not(:focus):valid ~ .form__input-label, .form__input:-webkit-autofill ~ .form__input-label, .form__input:not(:empty) ~ .form__input-label, .form__input[type=tel]:disabled ~ .form__input-label {
  left: 20px;
}
.loaderAuth {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #00AFEC;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.update-button-disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.error_label {
  margin-bottom: 0;
  margin-top: -10px;
}
.image-avatar-change {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  //-webkit-filter: drop-shadow(0px 3px 6px rgba(111, 132, 152, 0.1));
  filter: drop-shadow(0px 3px 6px rgba(111, 132, 152, 0.1));
  max-height: none;
  //-o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}
.disabled {
  pointer-events: none;
  cursor: none;
}

// TODO: Удалить лишнее
.personal-data {
  margin-bottom: 30px;

  &__error-wrap{
    margin-top: 15px;
  }

  &__error-text{
    color: $g__alert_color;
    margin-right: 5px;
    font-size: 13px;
    line-height: 15px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    color: $request_modal__title_color;
  }

  &__form {
    display: flex;

    &.shake {
      animation: 1s ease-in-out 0s normal none running trambling-animation;
    }

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__input-wrap {
    position: relative;
    flex-grow: 1;
    margin-right: 10px;

    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &--code {
      margin-right: 0;
      max-width: 566px;

      @media (max-width: 768px) {
        margin-bottom: 0;
        max-width: none;
      }
    }

    &--has-code {
      max-width: 565px;
      margin-right: 10px;

      @media (max-width: 768px) {
        margin-bottom: 0;
        max-width: none;
      }
    }
  }

  &__input {
    padding-top: 23px;
    padding-bottom: 24px;
    color: #162941;

    &--code {
      &.successCode {
        border: 1px solid $g__success_color;
      }

      &.errorCode {
        border: 1px solid $g__alert_color;
      }
    }

    &:focus,
    &:valid {
      padding-top: 33px;
      padding-bottom: 14px;
    }

    &:focus + .personal-data__label,
    &:valid + .personal-data__label {
      top: 14px;
      font-size: 13px;
      line-height: 15px;
      transform: none;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 18px;
    line-height: 21px;
    color: #162941;
    opacity: 0.5;
  }

  &__btn-wrap {
    display: flex;
    flex-shrink: 0;
    min-width: 203px;

    &--grow {
      flex-grow: 1;
    }

  }

  &__button {
    flex-grow: 1;
    padding-top: 24px;
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    max-width: 203px;

    @media (max-width: 768px) {
      max-width: none;
      padding-top: 13px;
      padding-bottom: 15px;
    }
  }

  &__desc-wrap {
    position: relative;
    padding-top: 70px;

    @media (max-width: 768px) {
      padding-top: 80px;
    }
  }

  &__desc {
    position: absolute;
    top: 15px;
    display: flex;
    flex-direction: column;

    div:first-of-type {
      margin-bottom: 10px;
    }

    & p {
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 15px;
      color: $g__text_color_secondary;
    }

    & a {
      font-size: 13px;
      line-height: 15px;
      text-decoration-line: underline;
      color: $g__link_color;
    }
  }

  & .success {
    margin-bottom: 20px;
    padding: 19px;
    background: $g__success_background;
    border: 1px solid $g__success_color;
    box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;

    & .success__title-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      & h3 {
        font-size: 18px;
        line-height: 24px;
        color: $g__success_color;
      }

      & p.success__desc {
        margin-bottom: 0;
      }
    }

    & button {
      position: relative;
      width: 24px;
      height: 24px;
      background: transparent;
      border: none;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        height: 24px;
        width: 2px;
        background-color: $g__link_color;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.shake {
  animation: 1s ease-in-out 0s normal none running trambling-animation;
}

@keyframes trambling-animation {
  0%, 50%, 100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  10%, 30% {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
  }
  20%, 40% {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
  }
}
.file-error {
  color: $g__alert_color !important;
  padding-bottom: 10px;
  margin-top: -5px;
  font-size: 13px !important;
  line-height: 18px !important;
  justify-content: center;
  display: flex;
}
