@import 'variables';

.section-position {
  &__search {
    background: $header__light_background;
  }

  &__search-result {
    background: $g__body_background;

    &--light {
      background: $g__body_background;
    }
  }

  &__exp {
    background-color: white;
    min-width: 1100px;
    padding-top: 0
  }
}

.search-result {
  display: flex;
  max-width: 1260px;
  width: 100%;
  margin: auto;

  &__result {
    padding: 10px 0;
    background: $g__body_background;
    justify-content: center;

    @media (max-width: 980px) {
      padding: 10px 0;
    }
  }

  &__future-result {
    padding: 10px 0;
    background: $g__body_background;
    justify-content: center;
    max-width: 1541px;
    flex-direction: column;
    align-items: center;
    @media (max-width: 980px) {
      padding: 10px 0;
    }

    p {
      display: flex;
      width: 100%;
      background: #FFFFFF;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      line-height: 1.33;
      text-align: center;
      font-weight: normal;
      color: $g__text_color_secondary;
      padding: 34px;
      justify-content: center;
      align-items: center;
      max-width: 1240px;
      margin: 40px 0;

      @media (max-width: 980px) {
        margin: 20px 0;
      }
    }

    img {
      margin-bottom: 40px;
    }

    &--here {
      padding: 0;
      margin-top: 16px;
      margin-bottom: -16px;

      @media (max-width: 980px) {
        margin-top: 0;
        margin-bottom: 0;
      }

      p {
        margin: 0;
      }
    }

    @media (max-width: 980px) {

      p {
        padding: 20px 30px;
        font-size: 20px;
        line-height: 28px;

      }
    }
  }
}

.main-search {
  padding: 40px 10px;
  display: flex;
  max-width: 1260px;
  width: 100%;
  margin: auto;
  background-color: $header__light_background;
  flex-direction: column;

  @media (max-width: 980px) {
    padding: 30px 20px;
  }

  &__header {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    color: $g__text_color_primary;
  }

  &__forms {
    display: grid;
    width: 100%;
    grid-template-columns: 0.3fr 1fr;

    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }
  }

}

.forms-search__text--wrapper:focus-within .forms-search__table-search {
  //display: block;
}

.rotate-after::after {
  transform: rotate(-180deg);
}

.table {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 60px;

  @media (max-width: 980px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__header-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }

  &__header-count {
    min-width: 32px;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $g__text_color_primary;
    padding: 9px 10px;
    height: fit-content;
    margin: auto 0 auto 20px;

    @media (max-width: 960px) {
      border-radius: 50%;
      font-size: 16px;
      line-height: 20px;
      padding: 6px 8px;
      margin-left: 10px;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
  }

  &__btn {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: $g__btn_attr_text_color;
    border: 1px solid $g__btn_attr_border_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 37px 10px 10px;
    position: relative;
    margin-top: 5px;
    cursor: pointer;
    background: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

    &--counter {
      display: none;
      @media (max-width: 960px) {
        display: flex;
        color: #FFFFFF;
        background: $g__alert_color;
        border: 2px solid #FFFFFF;
        border-radius: 15px;
        padding: 2px 6px;
        margin-left: 10px;
        width: fit-content;
        font-size: 10px;
        line-height: 13px;
      }
    }

    & svg {
      position: absolute;
      width: 14px;
      height: 9px;
      right: 11px;
      top: 17px;
      stroke: $g__btn_attr_text_color;
    }

    @media (max-width: 960px) {
      width: 100%;
      background: #FFFFFF;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;
      color: $g__link_color;
      font-weight: normal;
      padding: 10px;
      font-size: 13px;
      line-height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      &:after {
        display: none;
      }
    }
  }

  &__wrapper {
    display: flex;
    width: 99.5%;
    flex-direction: column;
    margin: auto auto 30px;

    @media (max-width: 960px) {
      margin-bottom: 60px;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__header {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    color: #162941;
    justify-content: center;
    flex-grow: 1;
    margin: auto;

    @media (max-width: 960px) {
      font-size: 24px;
      line-height: 32px;
      font-weight: normal;
      text-align: left;
      justify-content: flex-start;
      padding-left: 0 !important;
    }
  }


  &__header-btn {
    font-family: 'Roboto', sans-serif;
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: $g__link_color;
    border-bottom: 1px dotted $g__link_color;
    height: fit-content;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;

    @media (max-width: 980px) {
      display: none;
    }
  }
}

.row-white:hover .row-white__tooltip {
  @media (min-width: 980px) {
    display: flex;
    width: fit-content;
    white-space: nowrap;
    padding: 2px 3px;
  }
}

.row-white {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 9px;
  margin-bottom: 5px;
  border: 1px solid #FFFFFF;
  position: relative;

  &.row-white__blue-border {
    background: $dashboard_checked_objects__background;
    border: 1px solid $dashboard_checked_objects__outline_color;
    border-radius: 5px;
  }

  @media (max-width: 980px) {
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__img-text {
    display: flex;
    flex-grow: 1;
    width: 42%;

    .row-white__title-text {
      width: 70%;
    }

    @media (max-width: 960px) {
      .row-white__title-text, .row-white__title-text--four {
        max-width: 65%;
        width: auto;
        padding: 0;
      }
      border-bottom: 1px solid $g__outline_color;
      padding-bottom: 10px;
      width: 100%;
    }
  }

  &__tooltip {
    display: none;
    position: absolute;
    background: $g__btn_primary_background;
    border-radius: 3px;
    padding: 4px 8px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: $g__btn_primary_color;
    right: 52px;
    top: 5px;

    @media (max-width: 980px) {
      display: block;
      position: relative;
      top: auto;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: $g__btn_primary_background;
      background: none;
      right: auto;
    }
  }

  &__blue-border {
    border: 1px solid $g__btn_primary_background;
  }

  &--debates {
    padding: 13px;
  }

  &__subtitle-wrapper {
    display: flex;

    align-content: center;
  }

  &__attention {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    color: $g__alert_color;
    border: 1px solid $g__alert_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3px 10px;
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
    text-align: center;
  }

  &__title-text {
    display: flex;
    flex-direction: column;
    width: 26%;
    padding-right: 26px;

    &--four {
      width: 19%;
    }

    &:first-of-type {
      width: 436px;
    }

    &--debates {
      max-width: 423px;
    }

    @media (max-width: 960px) {
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid $g__outline_color;

      &:last-child {
        border-bottom: none;
      }

    }
  }

  &--red {
    border: 1px solid rgba(255, 16, 55, 0.4);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  &__addition {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    position: relative;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      background-image: url('./../../../../../app-ipid/src/assets/icons/gray-arrow.svg');
      background-repeat: no-repeat;
      width: 13px;
      height: 15px;
      background-size: 100%;
      left: 0;
      top: 0;
    }
  }

  &__more {
    color: $g__text_color_secondary;
  }

  &__text {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    margin-bottom: 9px;

    &--bold {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      word-break: break-word;
    }

    &--gray {
      color: $g__text_color_secondary;
      margin-right: 5px;
    }

    @media (max-width: 960px) {
      margin-bottom: 0;
      font-size: 13px;
      line-height: 18px;
    }
  }

  &__subtitle {
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
    font-weight: normal;
    margin-right: 15px;
    margin-bottom: 7px;

    @media (max-width: 960px) {
      font-size: 13px;
      line-height: 18px;
    }
  }

  &__question {
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    color: #162941;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
    transform: translateX(8px);
    font-size: 13px;
    line-height: 16px;
    padding: 1px;
  }


  &__reg-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    position: relative;
  }


  &__img {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin-right: 16px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 90px;
    overflow: hidden;

    @media (max-width: 960px) {
      width: 90px;
      height: 68px;
      margin-right: 10px;
    }
  }

  &__date {
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
  }

  &__date-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__reg-progress {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
}

.line {
  position: relative;
  padding-left: 20px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 1px;
    height: 70px;
    background: #F0E0E3;
  }

  @media (max-width: 960px) {
    padding: 10px 0;
    &::before {
      display: none;
    }

    &:nth-last-of-type(-n+2) {
      border-bottom: none;
    }
  }
}

.overlay--transparent {
  background: none;
  z-index: 900;
}

.row-white__checkbox {
  width: 125px;
  text-align: end;
  position: relative;

  &--input {
    opacity: 0;
    position: absolute;
    right: 16px;
    width: 23px;
    top: 0;
    height: 30px;
    z-index: 20;
    cursor: pointer;

    @media (max-width: 980px) {
      width: 100%;
      min-height: 46px;
      right: 0;
      top: auto;
    }
  }

  &-label {
    width: 24px;
    height: 24px;
    position: relative;
    font-size: 0;

    &:before {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-sizing: border-box;
      border-radius: 5px;
      left: -40px;
      top: 5px;
    }
  }

  @media (max-width: 980px) {
    width: 100%;

    &-label {
      font-size: 13px;
      line-height: 18px;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 11px;
      min-height: 46px;
      color: $g__link_color;
      height: fit-content;
      top: auto;
      right: auto;
      width: 100%;
      display: flex;
      justify-content: center;

      &::before, &::after {
        display: none;
      }
    }
  }
}

.row-white__checkbox-label--checked {
  &::after {
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    background-color: $g__checkbox_background;
    box-sizing: border-box;
    left: -40px;
    top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-image: url('./../../../../../app-ipid/src/assets/images/icon-done.svg');
    background-repeat: no-repeat;
    background-size: 17px 11px;
    background-position: center;
  }

  @media (max-width: 980px) {
    background: $g__btn_primary_background;
    //color: $g__btn_primary_color;
    .row-white__tooltip {
      background: $g__btn_primary_background;
      color: $g__toggle_no_active_background;
      padding: 0;
    }

    &::before, &::after {
      display: none;
    }
  }
}

.row-white__checkbox-label .row-white__checkbox-label--checked {

}

.btns-add {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;

  &__white {
    background: transparent;
    border: 1px solid $g__btn_attr_border_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: $g__btn_attr_text_color;
    margin-right: 20px;
    cursor: pointer;
  }

  &__blue {
    background: $g__btn_primary_background;
    border: 1px solid $g__btn_primary_background;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: $g__btn_primary_color;
    padding: 15px 25px;
    cursor: pointer;
  }

  &--fly {
    position: sticky;
    bottom: 100px;
    right: 0;

    @media (max-width: 767px) {
      position: static !important;
    }
  }

  &--loading {
    position: relative;
    padding-right: 55px;
    cursor: default;

    &::after {
      content: '';
      position: absolute;
      right: 25px;
      background: url('/assets/images/oval-white.svg');
      background-size: cover;
      width: 20px;
      height: 20px;
    }
  }

  @media (max-width: 980px) {
    display: flex;
    flex-direction: column;
    button {
      margin: 0;

      &:first-of-type {
        margin-bottom: 20px;
      }
    }

  }
}

.search-here {
  display: flex;
  max-width: 1240px;
  width: 100%;
  padding: 34px;
  background: #FFFFFF;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0;

  p {
    font-size: 30px;
    line-height: 1.33;
    text-align: center;
    font-weight: normal;
    color: $g__text_color_secondary;
  }

  img {
    margin-bottom: 40px;
  }
}

.table-search {

  table {
    border-collapse: collapse;
  }

  &__wrapper {
    width: 100%;
  }

  &__row {
    background: #F7F7FA;

  }

  &__head-ceil {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $g__text_color_secondary;
    padding: 15px 10px 7px 20px;
    box-sizing: border-box;
    text-align: left;

    &--width {
      padding: 0;
      max-width: none;

    }
  }

  &__ceil {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $g__text_color_secondary;
    padding: 10px 10px 10px 20px;
    text-align: left;
    max-width: 60px;
    box-sizing: border-box;

    &--black {
      color: #162941;
      max-width: none;
      padding: 0;
    }
  }
}

.image_text {
  margin-top: 5%;
  font-size: 12px;
  word-break: break-word;
}

.image_wrapper_parent {
  text-align: center;
}

.stub_text-variant_one {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #B2B8C9;
}

//.tm_image {
//  max-width: 95%;
//  max-height: 90%;
//  margin-top: 5px;
//  vertical-align: middle;
//  display: inline-block;
//}

.tm_image_stub {
  min-width: 100%;
  min-height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.disabled_wo_style {
  pointer-events: none;
}

.switched_div {
  display: flex;
  flex-grow: 1;
}

.search-mobile {
  @media (max-width: 980px) {
    flex-direction: column;

    button:first-of-type {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
}

.company-list {
  position: absolute;
  top: 100%;
  left: 116px;
  z-index: 5;
  margin-top: 5px;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 10px;
    cursor: pointer;

    p {
      text-align: left;
    }

    &--selected {
      background: $header__light_background;
      border-radius: 5px;
    }
  }
}

.chart__mini-wrapper {
  border: none;
  background: none;
  font-size: 25px;
  line-height: 32px;
  text-align: left;

  @media (max-width: 793px) {
    padding: 0;
    text-align: left;
    margin-left: 0;
    position: relative;

    &--several::after {
      position: absolute;
      content: '';
      right: 0;
      bottom: 12px;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 12px;
      height: 8px;
      background-image: url("/assets/icons/icon-dropdown-blue.svg");
    }
  }
}

.chart__mini-wrapper--several-2::after {
  transform: rotate(180deg);
}

.chart__companies-wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $g__text_color_primary;
  display: flex;
  z-index: 11;

  @media (max-width: 793px) {
    width: 100%;
    left: 0;
  }
}

.overlay--transparent {
  background: none;
  z-index: 8;
}

.hide {
  display: none;
}

.expert {
  position: relative;
  top: 80px;
}

.search-objects-container {
  display: grid;
  grid-template-columns: 4.5fr 1fr;
  grid-gap: 10px;

  @media (max-width: 500px) {
    display: block;
  }
}
