<div class="sections-wrapper">
  <section class="section-position section-position__search">
    <div class="main-search container">

      <app-selection-organizations
        [kontragents]="kontragents"
        [selectedCompany]="selectedCompany"
        [textHeader]="['Добавить объект', 'в']"
        [styleLink]="'technical-task-link'"
        (selectCompany)="selectCompany($event)"
      ></app-selection-organizations>

      <form class="main-search__forms forms-search">

        <app-type-portfolio-selector
          [selected]="selectedType"
          [options]="dropdownOptions"
          (selectOption)="changeOption($event)"
        ></app-type-portfolio-selector>

        <div class="search-objects-container">
          <app-ui-input
            [icon]="undefined"
            [val]="searchText"
            id="searchInput"
            (search)="searchObjects()"
            [legalName]="legalName | async"
            [placeholder]="selectedType.label"
            (setValue)="changeSearchText($event)"
          ></app-ui-input>

          <app-button (search)="searchObjects()" [styleButton]="'forms-search__btn'" id="searchButton">
            Найти
          </app-button>
        </div>
      </form>
    </div>

  </section>

  <section class="section-position section-position__search-result container">
    <div class="search-result search-result__result">
      <div class="table">
        <div
          *ngIf="!(trademarksData$ | async)?.result.length
            && !(patentsData$ | async)?.result.length
            && !(domainsData$ | async)?.result.length
            && !(swdbData$ | async)?.result.length
            && !activatedRoute.snapshot.queryParams?.name"
          class="search-result search-result__future-result search-result__future-result--here"
          id="showResultsSearch"
        >
          <p>Здесь будут показаны результаты поиска </p>
        </div>

        <div 
          *ngIf="!(trademarksData$ | async)?.result.length
            && !(patentsData$ | async)?.result.length
            && !(domainsData$ | async)?.result.length
            && !(swdbData$ | async)?.result.length
            && activatedRoute.snapshot.queryParams?.name"
          class="search-result search-result__future-result"
          id="emptyResultsSearch"
        >
          <p>К сожалению, ничего не найдено, попробуйте изменить запрос. </p>
        </div>

        <app-technical-task-trademarks
          *ngIf="(trademarksData$ | async).result.length"
          [trademarks]="trademarksData$ | async"
          [currentPage]="currentPageTrademarks$ | async"
          [allTrademarksChecked]="allTrademarksChecked$ | async"
          (changePage)="changePage($event)"
        ></app-technical-task-trademarks>

        <app-technical-task-patents
          *ngIf="(patentsData$ | async).result.length"
          [patents]="patentsData$ | async"
          [currentPage]="currentPagePatents$ | async"
          [allPatentsChecked]="allPatentsChecked$ | async"
          (changePage)="changePage($event)"
        ></app-technical-task-patents>

        <app-technical-task-domains
          *ngIf="(domainsData$ | async).result.length"
          [domains]="domainsData$ | async"
          [currentPage]="currentPageDomains$ | async"
          [allDomainsChecked]="allDomainsChecked$ | async"
          (changePage)="changePage($event)"
        ></app-technical-task-domains>

        <app-technical-task-swdb
          *ngIf="(swdbData$ | async).result.length"
          [swdb]="swdbData$ | async"
          [currentPage]="currentPageSWDB$ | async"
          [allSWDBChecked]="allSWDBChecked$ | async"
          (changePage)="changePage($event)"
        ></app-technical-task-swdb>

        <div
          *ngIf="(trademarksData$ | async)?.result.length
          || (patentsData$ | async)?.result.length
          || (domainsData$ | async)?.result.length
          || (swdbData$ | async)?.result.length"
          class="btns-add">
          <button class="btns-add__white" id="cancelAddToObjects" (click)="cancelCheckedObjects()">Отмена</button>
          <button
            class="btns-add__blue"
            id="addObjectsToPortfolio"
            [class.btns-add--loading]="isLoadingAdd$ | async"
            [disabled]="(objectsLength$ | async) === 0"
            (click)="addObjectsToPortfolio()"
          >
            Добавить
            <span>
              ({{((objectsLength$ | async))}})
            </span>
          </button>
        </div>
      </div>
    </div>
  </section>

  <app-portfolio-loading-modal
    *ngIf="isLoading$ | async"
    [typeRequest]="typeRequest"
    [fieldName]="fieldName"
    id="technicalTaskLoadingModal"
  ></app-portfolio-loading-modal>

  <app-modal-error
    *ngIf="(errorModalData | async).errorModal"
    [portfolioObjectsError]="(errorModalData | async).portfolioObjectsError"
    [successLength]="(errorModalData | async).successLength"
    (modalEvent)="closeModalError()"
    id="technicalTaskErrorModal"
  ></app-modal-error>

</div>

<ng-template #empty>
  <div class="search-result search-result__future-result">
    <p>К сожалению, ничего не найдено, попробуйте изменить запрос.</p>
  </div>
</ng-template>

<app-expert></app-expert>