@import 'variables';

h2 {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: normal;
  color: $g__text_color_primary;

  @media(max-width: 768px) {
    font-size: 22px;
    margin-bottom: 15px;
  }
}

button:hover,
a:hover {
  opacity: 0.5;
  cursor: pointer;
}


.monitoring__wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  height: 100%;

  @media(max-width: 768px) {
    padding-left: 0;
    width: 100%;
  }

  & h2 {
    flex: 0 0 auto;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.monitoring {
  flex: 1 0 auto;
  padding: 61px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #D9DDE7;
  box-sizing: border-box;

  &--no{
    padding: 50px 50px 60px;
    min-height: 333px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
      width: 62px;
      margin-bottom: 34px;

      @media(max-width: 575px) {
        margin-bottom: 20px;
      }
    }
  }

  @media(max-width: 768px) {
    min-height: auto;
  }

  @media(max-width: 575px) {
    padding: 30px;
  }

  &--hasmonitoring {
    padding: 0;
    text-align: left;
    border: none;

    @media(max-width: 575px) {
      padding: 0 0 30px;
      max-height: 561px;
      overflow: hidden;
    }
  }

  a {
    font-size: 18px;
    text-decoration-line: underline;
    color: $g__link_color;
  }

  &__head {
    font-size: 25px;
    line-height: 1.4;

    @media(max-width: 575px) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}

.gradient {
  position: absolute;
  left: -3px;
  right: 0;
  bottom: 45px;
  width: 103%;
  height: 88px;
  background: linear-gradient(180deg, rgba(235, 237, 242, 0) 0%, var(--page-background) 100%);
  z-index: 10;

  @media(max-width: 575px) {
    display: none;
  }
}

.service-link {
  position: relative;
  font-weight: 700;
  font-size: 13px;
  padding-right: 34px;
  line-height: 18px;
  text-transform: uppercase;
  color: $g__link_color;

  &__arrow {
    fill: $g__link_color;
  }

  &__wrapper {
    left: -3px;
    right: 0;
    bottom: -13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0;
    text-align: right;
    background: $g__body_background;
    z-index: 10;

    @media(max-width: 575px) {
      padding: 0;
      justify-content: center;
    }
  }

  &__left{
    justify-content: flex-start;
    width: 100%;
    bottom: -3px;
    z-index: 100;
    left: 0;
  }

  //&::after{
  //  position: absolute;
  //  //background: url("../../../assets/images/arrow.svg") no-repeat 100% ;
  //  content: "";
  //  width: 21px;
  //  height: 16px;
  //  transform: translateX(13px);
  //}
}

.monitoring-card__wrapper {
  width: 50%;
  padding-left: 42px;
  position: relative;

  @media(max-width: 575px) {
    width: 100%;
    padding-left: 25px;
  }

  &--mobile{
    @media(max-width: 575px) {
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
      padding-bottom: 10px;
    }
  }

  &--img {
    position: relative;
    display: flex;
    padding-left: 0;

    @media(max-width: 575px) {
      margin-bottom: 10px;
      padding-top: 10px;
    }

    &:before{
      content: "";
      position: absolute;
      right: 0;
      width: 1px;
      height: 68px;
      background: #EBEDF2;

      @media(max-width: 575px) {
        display: none;
      }
    }
  }
}

.monitoring-card__block {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  @media(max-width: 575px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.monitoring-card {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  @media(max-width: 575px) {
    flex-direction: column-reverse;
    padding: 10px;
  }

  &__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 90px;
    height: 68px;
    margin-right: 20px;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-sizing: border-box;

    @media(max-width: 575px) {
      margin-right: 10px;
    }
  }

  &__item {
    margin-bottom: 6px;
    font-size: 15px;
    line-height: 20px;
    color: #929FAB;

    @media(max-width: 575px) {
      margin-bottom: 0;
      font-size: 13px;
      line-height: 18px;
    }
  }

  &__text {
    width: 92%;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    text-overflow: ellipsis;
    overflow: hidden;

    @media(max-width: 575px) {
      font-size: 13px;
      line-height: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__text-mobile{
    display: none;

    @media(max-width: 575px) {
      display: block;
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 5px;
    }
  }

  &__notice {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    position: relative;

    @media(max-width: 575px) {
      font-size: 16px;
      line-height: 20px;
      width: fit-content;
    }

  }

  &__date {
    position: relative;
    font-size: 15px;
    line-height: 20px;
    color: #929FAB;

  }

  &__long{
    display: none;

    @media(max-width: 575px) {
      display: flex;
      font-size: 13px;
      line-height: 18px;
      color: $g__link_color;
      border: 1px solid $g__link_color;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 12px;
      width: 100%;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
    }
  }


  &__lamp {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #FF1037;
    border-radius: 50%;
    transform: translate(-24px, 5px);

    &--orange {
      width: 10px;
      height: 10px;
      background: #FF8310;
    }

    &--yellow {
      width: 8px;
      height: 8px;
      background: #FCD770;
    }
  }
}

.monitoring__wrapper,
.service-wrapper {
  position: relative;
  width: 100%;
}

.service-wrapper {
  width: 31%;

  @media(max-width: 768px) {
    width: 100%;
  }
}

.monitoring__wrapper {
  width: 100%;
}

.linkTo_case {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  background: $g__text_color_secondary;
}


.search-section{
  margin-right: 70px;
  flex-grow: 1;

  h2{
    margin-bottom: 0
  }
}
.sections__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: $g__white_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 10px;
  min-height: 345px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
    box-shadow: none;
    border: none;
  }

  &--trademarks {
    background-color: $header__dark_background;

    & .sections__title {
      color: $header__dark_text_color_primary;
    }
  }
}
.sections__content {
  flex: 1 0 auto;
}

.sections__btn {
  align-self: flex-start;
  margin-top: 15px;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  border: 1px solid $g__btn_primary_background;

  @media (max-width: 767px) {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid $g__outline_color;
  }
}

:host ::ng-deep {
  & .monitoring__wrap {
    & .sections__item {
      min-height: auto;
      height: 100%;
    }

    & .risks-item__title {
      margin-bottom: 24px;
    }
  }
}
