.section-position__color-bg--court {
  background: #ECF2FA
}

.header-court__card--court {
  background: #FCD770;
}

.section-position {
  @media(max-width: 550px) {
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
}

.control {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
  padding-bottom: 0;


  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__mobile {
    display: none;
    z-index: 50;
    position: absolute;
    left: 0;
    width: 100%;
    top: 106px;

    p {
      width: fit-content;
      margin: 0 auto;
      font-size: 13px;
      line-height: 18px;
      padding: 10px 15px 10px 40px;
      position: relative;
      background: #FFFFFF;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      border-radius: 30px;
      z-index: 2;
      top: 34px;


      &::before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        background-image: url('/assets/images/icon-search-blue.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        left: 14px;
        top: 11px;
        z-index: 30;
      }
    }

    @media(max-width: 500px) {
      display: block;
    }

    &--active {
      background: #FFFFFF;
      border: none;
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      border-radius: 0;
      padding: 15px;
      position: fixed;
      top: 10px;
      z-index: 1000;


      &::before {
        display: none;
      }

      &::after {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        background-image: url('/assets/images/x_black.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        right: 20px;
        top: 17px;
        z-index: 30;
      }
    }
  }

  &__btn {
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    width: 31.2%;
    padding: 20px;
    color: #152438;
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6) !important;
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
    border-bottom-color: white;

    @media(max-width: 850px) {
      height: 103px;
      display: flex;
      align-items: flex-start;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      background: #FFFFFF
    }

    @media(max-width: 768px) {
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      border-radius: 5px;
      padding: 15px;
      width: 165px;
      margin-bottom: 23px;
    }

    p {
      margin-bottom: 0;
    }


    &:hover {
      opacity: 1;
    }

    &--active {
      border: 1px solid rgba(21, 36, 56, 0.15);
      background: white !important;
      color: #152438;
      border-bottom-color: white !important;
      position: relative;
      z-index: 3;

      @media(max-width: 850px) {
        box-shadow: none;
        background: none;
        border: 1px solid rgba(21, 36, 56, 0.15);
      }
    }

  }

  &__count {
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 25px;
    line-height: 40px;

    @media(max-width: 850px) {
      font-size: 19px;
      line-height: 30px;
      top: initial;
      left: 20px;
      bottom: 0;
    }

    @media(max-width: 768px) {
      bottom: 10px;
    }
  }
}

.section-position--white {
  background-color: white;
  border-top: 1px solid #CBCFD6;;
  position: relative;
  z-index: 2;

  @media(max-width: 768px) {
    border-top: none;
  }
}
