@import 'variables';

.info-table {
  display: flex;
  gap: 40px;

  @media (max-width: 767px) {
    display: block;
  }

  &__table {
    width: 100%;

    @media (max-width: 767px) {
      width: 100%;
    }

    table {
      border-collapse: collapse;
      width: 100%;

      @media (max-width: 767px) {
        margin-bottom: 10px;
      }

      tr {
        border-bottom: 1px solid $g__outline_color;

        &:first-of-type {
          border-top: 1px solid $g__outline_color;
        }

        @media (max-width: 767px) {
          display: block;
        }

        td:first-of-type {
          color: $g__text_color_secondary;
          padding: 20px 0;

          @media (max-width: 767px) {
            padding-top: 10px;
            padding-bottom: 5px;
          }
        }

        td {
          font-size: 16px;
          line-height: 1.25;

          @media (max-width: 767px) {
            display: block;
          }
        }

        td:last-of-type {
          text-align: right;
          padding: 20px 0;

          @media (max-width: 767px) {
            text-align: left;
            padding-bottom: 10px;
            padding-top: 0;
          }
        }
      }
    }
  }

  &__img {
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 493px;
    width: 40%;
    max-height: 307px;

    @media (max-width: 767px) {
      max-height: none;
      width: 100%;
      max-width: none;
      height: 208px;
      //padding: 57px;

      & img {
        object-fit: cover;
      }
    }
  }
}
