.title-control {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #152438;
  margin-bottom: 22px;
  position: relative;
  width: fit-content;

  @media (max-width: 500px){
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  &--warningTitle {
    span{
      position: relative;
      left: 30px;
    }

    span::after{
      width: 24px;
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: 100%;
      height: 32px;
      background-image: url("/assets/images/warning.png");
      top: 3px;
      right: 0;
    }
  }

  &--formColumns {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #929FAB;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &--headerTitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FF9330;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &--footerTitle {
    font-size: 18px;
    line-height: 24px;
    color: #152438;
    font-weight: bold;
    margin-bottom: 10px;
  }

}
