@import "../ipid/app.style";
// у ipid-pro такие же стили как ipid

.info-plate__img {
  width: 148px !important;
  height: auto;
}

.add-object img{
  @media (max-width: 767px){
    width: 148px !important;
  }
}

app-corp-search {
  .section-position__exp,
  .section-position__expert {
    background: #FFFFFF !important;

    @media(max-width: 767px) {
      .section-position__exp,
      .section-position__expert {
        background: $expert__background !important;
      }
    }
  }
}

.search_header,
.ipid-main {
  //background: #F7F8FB !important;
}
