@import 'projects/themes/1c-start/variables';

form {
  background: #f7f8fb;
}


.section-position {
  background: #F2F4F8;
  @media (max-width: 1000px) {
    background: #EBEDF2;
  }

  &--bg {
    background: #f7f8fb;
    border-top: 1px solid #CBCFD6;
    @media (max-width: 1000px) {
      border-top: none;
      background: #f7f8fb;
    }
  }

  &--main {
    position: relative;

    @media (max-width: 1050px) {
      z-index: 1000;
    }
  }
}

.search__label {
  white-space: nowrap;
}

.control__btn span {
  color: #152438;

}

.data {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px;
}

.search__wrapper {
  width: 100%;
}

.search {
  padding: 20px 10px;

  &__input {
    max-width: 304px;
    @media (max-width: 1050px) {
      width: 100%;
      max-width: none;
      margin-right: 0;
    }
  }

  @media(max-width: 1050px) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1000;
    top: 47px;
    position: fixed;
    flex-direction: column;
    background: #EBEDF2;
    left: 0;
    padding: 20px;
    right: 0;
  }

  &__wrapper {
    @media (max-width: 1050px) {
      gap: 10px;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
}

.search__label--date {
  padding-left: 30px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/images/calendar.svg");
    width: 20px;
    height: 22px;
    top: -3px;
    left: 0;
  }
}

.search::before {
  left: 26px;
  @media (max-width: 1050px) {
    left: 37px;
  }
}

.search__btn-block {
  padding: 15px;
  max-height: 50px;
}

.overlay--search {
  display: none;
  @media (max-width: 1050px) {
    display: block;
  }
}

.control {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;

  @media (max-width: 768px) {
    width: 100%;
  }

  &__mobile {
    top: 30px;

    p {
      top: 0;
    }

    &--active {
      top: 0;
      @media (max-width: 1050px) {
        p {
          top: 0;
          border: none;
          font-size: 16px;
          line-height: 20px;
          margin: 0;
          text-transform: none;
          padding: 0;
          font-weight: bold;

          &::before {
            display: none;
          }
        }
      }
    }

    @media (max-width: 1050px) {
      display: block;
    }

  }

  &__btn {
    background: #F2F4F8;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-grow: 1;
    padding: 20px;
    color: #152438;
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 40px;
    }

    @media (max-width: 1000px) {
      padding: 10px;
      background: #F7F8FB;
      border: 1px solid rgba(21, 36, 56, 0.15);
      border-radius: 5px;
      margin-bottom: 30px;
      flex-wrap: wrap;
      justify-content: space-between;
      box-shadow: none;
      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    &:hover {
      opacity: 1;
    }

    &--has {
      color: white;
    }

    &--active {
      background: #F7F8FB;
      border: 1px solid #CBCFD6;
      border-bottom-color: #F7F8FB;
      position: relative;
      z-index: 3;

      @media (max-width: 1000px) {
        background: #FFFFFF;
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
    }

  }

  &__count {
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 25px;
    line-height: 40px;
    @media (max-width: 1000px) {
      left: auto;
      right: auto;
      bottom: auto;
      top: auto;
      font-size: 20px;
      line-height: 28px;
      position: relative;

    }

    &--critical {
      color: #FF889B;
    }

    &--high {
      color: #FFB36D;
    }

    &--possible {
      color: #FCD770;
    }

    &--recommendation {
      color: #A7E889;
    }
  }
}

.container--header {
  padding-top: 40px;
  padding-bottom: 30px;

  h1 {
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 0;
  }
}

.container {
  &--bg {
    background: #f7f8fb;
    padding: 20px 0;

    @media (max-width: 1050px) {
      padding: 90px 20px 30px;
    }
  }
}

.table-corp {
  display: grid;
  width: 99.5%;
  margin: auto;

  &__mobile {
    display: none;
    @media (max-width: 1200px) {
      display: block;
      margin-right: 30px;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 5px;
      color: #929FAB;
    }
    @media (max-width: 700px) {
      font-size: 13px;
      line-height: 18px;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    button {
      background: #FFFFFF;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      border-radius: 5px;
      padding: 12px;
      color: #00AFEC;
      font-size: 16px;
      line-height: 20px;
      font-family: 'Roboto', sans-serif;
    }

    @media (max-width: 700px) {
      margin: 10px 0 0;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: .85fr 1.15fr 1fr .75fr 1.35fr;

    p {
      font-size: 13px;
      line-height: 18px;
      color: #929FAB;
      padding: 20px 10px 20px 0;
      margin-bottom: 0;
      white-space: nowrap;
    }

    &--reports {
      grid-template-columns: 0.6fr 1fr .8fr 1.25fr;
    }

    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1.05fr 0.78fr 0.4fr 210px;
    background: #FFFFFF;
    grid-template-areas: "date-name company search-type results reports choose";
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;

    @media (max-width: 1200px) {
      grid-template-columns: auto auto auto auto;
      grid-template-areas: "date-name date-name date-name date-name"
      "company search-type results reports"
      "choose choose choose choose";
      max-height: none;
    }

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    &--active {
      background: #F2FCFF;
      border: 1px solid #00AFEC;
    }


    &--reports {
      grid-template-columns: 0.6fr 1.1fr .9fr .6fr 210px;
      grid-template-areas: "date-name company search-type results choose";

      @media (max-width: 1200px) {
        grid-template-columns: auto auto auto;
        grid-template-areas: "date-name date-name date-name"
        "company search-type results"
        "choose choose choose";
        max-height: none;
      }

      @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
        padding: 10px;
      }
    }
  }

  &__date-name {
    padding-right: 20px;
    grid-area: date-name;
    @media (max-width: 1200px) {
      display: flex;
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
    }

    @media (max-width: 700px) {
      flex-direction: column;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;

      @media (max-width: 1200px) {
        margin-right: 20px;
      }

      @media (max-width: 700px) {
        font-size: 13px;
        margin-right: 0;
        line-height: 18px;
        margin-bottom: 5px;
      }
    }

    span {
      color: #9fabb5;
      margin-left: 5px;
    }

    h3 {
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 0;

      @media (max-width: 1200px) {
        font-size: 16px;
        line-height: 20px;
      }

      @media (max-width: 700px) {
        font-size: 13px;
        margin-right: 0;
        line-height: 18px;
        margin-bottom: 5px;
      }
    }
  }

  &__company {
    padding-right: 20px;
    grid-area: company;

    @media (max-width: 1200px) {
      padding-top: 10px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 5px;
    }
  }

  &__classes {
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  &__class-card {
    background: #F4F6FA;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;

    p {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 0;
    }
  }

  &__card-title {
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    margin-bottom: 2px;

    &--blue {
      color: #00AFEC;
    }

    &--red {
      color: #FF1037;
    }
  }

  &__search-type {
    padding-right: 20px;
    grid-area: search-type;

    @media (max-width: 1200px) {
      padding-top: 10px;
    }

    @media (max-width: 700px) {
      display: flex;
      justify-content: space-between;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;

      @media (max-width: 700px) {
        font-size: 13px;
        line-height: 18px;
      }
    }
  }

  &__results {
    padding-right: 20px;
    grid-area: results;

    @media (max-width: 1200px) {
      padding-top: 10px;
    }

    @media (max-width: 700px) {
      display: flex;
      justify-content: space-between;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 0;
      @media (max-width: 700px) {
        font-size: 13px;
        line-height: 18px;
      }
    }
  }

  &__reports {
    padding-right: 20px;
    grid-area: reports;

    @media (max-width: 1200px) {
      padding-top: 10px;
    }

    @media (max-width: 700px) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }

  &__report {
    font-size: 24px;
    line-height: 32px;
    color: $g__text_color_primary;
    margin-bottom: 0;

    @media (max-width: 700px) {
      font-size: 13px;
      line-height: 18px;
    }

    &--active {
      text-decoration-line: underline;
      color: #00AFEC;
      cursor: pointer;
    }
  }

  &__choose {
    grid-area: choose;

    div {
      white-space: nowrap;
      text-align: right;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      @media (max-width: 1200px) {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid rgba(21, 36, 56, 0.15);
      }

      @media (max-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }
    }

    p {
      margin-bottom: 0;
      margin-right: 5px;
      @media (max-width: 700px) {
        display: none;
      }
    }

    a {
      text-decoration-line: underline;
      color: #00AFEC;
      margin-right: 5px;
      @media (max-width: 700px) {
        margin-right: 0;
        border: 1px solid currentColor;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 12px;
        text-decoration-line: none;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
        font-size: 13px;
        line-height: 18px;
      }
    }

    span {
      color: #929fab;
      text-decoration-line: underline;
      @media (max-width: 700px) {
        margin-right: 0;
        border: 1px solid currentColor;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 12px;
        text-decoration-line: none;
        width: 100%;
        text-align: center;
        text-transform: capitalize;
        font-size: 13px;
        line-height: 18px;
      }
    }
  }
}

.section-position {
  background: #F2F4F8;
  @media (max-width: 1000px) {
    background: #EBEDF2;
  }

  &--bg {
    background: #f7f8fb;
    border-top: 1px solid #CBCFD6;
    @media (max-width: 1000px) {
      border-top: none;
      background: #f7f8fb;
    }
  }

  &--main {
    position: relative;
    z-index: 2;
    @media (max-width: 1000px) {
      z-index: 1000;
    }
  }
}


.container {
  &--bg {
    background: #f7f8fb;
    padding: 20px 0;

    @media (max-width: 1050px) {
      padding: 90px 20px 30px;
    }
  }
}


.container--header {
  padding-top: 40px;
  padding-bottom: 30px;

  h1 {
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 0;
  }
}

