@import 'variables';

.mktu-block {
  display: flex;
  flex-direction: column;
  margin-top: 33px;

  @media (max-width: 768px) {
    margin-top: 20px;
  }

  &__error {
    display: flex;
    width: 100%;
    background: rgba(255, 16, 55, 0.5);
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    p {
      margin-bottom: 0;
    }
  }

  h3 {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 22px;

    @media (max-width:768px ) {
      flex-direction: column;
    }

    p {
      flex-shrink: 0;
      margin-bottom: 0;
    }
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    display: flex;
    flex-direction: column;

    &--gray {
      color: $g__text_color_secondary;
      width: 130px;
      margin-right: 15px;

      @media (max-width:768px ) {
        margin-right: 10px;
      }
    }
  }

  &__block {
    display: flex;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__classes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -5px;
    position: relative;
  }

  &__class-item {
    margin-right: 5px;
    margin-bottom: 5px;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 4px 7px;
    min-width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;

    &:last-of-type {
      margin-right: 0;
    }

    @media (max-width:768px ) {
      width: 36px;
    }
    @media (min-width:768px ) {
      position: relative;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }


    &:hover {
      .prompt__hidden{
        bottom: 34px;
        z-index: 10;
        font-weight: normal;
        right: auto;
        width: max-content;
        display: block;
        max-width: 212px;

        @media (max-width:768px ) {
          left: 0;
        }
      }
    }

  }

  &__img {
    flex-shrink: 0;
    margin-right: 23px;
    background: $g__form_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 174px;
    height: 130px;

    & img {
      max-height: 100%;
    }

    @media (max-width: 768px) {
      width: 150px;
      height: 112px;
      margin-right: 10px;
    }
  }
}