.person-modal__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.person-modal__blocks-wrapper{
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 700px;
}

.person-modal__wrapper {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  max-width: 770px;
  width: 100%;
  height: auto;
  max-height: 85%;
  overflow-y: auto;
  z-index: 1001;
}

.person-modal__block{
  max-width: 700px;
  padding: 50px 50px 0;
  display: flex;
  width: 100%;
  background: #F7F8FB;
  position: relative;

  &--white{
    background-color: white;
    padding: 45px 50px 50px;
    gap: 38px;
  }
}
.person-modal__inner-block{
  display: flex;
  flex-direction: column;

  &:first-of-type{
    width: 63%;
  }

  &--justify{
    justify-content: space-between;
    padding-bottom: 40px;
  }

  &--width{
    width: 46%;
    position: relative;

    &:first-of-type{
      width: 46%;
    }
  }

  a{
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #00AFEC;

    &:not(:last-of-type){
      margin-bottom: 20px;
    }
  }
}

.person-modal__line::after {
  position: absolute;
  content: "";
  width: 2px;
  background: #E0E3E8;
  height: 100%;
  top: 0;
  right: -20px;
}

.person-modal__header{
  padding-top: 25px;
  h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    color: #152438;
    margin-bottom: 10px;
  }

  p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #152438;
  }
}

.person-modal__results{
  display: flex;
  flex-direction: column;

  span{
    font-size: 18px;
    line-height: 24px;
    color: #929FAB;
    font-family: 'Roboto', sans-serif;
    &:not(:last-of-type){
      margin-bottom: 20px;
    }
  }
}

.person-modal__header-mini{
  display: flex;
  flex-direction:column;
  position: relative;


  &--row{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }

  h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #929FAB;
    margin-right: 10px;
  }

  span{
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #00AFEC;
    position: relative;
    padding-right: 12px;

    &:after{
      width: 8px;
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      background-size: 100%;
      height: 100%;
      background-image: url(/assets/icons/blue-arr.svg);
      right: 0;
      top: 1px;
    }
  }
}


.person-modal__img{
  display: flex;
  align-items: flex-start;
  width: 191px;
  margin-top: -15px;

img{
  width: 100%;
}
}

.person-modal__close{
  width: 46px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 46px;
  background-image: url('/assets/images/x.svg');
  right: -67px;
  top: 0;
}
