<div class="person-modal">
  <div class="person-modal__wrapper">
    <div class="person-modal__blocks-wrapper">
      <div class="person-modal__block">
        <span class="person-modal__close" (click)="closeModal()"></span>
        <div class="person-modal__inner-block person-modal__inner-block--justify">
          <div class="person-modal__header">
            <h1>Екатерина Чилимова</h1>
            <p>Руководитель проектов</p>
          </div>
          <div class="person-modal__results">
            <span>Выиграла 178 арбитражных дел</span>
            <span>Окончила Высшую Школу Экономики, диплом с отличием</span>
          </div>
        </div>
        <div class="person-modal__img">
          <img src="/assets/images/person2.png">
        </div>
      </div>
      <div class="person-modal__block person-modal__block--white">
        <div class="person-modal__inner-block person-modal__inner-block--width person-modal__line">
          <div class="person-modal__header-mini person-modal__header-mini--row">
            <h2>Сложные кейсы</h2>
            <span>Все</span>
          </div>
          <a>Взыскали 140 000 000 рублей с госкорпорации</a>
          <a>В Верховном суде выиграли у Роскосмоса иск на 80 000 000 рублей</a>
        </div>
        <div class="person-modal__inner-block person-modal__inner-block--width">
          <div class="person-modal__header-mini person-modal__header-mini--row">
            <h2>Публикации</h2>
            <span>Все</span>
          </div>
          <a>Как взыскать долг без документов</a>
          <a>Как защитить себя от нечестного контрагента?</a>
        </div>
      </div>
    </div>
  </div>
  <div (click)="closeModal()" class="person-modal__overlay"></div>
</div>
