::ng-deep .form-columns-control {
  display: flex;
  justify-content: space-between;
  //margin-bottom: 50px;

  @media (max-width: 500px){
    flex-direction: column;
    gap: 20px;
  }

  &>&--column {
    flex-direction: column;
    display: flex;
    min-width: 50%;
    flex-grow: 1;
    position:relative;

    &:not(:first-of-type){
      padding-left: 50px;
      @media (max-width: 790px){
        padding-left:0;
      }
    }

    &:first-of-type {
      padding-right: 50px;
    }

    &:first-of-type:after{
      position: absolute;
      content: '';
      width: 2px;
      background: #E0E3E8;
      height: 100%;
      top: 0;
      right: 0;

      @media (max-width: 790px){
        display: none;
      }
    }

    &--no-line:first-of-type:after{
      display: none;
    }

  }
}
