.open-case {
  position: relative;
  height: 100%;
  min-height: 123px;
  padding: 12px 16px 30px;
  background: #FFFFFF;
  box-shadow: 0 6px 16px rgba(38, 55, 70, 0.08);
  border-radius: 6px;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    width: 24px;
    height: 24px;
  }

  &.green {
    &::before {
      background-image: url("../../../../assets/open/status-green.svg");
    }

    & .open-case__status {
      color: #3CBB75;
    }

    & .open-case__progress-bar {
      background: #3CBB75;
    }
  }

  &.blue {
    &::before {
      background-image: url("../../../../assets/open/status-blue.svg");
    }

    & .open-case__status {
      color: #00BBE4;
    }

    & .open-case__progress-bar {
      background: #00BBE4;
    }
  }

  &.red {
    &::before {
      background-image: url("../../../../assets/open/status-red.svg");
    }

    & .open-case__status {
      color: #FF5D5D;
    }

    & .open-case__progress-bar {
      background: #FF5D5D;
    }
  }

  &.yellow {
    &::before {
      background-image: url("../../../../assets/open/status-yellow.svg");
    }

    & .open-case__status {
      color: #C08100;
    }

    & .open-case__progress-bar {
      background: #F6BB42;
    }
  }

  &.grey {
    &::before {
      background-image: url("../../../../assets/open/status-grey.svg");
    }

    & .open-case__status {
      color: #818A97;
    }

    & .open-case__progress-bar {
      background: #E2E9EE;
    }
  }
}

.open-case__category {
  padding-right: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
  color: #263C4E;
}

.open-case__status {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
}

.open-case__name {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #1A1B1C;
  font-weight: 400;
}

.open-case__progress {
  position: relative;
  margin-top: 5px;
  width: 100%;
  height: 3px;
  background: #E2E9EE;
  border-radius: 4px;
}

.open-case__progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  border-radius: 4px;
}

.open-case__progress-percent {
  position: absolute;
  top: 9px;
  left: 90%;
  font-size: 12px;
  line-height: 16px;
  color: #9BA4B1;
}
