* {
  font-family: 'Whitney', sans-serif;
  color: #000000;
}

.open-index {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1144px;

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 40px;
  }

  &__header {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
  }

  &__back {
    width: 55px;
    display: flex;
    align-items: center;
  }

  &__blocks-wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 32px 5px 32px 32px;
    max-width: 528px;

    @media (max-width: 1200px) {
      margin-right: auto;
      margin-left: auto;
      padding: 20px 5px 20px 20px;

      &:first-child {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 16px;

    @media (max-width: 768px) {
      font-size: 19px;
      line-height: 25px;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #929FAB;
    margin-bottom: 16px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 32px;
    width: 96px;
    height: 96px;
    background: #F7F8F9;
    border-radius: 48px;
    position: relative;

    @media (max-width: 768px) {
      width: 76px;
      height: 76px;
      margin: 0 auto 16px;

      svg {
        max-width: 30px;
      }
    }
  }

  &__buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    border: 1px solid #9BA4B1;
    box-sizing: border-box;
    border-radius: 24px;
    background: none;
    font-size: 16px;
    line-height: 20px;
    color: #1A1B1C;
    padding: 13px 15px;
    margin-top: 16px;
    margin-right: 16px;

    @media (max-width: 768px) {
      padding: 8px 10px;
      font-size: 13px;
      line-height: 16px;
    }

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      background: #F7F8F9;
      border: 1px solid #E2E9EE;
      color: #9BA4B1;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  &__link {
    font-size: 16px;
    line-height: 20px;

    &--dashboard {
      position: absolute;
      bottom: 15px;
      right: 23px;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      @media(max-width: 768px) {
        position: static;
        margin-right: 23px;
        margin-top: 15px;
      }

      &::before {
        content: "";
        flex-shrink: 0;
        display: block;
        width: 14px;
        height: 14px;
        background-image: url("../../../../assets/open/arrow-back.svg");
        transform: rotate(180deg);
        background-size: 14px 14px;
      }
    }

    & span {
      padding-right: 5px;
      color: #00BBE4;
      text-decoration: underline;
    }
  }
}
