@import 'variables';

.attention {
  p{
    margin-bottom: 0;
  }
  margin: 0 0 20px;

}

.step-block{
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;

  h1{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: $g__text_color_primary;
    margin-bottom: 26px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 20px;
    }
  }
}

.hidden{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: $g__text_color_primary;
    margin-bottom: 30px;
    position: relative;
    width: fit-content;

    span::after{
      width: 24px;
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: 100%;
      height: 32px;
      background-image: url("/assets/images/warning.png");
      top: 3px;
      right: -30px;
    }
  }

  &--margin h3{
    margin-bottom: 22px;
  }

  &__blocks-wrapper{
    display: flex;
    justify-content: space-between;

    &--column{
      flex-direction: column;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__blocks-table-wrapper{
    background: $g__attention_background;
    border: 1px solid $g__warning_color;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 20px;
    line-height: 133%;
    margin-bottom: 30px;

    h4{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      color: $g__warning_color;
      margin-bottom: 5px;
    }

    p{
      font-size: 18px;
      line-height: 24px;
      color: $g__text_color_primary;
    }
  }

  &__blocks-after-table{
    display: flex;
    width: 100%;

  }

  &__input-text-wrapper{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  &__block{
    display: flex;
    flex-direction: column;
    width: 50%;
    position:relative;

    &:not(:first-of-type){
      padding-left: 50px;
    }

    &:first-of-type:after{
      position: absolute;
      content: '';
      width: 2px;
      background: #E0E3E8;
      height: 100%;
      top: 0;
      right: 0;
    }

    &--no-line:first-of-type:after{
      display: none;
    }

    &--separating{
      background: #F7F8FB;
      border: 1px solid rgba(21, 36, 56, 0.1);
      box-sizing: border-box;
      border-radius: 5px;
      padding: 42px 50px;
      width: 100%;

      h4{
        font-size: 24px;
        line-height: 32px;
        color: $g__text_color_primary;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        letter-spacing: normal;
        text-transform: none;
      }

      &:after{
        display: none;
      }

    }

    p{
      font-size: 16px;
      line-height: 20px;
      color: $g__text_color_primary;
      margin-bottom: 17px;
    }
  }

  &__file-wrapper{
    background: #FFFFFF;
    border: 1px solid #E9ECF2;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    width: 384px;

    span{
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: $g__text_color_primary;
    }

    a{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $g__text_color_secondary;
    }

  }

  &__btn-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    &--position{
      justify-content: space-between;
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min-content;
    max-width: 95%;

    li {
      display: flex;
      align-items: flex-start;
      font-size: 16px;
      line-height: 20px;
      color: $g__text_color_primary;
      margin-bottom: 14px;
      padding-left: 0;
      position: relative;

      @media (max-width: 768px) {
        padding-left: 0;
        margin-bottom: 10px;
      }

      & p {
        margin-bottom: 0;
      }

      & .hidden__list-svg {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        width: 24px;
        height: 24px;
        background-color: $g__mark_background;
        border-radius: 50%;

        @media (max-width: 768px) {
          width: 18px;
          height: 18px;
          margin-right: 9px;
        }

        & svg {
          width: 12px;
          height: 12px;
          stroke: $g__mark_icon_color;
        }
      }
    }
  }
}

.hidden .hidden__short {
  margin-bottom: 20px;
}

.hidden .hidden__subtitle {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $g__text_color_secondary;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}

.hidden .hidden__chat{
  font-size: 16px;
  line-height: 20px;
  color: $g__link_color;
  padding-left: 28px;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 2;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/images/telegram.svg");
    left: 3px;
    top: 0;
  }

}

.hidden .hidden__text{
  width: 93%;
}

.hidden .hidden__choice{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #162941;
  padding: 16px 20px;
  background: #F7F8FB;
  border: 1px solid #72CA49;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  display: flex;
  width: 100%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 2;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/images/icon-circle-check.svg");
    right: 10px;
    top: 12px;
  }

  p{
    margin-bottom: 0;
  }
}


.add-file{
  display: flex;
  border: 1px solid $g__link_color;
  box-sizing: border-box;
  border-radius: 5px;
  flex-direction: column;
  width: 100%;
  padding: 18px 18px 18px 68px;
  position: relative;
  margin-bottom: 16px;
  cursor: pointer;

  &:hover{
    border: 1px solid $g__text_color_secondary;
  }

  &__btns-block{
    display: flex;
    justify-content: space-between;
  }

  &__special-btn{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $g__btn_attr_text_color;
    border: 1px solid $g__btn_attr_border_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px 50px 15px 20px;
    position: relative;

    >.prompt__question{
      font-weight: normal;

      p{
        margin-bottom: 0;
        font-size: 13px;
        line-height: 18px;
        width: 386px;
        text-align: left;
      }
    }
  }

  &__textarea{
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;

    &::placeholder{
      font-size: 16px;
      line-height: 19px;
      font-family: inherit;
      color: $g__text_color_secondary;
    }

    @media (max-width: 768px) {
      margin-bottom: 20px;
      height: 200px;
    }
  }

  &__label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $g__link_color;
    text-decoration-line: underline;
    margin-bottom: 5px;
    padding-right: 20px;

    &:hover{
      border: none;
    }
  }

  input{
    position: absolute;
    opacity: 0;
    &:hover{
      border: none;
    }
  }

  span{
    font-size: 16px;
    line-height: 20px;
    color: $g__text_color_secondary;
    &:hover{
      border: none;
    }
  }
}

.add-file__img {
  position: absolute;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 18px;
  top: 23px;

  & svg {
    fill: $g__link_color;
  }
}

.add-file .prompt{

  &__question{
    color: $g__link_color;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 13px;
    line-height: 16px;

    &:hover{
      border: 1px solid $g__link_color;
    }
  }

  &__hidden{
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    position: absolute;
    top: -38px;
    right: -12px;
    z-index: 3;
    display: none;

    p {
      font-size: 13px;
      line-height: 15px;
      color: $g__text_color_primary;
    }
  }
}

.add-file .prompt__question:hover .prompt__hidden{
  display: flex;
  height: fit-content;

  p{
    margin-bottom: 0;
  }
}

.prompt__question:hover .prompt__hidden {
  max-width: 20vw;
  width: max-content;
  min-width: fit-content;
}

.prompt__list{
  li{
    padding-left: 20px;
    position: relative;
    &::before{
      position: absolute;
      left: 5px;
      content: "•";
      top: 2px;
    }
  }
}


.hidden__block{
  justify-content: space-between;

  &:not(:first-of-type){
    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 20px;
    position: unset;

    &:last-of-type {
      margin-bottom: 0;
    }

    p{
      color: $g__text_color_secondary;
      margin-bottom: 10px;
    }
  }
}

.add-file__special-btn{
  @media (max-width: 768px) {
    display: none;
  }
}

.add-file__btns-block{
  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 60px;

    button{
      width: 100%;
    }
  }
  &--mobile{
    @media (max-width: 768px) {
      margin: 0;

      button{
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

.add-file-form{
  gap: normal;
  @media (max-width: 768px) {
    gap: normal;
  }
}

.add-file{
  @media (max-width: 768px) {
    padding: 15px 15px 15px 68px;

    &::after{
      width: 31px;
      height: 31px;
      top: 19px;
      left: 17px;
    }
  }
}


.btn-back{
  margin-bottom:12px;
  &::after {
    top: -4px;
  }

}
.edit-doc{
  h1{
    text-align: left;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: $g__text_color_primary;
    margin-bottom:24px;
    @media (max-width: 500px) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 14px;
    }

  }

  &__form input[type=file]{
    opacity: 0;
    width: 0;
    position: absolute;
  }

  &__form label{
    border: 1px solid $g__link_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px 10px 12px 44px;
    color: $g__link_color;
    position: relative;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;

    @media (max-width: 500px) {
      font-size: 16px;
      line-height: 19px;
      padding: 13px 13px 13px 60px;
      margin-bottom: 15px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
    }

    & svg {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 10px;
      top: 10px;

      & circle {
        fill: $g__link_color;
      }

      @media (max-width: 500px) {
        left: 60px;
        top: 10px;
      }
    }
  }

  &__form p{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $g__text_color_primary;
    margin-bottom: 13px;

    @media (max-width: 500px) {

      font-size: 16px;
      line-height: 20px;
    }
  }

  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  &__form input[type=text]{
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 19px;
    color: #162941;
    width: 100%;
    font-family: 'Roboto',sans-serif;
    @media (max-width: 500px) {
      padding: 12px 15px;
    }

    placeholder{
      opacity: 0.5;
    }
  }

}

.add-file-form__file span {
  margin-left: 32px;
  cursor: pointer;
}

.add-file-form__file {
  background: #FFFFFF;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;

  &--gray{
    color: $g__text_color_secondary;
    margin-left: 0 !important;
    &::after{
      display: none;
    }
  }

  p{
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: flex;
  }

  &:not(:last-of-type){
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {

    &:not(:last-of-type){
      margin-bottom: 5px;
    }
  }

  &--black{
    margin-bottom: 10px;
    p{
      color: $g__text_color_primary;
    }

    @media (max-width: 768px) {
      &:not(:last-of-type){
        margin-bottom: 10px;
      }
      margin-bottom: 10px;
    }
  }

}

.add-file-form__file span::after {
  width: 15px;
  height: 15px;
}

.modal-universal__main-wrapper{
  width: 580px;
  max-width: none;

  @media (max-width: 768px) {
    width: 442px;
    padding: 27px 55px;
  }

  @media (max-width: 500px) {
    width: 355px;
    padding: 20px 10px;
    margin: auto;
  }
}

.modal-universal__close{
  right: 15px;
  top: 17px;
  background-image: url("/assets/images/close-icon.svg");
  width: 18px;
  height: 18px;
  @media (max-width: 500px) {
    right: 17px;
    top: 27px;
  }
}
.modal-universal__wrapper {
  left: 50%;
  max-width: none;
  width: fit-content;

  @media (max-width: 500px) {
    width: 100vw;
    transform: none;
    top: 20%;
    left: auto;
    right: auto;
  }

}

.hidden__block:first-of-type:after {
  @media (max-width: 768px) {
    display: none;
  }
}

.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden__list li:after {
  display: none;
}

.prompt__hidden{
  color: #152438 !important;
}

.file-error {
  color: $g__alert_color !important;
  padding-bottom: 10px;
  margin-top: -5px;
  font-size: 13px !important;
  line-height: 18px !important;
}
