:host {
  width: 100%;
}

.search__input {
  @media (max-width: 793px) {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
    padding-left: 30px;
  }
}

.search__input-wrap {
  position: relative;
  @media (max-width: 793px) {
    margin-right: 0;
  }
}

.search__input_without-icon {
  padding: 15px;

  @media (max-width: 793px) {
    padding-left: 15px;
  }
}

.search__input-icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;

  @media (max-width: 793px) {
    width: 15px;
    height: 15px;
    left: 10px;
    top: 42%;
  }
}

.legal-name {
  position: absolute;
  color: #AAAAAA;
  font-size: 15px;
  top: 16px;
  left: 130px;
  z-index: 10;
  white-space: nowrap;
}
