.search-result-list__card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  height: 214px;
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(21, 36, 56, 0.15);
  border-radius: 5px;
  object-fit: contain;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  span {
    width: fit-content;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--domain span {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    border: 2px solid #DFE2E8;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 6px 20px;
  }

  & img {
    max-width: 100%;
    width: 181px;
    height: 100%;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    height: 120px;
  }
}

.search-result-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  max-width: 295px;
  height: 214px;
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(21, 36, 56, 0.15);
  border-radius: 5px;
  object-fit: contain;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  span {
    width: fit-content;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--domain span {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    border: 2px solid #DFE2E8;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 6px 20px;
  }

  & img {
    max-width: 100%;
    width: 181px;
    height: 100%;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    height: 120px;
    padding: 20px;
  }
}
