<div class="search-result-list__item {{className(isDomain)}}">
  <ng-container *ngIf="item.img.length > 0; else text">
    <img [src]="item.img" alt="">
  </ng-container>
  <ng-template #text>
    <span>{{item.text}}</span>
  </ng-template>
</div>
