@import 'colors';

.search {

  &__tooltip {
    position: absolute;
    display: none;
    z-index: 600;
    min-width: 80px;
    bottom: 30px;
    padding: 15px;
    color: #32404D;
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    width: max-content;
    max-width: 300px;
    left: -40px;
  }

  &__mktu-class-wrapper {
    display: inline-block;
    position: relative;
    margin: 0 2px 2px 0;

    &:hover {
      .search__tooltip {
        display: block;
      }
    }
  }

  &__mktu-class {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    padding: 4px 9px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
    color: #FFFFFF;
    background: $mktu_background;

    &:hover {
      border: $border_mktu;
    }

    &--active {
      color: $selected_mktu;
      background: $selected_mktu_background;
    }
  }
}
