<section class="cases-container" *ngIf="!state.isLoadingPage">

  <app-cases-filters
    *ngIf="!state.isLoadingPage"
    [state]="state"
    [filterValue]="filterValue"
    [layout]="layout"
    (changeFilter)="applyFilter($event)"
  >
  </app-cases-filters>

  <app-list
    [dataSource]="state.cases"
    [isLoading]="state.isLoadingCases"
    [totalCount]="state.filteredCount"
    [currentLayout]="layout"
    [itemsPerPage]="state.limit"
    [currentPage]="currentPage"
    (changePage)="onChangePage($event)"
  >
    <ng-template #header>
      <div
           class="header-template grid-template"
           [style.grid-template-columns]="listLayout"
      >
        <div *ngIf="layout !== 'sm'" class="grid-template__item">
          Объект
        </div>
        <div *ngIf="layout !== 'sm'" class="grid-template__item">
          Тип работ
        </div>
        <div *ngIf="layout !== 'sm'" class="grid-template__item">
          Заказчик / номер
        </div>
        <div *ngIf="layout !== 'sm'" class="grid-template__item">
          Статус
        </div>
        <div class="grid-template__item grid-template__item_float-right">
          <span class="link" (click)="checkAll()">{{isAllChecked ? 'Снять все' : 'Выбрать все'}}</span>
        </div>
      </div>
    </ng-template>
    <ng-template #item let-item>
      <app-case-list-item
        [checked]="(isAllChecked && item.toReport) || checked.includes(item.ID)"
        [item]="item"
        (check)="onCheck($event)"
        (detail)="onDetail($event)"
        [listLayout]="listLayout"
        [currentLayout]="layout"
      ></app-case-list-item>
    </ng-template>
  </app-list>

  <div class="sections container download-report-container">
    <div class="download-report" (click)="downloadReport()" [class.disabled-download]="!this.isAllChecked && !this.checked.length">
      <img src="assets/icons/download_without-border.svg" alt="скачать">
      Скачать отчет по выбранным делам
    </div>
  </div>
</section>
<div *ngIf="state.isLoadingPage" class="loading-spinner">
  <app-ui-spinner
  ></app-ui-spinner>
</div>

