@import 'variables';

.container-top {
  padding-top: 40px;

  h1 {
    font-weight: normal;
    font-size: 25px;
    line-height: 1.28;
    margin-bottom: 20px;
  }
}


.download-report-container {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 793px) {
    justify-content: center;
  }
  .download-report {
    color: #00AFEC;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 15px;
    width: max-content;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;


    &:hover {
      text-decoration: underline;
    }
  }
  .disabled-download {
    color: $g__link_color;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }

}

.cases-container {
  @media (min-width: 793px) {
    min-height: 700px;
  }
}
.loading-spinner {
  margin-top: 200px;
  height: 200px;
}
