<section class="confidants">
  <h3 class="confidants__caption container">Доверенности</h3>
  <div class="confidants__table-wrap">
    <div class="container">
      <table class="confidants__table">
        <tr>
          <th>Название файла</th>
          <th>Статус</th>
          <th>Дата загрузки</th>
          <th>Действует от</th>
          <th>Действительна до</th>
        <tr *ngFor="let confidant of confidants">
          <td class="confidants__name-wrap">
            <a href="" class="confidants__name">{{ confidant?.name }}</a>
          </td>
          <td class="confidants__status-wrap">
            <p [ngClass]="{
                        'check': confidant?.status === 'На проверке',
                        'valid': confidant?.status === 'Действует',
                        'invalid': confidant?.status === 'Не действует'}"
               class="confidants__status">
              {{ confidant?.status }}
            </p>
          </td>
          <td class="confidants__date-wrap" data-label="Дата загрузки">{{ confidant?.date }}</td>
          <td class="confidants__from-wrap" data-label="Действует от">{{ confidant?.from }}</td>
          <td class="confidants__to-wrap" data-label="Действительна до">{{ confidant?.to }}</td>
        </tr>
      </table>
    </div>
  </div>
</section>
