@import "scss/_variables";

// Variables for current brand

// Основное
$links-color: $highlighted-color; // Ссылки – цвет ссылок
$error-color: #FF1037; // Ошибки валидации текст бордеры итд

// Навигационное меню
$nav-background: $white; // Фон – цвет фона навигационного меню
$nav-link: #152438; // Ссылки – цвет ссылок
$nav-link-highlight: #FF1037; // Подчеркивание – цвет подчеркивания
$nav-button-request-background: #00AFEC; // Кнопка "Подать заявку" – цвет заливки
$nav-button-request-text: $white; // Кнопка "Подать заявку" – цвет текста

:root {
  // Основной контент
  --page-header-background: #F2F4F8; // Фон 1 – цвет фона шапки
  --page-background: #EBEDF2;; // Фон 2 – цвет фона для основного контента
  --page-link-color: #00AFEC; // Ссылки – цвет ссылок "Еще N дел" и т.п. и svg стрелочки

  // Дела
  --cases-tab-border: #D7D9DF; // Цвет бордера табов
  --cases-tab-background: #EBEDF2; // Фон табов
  --cases-tab-color: #152438; // Цвет текста табов
  --cases-active-tab-background: #FFFFFF; // Фон активного таба
  --cases-active-tab-color: #00AFEC; // Цвет текста активного таба
  --cases-question-btn-full-color: #307abd; // Фон кнопки и цвет текста "Задать вопрос"
  --cases-dont-active-task-background: #eff1f5; // Фон не активных дел
}

// Попап подачи заявки
$request-popup-item: $white; // Цвет фона кнопки
$request-popup-item-hover: $highlighted-color; // Цвет фона кнопки:hover
$request-popup-item-text: #152438; // Цвет текста кнопки
$request-popup-item-text-hover: #FFFFFF; // Цвет текста кнопки:hover
$request-popup-icon: $highlighted-color; // Цвет SVG иконки
$request-popup-icon-hover: $white; // Цвет SVG иконки:hover

// Кнопки - Авторизация / Регистрация
$auth-button-background: #00AFEC; // Цвет фона submit кнопок
$auth-button-color: #FFFFFF; // Цвет текста submit кнопок

// Подача заявки
$request-steps-background: #00AFEC; // Цвет заливки иконки текущего шага
$request-button-background: #00AFEC; // Фон кнопок далее на шагах
$request-button-color: #FFFFFF; // Цвет текста кнопок далее на шагах
$request-button-2step-loader-color: #FFFFFF; // Цвет текста, иконки и лоадера на submit кнопке на втором шаге
$request-pay-tab-background: #00AFEC; // Фон кнопки оплатить
$request-pay-tab-color: #FFFFFF; // Цвет текста кнопки оплатить

@import "scss/main"; // Подключение основных стилей

* {
  outline: 0;
}
