<div class="no-objects">
  <img src="/assets/images/nothing.svg" alt="nothing"/>
  <p>Нет объектов в портфеле</p>
  <button
    class="btn-blue btn-blue--add"
    [disabled]="disabled"
    id="emptyObjectsButton"
    (click)="openModal.emit()"
  >Добавить объект</button>
</div>