@import 'variables';

.no-objects {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 5px 0;

  img {
    margin-bottom: 22px;
    width: 62px;
  }

  p {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  @media (max-width: 793px) {
    p {
      font-size: 20px;
      line-height: 28px;
      color: $g__text_color_secondary;
      margin-bottom: 10px;
    }
    img {
      margin-bottom: 10px;
    }

  }
}