@import 'variables';

textarea {
  min-height: 45px;
}

.owner-form{
  display: flex;
  width: 100%;
  flex-direction: column;

  h1{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: $g__text_color_primary;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
    }

  }
}
.check{
  display: none;
}

.form-item__block {
  margin-bottom: 20px;

  @media (max-width: 768px) {
    margin-bottom: 18px;
  }
}

.form-item {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__input{
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 15px  20px;
    justify-content: space-between;

    @media (max-width: 768px) {
      margin-bottom: 7px;
    }

    p{
      z-index: 2;
      margin-bottom: 0;
      position: relative;
      margin-right:auto;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 15px;
    }

    &:last-of-type{
      padding: 15px 20px;

      @media (max-width: 768px) {
        padding: 15px;
      }
    }

    &:hover{
      cursor: pointer;
    }

    input{
      height: 100%;
      position: absolute;
      opacity: 0;
      display: flex;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 5;

      &:checked~ .form-item__placeholder-wrapper {
        padding-right: 45px;

        .prompt__question{
          right: 48px;
        }

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          border: 1px solid $g__success_color;
          box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
          left: 0;
          top: 0;
          border-radius: 5px;
          z-index: 2;
        }

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: $g__success_background;
          left: 0;
          top: 0;
          z-index: 1;
        }
      }
      &:checked ~ .check{
        display: block;
        margin: 0 -5px 0 0;
        width: 20px;
        height: 20px;
        z-index: 2;
        opacity: 1;

        & svg {
          fill: $g__success_color;
        }

        @media (max-width: 768px) {
          position: absolute;
          right: 15px;
          top: 13px;
        }
      }
      &:checked~ .form-item__placeholder-wrapper--no-padding {
        padding-right: 20px;
      }

    }

  }

  &__add{
    font-size: 13px;
    line-height: 18px;
    color: $g__link_color;
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;

    @media (max-width: 768px) {
      background: #FFFFFF;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;
      text-decoration: none;
      padding: 12px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &__subtitle{
    font-size: 16px;
    line-height: 20px;
    color: $g__text_color_secondary;
    margin-bottom: 10px;
    position: relative;

    @media (max-width: 768px) {
      display: flex;
      span{
        margin-left: 5px;
      }
    }
    .prompt{
      z-index: auto;
    }

    .prompt__question{
      top: 0;
      @media (max-width: 768px) {
        margin-left: 10px;
      }
    }
  }


  &__wrapper{
    display: flex;
    flex-direction: column;
  }


  &__placeholder{
    text-align: right;
    margin-bottom: 0;
    color: $g__text_color_secondary;
    margin-left: 10px;

    @media (max-width: 768px) {
      text-align: left;
      margin-left: 0;
      font-size: 13px;
      line-height: 18px;
      margin-top: 12px;
      position: relative;
      margin-right: 3px;
    }
  }


  &__text{
    padding:0;
    margin-bottom: 5px;

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }

    &:last-of-type{
      padding:0;
    }
    input, textarea{
      font-size: 16px;
      line-height: 19px;
      color: #162941;
      justify-content: space-between;
      display: flex;
      width: 100%;
      opacity: 1;
      position: relative;
      padding: 15px 20px;
      border: none;
      background: none;
      height: fit-content;
      overflow: hidden;
      font-family: 'Roboto', sans-serif;
      outline: none;
      resize: none;

      @media (max-width: 768px) {
        padding: 15px 14px;
        font-size: 14px;
      }

      &::placeholder{
        color: $g__text_color_secondary;
        font-family: 'Roboto', sans-serif;
        white-space: nowrap;
      }

    }

    &--padding{
      textarea{
        padding: 15px 40px 15px 20px;
        @media (max-width: 768px) {
          padding: 15px 40px 15px 14px;
        }
      }
    }
  }

  &__btn-block{
    display: flex;
    justify-content: space-between;

    &--back{
      font-size: 18px;
      line-height: 21px;
      color: #79818B;
      padding-left: 30px;
      border: none;
      background: none;
      position: relative;
      font-family: 'Roboto', sans-serif;

      &::after{
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 20px;
        height: 100%;
        background-image: url("/assets/images/icon-arrow-gray.svg");
        transform: rotate(180deg);
        left: 0;
        top: -40%;
      }

      @media (max-width: 768px) {
        background: #FFFFFF;
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-sizing: border-box;
        border-radius: 5px;
        padding: 12px;
        color: $g__link_color;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;

        &::after{
          display: none;
        }
      }
    }
  }
}

.prompt__hidden{
  top: 0;
  right: 20px;
  height: max-content;
  @media (max-width: 768px) {
    top: 0;
    right: auto;
    left: 20px;
    height: max-content;
  }
}

.prompt__question {
  right: 15px;
  top: 15px;
  z-index: 99;

  @media (max-width: 768px) {
    position: relative;
    left: 0;
    top: 9px;
    margin-right: 10px;

  }
}

.invalid input{
  border: 1px solid #FF1037 ;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
}
.not-valid-type {
  border: 1px solid #FF1037 ;
}
.form-card {
  position: inherit;
  border: 1px solid rgba(21, 36, 56, 0.15);
  &:hover {
    border: 1px solid $g__link_color;
  }
}
.legal-name-patentee {
  position: absolute;
  color: #AAAAAA;
  font-size: 16px;
  top: 13px;
  z-index: 10;
  cursor: auto;
}

.btn-blue {
  @media (max-width: 768px) {
    margin-bottom: 15px;
  }
}

.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.prompt__list{
  li{
    padding-left: 20px;
    position: relative;
    &::before{
      position: absolute;
      left: 5px;
      content: "•";
      top: 2px;
    }
  }
}

.prompt__question:hover .prompt__hidden {
  max-width: 33vw;
  width: max-content;
  min-width: fit-content;

  @media (max-width: 768px) {
    left: 0;
  }
}
.non-border {
  border: none;
}
.payer-check-loader {
  width: 30px;
  height: 30px;
  border-width: 4px;
  right: 20px;
  bottom: 15px;
  position: absolute
}

.error-text {
  color: red;
}
.error-payer {
  border: 1px solid red;
}

