@import 'variables';
@import "../ipid/app.style"; // Подключаем дефолтные стили ipid

@import "../shared/index-without-monitoring";

* {
  outline: 0;
}

.info-plate {
  .info-plate__img img {
    width: 178px;
    height: 67px;
  }
}
