@import 'colors';

* {
  font-family: 'Roboto', sans-serif;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}

.search__wrap {
  background: $mainColor;
  min-width: 375px;

}

.search__mktu-wrap {
  @media (max-width: 768px) {
    margin-left: -20px;
    margin-right: -20px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }
  }
}

.search {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px 20px 60px;
  color: #FFFFFF;
  background: $mainColor;
  width: auto;

  @media (max-width: 768px) {
    padding-bottom: 20px;
  }

  &__input-wrapper {
    width: calc(100% - 130px);

    @media (max-width: 768px) {
      width: calc(100% - 137px);
    }
  }

  &__input-common-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $search_field_padding;
    background: #FFFFFF;
    box-shadow: 0 3px 6px rgba(21, 36, 56, 0.15);
    border-radius: 5px;

    @media (max-width: 768px) {
      padding: 7px;
    }
  }

  &__input {
    width: 100%;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }

    &:focus {
      outline: none;
    }
  }

  &__search-btn {
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    background: $background_button;
    border-radius: 3px;
    height: $height_search_field;
    width: $width_search_button;

    @media (max-width: 768px) {
      padding: 5px 10px;
      height: auto;
      width: auto;
      font-size: 16px;
      //background-image: url('/assets/images/icon-search.svg');
    }

    &:focus, &:active {
      border: none;
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  &__mktu-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 14px;
  }

  &__mktu-link {
    width: fit-content;
    padding: 0;
    cursor: pointer;
    border-bottom: 1px dashed #FFFFFF;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;

    @media (max-width: 768px) {
      margin-left: 20px;
      font-size: 13px;
      line-height: 20px;
    }

    &--active {
      margin-bottom: 14px;

      @media (max-width: 768px) {
        margin-bottom: 10px;
      }
    }

    &:focus, &:active {
      border: none;
    }
  }

  &__mktu-classes-wrap {
    margin-top: 14px;

    @media (max-width: 768px) {
      margin-top: 10px;
    }
  }

  &__mktu-classes {
    display: inline;

    @media (max-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__mktu-class-btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;

    @media (max-width: 768px) {
      padding: 0;
      margin-top: 14px;
      margin-left: 20px;
    }
  }
}
