<div class="search__wrap">
  <section class="search">
    <div class="search__input-common-wrapper">
      <div class="search__input-wrapper">
        <input type="text"
               id="searchInput"
               class="search__input"
               [(ngModel)]="searchText"
               placeholder="Укажите товарный знак или название">
      </div>
      <button class="search__search-btn" [disabled]="!searchText || searchText.length === 0" (click)="search()">
        Проверить
      </button>
    </div>

    <div class="search__mktu-wrap">
      <div class="search__mktu-wrapper">
        <a class="search__mktu-link" (click)="clickShowMKTU()">Уточнить классы МКТУ</a>
        <div class="search__mktu-classes-wrap" *ngIf="isShowMKTUClasses">
          <div class="search__mktu-classes">
            <app-ls-emb-class-mktu *ngFor="let mktu of MKTUSearchArray" (click)="addMKTUToSearch(mktu)"
                                   [MKTU]="mktu"></app-ls-emb-class-mktu>
          </div>
          <div *ngIf="!isThereSelectedClasses()" class="search__mktu-class-btn"
               (click)="toCancelSelectAllClasses(this.MKTUSearchArray)">
            Отменить весь выбор
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
