@import 'variables';

::ng-deep {
  .carousel {
    z-index: 1 !important;
  }

  .carousel-container {
    overflow: visible !important;
  }

  .carousel-cell {
    margin-bottom: 20px !important;
  }
}

.container {
  &--slider {
    max-width: 1240px;
    padding: 0;

    & h1 {
      font-weight: 400;
      font-size: 25px;
      line-height: 32px;
    }
  }

  &--search {
    padding: 20px 0.625rem 40px;
    position: relative;

    @media (max-width: 793px) {
      background-color: $expert__background;
      padding: 40px 20px 20px;
    }
  }
}

.slider__wrap {
  position: relative;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $g__btn_primary_background;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 2;

  &.disabled {
    display: none;
  }

  &:active {
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.25);
  }

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, - 50%);
    width: 18px;
    height: 18px;
    fill: $g__btn_primary_color;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.slider__item {
  padding: 10px;
  width: 160px;
  height: 200px;
  border-radius: 10px;
  background-color: $service__cards_background;

  & p {
    display: block;
    padding-top: 93px;
    white-space: normal;
    font-size: 16px;
    line-height: 22px;
    color: $service__cards_text_color;
  }
}

::ng-deep .carousel-cells {
  touch-action: none !important;
}
