@import 'variables';

:host {
  width: 298px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  @media (max-width: 700px) {
    margin-right: 0;
    width: 100%;
    min-width: 340px;
    max-width: 360px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

  &__header {
    flex: 0 0 auto;
    background: $header__light_background;
    border-radius: 10px 10px 0 0;
    font-size: 1.25rem;
    line-height: 1.3;
    padding: 1.25rem;
    min-height: 5.75rem;
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width: 700px) {
      min-height: fit-content;
      font-size: 20px;
      line-height: 26px;
      padding: 15px 20px;
    }

    .card-header__title {
      max-width: 85%;
      display: flex;
      margin-bottom: 0;
      position: relative;

      .card-header__full-title {
        display: none;
      }

      &:hover {
        .card-header__full-title {
          position: absolute;
          display: block;
          width: fit-content;
          top: -26px;
          white-space: nowrap;
          background-color: white;
          border-radius: 5px;
          font-size: 12px;
          padding: 5px;
        }
      }
    }
  }

  &__body {
    flex: 1 0 auto;
    background: #FFFFFF;
    border-radius: 0 0 10px 10px;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 12.25rem;
  }
}

.prompt__question {
  background: $g__white_background;
}
