@import "variables";

.modal-universal__main-wrapper{
  background-color: white;
  padding: 45px 40px 40px;
  width: 580px;
  border-radius: 5px;

  @media (max-width: 768px) {
    width: 442px;
    padding: 27px 55px;
  }

  @media (max-width: 500px) {
    width: 355px;
    padding: 20px 10px;
    margin: auto;
  }
}

.modal-universal__wrapper {
  width: 580px;
  @media (max-width: 767px){
    width: initial;
  }
}

.loading__request_contract{
  position: absolute;
  right: 20px;
  top: 13px;
}

.edit-doc__form {
  position: relative;
}

.stage__options-wrapper {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 51px;
  cursor: pointer;
  width: 100%;
}


.stage__option{
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;

  &--gray{
    color: #929FAB;
    margin-right: 3px;
  }

  h4{
    font-size: 18px;
    line-height: 21px;
    color: #162941;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-bottom: 3px;
  }

  p{
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 0;
  }
}

.edit-doc__form-wrapper {
  position: relative;
}


.modal-universal__close{
  background-image: url("/assets/images/x_empty.svg");
  width: 18px;
  height: 18px;
  right: 22px;
  top: 22px;
}

.edit-doc{
  h1{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #152438;
    margin-bottom:24px;

    @media (max-width: 500px) {
      text-align: left;
    }
  }

  &__form input[type=file]{
    opacity: 0;
    width: 0;
    position: absolute;
  }

  &__form label{
    border: 1px solid #00AFEC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px 10px 12px 44px;
    color: #00AFEC;
    position: relative;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
    cursor: pointer;

    @media (max-width: 500px) {
      align-content: center;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url("/assets/images/plus.svg");
      left: 10px;
      top: 10px;

      @media (max-width: 500px) {
       left: 50px;
      }
    }
  }

  &__form p{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #152438;
    margin-bottom: 13px;
  }

  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  &__form input[type=text]{
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 19px;
    color: #162941;
    width: 100%;
    font-family: 'Roboto',sans-serif;

    placeholder{
      opacity: 0.5;
    }
  }
}

.input-textarea{
  display: none;
}

.input-checkbox__open:checked ~.input-textarea{
  display: flex;
  margin-top: 10px;
}

.add-file-form__file span {
 margin-left: 32px;
}

.add-file-form__file {
  border: none;
  background: none;
  width: fit-content;
  margin: 0 auto;
  padding: 0;

  &:not(:last-of-type){
    margin-bottom: 10px;
  }
}

.add-file-form__file span::after {
  width: 15px;
  height: 15px;
}

.file-error {
  color: $g__alert_color !important;
  padding-bottom: 10px;
  margin-top: -5px;
  font-size: 13px !important;
  line-height: 18px !important;
}
