<div class="modal-universal">
  <div class="modal-universal__wrapper">
    <div *ngIf="modalType==='addDoc'" class="modal-universal__main-wrapper edit-doc">
      <h1>Договор</h1>
      <span class="modal-universal__close" (click)="closeModal()"></span>
      <form>
        <div class="add-file-form__wrap" *ngIf="contractDocsFiles.length">
          <div class="add-file-form__file" *ngFor="let file of contractDocsFiles, index as i">
            <p>{{trimString(file.fileName, 30)}}</p>
            <span (click)="removeFile(i, contractDocsFiles)"></span>
          </div>
        </div>
        <div class="edit-doc__form">
          <p class="file-error" *ngIf="fileError?.length">{{fileError}}</p>
          <input type="file" multiple id="99" (change)="fileChangeEvent($event, contractDocsFiles)">
          <label for="99">Прикрепить документы</label>
          <p>или указать URL</p>
          <input type="text" placeholder="URL на сайт с договором оферты" [(ngModel)]="linkContract" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="payment__btn-wrapper payment__btn-wrapper--position">
          <button type="submit" class='btn-blue-attr' (click)="cancelModal(contractDocsFiles)">Отменить</button>
          <button type="submit" class='btn-blue' style="margin-bottom: 10px" (click)="safeModal(contractDocsFiles, 'docs')">Сохранить</button>
        </div>
      </form>
    </div>
    <div *ngIf="modalType==='addMoreDocs'" class="modal-universal__main-wrapper edit-doc">
      <h1>Договор</h1>
      <span class="modal-universal__close" (click)="closeModal()"></span>
      <form>
        <div class="add-file-form__wrap" *ngIf="moreDocsFiles.length">
          <div class="add-file-form__file" *ngFor="let file of moreDocsFiles, index as i">
            <p>{{trimString(file.fileName, 30)}}</p>
            <span (click)="removeFile(i, moreDocsFiles)"></span>
          </div>
        </div>
        <div class="edit-doc__form">
          <p class="file-error" *ngIf="fileError?.length">{{fileError}}</p>
          <input type="file" multiple id="100"  (change)="fileChangeEvent($event, moreDocsFiles)">
          <label for="100">Прикрепить документы</label>
          <p>или указать URL</p>
          <input type="text" placeholder="URL на сайт с договором оферты">
        </div>
        <div class="payment__btn-wrapper payment__btn-wrapper--position">
          <button type="submit" class='btn-blue-attr' (click)="cancelModal(moreDocsFiles)">Отменить</button>
          <button type="submit" class='btn-blue' (click)="safeModal(moreDocsFiles, 'moreDocs')">Сохранить</button>
        </div>
      </form>
    </div>
    <div *ngIf="modalType==='addConfirmingDoc'" class="modal-universal__main-wrapper edit-doc">
      <h1>Подтверждающие документы</h1>
      <span class="modal-universal__close" (click)="closeModal()"></span>
      <form>
        <div class="add-file-form__wrap" *ngIf="confirmingDocsFiles.length">
          <div class="add-file-form__file" *ngFor="let file of confirmingDocsFiles, index as i">
            <p>{{trimString(file.fileName, 30)}}</p>
            <span (click)="removeFile(i, confirmingDocsFiles)"></span>
          </div>
        </div>
        <div class="edit-doc__form">
          <p class="file-error" *ngIf="fileError?.length">{{fileError}}</p>
          <input type="file" multiple id="101" (change)="fileChangeEvent($event, confirmingDocsFiles)">
          <label for="101">Прикрепить документы</label>
          <p>или указать URL</p>
          <input type="text" placeholder="URL на архив с документами" [(ngModel)]="linkConfirmingDocs" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="payment__btn-wrapper payment__btn-wrapper--position">
          <button type="submit" class='btn-blue-attr' (click)="cancelModal(confirmingDocsFiles)">Отменить</button>
          <button type="submit" class='btn-blue' (click)="safeModal(confirmingDocsFiles, 'confirmingDocs')">Сохранить</button>
        </div>
      </form>
    </div>
    <div *ngIf="modalType==='addPayment'" class="modal-universal__main-wrapper edit-doc">
      <h1>Факт оплаты</h1>
      <span class="modal-universal__close" (click)="closeModal()"></span>
      <form>
        <div class="add-file-form__wrap" *ngIf="paymentDocsFiles.length">
          <div class="add-file-form__file" *ngFor="let file of paymentDocsFiles, index as i">
            <p>{{trimString(file.fileName, 30)}}</p>
            <span (click)="removeFile(i, paymentDocsFiles)"></span>
          </div>
        </div>
        <div class="edit-doc__form">
          <p class="file-error" *ngIf="fileError?.length">{{fileError}}</p>
          <input type="file" multiple id="102" (change)="fileChangeEvent($event, paymentDocsFiles)">
          <label for="102">Прикрепить документы</label>
          <p>или указать URL</p>
          <input type="text" placeholder="URL на архив с документами" [(ngModel)]="linkPaymentDocs" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="payment__btn-wrapper payment__btn-wrapper--position">
          <button type="submit" class='btn-blue-attr' (click)="cancelModal(paymentDocsFiles)">Отменить</button>
          <button type="submit" class='btn-blue' (click)="safeModal(paymentDocsFiles, 'paymentDocs')">Сохранить</button>
        </div>
      </form>
    </div>
    <div *ngIf="modalType==='addOther'" class="modal-universal__main-wrapper edit-doc">
      <h1>Иное</h1>
      <span class="modal-universal__close" (click)="closeModal()"></span>
      <form>
        <div class="add-file-form__wrap" *ngIf="otherDocsFiles.length">
          <div class="add-file-form__file" *ngFor="let file of otherDocsFiles, index as i">
            <p>{{trimString(file.fileName, 30)}}</p>
            <span (click)="removeFile(i, otherDocsFiles)"></span>
          </div>
        </div>
        <div class="edit-doc__form">
          <p class="file-error" *ngIf="fileError?.length">{{fileError}}</p>
          <input type="file" multiple id="105" (change)="fileChangeEvent($event, otherDocsFiles)">
          <label for="105">Прикрепить документы</label>
          <p>или указать URL</p>
          <input type="text" placeholder="URL на архив с документами" [(ngModel)]="linkOtherDocs" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="payment__btn-wrapper payment__btn-wrapper--position">
          <button type="submit" class='btn-blue-attr' (click)="cancelModal(otherDocsFiles)">Отменить</button>
          <button type="submit" class='btn-blue' (click)="safeModal(otherDocsFiles, 'otherDocs')">Сохранить</button>
        </div>
      </form>
    </div>

    <div *ngIf="modalType==='guessWho'" class="modal-universal__main-wrapper edit-doc">
      <h1>Кто должник?</h1>
      <span class="modal-universal__close" (click)="closeModal()"></span>
      <form [formGroup]="defendantForm" class="edit-doc__form-wrapper">
        <div class="edit-doc__form">
          <input
            type="text"
            placeholder="Добавить по ОГРН или ИНН"
            formControlName="nameOrganization"
            (keyup)="requestClaimService.getLegal(defendantForm.value.nameOrganization)">
          <div class="loading__request_contract" *ngIf="requestClaimService.loadingOwner">
            <div class="loading__inner loading-claim__inner"></div>
          </div>
        </div>

        <div class="stage__options-wrapper" *ngIf="requestClaimService.dropdown">
          <div class="stage__option" (click)="setValueDefendant()">
            <h4><b>{{requestClaimService.data._source.name}}</b></h4>
            <div class="stage__about">
              <p><span class="stage__option--gray">{{requestClaimService.data._source.directors[0].postTitle}}</span>{{requestClaimService.data._source.directors[0].surname}} {{requestClaimService.data._source.directors[0].name}} {{requestClaimService.data._source.directors[0].patronymic}}</p>
              <p><span class="stage__option--gray">ИНН</span>{{requestClaimService.data._source.TIN}}</p>
              <p><span class="stage__option--gray">ОГРН </span>{{requestClaimService.data._source.PSRN}}</p>
            </div>
          </div>
        </div>

        <div class="payment__btn-wrapper payment__btn-wrapper--position">
          <button type="submit" class='btn-blue-attr' (click)="closeModal()">Отменить</button>
          <button type="submit" class='btn-blue-attr' (click)="setValueDefendant()">Не знаю</button>
          <button type="submit" class='btn-blue' (click)="saveDefendant()">Сохранить</button>
        </div>
      </form>
    </div>
    <div *ngIf="modalType==='guessWhat'" class="modal-universal__main-wrapper edit-doc">
      <h1>Что случилось?</h1>
      <span class="modal-universal__close" (click)="closeModal()"></span>
      <form>
        <fieldset >
          <div *ngFor="let what of massiveGuessWhat" tabindex="0"  class="input-checkbox__wrapper">
            <div class="input-checkbox">
              <input
                type="radio"
                name="reason"
                id="{{what.id}}"
                (change)="reason = what">
              <label
                class="input-checkbox__label"
                for="{{what.id}}">
                {{what.title}}
              </label>
            </div>
          </div>
          <div class="payment__btn-wrapper payment__btn-wrapper--position">
            <button type="submit" class='btn-blue-attr' (click)="closeModal()">Отменить</button>
            <button type="submit" class='btn-blue' (click)="editReason(reason)">Сохранить</button>
          </div>
        </fieldset>
      </form>
    </div>
    <div *ngIf="modalType==='guessWhatWant'" class="modal-universal__main-wrapper edit-doc">
      <h1>Что вы хотите от должника?</h1>
      <span class="modal-universal__close" (click)="closeModal()"></span>
      <form>
        <fieldset *ngFor="let item of requestClaimService.filteredActions">
          <div class="input-checkbox__wrap">
            <div class="input-checkbox">
              <input
                class="input-checkbox__open"
                type="radio"
                name="action"
                id="{{item.id}}"
                (change)="action = item" >
              <label
                class="input-checkbox__label"
                for="{{item.id}}">
                {{item.title}}
              </label>
              <div *ngIf="item.id === 'a3001'" class="input-textarea">
                <textarea placeholder="Ваш комментарий" rows="4" (input)="onTextAreaChange($event)"></textarea>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="payment__btn-wrapper payment__btn-wrapper--position">
          <button type="submit" class='btn-blue-attr' (click)="closeModal()">Отменить</button>
          <button type="submit" class='btn-blue' (click)="editAction(action)" [attr.disabled]="action && action.id === 'a3001' && (action.text === '' || !action.text) ? true : null">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
  <div (click)="closeModal()" class="modal-universal__overlay"></div>
</div>

