:host {
  width: 100%;
}

:host.size--md {
  .filter-input {
    width: 356px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

:host.size--lg {
  .filter-input {
    width: 561px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.filter-input {
  width: 100%;
}

input {
  padding: 15px 7px;
  background: #FFF;
  box-shadow: 0px 2px 4px rgba(21, 36, 56, 0.1);
  border: 1px solid rgba(21, 36, 56, 0.15);
  font-size: 15px;
  line-height: 18px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 100%;

  &::placeholder {
    color: #929FAB;
  }
}
