@import '../common';

.corp-history {
  position: relative;
  z-index: 0;
}

form {
  background: #f7f8fb;
}

.search__label {
  white-space: nowrap;
}

.data {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px;
}

.search__wrapper {
  width: 100%;
}

.search {
  padding: 20px 10px;

  &__input {
    max-width: 304px;
    @media (max-width: 1050px) {
      width: 100%;
      max-width: none;
      margin-right: 0;
    }
  }

  @media(max-width: 1050px) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1000;
    top: 47px;
    position: fixed;
    flex-direction: column;
    background: #EBEDF2;
    left: 0;
    padding: 20px;
    right: 0;
  }

  &__wrapper {
    @media (max-width: 1050px) {
      gap: 10px;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
}

.search__label--date {
  padding-left: 30px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/images/calendar.svg");
    width: 20px;
    height: 22px;
    top: -3px;
    left: 0;
  }
}

.search::before {
  left: 26px;
  @media (max-width: 1050px) {
    left: 37px;
  }
}

.search__btn-block {
  padding: 15px;
  max-height: 50px;
}

.overlay--search {
  display: none;
  @media (max-width: 1050px) {
    display: block;
  }
}

.control {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;

  @media (max-width: 768px) {
    width: 100%;
  }

  &__mobile {
    top: 30px;

    p {
      top: 0;
    }

    &--active {
      top: 0;
      @media (max-width: 1050px) {
        p {
          top: 0;
          border: none;
          font-size: 16px;
          line-height: 20px;
          margin: 0;
          text-transform: none;
          padding: 0;
          font-weight: bold;

          &::before {
            display: none;
          }
        }
      }
    }

    @media (max-width: 1050px) {
      display: block;
    }

  }

  &__btn {
    background: #F2F4F8;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-grow: 1;
    padding: 20px;
    color: #152438;
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 40px;
    }

    @media (max-width: 1000px) {
      padding: 10px;
      background: #F7F8FB;
      border: 1px solid rgba(21, 36, 56, 0.15);
      border-radius: 5px;
      margin-bottom: 30px;
      flex-wrap: wrap;
      justify-content: space-between;
      box-shadow: none;
      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    &:hover {
      opacity: 1;
    }

    &--has {
      color: white;
    }

    &--active {
      background: #F7F8FB;
      border: 1px solid $g__outline_color;
      color: $g__text_color_primary;
      position: relative;
      box-shadow: none;
      z-index: 3;
      border-bottom-color: #f7f8fb;

      @media (max-width: 768px) {
        background: $header__light_background;
        border: 1px solid $g__outline_color;
      }
    }
  }

  &__count {
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 25px;
    line-height: 40px;
    @media (max-width: 1000px) {
      left: auto;
      right: auto;
      bottom: auto;
      top: auto;
      font-size: 20px;
      line-height: 28px;
      position: relative;

    }

    &--critical {
      color: #FF889B;
    }

    &--high {
      color: #FFB36D;
    }

    &--possible {
      color: #FCD770;
    }

    &--recommendation {
      color: #A7E889;
    }
  }
}

.data-loader {
  padding: 100px;
}

.container--bg {
  @media (max-width: 1100px) {
    padding: 90px 20px 30px;
  }
  @media (min-width: 300px) {
    padding: 0;
  }
}
.section-position--main {
  z-index: auto;
}
