
.parrent_modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

.modal {
  overflow: scroll;
  position: absolute;
  margin: auto;
  z-index: 5;
  top: 350px;
  right: 20%;
  left: 15%;
  width: 460px;
  height: fit-content;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: Roboto, 'serif';

  @media (max-width: 767px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 500px) {
    max-width: 345px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .loading {
    padding: 30px;

    @media (max-width: 767px) {
      padding: 20px;
    }

    &__header {
      font-family: Roboto Condensed, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 38px;
      color: #152438;
      text-align: left;
      margin-bottom: 20px;

      @media (max-width: 767px) {
        margin-bottom: 15px;
        font-family: inherit;
        font-size: 24px;
        line-height: 32px;
      }
    }

    &__body {
      .item {
        display: flex;
        flex-direction: row;
        line-height: 30px;

        &__image {
          margin-right: 14px;
          flex-shrink: 0;

          @media (max-width: 767px) {
            width: 20px;
          }

          .is-loading {
            -webkit-animation: spin 0.6s linear infinite;
            animation: spin 0.6s linear infinite;
          }
        }

        &__text {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 26px;
          color: #152438;
          padding-top: 3px;

          @media (max-width: 767px) {
            padding-top: 0;
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  /* This is the magic bit for Firefox */
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  /* This is the magic bit for WebKit */
  display: none;
}


.overlay-space {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
