<div class="parrent_modal">

  <div class="modal">
    <div class="loading">
      <div class="loading__header">Поиск</div>
      <div class="loading__body">
        <div class="item" *ngIf="bases">
          <div class="item__image">
            <div *ngIf="loadingBases else loading">
              <img src="/assets/icons/brand-search-done.svg" *ngIf="(brandsearch || legalsupport) else search">
              <ng-template #search>
                <img src="/assets/icons/done.svg">
              </ng-template>
            </div>
            <ng-template #loading>
              <img src="/assets/icons/brand-search-loader.svg" class="is-loading"
                   *ngIf="(brandsearch || legalsupport) else search">
              <ng-template #search>
                <img src="/assets/icons/loader.svg" class="is-loading">
              </ng-template>
            </ng-template>
          </div>
          <div class="item__text">
            База товарных знаков Роспатента
          </div>
        </div>

        <div class="item" *ngIf="basesInternational">
          <div class="item__image">
            <div *ngIf="loadingInternational else loading">
              <img src="/assets/icons/brand-search-done.svg" *ngIf="(brandsearch || legalsupport) else search">
              <ng-template #search>
                <img src="/assets/icons/done.svg">
              </ng-template>
            </div>
            <ng-template #loading>
              <img src="/assets/icons/brand-search-loader.svg" class="is-loading"
                   *ngIf="(brandsearch || legalsupport) else search">
              <ng-template #search>
                <img src="/assets/icons/loader.svg" class="is-loading">
              </ng-template>
            </ng-template>
          </div>
          <div class="item__text">
            База международных товарных знаков
          </div>
        </div>

        <div class="item" *ngIf="domains">
          <div class="item__image">
            <img src="/assets/icons/brand-search-loader.svg" class="is-loading"
                 *ngIf="(brandsearch || legalsupport) else search">
            <ng-template #search>
              <img src="/assets/icons/loader.svg" class="is-loading">
            </ng-template>
          </div>
          <div class="item__text">
            {{fieldName}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay-space"></div>
</div>

<div class="page-overlay" id="modal-overlay"></div>
