@import 'variables';

.page-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    background-color: $header__light_background;
  }

  @media (max-width: 767px) {
    &::before {
      height: 160px;
    }
  }
}

.container-sm {
  padding: 0;
}

.heading-h1 {
  margin-bottom: 30px;
}

.form-section {
  position: relative;
  z-index: 2;
  @media (min-width: 768px) {
    padding-top: 20px;
  }
}

.form__group:not(:last-child) {
  margin-bottom: 20px;
}

.form__group + .form__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.form__input {
  -webkit-appearance: none;
}

.btn {
  padding: 10px 25px;
  line-height: 38px;
  @media (max-width: 767px) {
    width: 100%;
  }
}

.form__input:focus ~ .form__input-label, .form__input:not(:focus):valid ~ .form__input-label, .form__input:-webkit-autofill ~ .form__input-label, .form__input:not(:empty) ~ .form__input-label, .form__input[type=tel]:disabled ~ .form__input-label {
  left: 20px;
}

.applicant-organization {
  &:hover {
    border: 1px solid $g__link_color;
  }
}

.prompt-field {
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 20px;
  color: $g__text_color_primary;
}

.prompt-label {
  pointer-events: auto;
  transform: none;
  line-height: 15px;
  top: 15px;
  font-size: 0.8125rem;
  left: 20px;
}

.add-org-button-disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.invalid {
  border: 1px solid $g__alert_color;
  box-sizing: border-box;
  border-radius: 5px;
}

.error-invalid-message {
  color: $g__alert_color;
  margin-top: 5px;
  font-size: 13px;
}

.form__group-dropdown {
  & input {
    background: $header__light_background;
    border: 1px solid $g__outline_color;
    box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  }
}
.loader {
  margin: auto;
  border: 5px solid $g__alert_text_color; /* White */
  border-top: 5px solid rgb(255, 255, 255, 0);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  animation: spin 1s linear infinite;
}
