//.errors {
//  text-align: center;
//  margin-bottom: 24px;
//}

@import 'variables'; // не исправлять, иначе путь будет неправильный

.loaderAuth {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid $g__btn_primary_background;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }

  &--text {
    width: 100%;
    text-align: center;
  }
}

.not-mobile {
  display: block;
  @media (max-width: 767px) {
    display: none;
  }
}

.form__input-link {
  @media (max-width: 767px) {
    position: static;
    right: auto;
    top: auto;
    transform: none;
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .form {
    &__input {
      &:focus, &:not(:focus):valid, &:-webkit-autofill, &:not(:empty), &[type=tel]:not(:focus):invalid, &[type=tel]:disabled {
        padding-bottom: 14px;
      }
    }
  }
}

.form__group--email {
  margin-bottom: 0;

  input {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.form__pass {
  width: 100%;
  max-width: 600px;

  input {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}


.form__group--fields {
  @media (min-width: 768px) {
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }
}

.support-link {
  display: block;
  text-align: center;
}
