<div class="js-tabs__content tabs__content" id="cash">
  <form class="form" [formGroup]="form" ngxsForm="payment.form">
    <app-ui-input *ngIf="payer && form.get('INN').value" type="number" formControlName="INN" placeholder="ИНН"></app-ui-input>
    <app-ui-input *ngIf="payer && form.get('OGRN').value" type="number" formControlName="OGRN" placeholder="ОГРН"></app-ui-input>
    <app-ui-input *ngIf="payer && form.get('name').value" formControlName="name" placeholder="Наименование юрлица или ИП"></app-ui-input>
    <app-ui-input *ngIf="payer && form.get('address').value" formControlName="address" placeholder="Юридический адрес"></app-ui-input>
    <app-ui-input formControlName="sum" placeholder="Сумма"></app-ui-input>
  </form>
</div>
