@import 'variables';

:host-context(.monitoring__wrapper-double) .pagination-block {
  margin-top: 10px;
  margin-bottom: 20px;
}

.pagination-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;

  .pagination-button {
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-top: 5px;
    padding: 13px 21px;
    background: $g__white_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    color: $g__link_color;
    text-align: center;
    cursor: pointer;

    @media(max-width: 768px) {
      margin-bottom: 10px;
      padding: 4px 12px;
    }

    svg {
      margin-top: 5px;

      path {
        stroke: $g__link_color;
      }
    }
  }

  .active-page {
    color: $g__text_color_primary;
    background: #EDEFF4;
    cursor: default;
  }

  .disabled-page {
    background: #F7F8FB;
    border: 1px solid $g__outline_color;
    pointer-events: none;

    svg {
      margin-top: 2px;

      path {
        stroke: $g__text_color_secondary;
      }
    }
  }
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: auto;
  width: fit-content;
  font-size: 16px;
  line-height: 20px;
  color: $g__link_color;
  background: $g__white_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;
}

.o-pagination {
  padding: 0;
  max-width: 1240px;
  margin: 0 auto;

  //@media (max-width: 1024px) {
  //  padding: 0 0 50px;
  //}
  //
  @media (max-width: 768px) {
    width: 100%;
  }
}

.o-pagination__container {
  width: 100%;
}

.o-pagination__btn {
  margin-right: 5px;
  padding: 12px 19px;
  width: auto;
  height: auto;
  font-size: 13px;
  line-height: 18px;
  color: $g__link_color;
  background-color: #FFFFFF;
  border: 1px solid $g__outline_color;
  border-radius: 5px;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: 768px) {
    height: 44px;
    width: calc((100% - 25px) / 6);
    padding: 0;
  }
}

.o-pagination__btn.active {
  color: $g__text_color_primary;
  background: $header__light_background;
}


