@import 'variables';

* {
  outline: 0;
}

// Портфель и Мониторинг

.chart__block,
.top-card__card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: 793px) {
    box-shadow: none !important;
  }
}

.chart__block {
  &--kpi {
    //background: rgba(70, 82, 98, 0.75) !important;
  }
}

.chart__block-wrapper.is-active-wrap .chart__block {
  @media(max-width: 793px) {
    background: transparent !important;
  }
}

.control {
  margin-bottom: -1px;
}

app-portfolio {
  .control__btn {
    background: rgba(235, 237, 242, 0.1) !important;

    @media (max-width: 768px) {
      background: #FFF !important;
    }

    &--active {
      background: #FFFFFF !important;
      border-bottom-color: #EBEDF2 !important;
    }
    &--active {
      //background: $header__light_background !important;
      //background: #FFFFFF !important;
      //border-bottom-color: $header__light_background !important;
      border-bottom-color: white;

      @media (max-width: 768px) {
        background: $header__light_background !important;
      }
    }

    &--active.corp {
      background: #F7F8FB !important;
      border-bottom-color: #F7F8FB !important;
    }

    &--white {
      color: #fff !important;

      @media (max-width: 768px) {
        color: $g__text_color_primary !important;
      }
    }

    &--active.control__btn--white {
      color: $g__text_color_primary !important;
    }
  }
}
app-monitoring {
  .control__btn {
    background: rgba(235, 237, 242, 0.1) !important;

    @media (max-width: 768px) {
      background: #FFF !important;
    }

    &--active {
      background: #F6F6F6 !important;
      //border-bottom-color: #EBEDF2 !important;
    }
  &--active {
    //background: $header__light_background !important;
    //background: #FFFFFF !important;
    //border-bottom-color: $header__light_background !important;
    border-bottom-color: white;

    @media (max-width: 768px) {
      background: $header__light_background !important;
    }
  }

    &--active.corp {
      background: #F7F8FB !important;
      border-bottom-color: #F7F8FB !important;
    }

    &--white {
      color: #fff !important;

      @media (max-width: 768px) {
        color: $g__text_color_primary !important;
      }
    }

    &--active.control__btn--white {
      color: $g__text_color_primary !important;
    }
  }
}

.container-wrapper,
.search,
.table__no-data,
.search-style,
.section-position--gradient-monitoring-column .monitoring {
  background: $g__body_background !important;
  //background: #f7f8fb !important;
}

app-portfolio {
  .container-wrapper,
  .table__no-data,
  .search,
  .search-style,
  .section-position--gradient-monitoring-column .monitoring {
    background: #FFFFFF !important;
  }
}

app-services {
  & .search-style {
    background: $g__body_background !important;
  }

  & .search {
    background: $g__body_background !important;
  }
}

.search.corp {
  background: #F7F8FB !important;
}

.section-position--treaty {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

app-monitoring-landing {
  & .page-wrap {
    background: $g__white_background !important;

    @media(max-width: 767px) {
      background-color: #F7F8FB !important;
    }
  }

  & .about-risk__mktu,
  .about-risk__date {
    background: $g__body_background !important;

    @media(max-width: 767px) {
      background-color: transparent !important;

      &--your {
        background-color: #FFFFFF !important;
      }
    }
  }
}

.protection {
  background: #F7F8FB !important;
}

.protection__advantages-item {
  border: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:first-of-type {
    background: linear-gradient(147.38deg, #00AFEC 0%, #307BEC 100%) !important;

    & svg {
      fill: #01AFED !important;
    }
  }

  &:nth-child(2) {
    background: linear-gradient(147.38deg, #9B2BCF 0%, #555AD9 100%) !important;

    & svg {
      fill: #CA6DFC !important;
    }
  }

  &:nth-child(3) {
    background: linear-gradient(147.38deg, #422BCF 0%, #55B9D9 100%) !important;

    & svg {
      fill: #4330D0 !important;
    }
  }
}

.protection__title {
  color: #FFFFFF !important;
}

.protection__item {
  color: #FFFFFF !important;
}

.section-position--tariff {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.balance__wrap {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none !important;
}


.users__form-input {
  box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
}

.confirm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.events-steps__hidden {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.step-box {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none !important;
}

.chart-date__big-count--red {
  color: #FF889B !important;
}

.chart-date__addition {
  &--yellow {
    color: #FCD770 !important;

    & span {
      color: #FCD770 !important;
    }
  }
  &--green {
    color: #A7E889 !important;

    & span {
      color: #A7E889 !important;
    }
  }
}

.chart {
  &__name-counter {
    @media(max-width: 793px) {
      &--red {
        color: #FF889B !important;
      }
    }
  }
}

.unconnected-table__row {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.unconnected-table__row--active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.monitoring-modal__btn {
  color: #FFFFFF !important;
  background: #72CA49 !important;
}

.monitoring-modal__header {
  background: linear-gradient(70.83deg, #E8EEF5 0%, #E9EFF6 21.45%, #edf1f7 100%) !important;
}

.add-object__content {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table__btn {
  color: #000 !important;
  border: 1px solid #00AFEC !important;

  & svg {
    stroke: #00AFEC !important;
  }
}

.section-position--white {
  background-color: #FFF !important;
}

app-contracts {
  & .control__btn--active {
    background: #FFF !important;
    border-bottom-color: #FFF !important;

    @media (max-width: 768px) {
      background: $g__form_background !important;
      border: 1px solid $g__outline_color !important;
    }
  }
}

.to-do__btn {
  color: $g__text_color_primary !important;
  background: #F7F8FB !important;
  border: 1px solid $g__outline_color !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    background: rgba(#F7F8FB, 0.9) !important;
  }

  &:first-of-type {
    color: $g__btn_primary_color !important;
    background: $g__btn_primary_background !important;
    border: 1px solid $g__btn_primary_background !important;

    //&:hover {
    //  background: rgba($g__btn_primary_background, 0.9) !important;
    //}
  }
}

.user-tabs__content {
  background-color: #FFF !important;
}

.user-tabs__item.is-active {
  background-color: #FFF !important;

  &::before {
    background-color: #FFF !important;
  }
}

.balance__button {
  color: $g__btn_attr_text_color;
  background: $g__white_background;
  border: 1px solid $g__btn_attr_border_color;
}

.chart-date__big-count--bids {
  color: $g__text_color_secondary;

  @media (max-width: 791px) {
    color: #FFF !important;
  }
}

//Услуги

.services__card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    border: none !important;
  }
}

.services__card-top {
  background: #F0F3FA !important;
}

.top-btns__btn {
  background-color: $g__form_background !important;
  color: $g__text_color_primary !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid $g__outline_color !important;

  &:first-of-type {
    background: $g__btn_primary_background !important;
  }
}

//Слайдеры

.slider-card__card,
.slider-item__wrap {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.15));
}

$linear-gradient1: linear-gradient(147.38deg, #59CAE2 0%, #30A8EC 100%);
$linear-gradient2: linear-gradient(147.38deg, #9566E2 0%, #A833DF 100%);
$linear-gradient3: linear-gradient(147.38deg, #A0D03A 0%, #69A71A 100%);
$linear-gradient4: linear-gradient(147.38deg, #EA57AF 0%, #AB2485 100%);
$linear-gradient5: linear-gradient(147.38deg, #55B9D9 0%, #422BCF 100%);
$linear-gradient6: linear-gradient(147.38deg, #F962A4 0%, #E68832 100%);
$linear-gradient7: linear-gradient(147.38deg, #CF2BA1 0%, #8F55D9 100%);
$linear-gradient8: linear-gradient(147.38deg, #2BB2CF 0%, #55D9A9 100%);

$colors: $linear-gradient1, $linear-gradient2, $linear-gradient3, $linear-gradient4, $linear-gradient5, $linear-gradient6, $linear-gradient7, $linear-gradient8;

@for $i from 1 through length($colors) {
  .slider__item:nth-child(#{length($colors)}n+#{$i}),
  .slider-item__wrap:nth-child(#{length($colors)}n+#{$i}) .slider-item {
    background: nth($colors, $i) !important;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.15));
  }
}

.service-item__slider-btn,
.slider__btn {
  background-color: #FFF !important;
  border: 1px solid $g__outline_color !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

  & svg {
    fill: $g__text_color_secondary !important;
  }
}

// Поиск

.white-bg,
.ip-id-search-risks,
.circle::before,
.circle::after {
  background-color: #FFF !important;
}

//.ip-id-search-risks-submit .request-btn {
//  background: $g__btn_primary_background !important;
//  color: $g__btn_primary_color !important;
//}

.carousel-counter {
  background-color: $g__white_background !important;
}

// Корпораты

.sections__item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sections__btn--trademarks {
  color: #FFF !important;
  background-color: #00AFEC !important;
  border: 1px solid #00AFEC !important;
}

.service-item__slider-btn {
  background-color: #FFF !important;
}

.portfolio-item__total-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  &--active {
    color: $g__link_color !important;

    & .portfolio-item__total {
      color: $g__link_color !important;
    }
  }
}

.news__item {
  background: #F7F8FB !important;
  border: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news__item-title {
  color: $g__text_color_primary !important;
}

.top-card {
  & .top-card__card:nth-child(1) .top-card__numbers {
    color: #A7E889 !important;
  }

  & .top-card__card:nth-child(2) .top-card__numbers {
    color: #FF889B !important;
  }

  & .top-card__card:nth-child(3) .top-card__numbers {
    color: #FCD770 !important;
  }

  & .top-card__card:nth-child(4) .top-card__numbers {
    color: #FFE8BB !important;
  }
}

app-corp-search-by-owner,
app-corp-search-domains,
app-corp-search-trademarks,
app-corp-search-legalnames {
  .control__btn {
    background: transparent !important;
  }

  .control__btn--active {
    background: #f7f8fb !important;
    border: 1px solid #CBCFD6 !important;
    border-bottom-color: #f7f8fb !important;

    @media (max-width: 768px) {
      border-bottom-color: #CBCFD6 !important;
    }
  }
}

.attention {
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1) !important;
}

// Профиль

.user,
.user-card,
.user-tabs,
.users__info,
.page-wrapper::before,
.organization,
.balance,
.waiting-conf .user-organization__wrap {
  background: $header__light_background !important;
}

.access__title-wrap {
  @media (max-width: 767px) {
    background: #F7F8FB !important;
  }
}

.user-tabs__list-wrap {
  border-bottom: 1px solid #CBCFD6 !important;

  @media (max-width: 991px) {
    border-bottom: none !important;
  }
}

.user-tabs__item {
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
}

.user-tabs__item {
  background: rgba(255, 255, 255, 0.6) !important;

  @media (max-width: 991px) {
    background: #FFFFFF !important;
    border: 1px solid rgba(21, 36, 56, 0.15) !important;
  }
}

.user-tabs__item.is-active {
  border: 1px solid #CBCFD6 !important;

  @media (max-width: 991px) {
    background: #F7F8FB !important;
    border: 1px solid rgba(21, 36, 56, 0.15) !important;
  }
}

.cases {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none !important;
  background-color: #FFF !important;
}

.user-organization__about .cases {
  box-shadow: none !important;
}

.confidants__table-wrap::before {
  background-color: #F4F6FA !important;
}

//app-portfolio,
//app-monitoring,
//app-search {
//  .section-position__exp,
//  .section-position__expert {
//    background: #FFFFFF !important;
//
//    @media(max-width: 767px) {
//      .section-position__exp,
//      .section-position__expert {
//        background: $expert__background !important;
//      }
//    }
//  }
//}

app-contracts {
  .expert__btn {
    background: #FFFFFF !important;
  }
}

app-cases,
app-cases-item {
  .section-position__color-bg,
  .container-top,
  .control {
    background: $header__light_background;
  }

  .search-style {
    background: $g__body_background;
  }

  @media(max-width: 768px) {
    .control__btn.control__btn--active {
      background: $g__form_background;
      border-bottom-color: $g__outline_color;
    }
  }
}

.info-plate__img {
  width: 40px;
  height: auto;
}

app-label-owner {
  app-ip-id-search {
    .ip-id_search__wrapper {
      background: none !important;
    }
  }
}
