$g__body_background: #F6F6F6; // Цвет фона <body>
$g__text_color_primary: #454545; // Цвет основного текста
$g__text_color_secondary: #8F8F8F; // Цвет вспомогательного текста
$g__btn_primary_background: #3692E4; // Цвет фона основных кнопок в формах
$g__btn_primary_color: #FFFFFF; // Цвет текста основных кнопок в формах
$g__btn_attr_border_color: #C9C9C9; // Цвет обводки атрибутивных кнопок в формах
$g__btn_attr_text_color: #3692E4; // Цвет текста атрибутивных кнопок в формах

$g__alert_color: #EC0039; // Цвет Alert
$g__warning_color: #FFBD3D; // Цвет Warning
$g__success_color: #17C548; // Цвет Success
$g__alert_text_color: #FFFFFF; // Цвет текста внутри Alert, Warning, Success
$g__link_color: #3692E4; // Цвет ссылок
$g__timeline_color: #A1A1A1; // Цвет таймлайна
$g__form_background: #FFFFFF; // Цвет фона формы
$g__outline_color: rgba(69, 69, 69, 0.15); // Цвет обводки

$g__mark_background: #454545; // Цвет фона маркированного списка
$g__mark_icon_color: #FFFFFF; // Цвет галки маркированного списка

$g__white_background: #FFFFFF; // Белый фон

$request__tab_background: #F2F4F8; // Цвет фона не активного таба (в процессе оплаты
$request__tab_color: #152438; // Цвет текста не активного таба (в процессе оплаты
$request__tab_active_background: #454545; // Цвет фона активного таба (в процессе оплаты
$request__tab_active_color: #FFFFFF; // Цвет текста активного таба (в процессе оплаты

$nav__background: #454545; // Цвет фона шапки
$nav__link_color: #FFFFFF; // Цвет ссылок в шапке
$nav__link_underline: #EC0039; // Цвет подчеркивания активной ссылки в шапке
$nav__btn_background: #EC0039; // Цвет кнопки в шапке
$nav__btn_color: #FFFFFF; // Цвет текста в кнопке в шапке

$header__light_background: #FAFAFA; // Цвет фона светлой шапки

$header__dark_background: #454545; // Цвет фона темной шапки
$header__dark_text_color_primary: #FFFFFF; // Цвет основного текста темной шапки
$header__dark_text_color_secondary: #8F8F8F; // Цвет атрибутивного текста темной шапки
$header__dark_link_color: #8F8F8F; // Цвет ссылок темной шапки
$header__dark_btn_background: #EC0039; // Цвет фона кнопки на темной шапке
$header__dark_btn_color: #FFFFFF; // Цвет текста кнопки на темной шапке

$dashboard__search_btn_accent_background: #EC0039; // Цвет фона акцентной кнопки “Проверить”
$dashboard__search_btn_accent_color: #FFFFFF; // Цвет текста акцентной кнопки “Проверить”

$request_modal__item_hovered_background: #EC0039; // Цвет фона плашки при наведении в модалке подать заявку
$request_modal__item_hovered_color: #FFFFFF; // Цвет текста и иконки в плашке при наведении в модалке подать заявку
$request_modal__item_icon_color: #EC0039; // Цвет иконки в неактивной плашке в модалке подать заявку
$request_modal__item_text_color: #454545; // Цвет текста в неактивной плашке в модалке подать заявку
$request_modal__background: rgba(143, 143, 143, 0.8); // Цвет полупрозрачного фона у модальных окон
$request_modal__title_color: #FFFFFF; // Цвет заголовка на полупрозрачном фоне у модальных окон
$request_modal__icon_close_color: #FFFFFF; // Цвет крестика закрытия на полупрозрачном фоне у модальных окон

$g__attention_background: #FFF9EB; // Фон для рекомендаций (и комментариев
$g__warning_background: #FCF4F3; // Фон для важных сообщений
$g__success_background: #FBFFF4; // Фон для успешных сообщений

$monitoring_promo__icon_color: #EC0039; // Цвет иконок в промо-блоках (страница мониторинга - Кастомные цвета, см макет

$dashboard_cards__background: rgba(69, 69, 69, 0.2); // Цвет фона блоков информеров в дашбоарде (мониторинг, портфель, услуги
$dashboard_checked_objects__background: #F1F1F1; // Цвет фона выделенного элемента в списке у мониторинга и портфеля
$dashboard_checked_objects__outline_color: #EC0039; // Цвет обводки выделенного элемента в списке у мониторинга и портфеля

$g__checkbox_background: #EC0039; // Цвет фона выделенного Checkbox

$corp_search__sticky_background: rgba(69, 69, 69, 0.7); // Цвет фона плавающего элемента на странице результатов поиска (корпораты
$corp_search__sticky_text_color: #FFFFFF; // Цвет текста и не активной кнопки плавающего элемента на странице результатов поиска (корпораты
$corp_search__sticky_btn_active_background: #3692E4; // Цвет фона активной кнопки плавающего элемента на странице результатов поиска (корпораты
$corp_search__sticky_btn_active_color: #FFFFFF; // Цвет текста активной кнопки плавающего элемента на странице результатов поиска (корпораты
$corp_search__mktu_background: #FFDADA; // Цвет фона пересечения классов МКТУ в результатах поиска (корпораты

$g__toggle_active_background: #454545; // Цвет активного Toggle
$g__toggle_active_disabled_background: #8F8F8F; // Цвет активного не рабочего Toggle
$g__toggle_no_active_background: #F1F1F1; // Цвет не активного Toggle

$expert__background: #FFFFFF; // Цвет фона блока с консультантом #F5F5F6;
$corp_contract_form__radio_background: #F3F4F5; // Цвет фона переключателей в форме заявки на договор #F5F5F6;

$service__cards_background: #8F8F8F; // Цвет карточек услуг - Кастомные цвета, см макет
$service__cards_text_color: #FFFFFF; // Цвет текста в карточке услуги
$search__btn: #3692E4; // Цвет кнопки поиска

$cases__backgroud: #FFFFFF; // Цвет фона черновиков
$g__widgets_link_color: var(--g__widgets_link_color, #3692E4); // Цвет ссылок в виджете портфеля