<section class="section-position section-position--mobile"
         style="background: linear-gradient(85.85deg, #4C5767 0%, #536072 100%), #536072; margin-bottom: -1px;">

  <div class="container chart">
    <span (click)="noObjects=!noObjects;allRequests = !allRequests;inProcess = !inProcess;done = !done;soon=false"
          style="position: absolute;padding: 3px;border-radius: 5px; background-color: #aeb3b9;color: white; top: -19px;
           left: 2px;font-size: 10px; line-height: normal;">Изменить наличие объектов</span>
    <span (click)="noObjects=!noObjects;allRequests = !allRequests;inProcess = !inProcess;done = !done;soon=true"
          style="z-index:20;position: absolute;padding: 3px;border-radius: 5px; background-color: #aeb3b9;color: white; top: -19px;
           left:154px;font-size: 10px; line-height: normal;">Изменить наличие объектов(скоро)</span>
    <h1 class="chart__header" style="position: relative">Претензии и суды
    </h1>

    <div class="chart__wrapper">
      <div tabindex="0" class="chart__block-wrapper">
        <div>
          <div class="chart__block" *ngIf="!allRequests" style="position: relative;z-index: 2">
            <p class="chart__name">Всего заявлено</p>
            <span class="chart__status">{{soon ? 'Скоро' : 'Нет данных'}}</span>
          </div>
        </div>
        <div class="chart__block chart__block--main" [ngStyle]="{'top': allRequests ? '0' : '-100%'}" *ngIf="!isLoadingWidgets; else loaderWidgets">
          <div class="chart__header-wrap">
            <p class="chart__name chart-date chart__name--main">Всего заявлено </p>
            <span class="chart__question">?
             <span class="chart__hidden">
               <p>Общая сумма задолженности, заявленной вами для взыскания с должников</p>
             </span>
            </span>
            <!--            Cледующая строчка для мобильной версии-->
            <p tabindex="0" class="chart-date__big-count chart-date__big-count--yellow mobile"
               [class.mobile--rotate]="openFirstChart===true"
               (click)="openFirstChart=!openFirstChart">{{totalWidget?.totalSum.toLocaleString('ru')}} ₽</p>
          </div>
          <div class="chart-date__wrapper" *ngIf="openFirstChart===true">
            <div class="chart-date__numbers">
              <p class="chart-date__big-count chart-date__big-count--yellow not-mobile">{{totalWidget?.totalSum.toLocaleString('ru')}} ₽</p>
              <div class="chart-date__results">
                <p>{{totalWidget?.caseCount}} {{declOfNum(totalWidget?.caseCount)}}</p>
                <p class="chart-date__results--regions">{{'в ' + totalWidget?.regionCount}} {{+this.totalWidget?.regionCount.toString().slice(-1) === 1 ? 'регионе' : 'регионах'}}</p>
              </div>
            </div>
            <div>
              <table class="chart__table">
                <tr>
                  <td>Основной долг</td>
                  <td class="chart__table--sum">{{totalWidget?.mainDebt.toLocaleString('ru')}} ₽</td>
                </tr>
                <tr>
                  <td>Неустойка</td>
                  <td class="chart__table--sum">{{totalWidget?.penalty.toLocaleString('ru')}} ₽</td>
                </tr>
                <tr>
                  <td>Судебные расходы</td>
                  <td class="chart__table--sum">{{totalWidget?.courtExpenses.toLocaleString('ru')}} ₽</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div tabindex="0" class="chart__block-wrapper">
        <div>
          <div class="chart__block" *ngIf="!inProcess" style="position: relative;z-index: 2">
            <p class="chart__name">В процессе взыскания</p>
            <span class="chart__status">{{soon ? 'Скоро' : 'Нет данных'}}</span>
          </div>
        </div>
        <div class="chart__block chart__block--main" [ngStyle]="{'top': inProcess ? '0' : '-100%'}" *ngIf="!isLoadingWidgets; else loaderWidgets">
          <div class="chart__header-wrap">
            <p class="chart__name chart-date chart__name--main">В процессе взыскания</p>
            <span class="chart__question">?
             <span class="chart__hidden">
               <p>Общая сумма задолженности, находящейся в процессе взыскания </p>
             </span>
            </span>
            <!--            Cледующая строчка для мобильной версии-->
            <p tabindex="0" class="chart-date__big-count chart-date__big-count--orange mobile"
               [class.mobile--rotate]="openSecondChart===true"
               (click)="openSecondChart=!openSecondChart">{{inProcessWidget?.totalSum.toLocaleString('ru')}} ₽</p>
          </div>
          <div class="chart-date__wrapper" *ngIf="openSecondChart===true">
            <div class="chart-date__numbers">
              <p class="chart-date__big-count chart-date__big-count--orange not-mobile">{{inProcessWidget?.totalSum.toLocaleString('ru')}} ₽</p>
              <div class="chart-date__results">
                <p>{{inProcessWidget?.caseCount}} {{declOfNum(inProcessWidget?.caseCount)}}</p>
              </div>
            </div>
            <div>
              <table class="chart__table">
                <tr>
                  <td>Претензии</td>
                  <td class="chart__table--sum">{{inProcessWidget?.claims.toLocaleString('ru')}} ₽</td>
                </tr>
                <tr>
                  <td>Судопроизводство</td>
                  <td class="chart__table--sum">{{inProcessWidget?.legalProceedings.toLocaleString('ru')}} ₽</td>
                </tr>
                <tr>
                  <td>Присуждено</td>
                  <td class="chart__table--sum">{{inProcessWidget?.awarded.toLocaleString('ru')}} ₽</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div tabindex="0" class="chart__block-wrapper">
        <div>
          <div class="chart__block" *ngIf="!done" style="position: relative;z-index: 2">
            <p class="chart__name">Взыскано</p>
            <span class="chart__status">{{soon ? 'Скоро' : 'Нет данных'}}</span>
          </div>
        </div>
        <div class="chart__block chart__block--main" [ngStyle]="{'top': done ? '0' : '-100%'}" *ngIf="!isLoadingWidgets; else loaderWidgets">
          <div class="chart__header-wrap">
            <p class="chart__name chart-date chart__name--main">Взыскано</p>
            <span class="chart__question">?
             <span class="chart__hidden">
               <p>Общая сумма успешно взысканной задолженности по вашим делам </p>
             </span>
            </span>
            <!--            Cледующая строчка для мобильной версии-->
            <p class="chart-date__big-count chart-date__big-count--green mobile"
               [class.mobile--rotate]="openThirdChart===true"
               (click)="openThirdChart=!openThirdChart">{{exactWidget?.totalSum.toLocaleString('ru')}} ₽</p>
          </div>
          <div class="chart-date__wrapper" *ngIf="openThirdChart===true">
            <div class="chart-date__numbers">
              <p class="chart-date__big-count chart-date__big-count--green not-mobile">{{exactWidget?.totalSum.toLocaleString('ru')}} ₽</p>
              <div class="chart-date__results">
                <p>{{exactWidget?.caseCount}} {{declOfNum(exactWidget?.caseCount)}}</p>
              </div>
            </div>
            <div>
              <table class="chart__table">
                <tr>
                  <td>Основной долг</td>
                  <td class="chart__table--sum">{{totalWidget?.mainDebt.toLocaleString('ru')}} ₽</td>
                </tr>
                <tr>
                  <td>Неустойка</td>
                  <td class="chart__table--sum">{{exactWidget?.penalty.toLocaleString('ru')}} ₽</td>
                </tr>
                <tr>
                  <td>Судебные расходы</td>
                  <td class="chart__table--sum">{{exactWidget?.courtExpenses.toLocaleString('ru')}} ₽</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
<ng-template #loaderWidgets>
  <div class="chart__block chart__block--main">
    <app-spinner style="height: 300px" class="spinner-full"></app-spinner>
  </div>
</ng-template>
