.inset {
  background-color: white;
  padding: 40px 0;
  @media (max-width: 1280px) {
    padding: 40px 15px;
  }

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.attention p {
  margin-bottom: 0;
  width: 98%;
}

.attention {
  margin-bottom: 30px;
  margin-top: 0;
}

.obj-info {
  display: flex;
  width: 100%;

  @media(max-width: 768px) {
    flex-direction: column;
  }

  &__subs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 40px;
  }

  &__sub {
    display: flex;
    flex-direction: column;

    &:not(:first-of-type) {
      padding-top: 40px;
      border-top: 1px solid rgba(21, 36, 56, 0.15);
      @media (max-width: 768px) {
        padding-top: 20px;
      }
    }
  }

  &__obj {
    max-width: 387px;
    width: 100%;

    @media(max-width: 768px) {
      max-width: none;
      padding-top: 20px;
      border-top: 1px solid rgba(21, 36, 56, 0.15);
    }
  }

  &__acc-title {
    position: relative;

    .obj-info__from-section {
      padding: 0;
    }

    &:before {
      position: absolute;
      content: '';
      right: 0;
      top: 30px;
      width: 13px;
      height: 10px;
      background-image: url("/assets/icons/title-dropdown-blue.svg");
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &--open {
      &:before {
        transform: rotate(180deg);
      }

      .obj-info__name {
        padding-bottom: 0;
      }
    }
  }

  &__acc-wrapper {
    background: #F7F8FB;
    border-radius: 3px;
    padding: 0 20px;
  }

  &__name {
    padding: 22px 0;
    width: 100%;
    border-top: 1px solid rgba(21, 36, 56, 0.15);
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    &--no-border {
      border-top: none;
    }
  }

  &__from-section {
    background: #F7F8FB;
    border-radius: 3px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

  &__from-block {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid rgba(21, 36, 56, 0.15);

    @media(max-width: 768px) {
      padding: 10px 0;
    }

    span {
      font-size: 16px;
      line-height: 20px;
      color: #929FAB;
      margin-bottom: 0;
    }

    small {
      font-size: 13px;
      line-height: 18px;
      color: #929FAB;
      margin-top: 10px;

      @media(max-width: 768px) {
        margin-top: 5px;
      }
    }

    p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;
      margin-top: 10px;

      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    a {
      margin-top: 10px;
      font-size: 16px;
      line-height: 20px;
      text-decoration-line: underline;
      color: #00AFEC;
    }


    &:last-of-type {
      border-bottom: none;
    }
  }

  &__table {
    border-collapse: collapse;

    tr {
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
      border-top: 1px solid rgba(21, 36, 56, 0.15);

      &:last-of-type {
        border-bottom: none;
      }

      @media(max-width: 768px) {
        display: flex;
        flex-direction: column;
        border-top: none;
        border-bottom: none;
      }
    }

    td {
      vertical-align: top;

      &:first-of-type {
        width: 52%;
      }

      @media(max-width: 768px) {
        border-top: 1px solid rgba(21, 36, 56, 0.15);
        width: 100%;
        &:first-of-type {
          width: 100%;
        }
      }
    }
  }

}

h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;

  @media(max-width: 768px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.obj-info__from-block .normal {
  font-size: 18px;
  line-height: 24px;
  @media(max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.obj-info__from-block .big {
  font-size: 24px;
  line-height: 32px;
  @media(max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.attention {
  @media(max-width: 768px) {
    margin-bottom: 20px;
  }
}

.normal--noExp {
  font-size: 18px;
  line-height: 24px;
  @media(max-width: 768px) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}
