@import "variables";

.tariffes {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  
  .tariff-card {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: auto;
      max-width: none;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
  }
}
