@charset "UTF-8";
@import 'variables';

//---new

.control__wrap {
  @media (max-width: 768px) {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.control {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;

  @media (max-width: 768px) {
    min-width: max-content;
    width: 100%;
    top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
    overflow-x: auto;
    overflow-y: visible;
  }

  &__btn {
    background: $header__light_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    width: 31.5%;
    padding: 20px;
    color: $g__text_color_primary;
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    z-index: 1;
    outline: none;

    @media (max-width: 768px) {
      width: 33%;
      min-width: 150px;
      padding: 15px 10px;
      background: $g__white_background;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    &:hover {
      opacity: 1;
    }

    &--active {
      background: $g__body_background;
      border: 1px solid $g__outline_color;
      color: $g__text_color_primary;
      position: relative;
      box-shadow: none;
      z-index: 3;
      border-bottom-color: $g__body_background;

      @media (max-width: 768px) {
        background: $header__light_background;
        border: 1px solid $g__outline_color;
      }
    }
  }

  &__division {
    margin-left: 8px;
    color: $g__text_color_primary;

    &--red {
      color: $g__alert_color;
    }
  }

  &__count {
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 25px;
    line-height: 40px;
    color: $g__text_color_primary;

    @media (max-width: 768px) {
      position: static;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.section-position__color-bg {
  background: $header__light_background;
}

.container-top {
  padding-top: 40px;

  h1 {
    font-weight: normal;
    font-size: 25px;
    line-height: 1.28;
    padding-bottom: 30px;
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    padding-top: 30px;

    & h1 {
      padding-bottom: 20px;
    }
  }
}

.search-style {
  z-index: 2;
  border-top: 1px solid $g__outline_color;

  &--filter {
    @media (max-width: 767px) {
      padding-top: 20px;
    }
  }
}

.container--table {
  padding-top: 0;
}

.table {
  animation: show .5s 1;
  width: 100%;

  @media (max-width: 767px) {
    margin-top: 20px;
  }

  &__no-data {
    text-align: center;
    font-size: 20px;
    padding-top: 70px;
    height: 160px;
  }

  &__header-count {
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $g__text_color_primary;
    padding: 9px 10px;
    height: fit-content;
    margin: auto 0 auto 20px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
  }

  &__btn {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    border: 1px solid #00AFEC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 37px 10px 10px;
    position: relative;
    margin-top: 5px;
    cursor: pointer;
    background: none;
    font-family: 'Roboto', sans-serif;

    &:after {
      content: '';
      position: absolute;
      width: 14px;
      height: 9px;
      background-image: url("../../../assets/images/blue-arrow-down.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      right: 11px;
      top: 17px;
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 27px;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  &__head-block {
    width: 100%;
    display: grid;
    grid-template-columns: 40.5% 25.5% 14% 20%;
    font-size: 16px;
    line-height: 20px;

    @media (max-width: 991px) {
      grid-template-columns: 35% 19.5% 20% 24.5%;
    }

    @media (max-width: 767px) {
      display: none;
    }

    div {
      color: $g__text_color_secondary;
      padding: 20px 20px 20px 0;
    }
  }
}
