<section class="portfolio-tabs">
  <div class="container control">
    <button
      *ngFor="let tab of tabs"
      class="control__btn"
      [id]="'portfolioTab' + tab.type"
      [class.control__btn--active]="tab.type === currentTab"
      [class.control__btn--inactive]="tab.type !== currentTab"
      [attr.disabled]="tab.count === 0 ? true : null"
      (click)="changeCurrentTab(tab.type)"
    >
      {{tab.header}}
      <span
        class="control__count"
        [class.control__count--active]="tab.type === currentTab"
      >
        {{tab.count ? tab.count : '-'}}
      </span>
    </button>
  </div>
</section>
