@import 'variables';

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  &-button {
    background-repeat: no-repeat;
    width: 5px;
    height: 0
  }

  &-track {
    background: $g__outline_color;
    border-radius: 4px;
  }

  &-thumb {
    -webkit-border-radius: 0;
    background: $g__text_color_primary;
    border-radius: 4px;

    &:hover {
      background: rgba(21, 36, 56, 0.7);
    }
  }
}

.portfolio-tabs {
  min-width: 375px;
  position: relative;
  background: $header__dark_background;

  &.container {
    background: $g__body_background;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.control__btn {
  width: 19.4%;
  
  &--active {
    color: $g__text_color_primary;
    background-color: $g__white_background;

    .control__count {
      color: $g__text_color_primary;
    }
  }

  &--inactive {
    color: #ffffff;

    .control__count {
      color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .portfolio-tabs {
    padding-bottom: 30px;
    overflow: scroll;
  }

  .control__btn {
    width: 150px;
    height: 103px;
    color: $g__text_color_primary;

    &--active {
      background-color: $header__light_background;
    }

    &--inactive {
      background-color: $g__white_background;
    }

    .control__count {
      color: $g__text_color_primary;
    }
  }
}