@import 'variables';

::ng-deep {
  .main__form {
    left: 0;
  }
  .ip-id_search_container {
    margin-bottom: 10px !important;
  }
}

.heading-h1 {
  position: relative;
  width: fit-content;
  padding-right: 30px;

  .prompt__question{
    right: 0;
    top: 6px
  }

  @media (max-width: 768px) {
    margin-top: 0;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }
}

.okved {
  margin-top: 20px;

  .okved-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #929FAB;
    padding-bottom: 5px;
  }

  .okved-codes {
    display: flex;
    flex-wrap: wrap;

    .okved-code {
      background: $g__body_background;
      border-radius: 5px;
      text-wrap: none;
      margin: 0 10px 10px 0px;
      padding: 5px;
      position: relative;
      cursor: default;

      @media (max-width: 768px){
        background: #FFFFFF;
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-sizing: border-box;
        border-radius: 5px;
        padding: 5px;
      }

      .okved-tooltip {
        display: none;
        position: absolute;
        bottom: 33px;
        cursor: pointer;
        background: #FFFFFF;
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-sizing: border-box;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
        max-width: 370px;
        z-index: 2;
      }

      &:hover {
        background: #DFE2E8;

        .okved-tooltip {
          display: block;
        }
      }
    }
  }
}

.error-message {
  background: rgba(255, 16, 55, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  color: white;
}

.separator-line {
  border: none;
  color: #D6D9E0;
  background-color: $g__outline_color;
  height: 1px;
}

.subtitle {
  margin-bottom: 20px;
}

.duty-info {
  margin-top: 10px;
  margin-bottom: 20px;
  color: $g__text_color_secondary;
  .sum {
    color: $g__text_color_primary;
    font-weight: bold;
  }
}

.not-mobile-mktu{
  display: flex;
  width: 100%;
  margin-left: -12px;
  @media (max-width: 915px) {
    display: none;
  }
}

.mobile-mktu{
  display: none;
  @media (max-width: 915px) {
    display: block;
  }
}

//Поиск

:host ::ng-deep {
  .ip-id_search_container {
    max-width: none !important;
  }

  .search-container {
    max-width: none !important;
    padding: 0 !important;
  }

  .main__form,
  .main__form > div {
    width: 100% !important;
  }

  .not-mobile-mktu {
    margin-left: 0 !important;
  }

  .added-number__number {
    color: $g__text_color_primary !important;
  }

  .added-number__title {
    color: $g__alert_color !important;
  }
}

.actions {
  display: flex;
  margin-top: 20px;
  position: relative;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }

  & > * {
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}
