@import 'variables';

.sections {
  padding: 20px 10px 40px 10px;
  position: relative;
}

.slider {
  padding: 20px 20px 40px;
  background: $header__dark_background;
  overflow-x: hidden;
}


.services {
  display: flex;
  flex-direction: column;
  padding: 20px 3px 2.5rem;

  @media (max-width: 700px) {
    padding-bottom: 0
  }

  .title-section {
    @media (max-width: 700px) {
      display: flex;
      justify-content: center;
    }
    h2 {
      font-weight: normal;
      font-size: 25px;
      line-height: 1;
      margin-bottom: 30px;

      @media (max-width: 700px) {
        text-align: left;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 28px;
        width: 100%;
        min-width: 340px;
        max-width: 360px;
      }
    }
  }


  &__card-wrapper {
    display: flex;
    flex-direction: column;

    &:not(:first-of-type) {
      margin-top: 27px;
      @media (max-width: 700px) {
        margin-top: 20px;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;

    @media (max-width: 700px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 24.2%;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 13px;
    margin-bottom: 13px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    @media (max-width: 1300px) {
      min-width: 335px;
    }

    @media (max-width: 700px) {
      margin-right: 0;
    }
  }

  &__card-top {
    flex: 0 0 auto;
    background: $header__light_background;
    border-radius: 10px 10px 0 0;
    font-size: 1.25rem;
    line-height: 1.3;
    padding: 1.25rem;
    min-height: 5.75rem;
    position: relative;

    @media (max-width: 700px) {
      min-height: fit-content;
      font-size: 20px;
      line-height: 26px;
      padding: 15px 20px;
    }

    p {
      max-width: 85%;
      display: flex;
      margin-bottom: 0;
      position: relative;

      span {
        display: none;
      }

      &:hover {
        span {
          position: absolute;
          display: block;
          width: fit-content;
          top: -26px;
          white-space: nowrap;
          background-color: white;
          border-radius: 5px;
          font-size: 12px;
          padding: 5px;
        }
      }
    }
  }

  &__card-bottom {
    flex: 1 0 auto;
    background: $g__white_background;
    border-radius: 0 0 10px 10px;
    padding: 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 12.25rem;

    @media (max-width: 700px) {
      font-size: 16px;
      line-height: 24px;
      min-height: fit-content;
    }
  }
}

.prompt__question {
  background: $g__white_background;
}

.cards-links {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;

  a {
    color: $g__link_color;

    &:not(:last-of-type) {
      margin-bottom: 20px;
      @media (max-width: 700px) {
        margin-bottom: 15px;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.filters {
  //position: sticky;
  //top: 0;
  //z-index: 1000;
  background: $g__body_background;
  padding: 20px 3px;
}
