<div class="slider" *ngIf="state.popular && state.popular.length">
  <app-ui-carousel
    [cards]="state.popular"
    title="Популярные услуги"
    (clicked)="navigateToService($event)"
  ></app-ui-carousel>
</div>

<div class="sections container">
  <div class="filters">
    <app-filters-container
      [def]="def"
      [value]="filtersValue"
      [layout]="{ lg: ['minmax(auto, 1.5fr)', '1fr', '1fr'],
                  sm: ['1fr'],
                  md: ['1fr', '1fr', '1fr']}"
      [smButtonTitle]="'Поиск по услугам'"
      (apply)="onApply($event)"
    ></app-filters-container>
  </div>

  <div class="services">
    <div
      *ngFor="let section of state.sections
        | filter:filtersValue:'objectType'"
      class="services__card-wrapper"
      [appHideEmpty]="'a'"
    >
      <div class="title-section">
        <h2>{{section.title}}</h2>
      </div>
      <div class="services__cards">
        <app-ui-card
          *ngFor="let card of section.cards"
          [title]="card.title"
          [appHideEmpty]="'a'"
        >
          <div class="cards-links">
            <a
              *ngFor="let link of card.links
                | filter:filtersValue:['gosDepartment','search']"
              [routerLink]="link.id"
            >
              {{link.name}}
            </a>
          </div>
        </app-ui-card>
      </div>
    </div>
  </div>
</div>

<!--<app-ui-ask-expert></app-ui-ask-expert>-->
<app-expert></app-expert>
