<div class="swdb-container">
  <div *ngIf="swdb.result?.length" class="table__wrapper">
    <div class="table__header-wrapper">
      <h2 class="table__header">
        <span id="programsHeader">Программы и базы данных</span>
        <span class="table__header-count">{{swdb.totalCount}}</span></h2>
      <button class="table__header-btn"
              (click)="checkAllSWDBs()">{{!allSWDBChecked ? 'Выбрать все' : 'Снять все'}}</button>
    </div>
    <div class="table__big-block" *ngFor="let obj of swdb.result; let i = index" (click)="openPopupInfo(obj)" [id]="'programs' + i">
      <div class="table__row row-white" [class.row-white__blue-border]="obj.checked">
        <div class="row-white__img-text">
          <div class="row-white__img">
            <img *ngIf="obj?._index === 'rudb'" class="tm_image_stub" src="assets/portfolio/databases.svg">
            <img *ngIf="obj?._index === 'rusw'" class="tm_image_stub" src="assets/portfolio/programs.svg">
          </div>

          <div class="row-white__title-text row-white__title-text--four">
            <div class="row-white__subtitle-wrapper">
              <p class="row-white__subtitle">
                {{obj._index === 'rudb' ? 'База данных' : obj._index === 'rusw' ? 'Программа для ЭВМ' : ''}}
                {{obj._source.applicationNumber}}</p>
            </div>
            <p class="row-white__text row-white__text--bold">
              {{obj._index === 'rudb' ? trimString(obj._source.dbName, 50) : obj._index === 'rusw' ? trimString(obj._source.programName, 50) : ''}}
            </p>
          </div>
        </div>

        <div class="row-white__title-text row-white__title-text--four line">
          <p class="row-white__subtitle">Авторы</p>
          <p class="row-white__text">{{trimString(obj._source.authors, 50)}}</p>
        </div>
        <div class="row-white__title-text row-white__title-text--four line">
          <p class="row-white__subtitle">Правообладатель</p>
          <p class="row-white__text">{{trimString(obj._source.rightHolders, 50)}}</p>
        </div>

        <div class="row-white__title-text row-white__title-text--four line">
          <p class="row-white__subtitle">Дата регистрации</p>
          <p class="row-white__text">{{obj._source.registrationDate | date:'dd.MM.yyyy'}}</p>
        </div>
        <div class="row-white__checkbox">
          <input
            class="row-white__checkbox--input"
            type="checkbox"
            #dbRef
            id="{{'swdb' + obj._id}}"
            (click)="checkSWDB($event, obj)"
          >
          <label class="row-white__checkbox-label" [class.row-white__checkbox-label--checked]="getSWDBChecked(obj._id)">
            <span class="row-white__tooltip">{{obj.checked ? 'Выбрано' : 'Выбрать для добавления' }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <app-pagination
    *ngIf="swdb.totalCount / swdb.pagination.size > 1"
    [currentPageNumber]="currentPage"
    [totalCount]="swdb.totalCount"
    [itemPerPage]="swdb.pagination.size"
    (eventChangePage)="onChangePage($event)"
  ></app-pagination>
</div>

<app-portfolio-db-evm
  *ngIf="showPopupInfoDb"
  [data]="popupInfoData"
  (modalEvent)="closePopupInfo()"
></app-portfolio-db-evm>