<div class="search-result__modal" *ngIf="selectedDomain">
  <app-domain-modal
    class="app-domain-modal"
    [data]="selectedDomain"
    (modalEvent)="closeModal()"
  ></app-domain-modal>
</div>

<div class="domain-accordion">
  <app-ls-emb-accordion
    [type]="'domains'"
    [dataLength]="dataDomains.length"
    [data]="dataDomains"
    (slicedData)="getSlicedData($event)">
    <div class="search-result-list">
      <app-ls-emb-item-card *ngFor="let domain of slicedData" (click)="openModal(domain)"
                            [isDomain]="true"
                            [item]="getPureDataForView(domain)">
      </app-ls-emb-item-card>
    </div>
  </app-ls-emb-accordion>
</div>

