.domain-accordion {
  padding-bottom: 60px;

  @media(max-width: 768px) {
    padding-bottom: 50px;
  }
}

.search-result-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 23.8%);
  grid-gap: 20px;
  margin-bottom: 0;
  margin-top: 30px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 49.2%);
    grid-gap: 10px;
    margin-top: 20px;
  }
}
