@import 'variables';

.news {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-bottom: 50px;

  @media (max-width: 767px) {
    grid-template-columns: auto;
    padding-bottom: 20px;
  }
}

.news__title {
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.news__link {
  grid-row: 1/2;
  grid-column: 2/3;
  padding: 10px 15px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $g__btn_attr_text_color;
  text-align: center;
  border: 1px solid $g__btn_attr_border_color;
  box-sizing: border-box;
  border-radius: 3px;

  @media (max-width: 767px) {
    grid-row: 3/4;
    grid-column: 1/2;
    padding: 12px;
    font-size: 18px;
    line-height: 24px;
  }
}

.news__feed {
  grid-row: 3/4;
  grid-column: 1/3;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    display: block;
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.news__item {
  display: flex;
  flex-direction: column;
  width: 24.2%;
  margin-right: 1.05%;
  padding: 19px;
  background: $header__dark_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 10px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  @media (max-width: 767px) {
    width: 100%;
    min-height: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.news__item-title {
  flex: 1 0 auto;
  display: block;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  color: $header__dark_text_color_primary;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.news__item-date {
  font-size: 13px;
  line-height: 18px;
  color: $header__dark_text_color_secondary;
}
