.add-object{
  padding-top: 40px;


  h2{
    margin-bottom: 23px;
  }
}

.btn-blue{
  width: 100%;
  margin-top: 30px;
}

.form__group--wrapper{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  .form__group{
    flex-grow: 1;
    margin-bottom: 0;
  }

  .form__btn button{
    background: #FFFFFF;
    border: 1px solid #72CA49;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #72CA49;
    padding: 24px 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    &:hover{
      cursor: pointer;
    }
  }
}

