.open-breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;

  @media(max-width: 768px) {
    display: block;
    margin: 30px 0;
  }

  & a {
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 26px;
    color: #000000;

    @media(max-width: 768px) {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 22px;
    }

    &::before {
      content: "";
      flex-shrink: 0;
      margin-right: 30px;
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("../../../../assets/open/arrow-back.svg");

      @media(max-width: 768px) {
        margin-right: 10px;
      }
    }

    & svg {
      margin-right: 30px;

      @media(max-width: 768px) {
        display: none;
      }
    }
  }

  & button {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    color: #263C4E;
    background: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      flex-shrink: 0;
      margin-right: 13px;
      display: block;
      width: 28px;
      height: 28px;
      background-image: url("../../../../assets/open/icon-doc.svg");
    }
  }
}

app-tabs {
  margin-bottom: 40px;
}

