<div class="open-breadcrumb">
  <a routerLink="/">
    <svg width="28" height="28" viewBox="0 0 28 28">
      <path d="M25.0833 2.91666H25.5833V2.41666H25.0833V2.91666ZM2.91663 2.91666V2.41666H2.41663V2.91666H2.91663ZM13.348 27.4167L13.1946 27.8926L13.4064 27.9608L13.5989 27.8491L13.348 27.4167ZM25.0833 17.6167H25.5833H25.0833ZM25.5833 16.3917C25.5833 16.1155 25.3594 15.8917 25.0833 15.8917C24.8071 15.8917 24.5833 16.1155 24.5833 16.3917H25.5833ZM25.0833 9.65416H25.5833H25.0833ZM25.5833 8.42916C25.5833 8.15302 25.3594 7.92916 25.0833 7.92916C24.8071 7.92916 24.5833 8.15302 24.5833 8.42916H25.5833ZM25.0833 2.41666H2.91663V3.41666H25.0833V2.41666ZM2.41663 2.91666V17.6167H3.41663V2.91666H2.41663ZM2.41663 17.6167C2.41663 20.9331 4.72576 23.3606 7.13914 24.9976C9.56785 26.6451 12.2285 27.5811 13.1946 27.8926L13.5014 26.9408C12.5675 26.6397 10.0125 25.7383 7.70049 24.1701C5.37318 22.5914 3.41663 20.4253 3.41663 17.6167H2.41663ZM13.848 27.4167V13.3292H12.848V27.4167H13.848ZM13.848 13.3292C13.848 12.3475 14.4196 11.5995 15.4574 10.9134C16.5075 10.2192 17.9164 9.6666 19.4083 9.04368C20.8684 8.43403 22.3992 7.75958 23.5621 6.82892C24.7452 5.88203 25.5833 4.64014 25.5833 2.91666H24.5833C24.5833 4.25568 23.9544 5.23411 22.9372 6.04816C21.8998 6.87844 20.4967 7.50555 19.023 8.1209C17.581 8.72298 16.0561 9.31882 14.9059 10.0793C13.7433 10.8479 12.848 11.8608 12.848 13.3292H13.848ZM24.5833 17.6167C24.5833 20.3991 22.6509 22.2598 20.1545 23.6907C18.9145 24.4014 17.5717 24.9846 16.3233 25.5108C15.0931 26.0294 13.9238 26.5044 13.0971 26.9842L13.5989 27.8491C14.3555 27.4101 15.4448 26.9664 16.7118 26.4323C17.9607 25.9058 19.3538 25.3023 20.6518 24.5583C23.2313 23.0798 25.5833 20.9593 25.5833 17.6167H24.5833ZM24.5833 16.3917V17.6167H25.5833V16.3917H24.5833ZM24.5833 9.65416C24.5833 12.4484 22.6363 14.4617 20.1356 16.0458C18.8948 16.8319 17.5509 17.4908 16.3058 18.0729C15.0775 18.6472 13.914 19.1601 13.0971 19.6342L13.5989 20.4991C14.3653 20.0544 15.4604 19.5721 16.7293 18.9788C17.9815 18.3934 19.3735 17.7124 20.6707 16.8906C23.246 15.2592 25.5833 12.985 25.5833 9.65416H24.5833ZM24.5833 8.42916V9.65416H25.5833V8.42916H24.5833Z" fill="#00BBE4"/>
    </svg>
    Интеллектуальная собственность
  </a>

  <button (click)="openModal()">Новая заявка</button>
</div>

<app-tabs
  class="open-menu-tabs"
  [options]="[
    { title: 'Главная', route: '/dashboard' },
    { title: 'Поиск', route: '/search' },
    { title: 'Дела', route: '/cases' },
    { title: 'Портфель', route: '/portfolio' },
    { title: 'Мониторинг', route: '/monitoring' },
    { title: 'Услуги', route: '/services', disabled: true },
   ]"
></app-tabs>

