.section-position {
  @media(max-width: 550px) {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
}

.head-table {
  &__first {
    width: 37%;
  }

  &__second {
    width: 32%;
    padding-left: 41px;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 20px;
      left: 0;
      top: 0;
      background: #CCCFD6;
    }
  }

  &__third {
    width: 34%;
    padding-left: 18px;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 20px;
      left: 0;
      top: 0;
      background: #CCCFD6;
    }
  }

  &__fourth {
    width: 9%;
    text-align: end
  }

}

.company-list {
  position: absolute;
  top: 40px;
  left: 215px;
  z-index: 900;

  @media (max-width: 793px) {
    left: 0;
    top: 64px;
    width: 100%;
  }
  @media (max-width: 500px) {
    left: 20px;
    top: 93px;
    width: 90%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
  }

  &__item {
    padding: 10px;

    @media (max-width: 1100px) {
      font-size: 24px;
      line-height: 32px;
    }

    @media (max-width: 793px) {
      padding: 3px;
      font-size: 20px;
      line-height: 30px;
    }

    p {
      text-align: left;
      color: #152438;
    }

    &--selected {
      background: #F2F4F8;
      border-radius: 5px;
    }
  }
}

.container {
  padding: 0 10px 20px;
  min-width: 355px;

  @media(max-width: 1280px) {
    padding: 40px 30px 55px;
  }

  @media(max-width: 820px) {
    padding: 30px 10px 35px;
  }

  &--gray {
    background: #ebedf2;
    padding-top: 20px;
    padding-bottom: 80px;

    @media (max-width: 1100px) {
      padding: 30px;
    }

    @media (max-width: 500px) {
      position: fixed;
      top: 50px;
      z-index: 1000;
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
      height: auto;
      padding: 20px;
    }

  }

  &--light-gray {
    padding: 0;

    @media(max-width: 1280px) {
      padding: 0 30px 55px;
    }

    @media(max-width: 540px) {
      background: white;
    }

    @media(max-width: 500px) {
      background: #ebedf2;
      padding: 0 20px 25px;
    }
  }

  &--white {
    background: white;
  }


  &__mobile {
    @media(max-width: 500px) {
      margin-top: 30px;
    }
  }

}

.control {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
  padding-bottom: 0;

  @media(max-width: 500px) {
    background-color: #485464;
  }

  &__mobile {
    display: none;
    z-index: 50;
    position: absolute;
    left: 0;
    width: 100%;
    top: 106px;

    p {
      width: fit-content;
      margin: 0 auto;
      font-size: 13px;
      line-height: 18px;
      padding: 10px 15px 10px 40px;
      position: relative;
      background: #FFFFFF;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      border-radius: 30px;
      z-index: 2;
      top: 34px;


      &::before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        background-image: url('/assets/images/icon-search-blue.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        left: 14px;
        top: 11px;
        z-index: 30;
      }
    }

    @media(max-width: 500px) {
      display: block;
    }

    &--active {
      background: #FFFFFF;
      border: none;
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      border-radius: 0;
      padding: 15px;
      position: fixed;
      top: 10px;
      z-index: 1000;


      &::before {
        display: none;
      }

      &::after {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        background-image: url('/assets/images/x_black.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        right: 20px;
        top: 17px;
        z-index: 30;
      }
    }
  }

  &__btn {
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    width: 31.2%;
    padding: 20px;
    color: #FFFFFF;
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    background: rgba(235, 237, 242, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom-color: rgba(235, 237, 242, 0.1);

    @media (max-width: 850px) {
      height: 103px;
      display: flex;
      align-items: flex-start;
      background: #FFFFFF;
      font-size: 16px;
      line-height: 20px;
      color: #152438
    }

    @media(max-width: 768px) {
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 5px;
      padding: 15px;
      width: 165px;
      margin-bottom: 23px;
    }

    p {
      margin-bottom: 0;
    }


    &:hover {
      opacity: 1;
    }

    &--active {
      background: #EBEDF2;
      border: 1px solid rgba(21, 36, 56, 0.15);
      border-bottom-color: rgba(235, 237, 242, 0.1);
      position: relative;
      z-index: 3;
      font-size: 16px;
      line-height: 22px;
      color: #152438;
    }

  }

  &__count {
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 25px;
    line-height: 40px;

    @media(max-width: 850px) {
      font-size: 19px;
      line-height: 30px;
      top: initial;
      left: 20px;
      bottom: 0;
    }

    @media(max-width: 768px) {
      bottom: 10px;
    }
  }
}

.chart {
  padding-top: 23px;
  padding-bottom: 53px;
  position: relative;

  @media (max-width: 1100px) {
    padding-bottom: 40px;
  }
  @media (max-width: 870px) {
    padding-bottom: 0;
    padding-top: 0;
  }
  @media (max-width: 500px) {
    padding: 0;
  }

  &__link {
    text-decoration-line: underline;
    color: #00AFEC;

    @media (max-width: 500px) {
      font-size: 13px;
      line-height: 18px;
      color: #00AFEC;
      width: 106%;
      padding: 12px;
      display: flex;
      justify-content: center;
      text-decoration: none;
      border: 1px solid #00AFEC;
      box-sizing: border-box;
      border-radius: 5px;
      margin-top: 10px;
    }
  }

  &__table {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;

    @media (max-width: 970px) {
      font-size: 13px;
      line-height: 20px;
    }

    @media (max-width: 720px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media(max-width: 500px) {
      font-size: 13px;
      line-height: 18px;
    }

    tr {
      height: 35px;
      @media (max-width: 960px) {
        font-size: 13px;
        line-height: 18px;
      }
      @media (max-width: 720px) {
        height: 42px;
      }
      @media (max-width: 500px) {
        height: 30px;
        color: #FFFFFF;
      }

    }

    td:last-of-type {
      @media (max-width: 500px) {
        text-align: right;
      }
    }
  }

  &__question {
    border-radius: 50%;
    border: 1px solid #697481;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 16px;

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__header-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__block-wrapper {
    height: 325px;
    overflow-y: hidden;

    @media(max-width: 1190px) {
      &:last-of-type {
        margin-top: 0;
      }
      &:first-of-type {
        margin: 0 auto;
      }
    }
    @media(max-width: 970px) {
      height: 325px;
    }
    @media(max-width: 820px) {
      margin-bottom: 20px;
      &:first-of-type {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    @media(max-width: 500px) {
      margin-bottom: 0;
      height: fit-content;
      &:first-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__block {
    width: 384px;
    background: rgba(70, 82, 98, 0.75);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 20px;
    position: relative;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 325px;
    overflow: hidden;

    &--main {
      position: relative;
      z-index: 1;
      @media(max-width: 500px) {
        padding: 20px 0 !important;
        &:first-of-type {
          padding: 20px 0 !important;
        }
      }
    }

    @media(max-width: 1280px) {
      width: 340px;
    }

    @media(max-width: 1100px) {
      width: 300px;
    }

    @media(max-width: 970px) {
      width: 250px;
      height: 325px;
    }

    @media(max-width: 820px) {
      &:first-of-type {
        width: 100%;
        min-width: fit-content;
      }
      width: 100%;
      min-width: fit-content;
    }

    @media(max-width: 500px) {
      height: fit-content;
      border: none;
      border-radius: 0;
    }
  }

  &__name {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;

    @media (max-width: 970px) {
      font-size: 15px;
      line-height: 19px;
    }

    @media(max-width: 720px) {
      font-size: 20px;
      line-height: 24px;
    }

    @media(max-width: 500px) {
      font-size: 13px;
      line-height: 18px;
    }

    &--main {
      margin-bottom: 16px;
      @media(max-width: 793px) {
        &::after {
          display: none;
        }
      }
      @media(max-width: 500px) {
        &::after {
          display: block;
        }
        padding: 0;
        width: 100%;
        margin: 0;
      }
    }

    &--open {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__status {
    font-weight: 300;
    font-size: 40px;
    line-height: 120px;
    justify-content: center;
    display: flex;

    @media (max-width: 970px) {
      font-size: 30px;
      line-height: 90px;
    }

    @media (max-width: 500px) {
      font-size: 18px;
      line-height: 60px;
    }
  }

  &__header {
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 24px;
    font-weight: normal;
    position: relative;

    @media(max-width: 1100px) {
      font-size: 24px;
      line-height: 32px;
    }

    @media (max-width: 500px) {
      background: rgba(70, 82, 98, 0.75);
      margin-bottom: 0;
      padding: 30px 20px 25px 20px;

      &:before {
        position: absolute;
        content: "";
        width: 91%;
        height: 1px;
        background: #697180;
        bottom: 4px;
        left: 20px;
      }
    }

    @media (max-width: 400px) {
      &:before {
        width: 90%;
      }
    }
  }
}

.chart-date__numbers {
  position: relative;
  margin-bottom: 45px;
  display: flex;

  @media(max-width: 720px) {
    margin-bottom: 25px;
  }
  @media(max-width: 500px) {
    margin-bottom: 0;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -23px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    left: 0;

    @media(max-width: 500px) {
      display: none;
    }
  }
}

.chart-date {

  &__charts {
    height: 130px;
  }

  &__wrapper {
    margin-bottom: 17px;
    position: relative;
    @media(max-width: 500px) {
      margin-bottom: 0;
      padding-right: 0;
    }
  }

  &__row {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
  }


  &__numbers {
    display: flex;
    position: relative;
    align-items: center;

    @media(max-width: 500px) {
      margin: 20px 0 10px;
    }

    p {
      margin-bottom: 0;
      @media(max-width: 1100px) {
        font-size: 42px;
        line-height: 46px;
      }
      @media(max-width: 1100px) {
        font-size: 30px;
        line-height: 35px;
      }
    }

  }

  &__small-txt {
    margin: 0 12px;
    @media(max-width: 1100px) {
      font-size: 15px !important;
      line-height: 26px !important;
    }

    @media(max-width: 500px) {
      font-size: 15px !important;
      line-height: 26px !important;
    }
  }

  &__big-count {
    font-size: 50px;
    line-height: 48px;
    color: #FFFFFF !important;
    margin-right: 0;

    &--yellow {
      font-weight: normal;
      color: #FCD770 !important;
      margin-bottom: 15px;

      @media(max-width: 1100px) {
        font-size: 30px;
        line-height: 35px;
      }

    }

    &--blue {
      font-weight: normal;
      color: #8CD5FE !important;
      margin-bottom: 15px;

      @media(max-width: 1100px) {
        font-size: 42px;
        line-height: 46px;
      }
      @media(max-width: 1100px) {
        font-size: 30px;
        line-height: 35px;
      }
    }

    &--green {
      font-weight: normal;
      color: #A7E88A !important;
      margin-bottom: 15px;

      @media(max-width: 1100px) {
        font-size: 42px;
        line-height: 46px;
      }
      @media(max-width: 1100px) {
        font-size: 30px;
        line-height: 35px;
      }

    }
  }

  &__big-count-text {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

    &--align {
      align-self: flex-end;
      width: 105px;
      margin-right: 16px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.chart-date__results {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-top: 15px;

  @media(max-width: 1100px) {
    font-size: 15px;
    line-height: 20px;
  }
  @media(max-width: 1100px) {
    font-size: 12px;
    line-height: 15px;
  }
  @media(max-width: 720px) {
    font-size: 15px;
    line-height: 20px;
  }

  @media(max-width: 500px) {
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  &--regions {
    font-weight: normal;
    color: #FFFFFF;
    opacity: 0.4;
  }
}

.btn--request-small {
  font-size: 13px;
  line-height: 18px;
  padding: 10px 14px;
}

.courts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #152438;
  font-size: 18px;
  animation: show 0.5s 1;

  padding-top: 40px;
  padding-bottom: 5px;
}

.containers-wrapper {
  display: flex;
  background: #ebedf2;
  flex-direction: column;
  margin-top: -2px;

  @media(max-width: 800px) {
    margin-top: 20px;
  }
}

.section-position {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 375px;
  background: linear-gradient(85.85deg, #4C5767 0%, #536072 100%), #536072;
  margin-bottom: -1px;

  @media(max-width: 1090px) {
    padding: 0;
    background: #485464 !important;
  }
}

.section-position--mobile {
  @media(max-width: 500px) {
    padding: 0;
    background: #4E5A6B !important;
  }
}

.section-position--court {
  background: linear-gradient(85.85deg, #4C5767 0%, #536072 100%), #536072;
  margin-bottom: -1px;
  @media(max-width: 500px) {
    padding: 0;
    position: relative;
    background: #485464
  }
}

.mobile {
  display: none;

  @media (max-width: 500px) {
    display: block;
    position: relative;
    top: 0;
    padding-right: 24px;

    &::before {
      background-image: url('/assets/icons/arrow-icon-white.svg');
      position: absolute;
      content: "";
      width: 10px;
      height: 9px;
      background-repeat: no-repeat;
      background-size: 100%;
      right: 0;
      top: 8px;
    }
  }

}

.mobile--rotate::before {
  transform: rotate(180deg);
  top: 2px;
  background-image: url('/assets/icons/arrow-icon-white.svg');
  position: absolute;
  content: "";
  width: 10px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: 100%;
  right: 0;
}

.not-mobile {
  @media (max-width: 500px) {
    display: none;
  }
}

.overlay {
  display: none;
  @media (max-width: 500px) {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
    background: none;
  }
}

.chart__wrapper {
  @media (max-width: 820px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  @media (max-width: 500px) {
    background: #485464;
  }
}

.chart__block-wrapper {
  @media (max-width: 820px) {
    margin-left: 0;
    margin-right: 0;
  }
  @media (max-width: 500px) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 20px;
    background: #4E5A6B;
    &:first-of-type {
      margin: 0 20px;
      width: 91%;
      min-width: 335px;
    }
  }
}

.chart-date__big-count {
  @media (max-width: 793px) {
    color: initial;
    background: none;
  }
}

.chart__header-blue {
  position: relative;
  margin-left: 5px;

  @media (max-width: 793px) {
    margin-left: 0;
    a {
      margin-left: 0;
    }
    a::after {
      position: absolute;
      content: "";
      top: 13px;
      background-image: url('/assets/icons/title-dropdown-blue.svg');
      width: 11px;
      height: 7px;
      background-repeat: no-repeat;
      background-size: 100%;
      right: 0;
    }
  }

  &--open a::after {
    transform: rotate(180deg);
  }
}


.chart__wrapper:last-child {
  @media (max-width: 793px) {
    border-bottom: none;
  }
}

.search__mobile {
  display: none;

  @media(max-width: 1090px) {
    display: block;
    margin: auto;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 13px;
    line-height: 18px;
    color: #152438;
    padding: 11px 15px 11px 40px;
    width: fit-content;
    position: absolute;
    top: 8px;
    left: 50%;
    z-index: 40;
    transform: translateY(-50%);
    transform: translateX(-50%);

    p {
      position: relative;
    }

    p::before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      background-image: url(/assets/images/icon-search-blue.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      left: -26px;
      top: 0;
      z-index: 30;
    }
  }

  @media(max-width: 768px) {
    top: 0;
  }

}
