@import "variables";

.tariff {
  width: 100%;
  height: 100%;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 100%;
  }

  &--width {
    width: 49%;
    max-width: none;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &-card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    background: $g__white_background;
    border: 1px solid rgba(21, 36, 56, 0.15);

    @media (max-width: 768px) {
      margin: 20px 0 15px;
    }

    &--mobile {
      display: none;

      @media (max-width: 768px) {
        width: 100%;
        display: flex;
        padding: 20px;
        font-size: 20px;
        line-height: 28px;
        border-radius: 5px;
        margin-bottom: 15px;
        align-items: center;
        background: #FFFFFF;
        box-sizing: border-box;
        justify-content: center;
        border: 1px solid $g__link_color;
      }
    }

    &--highlight {
      position: relative;
      background: #FFFFFF;
      box-shadow: 0px 3px 8px rgba(0, 175, 236, 0.2);

      &::before {
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        content: "";
        height: 100%;
        position: absolute;
        border-radius: 5px;
        border: 2px solid $g__link_color;
      }

      &::after {
        left: 0;
        right: 0;
        top: -22px;
        font-size: 12px;
        padding-top: 2px;
        color: #FFFFFF;
        font-weight: 700;
        content: "Выбран";
        line-height: 20px;
        position: absolute;
        text-align: center;
        padding-bottom: 2px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        background: $g__link_color;
        border-radius: 5px 5px 0 0;
      }

    }

    &__title {
      font-size: 18px;
      margin-top: 30px;
      font-weight: 500;
      line-height: 21px;
      font-style: normal;
      position: relative;
      text-align: center;
      font-family: Roboto, serif;
      color: $g__text_color_primary;

      &--hit {
        right: 0;
        top: -30px;
        width: 54px;
        height: 54px;
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('/assets/images/hit.svg');
      }
    }

    .progress-risk {
      padding-top: 20px;
      text-align: center;

      .text {
        top: -18px;
        display: flex;
        font-size: 16px;
        position: relative;
        font-weight: normal;
        justify-content: center;
        color: $g__text_color_primary;
      }
    }

    &__price {
      display: flex;
      flex-direction: row;
      padding: 15px 20px 0;
      align-items: baseline;
      justify-content: space-between;

      .old-price {
        line-height: 20px;
        color: $g__text_color_secondary;
        text-decoration-line: line-through;
      }

      .discount {
        line-height: 20px;
        margin-right: 30px;
        margin-left: 15px;
        color: $g__alert_color;

        @media (max-width: 991px) {
          margin: 0;
        }

        @media (max-width: 767px) {
          flex-grow: 1;
          text-align: right;
          margin-right: 30px;
          margin-left: 15px;
        }
      }

      .full-price {
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        text-align: right;
        font-style: normal;
        font-family: Roboto, serif;
        color: $g__text_color_primary;
      }
    }

    &__description {
      padding: 20px;
      font-style: normal;
      font-family: Roboto, serif;
      color: $g__text_color_primary;

      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .title {
        font-weight: bold;
        font-size: 13px;
      }

      .item {
        display: flex;
        padding: 3px 0;
        font-size: 15px;
        font-weight: normal;
        justify-content: space-between;
      }

      .info-icon {
        z-index: 30;
        cursor: help;
        min-width: 20px;
        min-height: 20px;
        max-height: 20px;
        margin-left: 5px;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/assets/images/info-icon.svg");

        .info-tooltip {
          left: 50%;
          z-index: 2;
          width: 212px;
          bottom: 30px;
          display: none;
          padding: 10px;
          max-width: 212px;
          position: absolute;
          border-radius: 5px;
          box-sizing: border-box;
          background-color: #FFFFFF;
          transform: translateX(-50%);
          border: 1px solid rgba(21, 36, 56, 0.15);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  
          @media (max-width: 767px) {
            right: 0;
            left: auto;
            transform: none;
          }
        }

        &:hover {
          background-image: url("/assets/images/info-icon-active.svg");

          .info-tooltip {
            display: block;
          }
        }
      }
    }
  }
}

.prices-wrapper {
  display: flex;
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

.hide {
  display: none;
}