@import 'variables'; // не исправлять, иначе путь будет неправильный

.ng_tel {
  width: 100%;
}

.error_heading {
  text-align: center;
  font-size: 14px;
  margin-bottom: 18px;
}

.mail_labels {
  font-size: 0.8125rem;
  top: 15px;
  left: 20px;
}

.error_container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;

  @media (max-width: 767px) {
    margin-top: 10px;
  }
}

.code_label {
  margin-bottom: 5px;
}

.error_container_pass {
  display: flex;
  margin-top: 10px;
  margin-bottom: 26px;
}

.disabled {
  pointer-events: none;
  //background-color: #929FAB;
}

.disabled_phone {
  pointer-events: none;
}

.loaderAuth {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid $g__link_color;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.timer_container {
  margin: 10px 10px 10px 0;
}

//.form__input-label_new {
//  font-size: 0.5625rem;
//  line-height: 1.1538461538;
//  left: 10px;
//  top: 5px;
//  transform: none;
//  pointer-events: auto;
//}
.form__input-label_new {
  font-size: 0.875rem;
  line-height: 1.1666666667;
  color: rgba(22, 41, 65, 0.5);
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 21px;
  }
}

.special {
  @media (max-width: 767px) {
    margin-top: 10px;
  }
}

.error--code {
  color: #FF1037 !important;
}

.bordered-blue {
  color: $g__link_color;
  text-decoration: underline;

  span {
    color: $g__link_color;
    text-decoration: underline;
  }
}

@media (max-width: 767px) {
  .form {
    &__input {
      &:focus, &:not(:focus):valid, &:-webkit-autofill, &:not(:empty), &[type=tel]:not(:focus):invalid, &[type=tel]:disabled {
        padding-bottom: 14px;
      }
    }
  }
}

.disabled-email {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.form__pass {
  width: 100%;
  max-width: 600px;

  input {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}


.form__group--fields {
  @media (min-width: 768px) {
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }
}

.form__group--email {
  margin-bottom: 0;

  input {
    //border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.eye-toggle {
  font-size: 27px !important;
  right: 20px;
  top: 20px;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
}
.form__footer {
  cursor: pointer;
}

.support-link {
  display: block;
  text-align: center;
}
