.page-wrapper-code {
  height: calc(100% - 40px);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form__group--fields {
  width: 100%;
}
.inner-form {
  width: 100%;
}
