<header class="header header--centered">
  <a class="header__logo" href="#">
    <img [src]="logoPath" style="max-height: 30px; height: 100%; max-width: none">
  </a>
</header>
<div *ngIf="showPhoneForm" class="page-wrapper-code">
  <p class="personal-data__title">На ваш телефон отправлен смс-код</p>
<div class="container-sm personal-data">
  <div>
    <div class="form__group form__group--fields">
      <div class="inner-form">
        <div class="form__input-wrap">
          <input
            class="form__input form__input--linked field"
            type="tel"
            [(ngModel)]="code"
            (ngModelChange)="loginWIthCode()"
            required>
          <span class="form__input-label">Код Подтверждения</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<footer style="position: fixed; bottom: 0; left: 33%" class="footer footer--centered">
  <p class="footer__lisence-info">{{footerText}}</p>
</footer>
