@import 'projects/themes/1c-start/variables';
.filter-text-result {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 0 10px;

  &--nothing {
    text-align: center;
    margin: 30px auto 50px;
  }

  @media(max-width: 793px) {
    padding: 0 20px 20px;

    &--nothing {
      padding: 0;
      margin-top: 60px;
      margin-bottom: 0;
    }
  }

  @media(max-width: 768px) {
    &--nothing {
      margin-top: 20px;
    }
  }
}

.show-all-link {
  margin-left: 5px;
  color: $g__link_color;
  border-bottom: 1px dotted $g__link_color;
}

.search__btns-wrapper {
  display: none;

  @media(max-width: 793px) {
    position: fixed;
    left: 20px;
    right: 0;
    bottom: 20px;
    padding: 0 20px 0 0;
    display: flex;
    flex-direction: row-reverse;
  }
}

.title {
  grid-area: title;

  @media (max-width: 1260px) {
    p{
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.objects {
  grid-area: objects;
}

.sides {

  @media (max-width: 1260px) {
    grid-area: sides;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
  }
}

.row-white {
  @media (max-width: 1260px) {
    display: grid;
    grid-template-areas:
     'state'
     'title'
     'sides'
     'objects';
  }

  &__subtitle--margin{
    margin-left: 5px;

    @media (max-width: 1260px) {
      margin-left: 0;
    }
  }

  &__title-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @media (max-width: 1260px) {
      flex-direction: column;
    }

  }
}

