<div class="table">
  <div class="table__wrapper--contract">
    <div
      *ngFor="let contract of values$ | async; let i = index"
      id="contractsTable"
      class="table__row row-white row-white--cont"
      (click)="getContract(contract)"
    >
      <div class="row-white__title-text row-white__title-text--cont title">
        <div class="row-white__subtitle-wrapper zz row-white__subtitle-wrapper--cont">
          <p class="row-white__text ">
            {{contract.name}}
            {{contract.contractNumber}}</p>
          <p class="row-white__subtitle row-white__subtitle--margin">от {{contract.date | date:'dd.MM.yyyy'}}</p>
        </div>
      </div>

      <div class="row-white__title-text row-white__title-text--cont sides">
        <span class="row-white__mobile-text">Стороны договоры</span>
        <p class="row-white__text row-white__text--show-more">{{contract.assignor?.name}}</p>
        <p class="row-white__text row-white__text--show-more">{{contract.assignee?.name}}</p>
        <span *ngIf="contract.childCount > 0" class="row-white__text--span">и еще {{contract.childCount}}</span>
      </div>

      <div class="row-white__title-text row-white__title-text--position objects">
        <p class="row-white__subtitle row-white__subtitle--cont objects">{{contract.Objects?.length}} объект</p>
      </div>
      
      <div class="row-white__title-text row-white__title-text--state state">
        <button *ngIf="contract.valid" class="state__btn state__btn--valid">Действует</button>
        <button *ngIf="!contract.valid" class="state__btn state__btn--invalid">Не действует</button>
      </div>

    </div>
  </div>
</div>