<div class="search-wrap" *ngIf="showSearch">
  <form class="search">
    <div class="search__header-mobile">
      <p>Прикрепить документы к делу</p>
      <span class="search__mobile-close" (click)="closeModal()"></span>
    </div>
    <input class="search__input" placeholder="Поиск по объектам"/>
    <div class="search__wrapper">
      <div class="search__wrapper-btns-blocks">
        <div class="search__btn-block">
          <p class="search__label">Наш статус:</p>
          <div class="search__select">
            <button class="search__select-btn"
                    [class.search__select-btn--bold]="getCountCheckedObjects(typeOfObjects)>0">
              {{ getCountCheckedObjects(typeOfObjects) === 0 ? 'Все' : getCountCheckedObjects(typeOfObjects)}}
              <span class="search__select-btn-span"></span>

              <div class="search__hidden-options-wrapper">
                <div class="search__options-wrapper">

                  <div *ngFor="let option of typeOfObjects" class="search__option">
                    <input class="search__option-input" type="checkbox"
                           name="{{option.title}}"
                           id="{{option.id}}"
                           [(ngModel)]="option.isChecked">
                    <label class="search__option-label" for="{{option.id}}">{{option.title}}</label>
                  </div>

                </div>

                <div class="search__btns-wrapper">
                  <button type="button" class="search__btn-cancel" (click)="cleanCheckedObj(typeOfObjects)">Отмена
                  </button>
                  <button type="submit" class="search__btn-submit" onclick="this.blur()">Выбрать</button>
                </div>
              </div>
            </button>

          </div>
        </div>

        <div class="search__btn-block">
          <p class="search__label">Этап:</p>
          <div class="search__select">
            <button class="search__select-btn"
                    [class.search__select-btn--bold]="getCountCheckedObjects(typeOfObjects)>0">
              {{ getCountCheckedObjects(typeOfObjects) === 0 ? 'Все' : getCountCheckedObjects(typeOfObjects)}}
              <span class="search__select-btn-span"></span>


              <div class="search__hidden-options-wrapper">
                <div class="search__options-wrapper">

                  <div *ngFor="let option of typeOfObjects" class="search__option">
                    <input class="search__option-input" type="checkbox" name="{{option.title}}" id="{{option.id}}"
                           [(ngModel)]="option.isChecked">
                    <label class="search__option-label" for="{{option.id}}">{{option.title}}</label>
                  </div>

                </div>

                <div class="search__btns-wrapper">
                  <button type="button" class="search__btn-cancel" (click)="cleanCheckedObj(typeOfObjects)">Отмена
                  </button>
                  <button type="submit" class="search__btn-submit" onclick="this.blur()">Выбрать</button>
                </div>
              </div>
            </button>

          </div>
        </div>

        <div class="search__btn-block">
          <p class="search__label">Суд:</p>
          <div class="search__select">
            <button class="search__select-btn"
                    [class.search__select-btn--bold]="getCountCheckedObjects(objectsSelect)>0">
              {{ getCountCheckedObjects(objectsSelect) === 0 ? 'Все' : getCountCheckedObjects(objectsSelect)}}
              <span class="search__select-btn-span"></span>


              <div class="search__hidden-options-wrapper">
                <div class="search__options-wrapper">

                  <div *ngFor="let option of objectsSelect" class="search__option">
                    <input class="search__option-input" type="checkbox" name="{{option.title}}" id="{{option.id}}"
                           [(ngModel)]="option.isChecked">
                    <label class="search__option-label" for="{{option.id}}">{{option.title}}</label>
                  </div>

                </div>

                <div class="search__btns-wrapper">
                  <button type="button" class="search__btn-cancel" (click)="cleanCheckedObj(objectsSelect)">Отмена
                  </button>
                  <button type="submit" class="search__btn-submit" onclick="this.blur()">Выбрать</button>
                </div>
              </div>
            </button>

          </div>
        </div>
      </div>

      <div class="search__btns">
        <button class="search__btn btn-search">Найти</button>
        <button class="search__btn btn-clean">Очистить</button>
      </div>

    </div>
  </form>
</div>

<table class="table-gr">
  <tr class="table-gr__head">
    <th>Наш статус</th>
    <th>Истцы</th>
    <th>Ответчики</th>
    <th>№ дела / Суд</th>
    <th>Этап</th>

  </tr>
  <tr class="table-gr__row" *ngFor="let court of courtMassive">
    <td class="table-gr__type table-gr__first">
      <span class="table-gr__mobile-title">Наш статус:</span>
      {{court.status}}
    </td>
    <td class="table-gr__second">
      <span class="table-gr__mobile-title">Истцы</span>
      {{court.applicant}}
    </td>
    <td class="table-gr__third">
      <span class="table-gr__mobile-title">Ответчики</span>
      {{court.respondent}}
    </td>
    <td class="table-gr__fourth">
      <span class="table-gr__mobile-title">№ дела / Суд</span>
      <p class="table-gr__name"><b>{{court.number}}</b>
        <span class="table-gr__name-span">{{court.court}}</span></p>
    </td>
    <td class="table-gr__fifth">
      <a class="table-gr__state"
         [class.table-gr__state--green]="court.stage==='Вынесено решение'"
         [class.table-gr__state--yellow]="court.stage==='Подан иск'"
         [class.table-gr__state--orange]="court.stage==='Идет рассмотрение'"
         [class.table-gr__state--red]="court.stage==='Обжалование'"
         [class.table-gr__state--purple]="court.stage==='Исполнение'"
         routerLink="/index/item">{{court.stage}}</a>
    </td>
  </tr>
</table>
<app-pagination
  [totalCount]="10"
  [itemPerPage]="10"
></app-pagination>
