.table-gr {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  z-index: 3;
  position: relative;
  margin-bottom: 10px;

  @media (max-width: 1090px) {
    margin-top: 20px;
  }

  @media (max-width: 650px) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__head {
    height: 57px;

    @media (max-width: 650px) {
      display: flex;
      width: 100%;
      align-items: center;
    }

    @media (max-width: 1070px) {
      display: none;
    }

    th {
      text-align: left;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: #818B95;
      padding: 0 10px;
      white-space: nowrap;

      &:first-of-type {
        padding-left: 0;
      }

      @media (max-width: 650px) {
        flex-grow: 1;
      }
    }
  }

  &__first {
    @media (max-width: 1070px) {
      grid-area: first;
      display: flex;
      .table-gr__mobile-title {
        margin-bottom: 0;
        margin-right: 5px;
        white-space: nowrap;
      }
    }
  }

  &__second {
    width: 28%;
    @media (max-width: 1070px) {
      grid-area: second;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__third {
    width: 23%;
    @media (max-width: 1070px) {
      grid-area: third;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__fourth {
    width: 20%;
    @media (max-width: 1070px) {
      grid-area: fourth;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__fifth {
    @media (max-width: 1070px) {
      grid-area: fifth;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__mobile-title {
    display: none;

    @media (max-width: 1070px) {
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #929FAB;
      margin-bottom: 4px;
      display: block;
    }
  }

  &__name {
    font-size: 15px;
    line-height: 20px;
    color: #152438;

  }

  &__name-span {
    font-size: 13px;
    line-height: 18px;
    color: #929FAB;
    margin-bottom: 0;
    margin-left: 5px;
  }

  &__type {
    font-weight: bold !important;
    font-size: 11px !important;
    line-height: 16px !important;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    @media (max-width: 1070px) {
      font-size: 13px !important;
      line-height: 18px !important;
    }
  }


  &__row {
    background: #FFFFFF;
    border-radius: 5px;
    border-bottom: 10px solid #EBEDF2;

    @media (max-width: 1070px) {
      display: grid;
      flex-direction: column;
      grid-template-areas: 'first fifth'
      'second second'
      'third third'
      'fourth fourth';
      width: 100%;
    }

    td {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: #152438;
      padding: 10px;
      border-bottom: 1px solid #DFE1E7;
      vertical-align: top;
    }
  }
}


.table-gr__row .table-gr__state {
  padding: 6px 10px;
  border-radius: 3px;
  background: #EDEFF4;
  color: #152438;
  height: fit-content;
  white-space: nowrap;
  font-size: 15px;
  line-height: 30px;

  @media (max-width: 1070px) {
    margin-right: 0;
    margin-left: auto;
    padding: 3px 5px;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  &--yellow {
    background: #FCD770;
  }

  &--green {
    background: #A7E889;
  }

  &--red {
    background: #FF889B;
  }

  &--purple {
    background: #CAB1FF
  }

  &--orange {
    background: #FFB36D;
  }

}

.search__wrapper-btns-blocks {
  margin-right: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  @media(max-width: 1010px) {
    flex-grow: 0;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }

}

.search__hidden-options-wrapper {
  left: -57%;
  width: 250px;
  @media(max-width: 540px) {
    left: 0;
  }

}

.search__label {
  margin-right: 5px;
}

.search__select-btn:focus-within .search__select-btn-span {
  transform: rotate(180deg);
  background-image: url('/assets/images/icon-arrow-black.svg');
}

.search {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #EBEDF2 !important;

  @media(max-width: 1090px) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 20px 20px;

  }

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('/assets/images/icon-search-blue.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    left: 27px;
    top: 35px;
    z-index: 30;

    @media(max-width: 1100px) {
      width: 20px;
      height: 20px;
      left: 15px;
      top: 16px;
    }
  }

  &__select-btn {
    font-size: 15px;
    line-height: 18px;
    color: #152438;
    border: none;
    background: white;
    cursor: pointer;
    position: relative;
    padding-right: 23px;
    width: 100%;
    text-align: left;

    @media (max-width: 500px) {
      font-size: 16px;
      line-height: 20px;
    }

    &--dis {
      color: #929FAB;
    }

    &:hover, &:focus-within {
      opacity: 1;
    }
  }

  &__select-btn-span {
    content: "";
    width: 10px;
    height: 6px;
    position: absolute;
    right: 4px;
    top: 6px;
    background-image: url('/assets/images/icon-arrow-black.svg');;
    background-repeat: no-repeat;
    background-size: 10px 6px;
    background-position: center;

    &--dis {
      background-image: url('/assets/images/icon-arr-down.svg');
    }
  }

  &__hidden-options-wrapper {
    display: none;
    width: 280px;
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    right: 0;
    top: 35px;
    z-index: 1000;
  }

  &__options-wrapper {
    max-height: 168px;
    overflow-y: auto;
    margin-bottom: 10px;
  }

  &__option {
    font-size: 15px;
    line-height: 18px;
    color: #152438;
    margin-bottom: 10px;
  }

  &__option-input {
    opacity: 0;
    position: absolute;
  }

  &__option-label {
    position: relative;
    padding-left: 30px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #152438;


    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: #FFFFFF;
      border: 1px solid rgba(146, 159, 171, 0.4);
      box-sizing: border-box;
      border-radius: 3px;
      left: 0;
    }

  }

  &__btns-wrapper {
    text-align: end;
  }

  &__btn-cancel {
    padding: 10px 14px;
    border: 1px solid #00AFEC;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: uppercase;
    color: #00AFEC;
    background-color: white;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    margin-right: 15px;
    cursor: pointer;
  }

  &__btn-submit {
    border: none;
    padding: 10px 14px;
    background: #00AFEC;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
  }

  &__input {
    flex-grow: 0;
    margin-right: 20px;
    padding: 15px 15px 15px 54px;
    font-size: 15px;
    line-height: 18px;
    background: white;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    min-width: 316px;

    @media(max-width: 1100px) {
      padding: 14px 14px 14px 44px;
      font-size: 16px;
      line-height: 20px;
    }

    @media(max-width: 1010px) {
      margin-right: 10px;
    }

    &::placeholder {
      color: #929FAB;
    }

    @media(max-width: 1280px) {
      min-width: 300px;
    }

    @media(max-width: 500px) {
      margin-bottom: 0;
      margin-right: 0;
      width: 100%;
    }

  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;

    @media (max-width: 1090px) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
  }

  &__btn-block {
    padding: 14px 7px;
    background: white;
    box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
    margin: 0;
    color: #929FAB;
    font-size: 15px;
    line-height: 18px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;

    p {
      margin-bottom: 0;
    }

    @media(max-width: 1100px) {
      padding: 13px;
      font-size: 16px;
      line-height: 20px;
    }


    &:not(:last-child) {
      margin-right: 5px;

      @media(max-width: 500px) {
        margin-right: 0;
      }
    }

  }

  &__btns {
    display: flex;

    @media (max-width: 1010px) {
      width: 100%;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-top: auto;

      button {
        margin: 0;
      }
    }
  }

  &__select {
    color: #929FAB;
    font-size: 15px;
    line-height: 18px;
    border: none;
    background: #F4F6FA;
    width: 53px;
    position: relative;
    display: flex;
    flex-grow: 1;
  }
}

.search__select:focus-within .search__hidden-options-wrapper {
  display: block;
}

.search__option-input:checked + .search__option-label::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #00AFEC;
  box-sizing: border-box;
  border-radius: 3px;
  left: 0;
  top: 0;
  background-image: url('/assets/images/icon-done.svg');
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: center;
}

.search {
  @media(max-width: 1090px) {
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;

    &::before {
      left: 36px;
      top: 74px;
    }

    input {
      width: 100%;
      margin-bottom: 0;
      max-width: none;
    }
  }
}

.search-wrap {
  @media (max-width: 1090px) {
    min-width: 375px;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    transform: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    max-width: none;
    overflow: scroll;
    display: flex;
    z-index: 2000;
  }
}

.search__header-mobile {
  display: none;

  @media(max-width: 1090px) {
    display: block;
    position: relative;
    margin-left: -20px;
    width: calc(100% + 40px);

    p {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
    }

    padding: 15px 20px;
    background-color: white;
    top: 0;
    z-index: 12;
  }
}

.search__mobile-close {
  display: none;

  @media(max-width: 1090px) {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    margin-left: auto;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      right: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background-image: url("/assets/images/close-icon.svg");

      &:hover {
        cursor: pointer;
      }
    }
  }
}
