@import 'variables';

.title {
  position: relative;
  margin: 30px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  color: $g__text_color_primary;
  background-color: #ffffff;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  width: fit-content;
  padding-right: 30px;

  & p {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
  }

  @media (max-width: 970px) {
    font-size: 20px;
    line-height: 28px;
  }

  @media (max-width: 767px) {
    margin: 20px 0;

    & p {
      max-width: 80%;
      font-family: 'Roboto', sans-serif;
    }
  }

  &:hover {
    color: $g__text_color_primary;
  }

  &--black {
    color: $g__text_color_primary;

    &:hover {
      color: $g__text_color_primary;
    }
  }


}

.right-panel {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  margin-top: 4px;
  justify-content: center;
  @media (max-width: 970px) {
    margin-top: 0;
  }

  .arrow-icon-open {
    transform: rotate(180deg);
    padding-top: 2px;
  }

  .count {
    min-width: 50px;
    height: 36px;
    background: $g__white_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    padding-top: 7px;
    margin-right: 16px;
    color: $g__text_color_primary;

    @media (max-width: 970px) {
      background: #F7F8FB;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 13px;
      line-height: 18px;
      padding: 5px 10px;
      height: fit-content;
      width: 40px;
    }
  }

  .motinoring-btn-link {
    background: #FFFFFF;
    border: 1px solid $g__btn_primary_background;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $g__btn_primary_background;
    margin-right: 15px;
    cursor: pointer;

    @media (max-width: 970px) {
      display: none;
    }

    &--modile {
      display: none;
      @media (max-width: 970px) {
        display: block;
      }
    }
  }
}

.empty {
  position: relative;
  color: #B1B5B9 !important;
  cursor: default;

  .right-panel {
    .count {
      color: #B1B5B9;
    }
  }

  &:hover {
    cursor: default;
    color: #B1B5B9;
  }
}


.monitoring-accordion {
  color: $g__link_color;
}


.prompt__question {
  right: 0;
  top: 9px;

  .prompt__hidden {
    right: initial;

    p {
      font-weight: normal;
    }
  }

}
