.page-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 136px;
    width: 100%;
    background-color: #F7F8FB;
  }

  @media (max-width: 767px) {
    &::before {
      height: 126px;
    }
  }
}

.heading-h1 {
  margin-bottom: 30px;
}

.form-section {
  position: relative;
  z-index: 2;
  @media (min-width: 768px) {
    padding-top: 40px;
  }
}

.form__input {
  -webkit-appearance: none;
}

.btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.form__group:not(:last-child) {
  margin-bottom: 20px;
}

.form__checkbox-wrap {
  padding: 15px 20px;
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
}

.form__checkbox-label {
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 15px;
  color: #929FAB;
}

.dropdown__label:not(:last-of-type) {
  margin-bottom: 17px;
}

.dropdown__label {
  padding-left: 32px;
  line-height: 20px;
}

.btn {
  @media (max-width: 479px) {
    width: 100%;
  }
}

.form__input:focus ~ .form__input-label, .form__input:not(:focus):valid ~ .form__input-label, .form__input:-webkit-autofill ~ .form__input-label, .form__input:not(:empty) ~ .form__input-label, .form__input[type=tel]:disabled ~ .form__input-label {
  left: 20px;
}
