<div class="page-wrapper">
  <main>
    <section class="form-section">
      <div class="container-md">
        <h1 class="heading-h1 heading-h1--centered">Пригласить пользователя</h1>
        <form [formGroup]="form">
          <div class="form__group">
            <div class="form__input-wrap">
              <input formControlName="name"
                     class="form__input field"
                     type="text"
                     required>
              <span class="form__input-label">Ваше имя</span>
            </div>
          </div>
          <div class="form__group">
            <div class="form__input-wrap">
              <input formControlName="surname"
                     class="form__input field"
                     type="text"
                     required>
              <span class="form__input-label">Фамилия</span>
            </div>
          </div>
          <div class="form__group">
            <div class="form__input-wrap">
              <input formControlName="position"
                     class="form__input form__input--linked field"
                     type="text"
                     required>
              <span class="form__input-label">Должность</span>
            </div>
          </div>
          <div class="form__group">
            <div class="form__input-wrap">
              <input formControlName="email"
                     class="form__input form__input--linked field"
                     type="text"
                     required>
              <span class="form__input-label">Email</span>
            </div>
          </div>
          <div class="form__group">
            <div class="form__checkbox-wrap">
              <span class="form__checkbox-label">Пригласить в организации</span>
              <ng-container
                *ngFor="let organization of organizations; let i = index"
                formArrayName="organizations"
              >
                <input type="checkbox"
                       class="visual-hidden dropdown__input"
                       [formControlName]="i"
                       [value]="organization?.id"
                       id="{{ organization?.id }}"/>
                <label class="dropdown__label" for="{{ organization?.id }}">
                  <span>{{ organization?.name }}</span>
                </label>
              </ng-container>
            </div>
          </div>
          <div class="btn-wrap">
            <button class="btn btn__auth" type="button">Отправить приглашение</button>
          </div>
        </form>
      </div>
    </section>
  </main>
</div>
