@import 'variables';

.page-wrap {
  background-color: $g__body_background;

  @media(max-width: 767px) {
    background-color: #F7F8FB;
  }
}

.protection {
  margin-bottom: 40px;
  padding-top: 23px;
  padding-bottom: 45px;
  background-color: $header__light_background;

  @media(max-width: 767px) {
    background-color: #F7F8FB;
    padding-bottom: 0;
    padding-top: 20px;
  }
}

.protection__advantages {
  display: flex;
  flex-wrap: wrap;

  @media(max-width: 767px) {
    display: block;
    margin-top: 20px;
  }
}

.protection__advantages-item {
  position: relative;
  width: 31.2%;
  margin-right: 3.2%;
  padding: 20px;
  min-height: 295px;
  mix-blend-mode: normal;
  border-radius: 10px;
  border: 1px solid $g__outline_color;
  background: $g__white_background;

  & svg  {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 80px;
    height: 80px;
    fill: $monitoring_promo__icon_color;

    @media(max-width: 767px) {
      display: none;
    }
  }

  &:nth-child(3) {
    margin-right: 0;
  }

  @media(max-width: 767px) {
    width: 100%;
    min-height: auto;
    margin-right: 0;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      display: none;
    }
  }
}

.protection__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $g__text_color_primary;
}

.protection__item {
  position: relative;
  width: 85%;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  color: $g__text_color_primary;
  z-index: 2;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media(max-width: 991px) {
    width: 100%;
  }
}

.risk {
  margin-bottom: 40px;
  background: $g__form_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;

  @media(max-width: 767px) {
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

.risk-modal__title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;

  @media(max-width: 767px) {
    font-size: 24px;
  }
}

.risk-modal__table-block{
  display: flex;
}

.risk-modal__table-inner-wrap{
  display: flex;
  flex-direction: column;
  gap: 16px
}

.risk-modal__showMore{
  font-weight: normal;
  font-size: 18px;
  line-height: 1.33;
  text-decoration-line: underline;
  color: $g__link_color;
  margin-bottom: 0;
}

.classes__item-wrapper{
  display: flex;
  input{
    opacity: 0;
    position: absolute;
  }
}

.classes__item {
  cursor: pointer;
}

.risk__content {
  padding: 50px;

  @media(max-width: 991px) {
    padding: 30px;
  }

  @media(max-width: 767px) {
    padding: 10px;
  }
}

.risk__important {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $g__alert_color;

  @media(max-width: 767px) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}

.risk-modal__desc {
  margin-bottom: 20px;

  @media(max-width: 767px) {
    padding: 9px;

    & p {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.risk__recommendation-wrap {
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  background: $g__success_background;
  border: 1px solid $g__success_color;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;

  @media(max-width: 767px) {
    padding: 9px;
    margin: 20px 0;
  }
}

.risk__recommendation {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $g__success_color;

  @media(max-width: 767px) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}

.risk__recommendation-desc {
  font-size: 18px;
  line-height: 24px;

  @media(max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.risk__btn-wrap {
  display: flex;
  justify-content: space-between;

  @media(max-width: 767px) {
    flex-direction: column;
  }
}

.risk__btn {
  padding: 15px 20px;
  font-weight: 700;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $g__btn_attr_text_color;
  background-color: transparent;
  border: 1px solid $g__btn_attr_border_color;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  @media(max-width: 767px) {
    order: 2;
  }

  &--decide {
    color: $g__btn_primary_color;
    background-color: $g__btn_primary_background;
    border: 1px solid $g__btn_primary_background;

    @media(max-width: 767px) {
      order: 1;
      margin-bottom: 20px;
    }
  }

  &--ask {
    @media(max-width: 767px) {
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      border: 1px solid $g__outline_color;
    }
  }
}

.img-alone-object {
  width: 420px;
  height: 296px;
}

.non-border {
  border: none;
}

// TODO: вынести спинеры в shared стили
:host ::ng-deep {
  .spinner-full {
    margin-bottom: 23px;
    & img {
      width: 23px;
      height: 23px;
    }
  }
}
