@import 'projects/themes/1c-start/variables';

:host {
  width: 100%;
  position: fixed;
  z-index: 3;
  bottom: 0;

  @media (max-width: 768px) {
    bottom: 60px;
  }
}

.info-modal {
  background: $corp_search__sticky_background;
  backdrop-filter: blur(10px);

  @media (max-width: 768px) {
    position: fixed;
    width: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding: 11px;
    margin: 0 auto;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__block {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      width: 100%;
      &:first-of-type {
        padding-bottom: 9px;
        margin-bottom: 10px;
        flex-direction: row-reverse;
      }
    }

    p {
      margin-bottom: 0;
      color: $corp_search__sticky_text_color;
      font-size: 16px;
      line-height: 20px;
      margin-right: 14px;
    }

    a {
      font-size: 16px;
      line-height: 20px;
      text-decoration-line: underline;
      color: $corp_search__sticky_text_color;

      @media (max-width: 768px) {
        text-decoration-line: none;
        border-radius: 5px;
        background: none;
        padding: 10px 12px;
        font-family: 'Roboto', sans-serif;
        color: $corp_search__sticky_btn_active_background !important;
        cursor: pointer;
        background: #FFFFFF;
      }

      &:hover {
        cursor: pointer;
      }
    }

    button {
      position: relative;
      box-sizing: border-box;
      border-radius: 5px;
      background: none;
      padding: 10px 12px;
      font-family: 'Roboto', sans-serif;
      color: $corp_search__sticky_btn_active_color;
      cursor: pointer;
      background: $corp_search__sticky_btn_active_background;
      border: 1px solid $corp_search__sticky_btn_active_background;

      @media (max-width: 768px) {
        position: absolute;
        right: 110px;
        top: 10px;
        width: 67%;
        font-size: 16px;
      }

      &.is-active {
        opacity: 1;
        visibility: visible;
        transition: all ease .5s;
      }

      &:not(.is-disabled, .is-loading) :hover {
        background: #02b4f3;
      }

      &.is-disabled {
        opacity: 0;
        visibility: hidden;
        transition: all ease .5s;

        @media (max-width: 769px) {
          background: #929FAB;
          border: 1px solid #929FAB;
          visibility: visible;
          opacity: 1;
          transition: none;
        }
      }

      &.is-loading {
        padding-right: 36px;
        cursor: default;
        color: #EBEDF2;
      }

      app-spinner {
        position: absolute;
        top: 10px;
        right: 12px;
        animation: fadeInSpinner 1s;
      }
    }
  }


  &__icon {
    margin-left: 30px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url("/assets/images/search-small.png");
      width: 20px;
      height: 24px;
      top: 2px;
      left: -30px;
    }
  }
}


@keyframes fadeInSpinner {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
