@import 'projects/themes/1c-start/variables';

.app-button {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 1px solid $g__btn_primary_background;
  box-sizing: border-box;
  border-radius: 4px;
  width: fit-content;
  background: $g__btn_primary_background;
  color: $g__btn_primary_color;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  position: relative;

  @media(max-width: 767px) {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
  }

  &--loading {
    padding-right: 50px;

    &::after {
      content: '';
      display: inline-block;
      background: url("/assets/images/oval-white.svg");
      background-size: cover;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 55px;
    }
  }

  &--big {
    font-size: 18px;
    line-height: 18px;
    padding: 19px 24px;

    @media(max-width: 767px) {
      line-height: 24px;
      padding: 12px;
      text-transform: none;
    }
  }

  &--white {
    background-color: white;
    color: #00AFEC;
  }
}

.btn-blue__offline {
  text-transform: uppercase;

  @media (max-width: 790px) {
    width: 100%;
  }
}

.pr {
  position: relative;
}
