@import "../../common";

.table-corp {
  display: grid;
  width: 99.5%;
  margin: auto;
  position: relative;

  &-loading::before {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.grid-template__item-header {
  font-size: 13px;
  line-height: 18px;
  color: #929FAB;
  margin-bottom: 0;
  white-space: nowrap;
}

.searches-container {
  margin-top: 20px;
}

.header-searches-history {
  margin-bottom: 20px;
  padding: 0;
  gap: 0;
}
