<div class="monitoring-modal ">
  <div class="monitoring-modal__wrap monitoring-modal__wrap--portfolio">
    <div class="portfolio-add-obj">
      <div class="portfolio-add-obj__header-wrapper">
        <h1 class="portfolio-add-obj__header">Добавить все объекты по ИНН или ОГРН/ОГРНИП</h1>
        <span class="portfolio-add-obj__header-close" (click)="closeModal()"></span>
      </div>
      <div class="portfolio-add-obj__search search" style="background: none !important; position: relative">
        <button class="search__wrapper">
          <div *ngIf="legalName" class="legal-name" [ngStyle]="getDynamicMarginForLegalName()">
            {{desktop ? trimString(legalName, 58) : trimString(legalName, 22)}}
          </div>
          <input
            #innOgrn="ngModel"
            id="searchByINNInput"
            class="search__input"
            [(ngModel)]="searchText"
            (ngModelChange)="legalChanged()"
            (keyup.enter)="searchObjects()"
            placeholder="Введите ИНН или ОГРН"
            pattern='^(?=[0-9]*$)(?:.{10}|.{12}|.{13}|.{15})$'
          />
        </button>
        <button
          (click)="searchObjects()"
          [ngClass]="{ 'disabled_wo_style': !searchText || innOgrn.invalid && (innOgrn.dirty || innOgrn.touched)}"
          class="search__btn"
          id="searchByINNButton"
        >Найти</button>
      </div>

      <div class="portfolio-add-obj__card-wrapper">
        <button [ngClass]="disableTradeMarks ? 'disabled' : ''"
                class="card" id="tradeMarksCard"
                [class.disabled]="disableTradeMarks"
                [attr.disabled]="disableTradeMarks ? true : null"
                (click)="navigateToTechnicalTask('trademarks')">
          <div class="card__img card__img--mobile"
               [class.card__img--disabled]="disableTradeMarks"
               [class.card__img--active]="disableTradeMarks ? true : null">
            TM
          </div>
          <p class="card__title">Товарный знак</p>
          <p class="card__subtitle">Словесный, изобразительный или комбинированный</p>
        </button>

        <button class="card" id="patentsCard"
                [class.disabled]="disablePatents"
                [attr.disabled]="disablePatents ? true : null"
                (click)="navigateToTechnicalTask('patents')">
          <div class="card__img"
               [class.card__img--disabled]="disablePatents"
               [class.card__img--active]="!disablePatents">
            <div class="card__svg">
              <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path class="card__svg-color"
                        [class.card__svg-color--dis]="disablePatents"
                        d="M23.625 42H18.375C17.15 42 15.75 40.95 15.75 38.85V35.175C15.75 33.425 14.875 31.85 13.475 30.625C10.325 28.175 8.75 24.675 8.75 20.825C8.925 14.175 14.35 8.925 20.825 8.75C24.15 8.75 27.3 9.975 29.575 12.25C31.85 14.525 33.25 17.675 33.25 21C33.25 24.675 31.675 28.175 28.7 30.45C27.125 31.675 26.25 33.6 26.25 35.35V39.375C26.25 40.775 25.025 42 23.625 42ZM21 10.5C15.4 10.5 10.675 15.225 10.5 20.825C10.5 24.15 11.9 27.3 14.525 29.225C16.45 30.8 17.5 32.9 17.5 35.175V38.85C17.5 39.2 17.5 40.25 18.375 40.25H23.625C24.15 40.25 24.5 39.9 24.5 39.375V35.35C24.5 33.075 25.725 30.625 27.65 29.05C30.1 27.125 31.5 24.15 31.5 21C31.5 18.2 30.45 15.575 28.35 13.475C26.425 11.55 23.8 10.5 21 10.5Z"
                        fill="#00AFEC"/>
                  <path class="card__svg-color"
                        [class.card__svg-color--dis]="disablePatents"
                        d="M25.375 36.75H16.625C16.1 36.75 15.75 36.4 15.75 35.875C15.75 35.35 16.1 35 16.625 35H25.375C25.9 35 26.25 35.35 26.25 35.875C26.25 36.4 25.9 36.75 25.375 36.75Z"
                        fill="red"/>
                  <path class="card__svg-color"
                        [class.card__svg-color--dis]="disablePatents"
                        d="M21 5.25C20.475 5.25 20.125 4.9 20.125 4.375V0.875C20.125 0.35 20.475 0 21 0C21.525 0 21.875 0.35 21.875 0.875V4.375C21.875 4.9 21.525 5.25 21 5.25Z"
                        fill="#00AFEC"/>
                  <path class="card__svg-color"
                        [class.card__svg-color--dis]="disablePatents"
                        d="M32.7252 10.1501C32.5502 10.1501 32.2002 10.1501 32.0252 9.97509C31.6752 9.62509 31.6752 9.10009 32.0252 8.75009L34.4752 6.3001C34.8252 5.9501 35.3502 5.9501 35.7002 6.3001C36.0502 6.6501 36.0502 7.1751 35.7002 7.5251L33.2502 9.97509C33.2502 9.97509 32.9002 10.1501 32.7252 10.1501Z"
                        fill="#00AFEC"/>
                  <path class="card__svg-color"
                        [class.card__svg-color--dis]="disablePatents"
                        d="M41.125 21.875H37.625C37.1 21.875 36.75 21.525 36.75 21C36.75 20.475 37.1 20.125 37.625 20.125H41.125C41.65 20.125 42 20.475 42 21C42 21.525 41.65 21.875 41.125 21.875Z"
                        fill="#00AFEC"/>
                  <path class="card__svg-color"
                        [class.card__svg-color--dis]="disablePatents"
                        d="M35.1752 36.05C35.0002 36.05 34.6502 36.05 34.4752 35.875L32.0252 33.425C31.6752 33.075 31.6752 32.55 32.0252 32.2C32.3752 31.85 32.9002 31.85 33.2502 32.2L35.7002 34.65C36.0502 35 36.0502 35.525 35.7002 35.875C35.7002 36.05 35.5252 36.05 35.1752 36.05Z"
                        fill="#00AFEC"/>
                  <path class="card__svg-color"
                        [class.card__svg-color--dis]="disablePatents"
                        d="M6.8248 36.05C6.6498 36.05 6.2998 36.05 6.1248 35.875C5.7748 35.525 5.7748 35 6.1248 34.65L8.5748 32.2C8.9248 31.85 9.4498 31.85 9.7998 32.2C10.1498 32.55 10.1498 33.075 9.7998 33.425L7.3498 35.875C7.1748 36.05 6.9998 36.05 6.8248 36.05Z"
                        fill="#00AFEC"/>
                  <path class="card__svg-color"
                        [class.card__svg-color--dis]="disablePatents"
                        d="M4.375 21.875H0.875C0.35 21.875 0 21.525 0 21C0 20.475 0.35 20.125 0.875 20.125H4.375C4.9 20.125 5.25 20.475 5.25 21C5.25 21.525 4.9 21.875 4.375 21.875Z"
                        fill="#00AFEC"/>
                  <path class="card__svg-color"
                        [class.card__svg-color--dis]="disablePatents"
                        d="M9.2748 10.1503C9.0998 10.1503 8.7498 10.1503 8.5748 9.97529L6.1248 7.35029C5.7748 7.00029 5.7748 6.47529 6.1248 6.12529C6.4748 5.77529 6.9998 5.77529 7.3498 6.12529L9.7998 8.57529C10.1498 8.92529 10.1498 9.45029 9.7998 9.80029C9.6248 9.97529 9.4498 10.1503 9.2748 10.1503Z"
                        fill="#00AFEC"/>
                  <path class="card__svg-color"
                        [class.card__svg-color--dis]="disablePatents"
                        d="M28 21.875C27.475 21.875 27.125 21.525 27.125 21C27.125 17.675 24.325 14.875 21 14.875C20.475 14.875 20.125 14.525 20.125 14C20.125 13.475 20.475 13.125 21 13.125C25.375 13.125 28.875 16.625 28.875 21C28.875 21.525 28.525 21.875 28 21.875Z"
                        fill="#00AFEC"/>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="42" height="42" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
          <p class="card__title">Патент</p>
          <p class="card__subtitle">Патент на изобретение, полезную модель или промышленный образец</p>
        </button>

        <button [ngClass]="disableSoft ? 'disabled' : ''"
                class="card" id="programsCard"
                [class.disabled]="disableSoft"
                [attr.disabled]="disableSoft ? true : null"
                (click)="navigateToTechnicalTask('swdb')">
          <div class="card__img"
               [class.card__img--disabled]="disableSoft">
            <div class="card__svg">
              <svg width="42" height="32" viewBox="0 0 42 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="disableSoft"
                      d="M38.9238 0.865234H36.7696C36.4298 0.865234 36.1544 1.14061 36.1544 1.48047C36.1544 1.82032 36.4298 2.0957 36.7696 2.0957H38.9238C39.9415 2.0957 40.7695 2.92373 40.7695 3.94141V6.77148H1.23047V3.94141C1.23047 2.92373 2.05841 2.0957 3.07617 2.0957H34.0683C34.4082 2.0957 34.6836 1.82032 34.6836 1.48047C34.6836 1.14061 34.4082 0.865234 34.0683 0.865234H3.07617C1.37993 0.865234 0 2.24516 0 3.94141V10.7238C0 11.0637 0.275461 11.3391 0.615234 11.3391C0.955008 11.3391 1.23047 11.0637 1.23047 10.7238V8.00195H40.7695V23.864C40.7695 24.2039 41.0449 24.4792 41.3848 24.4792C41.7246 24.4792 42 24.2039 42 23.864V3.94141C42 2.24516 40.6201 0.865234 38.9238 0.865234Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="disableSoft"
                      d="M41.3848 25.8434C41.0449 25.8434 40.7695 26.1188 40.7695 26.4587V28.0588C40.7695 29.0764 39.9415 29.9045 38.9238 29.9045H3.07617C2.05841 29.9045 1.23047 29.0764 1.23047 28.0588V13.3643C1.23047 13.0244 0.955008 12.749 0.615234 12.749C0.275461 12.749 0 13.0244 0 13.3643V28.0588C0 29.755 1.37993 31.1349 3.07617 31.1349H38.9238C40.6201 31.1349 42 29.755 42 28.0588V26.4587C42 26.1189 41.7246 25.8434 41.3848 25.8434Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="disableSoft"
                      d="M8.89877 14.2329C8.6585 13.9927 8.26893 13.9927 8.02874 14.2329L4.33159 17.93C4.21617 18.0454 4.15137 18.2019 4.15137 18.3651C4.15137 18.5283 4.21617 18.6847 4.33159 18.8002L7.97985 22.4484C8.09995 22.5685 8.25745 22.6286 8.41487 22.6286C8.57228 22.6286 8.72978 22.5685 8.84988 22.4484C9.09015 22.2081 9.09015 21.8186 8.84988 21.5783L5.63663 18.3652L8.89877 15.1031C9.13912 14.8627 9.13912 14.4732 8.89877 14.2329Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="disableSoft"
                      d="M17.1725 22.4484C17.2925 22.5685 17.45 22.6286 17.6075 22.6286C17.7649 22.6286 17.9224 22.5685 18.0425 22.4484L21.6908 18.8002C21.8061 18.6848 21.8709 18.5283 21.8709 18.3651C21.8709 18.2019 21.8061 18.0455 21.6908 17.93L17.9936 14.2329C17.7533 13.9927 17.3637 13.9927 17.1236 14.2329C16.8833 14.4732 16.8833 14.8627 17.1236 15.103L20.3858 18.3651L17.1725 21.5783C16.9322 21.8187 16.9322 22.2082 17.1725 22.4484Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="disableSoft"
                      d="M10.8272 24.7147C11.0753 24.7147 11.3092 24.5635 11.4025 24.3176L15.7742 12.8006C15.8948 12.4829 15.735 12.1276 15.4174 12.007C15.0998 11.8864 14.7444 12.0463 14.6239 12.3639L10.2521 23.8811C10.1315 24.1987 10.2913 24.554 10.609 24.6746C10.6808 24.7019 10.7546 24.7147 10.8272 24.7147Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="disableSoft"
                      d="M2.70703 4.46387C2.70703 5.48155 3.53497 6.30957 4.55273 6.30957C5.57049 6.30957 6.39843 5.48155 6.39843 4.46387C6.39843 3.44619 5.57049 2.61816 4.55273 2.61816C3.53497 2.61816 2.70703 3.44619 2.70703 4.46387ZM5.16796 4.46387C5.16796 4.80315 4.89201 5.0791 4.55273 5.0791C4.21345 5.0791 3.9375 4.80315 3.9375 4.46387C3.9375 4.12459 4.21345 3.84863 4.55273 3.84863C4.89201 3.84863 5.16796 4.12459 5.16796 4.46387Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="disableSoft"
                      d="M7.47852 4.46387C7.47852 5.48155 8.30646 6.30957 9.32422 6.30957C10.342 6.30957 11.1699 5.48155 11.1699 4.46387C11.1699 3.44619 10.342 2.61816 9.32422 2.61816C8.30646 2.61816 7.47852 3.44619 7.47852 4.46387ZM9.93945 4.46387C9.93945 4.80315 9.6635 5.0791 9.32422 5.0791C8.98494 5.0791 8.70898 4.80315 8.70898 4.46387C8.70898 4.12459 8.98494 3.84863 9.32422 3.84863C9.6635 3.84863 9.93945 4.12459 9.93945 4.46387Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="disableSoft"
                      d="M12.249 4.46387C12.249 5.48155 13.077 6.30957 14.0947 6.30957C15.1125 6.30957 15.9404 5.48155 15.9404 4.46387C15.9404 3.44619 15.1125 2.61816 14.0947 2.61816C13.077 2.61816 12.249 3.44619 12.249 4.46387ZM14.71 4.46387C14.71 4.80315 14.434 5.0791 14.0947 5.0791C13.7554 5.0791 13.4795 4.80315 13.4795 4.46387C13.4795 4.12459 13.7554 3.84863 14.0947 3.84863C14.434 3.84863 14.71 4.12459 14.71 4.46387Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="disableSoft"
                      d="M27.5215 14.8818H31.377C32.3946 14.8818 33.2227 14.0538 33.2227 13.0361C33.2227 12.0185 32.3946 11.1904 31.377 11.1904H27.5215C26.5038 11.1904 25.6758 12.0185 25.6758 13.0361C25.6758 14.0538 26.5038 14.8818 27.5215 14.8818ZM27.5215 12.4209H31.377C31.7162 12.4209 31.9922 12.6969 31.9922 13.0361C31.9922 13.3754 31.7162 13.6514 31.377 13.6514H27.5215C27.1822 13.6514 26.9062 13.3754 26.9062 13.0361C26.9062 12.6969 27.1822 12.4209 27.5215 12.4209Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="disableSoft"
                      d="M27.5215 19.8037H37.6934C38.711 19.8037 39.5391 18.9757 39.5391 17.958C39.5391 16.9403 38.711 16.1123 37.6934 16.1123H27.5215C26.5038 16.1123 25.6758 16.9403 25.6758 17.958C25.6758 18.9757 26.5038 19.8037 27.5215 19.8037ZM27.5215 17.3428H37.6934C38.0326 17.3428 38.3086 17.6187 38.3086 17.958C38.3086 18.2973 38.0326 18.5732 37.6934 18.5732H27.5215C27.1822 18.5732 26.9062 18.2973 26.9062 17.958C26.9062 17.6187 27.1822 17.3428 27.5215 17.3428Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="disableSoft"
                      d="M27.5215 24.7256H34.6717C35.6894 24.7256 36.5174 23.8976 36.5174 22.8799C36.5174 21.8622 35.6894 21.0342 34.6717 21.0342H27.5215C26.5038 21.0342 25.6758 21.8622 25.6758 22.8799C25.6758 23.8976 26.5038 24.7256 27.5215 24.7256ZM27.5215 22.2646H34.6717C35.011 22.2646 35.287 22.5406 35.287 22.8799C35.287 23.2192 35.011 23.4951 34.6717 23.4951H27.5215C27.1822 23.4951 26.9062 23.2192 26.9062 22.8799C26.9062 22.5406 27.1822 22.2646 27.5215 22.2646Z"
                      fill="#00AFEC"/>
              </svg>
            </div>
          </div>
          <p class="card__title">Программа / база данных</p>
          <p class="card__subtitle">Программа для ЭВМ или база данных</p>
        </button>

        <button class="card" id="domainsCard"
                [class.disabled]="false"
                [attr.disabled]="null"
                (click)="navigateToTechnicalTask('domains')">
          <div class="card__img"
               [class.card__img--disabled]="false">
            WWW
          </div>
          <p class="card__title">Домен</p>
          <p class="card__subtitle">Домен 2-го уровня в зонах RU, SU или РФ</p>
        </button>

        <button class="card" id="firmNameCard"
                [class.disabled]="true"
                [attr.disabled]="null">
          <div class="card__img"
               [class.card__img--disabled]="true">
            <div class="card__svg">
              <svg width="42" height="38" viewBox="0 0 42 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="true"
                      d="M39.9 6.4001H30.8V3.6001C30.7976 1.66792 29.2322 0.10249 27.3 0.100098H14.7C12.7678 0.10249 11.2024 1.66792 11.2 3.6001V6.4001H2.1C0.940283 6.4001 0 7.34038 0 8.5001V24.0819C0.00444335 24.9699 0.563965 25.7598 1.4 26.0582V35.8001C1.4 36.9598 2.34028 37.9001 3.5 37.9001H38.5C39.6597 37.9001 40.6 36.9598 40.6 35.8001V26.0589C41.436 25.7602 41.9959 24.9699 42 24.0819V8.5001C42 7.34038 41.0597 6.4001 39.9 6.4001ZM12.6 3.6001C12.6 2.44038 13.5403 1.5001 14.7 1.5001H27.3C28.4597 1.5001 29.4 2.44038 29.4 3.6001V6.4001H28V3.6001C28 3.21353 27.6866 2.9001 27.3 2.9001H14.7C14.3134 2.9001 14 3.21353 14 3.6001V6.4001H12.6V3.6001ZM26.6 6.4001H15.4V4.3001H26.6V6.4001ZM39.2 35.8001C39.2 36.1867 38.8866 36.5001 38.5 36.5001H3.5C3.11343 36.5001 2.8 36.1867 2.8 35.8001V26.2988L18.2 28.4228V30.2001C18.2 31.3598 19.1403 32.3001 20.3 32.3001H21.7C22.8597 32.3001 23.8 31.3598 23.8 30.2001V28.4228L39.2 26.2988V35.8001ZM22.4 30.2001C22.4 30.5867 22.0866 30.9001 21.7 30.9001H20.3C19.9134 30.9001 19.6 30.5867 19.6 30.2001V26.0001C19.6 25.6135 19.9134 25.3001 20.3 25.3001H21.7C22.0866 25.3001 22.4 25.6135 22.4 26.0001V30.2001ZM40.6 24.0819C40.6003 24.4309 40.3437 24.7269 39.9981 24.7758L39.804 24.8024L23.8 27.0094V26.0001C23.8 24.8404 22.8597 23.9001 21.7 23.9001H20.3C19.1403 23.9001 18.2 24.8404 18.2 26.0001V27.0094L2.00259 24.7758C1.65703 24.7272 1.39966 24.4312 1.4 24.0819V8.5001C1.4 8.11353 1.71343 7.8001 2.1 7.8001H39.9C40.2866 7.8001 40.6 8.11353 40.6 8.5001V24.0819Z"
                      fill="#00AFEC"/>
              </svg>
            </div>
          </div>
          <p class="card__title">Фирменное наименование</p>
          <p class="card__subtitle">Название юридического лица</p>
        </button>

        <button class="card" id="authorsCard"
                [class.disabled]="true"
                [attr.disabled]="null">
          <div class="card__img"
               [class.card__img--disabled]="true">
            <div class="card__svg">
              <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="true"
                      d="M30.6097 1.65057L6.3744 0.0295513C5.58436 -0.0227846 4.89915 0.57629 4.84624 1.36609L4.65667 4.20084H1.43555C0.644027 4.20084 0 4.84487 0 5.63639V40.5379C0 41.3294 0.644027 41.9734 1.43555 41.9734H19.9862C20.147 41.9734 20.3063 41.9077 20.4203 41.7942L23.2207 39.0062C23.2491 39.0123 23.2782 39.0171 23.308 39.0191L28.089 39.3388C28.852 39.3892 29.5659 38.7686 29.6171 38.0023L31.9463 3.17881C31.9987 2.39722 31.3912 1.70282 30.6097 1.65057ZM20.6014 39.8691V35.5953C20.6014 35.4822 20.6934 35.3902 20.8065 35.3902H25.0639L20.6014 39.8691ZM28.3894 37.9203C28.3694 38.0441 28.2966 38.1078 28.1712 38.1112L24.3748 37.8572L26.9794 35.2641C27.0954 35.1487 27.1606 34.9918 27.1606 34.8281V5.63647C27.1606 4.84495 26.5166 4.20092 25.7251 4.20092H19.3272C18.5318 4.20092 18.5318 5.43139 19.3272 5.43139H25.7251C25.8382 5.43139 25.9302 5.52343 25.9302 5.63647V34.1597H20.8065C20.015 34.1597 19.3709 34.8037 19.3709 35.5953V40.743H1.43555C1.32251 40.743 1.23047 40.6509 1.23047 40.5379V5.63647C1.23047 5.52343 1.32251 5.43139 1.43555 5.43139H16.0509C16.8463 5.43139 16.8463 4.20092 16.0509 4.20092H5.88984L6.07392 1.44828C6.09394 1.32433 6.1667 1.26076 6.29221 1.2574L30.5275 2.87833C30.6515 2.89835 30.7151 2.97111 30.7185 3.09662L28.3894 37.9203Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="true"
                      d="M21.9702 19.4453H5.19043C4.85066 19.4453 4.5752 19.7208 4.5752 20.0605C4.5752 20.4003 4.85066 20.6758 5.19043 20.6758H21.9702C22.31 20.6758 22.5854 20.4003 22.5854 20.0605C22.5854 19.7208 22.31 19.4453 21.9702 19.4453Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="true"
                      d="M21.9702 23.7344H5.19043C4.85066 23.7344 4.5752 24.0098 4.5752 24.3496C4.5752 24.6894 4.85066 24.9648 5.19043 24.9648H21.9702C22.31 24.9648 22.5854 24.6894 22.5854 24.3496C22.5854 24.0098 22.31 23.7344 21.9702 23.7344Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="true"
                      d="M4.5752 15.7715C4.5752 16.1113 4.85066 16.3867 5.19043 16.3867H21.9702C22.31 16.3867 22.5854 16.1113 22.5854 15.7715C22.5854 15.4317 22.31 15.1562 21.9702 15.1562H5.19043C4.85066 15.1562 4.5752 15.4317 4.5752 15.7715Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="true"
                      d="M7.53125 11.4824C7.53125 11.8222 7.80671 12.0977 8.14648 12.0977H19.0146C19.3543 12.0977 19.6298 11.8222 19.6298 11.4824C19.6298 11.1426 19.3543 10.8672 19.0146 10.8672H8.14648C7.80671 10.8672 7.53125 11.1426 7.53125 11.4824Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="true"
                      d="M15.9757 35.9941C14.8692 35.9971 13.7626 35.9994 12.6561 36.0012C12.2842 36.0017 11.9123 36.0022 11.5405 36.0025C10.8666 36.003 10.4126 35.8677 10.2616 35.1265C10.134 34.4997 9.2474 34.584 9.07513 35.1265C8.64939 36.4666 7.94523 35.9415 7.55083 35.0401C7.15732 34.1408 7.05642 33.1342 6.88457 32.1772C6.75824 31.4739 5.69462 31.6711 5.67608 32.3408C5.65164 33.2227 5.56928 34.0906 5.34542 34.9459C5.1145 35.8284 4.76841 36.6765 4.42486 37.5197C4.12536 38.2548 5.31629 38.571 5.61136 37.8469C5.91578 37.0997 6.22061 36.3485 6.44751 35.5734C6.86915 36.5874 7.74147 37.7341 8.98449 37.0583C9.21573 36.9325 9.43172 36.7538 9.62129 36.5454C10.2677 37.2923 11.2298 37.2334 12.1301 37.2324C13.412 37.2307 14.6939 37.2279 15.9758 37.2246C16.7674 37.2225 16.7688 35.9921 15.9757 35.9941Z"
                      fill="#00AFEC"/>
                <path class="card__svg-color"
                      [class.card__svg-color--dis]="true"
                      d="M41.5021 20.2158C41.1824 19.8976 40.7429 19.7345 40.2967 19.7224L39.8317 19.7247V18.8454C39.8317 18.3098 39.5136 17.744 39.0579 17.4622V16.2237C39.0579 13.6751 35.0899 13.6861 35.0899 16.2357V17.4744C34.6257 17.7613 34.3143 18.2734 34.3143 18.8567V19.7576C32.2663 19.8971 32.2604 23.0179 34.3166 23.1399C34.3297 25.8941 34.329 28.6032 34.3143 31.4035C34.3102 32.1757 35.5406 32.221 35.5447 31.41C35.5595 28.6073 35.5602 25.8958 35.5471 23.1393L38.5996 23.1242C38.5996 23.1242 38.5957 32.2172 38.5957 36.3135C38.5957 38.31 35.5425 38.3232 35.5425 36.2927L35.5436 35.1708C35.5916 34.3767 34.3634 34.3027 34.3153 35.0966V36.1494C34.3153 37.0518 34.5944 37.816 35.1347 38.3535C35.1827 39.6408 35.7251 40.8865 36.6415 41.7952C36.9044 42.0561 37.2684 41.9763 37.5228 41.7803C38.4551 40.8464 38.9805 39.6152 39.0133 38.301C39.4194 37.8965 39.826 37.4892 39.826 36.0947L39.8265 30.4878C40.8905 30.7904 41.9999 29.9671 41.9999 28.8516V21.4137C41.9999 20.9606 41.8231 20.5352 41.5021 20.2158ZM35.5447 19.746V18.8567C35.5447 18.6746 35.6697 18.522 35.8378 18.4766L38.3008 18.4644C38.3697 18.4814 38.4333 18.514 38.4848 18.5654C38.5599 18.6401 38.6012 18.7395 38.6012 18.8454V19.7309L35.5447 19.746ZM37.0763 15.4803C37.454 15.4803 37.8273 15.8506 37.8273 16.2237V17.2217L36.3203 17.2292V16.2357C36.3203 15.8212 36.6593 15.4824 37.0763 15.4803ZM37.0754 40.4097C36.7894 40.0043 36.5825 39.5458 36.467 39.0639C36.6575 39.1052 36.8504 39.1267 37.0435 39.1267C37.2589 39.1267 37.4744 39.0999 37.6865 39.0482C37.5738 39.5374 37.3672 39.9987 37.0754 40.4097ZM40.7694 28.8516C40.7694 29.4341 39.83 29.48 39.83 28.8623C39.83 28.8623 39.831 23.0403 39.8317 22.5066C39.8321 22.1624 39.546 21.8906 39.2117 21.8906L34.422 21.9144C33.8279 21.9144 33.8418 20.9849 34.428 20.982L40.3027 20.9529C40.5868 20.9771 40.7423 21.1307 40.7693 21.4137V28.8516H40.7694Z"
                      fill="#00AFEC"/>
              </svg>
            </div>
          </div>
          <p class="card__title">Авторское право</p>
          <p class="card__subtitle">Произведение науки, литературы или искусства</p>
        </button>

      </div>


      <div class="portfolio-add-obj__card-wrapper">
        <button class="card mini-card"
                [class.disabled]="true"
                [attr.disabled]="true">
          <p class="card__title">Договор</p>
          <p class="card__subtitle">Лицензионный/сублицензионный или концессии/субконцессии</p>
        </button>
        <button class="card mini-card"
                [class.disabled]="true"
                [attr.disabled]="true">
          <p class="card__title">Претензия</p>
          <p class="card__subtitle">Досудебная претензия</p>
        </button>
        <button class="card mini-card"
                [class.disabled]="true"
                [attr.disabled]="true">
          <p class="card__title">Суды и споры</p>
          <p class="card__subtitle">Судебные арбитражные дела</p>
        </button>
      </div>
    </div>
  </div>
  <div (click)="closeModal()" class="monitoring-modal__overlay"></div>
</div>
