@import 'variables';

.monitoring-modal__wrap--portfolio {
  background: none;
  border: none;
  box-shadow: none;
  @media (max-width: 793px) {
    max-height: 99.9%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

.monitoring-modal__wrap {
  max-width: 813px;
}

.monitoring-modal__wrap {

  @media (max-width: 793px) {
    top: 0;
    right: 0;
    left: 0;
    transform: none;
  }
}

.portfolio-add-obj {
  @media (max-width: 793px) {
    background: $g__body_background;
    padding: 15px 20px;
  }

  &__search {
    margin-bottom: 60px;

    @media (max-width: 793px) {
      padding: 0;
      margin-bottom: 40px;
    }
  }

  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: 793px) {
      margin-bottom: 0;
    }
  }

  &__header-wrapper {
    display: flex;
    justify-content: space-between;

  }

  &__header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    color: $request_modal__title_color;

    @media (max-width: 793px) {
      font-size: 20px;
      line-height: 28px;
      width: 73%;
    }
  }


  &__header-close {
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;

    @media (max-width: 793px) {
      width: 24px;
      height: 24px;
    }

    &:after {
      position: absolute;
      left: -5px;
      bottom: 12px;
      width: 34px;
      height: 2px;
      content: '';
      background: $request_modal__icon_close_color;
      transform: rotate(-45deg);

      @media (max-width: 793px) {
        width: 23px;
        left: 2px;
        bottom: 11px;
        background: $g__text_color_primary;
      }
    }

    &:before {
      position: absolute;
      right: -2px;
      bottom: 11px;
      width: 34px;
      height: 2px;
      content: '';
      background: $request_modal__icon_close_color;
      transform: rotate(45deg);

      @media (max-width: 793px) {
        width: 23px;
        background: $g__text_color_primary;
      }
    }
  }
}

.card:hover .card__svg-color {
  fill: $request_modal__item_hovered_color
}

.card:hover .card__img {
  color: $request_modal__item_hovered_color
}

.card {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 16px 14px 25px;
  width: 261px;
  font-family: 'Roboto', sans-serif;
  height: 200px;
  margin-bottom: 15px;
  color: $g__text_color_primary;
  cursor: pointer;

  @media (max-width: 793px) {
    width: 100%;
    height: fit-content;
    padding: 20px 20px 20px 100px;
    align-items: flex-start;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
  }

  &:hover {
    background: $request_modal__item_hovered_background;
    color: $request_modal__item_hovered_color;
  }

  &__svg-color {
    fill: $request_modal__item_icon_color;
  }

  &__svg-color--dis {
    fill: $g__text_color_secondary;
  }

  &__svg-color--active {
    fill: $request_modal__item_hovered_color;
  }

  &--active {
    background: #00AFEC;
    color: white;
  }

  &__img {
    margin-bottom: 14px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: $request_modal__item_icon_color;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    text-transform: uppercase;

    &--disabled {
      color: $g__text_color_secondary;
    }

    &--active {
      color: $request_modal__item_hovered_color;
    }

    @media (max-width: 793px) {
      position: absolute;
      left: 20px;
      top: 20px;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;
      width: 60px;
      height: 60px;
      font-size: 16px;
      line-height: 19px;

      &--mobile {
        font-size: 24px;
        line-height: 28px;
      }
    }

  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 8px;

    @media (max-width: 793px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__subtitle {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    @media (max-width: 793px) {
      font-size: 16px;
      line-height: 20px;
      max-width: 90%;
    }
  }
}

.search {
  display: flex;
  width: 100%;
  animation: none;
  padding: 0;
  border-radius: 5px;

  @media (max-width: 793px) {
    flex-direction: column;

    input {
      margin-bottom: 20px;
    }
  }

  &::before {
    display: none;
  }

  &__wrapper {
    position: relative;
    border: none;
    background: $g__body_background;
    display: flex;
    width: 100%;
    padding: 0;
    margin-right: 0;
    overflow-x: hidden;

    .legal-name {
      position: absolute;
      color: #AAAAAA;
      font-size: 15px;
      top: 17px;
      z-index: 10;
      white-space: nowrap;
    }

    input {
      max-width: none;
      margin-right: 0;
    }
  }

  &__btn {
    background: $g__btn_primary_background;
    border: 1px solid $g__btn_primary_background;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: $g__btn_primary_color;
    padding: 16px 52px;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    @media (max-width: 793px) {
      border-radius: 5px;
      font-size: 18px;
      line-height: 24px;
      padding: 12px;
      text-transform: none;
    }
  }

  &__input {
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    padding: 16px 19px;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
  }
}

.mini-card {
  width: 261px;
  height: 142px;
  padding-top: 26px;

  @media (max-width: 793px) {
    width: 100%;
    align-items: flex-start;
    height: fit-content;
    padding-top: 20px;
    padding-left: 20px;
  }
}

.disabled {
  position: relative;
  color: $g__text_color_secondary;
  cursor: not-allowed;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(235, 237, 242, 0.7);
    border-radius: 10px;

  }
}

.disabled_wo_style {
  pointer-events: none;
  cursor: not-allowed;
}

.monitoring-modal__overlay {
  background: $request_modal__background;
}
