@import 'projects/themes/1c-start/variables';

.type{
  width: 21%;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  grid-area: type;

  @media (max-width: 1260px) {
    width: 100%;
    padding-top: 0;
  }
}

.search__input--special{
  min-width: 280px;

  @media (max-width: 1260px) {
    margin-right: 0;
    margin-bottom: 5px;
  }

}

.search__wrapper {
  @media (max-width: 1100px) {
    flex-direction: column;
  }
}

.search__btn-block{
  @media (max-width: 1100px) {
    margin-bottom: 5px;
    margin-right: 0;
  }
}

.search__input-wrap{
  @media (max-width: 1100px) {
    margin-right: 0;
  }
}

.number{
  width: 10%;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;;
  align-items: center;
  height: fit-content;
  justify-content: flex-start;
  grid-area: number;

  @media (max-width: 1260px) {
    width: 100%;
    padding: 0;
    justify-content: flex-end;
  }
}

.name{
  width: 32%;
  grid-area: name;

  @media (max-width: 1260px) {
    width: 100%;
    padding-top: 0;
    p{
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.date{
  width: 15%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: date;

  @media (max-width: 1260px) {
    width: 100%;
    justify-content: space-between;
    padding: 0;
  }
}

.state{
  width: 14%;
  justify-content: flex-end;
  flex-direction: row;

  @media (max-width: 1260px) {
    width: fit-content;
  }
}

.row-white {
  align-items: initial;

  @media (max-width: 1260px) {
    display: grid;
    grid-template-areas:
     'state state'
     'type number'
     'name name'
     'date date';
  }

  &__mobile-text {
    @media (max-width: 1260px){
      margin-bottom: 0;
    }
  }

  &__text--gray {
    margin-right: 0;
  }

}

.search__btn-block{
  min-width: 219px;
}

.state__btn{
  height: fit-content;
  margin: auto 0;
}

