<div class="table">
  <div class="table__wrapper--patent">
    <div
      *ngFor="let patent of values$ | async; let i = index"
      id="patentsTable"
      class="table__row row-white row-white--cont"
      (click)="openPopupInfo(patent)"
    >
      <div class="row-white__title-text type">
        <p class="row-white__text ">{{patent.type}}</p>
      </div>

      <div class="row-white__title-text number">
        <p class="row-white__text row-white__text--gray">{{ patent.id }}</p>
      </div>

      <div class="row-white__title-text name">
        <p class="row-white__text">{{ patent.name }}</p>
      </div>

      <div class="row-white__title-text date">
        <span class="row-white__mobile-text">Действует до</span>
        <p class="row-white__text ">{{ patent.registrationDate | date:'dd.MM.yyyy' }}</p>
      </div>

      <div class="row-white__title-text row-white__title-text--state state">
        <button
          *ngIf="patent.mappedStatus.status"
          [ngClass]="patent.mappedStatus.status === 'действует' ? 'state__btn state__btn--valid' : 'state__btn state__btn--invalid'">
          {{patent.mappedStatus.status}}
        </button>
      </div>

    </div>
  </div>
</div>

<app-portfolio-patent
  *ngIf="showPopupInfoPatent"
  [data]="popupInfoData"
  [showRemoveBtn]="true"
  (modalEvent)="closePopupInfo()"
  (removeObject)="removeObject($event)"
></app-portfolio-patent>