@charset "UTF-8";
@import 'variables';

.container--search {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  max-width: 1240px;

  @media (max-width: 767px) {
    display: none;
  }
}

.container--search.mobile {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: $g__body_background;
  z-index: 3;
}

.search {
  &::before {
    display: none;
  }
}

.search.mobile {
  flex-direction: column;
  padding-top: 50px;
  height: 100%;
  overflow-y: auto;
}

.search__input-wrap {
  position: relative;
  width: 100%;
  max-width: 410px;
  margin-right: 5px;

  @media (max-width: 767px) {
    flex: 0 0 auto;
    max-width: none;
    margin-bottom: 10px;
  }

  & svg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 17px;
    top: 15px;
    z-index: 30;
    stroke: $g__link_color;
  }
}

.search__input {
  margin-right: 0;

  &:disabled {
    box-shadow: none !important;
  }

  @media (max-width: 767px) {
    max-width: none;
  }
}

.search__btn-block {
  white-space: nowrap;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;

  &.disabled {
    pointer-events: none;
    cursor: inherit;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
}

.search__select-btn--bold .search__label {
  color: $g__text_color_primary;
}

.search__label {
  margin-right: 10px;
  text-overflow: ellipsis;
  color: $g__text_color_secondary;
}

.search__btns {
  @media (max-width: 767px) {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.search-style {
  z-index: 2;
  border-top: 1px solid $g__outline_color;

  &--filter {
    @media (max-width: 767px) {
      padding-top: 20px;
    }
  }
}

.search__wrapper {
  flex-grow: 1;

  .search__btn-block {
    flex-grow: 1;
    width: 61%;
    height: 100%;
    min-width: 150px;
  }

  .search__btn-block:last-of-type {
    flex-grow: 1;
    width: 39%;
  }

  @media (max-width: 767px) {
    display: block;
    margin-right: 0;
    flex: 1 0 auto;

    & .search__btn-block {
      width: 100%;
      height: auto;

      &:last-of-type {
        width: 100%;
      }
    }
  }
}

.search__select-btn {
  display: flex;
  width: 100%;
  padding: 15px;
  filter: drop-shadow(0px 2px 4px rgba(21, 36, 56, 0.1));
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(21, 36, 56, 0.15);
  cursor: pointer;
}

.search__wrapper div.search__select {
  width: 0;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.search__hidden-options-wrapper {
  width: 90% !important;
  height: auto !important;

  @media (max-width: 767px) {
    position: static;
    margin-top: 10px;
    width: 100% !important;
  }
}

.search__options-wrapper, .search__btns-wrapper {
  width: 100% !important;
}

.filter-text-description {
  margin: 0 auto 40px;
  max-width: 1240px;
  width: 100%;

  @media(max-width:793px){
    padding: 65px 20px 0;
  }
}

//.filter-text-description {
//  padding-left: 10px;
//}

.unconnected-table {
  &__link{
    margin-left: 5px;
    color:#00AFEC;
    border-bottom: 1px dotted #00AFEC;

    &-wrap{
      margin-bottom: 0;
      width: 100%;
    }

    @media(max-width: 767px) {
      width: 100%;
      padding: 11px;
      margin-left: 0;
      margin-top: 20px;
      display: block;
      font-size: 13px;
      line-height: 18px;
      color: #00AFEC;
      text-align: center;
      background: #FFFFFF;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }

  &__link{
    margin-left: 5px;
    color:#00AFEC;
    border-bottom: 1px dotted #00AFEC;

    &-wrap{
      margin-bottom: 0;
      width: 100%;
    }

    @media(max-width: 767px) {
      width: 100%;
      padding: 11px;
      margin-left: 0;
      margin-top: 20px;
      display: block;
      font-size: 13px;
      line-height: 18px;
      color: #00AFEC;
      text-align: center;
      background: #FFFFFF;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }
}

.filter-text-result {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 0 10px;

  &--nothing {
    text-align: center;
    margin: 30px auto 50px;
  }

  @media(max-width: 793px){
    padding: 65px 20px 0;

    &--nothing {
      padding: 0;
      margin-top: 60px;
      margin-bottom: 0;
    }
  }

  @media(max-width: 768px){
    &--nothing {
      margin-top: 20px;
    }
  }
}

.show-all-link {
  margin-left: 5px;
  color: $g__link_color;
  border-bottom: 1px dotted $g__link_color;
}

.disabled_events {
  pointer-events: none;
}

.search__btns-wrapper {
  display: none;

  @media(max-width: 793px) {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 0;
    display: flex;
    width: auto !important;
  }
}

.btn-clean {
  order: 1;
  border: 1px solid $g__btn_primary_background;
  color: $g__btn_primary_background;
}

.btn-search {
  order: 2;
  margin: 0;
}
