//.risk-modal__table-block{
//  display: flex;
//}
//.risk-modal__table-inner-wrap{
//  display: flex;
//  flex-direction: column;
//  gap: 16px
//}
//
.risk-modal__showMore {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.33;
  text-decoration-line: underline;
  color: #00AFEC;
}

.classes__item-wrapper{
  display: flex;
  input{
    opacity: 0;
    position: absolute;
  }
}

.about-risk__title {
  color: #152438;
  margin-bottom: 15px;

  @media(max-width: 767px) {
    margin-bottom: 10px;
  }
}

.about-risk__source-wrap {
  @media(max-width: 767px) {
    background-color: #F7F8FB;

    &--your {
      background-color: #fff;
    }
  }
}

.about-risk__source-name {
  max-width: 100%;
}

.about-risk__source {
  margin-bottom: 30px;

  @media(max-width: 767px) {
    margin-bottom: 0;
  }
}

.about-risk__mktu {
  padding-left: 10px;
  padding-top: 12px;
  background-color: #F4F6FA;

  &--your {
    padding-left: 0;
  }

  @media(max-width: 767px) {
    padding-top: 0;

    &--your {
      padding-left: 10px;
      background-color: #fff;
    }
  }
}

.about-risk__date {
  padding-left: 10px;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #F4F6FA;

  & p {
    font-size: 18px;
    line-height: 24px;
  }

  &--your {
    padding-left: 0;
  }

  @media(max-width: 767px) {
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 0;

    & p {
      font-size: 16px;
      line-height: 20px;
    }

    &--your {
      padding-left: 10px;
      background-color: #fff;
    }
  }
}

.about-risk__applicant {
  margin: 0 0 20px;
  padding-left: 10px;

  @media(max-width: 767px) {
    background-color: #F4F6FA;

    & p {
      margin-bottom: 0;
    }
  }
}

.risk-modal__about-wrap {
  border-bottom: none;
  padding-bottom: 20px;

  @media (max-width: 767px) {
    padding-bottom: 0;
    & img {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.img-container-object {
  padding: 26px 47px;
  margin-right: 40px;
  min-width: 420px;
  height: 290px;
  display: flex;
  text-align: center;
  justify-content: center;
  border: 1px solid #DFE1E7;
  box-sizing: border-box;
  border-radius: 10px;

  @media (max-width: 970px) {
    margin-right: 0;
    margin-bottom: 20px;
    min-width: auto;
  }
}
