* {
  font-family: 'Whitney', sans-serif;
}

.open-monitoring-widget{
  @media(max-width: 1200px) {
    margin-top: 40px;
  }

  @media(max-width: 768px) {
    margin-top: 0;
  }

  &__title{
    font-size: 22px;
    line-height: 1;
    color: #1A1B1C;
    font-weight: normal;
  }

  &__link{
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #00AAD5;
  }

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__table-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 16px 24px;
    background: #FFFFFF;
    border-radius: 6px;
    height: 344px;

    @media(max-width: 768px) {
      height: fit-content;
    }

    &--empty{
      background: none;
      align-items: center;
      justify-content: center;
      border: 1px solid #D9DDE7;

      h3{
        font-size: 25px;
        line-height: 1.4;
        margin-bottom: 15px;
      }

      p{
        font-size: 18px;
        margin-bottom: 15px;
      }

      a{
        font-size: 18px;
        text-decoration-line: underline;
        color: #00AFEC;
      }

      img {
        width: 62px;
        margin-bottom: 34px;

        @media(max-width: 575px) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__row{
    display: flex;
    padding: 20px 0;
    box-shadow: inset 0px -1px 0px #DDE0EB;

    @media(max-width: 768px) {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-areas:
        "logo main-info"
        "state state";
    }
  }

  &__logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #F7F8F9;
    border-radius: 24px;
    margin-right: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #9BA4B1;
    flex-shrink: 0;
    overflow: hidden;

    @media(max-width: 768px) {
      grid-area: logo;
    }
  }

  &__logo-img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    background: #F7F8F9;
    object-fit: cover;
  }

  &__main-info-wrapper{
    display: flex;
    margin-right: 16px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media(max-width: 768px) {
      grid-area: main-info;
    }

  }

  &__risk{
    display: flex;
    align-items: center;
    width: 10px;
    height: 26px;
    flex-shrink: 0;
    margin: auto 16px auto 0;
  }

  &__text-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 395px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #1A1B1C;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__subtext{
    font-size: 14px;
    line-height: 18px;
    color: #818A97;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__state-wrapper{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 168px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media(max-width: 768px) {
      margin-top: 10px;
      grid-area: state;
      max-width: none;
    }
  }

  &__state{
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    text-align: right;
    color: #1A1B1C;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media(max-width: 768px) {
      text-align: left;
    }
  }

  &__date{
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #818A97;

    @media(max-width: 768px) {
      text-align: left;
    }
  }
}

.critical{
  color: #FF5D5D;
}

.recommended{
  color: #F6BB42;
}

.possible {
  color: #7DC66D;
}
