@import 'variables';

.section-position__color-bg {
  background: $header__light_background;
  padding: 0 0 19px;

  @media (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 20px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.section-position--padding {
  padding-bottom: 0;
  padding-top: 0;
}

.section-position--white {
  background-color: $g__body_background;
  border-top: 1px solid $g__outline_color;
  position: relative;
  z-index: 2;
  //min-height: 100%;
}

.header-court {
  display: flex;
  flex-direction: column;

  &__card-extra {
    font-size: 13px;
    line-height: 18px;
    color: $g__text_color_secondary;
    display: flex;
    flex-direction: column;
  }

  &__card-subtitle {
    display: flex;
    width: 100%;

    p {
      font-size: 16px;
      line-height: 24px;
      color: $g__text_color_primary;
      position: relative;
    }

    span {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #00AFEC;
      font-size: 13px;
      line-height: 16px;
      border: 1px solid #D9D9D9;
      box-sizing: border-box;
      border-radius: 50%;
      margin-left: 10px;
    }
  }

  &__card-bottom {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;

    @media(max-width: 767px) {
      margin-bottom: 15px;
      line-height: 28px;
    }
  }

  &--card-top {
    display: flex;
    flex-direction: column;
  }

  &__card {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 33%;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width: 991px) {
      margin-bottom: 12px;
    }

    &--court {
      background: #C9E0FF;
      flex-grow: 1;
    }

    &--finished {
      flex-grow: 1;
      background: #E6E6E6;
    }

    &--claim {
      background: #FFEA9F;
      flex-grow: 1;
    }

    &--penalty {
      background: #DBF3A8;
      flex-grow: 1;
    }

    &--request {
      background: #EDEFF4;
      flex-grow: 1;
    }
  }

  &__block {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: none;

    &--row {
      align-items: stretch;
      flex-direction: row;

      @media(max-width: 767px) {
        display: block;
      }
    }

    & .header-court__card:not(:last-of-type) {
      margin-right: 40px;

      @media(max-width: 992px) {
        margin-right: 5px;
      }
    }

    & .header-court__card {
      @media(max-width: 767px) {
        width: 100%;
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &--head {
      p {
        font-size: 18px;
        line-height: 24px;
        color: rgba(21, 36, 56, 0.5);
        margin-bottom: 10px;
      }

      h1 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 44px;
        color: $g__text_color_primary;
        margin-bottom: 28px;
        width: fit-content;

        span {
          position: relative;
          width: 22px;
          height: 30px;
          margin-left: 35px;
          cursor: pointer;
        }

        @media (max-width: 767px) {
          display: flex;
          margin-bottom: 20px;
          font-size: 24px;
          line-height: 32px;

          span {
            margin-left: 10px;
          }
        }

        span::after {
          position: absolute;
          content: "";
          background-size: 100%;
          background-repeat: no-repeat;
          width: 20px;
          height: 28px;
          bottom: 0;
          right: 0;
          background-image: url(/assets/images/gray-edit.svg);
          @media (max-width: 767px) {
            width: 16px;
            height: 25px;
            top: 6px;
          }
        }
      }

    }
  }

  &__block .header-court__subtitle {
    color: $g__text_color_secondary;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 12px;
  }
}

.header-court__block:first-of-type {
  @media (max-width: 850px) {
    padding-bottom: 0;
  }
}

.header-court__block .header-court__state {
  padding: 6px 10px;
  font-size: 13px;
  line-height: 18px;
  background: #DBF3A8;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 10px;
  width: fit-content;
  color: $g__text_color_primary;

  &--invalid {
    background: #E6E6E6;
  }
}

.header-court__card .header-court__card--gray {
  color: $g__text_color_secondary;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0;
}

.header-court__card--court-height {
  min-height: 170px;

  @media(max-width: 767px) {
    min-height: auto;
  }
}

.header-court__card--docs-height {
  min-height: 150px;

  @media(max-width: 767px) {
    min-height: auto;
  }
}

.header-court__card .header-court__card--link {
  text-decoration: underline;
  cursor: pointer;
}

.header-court__card .header-court__sub {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;

  @media(max-width: 767px) {
    font-size: 13px;
    line-height: 18px;
  }
}

.control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -1px;
  padding-bottom: 0;

  @media (max-width: 768px) {
    padding-bottom: 30px;
    min-width: max-content;
    margin-bottom: 0;
  }

  &__btn {
    background: $request__tab_background;
    border: 1px solid $g__outline_color;;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    width: 31.2%;
    padding: 20px;
    color: $g__text_color_primary;
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    z-index: 1;

    & span {
      color: $g__text_color_primary;
    }

    @media(max-width: 768px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      min-height: 103px;
      min-width: 150px;
      width: 33%;
      padding: 15px 10px;
      background: #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    &:hover {
      opacity: 1;
    }

    &--active {
      background: $g__body_background;
      border-radius: 10px 10px 0px 0px;
      border: 1px solid $g__outline_color;
      border-bottom-color: $g__body_background;
      z-index: 3;

      @media(max-width: 768px) {
        background: $header__light_background;
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-sizing: border-box;
        box-shadow: none;
        border-radius: 5px;
        z-index: 1;
      }
    }

    &--court {
      width: 48.5%;

      @media(max-width: 375px) {
        width: 165px;
      }
    }

  }

  &__count {
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 25px;
    line-height: 40px;

    @media (max-width: 768px) {
      position: static;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.inset {
  //background-color: white;
  padding: 37px 10px 60px 10px;

  @media (max-width: 991px) {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  @media (max-width: 767px) {
    padding: 30px 20px;
  }
}

//.contracts-ins {
//  &:first-of-type {
//    padding-right: 40px;
//  }
//
//  @media(max-width: 767px) {
//    flex-direction: column;
//  }
//
//  &__block {
//    display: block;
//
//    @media (max-width: 767px) {
//      width: 100%;
//
//      &:last-of-type {
//        width: 100%;
//      }
//    }
//  }
//
//  &--column {
//    flex-direction: column;
//  }
//}

.contracts-ins {
  display: grid;
  grid-template-columns: 1fr 31%;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "comment options"
  "comment file";


  @media(max-width: 991px) {
    grid-template-columns: 60% 40%;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-areas: "options"
    "comment"
    "file";
  }
}

.contracts-ins__block {
  &--options {
    grid-area: options;
  }

  &--comment {
    grid-area: comment;
    padding-right: 40px;

    @media(max-width: 767px) {
      padding: 0;
    }
  }

  &--file {
    grid-area: file;
  }
}

.contracts-ins__block--special {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media(max-width: 767px) {
    display: block;
  }

  .docs {
    border: none;
    padding-top: 0;
    width: 31.3%;

    @media(max-width: 767px) {
      width: 100%;
      padding-top: 20px;
    }

    &__blocks {
      margin-bottom: 0;
    }
  }

  .objects {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-right: 40px;

    @media(max-width: 767px) {
      margin-right: 0;
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
    }
  }

  .text {
    margin-top: 0;

    @media(max-width: 992px) {
      margin-bottom: 50px;
    }

    & p {
      width: 65%;

      @media(max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.contracts-ins__block--column {
  flex-direction: column;
}

.comment__wrap {
  position: relative;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  background: $g__attention_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  textarea {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-family: inherit;
    color: $g__text_color_primary;
    background-color: transparent;
    border: none;
    resize: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-input-placeholder {
      font-size: inherit;
      line-height: inherit;
      color: $g__text_color_secondary;
    }

    &::-moz-placeholder {
      font-size: inherit;
      line-height: inherit;
      color: $g__text_color_secondary;
    }

    &:-moz-placeholder {
      font-size: inherit;
      line-height: inherit;
      color: $g__text_color_secondary;
    }

    &:-ms-input-placeholder {
      font-size: inherit;
      line-height: inherit;
      color: $g__text_color_secondary;
    }

    &::placeholder {
      font-size: inherit;
      line-height: inherit;
      color: $g__text_color_secondary;
      min-height: 100%;
    }
  }

  @media (max-width: 767px) {
    margin-top: 20px;
    margin-bottom: 20px;
    order: 2;
  }

  h3 {
    text-transform: uppercase;
    color: $g__text_color_secondary;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  span {
    position: absolute;
    width: 16px;
    height: 20px;
    bottom: 10px;
    right: 10px;
    margin-left: 10px;

    &::after {
      position: absolute;
      content: "";
      background-size: 100%;
      background-repeat: no-repeat;
      width: 13px;
      top: 3px;
      height: 20px;
      background-image: url("/assets/images/gray-edit.svg");
    }

    @media (max-width: 767px) {
      position: static;
      display: block;
      margin: 0;

      &::after {
        position: static;
        display: block;
      }
    }
  }
}

.docs__icon .docs__icon--mini {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 5;
  right: -7px;
  top: -6px;
  cursor: pointer;
}

.docs__text-wrapper {

}

.docs__text-wrapper .files-btn {
  display: flex;
  color: $g__text_color_secondary;

  &__see {
    color: $g__link_color;
  }

  a {
    text-decoration: underline;
  }

  p {
    margin: 0 5px;
  }
}

.to-do {
  z-index: 100;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  &--court {
    margin-bottom: 40px;
  }

  @media(max-width: 767px) {
    order: 1;
    margin-bottom: 20px;
  }

  &__btn {
    display: flex;
    margin-bottom: 18px;
    border: 1px solid $g__btn_attr_border_color;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    color: $g__text_color_secondary;
    background-color: $g__white_background;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    &:hover {
      background: fade($g__white_background, 0.9);
    }

    &:first-of-type {
      color: $g__btn_primary_color;
      background: $g__btn_primary_background;
      border: 1px solid $g__btn_primary_background;

      &:hover {
        background: rgba($g__btn_primary_background, 0.9);
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }



    @media(max-width: 767px) {
      margin-bottom: 10px;
    }
  }
}

.docs {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__add {
    grid-row: 1/1;
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    order: 2;

    @media(max-width: 767px) {
      grid-row: 3/4;
      grid-column: 1/3;
      display: block;
      margin-bottom: 20px;
      width: 100%;
      margin-top: 10px;
      padding: 11px;
      font-size: 13px;
      line-height: 18px;
      color: #00AFEC;
      border: 1px solid #00AFEC;
      box-sizing: border-box;
      border-radius: 5px;

      & span {
        color: #00AFEC;
      }
    }
  }

  &__add-text {
    display: none;

    @media(max-width: 767px) {
      display: block;
    }
  }

  &__plus-icon {
    display: block;
    width: 34px;
    height: 34px;

    & svg {
      width: 34px;
      height: 34px;
      & circle {
        fill: $g__btn_primary_background;
      }
      & rect {
        fill: $g__btn_primary_color;
      }
    }

    @media(max-width: 767px) {
      display: none;
    }
  }

  &__main-wrapper {
    display: block;
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }

    h4 {
      grid-row: 1/1;
      grid-column: 1/2;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      font-family: 'Roboto', sans-serif;
      position: relative;
      margin-bottom: 0;

      @media(max-width: 767px) {
        font-size: 20px;
        line-height: 28px;
      }
    }

    &--card {
      gap: 20px;

      .docs__blocks {
        gap: 20px;
      }

      .docs__block {
        width: 366px;
      }

      h4 {
        margin-bottom: 20px;
      }
    }
  }

  &__main-wrapper:not(:last-of-type) {
    margin-bottom: 40px;
  }

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0 !important;

    img {
      width: 100%;
      position: relative;
    }

    @media(max-width: 767px) {
      width: 40px;
      height: 40px;
    }
  }

  &__blocks {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
  }

  &__show {
    margin-top: 10px;
    text-decoration-line: underline;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: $g__text_color_secondary;
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media(max-width: 767px) {
      grid-row: 4/5;
      grid-column: 1/3;
      padding: 11px;
      width: 100%;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      text-decoration: none;
      color: $g__text_color_secondary;
      border: 1px solid $g__text_color_secondary;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }

  &__block {
    width: 100%;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 14px;
    display: flex;
    justify-content: space-between;

    @media(max-width: 767px) {
      padding: 8px 14px;
      max-width: none;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    span {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: $g__text_color_primary;
      margin-bottom: 5px;

      @media(max-width: 767px) {
        padding: 0;
        margin-bottom: 0;
        line-height: 20px;
      }
    }

    a {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $g__text_color_secondary;
    }

  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      max-width: 250px;
    }
  }
}

.docs {
  border-top: 1px solid rgba(21, 36, 56, 0.15);
  padding-top: 30px;

  @media(max-width: 767px) {
    padding-top: 20px;
  }
}

hr {
  background: $g__outline_color;
  width: 100%;
  height: 1px;
  border: none;
  margin: 0;
}

.text {
  margin-top: 0px;
  margin-bottom: 40px;

  &--court {
    margin-top: 0;
  }

  @media(max-width: 992px) {
    margin-top: 0;
  }

  @media(max-width: 767px) {
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 0;
    width: 95%;

    @media(max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  span {
    color: $g__link_color;
    text-decoration: underline;
    cursor: pointer;
  }

  &__attention {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 14px;
    margin-left: 5px;
    background-image: url("/assets/images/warning.png");
    display: inline-block;
    background-position: center;
  }

  h4 {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 15px;
    font-weight: normal;

    @media(max-width: 767px) {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.objects {
  margin-top: 30px;

  @media(max-width: 767px) {
    margin-top: 20px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 20px;

    @media(max-width: 767px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__btn {
    grid-row: 1/2;
    grid-column: 3/4;
    background: #FFFFFF;
    border: 1px solid #00AFEC;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #00AFEC;
    padding: 5px 10px;

    &--disconnected {
      color: $g__text_color_secondary;
      background: #F7F8FB;
      border: 1px solid rgba(21, 36, 56, 0.15);
    }

    @media(max-width: 991px) {
      grid-row: 3/4;
      grid-column: 1/3;
      display: inline-block;
    }

  }

  h4 {
    font-size: 24px;
    line-height: 1.33;
    font-weight: normal;
    margin-bottom: 25px;
  }

  &__wrapper {

    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__block {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: auto 1fr;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media(max-width: 991px) {
      grid-template-columns: auto 1fr;
    }

    &--empty {
      color: $g__text_color_secondary;
      align-items: center;
      justify-content: center;
      padding: 43px;
      font-size: 18px;
      line-height: 1.33;

      @media(max-width: 767px) {
        grid-template-columns: auto;
        padding: 10px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
      }
    }
  }

  &__img {
    grid-row: 1/3;
    grid-column: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    width: 120px;
    height: 90px;

    @media(max-width: 991px) {
      grid-row: 1/2;
    }
  }

  &__sub-text {
    grid-row: 1/1;
    grid-column: 2/3;
    padding-left: 16px;
    padding-top: 8px;

    @media(max-width: 991px) {
      grid-column: 2/4;
      padding-top: 0;
      padding-left: 10px;
    }

    p {
      font-size: 15px;
      line-height: 1.33;
      color: $g__text_color_secondary;
      margin-bottom: 0;

      span {
        color: $g__text_color_primary;
      }
    }
  }

  &__text {
    grid-row: 2/3;
    grid-column: 2/4;
    padding-top: 10px;
    padding-left: 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media(max-width: 991px) {
      grid-row: 2/3;
      grid-column: 1/4;
      padding-left: 0;
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.filter__search {
  display: none;

  @media(max-width: 767px) {
    display: flex;
    margin-bottom: 30px;
  }
}

.contracts-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 7px;

  @media(max-width: 767px) {
    display: none;
  }

  &__universal .contracts-form__state-placeholder {
    color: $g__text_color_secondary;
    cursor: pointer;
  }

  &__universal {
    margin-right: 10px;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(21, 36, 56, 0.1);
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
    flex-grow: 1;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-appearance: none;

    &--history {
      width: 100%;
    }

    p {
      margin-bottom: 0;
      color: $g__text_color_primary;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &::placeholder {
      color: $g__text_color_secondary;
    }

    &--select {
      padding: 0;
      width: 27%;
      min-width: 219px;

      &::after {
        position: absolute;
        content: '';
        right: 15px;
        top: 22px;
        background-repeat: no-repeat;
        background-size: 75%;
        width: 9px;
        height: 8px;
        background-image: url("/assets/images/icon-arrow-black.svg");
      }

      &--rotate::after {
        top: 20px;
        transform: rotate(180deg);
      }

      p {
        padding: 14px 30px 14px 15px;
      }
    }

    &--date {
      width: 28%;

      &::before {
        position: absolute;
        content: '';
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("/assets/images/calendar.svg");
        width: 20px;
        height: 22px;
        top: 15px;
        left: 15px;
      }

      p {
        padding-left: 45px;
      }
    }
  }

  &__hidden {
    position: absolute;
    top: 55px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    flex-direction: column;
    left: 0;
    z-index: 20;

    p {
      padding: 10px 0;
      margin-bottom: 0;
      cursor: pointer;
    }
  }
}

.contracts-form__inputs {
  display: flex;
  flex-grow: 1;
  height: 48px;
}

.contracts-form.mobile {
  @media(max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #EBEDF2;
    z-index: 10;
    padding: 70px 20px 0;

    & .contracts-form__inputs {
      display: block;
      flex: 1 0 auto;
      width: 100%;
    }

    & .contracts-form__universal {
      width: 100%;
      margin: 0 0 10px;
    }

    & .contracts-form__universal--select {
      width: 100%;
    }

    & .search__btns {
      position: fixed;
      left: 20px;
      right: 20px;
      bottom: 20px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    & .search__btn {
      margin: 0;
    }
  }
}

.search {
  .search__btn-block {
    margin-top: 10px;
  }

  .search {
    &__options-wrapper {
      max-height: none;

      &--height {
        smax-height: 173px
      }
    }

    &__label {
      margin-bottom: 0
    }
  }
}

.table-license {
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  border-collapse: collapse;

  p {
    margin-bottom: 0;
  }

  td {
    padding: 20px;

    &:first-of-type {
      padding: 15px 20px 15px 0;
    }

    @media(max-width: 767px) {
      padding: 0;

      &:first-of-type {
        padding: 10px 0;
      }

      &::before {
        content: attr(data-label);
        display: block;
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 18px;
        color: $g__text_color_secondary;
      }
    }
  }

  &__text {
    @media(max-width: 767px) {
      grid-row: 3/4;
      padding-bottom: 10px;
    }
  }

  &__text p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media(max-width: 767px) {
      padding-bottom: 0;
      -webkit-line-clamp: 3;
    }
  }

  tr {
    &:not(:first-of-type) {
      border-top: 1px solid $g__outline_color;
    }

    &:last-of-type {
      border-bottom: 1px solid $g__outline_color;
    }

    @media(max-width: 767px) {
      &:first-of-type {
        display: none;
      }

      display: grid;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  th {
    color: $g__text_color_secondary;
    position: relative;
    font-weight: normal;
    text-align: left;
    padding: 20px 0;

    &:not(:first-of-type) {
      padding-left: 18px;
    }

    &:not(:last-of-type)::after {
      position: absolute;
      content: '';
      background: $g__outline_color;
      right: 0;
      top: 20px;
      width: 1px;
      height: 20px;
    }
  }

  &__date {
    color: $g__link_color;
    text-decoration-line: underline;

    @media(max-width: 767px) {
      grid-row: 2/3;
    }
  }

  &__company-wrap {
    @media(max-width: 767px) {
      grid-row: 4/5;
    }
  }

  &__company {
    max-width: 314px;

    @media(max-width: 767px) {
      padding-bottom: 5px;
    }
  }

  &__company-info {
    color: $g__text_color_secondary;
    max-width: 314px;
  }

  &__registration {
    width: 23%;
  }

  &__circumstances {
    width: 36%;
  }

  &__owner {
    width: 28%;
  }

  &__state-head {
    width: 12%;

    &:before {
      display: none;
    }
  }

  &__state-wrap {
    @media(max-width: 767px) {
      grid-row: 1/2;
    }
  }

  &__state {
    box-sizing: border-box;
    border-radius: 3px;
    padding: 6px 10px;
    border: 1px solid $g__outline_color;
    height: fit-content;
    width: fit-content;
    font-size: 13px;
    line-height: 1.38;
    white-space: nowrap;

    &--green {
      background: #DBF3A8
    }

    &--gray {
      background: #EDEFF4
    }
  }
}


.table-history {
  font-size: 16px;
  line-height: 1.25;
  border-collapse: collapse;
  width: 100%;

  p {
    margin-bottom: 0;
  }

  td {
    padding: 20px;

    &:first-of-type {
      padding: 15px 20px 15px 0;
    }

    @media(max-width: 767px) {
      padding: 0 0 10px;
      display: block;

      &:first-of-type {
        padding: 0 0 10px;
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      &::before {
        content: attr(data-label);
        display: block;
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 18px;
        color: $g__text_color_secondary;
      }
    }
  }

  &__text {
    position: relative;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;

    p {
      max-height: 40px;
      display: inline;
    }
  }

  &__text--open p {
    display: block;
    overflow: auto;
    height: fit-content;
    max-height: fit-content;
  }

  tr {
    &:not(:first-of-type) {
      border-top: 1px solid $g__outline_color;
    }

    &:last-of-type {
      border-bottom: 1px solid $g__outline_color;
    }

    @media(max-width: 767px) {
      &:first-of-type {
        display: none;
      }

      display: block;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  th {
    color: $g__text_color_secondary;
    position: relative;
    font-weight: normal;
    text-align: left;
    padding: 20px 0;

    &:not(:first-of-type) {
      padding-left: 18px;
    }

    &:not(:last-of-type)::after {
      position: absolute;
      content: '';
      background: $g__outline_color;
      right: 0;
      top: 20px;
      width: 1px;
      height: 20px;
    }
  }

  &__registration {
    width: 30%;
  }

  &__type {
    width: 20%;
  }

  &__description {
    width: 50%;

    &--court {
      width: 80%;
    }
  }

  &__date {
    width: 20%;
  }

  &__link {
    color: $g__link_color;
    text-decoration: underline;
    margin-left: 5px;
  }
}

.card-info {
  background: #F7F8FB;
  border: 1px solid rgba(21, 36, 56, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 42px 50px;
  margin-bottom: 40px;

  & fieldset {
    margin: 0;
  }

  @media (max-width: 767px) {
    padding: 10px;
    margin-bottom: 50px;
  }

  .attention {
    margin-bottom: 20px;

    @media (max-width: 767px) {
      padding: 10px;
      margin-bottom: 15px;
    }
  }

  .attention h3 {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 5px;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  & .docs__block {
    width: 68%;

    @media (max-width: 991px) {
      width: 80%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    @media (max-width: 767px) {
      & button {
        width: 100%;
      }
    }
  }

  h3 {
    font-size: 24px;
    line-height: 1.33;
    font-weight: normal;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__blocks-wrapper {
    display: flex;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__subtitle {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $g__text_color_secondary;
    margin-bottom: 18px;
    font-size: 13px;
    line-height: 1.38;

    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.25;
    margin-top: -5px;
    margin-bottom: 15px;
  }

  &__block {
    width: 50%;
    position: relative;

    &:last-of-type {
      padding-left: 50px;
    }

    &:first-of-type::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 1px;
      background: #E0E3E8;
    }

    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 15px;

      &:last-of-type {
        padding-left: 0;
        margin-bottom: 0;
      }

      &:first-of-type::after {
        display: none;
      }
    }
  }
}

.hidden {
  display: none;
}

.state__btn {
  font-size: 13px;
  line-height: 18px;
  color: $g__text_color_primary;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 6px 10px;
  height: fit-content;
  width: fit-content;
  margin-top: -5px;

  &--valid {
    background: #DBF3A8;
  }

  &--invalid {
    background: #E6E6E6;
  }

  &--registration {
    background: #C9E0FF;
  }

  &--cancellation {
    background: #FFCBD3;
  }

  &--expiring {
    background: #FFEA9F;
  }
}

.comment_input {
  width: 100%;
  border: 0;
  box-shadow: none;
  padding-left: 0;
}

.dn {
  display: none;
}

.classes_list__parent {
  padding-top: 15px;
  padding-left: 10px;

  @media(max-width: 991px) {
    grid-column: 1/3;
    padding: 0;
  }
}

.classes_list {
  display: inline;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.33;
}

.files_parent {
  display: flex;
  flex-direction: column;
}

.files_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  @media(max-width: 767px) {
    display: block;
  }
}

.contr__button {
  color: $g__text_color_primary !important;

  span {
    color: $g__text_color_primary !important;
  }
}

.top_block {
  margin-top: 50px;

  @media(max-width: 767px) {
    margin-top: 20px;
  }
}

.bottom_block {
  margin-top: 60px;
}

.tooltip_contracts:hover .prompt__hidden {
  display: flex;
}

.prompt__hidden {
  bottom: 52px;
  right: auto;
}

.edit_header {
  height: 40px;
  border: none;
  font-size: 24px;
  font-weight: 400;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px 5px 5px 20px;
  margin-bottom: 20px;
  resize: none;
  @media(max-width: 768px) {
    padding: 5px;
  }
}

.error_label_text {
  color: #FF1037;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 20px;
}

.scroll_wrapper {
  overflow-y: scroll;
}

.ribbon-box {
  position: relative;

  .ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }

  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 0;
  }

  .ribbon span {
    z-index: 101;
    position: absolute;
    display: block;
    width: 223px;
    padding: 4px 0;
    background-color: #FF1037;
    color: #fff;
    padding-left: 20px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height, or 145% */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    //font: 700 18px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .ribbon-top-right {
    top: 0;
    right: 0;
  }

  .ribbon-top-right::before,
  .ribbon-top-right::after {
    //border-top-color: transparent;
    //border-right-color: transparent;
  }

  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }

  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }

  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }
}

.zzzzzz {
  z-index: 1000;
}

.not-mobile {
  @media(max-width: 768px) {
    display: none;
  }
}

.mobile {
  display: none;
  @media(max-width: 768px) {
    display: block;
  }
}

.btns-wrapper-mobile {
  display: flex;
  @media(max-width: 768px) {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
  }
}

:host ::ng-deep .filter-daterange {
  width: auto !important;
}

.filter-text-result {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 0 10px;

  &--nothing {
    text-align: center;
    margin: 30px auto 50px;
  }

  @media(max-width: 793px) {
    padding: 65px 20px 0;

    &--nothing {
      padding: 0;
      margin-top: 60px;
      margin-bottom: 0;
    }
  }

  @media(max-width: 768px) {
    &--nothing {
      margin-top: 20px;
    }
  }
}

.show-all-link {
  margin-left: 5px;
  color: $g__link_color;
  border-bottom: 1px dotted $g__link_color;
}

:host ::ng-deep {
  @media (max-width: 767px) {
    .filter-daterange input {
      box-shadow: none !important;
    }
  }
}

.file-error {
  color: $g__alert_color !important;
  padding-bottom: 10px;
  margin-top: -5px;
  font-size: 13px !important;
  line-height: 18px !important;
}
