@import "../ipid/app.style";
// у gardium-online такие же стили как ipid

.info-plate__img {
  width: 148px !important;
  height: auto;
}

.risk-level__toggle {
  &--high,
  &--low {
    @media (max-width: 767px) {
      padding: 9px 20px !important;
    }
  }
}
