:host ::ng-deep {
  .filter-daterange {
    input {
      border: none !important;
      box-shadow: none !important;
    }
  }
}

@import 'variables';

.dropdown {
  max-width: none;
}

.payment-table__table {
  @media (max-width: 767px) {
    display: block
  }

  & th {
    &:first-of-type {
      width: 29%;
    }

    &:last-of-type {
      width: 22%;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  & td {
    padding: 19px 18px 20px;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  & tr {
    @media (max-width: 767px) {
      position: relative;
      display: grid;
      padding-bottom: 20px;

      &:first-of-type {
        display: none;
      }
    }
  }
}

.payment-table__name {
  & span {
    display: block;
    width: 90%;
  }
}

.payment-table__organization {
  margin: 0;

  @media (max-width: 767px) {
    font-size: 13px;
    line-height: 18px;
    color: $g__text_color_secondary;
  }
}

.payment-table__organization-case {
  margin-left: 5px;
  text-decoration: underline;
  color: $g__link_color;
}

.payment-table__date-wrap {
  @media (max-width: 767px) {
    grid-row: 1/2;
    margin-bottom: 10px;
  }
}

.payment-table__name {
  @media (max-width: 767px) {
    grid-row: 2/3;
    margin-bottom: 10px;
  }
}

.payment-table__organization-wrap {
  @media (max-width: 767px) {
    grid-row: 3/4;
    margin-bottom: 15px;
  }
}

.payment-table__organization-doc {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  color: $g__text_color_secondary;

  @media (max-width: 767px) {
    position: absolute;
    bottom: 20px;
    display: block;
    width: 100%;
    max-width: 335px;
    padding: 12px;
    color: $g__link_color;
    text-align: center;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.payment-table__sum {
  display: flex;
  align-items: flex-start;
}

.payment-table__total-wrap {
  flex-grow: 1;
  text-align: right;

  @media (max-width: 767px) {
    text-align: left;
  }
}

.payment-table__total {
  display: block;
  font-weight: 700;
  cursor: pointer;

  &.plus {
    color: $g__success_color;
  }

  @media (max-width: 991px) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.payment-table__bonus {
  font-size: 13px;
  line-height: 18px;
  color: $g__text_color_secondary;
}

.payment-table__bonus-sum {
  color: $g__text_color_primary;
}

.payment-table__payment-type-wrap {
  width: 72px;
  margin-left: 20px;
}

.payment-table__payment-type {
  display: inline-block;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $g__text_color_secondary;
  border: 1px solid $g__text_color_secondary;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
.filter-text-result {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 15px 0;
}

.show-all-link{
  margin-left: 5px;
  color: $g__link_color;
  border-bottom: 1px dotted $g__link_color;
}

.filter__buttons {
  display: none;

  @media (max-width: 767px) {
    display: flex;
  }
}

.no-payment {
  padding: 30px 30px 40px;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.no-payment__img {
  display: block;
  margin: 0 auto 20px;
  width: 120px;
  height: 32px;
}

.no-payment__title {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

//.no-payment__desc {
//  width: 80%;
//  margin: 15px auto 0;
//  font-size: 16px;
//  line-height: 20px;
//  text-align: center;
//  color: $g__text_color_secondary;
//
//  & a {
//    text-decoration: underline;
//    color: $g__link_color;
//  }
//
//  @media (max-width: 767px) {
//    width: 100%;
//  }
//}
//
//.no-payment__btn {
//  display: block;
//  padding: 10px 15px;
//  margin: 0 auto;
//  font-weight: 400;
//  font-size: 16px;
//  line-height: 20px;
//  text-transform: none;
//
//  @media (max-width: 767px) {
//    width: 100%;
//  }
//}
