<div
  (click)="mobileOpenFirstCard()"
  class="chart__block chart__block--main"
>
  <p class="chart__name chart-date chart__name--main" [class.chart-date--open]="mobileOpenFirstChart === true">
    Состав портфеля <span class="chart__mobile">{{data.count}}</span>
  </p>

  <span *ngIf="isLoading" class="chart__status">{{isLoading ? 'Загрузка...' : ''}}</span>

  <div
    *ngIf="!isLoading && mobileOpenFirstChart===true"
    class="chart-date__wrapper"
  >
    <div class="chart-date__numbers-wrapper">
      <div class="chart-date__numbers-top-wrapper">
        <div class="chart-date__numbers chart-date__numbers--mg chart-date__numbers--portfolio">
          <p>
            <span class="chart-date__big-count">{{data.count}}</span>
          </p>
          <p class="chart-date__big-count-text">Объектов</p>
        </div>
        <div class="chart-date__numbers chart-date__numbers--portfolio">
          <p>
            <span class="chart-date__big-count chart-date__big-count--bids">{{data.bids}}</span>
          </p>
          <p class="chart-date__big-count-text chart-date__big-count-text--bids">заявок</p>
        </div>
      </div>
    </div>
    <div class="chart-date__charts">

      <div class="chart-date__row row">
      <span class="row__color">
        <span *ngIf="data.tradeMarks"
              class="row__color--chart row__color--chart--blue"
              [style.width.%]="data.tradeMarks / getMaxComposition * 100">
        </span>
      </span>
        <p class="row__number row__number--blue">{{data.tradeMarks}}</p>
        <p class="row__text">Товарные знаки</p>
      </div>

      <div class="chart-date__row row">
      <span class="row__color">
        <span *ngIf="data.patents"
              class="row__color--chart row__color--chart--purple"
              [style.width.%]="data.patents / getMaxComposition  * 100">
        </span>
      </span>
        <p class="row__number row__number--purple">{{data.patents}}</p>
        <p class="row__text">Патенты</p>
      </div>

      <div class="chart-date__row row">
      <span class="row__color">
        <span *ngIf="data.programs"
              class="row__color--chart row__color--chart--light-red"
              [style.width.%]="data.programs / getMaxComposition  * 100">
        </span>
      </span>
        <p class="row__number row__number--light-red">{{data.programs}}</p>
        <p class="row__text">Программы и БД</p>
      </div>

      <div class="chart-date__row row">
      <span class="row__color">
        <span *ngIf="data.domains"
              class="row__color--chart row__color--chart--lemon"
              [style.width.%]="data.domains / getMaxComposition  * 100">
        </span>
      </span>
        <p class="row__number row__number--lemon">{{data.domains}}</p>
        <p class="row__text">Домены</p>
      </div>
      <div class="chart-date__btn-add-wrapper">
        <button
          class="chart-date__btn-add"
          id="addObjectToPortfolioOTwo"
          [disabled]="disabledAddObjects"
          (click)="toggleAddButton()"
        >
          <div
            class="tooltiptext"
            *ngIf="!selectedCompany?.id && this.kontragents.length > 1"
          >Необходимо выбрать организацию</div>
          {{addButtonLabel}}
        </button>
      </div>

    </div>
  </div>
</div>