@import 'variables';

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 5px;
  height: 0
}

::-webkit-scrollbar-track {
  background: $g__outline_color;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  background: $g__text_color_primary;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(21, 36, 56, 0.7);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-clean {
  border: 1px solid $g__btn_attr_border_color;
  color: $g__btn_attr_text_color;
}

.prompt__question--trans {
  right: -35px;
  top: 0;
  background: rgba(146, 159, 171, 0.5);
  border: 1px solid $g__text_color_secondary;
  box-sizing: border-box;

  .prompt__hidden {
    top: 20px;
    right: -12px;
    width: max-content;
    width: 171px !important;
    bottom: auto;
  }
}

.btn-search {
  //display: none;
  color: $g__btn_primary_color;
  background: $g__btn_primary_background;
  border: 1px solid $g__btn_primary_background;
  margin-right: 10px;
  cursor: pointer;

  @media (max-width: 793px) {
    display: block;
  }
}

//.search {
//  margin-bottom: 20px;
//}

.search__btns-wrapper {
  display: none;

  @media(max-width: 793px) {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
  }
}

.search__btns {
  display: flex;

  @media (max-width: 793px) {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.search__btn {
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding: 14px 20px;
  height: 100%;
  margin-bottom: auto;
  cursor: pointer;

  @media (max-width: 793px) {
    margin: 0;
  }
}

.section-position {
  min-width: 375px;
}

.curves {
  display: flex;
  width: 100%;
  height: 120px;
  position: relative;
  max-width: 344px;

  //&:before{
  //  content: '';
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  background:linear-gradient(180deg, rgba(71, 82, 99, 0) 0%, #475263 100%)
  //}
  @media (max-width: 793px) {
    margin: auto;
  }

  &__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;

    &--before {
      left: 0;
      align-items: flex-start;
      bottom: 20%
    }

    &--after {
      right: 0;
      align-items: flex-end;
      bottom: 90%
    }
  }

  &__name {
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: $g__text_color_secondary;
  }

  &__value {
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
}

.chart__block {
  width: auto;
  height: 100%;
  max-width: 387px;
  min-height: 320px;
  border-radius: 10px;

  &--position {
    position: relative;
    z-index: 2;
  }

  &--kpi {
    position: absolute;
    left: 0;
    right: 0;
  }

  @media (max-width: 793px) {
    width: 100%;
    max-width: none;
    min-height: auto;
    height: auto;
    background: none;
    border: none;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: initial;
    backdrop-filter: none;
  }
}

.chart__block--position.loading {
  @media (max-width: 793px) {
    padding-bottom: 0;
    & .chart__name {
      margin-bottom: 20px;
    }
  }
}

.chart__block--main.loading {
  position: absolute;
  top: 0;
  background-color: transparent;

  @media (max-width: 793px) {
    & .btn-mobile {
      display: none;
    }

    & .chart-date span {
      opacity: 0;
    }
  }
}

.chart-date__wrapper-mobile {
  @media (max-width: 793px) {
    display: none;

    &.open {
      display: block;
    }
  }
}

.chart__status {
  @media (max-width: 793px) {
    backdrop-filter: blur(5px);

    &.open {
      display: flex;
    }
  }

  &--over-date {
    @media (max-width: 793px) {
      margin: 0 auto;
      height: auto;
      width: 100%;
    }
  }

  &--security {
    padding-top: 43px;
  }
}

.chart__mobile {
  display: none;
  @media (max-width: 793px) {
    display: block;
    font-size: 20px;
    line-height: 1;
  }
}

.chart-date__numbers-wrapper {
  margin-bottom: 28px
}

.chart-date__big-count {
  margin-right: 8px;

  @media (max-width: 991px) {
    font-size: 40px;
    line-height: 1;
  }

  @media (max-width: 793px) {
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    border-radius: 20px;
    display: inline-block;
    padding: 2px 8px;
    margin-right: 17px;
  }
}

.chart-date__numbers--portfolio {
  @media (max-width: 793px) {
    display: grid;
    grid-template-columns: 14% 1fr;

    & .chart-date__big-count {
      margin-right: 0;
    }
  }
}

.chart-date__numbers:before {
  height: 0;
  width: 0;
}

.chart-date__numbers {
  margin-bottom: 21px;

  &--mg {
    margin-right: 12px;
  }

  @media (max-width: 991px) {
    margin-bottom: 20px;
  }

  @media (max-width: 793px) {
    margin-bottom: 5px;
  }

}

.chart-date__numbers-wrapper {
  width: 100%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    width: 111%;
    left: -18px;

    @media (max-width: 793px) {
      display: none;
    }
  }

  &--no-line::before {
    display: none;
  }

  @media (max-width: 793px) {
    position: static;
    margin-bottom: 5px;

    &--no-line {
      margin-bottom: 30px;
    }
  }
}

.chart-date__bottom {
  margin-bottom: 10px;
}

.chart-date__btn-add {
  position: relative;
  color: $g__widgets_link_color;
}

.chart-date__numbers-top-wrapper {
  display: flex;
  width: 100%;

  @media (max-width: 991px) {
    flex-wrap: wrap;
  }

  @media (max-width: 793px) {
    display: block;
  }
}

.chart-date__numbers-top-wrapper--mobile {
  @media (max-width: 793px) {
    flex-direction: row;
    display: flex;
  }
}

.chart__mini-wrapper {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-size: 25px;
  line-height: 32px;
  text-align: left;

  @media (max-width: 793px) {
    display: block;
    padding: 0;
    text-align: left;
    margin-left: 0;
    position: relative;

    &--several::after {
      position: absolute;
      content: '';
      right: 0;
      bottom: 10px;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 12px;
      height: 8px;
      background-image: url("../../../../../app-ipid/src/assets/icons/icon-dropdown-blue.svg");
    }
  }
}

.chart__mini-wrapper--several-2::after {
  transform: rotate(180deg);
}

.chart__companies-wrapper {
  width: 470px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $g__text_color_primary;
  display: flex;
  overflow-x: auto;
  z-index: 10;
  max-height: 335px;


  @media (max-width: 793px) {
    width: 100%;
    min-width: auto;
    left: 0;
  }
}

.chart__block-wrap {
  position: relative;
}

.chart__header select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.chart__name--mobile {
  @media (max-width: 768px) {
    margin-bottom: 25px;
    z-index: 10;
  }
}

.chart__name--mobile--margin {
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.chart__name {
  span {
    @media (max-width: 793px) {
      width: auto !important;

      &.prompt__question {
        flex-shrink: 0;
        width: 20px !important;
      }
    }
  }

  & span.opacity {
    opacity: 0;
  }
}

.chart__block-wrapper {
  position: relative;
  min-height: 320px;
  width: 31%;
  border-radius: 10px;
  overflow-y: hidden;

  @media (max-width: 1190px) {
    margin: 0;
  }

  @media (max-width: 793px) {
    width: 100%;
    height: auto;
    min-height: auto;
    margin: 0;
    overflow: visible;
    &:last-of-type {
      margin: 0;
    }
    &:first-of-type {
      margin: 0;
    }
  }
}

.chart-date__wrapper-mobile {
  @media (max-width: 793px) {
    margin-bottom: 60px;

    .chart-date__big-count {
      font-size: 20px;
      line-height: 28px;
      color: #FFFFFF;
      background: none;
      margin-right: 10px;
      padding: 0;

      &:last-of-type {
        padding: 0;
        color: $g__text_color_secondary;
      }
    }

    .chart-date__big-count-img {
      width: 22px;
      margin-top: 3px;
      background-image: url("../../../../../app-ipid/src/assets/icons/white-arrow.svg");
      height: 18px;
    }
  }
}

.tooltiptext {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 1000;
  padding: 10px;
  margin-bottom: 5px;
  width: fit-content;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  color: $g__text_color_primary;
  white-space: nowrap;
  background: $g__white_background;
  border: 1px solid rgba(21, 36, 56, 0.15);
  border-radius: 5px;
  box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.chart-date__btn-add:hover {
  .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
