@import 'variables';

.filter-daterange {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 200px;

  @media (max-width: 767px) {
    filter: drop-shadow(0px 2px 4px rgba(21, 36, 56, 0.1));
  }

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    width: 20px;
    height: 18px;
    background-repeat: no-repeat;
    background-image: url("/assets/images/calendar.svg");
    background-size: 20px 18px;
  }
}

input {
  position: relative;
  display: block;
  padding: 14px 7px 14px 34px;
  height: 100%;
  width: 100%;
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
  border-radius: 5px;
  background: $g__white_background;
  box-shadow: 0 2px 4px $g__outline_color;
  border: 1px solid $g__outline_color;
  -webkit-appearance: none;

  @media (max-width: 767px) {
    padding: 14px 7px 15px 34px;
    font-size: 16px;
    line-height: 20px;
  }

  &::placeholder {
    color: $g__text_color_secondary;
  }
}
