<ng-container>
  <div class="add-object add-object__content--pay">
    <div class="add-object__header-main">
      <div class="add-object__btns-pay-wrapper">
        <app-payment-tabs  style="width: 100%"
                           (switchPaymentType)="switchPaymentType($event)"></app-payment-tabs>
      </div>
    </div>

    <app-payer
      [isDebit]="true"
      (payerSelectEvent)="selectPayer($event)">
    </app-payer>

    <app-payment-offline
      *ngIf="paymentType === 'offline' && payer?.name"
      [paymentSum]="paymentSum"
      [payer]="payer"
    ></app-payment-offline>

    <app-payment-offline-individual
      *ngIf="paymentType === 'offline' && !payer?.name"
      [paymentSum]="paymentSum">
    </app-payment-offline-individual>


    <app-payment-online
      *ngIf="paymentType === 'online'"
      [paymentSum]="paymentSum"
      [returnPage]="'surcharge-request/'"
      [returnParams]="{id: idApplication}"
      [returnAfterPayment]="returnAfterPayment"
      [yaLastPaymentId]="yaLastPaymentId"
      [idApplication]="idApplication"
      [isDebit]="true"
      [payer]="surchargeRequestService.payer"
      (errorEvent)="onlineError($event)"
      (paymentSuccessEvent)="paymentOnlineSuccessed($event)"
    >
    </app-payment-online>

    <div *ngIf="paymentType === 'offline'" class="btn-offline">
      <app-button
        [loading]="surchargeRequestService.isLoading"
        (click)="toSuccessPage()"
        [styleButton]="'btn-blue__offline'"
      >Выставить счет</app-button>
    </div>
  </div>
</ng-container>

