@import 'variables';

.slider {
  position: relative;
  height: 220px;
  margin: 0 -20px;
  margin-bottom: -20px;
  margin-top: 5px;
  overflow: hidden;

  @media (max-width: 767px) {
    margin-top: 0;
  }
}

.slider-item__wrap {
  width: 165px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  vertical-align: middle;

  &:first-of-type {
    width: 185px;
    padding-left: 20px;
  }

  &:last-of-type {
    margin-right: 15px !important;
  }
}

.slider-item {
  padding: 10px;
  width: 160px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  background-color: $service__cards_background;

  & p {
    display: block;
    padding-top: 93px;
    white-space: normal;
    font-size: 16px;
    line-height: 22px;
    color: $service__cards_text_color;
  }
}

.service-item__slider-btn {
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $g__btn_primary_background;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  &:active {
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.25);
  }

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, - 50%);
    width: 18px;
    height: 18px;
    fill: $g__btn_primary_color;
  }

  &--prev {
    left: 20px;
  }

  &--next {
    right: 20px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
