.o-pagination__container{
  width: 100%;

  @media (max-width: 500px){
    display: flex;
    justify-content: space-between;
    padding:0 20px;
  }
}

.o-pagination{
  @media (max-width: 500px){
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.o-pagination__btn{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
  color: #414141;
  padding: 7px 12.5px;
  width: auto;
  height: auto;
  font-size: 14px;
  line-height: 19px;
  background-color: white;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 500px){
    padding: 12px 19px;
  }
}

.o-pagination__btn.active{
  background: #6B747B;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  line-height: 19px;
}
