<div class="screenshots">
  <div id="payment-form" style="min-height: 480px;" [class.disabled]="payWidjetIsRender && !!payer === false">
    <div *ngIf="!payWidjetIsRender" style="padding-top: 190px;">
      <div class="loader"></div>
    </div>
  </div>
</div>

