@import 'variables';
@import '../shared/index-without-monitoring';

.header__logo {
  width: 170px;
  padding-top: 1px;
}

.header--centered .header__logo {
  display: flex;
  justify-content: center;
}

* {
  outline: 0;
}

.section-position__expert {
  overflow: hidden;
}

.section-position__expert-img img {
  width: 199px;
  height: 333px;
  padding-top: 12px;
  object-fit: contain;

  @media(max-width: 575px) {
    right: -40px !important;
    height: auto;
  }
}

.attention__list li:after,
.hidden__list li:after {
  background-image: url('/assets/images/blue-done-psb.svg') !important;
}

.ip-id_search__wrapper,
.ipid-search-header-with-result,
.ipid-search-header {
  background-color: $header__dark_background !important;
}

.ipid-search-header-with-result .text-title,
.ipid-search-header {
  color: $header__dark_text_color_primary !important;
}

.white-bg,
.ip-id-search-risks,
.circle::before,
.circle::after {
  background-color: $g__white_background !important;
}

.ip-id-search-risks.risk-orange.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-red.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-green.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-green.help-enabled .ip-id-search-risks-content .risks-notes.left > div > i {
  padding: 4px 0 !important;
  background: $g__body_background !important;
  color: $g__text_color_secondary !important;
  border: 1px solid $g__outline_color;
}

.ip-id-search-risks-submit .request-btn {
  background: $g__btn_primary_background !important;
  color: $g__btn_primary_color !important;
}

.carousel-counter {
  background-color: $g__white_background !important;
}
