<div class="search-result__modal" *ngIf="selectedLegalName">
  <app-legal-name-modal
    [data]="selectedLegalName"
    (modalEvent)="closeModal()"
  >
  </app-legal-name-modal>
</div>

<app-ls-emb-accordion
  [type]="'legalNames'"
  [dataLength]="dataLegalNames.length"
  [data]="dataLegalNames"
  (slicedData)="getSlicedData($event)">
  <div class="search-result-list">
    <app-ls-emb-item-card *ngFor="let legalName of slicedData" (click)="openModal(legalName)"
                          [item]="getPureDataForView(legalName)">
    </app-ls-emb-item-card>
  </div>
</app-ls-emb-accordion>
