@import 'variables';

::ng-deep {
  // elements search
  .main__form {
    //left: 0 !important;
    left: 0;
  }
  .ip-id_search_container {
    margin-bottom: 10px !important;
  }
}
.heading-h1 {
  position: relative;
  width: fit-content;
  padding-right: 30px;

  .prompt__question{
    right: 0;
    top: 6px
  }

  @media (max-width: 768px) {
    margin-top: 0;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }
}
.okved {
  margin-top: 20px;
  .okved-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #929FAB;
    padding-bottom: 5px;
  }
  .okved-codes {
    display: flex;
    flex-wrap: wrap;
    .okved-code {
      background: $g__body_background;
      border-radius: 5px;
      text-wrap: none;
      margin: 0 10px 10px 0px;
      padding: 5px;
      position: relative;
      cursor: default;
      @media (max-width: 768px){
        background: #FFFFFF;
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-sizing: border-box;
        border-radius: 5px;
        padding: 5px;
      }

      .okved-tooltip {
        display: none;
        position: absolute;
        bottom: 33px;
        cursor: pointer;
        background: #FFFFFF;
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-sizing: border-box;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
        max-width: 370px;
        z-index: 2;
      }
      &:hover {
        background: #DFE2E8;
        .okved-tooltip {
          display: block;
        }
      }
    }
  }
}
.back-button {
  position: absolute;
  left: 0;
  top: 50%;
  width: 84px;
  height: 21px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding-left: 41px;

  & svg {
    width: 24px;
    height: 15px;
    padding-right: 4px;
    fill: $g__btn_attr_text_color;
  }

  .text {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $g__btn_attr_text_color;
  }

  @media (max-width: 768px) {
    position: relative;
  }
}
.error-message {
  background: rgba(255, 16, 55, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  color: white;
}

.mktu-block{
  display: flex;
  flex-direction: column;
  margin-top: 33px;

  @media (max-width: 768px) {
    margin-top: 20px;
  }

  &__error{
    display: flex;
    width: 100%;
    background: rgba(255, 16, 55, 0.5);
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    p{
      margin-bottom: 0;
    }
  }

  h3{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__row{
    display: flex;
    margin-bottom: 22px;

    @media (max-width:768px ){
      flex-direction: column;
    }

    p{
      flex-shrink: 0;
      margin-bottom: 0;
    }
  }

  &__text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    display: flex;
    flex-direction: column;

    &--gray{
      color: $g__text_color_secondary;
      width: 130px;
      margin-right: 15px;

      @media (max-width:768px ){
        margin-right: 10px;
      }
    }
  }

  &__block{
    display: flex;
    width: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__classes{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -5px;
    position: relative;
  }

  &__class-item{
    margin-right: 5px;
    margin-bottom: 5px;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 4px 7px;
    min-width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;

    &:last-of-type {
      margin-right: 0;
    }

    @media (max-width:768px ){
      width: 36px;
    }
    @media (min-width:768px ){
      position: relative;
    }

    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }


    &:hover{
      .prompt__hidden{
        bottom: 34px;
        z-index: 10;
        font-weight: normal;
        right: auto;
        width: max-content;
        display: block;
        max-width: 212px;
        @media (max-width:768px ) {
          left: 0;
        }
      }
    }

  }

  &__img{
    flex-shrink: 0;
    margin-right: 23px;
    background: $g__form_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 174px;
    height: 130px;

    & img {
      max-height: 100%;
    }

    @media (max-width: 768px) {
      width: 150px;
      height: 112px;
      margin-right: 10px;
    }

  }
}

.btn-wrap{
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    width: 100%;
  }

  & .back-button {
    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }
}

.step2to3-btn {
  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;

    .btn-body{
      justify-content: center;

      .arrow-request-icon{
        right: 32vw;
        top: -1px;
      }
    }
  }
  @media (max-width: 600px) {
    .btn-body{
      .arrow-request-icon{
        right: 30vw;
      }
    }
  }

  @media (max-width: 500px) {
    .btn-body {
      .arrow-request-icon {
        right: 26vw;
        top: 1.8px;
        svg{
          width: 23px;
        }
      }
    }

  }

  @media (max-width: 400px) {
    .btn-body {
      .arrow-request-icon {
        right: 85px;
      }
    }

  }
}

.back-button{
  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    align-items: center;
    height: fit-content;
    transform: none;
  }
}

.step2to3-btn .btn-body{
  @media (max-width: 768px) {
    position: relative;
  }
}


.back-button .text {
  @media (max-width: 768px) {
    position: relative;
  }
}

.back-button .back-icon {
  @media (max-width: 768px) {
    margin-right: 10px;
  }
}
.btn-body span{
  @media (max-width: 768px) {
    text-transform: none;
    right: 33%;
    top: 0;
  }
}

.separator-line {
  border: none;
  color: #D6D9E0;
  background-color: $g__outline_color;
  height: 1px;
}

.subtitle {
  margin-bottom: 20px;
}

.duty-info {
  margin-top: 10px;
  margin-bottom: 20px;
  color: $g__text_color_secondary;
  .sum {
    color: $g__text_color_primary;
    font-weight: bold;
  }
}

.not-mobile-mktu{
  display: flex;
  width: 100%;
  margin-left: -12px;
  @media (max-width: 915px) {
    display: none;
  }
}

.mobile-mktu{
  display: none;
  @media (max-width: 915px) {
    display: block;
  }
}

//Поиск

:host ::ng-deep {
  .ip-id_search_container {
    max-width: none !important;
  }

  .search-container {
    max-width: none !important;
    padding: 0 !important;
  }

  .main__form,
  .main__form > div {
    width: 100% !important;
  }

  .not-mobile-mktu {
    margin-left: 0 !important;
  }

  //.added-number {
  //  background: $g__body_background !important;
  //}

  .added-number__number {
    color: $g__text_color_primary !important;
  }

  .added-number__title {
    color: $g__alert_color !important;
  }

  //.plus_button {
  //  color: $g__text_color_secondary !important;
  //  background-color: $g__body_background !important;
  //}
}
