<section class="section-position section-position__color-bg section-position__color-bg--{{typeColor}}">
  <div class="container header-court">
    <div class="header-court__block header-court__block--head">
      <div class="header__container">
        <img [routerLink]="['/index']" class="back_arrow" src="assets/images/arrow-back.svg" alt="">
        <p class="top_paragraph">
          Дело #{{caseData.number}}
        </p>
      </div>
      <h1>Не поставили товары или не оказали услуги</h1>
      <p>{{caseData?.debtor?.nameOrganization}}, ИНН {{caseData?.debtor?.inn}} / ОГРН {{caseData?.debtor?.ogrn}}, {{caseData?.debtor?.region}}</p>
    </div>
    <div class="header-court__block header-court__block--row">
      <div class="header-court__card header-court__card--mobile header-court__card--{{typeColor}}">
        <p class="header-court__card-bottom header-court__card-mobile-hidden" >Статус</p>
        <h2 class=" header-court__card-header-main header-court__card-header-main--{{typeColor}}">Завершено</h2>
        <p>Взыскано частично</p>
      </div>
      <div class="header-court__card header-court__card--gray">
        <div class="header-court__card-subtitle"><div class="header-court__card-bottom">Дата возникновения долга
          <span *ngIf="!mobile" class="prompt prompt__question">?
            <span class="prompt__hidden">
              <p>Дата, с которой у должника возникло обязательство вернуть задолженность</p>
            </span>
          </span>
        </div>
        </div>
        <div *ngIf="caseData && caseData?.emergenceDate; else header">
          <h2 class="header-court__card-bottom">{{caseData?.emergenceDate}}</h2>
          <p class="header-court__card-txt header-court__card-mobile-hidden">Прошло {{caseData?.daysPassed}} {{declOfDaysPassed}}</p>
        </div>
      </div>
      <div class="header-court__card header-court__card--gray">
        <div class="header-court__card-subtitle"><div class="header-court__card-bottom">Сумма
          <span *ngIf="!mobile" class="prompt prompt__question">?
            <span class="prompt__hidden">
              <p>Общая сумма долга для взыскания</p>
            </span>
          </span>
        </div>
        </div>
        <div *ngIf="caseData && caseData?.sum; else header">
          <h2 class="header-court__card-bottom">{{caseData?.sum}} ₽</h2>
          <p class="header-court__card-extra">
            <span *ngIf="caseData?.sum">Основной долг {{caseData?.mainDebt}} ₽</span>
            <span *ngIf="caseData?.fine">Штраф {{caseData?.fine}} ₽</span>
            <span *ngIf="caseData?.penalty">Пени {{caseData?.penalty}} ₽</span>
            <span *ngIf="caseData?.interest">Проценты {{caseData?.interest}} ₽</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #header>
  <h2 class="header-court__card-bottom">Будет определено позднее</h2>
</ng-template>

