.section-position {
  min-width: 375px;

  @media (max-width: 768px){
    padding: 0;
  }

  &--white{
    background-color: white;
    border-top: 1px solid #CBCFD6;
    position: relative;
    z-index: 2;
  }

  &__color-bg{
    background: #F7F8FB;
    padding: 40px 0;

    &--court{
      background: #ECF2FA;
    }

    &--finished{
      background: #FCFCFC;
    }

    &--claim{
      background: #FAF7EC;
    }

    &--penalty{
      background: #F5FBE9;
    }

    &--request{
      background: #F7F8FB;
    }
  }

  &--padding{
    padding-bottom: 0;
  }
}
.header__container {
  display: flex;
  flex-direction: row;
}

.back_arrow {
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
