.post-modal{

  &__close{
    width: 46px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 46px;
    background-image: url('/assets/images/x.svg');
    right: 0;
    top: 0;
  }

  &__main-wrapper{
    background-color: #f7f7f7;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 37px 75px;
    max-width: 800px;
    position: relative;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    max-width: 850px;
    width: 100%;
    height: auto;
    max-height: 85%;
    overflow-y: auto;
    z-index: 1001;
  }

  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  &__white{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
  }

  &__check{
    position: relative;
    height: 20px;

    &::after{
      position: absolute;
      content: "";
      width: 17px;
      background-image: url(/assets/images/icon-check-green.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      height: 14px;
      top: 11px;
      right: -4px;
    }
  }

  &__header-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header{
    display: flex;
   justify-content: space-between;
    padding: 17px 30px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 500;

    h3{
      color: #275aa3;
      font-size: 22px;
      margin-bottom: 0;
      font-weight: normal;
      font-family: 'Roboto', sans-serif;
    }

    p{
      color: #9d9d9d;
      font-size: 16px;
      position: relative;
    }

    span{
      color: #9d9d9d;
      font-size: 14px;
    }
  }

  &__states-wrapper{
    padding: 15px 30px;
  }

  &__state{

    &:not(:last-of-type){
      margin-bottom: 15px;
    }

    p{
      font-size: 18px;
      margin-bottom: 5px;
      font-weight: 500;
    }

    span{
      color: #9d9d9d;
      font-size: 14px;
    }
  }
}

