<div class="post-modal">
  <div class="post-modal__wrapper">
    <span class="post-modal__close" (click)="closeModal()"></span>
    <div class="post-modal__main-wrapper">
    <div class="post-modal__white">
      <div class="post-modal__header">
        <div>
          <h3>Отправление из Москвы</h3>
          <span>Вручено 3 июля</span>
        </div>
        <div class="post-modal__header-block">
          <span class="post-modal__check"></span>
          <p>123456789009876</p>
        </div>
      </div>
      <div class="post-modal__states-wrapper">
        <div class="post-modal__state">
          <p>Получено адресатом</p>
          <span>03 июля 2020б 17:43 344022, Ростов-на-Дону</span>
        </div>
        <div class="post-modal__state">
          <p>Получено адресатом</p>
          <span>03 июля 2020б 17:43 344022, Ростов-на-Дону</span>
        </div>
        <div class="post-modal__state">
          <p>Получено адресатом</p>
          <span>03 июля 2020б 17:43 344022, Ростов-на-Дону</span>
        </div>
        <div class="post-modal__state">
          <p>Получено адресатом</p>
          <span>03 июля 2020б 17:43 344022, Ростов-на-Дону</span>
        </div>
      </div>
    </div>
    </div>

  </div>
  <div (click)="closeModal()" class="post-modal__overlay"></div>
</div>
