<div class="monitoring-modal risk-modal">
  <div class="monitoring-modal__wrap monitoring-modal__wrap--height" *ngIf="sourceData._source">
    <div class="monitoring-modal__header">
      <div class="monitoring-modal__header-block">
        <a class="ext_link" href="{{getExternalLink(sourceData)}}" target="_blank">
        <img src="/assets/images/monitoring-modal-patent.png" alt="" class="monitoring-modal__header-img" width="80"
             height="54">
          <p class="monitoring-modal__header-info" *ngIf="sourceData._source.registrationNumber">
            RU {{sourceData._source.registrationNumber}}</p>
        </a>
      </div>
      <button class="monitoring-modal__close-mobile" (click)="closeModal()">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <rect x="1.41418" y="1.52588e-05" width="20" height="2" transform="rotate(45 1.41418 1.52588e-05)"/>
          <rect y="14.1421" width="20" height="2" transform="rotate(-45 0 14.1421)"/>
        </svg>
      </button>
    </div>
    <div class="risk-modal__content">
      <div class="risk-modal__criticality-wrapper">
        <div class="risk-modal__criticality"
             [class.risk-modal__criticality--critical]="maxRiskLevel === 4"
             [class.risk-modal__criticality--high]="maxRiskLevel === 3"
             [class.no-risk-label]="(maxRiskLevel === 2) || (maxRiskLevel === 1)"
        >
          <span *ngIf="maxRiskLevel">{{getRiskByLevel(maxRiskLevel)}}</span>
          <!--          <span *ngIf="!maxRiskLevel">Нет риска</span>-->
        </div>
        <span class="risk-modal__question">?
          <div class="risk-tooltip"
               *ngIf="(maxRiskLevel === 4) || (maxRiskLevel === 3)"
          >Этот объект создает значительные риски для вашего товарного знака
          </div>
          <div class="risk-tooltip" *ngIf="(maxRiskLevel === 2) || (maxRiskLevel === 1)"
          >Этот объект создает незначительные риски для вашего товарного знака
          </div>
        </span>
      </div>

      <h1 class="risk-modal__title risk-modal__title--big" *ngIf="sourceData._source.registrationNumber">Патент
        №{{sourceData._source.registrationNumber}}</h1>

      <p class="monitoring-modal__desc"
         *ngIf="sourceData._source.inventionName">{{sourceData._source.inventionName}}</p>

      <div class="risk-modal__about-wrap">
        <div class="risk-modal__big-big" *ngIf="sourceData._source.drawings">
          <div class="risk-modal__big-img-wrapper">
            <a [href]="sourceData._source.drawings[0]" target="_blank">
              <img [src]="sourceData._source.drawings[0]" alt="">
            </a>
          </div>
          <div *ngIf="!allImages" class="risk-modal__img-wrapper">
            <div class="risk-modal__big-img-wrapper--mini" *ngFor="let src of sourceData._source.drawings.slice(1, 4)">
              <a [href]="src" target="_blank">
                <img [src]="src" alt="">
              </a>
            </div>
            <div class="risk-modal__more-img" (click)="allImages=true" *ngIf="sourceData._source.drawings.length > 4">
              еще {{sourceData._source.drawings.length - 4}}</div>
          </div>

          <div *ngIf="allImages" class="risk-modal__img-wrapper">
            <div class="risk-modal__big-img-wrapper--mini"
                 *ngFor="let src of sourceData._source.drawings.slice(1,sourceData._source.drawings.length)">
              <a [href]="src" target="_blank">
                <img [src]="src" alt="">
              </a>
            </div>
          </div>

        </div>

        <dl class="risk-modal__about">

          <div *ngIf="sourceData._source.authors">
            <dt>Авторы</dt>
            <dd>{{sourceData._source.authors}}</dd>
          </div>
          <div *ngIf="sourceData._source.patentHolders">
            <dt>Правообладатель</dt>
            <dd>{{sourceData._source.patentHolders}}</dd>
          </div>
          <div class="risk-modal__in-row">
            <div *ngIf="sourceData._source.applicationNumber">
              <dt>Номер заявки</dt>
              <dd>{{sourceData._source.applicationNumber}}</dd>
            </div>
            <div *ngIf="sourceData._source.applicationDate">
              <dt>Дата заявки</dt>
              <dd>{{sourceData._source.applicationDate | date:'dd.MM.yyyy'}}</dd>
            </div>
          </div>

          <div class="risk-modal__in-row">
            <div *ngIf="sourceData._source.patentStartingDate" style="margin-right: 47px">
              <dt>Действует с</dt>
              <dd>{{sourceData._source.patentStartingDate | date:'dd.MM.yyyy'}}</dd>
            </div>
            <div *ngIf="sourceData._source.patentGrantPublishDate">
              <dt>Дата публикации</dt>
              <dd>{{sourceData._source.patentGrantPublishDate | date:'dd.MM.yyyy'}}</dd>
            </div>
          </div>

        </dl>
      </div>
      <app-ui-accordion
        [title]="'События мониторинга'"
        [count]="monitoringRisks"
        [monitoring]="{btn: true, style: true}"
      >
        <table class="monitoring-modal__table" *ngIf="data.isMonitoring">
          <tr>
            <th>Дата</th>
            <th>Уровень риска</th>
            <th>Событие</th>
            <th></th>
          </tr>

          <tr *ngFor="let item of monitoringEvents">
            <td>{{item.date | date: 'dd.MM.yyyy'}}</td>
            <td class="monitoring-modal__table-risk">
              <span class="monitoring-modal__table-risk__level"
                    [class.monitoring-modal__table-risk__level--fatal]="item.level === 4"
                    [class.monitoring-modal__table-risk__level--critical]="item.level === 3"
                    [class.monitoring-modal__table-risk__level--possible]="item.level === 2"
                    [class.monitoring-modal__table-risk__level--recommendation]="item.level === 1"
              ></span>
              <span>{{getRiskByLevel(item.level)}}</span>
            </td>
            <td>{{item.description}}</td>
            <td>
              <span class="monitoring-modal__table-toDo" (click)="toLeadForm(item.id)">{{item.riskData.button}}</span>
            </td>
          </tr>

        </table>
        <table class="monitoring-modal__table" *ngIf="!data.isMonitoring">
          <tr>
            <th style="width: 50%">Уровень риска</th>
            <th style="width: 50%">Количество рисков</th>
          </tr>

          <tr *ngFor="let item of noMonitoringRisks">
            <td class="monitoring-modal__table-risk">
              <span class="monitoring-modal__table-risk__level"
                    [class.monitoring-modal__table-risk__level--fatal]="item.risk === 4"
                    [class.monitoring-modal__table-risk__level--critical]="item.risk === 3"
                    [class.monitoring-modal__table-risk__level--possible]="item.risk === 2"
                    [class.monitoring-modal__table-risk__level--recommendation]="item.risk === 1"
              ></span>
              <span>{{getRiskTitleByLevel(item.risk)}}</span>
            </td>
            <td>{{item.values}}</td>
          </tr>

        </table>
        <!--        надо будет проверить как выглядит в мобильной версии когда будет мониторинг-->
        <div class="motinoring-btn-link motinoring-btn-link--mobile" routerLink="/monitoring">Перейти в мониторинг</div>
      </app-ui-accordion>

      <div class="divider" *ngIf="sourceData._source.IPC"></div>
      <app-ui-accordion
        *ngIf="sourceData._source.IPC"
        [title]="'Классы МПК'"
        [titleTooltip]="'МПК - Международная патентная классификация для классификации ' +
         'патентов и полезных моделей в зависимости от различных областей техники, ' +
          'к которым они относятся'"
        [count]="sourceData._source.IPC.length"
        [monitoring]="{btn: false, style: true}"
      >
        <div *ngFor="let classIPC of sourceData._source.IPC">{{classIPC}}</div>
      </app-ui-accordion>

      <div class="divider" *ngIf="sourceData._source.CPC"></div>
      <app-ui-accordion
        *ngIf="sourceData._source.CPC"
        [title]="'Классы CПК'"
        [titleTooltip]="'СПК - Совместная патентная классификация представляет собой ' +
         'расширенную МПК с отдельными фрагментами систем классификации' +
          ' европейского и американского патентных ведомств – ELCA и USPC'"
        [count]="sourceData._source.CPC.length"
        [monitoring]="{btn: false, style: true}"
      >
        <div *ngFor="let classCPC of sourceData._source.CPC">{{classCPC}}</div>
      </app-ui-accordion>

      <div class="divider" *ngIf="sourceData._source.abstract"></div>
      <app-ui-accordion
        *ngIf="sourceData._source.abstract"
        [title]="'Реферат'"
        [hideCounter]="true"
        [titleTooltip]="'Реферат - Сокращенное изложение того, что ' +
         'содержится в описании. Он включает характеристику области техники, ' +
          'к которой относится объект, если это не ясно из названия, ' +
           'и характеристику сущности объекта с указанием достигаемого технического результата'"
        [monitoring]="{btn: false, style: true}"
      >
        <div [innerHTML]="sourceData._source.abstract"></div>
      </app-ui-accordion>

      <div class="divider" *ngIf="sourceData._source.claims"></div>
      <app-ui-accordion
        *ngIf="sourceData._source.claims"
        [title]="'Формула'"
        [hideCounter]="true"
        [monitoring]="{btn: false, style: true}"
      >
        <div [innerHTML]="sourceData._source.claims"></div>
      </app-ui-accordion>

      <div class="divider" *ngIf="showRemoveBtn"></div>
      <app-ui-accordion
        *ngIf="showRemoveBtn"
        [title]="'Файлы'"
        [count]="files.length"
        [monitoring]="{btn: false, style: true}"
        [isOpen]="true"
      >
        <div class="files-container" *ngIf="files.length">
          <div class="files-container__item" *ngFor="let file of files; index as i"
               [style.margin-right.px]="((i+1) % 3) === 0 ? 0 : 9">
            <div class="about">
              <span>{{file.name}}</span>
              <div class="files-btn">
                <a class="files-btn__download" (click)="downloadFiles.downloadFile(file)">Скачать</a>
              </div>
            </div>
            <div class="docs__icon-wrapper">
                  <span class="docs__icon">
                   <img src="/assets/images/delete-small.png" class="docs__icon--mini"
                        (click)="removeFile(file.publicPath)">
                   <img src="/assets/icons/gray-empty-contracts.svg">
                  </span>
            </div>
          </div>
        </div>
        <p class="file-error" *ngIf="fileError?.length">{{fileError}}</p>
        <div class="file-card-object">
          <input type="file" id="100" (change)="fileChangeEvent($event)">
          <label for="100" class="add-file-label">
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M18.0586 14.6914H22.8086V17.8086H18.0586V22.5586H14.9414V17.8086H10.1914V14.6914H14.9414V9.94141H18.0586V14.6914ZM32.3086 5.93359V22.5586L22.8086 32.0586H6.18359C4.69922 32.0586 3.41276 31.5143 2.32422 30.4258C1.23568 29.3372 0.691406 28.0508 0.691406 26.5664V5.93359C0.691406 4.44922 1.23568 3.16276 2.32422 2.07422C3.41276 0.985677 4.69922 0.441406 6.18359 0.441406H26.8164C28.3008 0.441406 29.5872 0.985677 30.6758 2.07422C31.7643 3.16276 32.3086 4.44922 32.3086 5.93359ZM29.1914 6.45312C29.1914 5.66146 28.8945 4.99349 28.3008 4.44922C27.7565 3.85547 27.0885 3.55859 26.2969 3.55859H6.70312C5.91146 3.55859 5.21875 3.85547 4.625 4.44922C4.08073 4.99349 3.80859 5.66146 3.80859 6.45312V26.1953C3.80859 26.987 4.08073 27.6797 4.625 28.2734C5.21875 28.8177 5.91146 29.0898 6.70312 29.0898H21.25V26.7148C21.25 25.181 21.7943 23.8698 22.8828 22.7812C23.9714 21.6927 25.2826 21.1484 26.8164 21.1484H29.1914V6.45312Z"/>
            </svg>
            <div class="add-file-text">
              <span class="title-file">
              Прикрепить файл
            </span>
              <span class="description-file">
              Файл не более 2мб
            </span>
            </div>
          </label>
        </div>
      </app-ui-accordion>

      <div class="monitoring-modal__header-block mobile" [style]="showRemoveBtn ? '' : 'justify-content: flex-end'">
        <!--        <button class="monitoring-modal__header-btn monitoring-modal__header-btn&#45;&#45;delete"-->
        <!--                (click)="confirming(sourceData._source.registrationNumber)">Удалить из портфеля</button>-->
        <button *ngIf="showRemoveBtn" class="monitoring-modal__header-btn monitoring-modal__header-btn--delete" id="deletePortfolio"
                (click)="deleteObject()">Удалить из портфеля
        </button>
        <button class="monitoring-modal__header-btn monitoring-modal__header-btn--toAsk" (click)="onClickBtn('Задать вопрос онлайн')">Задать вопрос онлайн</button>
      </div>
    </div>

  </div>
  <div (click)="closeModal()" class="monitoring-modal__overlay"></div>
</div>
