<section class="section-position ">
  <div class="container container--small-two creating-claim">

    <!--    <span routerLink="/index/item" style="position: absolute; left: 40px; top: 60px; padding: 5px;border-radius: 5px;  background-color: #A3ACC2;-->
    <!--color: white">Назад</span>-->

    <div class="steps">
      <div class="steps__element steps__element--line" [ngClass]="getStepClass(1)"><span class="steps__element-text">Выбор тарифа</span></div>
      <div class="steps__element steps__element--line" [ngClass]="getStepClass(2)"><span class="steps__element-text">Оплата</span></div>
      <div class="steps__element" [ngClass]="getStepClass(3)"><span class="steps__element-text">Тариф оплачен</span></div>
      <div class="steps__mobile">Шаг {{step}} из 3</div>
    </div>
    <div [ngSwitch]="step"
         class="step-box">
      <div *ngSwitchCase="0">
        <div class="loader"></div>
      </div>
      <div *ngSwitchCase="1">
        <h1 class="heading-h1">Тарифы</h1>
        <app-rates-debit
          [rates]="surchargeRequestService.rates"
          [activeTariff]="surchargeRequestService.activeTariff"
          [countRates]="surchargeRequestService.countRates"
          (selectingTariff)="surchargeRequestService.selectTariff($event)">
        </app-rates-debit>
        <div class="container container__tabs container__tabs--footer">
          <div class="form-item__btn-block">
            <button type="button" class="btn-blue-attr back-button" (click)="backStep()">Назад</button>
            <div class="form-item__payment">
              <p *ngIf="!surchargeRequestService.isLoading">Итого к оплате: <b>{{(+surchargeRequestService.paymentSum).toLocaleString('ru')}} ₽</b></p>
              <button type="button" class="btn-blue" (click)="surchargeRequestService.sendTariff()">Оплатить</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="2">
        <h1 class="heading-h1">Выбор способа оплаты</h1>
        <app-surcharge-payment></app-surcharge-payment>
        <div class="form-item__btn-block payment-buttons">
          <button type="button" class="btn-blue-attr" (click)="backStep()">Назад</button>
        </div>
      </div>
      <div *ngSwitchCase="3" class="stage">
        <app-surcharge-finished *ngIf="surchargeRequestService.paymentType === 'online'; else offline"></app-surcharge-finished>
        <ng-template #offline>
          <div class="info-plate">
            <div class="info-plate__img" style="width: initial"><img [src]="logo2path | proxyImage"></div>
            <p class="info-plate__text">Счет сформирован и отправлен вам на почту {{userEmail}}.<br> Рекомендуем оплатить
              счет в течение 5 дней.</p>
            <a class="bordered-blue" (click)="surchargeRequestService.backToCase()">Перейти к списку заявок</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>

