@import "variables";

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.step-box {
  margin-top: 40px;
  padding: 40px 50px;
  border-radius: 5px;
  background: $g__form_background;
  border: 1px solid $g__outline_color;

  @media (max-width: 768px) {
    margin-top: 10px;
    padding: 18px 10px;
  }
}

.loader {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color;
  border-right: 16px solid $g__link_color;
}
