@import "variables";

.duty {
  display: flex;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 20px 20px 30px;
  justify-content: space-between;
  background: $g__white_background;
  border: 1px solid rgba(0, 0, 0, 0.1);

  @media (max-width: 576px) {
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    font-style: normal;
    margin-bottom: 9px;

    @media (max-width: 768px) {
      font-weight: 400;
      margin-bottom: 5px;
    }
  }

  &__description {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto';
    color: $g__text_color_primary;
  }

  &__price-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
    @media (max-width: 768px) {
      flex-direction: row;
      width: 100%;
      margin-top: 24px;
      justify-content: space-between;
    }
  }

  &__price {
    display: flex;
    margin: 0 0 9px;

    p { margin-bottom: 0; }

    @media (max-width: 768px) {
      margin: auto 0;
      justify-content: space-between;
    }
  }

  &__old-price {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 10px;
    color: $g__text_color_secondary;
    text-decoration-line: line-through;
  
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
      margin-right: 15px;
    }
  }

  &__discount {
    font-size: 15px;
    color: #FF1037;
    line-height: 20px;
  
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  
  &__full {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: $g__text_color_primary;
  }
}
