.payment-buttons {
  position: relative;
  width: 200px;
  bottom: 51px;
  margin-bottom: -55px;

  @media (max-width: 790px) {
    bottom: 0;
    margin-bottom: 0;
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
}

.offline-btn {
  text-align: end;
  margin-top: 40px;

  @media (max-width: 500px) {
    display: flex;
    text-align: initial;

    app-button {
      width: 100%;
    }
  }
}

.first {
  //display: flex;
  //align-content: center;
  .act_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.second {
  margin-bottom: 20px;
}
//app-button {
//  @media (max-width: 500px) {
//    width: 100%;
//    button {
//      width: 100%;
//    }
//  }
//}
.disabled {
  opacity: 0.6;
  pointer-events: none;
}
