.add-doc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 580px;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 40px;
  z-index: 1001;

  @media (max-width: 600px) {
    min-width: 375px;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    transform: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    max-width: none;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }

  &__header {
    position: relative;

    p {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 24px;

      @media (max-width: 600px) {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
      }
    }

    @media (max-width: 600px) {
      padding: 15px 20px;
      background-color: white;
      position: sticky;
      top: 0;
      z-index: 12;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    @media (max-width: 600px) {
      background: #EBEDF2;
      padding: 20px;
      overflow: scroll;
      flex-grow: 1;
    }
  }

  &__input-add {

    input {
      opacity: 0;
      position: absolute;
    }

    label {
      display: flex;
      width: 100%;
      padding: 46px 13px 13px;
      justify-content: center;
      text-align: center;
      border: 1px dashed #00AFEC;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 16px;
      line-height: 19px;
      color: #00AFEC;
      margin-bottom: 40px;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      &::before {
        content: "";
        position: absolute;
        top: 13px;
        right: 47%;
        width: 24px;
        height: 24px;
        background-image: url("/assets/images/plus.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__btns-wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px) {
      background: #EBEDF2;
      padding: 20px;
      margin-top: auto;
      position: sticky;
      bottom: 0;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: auto;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      right: -20px;
      width: 20px;
      height: 20px;
      background-image: url("/assets/images/close-blue.svg");
      background-repeat: no-repeat;
      background-position: center;

      @media (max-width: 600px) {
        right: 12px;
        top: 2px;
        width: 24px;
        height: 24px;
        background-image: url("/assets/images/close-icon.svg");
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__file-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-bottom: 1px solid #DCDEE1;
  }

  &__file {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-top: 1px solid #DCDEE1;
  }

  &__error {
    font-size: 16px;
    line-height: 20px;
    color: #FF1037;
    margin-top: 10px;
    margin-bottom: 0;
  }

  &__select-list {
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
    border-radius: 5px;
    padding: 20px;
  }

  &__select-list-wrap {
    padding-bottom: 20px;
    position: absolute;
    z-index: 10;
    top: 52px;
    width: 100%;
  }

  &__select-list-item {
    margin-bottom: 20px;

    &--lev1 {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
    }

    &--lev2 {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #929FAB;
    }

    &--lev3 {
      font-size: 16px;
      line-height: 20px;
      padding-left: 30px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__selected-wrap {
    position: relative;
  }

  &__selected {
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
    border: 1px solid rgba(21, 36, 56, 0.15);
    border-radius: 5px;
    position: relative;

    @media (max-width: 600px) {
      background-color: white;
    }

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      right: 22px;
      width: 10px;
      height: 6px;
      background-image: url("/assets/images/icon-arr-down-active.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--error {
      border: 1px solid #FF1037;
    }

    &--open::before {
      transform: rotate(180deg);
    }
  }

  &__file-name-block {
    display: flex;
    width: 100%;

    p {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &__file-delete {
    width: 18px;
    height: 18px;
    background-image: url("/assets/images/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}
