.items-list {
  position: relative;
  display: grid;
  gap: 10px;
  margin-bottom: 20px;

  &-loading::before {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
  }

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
  }
}
