<div class="add-file-form__wrap" *ngIf="this.dynamicFormService.files.length">
  <div class="add-file-form__file" (click)="downloadFiles.downloadFile(file)" *ngFor="let file of this.dynamicFormService.files, index as i">
    <p>{{trimString(file?.fileName, 30)}}</p>
    <button *ngIf="!savedFormState"
      class="add-file__del"
      (click)="deleteFile(i)"
      [class.add-file__del-disabled]="savedFormState"
    >
    </button>
  </div>
</div>

<form *ngIf="!savedFormState"
      class="add-file-form"
      [formGroup]="form"
      [style.opacity]="noDocs ? 0.6 : 1">
  <div class="add-file-form__block add-file" *ngIf="!isUploadingFile; else loader">

    <span class="prompt">?
      <span class="prompt__hidden">
        <span>{{def.help}}</span>
      </span>
    </span>

    <input
      type="file"
      id="doc"
      multiple
      (change)="onFileUpload($event)"
      formControlName="file"
      [attr.disabled]="savedFormState || noDocs ? true : null">
    <div class="label-files">
      <label
        class="add-file__label"
        [class.add-file__label-disabled]="savedFormState || noDocs"
        for="doc">
        {{def.title}}
      </label>
      <span class="add-file__subtitle add-file__subtitle--no-hover">DOC, PDF, или изображение</span>
    </div>

<!--    <div *ngFor="let file of files, index as i;">-->
<!--      <span class="add-file__name">-->
<!--        <a-->
<!--          class="download-file"-->
<!--          href="{{file.path}}"-->
<!--          download-->
<!--        >-->
<!--          {{trimString(file.fileName, 30)}}-->
<!--        </a>-->
<!--        <button-->
<!--          class="add-file__del"-->
<!--          (click)="deleteFile(i)"-->
<!--          [attr.disabled]="savedFormState ? true : null">-->
<!--        </button>-->
<!--      </span>-->
<!--    </div>-->


    <div
      *ngIf="uploadProgress < 100 && uploadProgress != 0"
      class="add-file__progress-bar"
      [ngStyle]="{ width: uploadProgress + '%' }"
    >
    </div>
  </div>
  <ng-template #loader>
    <div class="add-file-form__block add-file">
      <app-spinner class="spinner-full"></app-spinner>
    </div>
  </ng-template>
</form>
<p class="file-error" *ngIf="fileError?.length">{{fileError}}</p>
