@import "variables";

.add-file-form {
  display: flex;
  flex-direction: column;
  max-width: 520px;
}

.add-file {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  //padding: 20px 32px 53px;
  padding: 18px 18px 18px 68px;
  border: 1px solid #00AFEC;
  box-sizing: border-box;
  border-radius: 5px;

  //&::before {
  //  content: "";
  //  display: block;
  //  margin-bottom: 18px;
  //  width: 48px;
  //  height: 48px;
  //  background-image: url("/assets/images/add-file-2.svg");
  //  background-size: 48px 48px;
  //}

  & input {
    display: none;
  }
}

.add-file__label {
  position: relative;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #00AFEC;
  cursor: pointer;

  &-disabled {
    cursor: not-allowed;
    :hover {
      pointer-events: none;
    }
  }
}

.add-file__subtitle {
  font-size: 16px;
  line-height: 20px;
  color: $g__text_color_secondary;
}

.add-file__name {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #152438;
}

.add-file__del {
  margin-left: 5px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  background-image: url("/assets/icons/icon-delete.svg");
  cursor: pointer;

  &-disabled {
    cursor: not-allowed;
    :hover {
      pointer-events: none;
    }
  }
}

.btn-blue {
  align-self: flex-end;
  padding: 14px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background: #00AFEC;
  border-radius: 5px;
  border: 1px solid #00AFEC;
  box-sizing: border-box;
  cursor: pointer;

  @media(max-width: 768px) {
    width: 100%;
  }

  &:hover {
    background: #0D8EBB;
    border: 1px solid #0D8EBB;
  }
}

.prompt {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 13px;
  line-height: 16px;
  color: #00AFEC;
  border-radius: 50%;
  border: 1px solid #D9D9D9;
  cursor: pointer;

  &:hover .prompt__hidden {
    display: block;
  }
}

.prompt__hidden {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  max-width: 200px;
  height: fit-content;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  color: #152438;
  box-sizing: border-box;
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
  border: 1px solid rgba(21, 36, 56, 0.15);
  z-index: 2;
}

.add-file__progress-bar {
  margin-top: 10px;
  height: 10px;
  background-color: #00AFEC;
}

.download-file {
  text-decoration-line: underline;
  color: #00AFEC;
  margin-left: 5px;
  @media (max-width: 1280px) {
    margin-left: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.label-files {
  display: flex;
  flex-direction: column;
}

.file-error {
  color: $g__alert_color;
  padding-bottom: 10px;
  margin-top: -5px;
  font-size: 13px;
  line-height: 18px;
}
