$mainColor: #041222; // Фон на главной странице
$selected_mktu_background: #307ABD; // Цвет фона для выбранного класса МКТУ
$selected_mktu: #FFFFFF; // Цвет выбранного класса МКТУ
$border_mktu: 1px solid rgba(255, 255, 255, 0.15); // Рамка на классе МКТУ при наведении
$height_search_field: 100%; // Высота поля поиска
$search_field_padding: 7px 7px 7px 24px; // Отступы в поле поиска
$width_search_button: auto; // Ширина кнопки поиска
$background_button: #FF1037; // Цвет кнопки
$mktu_background: #041222; // Цвет фона для классов МКТУ
$margin_cards: -176px; // Отступ для скрытых карточек
