<ng-container
  *ngFor="let item of finalControls; trackBy: trackControl">

  <app-form-columns-control
    *ngIf="item.control.type === 'formColumns'"
  >
    <app-dynamic-form-renderer
      class="form-columns-control--column"
      *ngFor="let formItems of item.control.data"
      [formState]="formState"
      [formId]="formId"
      [state]="state"
      [isSending]="isSending"
      [filesLength]="filesLength"
      [noDocs]="noDocs"
      [controls]="formItems.data"
      [showColumnsFooter]='showColumnsFooter'
      (action)="onAction($event)"
      (valueChange)="valueChange.emit($event)"
    ></app-dynamic-form-renderer>
  </app-form-columns-control>

  <app-title-control
    *ngIf="item.control.type === 'title'"
    [id]="item.control.id"
    [def]="item.control.data"
  ></app-title-control>

  <app-text-control
    *ngIf="item.control.type === 'text'"
    [id]="item.control.id"
    [def]="item.control.data"
  ></app-text-control>

  <app-button-control
    class="button-control"
    *ngIf="item.control.type === 'button' && !dynamicFormService.savedFormState"
    [id]="item.control.id"
    [savedFormState]="dynamicFormService.savedFormState"
    [isSending]="isSending"
    [filesLength]="filesLength"
    [noDocs]="noDocs"
    [def]="item.control.data"
    (action)="onAction($event)"
  ></app-button-control>

  <app-list-control
    *ngIf="item.control.type === 'list'"
    [id]="item.control.id"
    [def]="item.control.data"
  ></app-list-control>

  <app-section-control
    *ngIf="item.control.type === 'section' && (item.control.id !== '000004636' || item.control.id === '000004636' && showColumnsFooter)"
    [id]="item.control.id"
    [def]="item.control.data">

    <app-dynamic-form-renderer
      [formId]="formId"
      [state]="state"
      [formState]="formState"
      [isSending]="isSending"
      [filesLength]="filesLength"
      [noDocs]="noDocs"
      [controls]="item.control.data.formItems"
      [showColumnsFooter]='showColumnsFooter'
      (action)="onAction($event)"
      (valueChange)="valueChange.emit($event)"
    ></app-dynamic-form-renderer>
  </app-section-control>

  <app-attachments-control
    *ngIf="item.control.type === 'attachments'"
    [id]="item.control.id"
    [def]="item.control.data"
  ></app-attachments-control>

  <app-table-control
    *ngIf="item.control.type === 'table'"
    [id]="item.control.id"
    [def]="item.control.data"
  ></app-table-control>

  <app-choice-dialog-control
    *ngIf="item.control.type === 'choiceDialog'"
    [id]="item.control.id"
    [formState]="dynamicFormService.state"
    [savedFormState]="dynamicFormService.savedFormState"
    [def]="item.control.data"
    (action)="onAction($event)"
    (valueChange)="onValueChange(item.control.id, $event)"
  >
  </app-choice-dialog-control>

  <app-input-field-control
    *ngIf="item.control.type === 'inputField'"
    [id]="item.control.id"
    [formState]="dynamicFormService.state"
    [filesLength]="filesLength"
    [savedFormState]="dynamicFormService.savedFormState"
    [def]="item.control.data"
    (valueChange)="onValueChange(item.control.id, $event)"
  ></app-input-field-control>

  <app-file-upload-control
    *ngIf="item.control.type === 'fileUploadDialog'"
    [id]="item.control.id"
    [formState]="dynamicFormService.state"
    [savedFormState]="dynamicFormService.savedFormState"
    [noDocs]="noDocs"
    [def]="item.control.data"
    (action)="onAction($event)"
    (valueChange)="onValueChange(item.control.id, $event)"
  >
  </app-file-upload-control>


</ng-container>
