.button-control {
  display: inline-flex;
  justify-content: flex-end;

  @media (max-width: 500px){
    display: block;
  }
}

app-button-control:last-of-type {
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
  //top: -73px;

  @media (max-width: 500px){
    display: block;
    position: initial;
  }
}

app-button-control:first-of-type {
  position: relative;
  z-index: 2;
  //top: 30px;
  //left: 770px;
  margin-right: 20px;

  @media (max-width: 500px) {
    top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    left: 0;
  }
}

app-list-control {
  margin-bottom: 18px;
}
