@import 'variables';

.intellectual__caption {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.intellectual__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;

  @media (max-width: 991px) {
    margin-bottom: -30px;
  }

  @media (max-width: 767px) {
    margin-bottom: -20px;
  }
}

.intellectual__item {
  width: 48.4%;
  margin-right: 3.2%;
  margin-bottom: 40px;
  padding: 30px;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (max-width: 991px) {
    padding: 20px;
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-right: 0;
    padding: 10px;
    margin-bottom: 20px;
  }
}

.intellectual__title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;

  @media (max-width: 767px) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}

.intellectual__input-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 19px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    align-items: flex-start;
    margin-bottom: 10px;
  }
}

.intellectual__text-wrap {
  display: flex;
  align-items: center;
  line-height: 20px;

  @media (max-width: 767px) {
    align-items: flex-start;
  }

  & span.gray {
    color: $g__text_color_secondary;
  }
}

.intellectual__tooltip {
  position: relative;
  margin-left: 11px;
  flex-shrink: 0;
  width: 18px;
  height: 20px;

  &:hover {
    & .intellectual__tooltip-desc-wrap {
      bottom: 30px;
      opacity: 1;
      visibility: visible;
      transition: all 0.2s ease;
    }
  }
}

.intellectual__tooltip-desc-wrap {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 212px;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  @media (max-width: 1240px) {
    left: 40px;
    transform: translateX(-100%);
  }
}

.intellectual__tooltip-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 18px;
  height: 24px;
  cursor: pointer;
  fill: $g__warning_color;
}

.switch {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: 34px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.switch__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $g__toggle_no_active_background;
  border: 1px solid $g__outline_color;
}

.switch__slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: $g__white_background;
  transition: all 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.switch__input:checked + .switch__slider {
  background-color: $g__toggle_active_background;
}

.switch__input.check:checked + .switch__slider {
  background-color: $g__toggle_active_disabled_background;
}

.switch__input.check:disabled + .switch__slider {
  background-color: $g__toggle_active_disabled_background;
  cursor: initial;
}

.switch__input:checked + .switch__slider::before {
  transform: translateX(12px);
  transition: all 0.2s ease;
}

.switch__input:disabled + .switch__slider {
  cursor: initial;
}

.switch__slider.round {
  border-radius: 20px;
}

.switch__slider.round:before {
  border-radius: 50%;
}

.user-card__button-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    margin-top: 20px;
    display: block;
  }
}

.user-card__button {
  display: inline-block;
  padding: 15px 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $g__btn_primary_color;
  background: $g__btn_primary_background;
  border: 1px solid $g__btn_primary_background;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: 767px) {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  &--revoke {
    color: $g__alert_color;
    background-color: transparent;
    border: 1px solid $g__alert_color;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  &--send {
    @media (max-width: 992px) {
      display: block;
      width: 100%;
      margin: 0;
    }
  }
}
