@import 'variables';

h2 {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: normal;
  color: $g__text_color_primary;

  @media(max-width: 768px) {
    font-size: 22px;
  }
}

h3 {
  margin-bottom: 10px;
  color: $g__text_color_primary;
  font-size: 20px;
  font-weight: bold;

  @media(max-width: 768px) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 5px;
  }
}

.main-nav__btn{
  @media(max-width: 768px) {
    margin-top: 0;
  }
}

.info-card__more{
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: $g__link_color;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  p{
    padding-right: 30px;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 20px;
      height: 20px;
      top:0;
      right: 0;
      background-image: url("/assets/images/arrow.png");
    }
  }
}

.info-card__text{
  @media(max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
  }
}

.info-card__wrapper {
  @media(max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
  }
}

.service-wrapper .info-card .btn__blue {
  padding: 0 10px;
  font-size: 13px;
  line-height: 24px;
  color: $g__alert_text_color;
  background-color: $g__success_color;
}

.info-card {
  margin-bottom: 11px;
  padding: 21px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media(max-width: 768px) {
    width: 49%;
    margin-bottom: 0;
  }

  @media(max-width: 575px) {
    width: 100%;
    padding: 15px;

    &:first-of-type {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin-bottom: 19px;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;

    &--small {
      font-size: 13px;
      line-height: 24px;
    }

    &--big {
      margin-bottom: 26px;
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__price {
    display: block;
    margin-top: 38px;
    font-size: 20px;
    color: $g__text_color_primary;
    font-weight: 700;
  }

  &--main {
    width: 100%;
    padding: 45px 15px;
    text-align: center;
    font-size: 20px;

    @media(max-width: 575px) {
      padding: 30px 15px;

      & p {
        margin-bottom: 0;
      }
    }
  }

  &--hasdeal {
    padding: 15px 20px 20px;
    text-align: left;
    font-weight: 700;

    @media(max-width: 575px) {
      padding: 15px;
    }
  }

  &__main-text {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: $g__text_color_primary;
  }

  &__state {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
}

.service-wrapper__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  @media(max-width: 768px) {
    margin-bottom: 15px;
  }

  & button {
    display: none;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: $g__link_color;
    background: transparent;
    border: none;
  }
}
