@import 'variables';

.heading-h1 {
  margin-top: 36px;
  text-align: center;
}
.back-button {
  position: absolute;
  left: 0;
  top: 50%;
  width: 84px;
  height: 21px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  //padding-left: 41px;
  .back-icon{
    min-width: 24px;
    min-height: 15px;
    background-image: url("/assets/images/icon-arrow-grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
  }
  .text {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $g__btn_attr_text_color;
  }

}
.form--margin{
  margin-bottom: 20px;
}

.tabs__item {
  @media (max-width:768px) {
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-right: 0;
  }
  padding-right: 5px;
  padding-left: 5px;
}

.tabs__item a{
  @media (max-width:768px) {
    background: #F7F8FB;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 13px;
    line-height: 18px;

    &.is-active {
      @media (max-width: 768px) {
        background: #FFFFFF;
      }
    }
  }
}


.is-active {
  @media (max-width: 768px) {
    border-bottom: none;
    color: $g__link_color;
  }
}

.tabs__list{
  @media (max-width:768px) {
    flex-direction: column;
    gap: 10px;
  }
}

.field {
  @media (max-width: 768px) {
    height: auto;
    padding: 33px 20px;
    padding-bottom: 13px !important;
  }
}

.form__input-wrap span{
  @media (max-width: 768px) {
    top: 13px !important;
    left: 20px !important;
    font-size: 13px  !important;
    line-height: 18px  !important;
  }
}

.btn-wrap{
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.back-button{
  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    align-items: center;
    height: fit-content;
    transform: none;
    position: relative;
  }
}

.back-button .back-icon {
  @media (max-width: 768px) {
    margin-right: 10px;
  }
}

// loader
.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
.invalid-form-btn {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
.company-item {
  &:hover {
    background: #F4F6FA;
    cursor: pointer;
  }
}
.legal-name-patentee {
  position: absolute;
  color: #AAAAAA;
  font-size: 16px;
  top: 30px;
  z-index: 10;
  cursor: auto;
}
.form-card {
  position: inherit;
  border: 1px solid $g__outline_color;
  &:hover {
    border: 1px solid $g__link_color;
  }
}
.non-border {
  border: none;
}
.payer-check-loader {
  width: 40px;
  height: 40px;
  border-width: 4px;
  right: 20px;
  bottom: 15px;
  position: absolute
}

.error-text {
  color: red;
}
.error-payer {
  border: 1px solid red;
}
.act_tab__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
  .act_items {
    margin: 20px;
  }
  .act_title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #152438;
  }
  .act_logo {
    width: 40px;
    height: 48px;
    margin-bottom: 0;
  }
  .act_button_container {
    order: 2;
    margin-left: auto;
    margin-bottom: 0;
  }
  .act_button {
    width: 149px;
    height: 50px;
    background: #00AFEC;
    border: 1px solid #00AFEC;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
  }
}
.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.disabled-switch {
  opacity: 0.5;
  pointer-events: none;
}

.tabs__list--half-cols {
  margin-right: -5px;
  margin-left: -5px;
}

.disabled-payment {
  pointer-events: none;
  opacity: 0.4;
}
