.inset {
  background-color: white;
  padding: 40px 0;
  @media (max-width: 1280px) {
    padding: 40px 15px;
  }
  @media (max-width: 768px) {
    padding: 20px;
  }
}

.docs__main-wrapper h4 {
  margin-bottom: 30px;
}

.docs__icon {
  position: relative;

  &:hover {
    .prompt__hidden {
      display: flex;
      flex-direction: column;
      bottom: 50px;

      a {
        color: #00AFEC;
        text-decoration: underline;
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}
