<section class="section-position section-position__color-bg section-position--padding">
  <div class="container container-top">
    <h1>Дела</h1>
  </div>

  <div class="sections container" *ngIf="def">
    <app-filters-container
      [def]="def"
      [layout]="{ lg: lg,
                  md: ['1fr'],
                  sm: ['1fr']
                 }"
      [clear$]="clearFilter$"
      (apply)="applyFilter($event)"
      [smButtonTitle]="'Поиск по делам'"
    ></app-filters-container>
  </div>

  <div class="sections container found-objects">
    <app-ui-objects-found
      *ngIf="layout !== 'sm' && isFiltersApplied"
      [total]="state.totalCount"
      [found]="state.filteredCount"
      (clearFilter)="clearFilter()"
    ></app-ui-objects-found>
  </div>
</section>
