@import 'variables';

.attorney__table {
  table-layout: fixed;

  @media (max-width: 991px) {
    display: block;
    margin-top: 20px;
  }

  & th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:nth-child(-n+3) {
      width: 18%;
    }

    &.attorney__status {
      width: 142px;
    }

    &.attorney__upload {
      width: 145px;
    }
  }

  & td {
    padding: 17px 18px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-of-type {
      padding-left: 18px;
    }

    &:first-of-type {
      padding-left: 0;
    }

    &.attorney__status-wrap {
      text-overflow: inherit;
    }

    @media (max-width: 991px) {
      display: flex;
      align-items: baseline;
      padding: 0;
      overflow: visible;
      text-overflow: inherit;
      white-space: pre-wrap;
      border: none;

      &.attorney__valid-to-wrap {
        padding: 0;
      }

      &::before {
        content: attr(data-label);
        margin-right: 2px;
        font-size: 13px;
        line-height: 18px;
        color: $g__text_color_secondary;
      }
    }

    @media (max-width: 375px) {
      &.attorney__valid-to-wrap {
        margin-left: -15px;
      }
    }
  }

  & tr.invalid {
    @media (max-width: 991px) {
      & td {
        color: $g__text_color_secondary;

        &::before {
          content: attr(data-label);
          color: $g__text_color_secondary;
        }
      }

      & .attorney__file {
        color: $g__text_color_secondary;
      }
    }
  }

  & tr {
    @media (max-width: 991px) {
      display: grid;
      grid-template-columns: 1fr auto;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #E6E8ED;

      &:nth-child(2) {
        border-top: 1px solid #E6E8ED;
      }

      &:first-of-type {
        display: none;
      }
    }
  }
}

.attorney__table .attorney__from {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: 991px) {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-bottom: 10px;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;

    &::before {
      margin-right: 5px;
      font-size: 16px;
      line-height: 20px;
      color: $g__text_color_primary;
    }
  }
}

.attorney__file {
  text-decoration: underline;
  color: $g__link_color;
}

.attorney__status-text {
  display: inline-block;
  margin: 0;
  padding: 5px 12px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #000000;
  border-radius: 5px;

  &.wait {
   background-color: #F2DDBE;
  }

  &.valid {
    background-color: #BEF2C5;
  }

  &.invalid {
    background-color: #F0F0F0;
  }
}

.attorney__status-wrap {
  @media (max-width: 991px) {
    grid-row: 1/2;
    grid-column: 1/2;

    &::before {
      display: none;
    }
  }
}

.attorney__upload-wrap {
  @media (max-width: 991px) {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
  }
}

.attorney__file-wrap {
  @media (max-width: 991px) {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-top: 15px;
    margin-bottom: 10px;

    &::before {
      display: none;
    }
  }
}

.attorney__table .attorney__to-wrap {
  @media (max-width: 991px) {
    grid-row: 4/5;
    grid-column: 1/3;
    margin-bottom: 15px;

    &::before {
      margin-right: 5px;
      font-size: 16px;
      line-height: 20px;
      color: $g__text_color_primary;
    }
  }
}

.attorney__valid-from-wrap {
  @media (max-width: 991px) {
    grid-row: 5/6;
    grid-column: 1/2;
    font-size: 13px;
    line-height: 18px;
  }
}

.attorney__valid-to-wrap {
  @media (max-width: 991px) {
    grid-row: 5/6;
    grid-column: 2/3;
    font-size: 13px;
    line-height: 18px;
  }
}

.dropdown__wrap {
  @media (max-width: 991px) {
    margin-right: 20px;
    width: auto;
    min-width: auto;
  }
}

.dropdown__wrap.mobile {
  margin-right: 0;
  width: 100%;
}

.filter__buttons {
  display: none;

  @media (max-width: 767px) {
    display: flex;
  }
}

.filter__button {
  @media (max-width: 991px) {
    margin-top: 0;
  }
}

.filter-text-result {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 15px 0;
}

.show-all-link{
  margin-left: 5px;
  color: $g__link_color;
  border-bottom: 1px dotted $g__link_color;
}

.no-proxies {
  padding: 30px 30px 40px;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.no-proxies__img {
  display: block;
  margin: 0 auto 20px;
  width: 120px;
  height: 32px;
}

.no-proxies__title {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

//.no-proxies__desc {
//  width: 80%;
//  margin: 15px auto 0;
//  font-size: 16px;
//  line-height: 20px;
//  text-align: center;
//  color: $g__text_color_secondary;
//
//  & a {
//    text-decoration: underline;
//    color: $g__link_color;
//  }
//
//  @media (max-width: 767px) {
//    width: 100%;
//  }
//}
//
//.no-proxies__btn {
//  display: block;
//  padding: 10px 15px;
//  margin: 0 auto;
//  font-weight: 400;
//  font-size: 16px;
//  line-height: 20px;
//  text-transform: none;
//
//  @media (max-width: 767px) {
//    width: 100%;
//  }
//}
