<section class="section-position ">
  <div class="container container--small-two creating-claim">

<!--    <span routerLink="/index/item" style="position: absolute; left: 40px; top: 60px; padding: 5px;border-radius: 5px;  background-color: #A3ACC2;-->
<!--color: white">Назад</span>-->

    <div class="steps">
      <div class="steps__element steps__element--line" [ngClass]="getStepClass(1)"><span class="steps__element-text">Укажите данные</span></div>
      <div class="steps__element steps__element--line" [ngClass]="getStepClass(2)"><span class="steps__element-text">Тариф</span></div>
      <div class="steps__element steps__element--line" [ngClass]="getStepClass(3)"><span class="steps__element-text">Оплата</span></div>
      <div class="steps__element" [ngClass]="getStepClass(4)"><span class="steps__element-text">Подготовка претензии</span></div>
      <div class="steps__mobile">Шаг {{step}} из 4</div>
    </div>
    <div [ngSwitch]="step"
          class="step-box">
      <div *ngSwitchCase="0">
        <div class="loader"></div>
      </div>
      <div *ngSwitchCase="1" class="stage">
       <app-user-phone *ngIf="!personalData"
                       [isDebit]="true"
                       (personalDataStatus)="getPersonalDataStatus($event)"
                       (noPhoneStatus)="getSuccessPhoneConfirm($event)">
         ></app-user-phone>
        <h1 class="heading-h1">Кто должник?</h1>
        <app-creating-claim
          [isDisabled]="noPhone">
        </app-creating-claim>
        <div class="container container__tabs container__tabs--footer">
          <p class="explanation">Для того, чтобы взыскать долг, необходимо соблюсти претензионный порядок – направить претензию должнику с требованием о возврате долга.
            Если ваши требования не будут удовлетворены в течение месяца, у вас появится право обратиться в суд.</p>
          <div class="form-item__btn-block">
            <button type="button" class="btn-blue-attr" (click)="backStep()">Отмена</button>
            <button type="button" class="btn-blue" [disabled]="claimValidation()" (click)="nextStep()">Далее</button>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="2">
        <h1 class="heading-h1">Тарифы</h1>
        <app-rates-debit
                   [rates]="requestClaimService.rates"
                   [activeTariff]="requestClaimService.activeTariff"
                   [countRates]="requestClaimService.countRates"
                   [requestType]="requestType"
                   (selectingTariff)="requestClaimService.selectTariff($event)">
        </app-rates-debit>
        <div class="container container__tabs container__tabs--footer">
          <div class="form-item__btn-block">
            <button type="button" class="btn-blue-attr back-button" (click)="backStep()">Назад</button>
            <div class="form-item__payment">
              <p>Итого к оплате: <b>{{(+requestClaimService.paymentSum).toLocaleString('ru')}} ₽</b></p>
              <button type="button" class="btn-blue" (click)="nextStep()">Оплатить</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="3">
        <h1 class="heading-h1">Выбор способа оплаты</h1>
        <app-payment-claim></app-payment-claim>
        <div class="form-item__btn-block payment-buttons">
          <button type="button" class="btn-blue-attr" (click)="backStep()">Назад</button>
        </div>
      </div>
      <div *ngSwitchCase="4" class="stage">
        <app-finished-claim *ngIf="requestClaimService.paymentType === 'online'; else offline"></app-finished-claim>
        <ng-template #offline>
          <div class="info-plate">
            <div class="info-plate__img" style="width: initial"><img [src]="logo2path | proxyImage"></div>
            <p class="info-plate__text">Счет сформирован и отправлен вам на почту {{userEmail}}.<br> Рекомендуем оплатить
              счет в течение 5 дней.</p>
            <a class="bordered-blue" routerLink="/index">Перейти к списку заявок</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
