@import 'variables';

.portfolio-item__title {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 25px;
  padding: 0 20px 15px;
  border-bottom: 1px solid $g__outline_color;

  @media (max-width: 767px) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 18px;
    padding: 0 0 20px;
  }
}

.portfolio-item__total-wrapper {
  display: flex;
  align-items: center;
}

.portfolio-item__total-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &:first-of-type {
    width: 48%;

    @media (max-width: 767px) {
      width: 54%;
    }
  }
}

.portfolio-item__total {
  margin-right: 12px;
  font-size: 60px;
  line-height: 60px;

  @media (max-width: 767px) {
    margin-right: 0;
    font-size: 50px;
    line-height: 60px;
  }
}

.portfolio-item__total-desc {
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.portfolio__btn-wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 14px;

  @media (max-width: 991px) {
    flex-direction: column;
    top: 0;
  }
}

.portfolio-item__btn {
  margin-top: 15px;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;

  &--cases {
    color: $g__btn_attr_text_color;
    background-color: transparent;
    border: 1px solid $g__btn_attr_border_color;
  }

  @media (max-width: 767px) {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid $g__outline_color;
  }
}

.no-objects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;

  & p {
    font-size: 18px;
    line-height: 26px;
  }

  & img {
    margin-bottom: 15px;
  }

  @media (max-width: 767px) {
    padding-top: 0;

    & p {
      font-size: 16px;
      line-height: 22px;
    }

    & img {
      margin-bottom: 20px;
    }
  }

  & .portfolio-item__btn {
    margin-top: 0;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
