@import 'projects/themes/1c-start/variables';

.search-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.center {
  padding: 20px;
}

.responsive-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
}

.counter_num {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  color: #152438;
  //padding-left: 20px;
}

.cropper_container {
  visibility: hidden;

  @media (max-width: 790px) {
    position: relative;
    left: 20px;
  }
}

.section-top-search {
  z-index: 0;
}

.zz-index {
  z-index: 1;
}

:host ::ng-deep {
  .ip-id_search_container {
    max-width: none !important;
    min-height: 60px !important;
    padding-top: 0 !important;
  }

  .search_input_container {
    width: 100% !important;
  }

  @media(max-width: 1200px) {
    .app-ip-id-search-input {
      //z-index: 1 !important;
    }

    //.control__mobile {
    //  bottom: 16px !important;
    //}
  }

  .main__form {
    width: 100%;
  }

  .cropper_container {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    img {
      border: 1px solid rgba(21, 36, 56, 0.15);
      border-radius: 5px;
    }
  }
}

.visible-border {
  position: relative;
  z-index: 0;
}
