input {
  width: 100%;
  display: flex;
  min-height: 50px;
  padding: 16px 20px;
  border: none;
  font-size: 16px;
  line-height: 19px;
  color: #162941;
  border-radius: 5px;

  &::placeholder {
    font: inherit;
    color: #929FAB;
  }
}
.invalid {
  border: 2px solid #FF1037;
}
