.search-trademarks {
  position: relative;
  margin: 0 auto;
  padding: 40px 20px 0;
  max-width: 1240px;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 768px) {
    padding-top: 20px;
  }
}

.search-trademarks__title {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #32404D;

  @media(max-width: 768px) {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
  }
}

.search-trademarks__title-main {
  font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
}

.search-trademarks__title-risk {
  margin: 0 0 0 20px;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #152438;
  text-transform: initial;
  box-sizing: border-box;
  border-radius: 25px;

  &.high {
    background: #FFF2F2;
    border: 1px solid #FF1037;
    box-shadow: 0 5px 15px rgba(255, 16, 55, 0.15);
  }

  &.medium {
    background: #FFF4EA;
    box-shadow: 0 5px 15px rgba(255, 131, 16, 0.15);
    border: 1px solid #FF8310;
  }

  &.low {
    background: #F2FCF1;
    box-shadow: 0 5px 15px rgba(164, 231, 162, 0.15);
    border: 1px solid #A4E7A2;
  }

  @media(max-width: 768px) {
    display: block;
    padding: 9px;
    margin-top: 15px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
  }
}

.search-trademarks__desc p {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 26px;
  color: #152438;

  @media (max-width: 768px) {
    position: relative;
    margin: 0 0 15px;
    font-size: 16px;

    & br {
      display: none;
    }
  }

  & a {
    color: #307ABD;
    text-decoration: none;
    cursor: pointer;
  }
}

.search-trademarks__selected {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #929FAB;

  & a {
    position: relative;
    padding-right: 6px;
    color: #307ABD;
    cursor: pointer;
  }

  & button {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: #929FAB;
    background-color: #EBEDF2;
    border: none;
    cursor: pointer;
    z-index: 2;

    @media (max-width: 768px) {
      font-size: 13px;
      line-height: 18px;
    }

    & span {
      color: #307ABD;
      border-bottom: 1px dashed #307ABD;
    }
  }

  @media (max-width: 768px) {
    font-size: 13px;
    line-height: 18px;
  }
}

.search-trademarks__selected-wrap {
  margin-right: 5px;
}

.search-trademarks__selected-mktu {
  &:last-child {
    & span {
      display: none;
    }
  }
}

.search-result-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 23.8%);
  grid-gap: 20px;
  margin-bottom: 0;
  margin-top: 30px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 49.2%);
    grid-gap: 10px;
    margin-top: 20px;
  }
}

.search-result__wrap {
  position: relative;
  background-color: #EBEDF2;
  overflow-y: hidden;
  padding: 1px 0 60px;

  @media(max-width: 768px) {
    padding-bottom: 50px;
  }
}
