<div class="search-result__modal" *ngIf="selectedTrademark">
  <app-trademark-modal
    [show]="showModalNew"
    [trademark]="selectedTrademark"
    (close)="closeModal()">
  </app-trademark-modal>
</div>

<div class="search-result__wrap" [class.none]="allTrademarks?.hits?.total?.tradeMarks === 0">
  <section class="search-trademarks">
    <h2 class="search-trademarks__title">
      <span
        class="search-trademarks__title-main">
        <span *ngIf="allTrademarks?.risks?.max_risk === 'High'">Найдены очень похожие товарные знаки</span>
        <span *ngIf="allTrademarks?.risks?.max_risk === 'Medium'">Найдены похожие товарные знаки</span>
        <span *ngIf="allTrademarks?.risks?.max_risk === 'None' || allTrademarks?.risks?.max_risk === 'Low'">Похожих товарных знаков нет</span>
      </span>
      <span class="search-trademarks__title-risk"
            [ngClass]="{
              high: allTrademarks?.risks?.max_risk === 'High',
              medium: allTrademarks?.risks?.max_risk === 'Medium',
              low: allTrademarks?.risks?.max_risk === 'None' || allTrademarks?.risks?.max_risk === 'Low'
            }"
      >
        <span class="risk-high"
              *ngIf="allTrademarks?.risks?.max_risk === 'High'">Высокий риск отказа в регистрации</span>
        <span class="risk-medium"
              *ngIf="allTrademarks?.risks?.max_risk === 'Medium'">Средний риск отказа в регистрации</span>
        <span class="risk-low"
              *ngIf="allTrademarks?.risks?.max_risk === 'None' || allTrademarks?.risks?.max_risk === 'Low'">Поздравляем, ваше название уникально</span>
      </span>
    </h2>

    <div class="search-trademarks__desc">
      <p *ngIf="allTrademarks?.risks?.max_risk === 'High'">
        В базах Роспатента найдены товарные знаки, которые будут противопоставлены при регистрации<br>
        вашего названия. Попробуйте уточнить <a (click)="onShowMKTUClasses()">класс МКТУ</a>, чтобы уменьшить
        количество совпадений.
      </p>
      <p *ngIf="allTrademarks?.risks?.max_risk === 'Medium'">
        В базах Роспатента найдены товарные знаки, которые могут быть противопоставлены при<br>
        регистрации вашего названия. Попробуйте уточнить <a (click)="onShowMKTUClasses()">класс МКТУ</a>, чтобы
        снизить риски отказа.
      </p>
      <p *ngIf="allTrademarks?.risks?.max_risk === 'None' || allTrademarks?.risks?.max_risk === 'Low'">
        В базе Роспатента нет похожих товарных знаков или заявок на регистрацию. Советуем<br>
        зарегистрировать название в качестве товарного знака как можно скорее, пока его никто не занял.
      </p>
    </div>

    <p class="search-trademarks__selected">
      <ng-container *ngIf="isAllClassSelected; else mktuList">
        Поиск проведен по 45 классам МКТУ
      </ng-container>

      <ng-template #mktuList>
        <span class="search-trademarks__selected-wrap">Выбранные классы МКТУ:
          <span *ngFor="let mktuItem of MKTU" class="search-trademarks__selected-mktu">
            {{mktuItem.number}}<span>,</span>
          </span>
        </span>
        <button (click)="clear()">(<span>Очистить</span>)</button>
      </ng-template>
    </p>
  </section>

  <app-ls-emb-accordion
    *ngIf="dataTrademarks.length"
    [type]="'trademarks'"
    [dataLength]="dataTrademarks.length"
    [data]="dataTrademarks"
    [isShowTrademarks]="isShowResult"
    (slicedData)="getSlicedData($event)">
    <div class="search-result-list">
      <app-ls-emb-item-card *ngFor="let trademark of slicedData" (click)="openModal(trademark)"
                            [item]="getPureDataForView(trademark)">
      </app-ls-emb-item-card>
    </div>
  </app-ls-emb-accordion>
</div>
