@import 'variables';

.expert {
  width: 59%;
  padding-top: 50px;
  padding-left: 17px;

  @media(max-width: 768px) {
    padding: 0;
    width: 100%;
  }

  &__btn {
    cursor: pointer;
    margin: 5px;
    padding: 9px 10px;
    font-size: 13px;
    color: $g__text_color_primary;
    background: $request__tab_background;
    border: 1px solid $g__outline_color;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 2;


    @media (max-width: 768px) {
      background: $g__white_background;
      padding: 12px;
      margin-bottom: 5px;
      margin-right: auto;
    }

    &:hover {
      opacity: .7;
    }
  }
}

.expert__btn-wrapper {
  width: 90%;

  @media(max-width: 768px) {
    padding-bottom: 15px;
    margin-left: -5px;
  }

  @media(max-width: 768px) {
    padding-bottom: 15px;
    width: 280px;
    flex-direction: column;
    display: flex;
  }
}

.section-position {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media(max-width: 768px) {
    flex-direction: column;
    padding: 30px 0 0;
  }

  &__exp {
    background: $expert__background;
    padding-top: 0;

    @media(max-width: 768px) {
      background: $g__form_background;
      padding: 0;
    }
  }

  &__expert {
    display: flex;
    justify-content: center;
    padding: 0 100px;
    background: $expert__background;

    @media(max-width: 768px) {
      padding: 20px;
      background: $expert__background;
      flex-direction: column;
      position: relative;
    }
  }
}

.section-position__expert-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  img {
    padding-top: 12px;
    margin-bottom: -5px;
    max-width: 314px;
    max-height: 333px;
    object-fit: contain;
    user-select: none;

    @media(max-width: 768px) {
      right: -40px;
      height: auto;
      position: absolute;
      bottom: 0;
      width: auto;
      max-width: 165px;
    }
  }

  @media(max-width: 768px) {
    align-items: center;
    order: 2;

    picture {
      display: block;
      text-align: center;
    }
  }
}

.expert h2 {
  margin-bottom: 23px;
  font-size: 25px;
  line-height: 32px;
  font-weight: 400;

  @media(max-width: 768px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.ask-form {
  display: flex;
  flex-direction: column;
  width: 84%;

  &__field {
    background: #F2F4F8;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 13px;
    line-height: 18px;
    color: $g__text_color_primary;
    margin-bottom: 10px;
  }

  //&__select {
  //  width: fit-content;
  //  display: block;
  //  box-sizing: border-box;
  //  -moz-appearance: none;
  //  -webkit-appearance: none;
  //  appearance: none;
  //  background-image: url("./assets/images/icon-arrow-black.svg"), linear-gradient(to bottom, #F2F4F8 0%, #F2F4F8 100%);
  //  background-repeat: no-repeat, repeat;
  //  background-position: right 5% top 45%, 0 0;
  //  background-size: 7px 6px, 100%;
  //  padding-right: 26px;
  //}
}

.ask-form textarea::placeholder {
  font-size: 13px;
  line-height: 18px;
  color: $g__text_color_primary;
}

.section-position__exp--user-profile {
  background-color: $g__form_background;

  & .section-position__expert {
    background-color: $g__form_background;
  }

  & .expert__btn-wrapper {
    margin-left: -5px;
    margin-top: -5px;
  }

  & .expert__btn {
    padding: 8px 9px;
    line-height: 18px;
    font-family: inherit;
    background: $request__tab_background;
    border: 1px solid $g__outline_color;
  }

  @media (max-width: 767px) {
    & .expert__btn-wrapper {
      margin: 0;
      display: block;
    }

    & .expert__btn {
      display: block;
      margin: 0 0 10px;
    }

    & .section-position__expert-img img {
      right: -60px;
      width: 65%;
    }
  }
}

.gray {
  background: $g__form_background;
}

.btn-white {
  background: #FFFFFF;
}

.section-position__expert {
  overflow: hidden;
}
.jivo_link {
  text-decoration: none;
  color: #152438;
}
.jivo_show {
  display: block !important;
}
