@import 'variables';

.section-position__wrap {
  @media(max-width: 767px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

:host ::ng-deep .add-object__content {
  position: static;
  width: 100%;
  background: $g__form_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 1240px;
  margin: 40px auto;

  @media(max-width: 767px) {
    margin-top: 10px;
    margin-bottom: 0;

    &--pay {
      box-shadow: none;
      border: none;
      background-color: #EBEDF2;
    }

    &--tariff {
      padding-bottom: 15px;
      margin-bottom: 30px;
    }
  }
}

.yandex{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #CACACA;
  height: 400px;
}

.pay-form{
  display: flex;
  flex-direction: column;
  width: 100%;

  &__wrapper{
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 14px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    &:last-of-type{
      margin-bottom: 30px;
    }
  }

  &__label{
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $g__text_color_secondary;
    margin-bottom: 4px;
  }

  &__input {
    font-size: 18px;
    line-height: 21px;
    color: #162941;
    border: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0;

    &--font {
      font-size: 25px;
      line-height: 40px;
    }

    ::placeholder {
      color: $g__text_color_secondary;
    }
  }
}

.form__input:focus ~ .form__input-label, .form__input:not(:focus):valid ~ .form__input-label, .form__input:-webkit-autofill ~ .form__input-label, .form__input:not(:empty) ~ .form__input-label, .form__input[type=tel]:disabled ~ .form__input-label {
  left: 20px;
}

.form-item__btn-block{
  button:last-of-type{
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.payment-buttons {
  position: relative;
  width: 200px;
  bottom: 120px;
  left: 150px;
  margin-bottom: -55px;

  @media (max-width: 790px) {
    bottom: 0;
    margin-bottom: 0;
  }
}

.btn-blue-attr {
  border: 1px solid $g__btn_attr_border_color;
  color: $g__btn_attr_text_color;
}

.loader {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color;
  border-right: 16px solid $g__link_color;
}
