.actions {
  display: flex;
  margin-top: 20px;
  position: relative;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }

  & > * {
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}
