.main-loader {
  padding-bottom: 48px;
  color: #929FAB;

  .container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  svg {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
  }
}
