@import "variables";

.add-object__finished {
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 40px;

  @media (max-width:768px) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
  }
}

.add-object__thanks{
  width: 74%;
  @media (max-width:768px) {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
}

.add-object__content {
  padding: 0 0 20px;
}

.add-object{
  @media (max-width:768px) {
    padding: 10px 5px;
  }
}

.add-object__content {
  box-shadow: none;
}

.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
