<header class="header header--centered"><a class="header__logo" href="#"><app-logo></app-logo></a>
</header>
<div class="page-wrapper">
  <main>
    <section class="form-section">
      <div class="container-sm">
        <h1 class="heading-h1 heading-h1--centered">Регистрация</h1>
        <div class="error_heading">
          <h3 *ngIf="errorRegister" class="error_label">{{errorText}}</h3>
        </div>
        <form class="form" [formGroup]="registrationForm">
          <div class="form__group">
            <div class="form__input-wrap">
              <input class="form__input field"
                     type="search"
                     formControlName="name"
                     [ngClass]="{ 'error': registrationForm.get('name').invalid && registrationForm.get('name').touched }"
                     required>
              <span class="form__input-label">Ваше имя</span>
            </div>
          </div>
          <div class="form__group">
            <div class="form__input-wrap">
              <input class="form__input field"
                     type="search"
                     formControlName="surname"
                     [ngClass]="{ 'error': registrationForm.get('surname').invalid && registrationForm.get('surname').touched }"
                     required>
              <span class="form__input-label">Фамилия</span>
            </div>
          </div>

          <div *ngIf="!codeEntered && !codeMatched" class="form__group form__group--fields">
            <div class="form__col form__col--2-3-md">
              <div class="form__input-wrap">
                <input type="tel"
                       class="form__input field"
                       [(ngModel)]="phone"
                       (input)="onInputPhone($event)"
                       [ngModelOptions]="{standalone: true}"
                       (focus)="initPhoneForm()"
                />
                <span [ngClass]="phone === ''? 'form__input-label_new': 'form__input-label'">Номер мобильного телефона</span>
              </div>
            </div>
            <div class="form__col form__col--1-3-md mobile-btn">
              <button [ngClass]="{ 'disabled': !isPhoneValid}"
                      class="btn btn--sm" type="button" (click)="fetchCode()">Получить код
              </button>
            </div>
          </div>
          <!--          add dynamic logic-->
          <div *ngIf="codeEntered && !codeMatched" class="form__group form__group--fields">
            <div class="form__col form__col--2-3-md">
              <div class="form__input-wrap">
                <input class="form__input field"
                       type="tel"
                       [(ngModel)]="phone"
                       [ngModelOptions]="{standalone: true}"
                       [ngClass]="{ 'disabled_phone': codeError }"
                       required>
                <span class="form__input-label">Номер мобильного телефона
                  <a *ngIf="!isCodeSuccess" class="bordered-blue" (click)="resetPhone()">Указать другой номер</a>
                </span>
              </div>
            </div>
            <div class="form__col form__col--1-3-md">
              <div class="form__input-wrap">
                <input class="form__input error field"
                       type="tel"
                       formControlName="code"
                       *ngIf="!codeError"
                       [ngClass]="{ 'error': !phone || codeError }"
                       (keyup)="checkCode($event, 4)" required>
                <span *ngIf="!codeError" class="form__input-label">Код</span>
                <button *ngIf="codeError"
                        class="btn btn--sm disabled" type="button" (click)="fetchCode()">Получить код
                </button>

              </div>
            </div>
          </div>

          <div *ngIf="codeMatched" class="form__group form__group--fields">
            <div class="form__col form__col--2-3-md">
              <div class="form__input-wrap">
                <input class="form__input field"
                       [(ngModel)]="phone"
                       type="tel"
                       formControlName="phone"
                       [ngClass]="{ 'disabled_phone': codeError }"
                       required>
                <span class="form__input-label">Номер мобильного телефона
                  <a *ngIf="!isCodeSuccess" class="bordered-blue" (click)="resetPhone()">Указать другой номер</a>
                </span>
              </div>
            </div>
            <div class="form__col form__col--1-3-md">
              <div class="form__input-wrap">
                <input class="success form__input field"
                       type="tel"
                       formControlName="code"
                       [attr.disabled]="isCodeSuccess ? '' : null"
                       (keyup)="checkCode($event, 4)"
                       [ngClass]="{ 'error': registrationForm.get('code').invalid && registrationForm.get('code').touched || codeError }"
                       [ngClass]="{ 'error--code': registrationForm.get('code').invalid && registrationForm.get('code').touched || codeError }"
                       required>
                <span *ngIf="!codeError" class="success-remark"></span>
                <span class="form__input-label">Код</span>
              </div>
            </div>
          </div>
          <div *ngIf="codeError || phoneError" class="error_container">
            <span *ngIf="codeError" class="error_label code_label">{{errorText}}</span>
            <span *ngIf="phoneError" class="error_label">{{errorText}}</span>
          </div>
          <div *ngIf="!codeError && showTimer ">
            <div class="timer_container" *ngIf="!isCodeSuccess">
              <p *ngIf="showTimer && count != 0 && !phoneError" class="form__subtitle">Повторить отправку
                через {{counter$ | async}}сек.</p>
            </div>
            <div *ngIf="showRepeat && count === 0 && !phoneError" class="repeat-code">
              <a class=" bordered-blue" (click)="fetchCodeRepeat()">Отправить код повторно</a>
            </div>
          </div>

          <!--          end dynamic-->

          <div class="form__group">
            <div class="form__input-wrap">
              <input class="form__input field"
                     type="search"
                     formControlName="email"
                     [ngClass]="{ 'error': registrationForm.get('email').invalid && registrationForm.get('email').touched }"
                     required
                     email
              >
              <span class="form__input-label">Email</span>
            </div>
          </div>
          <p class="form__subtitle">Рекомендуется указывать корпоративный адрес электронной почты</p>
          <div class="form__group form__group--fields">
            <div class="form__col form__col--1-2-md">
              <div class="form__input-wrap">
                <input class="form__input field"
                       type="password"
                       (keyup)="comparePasswords()"
                       formControlName="newPassword"
                       [ngClass]="{ 'error': registrationForm.get('newPassword').invalid && registrationForm.get('newPassword').touched}"
                       required
                >
                <span class="form__input-label">Придумайте пароль</span>
              </div>
            </div>
            <div class="form__col form__col--1-2-md">
              <div class="form__input-wrap">
                <input class="form__input field"
                       type="password"
                       (keyup)="comparePasswords()"
                       formControlName="password"
                       [ngClass]="{ 'error': registrationForm.get('password').invalid && registrationForm.get('password').touched && !passwordMatch }"
                       required
                >
                <span class="form__input-label">Повторите пароль</span>
              </div>
            </div>
          </div>
          <div *ngIf="registrationForm.get('password').touched && !passwordMatch" class="error_container_pass">
            <span class="error_label">Пароли не совпадают.</span>
          </div>
          <div *ngIf="registrationForm.get('newPassword').invalid && registrationForm.get('newPassword').touched"
               class="error_container_pass">
            <span class="error_label">Пароль слишком простой. Используйте минимум 6 символов, большие и маленькие буквы, добавьте цифры и спецсимволы</span>
          </div>

          <p class="form__subtitle form__subtitle--mobile">Придумайте пароль состоящий минимум из 6 симоволов, используйте большие и маленькие буквы, добавьте цифры</p>
          <div class="form__footer">
            <button *ngIf="!showLoader"
                    class="btn btn__auth btn--full"
                    type="submit"
                    [disabled]="registrationForm.invalid || registrationForm.disabled"
                    (click)="registerUser()">Зарегистрироваться
            </button>
            <button *ngIf="showLoader"
                    class="btn btn__auth btn--full"
                    type="submit"
            >
              <span class="loaderAuth"></span>
            </button>
            <p class="form__lisence-info">Нажимая на кнопку «Зарегистрироваться» вы соглашаетесь <br
              class="hide-up-to-md"> с <a class="bordered-blue" target="_blank" href="{{staticFolder}}/rules.pdf">условиями использования</a></p>
          </div>
        </form>
        <p class="form-section__account form-section__account--check-in" [routerLink]="['/login']">
          Уже есть аккаунт? <a class="bordered-blue">Войти</a>
        </p>
      </div>
    </section>
  </main>
  <footer class="footer footer--centered">
    <p class="footer__lisence-info">{{footerText}}</p>
  </footer>
</div>
