.ng_tel {
  width: 100%;
}
.error_heading {
  text-align: center;
  font-size: 14px;
}
.mail_labels {
  font-size: 0.8125rem;
  top: 15px;
  left: 20px;
}
.error_container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;
}
.code_label {
  margin-bottom: 5px;
}

.error_container_pass {
  display: flex;
  margin-top: 10px;
  margin-bottom: 26px;
}
.disabled {
  pointer-events: none;
  background-color: #929FAB;
}
.disabled_phone {
  pointer-events: none;
}
.loaderAuth {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #00AFEC;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.timer_container {
  margin: 10px 10px 10px 0;
}
//.form__input-label_new {
//  font-size: 0.5625rem;
//  line-height: 1.1538461538;
//  left: 10px;
//  top: 5px;
//  transform: none;
//  pointer-events: auto;
//}
.form__input-label_new {
  font-size: 0.875rem;
  line-height: 1.1666666667;
  color: rgba(22, 41, 65, 0.5);
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.mobile-btn{
  @media (max-width:500px){
    margin-bottom: 20px;
  }
}
