.notifications {
  &__head-text{
    display: flex;
    gap: 20px;
    font-size: 15px;
    line-height: 20px;
    color: #00AFEC;

    p{
      margin-bottom: 0;
    }
  }

  &__block{
    display: flex;
    flex-direction: column;

    &--width{
      flex-grow: 1;
    }
  }

  &__subtitle{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__head{
    display: flex;
    justify-content: space-between;
    padding: 9px 20px;
    align-items: center;
    border-bottom: 1px solid #DCDEE1;
  }

  &__list{
    li{
      padding: 20px 0;
      display: flex;
      &:not(:last-of-type){
        border-bottom: 1px solid #DCDEE1;
      }
    }
  }

  &__img{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    min-width: 48px;
    height: 48px;
    background: #EBEDF2;
    margin-right: 15px;

    img{
      width: 100%;
    }
  }

  &__subtitle{
    justify-content: space-between;
    font-size: 13px;
    line-height: 18px;

    p{
      margin-bottom: 4px;
    }

    &--gray{
      color: #929FAB;
    }
  }

  &__text{
    p{
      font-size: 15px;
      line-height: 20px;
      color: #152438;
      margin-bottom: 3px;
    }

    &-status{
      border-radius: 3px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 4px 5px;
      font-size: 11px;
      line-height: 18px;

      &--red{
        background: #FF1037;
      }
    }
  }

  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

&__showMore{
  display: flex;
  color: #00AFEC;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #DCDEE1;
}
  &__modal {
    width: 478px;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  &__items{
    display: flex;
    flex-direction: column;
    padding: 20px;

    h3{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #162941;
      margin-bottom: 0;
    }

  }
}

.btn-blue-small {
  padding: 6px 9px;
}
