<app-tab-has-docs *ngIf="point.type ===1"></app-tab-has-docs>

<app-tab-adding-docs *ngIf="point.type ===2"></app-tab-adding-docs>

<app-tab-with-table *ngIf="point.type ===3"></app-tab-with-table>

<app-tab-common-info *ngIf="point.type ===4"></app-tab-common-info>

<app-tab-tariff *ngIf="point.type ===5"></app-tab-tariff>

<app-tab-results *ngIf="point.type ===6"></app-tab-results>

<app-tab-wrong *ngIf="point.type ===7"></app-tab-wrong>

<app-tab-doc-mix *ngIf="point.type ===8"></app-tab-doc-mix>

<app-tab-what-we-did *ngIf="point.type ===9"></app-tab-what-we-did>

<app-tab-complex-form *ngIf="point.type ===10"></app-tab-complex-form>

<div *ngIf="!point.type" class="events-steps__hidden">
  <div class="events-steps__hidden-text-wrapper hidden" [innerHTML]="point.popupText">
  </div>
  <div class="footer_parrent">
    <div class="docs__block" *ngIf="point.popupFiles.length > 0">
      <a class="docs__block-link" (click)="downloadFiles.downloadFile(point.popupFiles[0].file)">
        <div class="docs__text-wrapper">
          <span>{{point.popupFiles[0].file.name}}</span>

        </div>
        <div class="docs__icon-wrapper">
        <span class="docs__icon">
<!--              <img src="/assets/icons/warning.png" class ="docs__icon&#45;&#45;mini">-->
          <svg width="50" height="50" viewBox="0 0 50 50">
            <circle cx="25" cy="25" r="25"/>
            <path
              d="M25.9844 22H31.5156L25.9844 16.5156V22ZM19 15.0156H27.0156L33.0156 21.0156V33.0156C33.0156 33.5469 32.8125 34 32.4062 34.375C32.0312 34.7812 31.5625 34.9844 31 34.9844H19C18.4375 34.9844 17.9531 34.7812 17.5469 34.375C17.1719 34 16.9844 33.5469 16.9844 33.0156V16.9844C16.9844 16.4531 17.1719 16 17.5469 15.625C17.9531 15.2188 18.4375 15.0156 19 15.0156ZM24.0156 28V25H22V28H19V30.0156H22V33.0156H24.0156V30.0156H27.0156V28H24.0156Z"
              fill="white"/>
          </svg>
        </span>
        </div>
      </a>
    </div>
    <button
      *ngIf="point.status === 'К согласованию' && !isEventAgree"
      (click)="eventAgree()"
      class="search__btn">Согласовать
    </button>

    <button
      *ngIf="point.status === 'Согласовано' || isEventAgree"
      class="search__btn"
      style='cursor: not-allowed'
      disabled
    >
      Согласовано
    </button>
  </div>

</div>
