@import 'variables';

.control__wrap {
  @media (max-width: 768px) {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.control {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;

  @media (max-width: 768px) {
    min-width: max-content;
    width: 100%;
    top: 0;
    margin-bottom: 0;
  }

  &__btn {
    background: $header__light_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    width: 31.5%;
    padding: 20px;
    color: $g__text_color_primary;
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    z-index: 1;

    & span {
      color: $g__text_color_primary;
    }

    @media (max-width: 768px) {
      width: 33%;
      min-width: 150px;
      padding: 15px 10px;
      background: #FFFFFF;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    &:hover {
      opacity: 1;
    }

    &--active {
      background: #FFFFFF !important;
      border: 1px solid $g__outline_color;
      color: $g__text_color_primary;
      position: relative;
      z-index: 3;
      border-bottom-color: #FFFFFF !important;
      box-shadow: none;

      @media (max-width: 768px) {
        background: $header__light_background;
        border: 1px solid $g__outline_color;
      }
    }
  }

  &__division {
    margin-left: 0;

    &--red {
      color: $g__alert_color !important;
    }
  }

  &__count {
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 25px;
    line-height: 40px;

    @media (max-width: 768px) {
      position: static;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.section-position, .container {
  background: #FFFFFF;
}

.section-position__color-bg {
  background: $header__light_background;
}

.container-top {
  background: $header__light_background;
  padding-top: 40px;
  padding-bottom: 0;

  @media (max-width: 767px) {
    padding-top: 30px;
  }

  &__heading span {
    font-size: 18px;
    line-height: 1.33;
    color: $g__text_color_secondary;
    margin-bottom: 10px;

    @media (max-width: 767px) {
      margin-bottom: 5px;
    }
  }

  &__heading h1 {
    font-size: 32px;
    line-height: 1.37;
    color: $g__text_color_primary;
    margin-bottom: 0;
    font-weight: normal;

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__heading {
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  &__state-wrapper {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    width: 100%;
    padding-bottom: 40px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 10px;
      padding-bottom: 20px;
    }
  }

  &__state-svg {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 20px;

    @media (max-width: 767px) {
      top: 10px;
      right: 15px;
    }

    &--yellow {
      fill: #FFD439;
    }

    &--blue {
      fill: #93D3ED;
    }

    &--purple {
      fill: #97B3FB;
    }

    &--dark-green {
      fill: #86BEAC;
    }

    &--green {
      fill: #71CA4B;
    }
  }

  &__state {
    background: transparent;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 22px 20px 13px;
    position: relative;

    @media (max-width: 767px) {
      padding: 10px 15px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      color: $g__text_color_secondary;
      margin-bottom: 7px;

      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    span {
      font-size: 13px;
      line-height: 18px;
      color: $g__text_color_secondary;
    }

    &--current {
      p {
        color: $g__text_color_primary;
      }
    }

    &::before {
      position: absolute;
      content: '';
      width: 97.5%;
      top: 0;
      left: 3px;
      border-radius: 10px 10px 0px 0px;
      height: 3px;

      @media (max-width: 767px) {
        width: 98.5%;
      }
    }

    &--yellow {
      border: 1px solid #FFD439;
      box-shadow: 0px 8px 10px rgba(255, 212, 57, 0.15);
      border-radius: 10px;
      background: $g__white_background;

      p {
        max-width: 84%;
        color: $g__text_color_primary;
      }

      &::before {
        background: #FFD439;
      }
    }

    &--blue {
      border: 1px solid #93D3ED;
      box-shadow: 0px 8px 10px rgba(147, 211, 237, 0.15);
      border-radius: 10px;
      background: $g__white_background;

      p {
        max-width: 84%;
        color: $g__text_color_primary;
      }

      &::before {
        background: #93D3ED;
      }
    }

    &--purple {
      border: 1px solid #97B3FB;
      box-shadow: 0px 8px 10px rgba(151, 179, 251, 0.15);
      border-radius: 10px;
      background: #FFFFFF;

      p {
        max-width: 84%;
        color: $g__text_color_primary;
      }

      &::before {
        background: #97B3FB;
      }
    }

    &--dark-green {
      border: 1px solid #86BEAC;
      box-shadow: 0px 8px 10px rgba(134, 190, 172, 0.15);
      border-radius: 10px;
      background: #FFFFFF;

      p {
        max-width: 84%;
        color: $g__text_color_primary;
      }

      &::before {
        background: #86BEAC;
      }
    }

    &--green {
      border: 1px solid #71CA4B;
      box-shadow: 0px 8px 10px rgba(113, 202, 75, 0.15);
      border-radius: 10px;
      background: #FFFFFF;

      p {
        max-width: 84%;
        color: $g__text_color_primary;
      }

      &::before {
        position: absolute;
        content: '';
        width: 97.5%;
        top: 0;
        left: 3px;
        background: #71CA4B;
        border-radius: 10px 10px 0px 0px;
        height: 3px;
      }
    }
  }
}

.control {
  background: $header__light_background;
}

.container--main {
  padding-top: 40px;
  padding-bottom: 60px;
  z-index: 2;
  border-top: 1px solid $g__outline_color;
  margin-top: -1px;

  @media (max-width: 767px) {
    padding: 30px 20px;
  }
}

.info-table {
  display: flex;
  gap: 40px;

  @media (max-width: 767px) {
    display: block;
  }

  &__table {
    width: 100%;

    @media (max-width: 767px) {
      width: 100%;
    }

    table {
      border-collapse: collapse;
      width: 100%;

      @media (max-width: 767px) {
        margin-bottom: 10px;
      }

      tr {
        border-bottom: 1px solid $g__outline_color;

        &:first-of-type {
          border-top: 1px solid $g__outline_color;
        }

        @media (max-width: 767px) {
          display: block;
        }

        td:first-of-type {
          color: $g__text_color_secondary;
          padding: 20px 0;

          @media (max-width: 767px) {
            padding-top: 10px;
            padding-bottom: 5px;
          }
        }

        td {
          font-size: 16px;
          line-height: 1.25;

          @media (max-width: 767px) {
            display: block;
          }
        }

        td:last-of-type {
          text-align: right;
          padding: 20px 0;

          @media (max-width: 767px) {
            text-align: left;
            padding-bottom: 10px;
            padding-top: 0;
          }
        }
      }
    }
  }

  &__img {
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 493px;
    width: 40%;
    max-height: 307px;

    @media (max-width: 767px) {
      max-height: none;
      width: 100%;
      max-width: none;
      height: 208px;
      //padding: 57px;

      & img {
        object-fit: cover;
      }
    }
  }
}

.section-position--main {
  border-top: 1px solid $g__outline_color;
  z-index: 3;
}

.docs {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__main-wrapper {

    h4 {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      font-family: 'Roboto', sans-serif;
    }

    &--card {
      gap: 20px;

      .docs__blocks {
        gap: 20px;

        @media (max-width: 767px) {
          gap: 10px;
        }
      }

      .docs__block {
        max-width: 366px;

        @media (max-width: 991px) {
          max-width: none;
        }
      }

      h4 {
        margin-bottom: 20px;
      }
    }
  }

  &__main-wrapper:not(:last-of-type) {
    margin-bottom: 40px;
  }

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (max-width: 767px) {
      width: 40px;
      height: 40px;
    }

    img {
      width: 100%;
      position: relative;
    }
  }

  &__blocks {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }

  &__block-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__block {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 14px;

    @media (max-width: 991px) {
      max-width: none;
    }

    @media (max-width: 767px) {
      padding: 8px 14px;
    }

    span {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: $g__text_color_primary;

      @media (max-width: 767px) {
        font-size: 15px;
        line-height: 20px;
      }
    }

    .docs__name {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $g__text_color_secondary;

      @media (max-width: 767px) {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.docs__icon svg {
  fill: $header__dark_background;
}

.docs__icon .docs__icon--mini {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 5;
  right: -7px;
  top: -6px;
}

.docs .docs__icon-wrapper span {
  margin-bottom: 0;
}

.docs .docs__icon-prompt {
  background: #FFFFFF;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 7px;
  position: absolute;
  right: -60px;
  top: -54px;
  display: none;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  z-index: 7;

  p {
    font-size: 13px;
    line-height: 15px;
    color: $g__text_color_primary;
    margin-bottom: 0;
  }

  a {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #00AFEC;
    margin-bottom: 0;
  }

  &:hover {
    display: block;
  }
}

.docs__icon:hover .docs__icon-prompt {
  display: block;
}

.docs .docs__btn-wrapper {
  display: flex;
  justify-content: flex-end;

  a {
    border: 1px solid $g__link_color;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $g__link_color;
    padding: 12px 10px 12px 44px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      background-image: url('/assets/icons/download.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      width: 24px;
      height: 24px;
      top: 10px;
      left: 10px;
    }
  }
}


.to-hide {
  display: none;
  border: none;
  background: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration-line: underline;
  color: $g__link_color;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }

  &:hover {
    cursor: pointer;
  }

  &--display {
    display: block;
  }
}


.hidden {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: $g__text_color_primary;
    margin-bottom: 30px;
    position: relative;
    width: fit-content;

    @media (max-width: 991px) {
      font-size: 20px;
      line-height: 28px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    span::after {
      width: 24px;
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: 100%;
      height: 32px;
      background-image: url("/assets/images/warning.png");
      top: 3px;
      right: -30px;

      @media (max-width: 767px) {
        right: 0;
      }
    }
  }

  &--margin h3 {
    margin-bottom: 22px;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  &__blocks-wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      display: block;
      margin-top: 10px;
    }

    &--column {
      flex-direction: column;

      @media (max-width: 767px) {
        margin-top: 0;
      }
    }
  }

  &__blocks-table-wrapper {
    //background: $g__attention_background;
    background: $g__attention_background;
    border: 1px solid $g__warning_color;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 20px;
    line-height: 133%;
    margin-bottom: 30px;

    @media (max-width: 767px) {
      padding: 10px 10px 0;
      margin-bottom: 20px;
    }

    h4 {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      color: $g__warning_color;
      margin-bottom: 5px;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
        padding: 0;
      }
    }

    p {
      font-size: 18px;
      line-height: 24px;
      color: $g__text_color_primary;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
      }
    }
  }

  &__blocks-after-table {
    display: flex;
    width: 100%;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__input-text-wrapper {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  &__block {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    padding-left: 50px;

    @media (max-width: 767px) {
      width: 100%;
      padding: 0;
      margin-bottom: 0;
    }

    &:first-of-type {
      padding-right: 50px;
      padding-left: 0;

      @media (max-width: 767px) {
        padding: 0;
        margin-bottom: 20px;
      }
    }

    &:last-of-type {
      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    &:first-of-type:after {
      position: absolute;
      content: '';
      width: 1px;
      background: $g__outline_color;
      height: 100%;
      top: 0;
      right: 0;

      @media (max-width: 767px) {
        display: none;
      }
    }

    &--no-line:first-of-type:after {
      display: none;
    }

    &--separating {
      background: #F7F8FB;
      border: 1px solid rgba(21, 36, 56, 0.1);
      box-sizing: border-box;
      border-radius: 5px;
      padding: 42px 50px;
      width: 100%;

      h4 {
        font-size: 24px;
        line-height: 32px;
        color: $g__text_color_primary;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        letter-spacing: normal;
        text-transform: none;
      }

      &:after {
        display: none;
      }

    }

    p {
      font-size: 16px;
      line-height: 20px;
      color: $g__text_color_primary;
      margin-bottom: 17px;

      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }
  }

  &__file-wrapper {
    background: #FFFFFF;
    border: 1px solid #E9ECF2;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    width: 384px;

    span {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: $g__text_color_primary;
    }

    a {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $g__text_color_secondary;
    }

  }

  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    @media (max-width: 767px) {
      margin-top: 10px;

      & button {
        display: block;
        width: 100%;
      }
    }

    &--position {
      justify-content: space-between;

      @media (max-width: 767px) {
        flex-direction: column-reverse;

        & .btn-blue-attr {
          display: block;
          width: 100%;
          margin-top: 20px;
          padding: 14px;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 95%;

    li {
      font-size: 16px;
      line-height: 24px;
      color: $g__text_color_primary;
      margin-bottom: 10px;
      padding-left: 35px;
      position: relative;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:after {
        width: 24px;
        height: 24px;
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('/assets/images/blue-done.svg');
        top: 0;
        left: 0;
        content: '';
        border-radius: 50%;

        @media (max-width: 767px) {
          width: 18px;
          height: 18px;
          top: 3px;
          left: 4px;
        }
      }
    }
  }
}

.attention {
  background: $g__attention_background;
  //background: $g__attention_background;
  border: 1px solid $g__warning_color;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;

  @media (max-width: 767px) {
    padding: 10px;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: $g__warning_color;
    margin-bottom: 5px;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  p {
    font-size: 18px;
    line-height: 24px;
    color: $g__text_color_primary;
    margin-bottom: 15px;

    @media (max-width: 767px) {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  button {
    border: none;
    background: none;
    padding: 0;
  }

  &--gray {
    background: #EEF0F7;
    border-radius: 0px 0px 4px 4px;
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 42px 50px;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-family: 'Roboto', sans-serif;
    text-decoration-line: underline;
    color: $g__link_color;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__list {
    text-align: left;
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-bottom: 14px;

    li {
      font-size: 18px;
      line-height: 24px;
      color: $g__text_color_primary;
      position: relative;
      padding: 0 10px 0 38px;
      font-family: 'Roboto', sans-serif;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }


      &:after {
        width: 18px;
        height: 18px;
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('/assets/images/blue-done.svg');
        top: 3px;
        left: 9px;
        content: '';
        border-radius: 50%;
      }
    }
  }

  &--in-card {
    p {
      margin-bottom: 0;
    }

    margin-bottom: 30px;
    margin-top: 0;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__show {
    display: flex;
    flex-direction: column;

    &--open {
      flex-direction: column-reverse;
    }
  }

  &--white {
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    margin-bottom: 0;
  }
}

.attention .btn-blue-attr {
  background: none;
  border: 1px solid $g__btn_primary_background;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #00AFEC;
  padding: 15px 20px;
  border: 1px solid $g__btn_primary_background;
  margin-right: auto;

  &:hover {
    border: 1px solid #0D8EBB;
    color: #0D8EBB;
    cursor: pointer;
  }
}


.hidden .hidden__short {
  margin-bottom: 20px;

  @media (max-width: 991px) {
    margin-bottom: 10px;
  }
}

.hidden .hidden__input-wrapper {
  & textarea {
    resize: none;
  }
}

.hidden .hidden__subtitle {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $g__text_color_secondary;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}

.hidden .hidden__chat {
  font-size: 16px;
  line-height: 20px;
  color: $g__link_color;
  padding-left: 28px;
  position: relative;

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 2;
    left: 3px;
    top: 0;
    fill: $g__link_color;
  }
}

.hidden .hidden__choice {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #162941;
  padding: 16px 20px;
  background: #F7F8FB;
  border: 1px solid $g__success_color;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  display: flex;
  width: 100%;
  position: relative;

  & svg {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 2;
    right: 10px;
    top: 12px;
    fill: $g__success_color;
  }

  p {
    margin-bottom: 0;
  }
}

.input-textarea {
  textarea {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    display: flex;
    width: 100%;

    placeholder {
      color: #162941;
      opacity: 0.4;
    }
  }
}

.add-file {
  display: flex;
  border: 1px solid $g__link_color;
  box-sizing: border-box;
  border-radius: 5px;
  flex-direction: column;
  width: 100%;
  padding: 18px 18px 18px 68px;
  position: relative;

  & svg {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 18px;
    top: 23px;
    fill: $g__link_color;
  }

  &:hover {
    border: 1px solid $g__text_color_secondary;
  }


  &__label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $g__link_color;
    text-decoration-line: underline;
    margin-bottom: 5px;

    &:hover {
      border: none;
    }
  }

  input {
    position: absolute;
    opacity: 0;

    &:hover {
      border: none;
    }
  }

  span {
    font-size: 16px;
    line-height: 20px;
    color: $g__text_color_secondary;

    &:hover {
      border: none;
    }
  }
}

.prompt__question {
  cursor: pointer;
}

.add-file .add-file__question {
  font-size: 13px;
  line-height: 16px;
  color: #00AFEC;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;

  &:hover {
    border: 1px solid #00AFEC;
  }
}

.hidden-table {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  border-collapse: collapse;

  @media (max-width: 767px) {
    margin-top: 0;
    margin-bottom: 5px;
  }

  th {
    background: #E8DFD4;
    padding: 8px 20px;
    position: relative;

    &:first-of-type {
      border-radius: 3px 0 0 3px;
    }

    &:last-of-type {
      border-radius: 0 3px 3px 0;
    }

    &:not(:last-of-type)::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      right: 0;
      top: 0;
      background: #D9D0C6;
    }
  }

  tr {
    background: #FCF6EE;

    &:nth-child(2n) {
      background: $g__attention_background;
    }

    @media (max-width: 767px) {
      &:first-of-type {
        display: none;
      }

      display: block;
      padding: 10px;
      background: $g__attention_background;
    }

    &.hidden-table__bold {
      display: none;
    }

    &:nth-child(2n) {
      background: #FCF6EE;
    }
  }

  td {
    padding: 8px 20px;
    font-size: 18px;
    position: relative;
    width: 22%;

    &:first-of-type {
      border-radius: 3px 0 0 3px;
      width: 34%;
    }

    &:last-of-type {
      border-radius: 0 3px 3px 0;
    }

    &:not(:last-of-type)::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      right: 0;
      top: 0;
      background: #D9D0C6;
    }

    @media (max-width: 767px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin-bottom: 10px;
      width: 100%;
      font-size: 13px;
      line-height: 18px;

      & p {
        font-size: 13px;
        line-height: 18px;
      }

      & span {
        font-weight: 700;

        &.hidden-table__sum {
          color: $g__link_color;
          border-bottom: 1px dotted $g__link_color;
        }
      }

      &:not(:last-of-type)::after {
        display: none;
      }

      &:first-of-type {
        border-radius: 0;
        padding-bottom: 10px;
        margin-bottom: 0;
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }

      &:last-of-type {
        border-radius: 0;
        margin-bottom: 0;
      }
    }
  }

  &__minus {
    color: $g__link_color;
  }

  &__sum {
    position: relative;
  }

  &__question {
    color: $g__link_color;
    width: 20px;
    height: 20px;
    right: -30px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;

    &:hover {
      border: 1px solid $g__link_color;
    }

    @media (max-width: 767px) {
      display: none;
    }

  }

  &__prompt {
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    width: 320px;
    position: absolute;
    bottom: -11px;
    right: 100px;
    z-index: 3;
    display: none;
  }

  &__bold {
    font-weight: bold;
  }
}

.hidden-table__question:hover .hidden-table__prompt {
  display: block;
}

.hidden-table__question .hidden-table__prompt p {
  font-size: 13px;
  line-height: 15px;
}


.nothing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0 20px 0;

  @media (max-width: 767px) {
    padding: 10px 0;
  }

  img {
    width: 159px;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.33;
    max-width: 45%;
    margin-bottom: 30px;

    @media (max-width: 767px) {
      max-width: none;
      margin-bottom: 20px;
    }
  }
}

.search__btn {
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding: 14px 20px;
  height: 98%;
  margin-bottom: auto;
  cursor: pointer;
  width: 200px;
  order: 2;
  margin-left: auto;


  &--single {
    padding: 13px 64px;
    margin-right: 0;
  }
}

.footer_parrent {
  display: flex;
  align-items: center;
  margin-top: 20px;

  @media(max-width: 991px) {
    display: block;

    & button {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  @media(max-width: 768px) {
    & button {
      width: 100%;
    }
  }
}
