<header class="header header--centered">
  <a class="header__logo" href="#">
    <app-logo></app-logo>
  </a>
</header>

<div class="page-wrapper">
  <main>
    <section class="form-section">
      <div class="container-sm">
        <h1 class="heading-h1 heading-h1--centered">Авторизация</h1>
        <form [formGroup]="loginForm" class="form">
          <div class="form__group">
            <div class="form__input-wrap">
              <input formControlName="email"
                     class="form__input field"
                     type="text"
                     [ngClass]="{ 'error': loginForm.get('email').invalid && loginForm.get('email').touched || incorrectLoginData }"
                     email
                     required>
              <span class="form__input-label">Адрес электронной почты</span>
            </div>
          </div>
          <div class="form__group">
            <div class="form__input-wrap">
              <input formControlName="password"
                     class="form__input form__input--linked field"
                     type="password"
                     [ngClass]="{ 'error': loginForm.get('password').invalid && loginForm.get('password').touched || incorrectLoginData }"
                     required>
              <a class="bordered-gray form__input-link" [routerLink]="['/recovery']">Забыли пароль?</a><span class="form__input-label">Пароль</span>
            </div>
            <div *ngIf="incorrectLoginData" class="errors">
            <span class="login_error">
                Неверный логин или пароль.
              </span>
            </div>
          </div>
          <div class="form__footer">
            <button *ngIf="!showLoader"
                    (click)="login()"
                    class="btn  btn__auth btn--full"
                    [disabled]="loginForm.invalid || loginForm.disabled"
                    type="button">Войти
            </button>
            <button *ngIf="showLoader"
                    class="btn btn__auth btn--full"
                    type="button">
              <span class="loaderAuth"></span>
            </button>
          </div>
        </form>
        <p class="form-section__account" [routerLink]="['/registration']">
          Нет аккаунта? <a class="bordered-blue">Зарегистрироваться</a>
        </p>
      </div>
    </section>
  </main>
  <footer class="footer footer--centered">
    <p class="footer__lisence-info">{{footerText}}</p>
  </footer>
</div>
