.errors {
  margin-top: 10px;
}
.loaderAuth {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #00AFEC;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
