<section class="intellectual container">
  <h3 class="intellectual__caption">Интеллектуальная собственность</h3>
  <div class="intellectual__wrap">
    <article class="intellectual__item" *ngFor="let intellectual of intellectuals">
      <h4 class="intellectual__title">{{ intellectual?.title }}</h4>
      <div class="intellectual__input-wrap" *ngFor="let field of intellectual?.fields">

        <label class="switch" [ngClass]="userBlock ? 'switch--block-user': ''">
          <input type="checkbox" class="visual-hidden switch__input"
                 *ngIf="!userBlock"
                 [checked]="field?.input?.enable"
                 [disabled]="field?.input?.disabled"
                 [ngClass]="field?.input?.confirmation === false ? 'check': ''"
                 [(ngModel)]="field.input.enable"
          >
          <input type="checkbox" class="visual-hidden switch__input"
                 *ngIf="userBlock"
                 [disabled]="userBlock"
          >
          <span class="switch__slider round"></span>
        </label>

        <div class="intellectual__text-wrap">
          <span [ngClass]="{'gray': !field?.input?.enable || userBlock}">
            {{ field?.name }}
          </span>
          <div class="intellectual__tooltip" *ngIf="field?.input?.confirmation === false && !userBlock && field?.input?.enable">
            <img class="intellectual__tooltip-img" src="/assets/icons/icon-tooltip.svg" alt="" width="18"
                 height="24"/>
            <div class="intellectual__tooltip-desc-wrap">
              <p class="intellectual__tooltip-desc">Тут могла бы быть ваша реклама</p>
            </div>
          </div>
        </div>

      </div>
    </article>
  </div>
</section>
