.intellectual__caption {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.intellectual__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;

  @media (max-width: 991px) {
    margin-bottom: -30px;
  }

  @media (max-width: 767px) {
    margin-bottom: -20px;
  }
}

.intellectual__item {
  width: 48.4%;
  margin-right: 3.2%;
  margin-bottom: 40px;
  padding: 30px;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  border-radius: 5px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (max-width: 991px) {
    padding: 20px;
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-right: 0;
    padding: 10px;
    margin-bottom: 20px;
  }
}

.intellectual__title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;

  @media (max-width: 767px) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}

.intellectual__input-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 19px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    align-items: flex-start;
    margin-bottom: 10px;
  }
}

.intellectual__text-wrap {
  display: flex;
  align-items: center;
  line-height: 20px;

  @media (max-width: 767px) {
    align-items: flex-start;
  }

  & span.gray {
    color: #929FAB;
  }
}

.intellectual__tooltip {
  position: relative;
  margin-left: 11px;
  flex-shrink: 0;
  width: 18px;
  height: 20px;

  &:hover {
    & .intellectual__tooltip-desc-wrap {
      bottom: 30px;
      opacity: 1;
      visibility: visible;
      transition: all 0.2s ease;
    }
  }
}

.intellectual__tooltip-desc-wrap {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 212px;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  @media (max-width: 1240px) {
    left: 40px;
    transform: translateX(-100%);
  }
}

.intellectual__tooltip-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 18px;
  height: 24px;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: 34px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.switch__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EBEDF2;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.switch__slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: #fff;
  transition: all 0.2s ease;
}

.switch__input:checked + .switch__slider {
  background-color: #00AFEC;
}

.switch__input.check:checked + .switch__slider {
  background-color: #A5D7E9;;
}

.switch__input:checked + .switch__slider::before {
  transform: translateX(12px);
  transition: all 0.2s ease;
}

.switch__slider.round {
  border-radius: 20px;
}

.switch__slider.round:before {
  border-radius: 50%;
}

