.page-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 286px;
    width: 100%;
    background-color: #F7F8FB;
  }

  @media (max-width: 767px) {
    &::before {
      //height: 320px;
    }
  }
}

.form-section {
  position: relative;
  z-index: 2;
  @media (min-width: 768px) {
    padding-top: 40px;
  }
}

.form__input {
  -webkit-appearance: none;
  padding-top: 34px;
}

.form__group:not(:last-child) {
  margin-bottom: 20px;
}

.form__group + .form__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.tel-confirm {
  padding-top: 23px;
  padding-bottom: 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;

  @media (max-width: 479px) {
    padding-top: 14px;
    padding-bottom: 15px;
  }
}

.tel-confirm.verified {
  color: #72CA49;
  border: 1px solid #72CA49;
}

.profile__avatar-wrap {
  position: relative;
  width: 120px;
  display: flex;
  justify-content: center;
  margin: 30px auto;

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px;
    width: 100%;
  }

  & .profile__avatar-field {
    display: none;
  }
}

.profile__avatar-img {
  width: 120px;
  height: 120px;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 50%;
  //display: flex;

  display: block;
  text-align: center;
  align-content: center;
  align-items: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  overflow: clip;

  .image-avatar-change {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
}

.profile__avatar-label-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -140px;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: 479px) {
    //position: static;
    display: flex;
    font-size: 13px;
    //line-height: 18px;
    transform: none;
  }
}

.profile__avatar-label {
  display: block;
  color: #00AFEC;
  text-decoration: underline;
  cursor: pointer;

  @media (max-width: 479px) {
    padding: 12px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.profile__avatar-delete {
  position: absolute;
  bottom: -23px;
  left: 0;
  color: #FF1037;
  text-decoration: underline;
  cursor: pointer;

  @media (max-width: 479px) {
    position: static;
    margin-left: 10px;
    padding: 12px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.btn {
  @media (max-width: 479px) {
    width: 100%;
  }
}

.form__input:focus ~ .form__input-label, .form__input:not(:focus):valid ~ .form__input-label, .form__input:-webkit-autofill ~ .form__input-label, .form__input:not(:empty) ~ .form__input-label, .form__input[type=tel]:disabled ~ .form__input-label {
  left: 20px;
  font-size: 0.8125rem;
  top: 15px;
  @media (max-width: 770px) {
    left: 15px;
  }
}
.phone-span {
  font-size: 14px !important;
  top: 16px !important;
}
.field {
  @media (max-width: 500px) {
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    outline: 0;
    padding: 34px 15px 15px 15px;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-shadow: 0 3px 6px rgb(111 132 152 / 10%);
    background-color: #ffffff;
  }

}
.disabled {
  pointer-events: none;
}
.field {
  height: 70px !important;
}

profile__avatar-wrap {
  position: relative;
  width: 120px;
  display: flex;
  justify-content: center;
  margin: 30px auto;

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px;
    width: 100%;
  }

  & .profile__avatar-field {
    display: none;
  }
}

.profile__avatar-img {
  width: 120px;
  height: 120px;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (max-width: 767px) {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }

  img {
    max-height: none;
    object-fit: cover;
    max-width: 100%;
  }
}

.profile__avatar-label-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -140px;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: 767px) {
    position: static;
    display: flex;
    font-size: 13px;
    line-height: 18px;
    transform: none;
  }
}

.profile__avatar-label {
  display: block;
  color: #00AFECFF;
  text-decoration: underline;
  cursor: pointer;

  @media (max-width: 767px) {
    padding: 12px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.profile__avatar-delete {
  position: absolute;
  bottom: -23px;
  left: 0;
  color: #EB3524FF;
  text-decoration: underline;
  cursor: pointer;

  @media (max-width: 767px) {
    position: static;
    margin-left: 10px;
    padding: 12px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}
