@import 'projects/themes/1c-start/variables';
@import '../../common';

.search_header {
  background: $g__form_background;
}

.section-position {
  &.empty {
    padding: 0 0 40px;

    & .container {
      padding: 1px 10px 0;
    }

    @media(max-width: 767px) {
      padding-bottom: 20px;

      & .container {
        padding: 1px 20px 0;
      }
    }
  }
}

.empty-results {
  margin: 40px auto 0;
  padding: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 32px;
  color: $g__text_color_secondary;
  text-align: center;
  background: $g__white_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  @media (max-width: 767px) {
    margin: 20px 0 0;
    padding: 20px;
    font-size: 20px;
    line-height: 28px;
  }
}

.section-top-search {
  position: relative;
  z-index: 0;
}
