<div class="input-text" *ngIf="inputType !== 'checkbox'">
  <app-textarea-control *ngIf="inputType === 'text'"
                        [placeholder]="def.placeholder"
                        [stateValue]="value"
                        [formState]="dynamicFormService.state"
                        [savedFormState]="savedFormState"
                        (valueChange)="onValueChange($event)"></app-textarea-control>

  <app-input-number-control *ngIf="inputType === 'number'"
                            [type]="def.style"
                            [placeholder]="def.placeholder"
                            [stateValue]="value"
                            [formState]="dynamicFormService.state"
                            [savedFormState]="savedFormState"
                            (valueChange)="onValueChange($event)"></app-input-number-control>
  <app-input-text-control *ngIf="inputType === 'string'"
                          [placeholder]="def.placeholder"
                          [stateValue]="value"
                          [formState]="dynamicFormService.state"
                          [savedFormState]="savedFormState"
                          (valueChange)="onValueChange($event)"></app-input-text-control>
  <app-input-date-control *ngIf="inputType === 'date'"
                          [placeholder]="def.placeholder"
                          [stateValue]="value"
                          [formState]="dynamicFormService.state"
                          [savedFormState]="savedFormState"
                          (valueChange)="onValueChange($event)"></app-input-date-control>
  <app-input-datetime-control *ngIf="inputType === 'dateTime'"
                              [placeholder]="def.placeholder"
                              [stateValue]="value"
                              [formState]="dynamicFormService.state"
                              [savedFormState]="savedFormState"
                              (valueChange)="onValueChange($event)"></app-input-datetime-control>
</div>
<app-input-checkbox-control *ngIf="inputType === 'checkbox'"
                            [def]="def"
                            [id]="id"
                            [stateValue]="value"
                            [filesLength]="filesLength"
                            [formState]="dynamicFormService.state"
                            [savedFormState]="savedFormState"
                            (valueChange)="onValueChange($event)"></app-input-checkbox-control>
