<div class="container">
  <h2 class="visual-hidden">Доверенности</h2>
  <div *ngIf="attorney.length === 0">
    Нет доверенностей
  </div>

  <div class="filter__search">
    <form [formGroup]="form" class="filter__search-form">
      <div class="filter__search-input-wrap">
        <input formControlName="search"
               class="filter__search-input"
               type="text"
               placeholder="Поиск по доверенностям">
      </div>
    </form>
  </div>

  <div class="filter">
    <div class="dropdown__wrap">
      <div class="dropdown">
        <button class="dropdown__button" (click)="showFromWhom = !showFromWhom">
          <span *ngIf="checkedListFromWhom.length <= 0" class="dropdown__button-text">От кого</span>
          <span *ngIf="checkedListFromWhom.length == 1" class="dropdown__button-text dropdown__button-text--check">
            {{ checkedListFromWhom }}
          </span>
          <span *ngIf="checkedListFromWhom.length > 1" class="dropdown__button-text dropdown__button-text--check">
            Выбрано: {{ checkedListFromWhom.length }}
          </span>
          <img
            class="dropdown__button-img"
            [ngClass]="showFromWhom ? 'rotate': ''"
            src="/assets/icons/icon-dropdown.svg" alt="" width="9" height="5"/>
        </button>
        <div *ngIf="showFromWhom" class="dropdown__menu-wrap">
          <div class="dropdown__menu">
            <span class="dropdown__menu-title">От кого</span>
            <ng-container *ngFor="let organization of organizations">
              <input type="checkbox" [(ngModel)]="organization.checked"
                     class="visual-hidden dropdown__input"
                     id="{{ organization.id }}"
                     (change)="getSelectedValueFromWhom(organization.checked,organization.name)"/>
              <label class="dropdown__label" for="{{ organization.id }}">
                <span>{{ organization.name }}</span>
              </label>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropdown__button" (click)="showToWhom = !showToWhom">
          <span *ngIf="checkedListToWhom.length <= 0" class="dropdown__button-text">Кому выдана</span>
          <span *ngIf="checkedListToWhom.length == 1" class="dropdown__button-text dropdown__button-text--check">
            {{ checkedListToWhom }}
          </span>
          <span *ngIf="checkedListToWhom.length > 1" class="dropdown__button-text dropdown__button-text--check">
            Выбрано: {{ checkedListToWhom.length }}
          </span>
          <img
            class="dropdown__button-img"
            [ngClass]="showToWhom ? 'rotate': ''"
            src="/assets/icons/icon-dropdown.svg" alt="" width="9" height="5"/>
        </button>
        <div *ngIf="showToWhom" class="dropdown__menu-wrap">
          <div class="dropdown__menu">
            <span class="dropdown__menu-title">Кому выдана</span>
            <ng-container *ngFor="let item of toWhom">
              <input type="checkbox" [(ngModel)]="item.checked"
                     class="visual-hidden dropdown__input"
                     id="{{ item.id }}"
                     (change)="getSelectedValueToWhom(item.checked,item.name)"/>
              <label class="dropdown__label" for="{{ item.id }}">
                <span>{{ item.name }}</span>
              </label>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropdown__button" (click)="showStatus = !showStatus">
          <span *ngIf="checkedListStatus.length <= 0" class="dropdown__button-text">Статус</span>
          <span *ngIf="checkedListStatus.length == 1" class="dropdown__button-text dropdown__button-text--check">
            {{ checkedListStatus }}
          </span>
          <span *ngIf="checkedListStatus.length > 1" class="dropdown__button-text dropdown__button-text--check">
            Выбрано: {{ checkedListStatus.length }}
          </span>
          <img
            class="dropdown__button-img"
            [ngClass]="showStatus ? 'rotate': ''"
            src="/assets/icons/icon-dropdown.svg" alt="" width="9" height="5"/>
        </button>
        <div *ngIf="showStatus" class="dropdown__menu-wrap">
          <div class="dropdown__menu">
            <span class="dropdown__menu-title">Статус</span>
            <ng-container *ngFor="let status of statuses">
              <input type="checkbox" [(ngModel)]="status.checked"
                     class="visual-hidden dropdown__input"
                     id="{{ status.id }}"
                     (change)="getSelectedValueStatus(status.checked,status.name)"/>
              <label class="dropdown__label" for="{{ status.id }}">
                <span>{{ status.name }}</span>
              </label>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="filter__buttons">
      <button class="filter__button filter__button--find">Найти</button>
      <button class="filter__button filter__button--clear">Очистить</button>
    </div>
  </div>

  <div class="attorney">
    <table
      class="attorney__table user-profile-table"
    >
      <tr>
        <th>Файл</th>
        <th>От кого</th>
        <th>Кому выдана</th>
        <th class="attorney__status">Статус</th>
        <th class="attorney__upload">Дата загрузки</th>
        <th>Действует от</th>
        <th>Действует до</th>
      </tr>
      <tr
        *ngFor="let item of attorney | slice:0:showAttorney"
        [ngClass]="{'invalid': item?.status === 'Не действует'}"
      >
        <td class="attorney__file-wrap">
          <a href="" class="attorney__file">{{ item?.file }}</a>
        </td>
        <td class="attorney__from" data-label="от">
          {{ item?.from }}
        </td>
        <td class="attorney__to-wrap" data-label="на">
          <span>{{ item?.to }}</span>
        </td>
        <td class="attorney__status-wrap">
          <p class="attorney__status-text"
             [ngClass]="{
                        'wait': item?.status === 'На проверке',
                        'valid': item?.status === 'Действует',
                        'invalid': item?.status === 'Не действует'}"
          >
            {{ item?.status }}
          </p>
        </td>
        <td class="attorney__upload-wrap" data-label="Дата загрузки">
          {{ item?.upload }}
        </td>
        <td class="attorney__valid-from-wrap" data-label="Действует от">
          {{ item?.validFrom }}
        </td>
        <td class="attorney__valid-to-wrap" data-label="до">
          {{ item?.validUntil }}
        </td>
      </tr>
    </table>
    <button class="user-profile-table__show-all" *ngIf="showAttorney < attorney.length" (click)="attorneyShow()">
      Показать еще
    </button>
  </div>

</div>
