<!--Как только пользователь зарегистрировался на сервисе, он сразу попадает на страницу добавления компании,
так как не может вести активность в сервисе без компании.-->
<button (click)="changeAddOrganization()">
  Временная кнопка организация добавлена;
  организация добавлена - {{ addOrganization }}
</button>

<div class="page-wrapper" *ngIf="!addOrganization">
  <main>
    <section class="form-section profile">
      <div class="container-sm">
        <h1 class="heading-h1 heading-h1--centered">Добавить компанию</h1>
        <form [formGroup]="addOrg">
          <div class="form__group">
            <div class="form__input-wrap">
              <input formControlName="OGRN"
                     pattern='^(?=[0-9]*$)(?:.{10}|.{12}|.{13}|.{15})$'
                     class="form__input field"
                     type="text"
                     required>
              <span class="form__input-label">Добавить по ОГРН</span>
            </div>
          </div>
          <div class="form__group">
            <div class="form__input-wrap">
              <input formControlName="INN"
                     pattern='^(?=[0-9]*$)(?:.{10}|.{12}|.{13}|.{15})$'
                     class="form__input field"
                     type="text"
                     required>
              <span class="form__input-label">ИНН</span>
            </div>
          </div>
          <div class="form__group">
            <div class="form__input-wrap">
              <input formControlName="name"
                     class="form__input form__input--linked field"
                     type="text"
                     required>
              <span class="form__input-label">Имя</span>
            </div>
          </div>
          <div class="form__footer">
            <button (click)="addOrganisation()" class="btn" type="button">Добавить компанию</button>
          </div>
        </form>
      </div>
    </section>
  </main>
</div>

<app-add-organization-confirm *ngIf="addOrganization"></app-add-organization-confirm>
