@import 'projects/themes/1c-start/variables';
@import '../../common';

form {
  background: #f7f8fb;
}

.section-position {
  &__tabs {
    &::-webkit-scrollbar-button {
      display: none;
      width: 0;
      height: 0
    }

    &::-webkit-scrollbar-track {
      display: none;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0;
      border-radius: 0;
      display: none;
    }

    &::-webkit-scrollbar-thumb:hover {
      display: none;
    }

    &::-webkit-resizer {
      background-repeat: no-repeat;
      width: 0;
      height: 0
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    @media (max-width: 768px) {
      overflow: auto;
    }
  }
}

.container--search {
  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.control__btn span {
  color: #152438;
}

.control {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
  padding-bottom: 0;

  @media (max-width: 768px) {
    padding-bottom: 20px;
    min-width: max-content;
    margin-bottom: 0;
  }

  &__btn {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    width: 31.2%;
    padding: 20px;
    color: #152438;
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;

    & span {
      color: #152438;
    }

    @media(max-width: 768px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      height: 103px;
      width: 150px;
      padding: 15px 10px;
      background: #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    &:hover {
      opacity: 1;
    }

    &--active {
      background: #f7f8fb;
      border-radius: 10px 10px 0 0;
      border: 1px solid #CBCFD6;
      border-bottom-color: #f7f8fb;
      z-index: 3;

      @media(max-width: 768px) {
        background: #F7F8FB;
        box-sizing: border-box;
        box-shadow: none;
        border-radius: 5px;
        border: 1px solid rgba(21, 36, 56, 0.15) !important;
      }
    }

    &--court {
      width: 48.5%;

      @media(max-width: 375px) {
        width: 165px;
      }
    }

  }

  &__count {
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 25px;
    line-height: 40px;

    @media (max-width: 768px) {
      position: static;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.search_header {
  background: $g__form_background;
}

.search__wrapper {
  width: 100%;
}

.search::before {
  display: none;
}

:host ::ng-deep {
  .ip-id_search_container {
    max-width: none !important;
  }

  .search_input_container {
    width: 100% !important;
  }

  .main__form {
    position: static !important;
    width: 100%;
  }
}

.corp-search-tabs {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: $g__form_background;

  @media(max-width: 1060px) {
    display: block;
  }

  & button {
    padding: 0;
    background-color: transparent;
    border: none;

    @media(max-width: 768px) {
      display: block;
      text-align: left;
    }
  }
}

.corp-search-tabs__btn {
  margin-right: 20px;
  cursor: pointer;

  @media(max-width: 768px) {
    margin-right: 0;

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }

  &:last-of-type:not(.trademarks-btn) {
    margin-right: 0;
  }

  & span {
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
    color: $g__link_color;
  }

  & sup {
    font-size: 12px;
    line-height: 14px;
    color: $g__text_color_secondary;
  }
}

.trademarks-btn__wrap {
  display: flex;
  align-items: center;

  @media(max-width: 1060px) {
    margin-bottom: 20px;
  }

  @media(max-width: 1060px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.trademarks-btn {
  margin-bottom: 0;
  margin-right: 16px;
  font-size: 25px;
  line-height: 32px;
  color: #152438;
  text-decoration: none;

  & div {
    display: flex;
    align-items: center;

    @media(max-width: 768px) {
      display: block;
    }
  }

  @media(max-width: 768px) {
    margin-right: 0;
  }
}

.trademarks-btn__risk {
  margin-left: 16px;
  padding: 3px 14px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $g__text_color_primary;
  box-sizing: border-box;
  border-radius: 25px;

  @media(max-width: 768px) {
    padding: 9px;
    margin-left: 0;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
  }

  &.high {
    background: #FFF2F2;
    border: 1px solid $g__alert_color;
    box-shadow: 0 5px 15px rgba(255, 16, 55, 0.15);
  }

  &.medium {
    background: #FFF4EA;
    border: 1px solid #FF8310;
    box-shadow: 0 5px 15px rgba(255, 131, 16, 0.15);
  }

  &.none {
    background: #F2FCF1;
    border: 1px solid #A4E7A2;
    box-shadow: 0 5px 15px rgba(164, 231, 162, 0.15);
  }
}

.section-top-search {
  position: relative;
  z-index: 0;
}
