@import "variables";

.form-sides{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__big-block{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    @media (max-width: 768px) {
      margin-bottom: 50px;
    }

  }

  &__head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (max-width: 653px) {
      flex-direction: column;
    }

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }
  &__heading{
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 20px;

    @media (max-width: 653px) {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  &__switch-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 653px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__delete{
    color: #FF1037;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    padding-left: 28px;
    position: relative;

    &::before{
      position: absolute;
      content: '';
      background-image: url("/assets/icons/icon-delete.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 18px;
      height: 18px;
      left: 2px;
      top: 0;
    }
    @media (max-width: 653px) {
      margin-bottom: 20px;
    }

  }

  &__form{
    position: relative;

    &:not(:first-of-type){
      margin-top: 40px;
    }
  }

  &__switch{
    position: relative;
    display: flex;
    p{
      margin-bottom: 0;
      font-size: 16px;
      line-height: 20px;
      padding-right: 32px;
    }
  }

  &__block{
    display: flex;
    flex-wrap: wrap;

    .form__input-wrap{
      width: 32.1%;
      margin-right: 20px;

      &:nth-child(3n){
        margin-right: 0;
      }
    }
  }
}

.prompt{
  right: 0;
  top: 0;
}

.form__input-wrap{
  margin-bottom: 20px;
}

.btn-blue--add{
  width: fit-content;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  padding: 9px 13px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.btn-blue-attr {
  border: 1px solid $g__btn_attr_border_color;
  color:$g__btn_attr_text_color;
}


.prompt{
  right: 0;
  top: 0;
  color: $g__text_color_primary;
}

.prompt__hidden p{
  font-size: 13px !important;
  line-height: 15px !important;
}

.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
