.inset{
  background-color: white;
  padding: 40px 0;
  @media (max-width: 1280px){
    padding: 40px 15px;
  }

  @media (max-width: 500px){
    padding: 10px;
  }

}

.container {
  min-width: 375px;
}

.attention{
  background: #FFFBF7;
  border: 1px solid #FF9330;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;

  @media (max-width: 500px) {
    padding: 10px;
  }

  h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FF9330;
    margin-bottom: 5px;

    @media (max-width: 500px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  p{
    font-size: 18px;
    line-height: 24px;
    color: #152438;
    margin-bottom: 15px;

    @media (max-width: 500px) {
      font-size: 16px;
      line-height: 20px
    }

  }

  button{
    border: none;
    background: none;
    padding: 0;
  }

  @media (max-width: 768px){
    background: #EEF0F7;
    border:none;
    box-shadow: none;

    h3{
      color: #152438;
    }
  }

  &--gray{
    background: #EEF0F7;
    border-radius: 0px 0px 4px 4px;
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 42px 50px;
    display: flex;
    flex-direction: column;


    @media (max-width: 500px) {
      padding: 15px;
    }

    p{
      margin-bottom: 20px;
    }
  }

  &__link{
    font-family: 'Roboto', sans-serif;
    text-decoration-line: underline;
    color: #00AFEC;
    font-size: 18px;
    line-height: 24px;
    &:hover{
      cursor: pointer;
    }

  }

  &__list{
    text-align: left;
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-bottom: 14px;

    li{
      font-size: 18px;
      line-height: 24px;
      color: #152438;
      position: relative;
      padding: 0 10px 0 38px;
      font-family: 'Roboto', sans-serif;

      &:not(:last-of-type){
        margin-bottom: 10px;
      }


      &:after{
        width: 18px;
        height: 18px;
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('/assets/images/blue-done.svg');
        top: 3px;
        left: 9px;
        content: '';
        border-radius: 50%;
      }
    }
  }

  &--in-card{
    p{
      margin-bottom:0 ;
    }
    margin-bottom: 30px;
    margin-top: 0;
    @media (max-width: 768px){
      background: #FFFBF7;
      border: 1px solid #FF9330;
      box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
      border-radius: 5px;

      h3{
        color: #FF9330;
      }
    }

  }

  &__show{
    display: flex;
    flex-direction: column;

    &--open{
      flex-direction: column-reverse;
    }
  }

  &--white{
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    margin-bottom: 0;
  }
}

.attention .btn-blue-attr {
  background:none;
  border: 1px solid #00AFEC;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #00AFEC;
  padding:15px 20px;
  border: 1px solid #00AFEC;
  margin-right: auto;

  @media (max-width: 500px) {
    margin: auto;
    width: 100%;
    padding:13px 15px;
  }


  &:hover{
    border: 1px solid #0D8EBB;
    color: #0D8EBB;
    cursor: pointer;
  }
}
.event-title{
  color: #C8C8C8;
}

.event-header {
  white-space: nowrap;

  @media (max-width: 500px) {
    white-space: normal;
  }
}

.events-steps__date {
  p {
    color: #929FAB;
    font-size: 13px;
    padding: 5px 10px;
    text-align: right;
    white-space: nowrap;

    @media (max-width: 500px) {
      position: relative;
      top: 9px;
      right: 105px;
    }
  }
}

.events-steps__img {
  width: 38px;
  height: 38px;
  background: #B4EDBB;
  border-radius: 50%;
  display: block;
  text-align: center;
  overflow: clip;

  img {
    width: 38px;
    height: auto;
    object-fit: cover;
  }
}
