<div class="container inset">
  <div class="events-steps">
    <div class="events-steps">
      <div *ngIf="reverseEvents.length > eventsLength" class="events-steps__showMore-wrapper">
        <span *ngIf="!showMore" class="events-steps__showMore-line"></span>
        <div *ngIf="!showMore" (click)="showMore=true" class="events-steps__showMore">Показать еще {{reverseEvents.length-eventsLength}} событий</div>
        <div *ngIf="showMore" class="events-steps__rows-wrapper events-steps__rows-wrapper--show">
          <!--Пример того как будут открываться вкладки, когда будут данные-->
          <div  *ngFor="let point of reverseEvents.slice(0, reverseEvents.length-eventsLength); let i = index; let last = last"
                class="events-steps__row">
            <div class="events-steps__info">
              <div class="events-steps__user">
                <div class="events-steps__img">
                  <img [src]="(point.imgSrc) ? (point.imgSrc | proxyImage) : '/assets/images/user.svg'">
                </div>
                <div *ngIf="point.expertName"
                     class="events-steps__name events-steps__name--human">
                  <p>{{point.expertName}}</p>
                </div>
                <div *ngIf="point.company"
                     class="events-steps__name">
                  <p>{{point.company}}</p>
                </div>
              </div>
              <div class="events-steps__state"
                   [class.events-steps__state--show]="point?.showForm || point.showFormNow === true">
                <div [class.show]="point?.showForm || point.showFormNow === true"
                     class="events-steps__btn-show">
                  <span
                    *ngIf="point.formDetails && !point.showFormNow"
                    (click)="point?.showForm ? hideCard(point?.eventID) : showCard(point.eventID)"
                    class="events-steps__link">{{point?.showForm ? 'Свернуть' : 'Посмотреть' }}</span>
                  <div
                    [class.show]="point?.showForm || point.showFormNow === true">
                    <app-dynamic-form
                      *ngIf="point?.showForm || point.showFormNow === true"
                      [schema]="point.formDetails"
                      [type]="point.Type"
                      [eventID]="point.eventID"
                      [caseID]="caseID"
                      [formState]="point.formState"
                    >
                    </app-dynamic-form>
                  </div>
                </div>
                <input *ngIf="point.formDetails && !point.showFormNow; else inputContainer"
                       type="text"
                       class="to-hide"
                       value="Скрыть"
                       readonly
                       (click)="hideCard(point?.eventID)">
                <ng-template #inputContainer>
                  <input
                    type="text"
                    class="to-hide">
                </ng-template>
                <p
                  class="event-header"
                  [class.event-title]="point.showFormNow"
                  [innerHTML]="getTitle(point.titleEntities, point.title)">
                </p>
              </div>
              <div class="events-steps__date">
                <p>{{point.registrationDate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let point of reverseEvents.length> eventsLength ? reverseEvents.slice(reverseEvents.length - eventsLength, reverseEvents.length) : reverseEvents; let last = last"
           class="events-steps__row">
        <div class="events-steps__info">
          <div class="events-steps__user">
            <div class="events-steps__img">
              <img [src]="(point.imgSrc) ? (point.imgSrc | proxyImage) : '/assets/images/user.svg'">
            </div>
            <div *ngIf="point.expertName"
                 class="events-steps__name events-steps__name--human">
              <p>{{point.expertName}}</p>
            </div>
            <div *ngIf="point.company"
                 class="events-steps__name">
              <p>{{point.company}}</p>
            </div>
          </div>
          <div class="events-steps__state"
               [class.events-steps__state--show]="point?.showForm || point.showFormNow === true">
            <div [class.show]="point?.showForm || point.showFormNow === true"
                 class="events-steps__btn-show">
             <span
               *ngIf="point.formDetails && !point.showFormNow"
               (click)="point?.showForm ? hideCard(point?.eventID) : showCard(point.eventID)"
               class="events-steps__link">{{point?.showForm ? 'Свернуть' : 'Посмотреть'}}
             </span>
              <div
                [class.show]="point?.formDetails && (point?.showForm || point.showFormNow === true)">
                <app-dynamic-form
                  *ngIf="point?.formDetails && (point?.showForm || point.showFormNow === true)"
                  [schema]="point.formDetails"
                  [type]="point.Type"
                  [eventID]="point.eventID"
                  [caseID]="caseID"
                  [formState]="point.formState"
                  [showColumnsFooter]='point.showColumnsFooter'
                >
                </app-dynamic-form>
              </div>
            </div>
            <input *ngIf="point.formDetails && !point.showFormNow;"
                   type="text"
                   class="to-hide"
                   value="Скрыть"
                   readonly
                   (click)="hideCard(point?.eventID)">
            <p
              class="event-header"
              [class.event-title]="point.showFormNow"
              [innerHTML]="getTitle(point.titleEntities, point.title)">
            </p>
          </div>
          <div class="events-steps__date">
            <p>{{point.registrationDate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
