.section-position--tariff{
  flex-direction: column;
  background: #F7F8FB;
  border: 1px solid rgba(21, 36, 56, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 42px 50px;
  max-width: 1240px;
  margin: 40px auto;

  @media(max-width: 991px) {
    padding: 40px 30px;
  }

  @media(max-width: 767px) {
    padding: 20px;
  }
}

.tariff-footer{
  display: flex;

  &__text{
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #79818B;
  }

  a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #79818B;
    position: relative;
    padding-left: 30px;

    & span {
      position: relative;
    }

    & span::after{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 20px;
      height: 15px;
      background-image: url("/assets/images/icon-arrow-gray.svg");
      left: -30px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
    }

    @media(max-width: 767px) {
      order: 2;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 12px;
      margin-top: 20px;
      font-size: 13px;
      line-height: 18px;
      color: #929FAB;
      background: #FFFFFF;
      border: 1px solid rgba(21, 36, 56, 0.1);
      box-sizing: border-box;
      border-radius: 5px;

      & span::after{
        height: 12px;
      }
    }
  }

  &__position{
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
  }

  &__block{
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: space-around;
    padding: 15px 5px;
    margin-bottom: 10px;
  }

  &__info{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;

    span{
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: #929FAB;
      margin-bottom: 2px;
    }

    p{
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #152438;
      margin-bottom: 0;
    }
  }

  &__total-wrapper{
    display: flex;
    align-items: center;

    @media(max-width: 767px) {
      display: block;
      width: 100%;
    }
  }

  &__total{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    margin-right: 30px;

    p{
      font-size: 18px;
      line-height: 20px;
      text-align: right;
      margin-bottom: 7px;
    }

    span{
      font-size: 13px;
      line-height: 20px;
      text-align: right;
      color: #929FAB;
    }

    @media(max-width: 767px) {
      margin-right: 0;
      margin-bottom: 20px;

      & p {
        margin-bottom: 0;
        font-size: 16px;
        text-align: left;
      }
    }
  }

  &__btn{
    background: #00AFEC;
    border-radius: 4px;
    padding: 20px 69px 20px 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 24px;
      height: 100%;
      background-image: url("/assets/images/icon-arrow-white.svg");
      right: 25px;
      top: 23px;
    }

    &:hover{
      background: #0D8EBB;
    }
  }

  & button {

    &::after {
      display: none;
    }

    & span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 24px;
        height: 17px;
        background-image: url("/assets/images/icon-arrow-white.svg");
        right: -35px;
        top: 50%;
        transform: translateY(-50%);
      }

      @media(max-width: 767px) {
        &::after {
          background-size: 100%;
          width: 20px;
          height: 12px;
          right: -30px;
        }
      }
    }

    @media(max-width: 767px) {
      width: 100%;
    }
  }
}

.duty{
  background: #F2F4F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  margin-bottom: 40px;

  p{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #152438;
  }
}

.attention__show--open {
  margin-bottom: 9px;
}

.container--small {
  @media(max-width: 991px) {
    padding: 0;
  }
}

.container--small h1{
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 27px;

  @media(max-width: 767px) {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
  }
}

.tariff-footer__position {
  margin-bottom: 0;

  @media(max-width: 767px) {
    flex-direction: column;
  }
}

.attention--in-card {
  margin-bottom: 20px;

  @media(max-width: 767px) {
    margin-bottom: 15px;
    padding: 10px;
  }
}

.attention__list li {
  @media(max-width: 767px) {
    padding-right: 0;
    padding-left: 33px;
  }
}

.attention__list li:after {
  @media(max-width: 767px) {
    left: 3px;
  }
}
