@import 'variables';

.form-sign {
  position: relative;
  display: flex;
  margin-bottom: 64px;

  & button {
    @media(max-width: 575px) {
      width: 100%;
      padding: 13px;
      border-radius: 5px;
      box-shadow: 0 10px 20px var(--btn_shadow1);
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: -5px;
    width: 100%;
    height: 1px;
    background: $g__outline_color;
    transform: translateY(85px);

    @media(max-width: 575px) {
      display: none;
    }
  }

  @media(max-width: 575px) {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}


.field-input {
  width: 81%;
  padding: 16px 19px;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border: 0 solid $g__outline_color;
  border-radius: 5px 0 0 5px;

  &::placeholder {
    font-size: 15px;
    color: $g__text_color_secondary;
    @media(max-width: 575px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  @media(max-width: 575px) {
    width: 100%;
    box-shadow: 0px 3px 6px rgba(21, 36, 56, 0.15);
    border-radius: 5px;
    padding: 20px 10px;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 20px;
  }
}

.btn__black {
  padding: 15px 32px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $dashboard__search_btn_accent_color;
  border: none;
  background: $dashboard__search_btn_accent_background;
  border-radius: 0 5px 5px 0;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;

  @media(max-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
  }
}
