<div class="form-sign main_form_search" data-intercom-target="check trademark">
  <input [(ngModel)]="designation" class="field-input" type="text" placeholder="Обозначение"
         (keyup.enter)="sendSearchParam()"/>
  <button (click)="sendSearchParam()" class="btn__black" type="submit">
    Проверить
  </button>
</div>
