.header__logo{
  @media (max-width:992px) {
    width:100%;
  }
  @media (max-width:600px) {
    width: 70%;
  }
}

.header__inner{
  @media (max-width:600px) {
    padding: 0 10px;
  }
}

.header{
  border-bottom: 0;
  min-width: 375px;
  @media (max-width:600px) {
    padding-top: 14px;
    padding-bottom: 12px;
  }
}

.log_out {
  width: 80px;
  height: 40px;
  //background-image: url("../../../../assets/images/logout.svg");
  margin-left: 20px;
  display: flex;
  align-items: center;
  img {
    margin-top: -3px;
    margin-right: 5px;
  }
}
.main-nav__user-dropwdown-list {
  height: 44px;
  width: 180px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  top: 26px;
  right: 0;
  li {
    margin: 10px;
  }
}

.open_modal {
  position: absolute;
  right: 230px;
  top: 10px;
  height: 40px;
  width: 250px;
}

.disabled-card {
  background-color: #d5d5d5;
  pointer-events: none;
}

.main-nav__link--dis{
  opacity: 0.3;
  cursor: none;
  pointer-events: none;

  &:hover{
    border: none;
  }
}

.main-nav__item{
  @media(max-width: 992px) {
    text-align: left;
    margin-bottom: 15px;
  }
}

.btns-wrapper{
  //order: 2;
  //margin-left: auto;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #929FAB;
  display: flex;

  @media(max-width: 992px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
.buttons-wrapper {
  order: 2;
  margin-left: auto;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #929FAB;
}

.main-nav__btn{
  margin-right: 20px;
  margin-left: 30px;
  @media(max-width: 992px) {
    margin-right: 0;
    margin-left:0 ;
    padding: 15px 25px;
    width: 92%;
    margin-bottom: 50px ;
  }

}

.main-nav__user-name{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #929FAB;
  @media(max-width: 992px) {
    font-size: 1rem;
    margin-right: 0;

    &::after{
      display: none;
    }
  }

}

.main-nav__user{
  position: relative;
  left: 33px;

  @media(max-width: 992px) {
    width: 100%;
    height: 100vh;
    background: #F7F8FB;
    overflow: hidden;
    align-items: normal;
    justify-content: center;
    text-align: center;
    padding-top: 36px;
    padding-right: 0;
    margin: 0 !important;
    position: initial;
  }
}


.main-nav__user-dropwdown-list {
  @media(max-width: 450px) {
    width: fit-content;
  }
  @media(max-width: 992px) {
    height: 44px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 5px;
    margin: 0 auto;
    width: 315px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(21, 36, 56, 0.1);
  }
}
.main-nav__user-dropwdown-list--profile{
  display: none;
  @media(max-width: 992px) {
    display: flex;
    margin-bottom: 10px;
  }
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 60px;
  left: 0;
  background-color: rgba(21, 36, 56, 0.5);
  z-index: 1000;
  overflow: hidden;
  @media(min-width: 992px) {
    display: none;
  }


}

.open{
  display: block;

  z-index: 4444;
  @media(min-width: 992px) {
    position:relative;
    top: 0;
  }

}

.main-nav__link--court{
  position: relative;
  margin-right: 20px;
}

.red-count{
  background: #FF1037;
  border-radius: 15px;
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  width: 18px;
  height: 17px;
  right: -28px;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;

  @media(max-width: 992px){
    position: relative;
    right: auto;
    top: auto;
  }

  &__text{
    @media(max-width: 992px){
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.main-nav__link{
  text-transform: initial;
  font-size: 15px;
  font-weight: normal;

  @media(max-width: 992px){
    display: flex;
    width: 100%;
  }

  &.is-active{
    @media(max-width: 992px){
      border-bottom: none;
      &::before{
        position: absolute;
        content: '';
        height: 100%;
        width: 3px;
        background-color: #FF1037;
        left: -15px;
        top: 0;
      }

    }
  }
}
.main-nav__user-dropwdown-list-link{
  @media(max-width: 992px) {
    color: #00AFEC;
  }
}
.main-nav__wrapper {
  justify-content: end;
  font-style: normal;
  font-weight: normal;
  font-size: 13px !important;
  line-height: 18px;
  color: #152438;
}
.top_hat {
  max-width: 1240px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(21, 36, 56, 0.1);
  margin-bottom: 20px;
  display: flex;
  box-sizing: border-box;
  .first__el {
    margin-bottom: 0;
    margin-top: 10px;
    //font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #929FAB;
  }
  .first_user {
    margin-right: 20px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
.hide_top {
  display: none;
}
.img_container {
  box-sizing: border-box;
  position: relative;
}
.profile_img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
  position: absolute;
  bottom: 0px;
  left: -30px;
  border: 1px solid rgba(21, 36, 56, 0.15);
}
.profile__menu {
  color: #00AFEC;
  cursor: pointer;
  font-size: 15px;
  line-height: 24px;
}

.header__nav {
  position: relative;
  left: 36px;

  @media (max-width: 500px) {
    position: initial;
  }
}
