<div class="pay">
  <div class="pay__wrap">
    <div class="pay__top">
      <button (click)="closeModal()" class="pay__close" aria-label="Закрыть"></button>
      <img *ngIf="pay?.minus === true" src="/assets/icons/icon-pay-minus.svg" alt="" class="" width="60" height="60">
      <img *ngIf="pay?.minus === false" src="/assets/icons/icon-pay-plus.svg" alt="" class="" width="60" height="60">
      <p class="pay__total"
         [ngClass]="pay?.minus === false? 'green': ''"
      >
        <span>{{ pay?.minus === true ? '-' : '+' }}&nbsp;</span>
        <span>{{ pay?.sum }}</span>
        ₽
      </p>
    </div>
    <div class="pay__info">
      <dl class="pay__list">
        <div class="pay__item">
          <dt>Дата платежа</dt>
          <dd>{{ pay?.date }}</dd>
        </div>
        <div class="pay__item">
<!-- Оплачено = сумма - бонусы -->
          <dt>Оплачено</dt>
          <dd>4 890,00 ₽</dd>
        </div>
        <div class="pay__item" *ngIf="pay?.bonus != null">
          <dt>Использовано бонусов</dt>
          <dd>{{ pay?.bonus }}</dd>
        </div>
        <div class="pay__item">
          <dt>Способ оплаты</dt>
          <dd>MasterCard **** 4535</dd>
        </div>
        <div class="pay__item">
          <dt>Организация</dt>
          <dd>{{ pay?.organization }}</dd>
        </div>
        <div class="pay__item">
          <dt>Услуга</dt>
          <dd>{{ pay?.name }}</dd>
        </div>
      </dl>
      <!--ссылка Сохранить - загрузить PDF-файл-->
      <a href="" class="pay__save">Сохранить</a>
    </div>
  </div>
  <div (click)="closeModal()" class="pay__overlay"></div>
</div>
