@import "projects/themes/1c-start/variables";

form {
  background: #f7f8fb;
}

.section-position {
  background: white;

  &--bg {
    background: #f7f8fb;
  }

  &--main {
    position: initial;
    @media(max-width: 1100px) {
      padding-top: 0;
    }
  }

  &.empty {
    width: 100%;
    padding: 0 0 40px;

    & .container {
      padding: 0 10px;
    }

    @media(max-width: 767px) {
      padding-bottom: 20px;

      & .container {
        padding: 0 20px;
      }
    }
  }
}

.container {
  &--bg {
    //max-width: 1280px;
    background: #f7f8fb;
    //padding: 0 20px 40px;
    padding-bottom: 40px;
  }
}

.search__wrapper {
  width: 100%;

  .filter-input {
    width: 400px;
  }
}

.search {
  padding: 20px 0 30px;
}

.search::before {
  display: none;
}


/* Rows */
.table-corp {
  display: grid;

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    button {
      background: #FFFFFF;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 12px;
      color: #00AFEC;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 350px repeat(2, 1fr) repeat(2, 190px) 1fr 58px;
    padding: 15px 10px 10px 10px;

    &:first-child {
      & span {
        margin-left: -10px;
      }
    }

    @media (max-width: 1100px) {
      display: none;
    }

    p {
      font-size: 13px;
      line-height: 18px;
      color: $g__text_color_secondary;
      margin-bottom: 15px;

      &.head-table__six {
        & span {
          position: relative;
          right: -25px;
        }
      }
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 350px repeat(2, 1fr) repeat(2, 190px) 1fr 58px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 58px;
    cursor: pointer;
    border: 1px solid transparent;
    align-items: center;

    @media (max-width: 1100px) {
      grid-template-areas: "domain domain domain"
      "registerDate expireDate freeDate "
      "registrator state checkbox";
      grid-template-columns: auto auto;
    }

    @media (max-width: 768px) {
      grid-template-areas: "domain"
      "registerDate"
      "expireDate"
      "freeDate"
      "registrator"
      "state"
      "checkbox";
      grid-template-columns: 100%;
    }

    &--active {
      background: #F2FCFF;
      border: 1px solid #00AFEC;
    }
  }

  &__domain {
    font-weight: bold;
    display: flex;
    height: fit-content;
    align-items: flex-start;

    img {
      margin-right: 12px;
    }

    @media (max-width: 1100px) {
      grid-area: domain;
      border-bottom: 1px solid $g__outline_color;
      padding-bottom: 10px;
    }
  }

  &__mobile-blue {
    display: none;

    @media (max-width: 1100px) {
      display: block;
      font-size: 13px;
      line-height: 18px;
      color: #00AFEC !important;
      border: 1px solid #00AFEC;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 12px;
      width: 100%;
      max-width: 350px;
      text-align: center;
    }

    @media (max-width: 768px) {
      max-width: none;
    }

    &--delete {
      background: #00AFEC;
      border: 1px solid #00AFEC;
      color: #FFFFFF !important;
    }
  }

  &__mobile-txt {
    display: none;
    @media (max-width: 1100px) {
      display: block;
      font-weight: bold;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $g__text_color_secondary;
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: $g__text_color_secondary;
      text-transform: none;
      margin-right: 23px;
      white-space: nowrap;
    }

    &--none {
      @media (max-width: 768px) {
        display: none;
      }

    }

    &--state {
      @media (max-width: 768px) {
        margin: 4px 0;
      }
    }
  }

  &__registerDate {
    @media (max-width: 1100px) {
      grid-area: registerDate;
      margin: 10px 0;
    }
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 10px 0 5px;
    }
  }

  &__expireDate {
    @media (max-width: 1100px) {
      grid-area: expireDate;
      margin: 10px 0;
    }
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 0 5px;
    }
  }

  &__freeDate {
    @media (max-width: 1100px) {
      grid-area: freeDate;
      margin: 10px 0;
    }
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 0 5px;
    }
  }

  &__registrator {
    @media (max-width: 1100px) {
      grid-area: registrator;
      margin: 10px 0;
    }
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 0 5px;
    }
  }

  &__state {
    @media (max-width: 1100px) {
      grid-area: state;
      margin: 10px 0;
    }
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 0 5px;
    }
  }

  &__checkbox {
    display: flex;
    justify-content: flex-end;
    position: relative;

    @media (max-width: 1100px) {
      grid-area: checkbox;
      margin: 10px 0 0;
    }
    @media (max-width: 768px) {
      margin: 0;
    }

    &--input {
      opacity: 0;
      position: absolute;
      width: 18px;
      height: 18px;
      right: 5px;
      top: 6px;
    }

    &--label {
      width: 18px;
      height: 18px;
      position: relative;
      right: 5px;
      top: 0;

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 1100px) {
        height: fit-content;
        right: auto;
        margin-right: auto;
        width: 100%;
      }

      &:before {
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        border-radius: 5px;
        left: 0;
        top: 0;

        @media (max-width: 1100px) {
          display: none;
        }
      }
    }
  }

  &__type {
    display: grid;
    height: fit-content;
    padding-top: 10px;
    padding-right: 20px;

    span {
      font-weight: bold;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $g__text_color_secondary;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__owner {
    padding-top: 10px;
    padding-right: 20px;

    p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;
    }
  }

  &__date {
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
    display: grid;
    padding-right: 20px;
    height: fit-content;

    span {
      color: $g__text_color_secondary;
      margin-right: 5px;
    }

    p {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

    }
  }

  &__class {
    &-wrapper {
      display: flex;
      height: fit-content;
      padding-top: 10px;
      padding-right: 20px;
      flex-wrap: wrap;
      min-width: 170px;
    }

    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    padding: 4px 13px;

    &:not(:last-of-type) {
      margin-right: 5px;
    }

    &--critical {
      background: #FFD7DD
    }
  }

  &__state {
    padding-right: 20px;
    @media (max-width: 768px) {
      padding-right: 0;
    }
  }
}

.table-corp__checkbox--input:checked + .table-corp__checkbox--label::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 13px;
  height: 11px;
  left: 3px;
  top: 3px;
  background-image: url('/assets/images/black-done.svg');
  background-repeat: no-repeat;
  background-size: 17px 11px;
  background-position: center;

  @media (max-width: 1100px) {
    display: none;
  }
}

.table-corp__checkbox--input:checked + .table-corp__checkbox--label::before {
  display: none;
}

.app-domain-modal {
  position: relative;
  z-index: 22;

  .parrent_modal > .modal > div {
    height: 100% !important;
  }
}

.empty-results {
  margin: 40px auto 0;
  padding: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 32px;
  color: $g__text_color_secondary;
  text-align: center;
  background: $g__white_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  @media (max-width: 767px) {
    margin: 20px 0 0;
    padding: 20px;
    font-size: 20px;
    line-height: 28px;
  }
}

.table-corp__checkbox--input {
  top: 0;
}
