<div class="container container--small">
  <div class="payment payment--no-padding">
    <h1>Претензия успешно создана</h1>
    <a class="payment__link" (click)="surchargeRequestService.backToCase()">
      <img [src]="logo2path | proxyImage">
      <p>Ваша претензия создается. Для отправки претензии потребуется доверенность, подготовленная доверенность
        будет размещена у вас в личном кабинете. Текст доработать.
      </p>
    </a>
  </div>
</div>
