/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "scss/main";
@import "../../../projects/shared/scss/materialdesignicons.scss";

body, html {
  height: 100vh;
}

:root {
  --page-background: $g__body_background; // Фон 2 – цвет фона для основного контента
}

* {
  outline: 0;
}

//body>jdiv {
//  opacity: 0;
//  visibility: hidden;
//}
//.globalClass_fb93 {
//  display: none !important;
//}
.eye-toggle {
  font-size: 27px !important;
  right: 20px;
  top: 20px;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
}
