@import 'variables';

.form-card tbody tr:hover {
  border: 1px solid $g__link_color;
}

.payer-check-loader {
  width: 40px;
  right: 20px;
  height: 40px;
  bottom: -45px;
  border-width: 4px;
  position: absolute;
}

.form__dropdown {
  top: 70px;
}