@charset "UTF-8";
@import 'variables';

.table__big-block {
  cursor: pointer;
}

.row-white__title-wrap {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.row-white {
  display: grid;
  grid-template-columns: 40% 26% 14% 20%;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 10px 20px 10px 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100px;
  border: 1px solid $g__outline_color;

  @media (max-width: 991px) {
    grid-template-columns: 35% 20% 20% 25%;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    height: auto;
  }

  &--debates {
    padding: 13px;
  }

  &__subtitle-wrapper {
    display: flex;
    align-content: center;
  }

  &__attention {
    font-weight: bold;
    font-size: 11px;
    border: 1px solid $g__alert_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3px 10px;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $g__alert_text_color;
    background: $g__alert_color;

    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }

  &__title-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media (max-width: 767px) {
      padding: 0;
    }

    &--debates {
      max-width: 423px;
    }

    &--width {
      max-width: 415px;
      padding-right: 10px;
    }

    &--width2 {
      max-width: 336px;
    }

    &--third {
      @media (max-width: 767px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &--red {
    border: 1px solid rgba(255, 16, 55, 0.4);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: $g__warning_background;
  }

  &__addition {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    position: relative;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../../../../assets/icons/gray-arrow.svg');
      background-repeat: no-repeat;
      width: 13px;
      height: 15px;
      background-size: 100%;
      left: 0;
      top: 0;
    }
  }

  &__more {
    color: $g__text_color_secondary;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $g__text_color_primary;
    margin-bottom: 9px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    &--bold {
      margin-bottom: 0;
      font-weight: bold;
      width: 80%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &--gray {
      color: $g__text_color_secondary;
      margin-right: 5px;
    }
  }

  &__img-text {
    flex-shrink: 0;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 13px;
    display: flex;
    text-align: center;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;

    @media (max-width: 767px) {
      width: 90px;
      margin-right: 10px;
    }

    .image_text {
      border: 2px solid #DFE2E8;
      box-sizing: border-box;
      border-radius: 16px;
      padding: 0 2px;
      height: 26px;
      width: 72px;
      line-height: 21px;
    }
  }

  &__subtitle {
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
    font-weight: normal;
    margin-right: 15px;
    margin-bottom: 7px;
    font-family: 'Roboto', sans-serif;

    &--margin {
      margin-bottom: 5px
    }
  }

  &__question {
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    color: #00AFEC;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
    transform: translateX(8px);
    font-size: 13px;
    line-height: 16px;
    padding: 1px;
  }

  &__reg-title {
    font-weight: bold;
    color: $g__text_color_primary;
    position: relative;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 1.23;
    text-transform: uppercase;

    @media (max-width: 767px) {
      margin-bottom: 0;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }
  }

  &__img {
    flex-shrink: 0;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 13px;
    display: flex;
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 86px;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    padding: 2px;

    @media (max-width: 767px) {
      width: 90px;
      margin-right: 10px;
    }
  }

  &__date {
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
  }

  &__reg-progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-column-gap: 10px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }
}

.row-white__text--gray {
  font-size: 15px;
  line-height: 1.33;
  color: $g__text_color_secondary;
  width: 65%;
  margin: 0;

  @media (max-width: 767px) {
    margin-bottom: 10px;
    width: 100%;
    line-height: 20px;
  }
}

.row-white__text--desc {
  display: none;

  @media (max-width: 767px) {
    display: block;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: $g__text_color_secondary;
  }
}

.row-white__title-text {
  justify-content: center;

  &--fourth {
    padding-top: 11px;
    justify-content: flex-start;

    @media (max-width: 767px) {
      padding-top: 0;
    }
  }

  @media (max-width: 767px) {
    &.row-white__title-text--third {
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}

.row-white__text--small {
  font-size: 13px;
  line-height: 1.85;

  @media (max-width: 767px) {
    flex-grow: 0;
    width: auto;
    line-height: 1;
  }
}

.row-white__point {
  height: 6px;
  background: #EFF4F7;
  border-radius: 5px;

  @media (max-width: 767px) {
    width: auto;
  }

  &--yellow {
    background: #FFD339;
  }

  &--blue {
    background: #93D3ED
  }

  &--purple {
    background: #97B3FB;
  }

  &--dark-green {
    background: #86BEAC;
  }

  &--green {
    background: #71CA4B;
  }
}
