@import "variables";

.ui-input {
  width: 100%;
  height: 70px;
  position: relative;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid $g__outline_color;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);

  &__field {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 21px;
    border-radius: 5px;
    padding: 34px 20px 13px 20px;
    color: $g__text_color_primary;

    &::placeholder {
      opacity: 0;
    }

    &:disabled {
      cursor: default;
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      appearance: none;
      -webkit-appearance: none;
    }

    &[type="number"],
    &[type="number"]:hover,
    &[type="number"]:focus  {
      appearance: none;
      -moz-appearance: textfield;
    }
  }

  &__label {
    top: 50%;
    left: 20px;
    cursor: text;
    max-width: 90%;
    font-size: 18px;
    overflow: hidden;
    line-height: 20px;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform: translateY(-50%);
    color: $g__text_color_secondary;
  }

  &__field:focus ~ &__label,
  &__field:not(:placeholder-shown) ~ &__label {
    top: 15px;
    left: 20px;
    font-size: 13px;
    transform: none;
    line-height: 15px;
    pointer-events: auto;
  }

  &__field:disabled ~ &__label {
    cursor: default;
  }
}
