<section class="portfolio-filters">
  <div class="container">
    <ng-container [ngSwitch]="currentTable">
      <app-filters-container
        *ngSwitchCase="'tradeMarks'"
        [def]="tradeMarks"
        [layout]="{
          lg: ['1fr', '1fr', '1fr', '1fr', '1fr'],
          md: ['1fr'],
          sm: ['1fr']
        }"
        [filterValue]="filtersValue"
        [clear$]="clear$"
        smButtonTitle="Фильтр по объектам"
        (apply)='applyFilter($event)'
      ></app-filters-container>

      <app-filters-container
        *ngSwitchCase="'patents'"
        [def]="patents"
        [layout]="{
          lg: ['2fr', '1fr', '1fr', '1fr'],
          md: ['1fr'],
          sm: ['1fr']
        }"
        [clear$]="clear$"
        smButtonTitle="Фильтр по объектам"
        [filterValue]="filtersValue"
        (apply)='applyFilter($event)'
      ></app-filters-container>

      <app-filters-container
        *ngSwitchCase="'programs'"
        [def]="programs"
        [layout]="{
          lg: ['3fr', '1fr', '1fr'],
          md: ['1fr'],
          sm: ['1fr']
        }"
        [clear$]="clear$"
        smButtonTitle="Фильтр по объектам"
        [filterValue]="filtersValue"
        (apply)='applyFilter($event)'
      ></app-filters-container>

      <app-filters-container
        *ngSwitchCase="'contracts'"
        [def]="contracts"
        [layout]="{
          lg: ['3fr', '1fr', '1fr'],
          md: ['1fr'],
          sm: ['1fr']
        }"
        [clear$]="clear$"
        smButtonTitle="Фильтр по объектам"
        [filterValue]="filtersValue"
        (apply)='applyFilter($event)'
      ></app-filters-container>

      <app-filters-container
        *ngSwitchCase="'domains'"
        [def]="domains"
        [layout]="{
          lg: ['2fr', '1fr', '1fr', '1fr'],
          md: ['1fr'],
          sm: ['1fr']
        }"
        [clear$]="clear$"
        smButtonTitle="Фильтр по объектам"
        [filterValue]="filtersValue"
        (apply)='applyFilter($event)'
      ></app-filters-container>
    </ng-container>
  </div>
</section>
