<app-main-menu></app-main-menu>

<div (click)="closeDropdowns()" class="page-wrapper">
  <main class="ipid-main">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
  <app-main-footer></app-main-footer>
</div>
