@import 'variables';
@import '../shared/index-without-monitoring';

.header__logo {
  width: 170px;
}

* {
  outline: 0;
}

.attention__list li:after,
.hidden__list li:after {
  background-image: url('/assets/images/blue-done-tinkoff.svg') !important;
}

.trademarks .trademarks-list .trade-mark-item,
.legal-names .legal-names-list .legal-name-item,
.domain-names .domain-names-list .domain-name-item {
  box-shadow: none !important;
  border: 1px solid $g__outline_color;
}

.info-plate__img img {
  display: none;
}

.slider-card__card {
  filter: none !important;
}

.ip-id-search-risks.risk-orange.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-red.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-green.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-green.help-enabled .ip-id-search-risks-content .risks-notes.left > div > i {
  padding: 4px 0 !important;
  color: $g__text_color_secondary !important;
  background: #FFFFFF !important;
  border: 1px solid $g__outline_color;
}

.chart__block-wrapper.is-active-wrap {
  & .chart__block {
    border: none !important;
  }
}

.chart__block.chart__block--main {
  @media(max-width: 793px) {
    background: $header__dark_background !important;
  }
}

.info-card.info-card--main,
.info-card.info-card__small {
  box-shadow: none !important;
  border: 1px solid $g__outline_color !important;
}
