$g__body_background: #FFFFFF; // Цвет фона <body>
$g__text_color_primary: #626870; // Цвет основного текста
$g__text_color_secondary: #969BA3; // Цвет вспомогательного текста
$g__btn_primary_background: #EDF1F6; // Цвет фона основных кнопок в формах
$g__btn_primary_color: #3174DF; // Цвет текста основных кнопок в формах
$g__btn_attr_border_color: #EDF1F6; // Цвет обводки атрибутивных кнопок в формах
$g__btn_attr_text_color: #3174DF; // Цвет текста атрибутивных кнопок в формах

$g__alert_color: #F74E41; // Цвет Alert
$g__warning_color: #F4B453; // Цвет Warning
$g__success_color: #4D9C5B; // Цвет Success
$g__alert_text_color: #FFFFFF; // Цвет текста внутри Alert, Warning, Success
$g__link_color: #3174DF; // Цвет ссылок
$g__timeline_color: #6DC2F2; // Цвет таймлайна
$g__form_background: #FFFFFF; // Цвет фона формы
$g__outline_color: rgba(80, 80, 80, 0.15); // Цвет обводки

$g__mark_background: #FADD56; // Цвет фона маркированного списка
$g__mark_icon_color: #626870; // Цвет галки маркированного списка

$g__white_background: #FFFFFF; // Белый фон

$request__tab_background: #EDF1F6; // Цвет фона не активного таба (в процессе оплаты)
$request__tab_color: #3174DF; // Цвет текста не активного таба (в процессе оплаты)
$request__tab_active_background: #FADD56; // Цвет фона активного таба (в процессе оплаты)
$request__tab_active_color: #626870; // Цвет текста активного таба (в процессе оплаты)

$nav__background: #626870; // Цвет фона шапки
$nav__link_color: #D6D8D9; // Цвет ссылок в шапке
$nav__link_underline: #FADD56; // Цвет подчеркивания активной ссылки в шапке
$nav__btn_background: #FADD56; // Цвет кнопки в шапке
$nav__btn_color: #626870; // Цвет текста в кнопке в шапке

$header__light_background: #F5F5F6; // Цвет фона светлой шапки

$header__dark_background: #626870; // Цвет фона темной шапки
$header__dark_text_color_primary: #FFFFFF; // Цвет основного текста темной шапки
$header__dark_text_color_secondary: #969BA3; // Цвет атрибутивного текста темной шапки
$header__dark_link_color: #969BA3; // Цвет ссылок темной шапки
$header__dark_btn_background: #FADD56; // Цвет фона кнопки на темной шапке
$header__dark_btn_color: #626870; // Цвет текста кнопки на темной шапке

$dashboard__search_btn_accent_background: #3174DF; // Цвет фона акцентной кнопки “Проверить”
$dashboard__search_btn_accent_color: #FFFFFF; // Цвет текста акцентной кнопки “Проверить”

$request_modal__item_hovered_background: #EDF1F6; // Цвет фона плашки при наведении в модалке подать заявку
$request_modal__item_hovered_color: #626870; // Цвет текста и иконки в плашке при наведении в модалке подать заявку
$request_modal__item_icon_color: #3174DF; // Цвет иконки в неактивной плашке в модалке подать заявку
$request_modal__item_text_color: #626870; // Цвет текста в неактивной плашке в модалке подать заявку
$request_modal__background: rgba(98, 104, 112, 0.8); // Цвет полупрозрачного фона у модальных окон
$request_modal__title_color: #FFFFFF; // Цвет заголовка на полупрозрачном фоне у модальных окон
$request_modal__icon_close_color: #FFFFFF; // Цвет крестика закрытия на полупрозрачном фоне у модальных окон

$g__attention_background: #FFFBE8; // Фон для рекомендаций (и комментариев)
$g__warning_background: #FFF8F8; // Фон для важных сообщений
$g__success_background: #F8FEF5; // Фон для успешных сообщений

$monitoring_promo__icon_color: #FADD56; // Цвет иконок в промо-блоках (страница мониторинга)

$dashboard_cards__background: rgba(0, 0, 0, 0.2); // Цвет фона блоков информеров в дашбоарде (мониторинг, портфель, услуги)
$dashboard_checked_objects__background: #EDF1F6; // Цвет фона выделенного элемента в списке у мониторинга и портфеля
$dashboard_checked_objects__outline_color: #3174DF; // Цвет обводки выделенного элемента в списке у мониторинга и портфеля

$g__checkbox_background: #3174DF; // Цвет фона выделенного Checkbox

$corp_search__sticky_background: rgba(98, 104, 112, 0.7); // Цвет фона плавающего элемента на странице результатов поиска (корпораты)
$corp_search__sticky_text_color: #FFFFFF; // Цвет текста и не активной кнопки плавающего элемента на странице результатов поиска (корпораты)
$corp_search__sticky_btn_active_background: #3174DF; // Цвет фона активной кнопки плавающего элемента на странице результатов поиска (корпораты)
$corp_search__sticky_btn_active_color: #FFFFFF; // Цвет текста активной кнопки плавающего элемента на странице результатов поиска (корпораты)
$corp_search__mktu_background: #FFD6D2; // Цвет фона пересечения классов МКТУ в результатах поиска (корпораты)

$g__toggle_active_background: #3174DF; // Цвет активного Toggle
$g__toggle_active_disabled_background: #A1C3FA; // Цвет активного не рабочего Toggle
$g__toggle_no_active_background: #F5F5F6; // Цвет не активного Toggle

$expert__background: #F5F5F6; // Цвет фона блока с консультантом #F5F5F6;
$corp_contract_form__radio_background: #F5F5F6; //Цвет фона переключателей в форме заявки на договор #F5F5F6;

$service__cards_background: #FADD56; // Цвет карточек услуг
$service__cards_text_color: #626870; // Цвет текста в карточке услуги
$search__btn: #00AFEC; // Цвет кнопки поиска

$cases__backgroud: #FFFFFF; // Цвет фона черновиков
$g__widgets_link_color: var(--g__widgets_link_color, #3174DF); // Цвет ссылок в виджете портфеля