.about-risk__title {
  color: #152438;
  margin-bottom: 15px;

  @media(max-width: 767px) {
    margin-bottom: 10px;
  }
}

.about-risk__source-wrap {
  @media(max-width: 767px) {
    background-color: #F7F8FB;

    &--your {
      background-color: #fff;
    }
  }
}

.about-risk__source {
  margin-bottom: 15px;

  @media(max-width: 767px) {
    margin-bottom: 0;
  }
}

.about-risk__date {
  padding-left: 10px;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #F4F6FA;

  &--your {
    padding-left: 0;
  }

  & p {
    font-size: 18px;
    line-height: 24px;
  }

  @media(max-width: 767px) {
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 0;

    & p {
      font-size: 16px;
      line-height: 20px;
    }

    &--your {
      padding-left: 10px;
      background-color: #fff;
    }
  }
}

.about-risk__applicant {
  margin: 0 0 20px;
  padding-left: 10px;

  @media(max-width: 767px) {
    background-color: #F4F6FA;

    & p {
      margin-bottom: 0;
    }
  }
}
