@import 'variables';
@import '../shared/index-without-monitoring';

.info-plate {
  .info-plate__img img {
    width: 178px;
    height: 67px;
  }
}

.section-position__expert-img img {
  width: 199px;
  height: 333px;
  padding-top: 12px;
  object-fit: contain;
}

.logo_drafts img {
  width: 200px;
}

* {
  outline: 0;
}

// Спидометер

.ip-id-search-risks.risk-orange.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-red.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-green.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-green.help-enabled .ip-id-search-risks-content .risks-notes.left > div > i {
  padding: 4px 0 !important;
  background: $g__body_background !important;
  color: $g__text_color_secondary !important;
  border: 1px solid $g__outline_color;
}

.carousel-counter {
  background: #FFF !important;
}
