.btn-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(21, 36, 56, 0.1);
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
