@import 'variables';

.search_header {
  background: $header__light_background;
  position: relative;

  .search-wrapper {
    //width: 90%;
    margin: 0 auto;
    position: relative;
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .app-ip-id-search-input {
    display: block;
    position: initial;
    z-index: 2;
    padding-bottom: 60px;

    @media (max-width: 768px) {
      padding-bottom: 0;
      z-index: initial;
    }
  }
}

.section-top-search.not-loaded .search_header {
  padding-bottom: 132px;
}

.section-top-search.is-loading .search_header {
  padding-bottom: 20px;
}

.container {
  &--bg {
    background: #f7f8fb;
    padding: 20px 10px;
  }
}


.data {
  display: flex;
  flex-direction: column;
  width: 99.5%;
  margin: 0 auto;
}

.section-position {
  position: relative;
  background: white;


  &--bg {
    background: #f7f8fb;

  }

  &--main {
    position: relative;
  }
}

::ng-deep .submit_red {
  box-shadow: 4px 10px 20px rgb(255 16 55 / 25%);
}
