.okved-list {
  display: flex;
  height: fit-content;
  padding-right: 20px;
  flex-wrap: wrap;
  min-width: 170px;

  @media (max-width: 768px) {
    padding-right: 0;
    width: fit-content;
    min-width: 0;
    max-width: 165px;
    justify-content: flex-end;
  }
}

.okved-list__item {
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 13px;
  line-height: 18px;
  padding: 4px 7px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: bold;

  &--blue {
    color: #00AFEC;
  }

  &--critical {
    background: #FFD7DD
  }

  .prompt__hidden {
    font-weight: normal;
  }
}
