<app-ls-embedded-search-field [dataRequest]="searchRequest"
                              (clickMKTU)="onClickMKTU()"
                              (textRequestOut)="getSearchResult($event)"
                              #searchField
>
</app-ls-embedded-search-field>

<ng-container *ngIf="!isLoadingAll; else loading">
  <div class="emb-wrapper">
    <app-ls-embedded-search-result-trademarks (deleteMKTUFromSearch)="getSearchResult($event)"
                                              (toShowMKTUClasses)="emitEventToChild()"
                                              (clickMKTU)="onClickMKTU()"
                                              *ngIf="dataTrademarks"
                                              [MKTU]="MKTU"
                                              [searchText]="searchText"
                                              [allTrademarks]="allTrademarks"
                                              [dataTrademarks]="dataTrademarks">
    </app-ls-embedded-search-result-trademarks>

    <!--    <app-ls-embedded-search-result-legalnames *ngIf="dataLegalNames"-->
    <!--                                              [dataLegalNames]="dataLegalNames"></app-ls-embedded-search-result-legalnames>-->

    <!--    <app-ls-embedded-search-result-domains *ngIf="dataDomains"-->
    <!--                                           [dataDomains]="dataDomains"></app-ls-embedded-search-result-domains>-->
  </div>
</ng-container>

<ng-template #loading>
  <div class="emb-wrapper emb-wrapper--loader">
    <app-loading-modal [brandsearch]='true'></app-loading-modal>
  </div>
</ng-template>
