@import 'variables';

:host {
  display: block;
  margin: 12px 0;
}

.tabs__wrap {
  @media(max-width: 767px) {
    overflow-x: auto;
    margin-left: -20px;
    margin-right: -20px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.tabs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  font-size: 18px;

  @media(max-width: 767px) {
    min-width: 705px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &-item {
    border: 1px solid $g__btn_attr_border_color;
    flex: 1;

    & button {
      width: 100%;
      padding: 13px;
      font: inherit;
      background: transparent;
      border: none;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }
    }

    &--active {
      background: $g__btn_primary_background;
      border: 1px solid $g__btn_primary_background;

      & button {
        color: $g__btn_primary_color;
      }
    }

    &:first-of-type {
      border-radius: 6px 0 0 6px;
    }

    &:last-of-type {
      border-radius: 0 6px 6px 0;
    }

    &:not(:last-child) {
      border-right: 0;
    }
  }
}
