.section-control {
  &--footer {
    background: #EEF0F7;
    border-radius: 0px 0px 4px 4px;
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 42px 50px;
    display: flex;
    flex-direction: column;
    width: calc(100% + 100px);
    position: relative;
    left: -50px;

    p {
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      padding: 9px 20px;
      width: 355px;
      left: -15px;
    }
  }

  &--attention {
    background: #FFFBF7;
    border: 1px solid #FF9330;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

    h3{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: #FF9330;
      margin-bottom: 5px;
    }
    p{
      font-size: 18px;
      line-height: 24px;
      color: #152438;
      margin-bottom: 15px;
    }

    button{
      border: none;
      background: none;
      padding: 0;
    }

    &__link{
      font-family: 'Roboto', sans-serif;
      text-decoration-line: underline;
      color: #00AFEC;
      font-size: 18px;
      line-height: 24px;
      &:hover{
        cursor: pointer;
      }

    }

    &__list{
      text-align: left;
      justify-content: space-between;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 14px;
      margin-bottom: 14px;

      li{
        font-size: 18px;
        line-height: 24px;
        color: #152438;
        position: relative;
        padding: 0 10px 0 38px;
        font-family: 'Roboto', sans-serif;

        &:not(:last-of-type){
          margin-bottom: 10px;
        }


        &:after{
          width: 18px;
          height: 18px;
          position: absolute;
          background-size: 100%;
          background-repeat: no-repeat;
          background-image: url('/assets/images/blue-done.svg');
          top: 3px;
          left: 9px;
          content: '';
          border-radius: 50%;
        }
      }
    }

    &--in-card{
      p{
        margin-bottom:0 ;
      }
      margin-bottom: 30px;
      margin-top: 0;

      @media (max-width: 768px){
        background: #FFFBF7;
        border: 1px solid #FF9330;
        box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
        border-radius: 5px;
        h3{
          color: #FF9330;
        }
      }
    }

    &__show{
      display: flex;
      flex-direction: column;

      &--open{
        flex-direction: column-reverse;
      }
    }

    &--white{
      background: #FFFFFF;
      border: 1px solid rgba(21, 36, 56, 0.1);
      box-sizing: border-box;
      box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
      border-radius: 5px;
      margin-bottom: 0;
    }
  }

}
