@import 'variables';

.sections {
  padding-top: 40px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 48.35% 48.35%;
  grid-template-rows: auto;
  grid-auto-rows: max-content;
  gap: 40px;

  @media (max-width: 991px) {
    gap: 20px;
  }

  @media (max-width: 767px) {
    display: block;
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.sections__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: $g__white_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 10px;
  min-height: 345px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
    min-height: 273px;
    box-shadow: none;
  }

  &--trademarks {
    background-color: $header__dark_background;

    & .sections__title {
      color: $header__dark_text_color_primary;
    }
  }
}

.sections__content {
  flex: 1 0 auto;
}

.sections__title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: $g__text_color_primary;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.sections__btn {
  align-self: flex-start;
  margin-top: 15px;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  border: 1px solid $g__btn_primary_background;

  @media (max-width: 767px) {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid $g__outline_color;
  }

  &--trademarks {
    color: $header__dark_btn_color;
    background-color: $header__dark_btn_background;
    border: 1px solid $header__dark_btn_background;
  }
}

.no-access {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: linear-gradient(71.11deg, rgba(78, 90, 107, 0.8) 0%, rgba(78, 90, 107, 0.8) 100%);
  border: 1px solid rgba(21, 36, 56, 0.15);
  backdrop-filter: blur(3px);
  border-radius: 10px;

  & p {
    font-size: 18px;
  }
}

.soon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  overflow: hidden;

  &::before {
    content: "Скоро";
    position: absolute;
    top: 30px;
    right: -30px;
    width: 147px;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 4px 10px;
    background: $g__alert_color;
    transform: rotate(45deg);
  }
}

.container--head {
  padding: 23px 10px 0;

  @media(max-width: 991px) {
    padding: 23px 20px 0;
  }
}

.company-list {
  position: absolute;
  top: 33px;
  display: block;
  left: 0;
  z-index: 3;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 15px;
  line-height: 18px;

  @media(max-width: 991px) {
    top: initial;
    left: 0;
    min-width: fit-content;
    bottom: auto;
  }

  &__link {
    padding: 0 2px;
    color: #00AFEC;
    //text-decoration: underline;
    //-webkit-text-decoration-style: dashed;
    //text-decoration-style: dashed;
    //-webkit-text-decoration-color: #00AFEC;
    //text-decoration-color: #00AFEC;
    border-bottom: 2px #00AFEC dashed;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 10px;
  }

  &__item {
    padding: 5px 10px;

    p {
      color: #000;
    }

    a {
      text-align: left;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: $g__text_color_primary;
      text-transform: capitalize;
    }

    &--selected {
      background: $header__light_background;
      border-radius: 5px;
    }

    &:hover, &:active {
      background: $header__light_background;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.chart__mini-wrapper {
  display: flex;
  //align-items: center;
  border: none;
  background: none;
  font-size: 25px;
  line-height: 32px;
  text-align: left;

  @media (max-width: 793px) {
    display: block;
    padding: 0;
    text-align: left;
    margin-left: 0;
    position: relative;

    &--several::after {
      position: absolute;
      content: '';
      right: 0;
      bottom: 10px;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 12px;
      height: 8px;
      background-image: url("/assets/icons/icon-dropdown-blue.svg");
    }
  }
}

.chart__mini-wrapper--several-2::after {
  transform: rotate(180deg);
}

.chart__mini-wrapper {
  position: relative;
  text-align: left;
  width: max-content;
  max-width: 80vw;

  @media (max-width: 793px) {
    max-width: 98vw;
    //width: fit-content;
    width: 100%;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
