@import 'variables';

.page-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    background-color: $header__light_background;
  }

  @media (max-width: 767px) {
    &::before {
      height: 160px;
    }
  }
}

.container-md {
  padding: 0;
}

.heading-h1 {
  margin-bottom: 30px;
}

.form-section {
  position: relative;
  z-index: 2;
  @media (min-width: 768px) {
    padding-top: 20px;
  }
}

.form__input {
  -webkit-appearance: none;
}

.btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.form__group:not(:last-child) {
  margin-bottom: 20px;
}

.form__checkbox-wrap {
  padding: 15px 20px;
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
}

.form__checkbox-label {
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 15px;
  color: $g__text_color_secondary;
}

.dropdown__label:not(:last-of-type) {
  margin-bottom: 17px;
}

.dropdown__label {
  padding-left: 32px;
  line-height: 20px;
}

.btn {
  @media (max-width: 479px) {
    width: 100%;
  }
}

.form__input:focus ~ .form__input-label, .form__input:not(:focus):valid ~ .form__input-label, .form__input:-webkit-autofill ~ .form__input-label, .form__input:not(:empty) ~ .form__input-label, .form__input[type=tel]:disabled ~ .form__input-label {
  left: 20px;
}
.invalid {
  border: 1px solid #FF1037 ;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
}
.error-invalid-message {
  color: #FF1037;
  margin-top: 5px;
  font-size: 13px;
}
.loaderAuth {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #00AFEC;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
