.risk-modal__about-wrap {
  border-bottom: none;
  padding-bottom: 20px;

  img{
    margin-right: 40px;
  }

  @media (max-width: 767px) {
    & img {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

