@import 'variables';

.access__title-wrap {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;

  @media (max-width: 991px) {
    flex-direction: column;
  }

  @media (max-width: 767px) {
    position: relative;
    margin-top: -20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: $header__light_background;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      display: block;
      width: auto;
      height: 1px;
      background-color: $g__outline_color;;
    }
  }
}

.access__title {
  margin: 0;
  font-size: 25px;
  line-height: 32px;

  @media (max-width: 767px) {
    flex-direction: column;
    font-size: 20px;
    line-height: 28px;
  }
}

.access__select {
  font-size: 25px;
  line-height: 32px;
  color: $g__link_color;
  border: none;
  border-bottom: 1px dashed $g__link_color;
  cursor: pointer;
}

.access__success {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto 40px;
  padding: 18px 0;
  font-size: 16px;
  line-height: 24px;
  color: $g__text_color_primary;
  text-align: center;
  background: #F9FFF8;
  border: 1px solid $g__success_color;
  border-radius: 5px;
}
