@import 'variables';

.section-position--tariff{
  flex-direction: column;
}

.tariff-footer{
  display: flex;

  @media(max-width: 767px) {
    flex-direction: column;
  }

  &__text{
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: $g__text_color_secondary;
  }

  a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: $g__btn_attr_text_color;
    position: relative;
    padding-left: 30px;

    & svg {
      position: absolute;
      width: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      fill: $g__btn_attr_text_color;
    }

    @media(max-width: 767px) {
      order: 2;
      width: 100%;
      padding: 12px;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      border-radius: 5px;

      & svg {
        display: none;
      }
    }
  }

  &__position{
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;

    @media(max-width: 767px) {
      align-items: flex-start;
    }
  }

  &__block{
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: space-around;
    padding: 15px 5px;
    margin-bottom: 10px;
  }

  &__info{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;

    span{
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: $g__text_color_secondary;
      margin-bottom: 2px;
    }

    p{
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: $g__text_color_primary;
      margin-bottom: 0;
    }
  }

  &__total-wrapper{
    display: flex;
    align-items: center;

    @media(max-width: 767px) {
      display: block;
      order: 1;
      width: 100%;
    }
  }

  &__total{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    margin-right: 30px;

    @media(max-width: 767px) {
      margin-right: 0;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
    }

    p{
      font-size: 18px;
      line-height: 20px;
      text-align: right;
      margin-bottom: 7px;

      @media(max-width: 767px) {
        text-align: center;
        margin-bottom: 0;
        line-height: 24px;
      }
    }

    span{
      font-size: 13px;
      line-height: 20px;
      text-align: right;
      color: $g__text_color_secondary;
    }
  }

  &__btn{
    background: #00AFEC;
    border-radius: 4px;
    padding: 20px 69px 20px 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 24px;
      height: 100%;
      background-image: url("/assets/images/icon-arrow-white.svg");
      right: 25px;
      top: 23px;
    }

    &:hover{
      background: #0D8EBB;
    }
  }
}

.duty{
  background: #F2F4F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  margin-bottom: 40px;

  p{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: $g__text_color_primary;
  }
}

.attention__show--open {
  margin-bottom: 9px;
}

.container--small h1{
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 27px;

  @media(max-width: 767px) {
    padding-left: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
  }
}

.section-position--tariff{
  background: $g__form_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 42px 50px;
  max-width: 1240px;
  margin: 40px auto;

  @media(max-width: 767px) {
    margin: 10px 10px 0;
    padding: 20px 10px;
  }
}

.tariff-footer__position {
  margin-bottom: 0;
}

.attention--in-card {
  margin-bottom: 20px;
}

.attention--white {
  margin-bottom: 55px;

  @media(max-width: 767px) {
    margin-bottom: 20px;
  }

  & p {
    font-weight: 700;
  }

  @media(max-width: 767px) {
    padding: 20px;

    & p {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.btn-blue-arrow {
  @media(max-width: 767px) {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid $g__outline_color;

    &::after {
      display: none;
    }
  }
}
