@import 'variables';

.title-dropdown {
  font-size: 25px;
  line-height: 32px;
  color: $g__text_color_primary;
  font-weight: normal;
  position: relative;
  text-align: left;

  &-blue {
    color: $g__link_color;
    //border-bottom: 1px dashed $g__link_color;
    position: relative;
    padding-right: 18px;

    &::before {
      content: '';
      position: absolute;
      background-image: url("/assets/icons/title-dropdown-blue.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 12px;
      height: 9px;
      right: 0;
      top: 15px;
    }

    &--open {
      &::before {
        transform: rotate(180deg);
      }
    }

    @media (max-width: 793px) {
      border-bottom: 0;
      display: flex;
      width: 100%;

      a {
        margin-left: 0;
        display: flex;
        flex-grow: 1;
      }
    }
  }

  &-white {
    color: #FFF;
    display: block;
    margin-left: 5px;
    margin-top: -3px;
  }

  @media (max-width: 793px) {
    flex-direction: column;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
    margin-left: 0;

    &-blue {
      text-align: left;
      margin-left: 0;
    }

    &-white {
      text-align: left;
      margin-left: 0;
    }
  }

  &--mobile-row {
    @media (max-width: 793px) {
      flex-direction: row;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;

      .title-dropdown-white {
        margin-left: 5px;
      }
    }
  }
}


.dropdown-wrapper {
  border: none;
  background: none;
  font-size: 25px;
  line-height: 32px;
  //margin-top: -3px; // из за подчеркивания дергается вниз
  position: relative;

  @media (max-width: 793px) {
    padding: 0;
    text-align: left;
    margin-left: 0;
    position: relative;

    //&--several::after{
    //  position: absolute;
    //  content: '';
    //  right: 0;
    //  top: 13px;
    //  background-repeat: no-repeat;
    //  background-size: 100%;
    //  width: 12px;
    //  height: 8px;
    //  background-image: url("/assets/icons/icon-dropdown-blue.svg");
    //}

  }
}

.dropdown-wrapper--several-2::after {
  transform: rotate(180deg);
}


.options-list {
  position: absolute;;
  right: 0;
  top: 30px;
  width: 100%;
  z-index: 11;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $g__text_color_primary;
  display: flex;
  z-index: 101;

  @media (max-width: 793px) {
    width: 100%;
    left: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    cursor: pointer;

    padding: 10px;

    p {
      text-align: left;
    }

    &--selected {
      background: #F2F4F8;
      border-radius: 5px;
    }

    &:hover {
      opacity: .8;
    }
  }
}

.overlay--transparent {
  background: none;
  z-index: 8;
}


.hide {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
