@import 'variables';

.pay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 1000;
}

.pay__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.pay__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 420px;
  width: 100%;
  max-height: 98%;
  height: auto;
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1001;
  overflow-y: auto;
}

.pay__close {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-left: auto;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    background-image: url("/assets/icons/icon-pay-close.svg");
  }
}

.pay__top {
  position: relative;
  padding: 40px 30px 30px;
  background: $header__light_background;
  border-radius: 10px 10px 0 0;

  @media (max-width: 767px) {
    padding-bottom: 20px;
  }

  & img {
    display: block;
    margin: 0 auto 20px;
  }
}

.pay__total {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: $g__text_color_primary;

  &.green {
    color: $g__success_color;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.pay__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 20px 30px;

  @media (max-width: 767px) {
    justify-content: flex-start;
    padding: 20px;
  }
}

.pay__list {
  margin-top: 0;
  margin-bottom: 20px;
}

.pay__item {
  padding-top: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid #E6E8ED;

  &:first-of-type {
    padding-top: 0;
  }

  & dt {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $g__text_color_secondary;
  }

  & dd {
    margin-left: 0;
    font-size: 16px;
    line-height: 20px;
  }
}

.pay__save {
  display: inline-block;
  margin-right: 0;
  margin-left: auto;
  padding: 14px 19px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: $g__btn_attr_text_color;
  border: 1px solid $g__btn_attr_border_color;
  box-sizing: border-box;
  border-radius: 5px;

  @media (max-width: 767px) {
    display: block;
    width: 100%;
  }
}
