@charset "UTF-8";
@import 'variables';

.object-case {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 13px;

  &__img {
    height: 82px;
    width: 82px;
    border: 1px solid #DBDDE3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 82px;

    img {
      border-radius: 5px;
    }

    &_text {
      border: 2px solid #DFE2E8;
      box-sizing: border-box;
      border-radius: 16px;
      padding: 0 2px;
      height: 26px;
      width: 72px;
      line-height: 21px;
    }
  }

  &__tags-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__tags {
    display: block;
  }

  .tags {
    width: 100%;
    overflow: hidden;
    height: 20px;

    &__tag {
      background: #F7F8FB;
      border: 1px solid rgba(21, 36, 56, 0.15);
      border-radius: 3px;
      height: 20px;
      padding: 2px 6px;
      max-width: 150px;
      min-width: max-content;
      font-size: 13px;
      line-height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      margin-right: 3px;
    }
  }

  &__name {
    justify-self: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
  }
}

.object-description {
  display: flex;
  align-items: center;
  color: $g__text_color_secondary;
  font-size: 15px;
  line-height: 20px;
  width: 100%;
  height: 100%;
}

.object-number {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  width: 100%;
  height: 100%;

  @media (max-width: 793px) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }
}

.object-reg-progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-column-gap: 10px;
  margin: 10px 10px 15px 0;

  @media (max-width: 794px) {
    margin: 0 0 10px;
  }

  &__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__point {
    height: 6px;
    background: #EFF4F7;
    border-radius: 5px;

    @media (max-width: 793px) {
      width: auto;
    }

    &_yellow {
      background: #FFD339;
    }

    &_blue {
      background: #93D3ED
    }

    &_purple {
      background: #97B3FB;
    }

    &_dark-green {
      background: #86BEAC;
    }

    &_green {
      background: #71CA4B;
    }
  }

  &__attention {
    font-weight: bold;
    font-size: 11px;
    border: 1px solid $g__alert_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3px 10px;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    letter-spacing: 0.02em;
    line-height: 16px;
    text-transform: uppercase;
    color: $g__alert_text_color;
    background: $g__alert_color;

    @media (max-width: 793px) {
      margin-top: 10px;
    }
  }
}


.disabled-checkbox {
  cursor: auto;
  &::before {
    border-color: #eeeeee;
  }
}
.pointer-case {
  cursor: pointer;
}
.warning-card {
  border: 1px solid #FF1037;
  background-color: #FFF3F5;
}
