<div class="list-template grid-template pointer-case"
     [style.grid-template-columns]="listLayout"
     [class.warning-card]="item?.toAgreement"
     (click)="onDetail()"
>
  <div class="grid-template__item">
    <div class="object-case" [style.align-items]="item.tags?.length ? 'flex-start' : 'center'">
      <div class="object-case__img" >
        <img *ngIf="item?.imgSrc; else imgText" [src]="item?.imgSrc | proxyImage" alt="image">
        <ng-template #imgText>
          <p class="object-case__img_text">
            {{ item?.name | trim:8:'' }}
          </p>
        </ng-template>
      </div>

      <div class="object-case__tags-name">
        <div *ngIf="item.tags && item.tags.length" class="object-case__tags tags">
          <div *ngIf="item.tags.length" class="tags__tag">
            {{item.tags[0].name}}
          </div>
          <div class="tags__tag" *ngIf="item.tags.length > 1">+{{item.tags.length - 1}}</div>
        </div>

        <div class="object-case__name" [style.margin-top]="item.tags?.length ? '8px' : '0'">
          {{item?.name | trim:80}}
        </div>
      </div>
    </div>
  </div>
  <div class="grid-template__item">
    <div class="object-description">
      {{item?.description | trim:35}}
    </div>
  </div>
  <div class="grid-template__item">
    <div class="object-number">
      <div *ngIf="item.client">{{item.client}}</div>
      <div>{{ item.number }}</div>
    </div>
  </div>
  <div class="grid-template__item">
    <div class="object-reg-progress">
      <ng-container *ngIf="item.status">
        <div
          *ngFor="let track of item?.tracks; index as i"
          [ngClass]="track.reach ? 'object-reg-progress__point_' + trackColors[i] : ''"
          class="object-reg-progress__point">
        </div>
      </ng-container>
    </div>
    <div *ngIf="item.status" class="object-reg-progress__title">{{ item.status }}</div>
    <div class="object-reg-progress__attention" *ngIf="item?.toAgreement">
      <span class="object-reg-progress__attention_text">Требуется согласование</span>
    </div>
  </div>
  <div class="grid-template__item grid-template__item_float-right"
       (click)="$event.stopPropagation()"
       [class.grid-template__item_checkbox-sm]="currentLayout === 'sm'">
    <input class="visual-hidden dropdown__input"
           type="checkbox"
           (click)="checkCase(item.number); $event.stopPropagation()"
           [checked]="checked"
           [name]="item.ID"
           [id]="item.ID"
           [disabled]="!item.toReport"
    >
    <label class="dropdown__label"
           [class.disabled-checkbox]="!item.toReport"
           [for]="item.ID">
      <span></span>
    </label>
  </div>
</div>
