@import 'variables';

.heading-h1 {
  margin-top: 36px;
  text-align: center;
}

.back-button {
  position: absolute;
  left: 0;
  top: 50%;
  width: 84px;
  height: 21px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  
  .back-icon {
    min-width: 24px;
    min-height: 15px;
    background-image: url("/assets/images/icon-arrow-grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
  }

  .text {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $g__btn_attr_text_color;
  }

}

.form--margin {
  margin-bottom: 20px;
}

.tabs__item {
  @media (max-width: 768px) {
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-right: 0;
  }
}

.tabs__item a {
  @media (max-width: 768px) {
    background: #F7F8FB;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 13px;
    line-height: 18px;

    &.is-active {
      @media (max-width: 768px) {
        background: #FFFFFF;
      }
    }
  }
}


.is-active {
  @media (max-width: 768px) {
    border-bottom: none;
    color: #00AFEC;
  }
}

.tabs__list {
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}

.field {
  @media (max-width: 768px) {
    height: auto;
    padding: 33px 20px;
    padding-bottom: 13px !important;
  }
}

.form__input-wrap span {
  @media (max-width: 768px) {
    top: 13px !important;
    left: 20px !important;
    font-size: 13px !important;
    line-height: 18px !important;
  }
}

.btn-wrap {
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.back-button {
  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    align-items: center;
    height: fit-content;
    transform: none;
    position: relative;
  }
}

.back-button .back-icon {
  @media (max-width: 768px) {
    margin-right: 10px;
  }
}

.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid #00AFEC; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

.invalid-form-btn {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.company-item {
  &:hover {
    background: #F4F6FA;
    cursor: pointer;
  }
}

.legal-name-patentee {
  position: absolute;
  color: #AAAAAA;
  font-size: 16px;
  top: 30px;
  z-index: 10;
  cursor: auto;

  @media (max-width:500px){
    top: 35px;
  }

}

.form-card {
  position: inherit;
  border: 1px solid $g__outline_color;

  &:hover {
    border: 1px solid $g__link_color;
  }
}

.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 10px;

      @media (max-width: 767px) {
        margin-top: 20px;
      }
    }

    &--fields {
      @media (max-width: 767px) {
        display: flex;
        margin-left: -5px;
        margin-right: -5px;
      }
    }
  }

  &__select-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    z-index: 100;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 5px;
  }

  &__link {
    color: $request__tab_color;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    width: 100%;
    display: flex;
    padding: 24px 20px 25px 20px;

    &--gray {
      color: $g__text_color_secondary;
    }
  }

  &__li {
    padding: 15px 20px;
    background-color: white;
    font-size: 16px;
    line-height: 20px;
    color: #152438;

    &--selected {
      background: #F4F6FA;
    }
  }

  &__input {

    &[type='number'] {
      &:focus {
        outline-offset: 0;
      }
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &--linked {
      padding-right: 28.8%;
    }

    &-wrap {
      position: relative;
      height: 100%;

      &--select {
        background: #FFFFFF;
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-sizing: border-box;
        box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $g__text_color_secondary;
        position: relative;


        &::after {
          content: '';
          position: absolute;
          right: 26px;
          top: 31px;
          background-size: 100%;
          background-repeat: no-repeat;
          background-image: url("/assets/images/icon-arrow-black.svg");
          width: 9px;
          height: 7px;
        }

        &--after::after {
          content: '';
          position: absolute;
          right: 26px;
          top: 31px;
          background-size: 100%;
          background-repeat: no-repeat;
          background-image: url("/assets/images/icon-arrow-black.svg");
          width: 9px;
          height: 7px;
          transform: rotate(180deg);
        }
      }

      & .intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container {
        left: 12px;
      }

      & .intl-tel-input {
        width: 100%;
      }

      & .intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text] {
        padding-left: 62px;
      }
    }

    &-label {
      font-size: 18px;
      line-height: 19px;
      color: $g__text_color_secondary;
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      left: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;

      @media (max-width:500px){
        transform: none;
      }

      a {
        display: none;
      }
    }

    &-link {
      position: absolute;
      right: 19px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      line-height: 22px;

      @media(max-width: 575px) {
        font-size: 0.875rem;
        line-height: 1.1666666667;
      }
    }

    &:focus, &:not(:focus):valid, &:-webkit-autofill, &:not(:empty), &[type=tel]:disabled {
      padding-bottom: 14px;
      color: $g__text_color_primary;
      font-size: 18px;
      line-height: 20px;

      &::placeholder {
        font-size: 0;
      }

      & ~ .form__input-label {
        font-size: 13px;
        line-height: 15px;
        left: 20px;
        top: 10px;
        transform: none;
        pointer-events: auto;

        a {
          display: inline-block;
        }

        @media (max-width: 767px) {
          top: 15px;
          left: 21px;
        }
        @media (max-width: 768px) {
          left: 15px;
        }

      }
    }
  }

  &__dropdown {
    cursor: pointer;
    position: absolute;
    width: 100%;
    z-index: 99;
    border: 1px solid rgba(21, 36, 56, 0.1);
    border-radius: 5px;
  }
}

.form__input.field.ng_tel_input:focus,
.form__input.field.ng_tel_input:not(:focus):valid,
.form__input.field.ng_tel_input:-webkit-autofill,
.form__input.field.ng_tel_input:not(:empty) {
  padding: 0 0 0 62px;
}

.disabled-options{
  pointer-events: none;
  opacity: 0.3;
}

