@import 'variables';

.confidants {
  margin-bottom: 40px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.confidants__caption {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;

  &.empty {
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;

    &.empty {
      margin-bottom: 10px;
    }
  }
}

.confidants__table-wrap {
  position: relative;

  @media (max-width: 767px) {
    &::before {
      display: none;
    }
  }
}

.confidants__table {
  position: relative;
  width: 100%;
  z-index: 2;
  border-collapse: collapse;

  @media (max-width: 767px) {
    display: block;
  }

  & th {
    position: relative;
    padding: 15px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color: $g__text_color_secondary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid $g__outline_color;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      right: 10px;
      width: 20px;
      height: 1px;
      background: #CCCFD6;
    }

    &:first-of-type {
      width: 319px;
    }

    &:last-of-type {
      width: 176px;

      &::after {
        display: none;
      }
    }

    @media (max-width: 991px) {
      &:first-of-type {
        width: auto;
      }

      &:last-of-type {
        width: auto;
      }
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  & td {
    font-size: 16px;
    line-height: 24px;
    padding: 15px 0;
    border-bottom: 1px solid $g__outline_color;

    @media (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 18px;
      border-bottom: none;

      &::before {
        content: attr(data-label);
        display: block;
        font-size: 13px;
        line-height: 18px;
        color: $g__text_color_secondary;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  & tr {
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-bottom: 10px;
      background: #FFFFFF;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;

      &:first-of-type {
        display: none;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.confidants__table .confidants__name-wrap {
  @media (max-width: 767px) {
    order: 2;
    margin-bottom: 10px;

    &::before {
      display: none;
    }
  }
}

.confidants__table .confidants__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: underline;
  font-size: 16px;
  line-height: 24px;
  color: $g__link_color;
}

.confidants__table .confidants__status-wrap {
  @media (max-width: 767px) {
    order: 1;
    margin-bottom: 10px;
    justify-self: flex-start;

    &::before {
      display: none;
    }
  }
}

.confidants__status {
  display: inline-block;
  margin: 0;
  padding: 5px 12px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $g__text_color_primary;
  border-radius: 5px;

  &.check {
    background-color: #F2DDBE;
  }

  &.valid {
    background-color: #BEF2C5;
  }

  &.invalid {
    background-color: #F0F0F0;
  }
}

.confidants__date-wrap {
  @media (max-width: 767px) {
    order: 3;
  }
}

.confidants__from-wrap {
  @media (max-width: 767px) {
    order: 4;
  }
}

.confidants__to-wrap {
  @media (max-width: 767px) {
    order: 5;
  }
}

.confidants__empty {
  padding: 17px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #FFFBF0;
  border: 1px solid #FCD770;
  box-sizing: border-box;
  border-radius: 5px;

  @media (max-width: 767px) {
    padding: 9px;
    line-height: 20px;
  }
}
