@import "variables";

.form-item__head{
  margin-bottom: 40px;
}

.form-item__btn-block--mini {
  span{
    text-decoration:line-through;
    margin: 0 5px;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 20px;
      margin-top: 20px;
    }

    button{
      width: 100%;
    }
  }
}

.form-item__btn-block {
  align-items: center;
}

.form-item__btn-block--mini {
  @media (max-width: 768px) {
    width: 100%;
  }
}

.sum-block{
  @media (max-width: 768px) {
    order: 1;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__pay {
    margin-left: 10px;

    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }
  }

  &__cancel {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

:host ::ng-deep app-promo-code {
  margin-right: auto;

  @media (max-width: 768px) {
    margin-right: 0;
    margin: 0 auto;
  }
}