@import "variables";

.ui-button {
  display: flex;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 20px 15px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;


  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }
  
  &--primary {
    color: $g__btn_primary_color;
    border-color: $g__btn_primary_background;
    background-color: $g__btn_primary_background;

    &:disabled {
      opacity: .7;
      cursor: default;
      pointer-events: none;
      color: $g__btn_primary_color;
    }
  }

  &--secondary {
    color: $g__btn_attr_text_color;
    border-color: $g__btn_attr_border_color;

    &:disabled {
      opacity: .7;
      cursor: default;
      pointer-events: none;
      color: $g__btn_attr_text_color;
    }
  }

  &--link {
    border: none;
    background-color: transparent;
    color: $g__btn_attr_text_color;

    &:disabled {
      opacity: .7;
      cursor: default;
      pointer-events: none;
      color: $g__btn_attr_text_color;
    }
  }
}

:host ::ng-deep {
  .ui-button--primary app-button-icon svg {
    margin: 0 5px 0;
    transform: translateY(2px);
    fill: $g__btn_primary_color;
  }

  .ui-button--secondary app-button-icon svg {
    margin: 0 5px;
    transform: translateY(2px);
    fill: $g__btn_attr_text_color;
  }

  .ui-button--link app-button-icon svg {
    margin: 0 5px;
    transform: translateY(2px);
    fill: $g__btn_attr_text_color;
  }
}