@import "variables";

.rates {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;

  &__main-wrapper{
    display: flex;
  }

  &__rate-card-wrapper{
    width: 31%;

    &--width{
      width: 49%;
      max-width: none;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }

  .rate-card {
    width: 100%;
    height: 100%;
    background: $g__white_background;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(21, 36, 56, 0.15);
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    .rate-card__name--hit{
      width: 54px;
      height: 54px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url('/assets/images/hit.svg');
      top: -30px;
      right: 0;
      position: absolute;
    }

    @media (max-width: 768px) {
      height: auto;
      max-width: none;
      margin: 20px auto 15px;
    }

    .info-icon {
      min-width: 20px;
      min-height: 20px;
      max-height: 20px;
      background-image: url("/assets/images/info-icon.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      margin-left: 5px;
      cursor: pointer;
      z-index: 30;
      .info-tooltip {
        position: absolute;
        display: none;
        background-color: #FFFFFF;
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-sizing: border-box;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        max-width: 212px;
        width: 212px;
        z-index: 2;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: 767px) {
          left: auto;
          right: 0;
          transform: none;
        }
      }
      &:hover {
        background-image: url("/assets/images/info-icon-active.svg");
        .info-tooltip {
          display: block;
        }
      }
    }

    & hr {
      margin-top: 4px;
    }

    &--highlight {
      position: relative;
      background: #FFFFFF;
      box-shadow: 0px 3px 8px rgba(0, 175, 236, 0.2);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $g__link_color;
        border-radius: 5px;
        z-index: 2;
      }

      &::after {
        content: "Выбран";
        position: absolute;
        top: -22px;
        left: 0;
        right: 0;
        padding-top: 2px;
        padding-bottom: 2px;
        background: $g__link_color;
        border-radius: 5px 5px 0 0;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
      }

    }

    &:hover {
      background: #FFFFFF;
    }

    &__mobile-name{
      display: none;

      @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid $g__link_color;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 20px;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;
      }
    }

    &__name {
      margin-top: 30px;
      text-align: center;
      font-family: Roboto, serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: $g__text_color_primary;
      position: relative;
    }
    .progress-risk {
      padding-top: 20px;
      text-align: center;
      .text {
        position: relative;
        top: -18px;
        display: flex;
        justify-content: center;
        font-weight: normal;
        font-size: 16px;
        color: $g__text_color_primary;
      }
    }
    .price {
      padding: 15px 20px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      .old-price {
        line-height: 20px;
        text-decoration-line: line-through;
        color: $g__text_color_secondary;
      }
      .discount {
        line-height: 20px;
        margin-right: 30px;
        margin-left: 15px;
        color: $g__alert_color;

        @media (max-width: 991px) {
          margin: 0;
        }

        @media (max-width: 767px) {
          flex-grow: 1;
          text-align: right;
          margin-right: 30px;
          margin-left: 15px;
        }
      }

      &__full {
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: $g__text_color_primary;
        text-align: right;
      }
    }
    .choosed-rate-btn {
      width: 219px;
      height: 50px;
      border: 1px solid $g__link_color;
      box-sizing: border-box;
      border-radius: 4px;
      text-transform: uppercase;
      color: $g__link_color;
      margin: auto;
      text-align: center;
      padding-top: 15px;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      &:hover {
        background-color: $g__link_color;
        color: $g__white_background;
      }
    }
    .rate-description {
      font-family: Roboto, serif;
      font-style: normal;
      color: $g__text_color_primary;
      padding: 20px;

      & hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      &__title {
        font-weight: bold;
        font-size: 13px;
      }
      &__item {
        font-weight: normal;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        padding: 3px 0;

      }
    }
  }
}

.attention{
  background: $g__white_background;
  border: 1px solid $g__warning_color;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  padding: 20px 64px 20px 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  position: relative;
  width: 100%;

  &__sum-sum{
    @media (max-width:768px){
      display: none;
    }
  }

  &__price-block{
    display: flex;
    gap: 10px;
    font-size: 18px;
    line-height: 24px;
    color: $g__text_color_primary;

    &--old {
      text-decoration-line: line-through;
      color: $g__text_color_secondary;
    }

    &--sale {
      color: $g__alert_color;
    }

    @media (max-width:768px){
      justify-content: space-between;
      font-size: 16px;
      line-height: 20px;
      align-items: baseline;

      p:last-of-type{
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  &--sale::after{
    width: 64px;
    height: 64px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/images/sale-red.svg');
    top: 0;
    right: 0;
    content: '';
  }

  h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: $g__warning_color;
    margin-bottom: 5px;
  }


  button{
    border: none;
    background: none;
    padding: 0;
  }

  &--gray{
    background: $g__white_background;
    border-radius: 0px 0px 4px 4px;
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 42px 50px;
    display: flex;
    flex-direction: column;

    p{
      margin-bottom: 20px;
    }
  }

  &__link{
    font-family: 'Roboto', sans-serif;
    text-decoration-line: underline;
    color: $g__link_color;
    font-size: 18px;
    line-height: 24px;
    &:hover{
      cursor: pointer;
    }

  }

  &__list{
    text-align: left;
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-bottom: 14px;

    li{
      font-size: 18px;
      line-height: 24px;
      color: $g__text_color_primary;
      position: relative;
      padding: 0 10px 0 38px;
      font-family: 'Roboto', sans-serif;

      &:not(:last-of-type){
        margin-bottom: 10px;
      }
      @media (max-width:768px) {
        font-size: 16px;
        line-height: 20px;
      }

      &:after{
        width: 18px;
        height: 18px;
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('/assets/images/blue-done.svg');
        top: 3px;
        left: 9px;
        content: '';
        border-radius: 50%;
      }
    }
  }

  &--in-card{
    p{
      margin-bottom:0 ;
    }
    margin-bottom: 30px;
    margin-top: 0;
  }

  &__show{
    display: flex;
    flex-direction: column;

    &--open{
      flex-direction: column-reverse;
    }
  }

  &--white{
    background: $g__white_background;
    border: 1px solid rgba(21, 36, 56, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    margin-bottom: 0;

    p:first-of-type{
      font-weight: bold;
    }

    @media (max-width:768px){
      padding: 20px;
      margin-bottom: 20px;

      p:first-of-type{
        font-size: 20px;
        line-height: 28px;
        font-weight: normal;
        margin-bottom: 10px;
      }
    }
  }
}

.rates .rate-card--width{
  max-width: none;
  .rate-description{
    padding: 20px 28px
  }

  .price {
    padding: 15px 28px 0;
  }
}

.prices-wrapper{
  display: flex;
}

.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
