@import 'variables';
//@import "../shared/index-without-monitoring";

body {
  font-family: Whitney, "Arial", sans-serif;
}

.header__logo {
  width: 170px;
  padding-top: 7px;
}

* {
  outline: 0;
  font-family: Whitney, "Arial", sans-serif;
}

.container,
.main_body_wrapper,
.ip-id-result {
  padding-left: 32px !important;
  padding-right: 32px !important;
  max-width: 1144px !important;

  @media(max-width: 767px) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.side {
  padding-left: 0 !important;
}

.main {
  padding-right: 0 !important;
}

//.search {
//  max-width: 1100px;
//  margin: 0 auto;
//  padding: 20px 0;
//}

.monitoring--critical {
  padding: 0 10px 24px;

  @media (max-width: 767px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

app-cases-item {
  .section-position__exp {
    padding-top: 40px !important;
  }
}

.section-position__exp,
.section-position__expert {
  border-radius: 6px;
}

.section-position__exp {
  padding-top: 40px;
}

.search {
  max-width: 1080px !important;
}

app-portfolio,
app-monitoring {
  .table,
  .search,
  .search-style,
  .unconnected-table {
    max-width: 1100px !important;
  }
}

.add-object__content,
.section-position--treaty {
  max-width: 1080px !important;
}

.row-white.row-white__blue-border,
.unconnected-table__row--active {
  background: #FFFFFF !important;
}

.section-position__exp {
  & .section-position__expert {
    max-width: 1080px !important;
    flex-direction: row-reverse;
    justify-content: space-between !important;
    padding: 32px 64px 0 32px !important;
    background: #FFFFFF !important;

    @media(max-width: 768px) {
      padding: 20px 20px 0 !important;
    }
  }

  & .section-position__expert-img img {
    max-width: 145px !important;
  }

  & .expert {
    padding: 0 !important;
    width: 70% !important;

    @media(max-width: 768px) {
      width: 100% !important;
    }

    & h2 {
      margin-bottom: 16px !important;
      font-weight: 400 !important;
      font-size: 28px !important;
      line-height: 32px !important;
      color: #263C4E;
    }

    & .expert__btn-wrapper {
      width: 100%;
    }

    & .expert__btn {
      padding: 9px 23px;
      margin: 16px 16px 0 0;
      font-size: 16px;
      line-height: 20px;
      color: #1A1B1C;
      border: 1px solid #9BA4B1;
      border-radius: 24px;
      background: #FFFFFF;

      @media(max-width: 768px) {
        display: inline-block;
        width: fit-content;
        padding: 12px;
        font-size: 13px;
      }
    }
  }
}

.expert__btn.btn-white {
  background: $g__body_background !important;
  color: $g__text_color_primary !important;
  border: 1px solid $g__outline_color !important;
}

.attention__list li:after,
.hidden__list li:after {
  background-image: url('/assets/images/blue-done-openbrand.svg') !important;
}

.ip-id_search__wrapper,
.ipid-search-header-with-result,
.ipid-search-header {
  background-color: $header__dark_background !important;
}

.ipid-search-header-with-result .text-title,
.ipid-search-header {
  color: $header__dark_text_color_primary !important;
}

.white-bg,
.ip-id-search-risks,
.circle::before,
.circle::after {
  background-color: $g__white_background !important;
}

.ip-id-search-risks.risk-orange.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-red.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-green.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-green.help-enabled .ip-id-search-risks-content .risks-notes.left > div > i {
  padding: 4px 0 !important;
  background: $g__body_background !important;
  color: $g__text_color_secondary !important;
  border: 1px solid $g__outline_color;
}

.ip-id-search-risks-submit .request-btn {
  background: $g__btn_primary_background !important;
  color: $g__btn_primary_color !important;
}

.portfolio-other, .filter-text-result {
  max-width: 1100px !important;
}

.portfolio-other {
  margin: 18px 0 0 !important;
}

.portfolio-other-wrapper {
  margin: auto;
  display: flex;
  position: sticky;
  max-width: 1100px;
}
