@import 'variables';

.organization-added__wrap {
  width: 100%;
  padding: 40px;
  background-color: $header__light_background;

  @media (max-width: 767px) {
    padding: 30px;
  }
}

.organization-added__img {
  display: block;
  margin: 0 auto 20px;
  fill: $g__success_color;
}

.organization-added__title {
  font-size: 25px;
  line-height: 32px;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.organization-added__desc {
  width: 65%;
  margin: 40px auto 30px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 20px;
  }
}

.btn {
  display: block;
  margin: 0 auto;
  @media (max-width: 767px) {
    width: 100%;
  }
}
