@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-regular-v1/roboto-regular.woff') format('woff'), url('/assets/fonts/roboto-regular-v1/roboto-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-regular-v1/roboto-italic.woff') format('woff'), url('/assets/fonts/roboto-regular-v1/roboto-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-bold-v1/roboto-bold.woff') format('woff'), url('/assets/fonts/roboto-bold-v1/roboto-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-light-v1/roboto-light.woff') format('woff'), url('/assets/fonts/roboto-light-v1/roboto-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/assets/fonts/roboto-condensed-regular-v1/roboto-condensed-regular.woff') format('woff'), url('/assets/fonts/roboto-condensed-regular-v1/roboto-condensed-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/assets/fonts/roboto-condensed-bold-v1/roboto-condensed-bold.woff') format('woff'), url('/assets/fonts/roboto-condensed-bold-v1/roboto-condensed-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/assets/fonts/roboto-condensed-light-v1/roboto-condensed-light.woff') format('woff'), url('/assets/fonts/roboto-condensed-light-v1/roboto-condensed-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}


