.add-file span .prompt__question {
  right: 10px;
  top: 10px;

  p{
    margin-bottom: 0;
  }
}

.add-file{
  display: flex;
  border: 1px solid #00AFEC;
  box-sizing: border-box;
  border-radius: 5px;
  flex-direction: column;
  width: 100%;
  padding: 18px 18px 18px 68px;
  position: relative;

  &:hover{
    border: 1px solid #929FAB;
  }


  &__label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #00AFEC;
    text-decoration-line: underline;
    margin-bottom: 5px;

    &:hover{
      border: none;
    }
  }

  input{
    position: absolute;
    opacity: 0;
    &:hover{
      border: none;
    }
  }

  &:after{
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100%;
    left: 18px;
    top: 23px;
    background-image: url("/assets/images/add-img.png");
  }

}

.add-file .add-file__question{
  font-size: 13px;
  line-height: 16px;
  color: #00AFEC;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;

  &:hover{
    border: 1px solid #00AFEC;
  }
}

.add-file-form__file p {
  margin-bottom: 0;
}
