.add-file-form{
  display: flex;
  flex-direction: column;
  gap: 15px;

  button{
    margin-left: auto;

    @media (max-width:500px){
      margin-left: 0;
    }
  }

  &__wrap{
    margin-bottom: 20px;
  }

  &__file{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E9ECF2;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 19px;
    font-size: 16px;
    line-height: 20px;
    color: #152438;
    margin-bottom: 10px;

    p{
      margin-bottom: 0;
    }

    span{
      position: relative;

      &::after{
        width: 18px;
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        background-size: 100%;
        height: 18px;
        background-image: url("/assets/images/delete.png");
        left: -15px;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
