.add-object{
  &__content{
    padding: 40px;
    position: relative;
  }

  &__btns-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__block{
    &:not(:last-of-type){
      margin-bottom: 23px;
    }
  }

  &__header{
    margin-bottom: 24px;
    font-size: 25px;
    line-height: 32px;
    color: #152438;
    font-weight: normal;

    &--mini{
      margin-bottom: 13px;
    }
  }

  &__btns-pay-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 22px;
  }

  &__btns-pay{
    padding: 14px 25px;
    background: #F2F4F8;
    border: 1px solid rgba(21, 36, 56, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #152438;
    width:48%;
    font-family: 'Roboto', sans-serif;

    &--blue{
      background: #00AFEC;
      box-shadow: 0px 2px 4px rgba(21, 36, 56, 0.1);
      border: 1px solid #00AFEC;
      color: #FFFFFF;
    }
  }


  &__thanks-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__thanks{
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #152438;
    margin-bottom: 33px;
  }

}

