

.chart{
  padding-top: 23px;
  padding-bottom: 66px;

  &__block-wrapper{
    height: 293px;
    overflow-y: hidden;
  }

  &__select-blue {
    border: none;
    background: none;
    color: #00AFEC;

    font-size: 25px;

  }

  &__block{
    width: 384px;
    background: rgba(70, 82, 98, 0.75);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 20px;
    position: relative;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 293px;
    overflow: hidden;

    &--main{
      position: relative;
      z-index: 1;

    }
  }

  &__name{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;

    &--main{
      margin-bottom: 14px;
    }
  }

  &__headers-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__btn-add-obj {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 10px 14px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #152438;
    border: none;
    height: fit-content;
    cursor: pointer;
  }


  &__status{
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    justify-content: center;
    display: flex;
    padding: 83px 0;
    padding-bottom: 98px;
  }

  &__wrapper{
    display: flex;
    justify-content: space-between;

    @media (max-width:720px) {
      flex-direction: column;
    }
  }

  &__header{
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 24px;
    font-weight: normal;
    position: relative;
    display: flex;

    &-blue{
      color: #00AFEC;
      border-bottom: 1px dashed #00AFEC;
      margin-left: 5px
    }
  }
}

.chart-date__numbers {
  position: relative;
  margin-bottom: 45px;

  &:before {
    content: "";
    position: absolute;
    bottom: -16px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    width: 111%;
    left: -18px;
  }
}

.chart-date{

  &__risk-rate{

    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF1037;
    border-radius: 5px;
    padding: 5px;
    height: fit-content;
    margin-left: 10px;
  }


  &__btn-add{
    width: fit-content;
    border: none;
    background: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #00AFEC;
    margin-bottom: 13px;
    cursor: pointer;
  }

  &__charts{
    height: 130px;
  }

  &__wrapper{
    margin-bottom: 17px;
  }

  &__row{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
  }

  &__big-count{
    font-size: 60px;
    line-height: 56px;
    color: #FFFFFF;
    margin-right: 12px;

    &--red{
      color: #FF889B;
    }

    &--bids{
      color: #929FAB
    }

  }

  &__big-count-img{
    width: 33px;
    height: 13px;
    //background-image: url("assets/images/icon-huge-arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__numbers{
    display: flex;
    align-items:center;
    position: relative;

    p{
      margin-bottom: 0;
    }


  }

  &__big-count-text{
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;


    &--bids{
      color: #929FAB
    }

    &--align{
      align-self:flex-end;
      width: 105px;
      margin-right: 16px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__addition{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 22px;
    align-self:flex-end;

    &--yellow{
      color: #FCD770;
    }

    &--green{
      color: #A7E889;
    }
  }
}

.row{
  &__color{
    width: 31%;
    display: flex;
    justify-content: flex-end;


    &--chart{
      height: 10px;
      width: 100%;
      background: #A7E889;


      &--red{
        background: #FF889B;
      }

      &--orange{
        background: #FFB36D;
      }

      &--yellow{
        background: #FCD770;
      }

      &--gray{
        background:#B6C4D0;}

      &--blue{
        background:#8CD5FE
      }

      &--purple{
        background: #CAB1FF;
      }

      &--lemon{
        background: #FFE8BB;
      }

      &--light-red{
        background: #FFBBBB;
      }

      &--light-green{
        background: #BBFFEB;
      }
    }
  }

  &__number{
    width: 15%;
    margin-bottom: 0;
    text-align: center;
    font-size: 13px;
    line-height: 18px;

    &--red{
      color: #FF889B;
    }

    &--orange{
      color: #FFB36D;
    }

    &--yellow{
      color: #FCD770;
    }

    &--gray{
      color:#B6C4D0;
    }

    &--green{
      color:#A7E889;
    }

    &--blue{
      color:#8CD5FE
    }

    &--purple{
      color: #CAB1FF;
    }

    &--lemon{
      color: #FFE8BB;
    }

    &--light-red{
      color: #FFBBBB;
    }

    &--light-green{
      color: #BBFFEB;;
    }
  }

  &__text{
    width: 55%;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
}
