.classes__list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.classes__item {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  min-width: 28px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  &--active {
    color: #FFFFFF;
    background: #FF1037;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
