.company-info {

  & + .heading-h2,
  & + .section__wrap {
    margin-top: 25px;

    @include breakpoint-lg {
      margin-top: 40px;
    }
  }

  &__wrap {
    @include breakpoint-md {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    @include radius(5px);
    @include size(174px, 130px);
    margin: 0 auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;

    @include breakpoint-md {
      margin: 0;
    }

    @include breakpoint-lg {
      @include size(174px, 130px);
    }
  }

  &__text {
    @include breakpoint-md {
      padding-left: 15px;
      width: calc(100% - 174px);
    }
    @include breakpoint-lg {
      padding-left: 23px;
    }
  }

  &__table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    td {
      @include rem(15);
      @include line-height(20, 15);
      padding: 7px 0;
    }

    td:first-child {
      color: $tertiary-text-color;
      padding-right: 11px;
    }
  }
}
