.control{
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;

  &__btn{
    background: rgba(235, 237, 242, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    width: 216px;
    padding: 20px;
    color: rgba(255,255,255,0.3);
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;

    font-family: 'Roboto', sans-serif;

    &:hover{
      opacity: 1;
    }

    &--active{
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0) 100%), #F2F4F8;
      border: 1px solid rgba(21, 36, 56, 0.15);
      color: #929FAB;
      border-bottom-color:#ebedf2;
    }


    &--white{
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
    }

    &--dark{
      font-size: 18px;
      line-height: 22px;
      color: #152438;
    }
  }

  &__count{
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 25px;
    line-height: 40px;

    &--white {
      color: white;
    }

    &--active {
      color: #152438;
    }



    &--fatal{
      color: #FF889B;
    }

    &--critical{
      color: #FFB36D;
    }

    &--possible{
      color: #FCD770;
    }

    &--recommendation{
      color: #A7E889;
    }
  }
}


.control__count {
  font-size: 40px;
  line-height: 40px;
}


.control__btn {
  font-size: 18px;
  line-height: 22px;
}
