.docs{
  display: flex;
  flex-direction: column;
  width: 100%;

  &__main-wrapper{

    h4{
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      font-family: 'Roboto', sans-serif;
      position: relative;

      @media (max-width: 500px) {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 28px;

        &::after{
          content: '';
          position: absolute;
          right: 0;
          width: 11px;
          height: 7px;
          top: 12px;
          background-size: 100%;
          background-repeat: no-repeat;
          background-image: url("/assets/images/gray-arrow-v.svg");
        }
      }
    }

    &--card{
      gap: 20px;

      .docs__blocks{
        gap: 20px;
      }

      .docs__block{
        max-width: 366px;
        width: 67.5%;
        min-width: 260px;
      }

      h4{
        margin-bottom: 20px;
      }
    }
  }

  &__main-wrapper--no-after h4::after{
    display: none;
  }

  &__main-wrapper:not(:last-of-type){
    margin-bottom: 40px;

    @media (max-width: 500px) {
      margin-bottom: 20px;
    }
  }

  &__icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img{
      width: 100%;
      position: relative;

      @media (max-width: 500px) {
        width: 40px;
        height: 40px;
      }
    }

  }



  &__blocks{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;

    @media (max-width:500px) {
      gap: 10px;
    }
  }

  &__block{
    background: #FFFFFF;
    border: 1px solid #E9ECF2;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    width: 384px;
    max-width: 366px;
    min-width: 260px;

    @media (max-width:500px) {
      padding: 4px 14px;
      max-width: 350px;
    }

    span{
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #152438;
      margin-bottom: 5px;

      @media (max-width:500px) {
        font-size: 15px;
        line-height: 20px;
      }
    }

    a{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #929FAB;
    }

  }

  &__text-wrapper{
    display: flex;
    flex-direction: column;
  }
}

.arr h4::after{
  transform: rotate(180deg);
}

.docs__icon .docs__icon--mini {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 5;
  right: -7px;
  top: -6px;
}

.docs .docs__icon-wrapper span{
  margin-bottom: 0;
}

.docs .docs__icon-prompt{
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 7px;
  position: absolute;
  right: -60px;
  top: -54px;
  display: none;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  z-index: 7;

  p{
    font-size: 13px;
    line-height: 15px;
    color: #152438;
    margin-bottom: 0;
  }

  a{
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #00AFEC;
    margin-bottom: 0;
  }

  &:hover{
    display: block;
  }
}

.docs__icon:hover .docs__icon-prompt{
  display: block;
}

.docs .docs__btn-wrapper{
  display: flex;
  justify-content: flex-end;

  @media (max-width:500px) {
    display: none;
  }

  a{
    border: 1px solid #00AFEC;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #00AFEC;
    padding: 12px 10px 12px 44px;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      background-image: url('/assets/icons/download.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      width: 24px;
      height: 24px;
      top:10px;
      left: 10px;
    }
  }
}
