.dropdown__wrap {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-right: 20px;
  min-width: 729px;

  @media (max-width: 991px) {
    margin-right: 0;
    width: 100%;
    min-width: auto;
  }
}

.dropdown {
  position: relative;
  max-width: 219px;
  width: 100%;
  height: 51px;
  margin-right: 5px;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
  border-radius: 5px;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &--calendar {
    width: 159px;
  }
}

.dropdown__button {
  position: relative;
  padding: 15px;
  width: 96%;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  color: #929FAB;
  text-align: left;
  background-color: transparent;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.dropdown__button-img-calendar {
  display: flex;
  align-items: center;

  & img {
    margin-right: 10px;
  }
}

.dropdown__button-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  transition: all 0.2s ease;

  &.rotate {
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.2s ease;
  }
}

.dropdown__button-text {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #929FAB;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--check {
    color: #152438;
  }
}

.dropdown__menu-wrap {
  position: absolute;
  top: 50px;
  width: 338px;
  padding-top: 20px;
  z-index: 5;
}

.dropdown__menu {
  min-width: 335px;
  padding: 10px 15px 15px;
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
  border-radius: 5px;
}

.dropdown__menu-title {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  color: #929FAB;
}

.dropdown__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  padding-left: 28px;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 3px;
  }
}

.dropdown__input--radio + .dropdown__label {
  &::before {
    border-radius: 50%;
  }
}

.dropdown__input:checked + .dropdown__label::before {
  background-color: transparent;
  background-image: url('../../assets/icons/icon-input-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
