.events-steps__state {
  flex-direction: row-reverse;
  justify-content: flex-end;

  @media (max-width: 1280px){
    flex-direction: column-reverse;
  }

}

.events-steps{
  display: flex;
  flex-direction: column;
  padding: 0;

  :last-of-type:before{
    width: 0;
    height: 0;
  }

  &__showMore-line{
    background: #E0E3EA;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 16px;

    &:after{
      position: absolute;
      content: '';
      width: 2px;
      background: #E0E3EA;
      height: 35px;
      top: 0;
      left: 28px;

      @media (max-width: 500px){
        left: 23px;
      }

    }
  }

  &__showMore-wrapper{
    display: flex;
    width: 100%;
    border: none;
    background: none;
    padding: 0 ;
    justify-content: center;
    position: relative;
  }

  &__showMore{
    background: #F7F8FB;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-size: 13px;
    line-height: 18px;
    color: #929FAB;
    font-family: 'Roboto', sans-serif;
    padding: 6px 15px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }

  &__btn-show{
    border: none;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    position: relative;


    @media (max-width: 500px){
      font-size: 16px;
      line-height: 20px;
    }

    //&:focus-within{
    //  width: 80px;
    //  margin-left: auto;
    //
    //  @media (max-width: 1280px){
    //    width: fit-content;
    //    margin-left: -50px;
    //  }
    //}

    &--open{
      width: 80px;
      margin-left: auto;
    }
  }

  &__state{
    display: flex;
    align-items: center;
    padding: 0 10px;

    p{
      margin-bottom: 0;
    }

    &--open{
      text-align: left;
      min-width: 500px;
      align-items: flex-start;

      p{
        &:first-of-type{
          margin-top:0;
        }
      }
    }
  }

  &__hidden{
    display: none;
    background: #F7F8FB;
    border: 1px solid rgba(21, 36, 56, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 42px 50px;
    font-size: 18px;
    line-height: 24px;
    color: #152438;
    width: 100%;
    right: 0;

    @media (max-width: 500px){
      padding: 15px;

      p{
        font-size: 16px;
        line-height: 20px;
      }
    }

    &--open{
      display: flex;
      position: relative;
      top: 27px;
      left: -1033px;
      margin: 26px 0;
      width: 1240px;
      flex-direction: column;
      text-align: left;

      @media (max-width: 1280px){
        top: 27px;
        left: -1033px;
        margin: 26px 0;
        width: 1140px;
      }
    }

    &--special{
      padding: 0;
    }

    h4{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 10px;
    }


    &--mini-block:not(:last-of-type){
      margin-bottom: 30px;
    }
  }

  &__hidden-btn-wrapper{
    display: flex;
    justify-content: flex-end;
  }

  &__hidden-text-wrapper{
    margin-bottom: 30px;

    &--special{
      padding: 42px 50px;

      @media (max-width: 500px){
        padding: 15px 10px;
      }
    }

    &--toHide{
      opacity: 0;
      width: 0;
      height: 0;
      padding: 0;
    }
  }

  &__info{
    display: flex;
    width: 1260px;
    justify-content: space-between;

    @media (max-width: 1280px){
      width: 100%;
      flex-direction: column;
      position: relative;
    }
  }

  &__link{
    text-decoration-line: underline;
    color: #00AFEC;
    margin-left: 5px;
    @media (max-width: 1280px){
      margin-left: 0;
    }


    &:hover{
      cursor: pointer;
    }

    &--none {
      display: none;
    }

  }

  &__user{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 0 10px;
    width: 365px;

    @media (max-width: 1280px){
      padding-right: 120px;
      width: 100%;
    }
  }

  &__rows-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;

    .events-steps__row:last-of-type {
      padding-bottom: 20px;
      &:before{
        position: absolute;
        content: '';
        width: 2px;
        background: #E0E3EA;
        height: 100%;
        top: 38px;
        left: 28px;

        @media (max-width: 500px){
          top: 28px;
          left: 23px;
        }
      }
    }
  }

  &__row{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
    align-items: flex-start;
    padding-bottom: 20px;
    position: relative;

    @media (max-width: 500px){
      font-size: 13px;
      line-height: 18px;
    }


    &:not(:last-of-type){
      padding-bottom: 20px;
    }

    &:before{
      position: absolute;
      content: '';
      width: 2px;
      background: #E0E3EA;
      height: 100%;
      top: 38px;
      left: 28px;

      @media (max-width: 500px){
        top: 28px;
        left: 23px;
      }
    }
  }

  &__state{
    color: #152438;
    align-items: flex-start;
    min-width: 500px;
    width: 80%;
    margin-top: 7px;

    @media (max-width: 1280px){
      padding-left: 67px;
      width: 100%;
    }

    @media (max-width: 950px){
      min-width: 350px;
      justify-content: space-between;
    }

    @media (max-width: 500px){
      padding-left: 58px;
      width: 355px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__name{
    color: #929FAB;
    margin-top: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

    @media (max-width: 500px){
      margin-top: 0;
      margin-bottom: 10px;
    }

    &--human{
      text-decoration-line: underline;
      color: #152438;
    }
  }

  &__date{
    color: #929FAB;
    font-size: 13px;
    padding: 5px 10px;
    text-align: right;
    white-space: nowrap;

    @media (max-width: 1280px){
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__img{
    width: 38px;
    height: 38px;
    min-width: 38px;
    background: #B4EDBB;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;

    @media (max-width: 500px) {
      width: 28px;
      height: 28px;
      min-width: 28px;
    }

  }
}

.events-steps__img img {
  width: 38px;
  height: 38px;
  min-width: 38px;
  border-radius: 50%;
  object-fit: cover;

  @media (max-width: 500px) {
    width: 28px;
    height: 28px;
    min-width: 28px;
  }
}

.events-steps__link:hover{
  text-decoration: none;
}

.events-steps__state--gray{
  color: #929FAB;
}

.events-steps__state--show{
  text-align: left;
  min-width: 500px;
  align-items: flex-start;

  @media (max-width: 1280px){
    min-width: 0;
  }

  p{
    &:first-of-type{
      margin-top:0;
    }
  }
}

.to-hide{
  display: none;
  border: none;
  background: none;
  font-family:'Roboto',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #00AFEC;
  margin-left: 5px;
  width: 70px;

  @media (max-width: 1280px){
    margin-left: 0;
  }

  &:hover{
    cursor: pointer;
    text-decoration-line:none;
  }

  &--display{
    display: block;
  }
}

.show{
  width: 80px;
  margin-left: auto;

  @media (max-width: 1280px) {
    width: fit-content;
    margin-left: -27px;
  }

  @media (max-width: 500px) {
    margin-left: -17px;
  }

  .events-steps__link{
    display: none;
  }

  +.to-hide{
    display: block;
  }

  .events-steps__hidden{
    display: flex;
    position: relative;
    top: 27px;
    left: -970px;
    margin: 26px 0;
    width: 93vw;
    flex-direction: column;
    text-align: left;
    min-width: 355px;
    max-width: 1240px;

    @media (max-width: 1280px){
      top: 5px;
      left: 0;
      margin: 0;
      width: 93vw;
    }

    @media (max-width: 500px){
      flex-direction: column;
      gap: 10px;
      left: -22px;
      width: 355px;
    }
  }
}
