.field {
  @include radius(5px);
  //@include rem(14);
  //@include line-height(21,18);
  font-size: 18px;
  line-height: 21px;
  outline: 0;
  color: rgba($secondary-text-color, 0.5);
  padding: 15px; /*Необходимо уточнение по мобильной версии*/
  width: 100%;
  height: 50px; /*Необходимо уточнение по мобильной версии*/
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  background-color: $white;

  @include breakpoint-md {
    @include rem(18);
    height: 70px;
    padding: 24px 20px 25px 20px;
  }

  &--md {
    @include breakpoint-md {
      height: 60px;
    }
  }

  &.error {
    border: 1px solid $error-color;
    //color: $highlighted-color-secondary !important;

    &--code {
      color: #FF1037 !important;
    }
  }

  &.success {
    padding-right: 45px;
  }

  &[disabled] {
    background-color: transparent;
  }

  @media (max-width: 500px) {
    padding: 24px;
    height: auto;
  }
}

.error_label {
  color: $error-color;
  font-size: 15px;
  line-height: 18px;
}

.errors {
  text-align: left;
  margin-bottom: 24px;

  .login_error {
    color: $error-color;
    font-size: 15px;
    line-height: 1.2;
  }
}
