.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 767px) {
    display: none;
  }
}

.filter__button {
  padding: 14px 19px;
  margin-right: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &--find {
    color: #FFFFFF;
    background: #00AFEC;
  }

  &--clear {
    color: #929FAB;
    border: 1px solid #929FAB;
    background: transparent;
    opacity: 0.3;
  }

  @media (max-width: 991px) {
    margin-top: 15px;
  }
}

//Форма поиска мобилка
.filter__search {
  display: none;

  @media (max-width: 767px) {
    display: block;
    width: 100%;
  }
}

.filter__search-input-wrap {
  position: relative;
  max-width: 235px;
  width: auto;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("/assets/icons/icon-search-2.svg");
    background-size: 20px 20px;
  }
}

.filter__search-input {
  display: block;
  width: 100%;
  padding: 11px 15px 11px 40px;
  line-height: 1;
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  border-radius: 30px;
  -webkit-appearance: none;

  &::placeholder {
    font-size: 13px;
    line-height: 1;
    color: #152438;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}
