.form-section {
  padding-bottom: 30px;
  padding-top: 30px;
  min-width: 375px;

  @include breakpoint-md {
    padding-bottom: 50px;
    padding-top: 80px;
  }

  &__account {
    @extend .text-center;
    margin-top: 30px;
    font-size: 18px;
    line-height: 24px;

    &--check-in {
      margin-top: 30px;
    }
  }
}
