.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--fields {
      @include breakpoint-md {
        display: flex;
        margin-left: -5px;
        margin-right: -5px;
      }
    }

    & + .form__footer {
      margin-top: 20px;
    }
  }

  &__col {

    @include breakpoint-up-to-md {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    @include breakpoint-md {
      padding-right: 5px;
      padding-left: 5px;
    }

    &--2-3-md {
      @include breakpoint-md {
        width: 65%;
      }
    }

    &--1-3-md {
      @include breakpoint-md {
        width: 35%;
      }

      .btn {
        width: 100%;
        height: 100%;
      }
    }

    &--1-2-md {
      @include breakpoint-md {
        width: 50%;
      }
    }
  }


  &__footer {
    //margin-top: 20px;
  }

  &__input {

    &[type='number'] {
      &:focus {
        outline-offset: 0;
      }
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &--linked {
      padding-right: 28.8%;
    }

    &-wrap {
      position: relative;
      height: 100%;

      & .intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container {
        left: 12px;
      }

      & .intl-tel-input {
        width: 100%;
      }

      & .intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text] {
        padding-left: 62px;
      }
    }

    &-label {
      @include rem(14);
      @include line-height(21, 18);
      color: rgba($secondary-text-color, 0.5);
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      left: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;

      @media (max-width:500px){
        transform: none;
        left: 20px;
      }

      a {
        display: none;
      }

      @include breakpoint-md {
        @include rem(18);
      }
    }

    &-link {
      position: absolute;
      right: 19px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      line-height: 22px;

      @media(max-width: 575px) {
        font-size: 0.875rem;
        line-height: 1.1666666667;
      }
     }

    &:focus, &:not(:focus):valid, &:-webkit-autofill, &:not(:empty), &[type=tel]:not(:focus):invalid,&[type=tel]:disabled {
      padding-bottom: 8px;
      //color:$tertiary-text-color;
      color: #162941;

      &::placeholder {
        font-size: 0;
      }

      & ~ .form__input-label {
        @include rem(9);
        @include line-height(15, 13);
        left: 10px;
        top: 5px;
        transform: none;
        pointer-events: auto;

        a {
          display: inline-block;
        }

        @include breakpoint-md {
          @include rem(13);
          top: 15px;
          left: 21px;
        }
        @media (max-width: 768px) {
          left: 15px;
        }

      }
    }
  }

  &__subtitle {
    @extend .text-gray;

    & + .form__footer {
      margin-top: 16px;
    }

    @media (max-width:500px){
      margin-bottom: 20px;
    }

    &--mobile{
      margin-bottom: 30px;
      @media (max-width:500px){
        margin-bottom: 40px;
      }
    }
  }

  &__lisence-info {
    @extend .text-gray;
    @extend .text-center;
    margin-top: 10px;
  }

  &__cards {

    @include breakpoint-lg {
      //border: 1px solid rgba($black, 0.15);
      box-sizing: border-box;
      box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
      display: flex;
    }
  }

  &__card {
    background-color: $white;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba($black, 0.15);
    border-bottom: 1px solid rgba($black, 0.15);

    &:first-child {
      border-radius: 5px 0 0 5px;
      border-left: 1px solid rgba($black, 0.15);
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
      border-right: 1px solid rgba($black, 0.15);
    }

    @include breakpoint-up-to-lg {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @include breakpoint-lg {
      padding-bottom: 20px;
      padding-top: 20px;
      width: 50%;
      min-height: 140px;
    }

    &-input {
      height: 50px;
      @include rem(16);
      @include line-height(26, 18);
      padding: 15px;
      outline: none;
      border: none;
      width: 100%;

      &::placeholder {
        text-align: center;
      }

      @include breakpoint-lg {
        @include rem(18);
        color: rgba($text-color, 0.5);
        padding: 24px 20px;
        height: 100%;
        border-right: 1px solid #EBEDF2;
      }

      &-label {
        @include rem(14);
        @include line-height(26, 18);
        color: rgba($text-color, 0.5);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 100%;
        text-align: center;
        pointer-events: none;

        @include breakpoint-md {
          @include rem(18);
        }
      }

      &:focus, &:not(:focus):valid {
        padding-bottom: 15px;
        color: $tertiary-text-color;

        &::placeholder {
          font-size: 0;
        }

        & ~ .form__card-input-label {
          @include rem(9);
          @include line-height(15, 13);
          left: 10px;
          top: 5px;
          transform: none;
          pointer-events: auto;

          a {
            display: inline-block;
          }

          @include breakpoint-md {
            @include rem(13);
            top: 0;
            left: 0;
            transform: none;
            //& ~ .hide-label-text {
              display: none;
            //}
          }
        }
      }
    }
  }

  &__file {
    height: 100%;

    //&:not(.downloaded) {
    //  &::before {
    //    content: '';
    //    display: block;
    //    @include size(42px, 42px);
    //    //background-image: url("assets/images/download-icon.svg");
    //    //background-repeat: no-repeat;
    //    //margin: 0 auto 6px auto;
    //
    //  }
    //}
    //
    //&.downloaded {
    //  display: flex;
    //  align-items: center;
    //  justify-content: center;
    //}


    &-labels {
      @extend .text-center;
      color: $tertiary-text-color;
      @include rem(16);
      margin-top: 10px;

      label {
        display: inline-block;
        cursor: pointer;
      }
    }

    &-name {
      @extend .text-center;
      display: block;
    }

    &-label {
      @include rem(16);
      @include line-height(21, 18);
      @extend .text-center;
      cursor: pointer;
      display: block;
      color: $links-color;

      span {
        @include rem(13);
        @include line-height(15, 13);
        color: $tertiary-text-color;
        display: block;
        margin-top: 6px;
      }

      @include breakpoint-lg {
        @include rem(18);
      }

      &.hide-xs {
        display: none;
      }
    }

    &-input {
      @extend .visual-hidden;
    }

    &-download {
      color: $highlighted-color;
    }

    &-delete {
      color: $highlighted-color-secondary;
    }
  }

  &__dropdown {
    cursor: pointer;
    position: absolute;
    width: 100%;
    z-index: 99;
  }

  &__checkbox {
    @extend .visual-hidden;

    & + .form__label-checkbox {

      &::before {
        @include radius(5px);
        @include size(24px, 24px);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-color: $white;
        border: 1px solid rgba($black, 0.15);
      }
    }

    &:checked + .form__label-checkbox {
      &::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 7px;
        background-image: url("../../assets/images/icon-checked.svg");
        background-repeat: no-repeat;
        @include size(15px, 11px);
      }
    }
  }

  &__label-checkbox {
    color: #152438;
    @include rem(15);
    @include line-height(20, 15);
    padding: 5px 0 5px 33px;
    position: relative;

    .highlighted-remark {
      margin-left: 9px;
    }
  }

  &__text-remark {
    @extend .text-gray;
    @extend .text-sm;

    & + .form__group {
      margin-top: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .loading {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .success-remark {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px;

    @include breakpoint-lg {
      right: 21px;
      bottom: 15px;
      top: auto;
      margin-top: 0;
    }

  }

  & + .heading-h2 {
    margin-top: 23px;
  }

  &--cards {
    & + .heading-h2 {
      @include breakpoint-lg {
        margin-top: 40px;
      }
    }
  }


  & + .btn-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
}

.form__input.field.ng_tel_input:focus,
.form__input.field.ng_tel_input:not(:focus):valid,
.form__input.field.ng_tel_input:-webkit-autofill,
.form__input.field.ng_tel_input:not(:empty) {
  padding: 0 0 0 62px;
}
