.header-court{
  display: flex;
  flex-direction: column;
  &__card-header-main{
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    margin-bottom: 20px;

    @media (max-width: 850px) {
      flex-grow: 1;
      padding: 10px;
      display: flex;
      font-size: 16px;
      line-height: 20px;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      &--court{
        background: #C9E0FF;
      }

      &--finished{
        background: #E6E6E6;
      }

      &--claim{
        background: #FFEA9F;
      }

      &--penalty{
        background: #DBF3A8;
      }

      &--request{
        background: #EDEFF4;
      }

    }

  }

  @media (max-width: 850px) {
    padding: 20px;
  }


  &__card-extra{
    font-size: 13px;
    line-height: 18px;
    color: #929FAB;
    display: flex;
    flex-direction: column;

    @media (max-width: 850px) {
      display: none;
    }
  }

  &__card-subtitle{
    display: flex;
    width: 100%;
    position: relative;

    @media (max-width: 850px){
      align-items: center;
      width: auto;
      flex-grow: 1;
    }

    p{
      font-size: 16px;
      line-height: 24px;
      color: #152438;
      position: relative;
    }

    //span{
    //  width: 20px;
    //  height: 20px;
    //  display: flex;
    //  align-items: center;
    //  justify-content: center;
    //  color: #00AFEC;
    //  font-size: 13px;
    //  line-height: 16px;
    //  border: 1px solid #D9D9D9;
    //  box-sizing: border-box;
    //  border-radius: 50%;
    //  margin-left: 10px;
    //}
  }

  &__card-mobile-hidden{
    @media (max-width: 850px){
      display: none;
    }
  }

  &__card-txt{
    color: #929FAB;
    font-size: 13px;
    line-height: 1.38;
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__card-bottom{
    margin-bottom: 7px;
    position: relative;
    padding-right: 40px;

    .prompt__question{
      top:0;
      right: 10px
    }
    @media (max-width: 850px) {
      width: fit-content;
      font-size: 18px;
      line-height: 22px;
      padding-right: 0;
    }

    @media (max-width: 500px) {
      font-size: 13px;
      line-height: 18px;
    }


  }

  &__card{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 22.6%;
    margin-bottom: 26px;
    min-height: 160px;
    display: flex;
    flex-direction: column;


    @media (max-width: 850px) {
      width: 100%;
      background: none;
      display: flex;
      flex-direction: row-reverse;
      box-shadow: none;
      min-height: 0;
      padding: 20px 0;
      margin-bottom: 0;
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
      border-radius: 0%;

    }


    &--court{
      background: #C9E0FF;
      flex-grow: 1;
    }

    &--finished{
      flex-grow: 1;
      background: #E6E6E6;
    }

    &--claim{
      background: #FFEA9F;
      flex-grow: 1;
    }

    &--penalty{
      background: #DBF3A8;
      flex-grow: 1;
    }

    &--request{
      background: #EDEFF4;
      flex-grow: 1;
    }

    &--mobile{
      @media (max-width: 850px) {
        flex-direction: column;
        background: none;
      }
    }
  }

  &__block{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: none;

    &--row{
      flex-direction: row;
      gap: 40px;

      @media (max-width: 850px){
        flex-direction: column;
        width: 100%;
        div:nth-of-type(1) { order:1; }
        div:nth-of-type(2) { order: 3; }
        div:nth-of-type(3) { order: 2; }
        gap: 0;
      }
    }

    &--head{

      p{
        font-size: 18px;
        line-height: 24px;
        color: rgba(21, 36, 56, 0.5);
        margin-bottom: 40px;
        @media (max-width: 850px){
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 10px;
        }
      }

      h1{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 44px;
        color: #152438;
        margin-bottom: 15px;

        @media (max-width: 850px){
          font-size: 24px;
          line-height: 32px;
        }
      }

    }
  }
}
