.section-position--gradient {
  background: linear-gradient(85.85deg, #4C5767 0%, #536072 100%),#536072;
  flex-direction: column;
}

.section-position--gradient2 {
  background: linear-gradient(85.85deg, #4C5767 0%, #536072 100%), #536072;
  margin-bottom: -1px;
}

