.info-plate {
  @extend .text-center;
  @include radius(5px);
  //border: 1px solid rgba(0, 0, 0, 0.15);
  //box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  //background-color: $white;
  padding: 30px;

  &+& {
    margin-top: 30px;
  }

  @include breakpoint-md {
    padding: 57px 30px 53px 30px;
  }

  &__img {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;

    @include breakpoint-md {
      margin-bottom: 30px;
    }
    img {
      vertical-align: middle;
      max-height: 100%;
    }
  }

  &__text {
    @include rem(16);
    @include line-height(26,18);

    &:last-child {
      margin-bottom: 0;
    }

    &+.bordered-blue {
      margin-top: 25px;
    }

    &+.btn {
      margin-top: 33px;

      @media (max-width: 768px){
        margin-top: 20px;
        font-size: 18px;
        line-height: 24px;
        text-transform: none;
        width: 100%;
        padding: 13px 20px;
      }
    }

    @include breakpoint-md {
      @include rem(18);
    }

  }

  .bordered-blue {
    @include rem(16);
    @include line-height(26,18);

    @include breakpoint-md {
      @include rem(18);
    }
  }

  @media (max-width: 768px){
    background: #F7F8FB;
    margin: 5px;
    padding: 17px;
  }

}
