.info-card {
  @include radius(5px);
  padding: 16px 20px 22px 18px;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: $white;

  &__top {
    margin-bottom: 10px;
  }

  &__text {
    @include rem(13);
    @include line-height(18, 13);
    color: #79818B;
    margin-bottom: 10px;
  }

  &__price {
    @include rem(20);
    @include line-height(26, 20);
    @extend .bold;
  }
}
