fieldset{
  border: none;
  padding: 0;
}

.input-checkbox {
  background: #FFFFFF;
  width: 100%;
  margin-bottom: 10px;
  min-height: 50px;

  input{
    opacity: 0;
    position: absolute;

    &:checked ~.input-checkbox__label::after{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      z-index: 2;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url("/assets/images/icon-circle-check.svg");
      right: 10px;
      top: 12px;
    }

    &:checked ~.input-checkbox__label{
      border: 1px solid #72CA49;
    }
  }

  &__label{
    font-size: 16px;
    line-height: 19px;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 15px 35px 15px 20px;
    background: #FFFFFF;
    width: 100%;
    position: relative;
    display: flex;

    &:hover{
      border: 1px solid #72CA49;
      cursor: pointer;
    }
  }

  &__input-text-wrapper{
    display: none;
  }
}

.input-checkbox__wrapper:focus-within .input-checkbox__input-text-wrapper{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
