.textarea-class{
  resize: none;
  background: none;
  height: fit-content;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.input-checkbox {
  background: #FFFFFF;
  width: 100%;
  margin-bottom: 10px;
  min-height: 50px;

  input{
    opacity: 0;
    position: absolute;

    &:checked ~.input-checkbox__label::after{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      z-index: 2;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url("/assets/images/icon-circle-check.svg");
      right: 10px;
      top: 12px;
    }

    &:checked ~.input-checkbox__label{
      border: 1px solid #72CA49;
    }
  }

  &__label{
    font-size: 16px;
    line-height: 19px;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 15px 20px;
    background: #FFFFFF;
    width: 100%;
    position: relative;
    display: flex;

    @media (max-width:500px) {
      padding: 15px;
    }

    &:hover{
      border: 1px solid #72CA49;
      cursor: pointer;
    }
  }
}

.input-checkbox__checked{
  border: 1px solid #72CA49;
}

.input-text {
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;

  input placeholder{
    font-size: 16px;
    line-height: 19px;
    color: #929FAB;
    font-family: 'Roboto', sans-serif;
  }

  input{
    width: 100%;
    display: flex;
    min-height: 50px;
    padding: 16px 20px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    color: #162941;
    border-radius: 5px;
  }
}

.input-textarea{
  textarea{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    display: flex;
    width: 100%;

    placeholder{
      color: #162941;
      opacity: 0.4;
    }
  }
}
