.modal-universal{
  &__close{
    width: 46px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 46px;
    background-image: url('/assets/images/x.svg');
    right: 0;
    top: 0;
    cursor: pointer;
  }

  &__main-wrapper{
    background-color: #f7f7f7;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 37px 75px;
    max-width: 800px;
    position: relative;
  }

  &__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 850px;
    height: auto;
    max-height: 85%;
    overflow-y: auto;
    z-index: 1001;
  }

  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

}
