.modal {
  display: flex;
  align-items: center;
  height: 100%;

  &--order {
    .modal__container {
      width: 100%;
      padding: 0 15px;
      max-width: 845px;
      margin: 0 auto;
    }
  }

  &__top {
    position: relative;
    padding-right: 35px;
    //margin-bottom: 37px;
  }


  &__close {
    top: 10px;
    right: 0;
    position: absolute;
    cursor: pointer;
    display: block;
    @include size(25px, 25px);
    //background-image: url("assets/images/icon-close.svg");
  }

  &__title {
    @include rem(25);
    @include line-height(32, 25);
    color: $white;
    font-weight: 400;
  }
}

.modal-wrapper {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba($black, 0.7);
  z-index: 99999;
}
