.monitoring-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 1000;
}

.monitoring-modal__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.monitoring-modal__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 960px;
  width: 100%;
  height: auto;
  max-height: 85%;
  background: $white;
  box-shadow: 0px 10px 30px rgba(47, 34, 87, 0.2);
  border-radius: 10px;
  overflow-y: auto;
  z-index: 1001;

  &--height{
    max-height: 100%;
  }
}

.monitoring-modal__wrap::-webkit-scrollbar { width: 0; }
.monitoring-modal__wrap { -ms-overflow-style: none; }
.monitoring-modal__wrap { overflow: -moz-scrollbars-none; }

.monitoring-modal__header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(70.83deg, #E8EEF5 0%, #E9EFF6 21.45%, #edf1f7 100%);
  border-radius: 5px 5px 0 0;
}

.monitoring-modal__header-img {
  width: 80px;
  height: 54px;
  margin-right: 18px;
  border-radius: 5px;
}

.monitoring-modal__header-info {
  font-size: 18px;
  line-height: 30px;
  color: $text-color;
}

.monitoring-modal__info {
  padding: 45px 40.5px;
  box-sizing: border-box;
}

.monitoring-modal__title {
  font-family: 'Roboto Condensed';
  margin: 0;
  font-size: 48px;
  line-height: 60px;
  color: $secondary-text-color;
}

.monitoring-modal__desc {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
  color: $secondary-text-color;
}

.monitoring-modal__table-wrap {
  margin-top: 45px;
}

.monitoring-modal__table-title {
  font-family: 'Roboto Condensed';
  margin: 0;
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 45px;
  color: $secondary-text-color;
}

.monitoring-modal__table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  & tr {
    border-bottom: 1px solid #EAEAEA;
  }

  & th {
    padding: 11px 15px;
    font-size: 13px;
    line-height: 18px;
    color: #808895;
    font-weight: 400;
    background: #F7F7F7;

    &:first-child {
      width: 13.5%;
    }

    &:nth-child(2) {
      width: 18%;
    }
  }

  & td {
    padding: 12px 15px 9px;
    font-size: 13px;
    line-height: 18px;
    color: $text-color;
  }
}

.monitoring-modal__table-risk  {
  display: flex;
  align-items: center;
}

.monitoring-modal__table-toDo{
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  padding: 5px 29px 5px 10px;
  width: 99px;
  max-width: 99px;
  display: flex;
  position: relative;

  &:after{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(/assets/icons/arrow-blue-right.svg);
    width: 7px;
    height: 13px;
    right: 6px;
    top: 9px;
  }
}

.monitoring-modal__table-risk__level {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: #FF1037;
  border-radius: 50%;

  &--fatal {
    background: #FF1037;
  }

  &--critical {
    background: #FF8310;
  }

  &--possible {
    background: #FCD770;
  }
}

.monitoring-modal__footer {
  padding: 15px 40.5px 40px;
  background: #FFF3F5;
  border-radius: 0px 0px 10px 10px;
}

.monitoring-modal__footer-events {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FF1037;
}

.monitoring-modal__footer-object {
  margin: 0 0 34px;
  font-size: 18px;
  line-height: 24px;
  color: $text-color;
}

.monitoring-modal__btn {
  font-family: $primary-font-family;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: $white;
  background: #72CA49;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}



.overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #3d5779;
  opacity: 0.4;
  z-index: 50;
}
