.pay-modal__wrap--payment {
  min-height: 683px;

  .pay-modal__content {
    border-bottom: none;
  }
}

.pay-modal__content {
  padding: 40px 40px 36px;
  border-bottom: 1px solid #E4E4E4;
}

.pay-modal__btn-prev {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 10px;
  font-family: $primary-font-family;
  font-weight: 700;
  font-size: 11px;
  line-height: 24px;
  text-transform: uppercase;
  color: #152438;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  &::before {
    content: "";
    width: 14px;
    height: 8px;
    margin-right: 5px;
    //background-image: url("./assets/images/icon-arrow-back.svg");
    background-size: 14px 8px;
  }
}

.pay-modal__block {
  margin-top: 23px;

  & p {
    font-size: 18px;
    line-height: 24px;
  }
}

.pay-modal__title {
  margin: 0;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
}

.pay-modal__caption {
  margin: 0 0 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #838F99;
}

p.pay-modal__price {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}

.pay-modal__list {
  counter-reset: item;
}

.pay-modal__item {
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 24px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: counter(item) ".";
    counter-increment: item;
    margin-right: 10px;
  }
}

.pay-modal__content-desc {
  width: 72%;
  margin-top: 23px;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 24px;
}

.pay-modal__btn {
  font-family: $primary-font-family;
  margin-top: 30px;
  margin-bottom: 4px;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #00AFEC;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.pay-modal__success {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  background: #72CA49;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 50%;
}

.pay-modal__label {
  position: absolute;
  left: 20px;
  font-size: 13px;
  line-height: 15px;
  color: #929FAB;
}

.pay-modal__input-wrap {
  position: relative;
  padding: 14px 19px 13px;
  margin-bottom: 10px;
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.pay-modal__input {
  padding: 0;
  margin: 20px 0 0;
  font-family: $primary-font-family;
  font-size: 18px;
  line-height: 21px;
  color: #162941;
  border: none;
}

.pay-modal__tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 22px;
}

.pay-modal__tab {
  display: block;
  width: 48%;
  max-width: 420px;
  font-family: $primary-font-family;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 25px;
  background: #F2F4F8;
  border: 1px solid rgba(21, 36, 56, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  &--checked {
    color: #FFFFFF;
    background: #00AFEC;
    box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
    border: none;
  }
}
