.prompt{

  &__question{
    color: #00AFEC;
    width: 20px;
    height: 20px;
    right: -30px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 13px;
    line-height: 16px;

    &:hover{
      border: 1px solid #00AFEC;
      .prompt__hidden {
        display: flex;
      }

    }
  }

  &__hidden{
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    position: absolute;
    top: -42px;
    right: -12px;
    z-index: 12;
    display: none;

    p {
      font-size: 13px;
      line-height: 15px;
      color: #152438;
    }
  }
}

//.prompt__question:hover .prompt__hidden{
//  display: flex;
//}

