.screenshots {
  img {
    @include radius(5px);
    vertical-align: middle;
    max-height: 100%;
    //border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  }
}
