@keyframes show{
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.search__select-btn:focus-within .search__select-btn-span{
  transform: rotate(180deg);
  //background-image: url('assets/images/icon-arr-down-active.svg');
}

.search {
  display: flex;
  justify-content: space-between;
  position: relative;
  animation: show .5s 1;

  &__line{
    margin: 15px 0;
    width: 100%;
    height: 1px;
    position: relative;

    &::before{
      content: '';
      width: 91%;
      z-index: 300;
      left: 10px;
      height: 1px;
      background: #EBEDF2;
      position: absolute;
    }

  }


  &::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('../../assets/images/icon-search-blue.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    left: 17px;
    top: 15px;
    z-index: 30;
  }

  &__select-btn{
    font-size: 15px;
    line-height: 18px;
    color: #152438;
    border: none;
    background: #F4F6FA;
    cursor: pointer;
    position: relative;
    padding-right: 23px;
    width: 54px;

    &--bold{
      font-weight: bold;
    }


    &--dis{
      color:#929FAB;
    }

    &:hover, &:focus-within{
      opacity: 1;
    }
  }

  &__select-btn-span{
    content: "";
    width: 10px;
    height: 6px;
    position: absolute;
    right: 4px;
    top: 6px;
    //background-image: url('assets/images/icon-arr-down-active.svg');
    background-repeat: no-repeat;
    background-size: 10px 6px;
    background-position: center;

    &--dis{
      //background-image: url('assets/images/icon-arr-down.svg');
    }
  }

  &__hidden-options-wrapper{
    display: none;
    width: 280px;
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    left: -325%;
    top: 35px;
    z-index: 1000;
  }

  &__options-wrapper{
    max-height: 168px;
    overflow-y: auto;
    margin-bottom: 10px;
    text-align: left;
  }

  &__option{
    font-size: 15px;
    line-height: 18px;
    color: #152438;
    margin-bottom: 10px;

    &--add{
      margin-left: 10px;

      &:last-of-type{
        margin-bottom: 15px;
      }

      &:first-of-type{
        margin-top: 15px;
      }
    }
  }

  &__option-input{
    opacity: 0;
    position: absolute;
  }

  &__option-label{
    position: relative;
    padding-left: 30px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #152438;
    display: flex;

    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: #FFFFFF;
      border: 1px solid rgba(146, 159, 171, 0.4);
      box-sizing: border-box;
      border-radius: 3px;
      left: 0;
    }

  }

  &__btns-wrapper{
    text-align: end;
  }

  &__btn-cancel{
    padding: 10px 14px;
    border: 1px solid #00AFEC;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: uppercase;
    color: #00AFEC;
    background-color: white;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    margin-right: 15px;
    cursor: pointer;
  }

  &__btn-submit{
    border: none;
    padding: 10px 14px;
    background: #00AFEC;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
  }

  &__input{
    flex-grow: 1;
    margin-right: 31px;
    padding: 15px 15px 15px 54px;
    font-size: 15px;
    line-height: 18px;
    background: #F4F6FA;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;

    &::placeholder{
      color: #929FAB;
    }
  }

  &__wrapper{
    display: flex;
    align-items: center;
  }

  &__btn-block{
    padding: 14px 7px;
    background: #F4F6FA;
    box-shadow: 0px 2px 4px rgba(21, 36, 56, 0.1);
    margin: 0;
    color: #929FAB;
    font-size: 15px;
    line-height: 18px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;

    &:not(:last-child){
      margin-right: 5px;
    }

  }

  &__select{
    color: #929FAB;
    font-size: 15px;
    line-height: 18px;
    border: none;
    background: #F4F6FA;
    width: 53px;
    position: relative;
  }
}

.search__select:focus-within .search__hidden-options-wrapper{
  display: block;
}

.search__option-input:checked + .search__option-label::after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #00AFEC;
  box-sizing: border-box;
  border-radius: 3px;
  left: 0;
  top:0;
  background-image: url('../../assets/images/icon-done.svg');
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: center;
}


.search__option-label--special{
  font-weight: bold;
}




