.section {
  padding-top: 30px;
  padding-bottom: 30px;

  @include breakpoint-lg {
    padding-top: 40px;
    padding-bottom: 40px;

  }

  &__wrap {
    margin-bottom: 15px;

    @include breakpoint-md {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 23px;

      .heading-h2 {
        margin-bottom: 0;
      }
    }
  }
}
