.service-card {
  @include radius(10px);
  @extend .text-center;
  width: 100%;
  height: 100%;
  color: $request_modal__item_text_color;
  display: inline-block;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  padding: 20px 15px;

  &:hover {
    background-color: $request_modal__item_hovered_background;
    color: $request_modal__item_hovered_color;

    .service-card__icon {
      svg {
        fill: $request_modal__item_hovered_color;

        path {
          fill: $request_modal__item_hovered_color;
        }
      }
    }

    .service-card__top-text {
      span {
        color: $request_modal__item_hovered_color;
      }
    }
  }

  @include breakpoint-md {
    padding: 30px 19px 25px 19px;
  }

  &__title {
    @extend .bold;
    @include rem(18);
    @include line-height(30, 18);
    margin-bottom: 8px;
  }

  p {
    @include rem(15);
    @include line-height(18, 15);
  }

  &__icon {
    @include size(42px, 42px);
    margin-bottom: 9px;
    display: inline-block;

    svg {
      max-width: 100%;
      max-height: 100%;
      fill: $request_modal__item_icon_color;
      display: inline-block;
      vertical-align: middle;

      path {
        fill: $request_modal__item_icon_color;
      }
    }
  }

  &__top-text {
    @include size(42px, 42px);
    margin: 0 auto 9px auto;
    display: flex;
    align-items: center;

    span {
      @include rem(24);
      @include line-height(28, 24);
      @extend .light;
      color: $request_modal__item_text_color;
    }
  }
}
