.service-cards {
  @include breakpoint-md {
    display: flex;
    margin-right: -8px;
    margin-left: -8px;
  }

  .service-cards__element {
    @include breakpoint-up-to-md {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    @include breakpoint-md {
      padding-right: 8px;
      padding-left: 8px;
      width: 50%;
    }

    @include breakpoint-lg {
      width: 33.3333%;
    }
  }
}
