@import "variables";

.steps {
  display: flex;
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
  }


  &__element {
    position: relative;

    @media (max-width: 768px) {
      display: none;
    }

    &--line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @media (max-width: 768px) {
        display: none;
      }

      &::after {
        content: '';
        flex-grow: 1;
        height: 1px;
        background-color: $g__outline_color;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    @include breakpoint-lg {
      width: 20%;
      padding-right: 8px;
      padding-left: 8px;
    }

    &--active {
      display: flex !important;

      .steps__element-text {
        color: $g__text_color_primary;

        & svg {
          position: absolute;
          left: 5px;
          top: 6px;
          stroke: $g__mark_icon_color;
        }

        &::before {
          background-color: $g__mark_background;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("../../assets/images/icon-check-white-sm.svg");
        }
      }
    }

    &--finished {
      .steps__element-text {
        color: $g__text_color_primary;

        &::before {
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("../../assets/images/icon-check-black-sm.svg");

        }
      }
    }

    &-text {
      font-size: 16px;
      line-height: 1;

      @include breakpoint-md {
        @include rem(12);
        @include line-height(14, 12);
      }

      color: $g__text_color_secondary;
      position: relative;
      display: inline-block;
      padding: 3px 14px 3px 28px;

      &::before {
        content: '';
        position: absolute;
        @include size(18px, 18px);
        background-color: $white;
        border: 1px solid rgba($black, 0.15);
        left: 0;
        top: 0;
        border-radius: 50%;
      }

      //&::after {
      //	content: '';
      //	position: absolute;
      //}
    }
  }
}
