.subtitle {
  @include rem(15);
  @include line-height(20, 15);

  & + .heading-h2 {
    margin-top: 25px;

    @include breakpoint-md {
      margin-top: 35px;
    }
  }

  & + .company-info {
    margin-top: 20px;

    @include breakpoint-lg {
      margin-top: 25px;
    }
  }
}
