.success-remark {
  display: inline-block;
  border-radius: 50%;
  @include size(24px, 24px);
  background-color: #72CA49;
  background-image: url("../../assets/images/icon-check-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}
