.tabs {
  &__list {
    display: flex;
    justify-content: space-between;

    &::-webkit-scrollbar {
      display: none;
    }

    @include breakpoint-up-to-md {
      white-space: nowrap;
      overflow: auto;

    }

    &--half-cols {
      @include breakpoint-md {
        margin-right: -20px;
        margin-left: -20px;
      }

      .tabs__item {
        @include breakpoint-md {
          width: 50%;
          padding-right: 20px;
          padding-left: 20px;
        }
      }
    }
  }

  &__item {
    text-align: center;

    @include breakpoint-up-to-md {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &-link {
      @include rem(13);
      @include line-height(18, 13);
      @extend .uppercase;
      color: $text-color;
      flex-grow: 1;
      width: 100%;
      display: inline-block;

      @include breakpoint-md {
        @include radius(5px);
        background-color: #F2F4F8;
        border: 1px solid rgba(21, 36, 56, 0.1);
      }

      //&.active {
      //	@include breakpoint-md {
      //		box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
      //		border: none;
      //		background-color: $highlighted-color;
      //		color: $white;
      //	}
      //}

      @include breakpoint-md {
        padding: 15px 25px;
      }

      &.is-active {
        border-bottom: 2px solid $request-pay-tab-background;
        @include breakpoint-md {
          color: $request-pay-tab-color;
          background-color: $request-pay-tab-background;
        }
      }
    }
  }

  &__content {
    //display: none;

    &.is-active {
      display: block;
    }

    .screenshots {
      margin-top: 30px;
      @include breakpoint-md {
        margin-top: 40px;
      }
    }
  }

  &__remark {
    @include rem(12);
    @include line-height(20, 12);
    @extend .text-right;
    @extend .text-gray;
    margin-bottom: 4px;
  }

  &__body {
    margin-top: 20px;
  }
}
