.tariff {
  display: flex;
  padding: 0;

  @media (max-width: 767px){
    flex-direction: column;
  }

  &__big-price{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #152438;
    margin-right: 15px;
    margin-bottom: 0;

    &--old{
      text-decoration-line: line-through;
    }

    &--sale{
      color: #FF1037;
    }
  }

  &__card-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 387px;

    &:not(:last-of-type){
      margin-right: auto;

      @media (max-width: 767px){
        margin-bottom: 30px;
      }
    }

    @media (max-width: 767px){
      margin: auto;
      width: 100%;
    }

    &--alone {
      margin: auto;
    }

    &--three {
      width: 32%;

      @media (max-width: 767px){
        margin: auto;
        width: 100%;
      }
    }
  }

  &__card{
    display: flex;
    flex-direction: column;
    background: #F2F4F8;
    border: 2px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: -3px;
    flex-grow: 1;
  }

  &__choice{
    background: #00AFEC;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 20px;
    opacity: 0;
  }

  &__head{
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid  #DCDEE1;
    position: relative;
    flex-direction: column;

    h2{
      font-family: 'Roboto',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #152438;
      margin-bottom: 15px;
    }

    &--hit::after{
      content: '';
      position: absolute;
      width: 140px;
      height: 140px;
      z-index: 2;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml, %3Csvg width='141' height='141' viewBox='0 0 141 141' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Crect x='27.5566' y='-31' width='197' height='22' transform='rotate(45 27.5566 -31)' fill='%23FF1037'/%3E%3Cpath d='M50.2641 15.3925L49.3077 14.4361L50.5437 13.2001L47.5123 10.1686L46.2797 11.4012L45.2991 10.4207L47.3086 8.30071L47.6884 8.68051C48.0636 8.71504 48.471 8.62296 48.9106 8.4043C49.3549 8.18563 49.8405 7.85187 50.3676 7.40302L52.7293 5.33142L56.0231 8.62527L51.8281 12.8203L52.4151 13.4072L50.2641 15.3925ZM48.8761 9.86823L50.7923 11.7845L54.1483 8.42846L52.8743 7.15443L51.4656 8.39048C50.5104 9.20762 49.6472 9.7002 48.8761 9.86823ZM61.6523 14.2545L56.6253 19.2816L55.586 18.2423L59.7741 14.0542L58.4345 12.7146L56.5769 14.4064C55.9439 14.9704 55.3961 15.3663 54.9335 15.5941C54.4731 15.8197 54.0496 15.9003 53.6629 15.8358C53.2785 15.7691 52.8895 15.5412 52.4959 15.1522L52.2266 14.8829L53.0587 14.0508L53.2486 14.2062C53.5432 14.4317 53.8781 14.4674 54.2533 14.3132C54.6331 14.159 55.1786 13.7562 55.8898 13.1048L58.2825 10.8847L61.6523 14.2545ZM60.2071 22.8634L62.0197 21.0507L61.1773 20.2083L58.4566 21.1129L57.3379 19.9942L60.5558 18.9239C60.3233 18.1206 60.5074 17.4185 61.1082 16.8178C61.6008 16.3252 62.1429 16.1054 62.7344 16.1583C63.326 16.2112 63.9129 16.5243 64.4953 17.0974L66.2734 18.8756L61.2463 23.9026L60.2071 22.8634ZM62.0681 17.9295C61.7872 18.2103 61.6514 18.4819 61.6606 18.7444C61.6721 19.0091 61.8149 19.2784 62.0888 19.5523L62.8035 20.267L64.3951 18.6753L63.6804 17.9606C63.1326 17.4128 62.5952 17.4024 62.0681 17.9295ZM68.662 31.3183L67.6262 30.2825L69.7806 28.128L67.7608 26.1082L65.6063 28.2627L64.5705 27.2269L69.5976 22.1998L70.6334 23.2356L68.5964 25.2727L70.6162 27.2925L72.6532 25.2554L73.689 26.2912L68.662 31.3183ZM76.4526 34.3097C75.9577 34.8046 75.4363 35.151 74.8885 35.3489C74.3407 35.5469 73.8021 35.5837 73.2727 35.4594C72.7455 35.3374 72.2714 35.0658 71.8502 34.6446C71.4335 34.228 71.1619 33.7561 71.0353 33.229C70.9087 32.7019 70.941 32.1633 71.132 31.6131C71.3253 31.0607 71.6626 30.5417 72.1436 30.056L72.3922 29.8074C72.8871 29.3125 73.4108 28.9661 73.9632 28.7681C74.5202 28.5702 75.0611 28.5334 75.5859 28.6577C76.1154 28.782 76.5895 29.0536 77.0084 29.4725C77.4274 29.8914 77.6978 30.3644 77.8198 30.8915C77.9464 31.4186 77.9096 31.9596 77.7093 32.5143C77.5137 33.069 77.1696 33.5927 76.677 34.0853L76.4526 34.3097ZM75.6308 33.0322C76.1579 32.5051 76.4641 32.0102 76.5492 31.5475C76.6344 31.0849 76.5021 30.6786 76.1522 30.3287C75.8046 29.9812 75.4006 29.8488 74.9403 29.9317C74.4822 30.0123 73.9908 30.3126 73.466 30.8328L73.2209 31.078C72.7076 31.5913 72.4037 32.0839 72.3094 32.5557C72.215 33.0276 72.345 33.4408 72.6995 33.7952C73.0471 34.1428 73.4499 34.274 73.9079 34.1888C74.3683 34.1014 74.8609 33.7975 75.3857 33.2773L75.6308 33.0322ZM75.1592 37.8155L80.1863 32.7884L81.9471 34.5493C82.5571 35.1593 82.9024 35.7393 82.9829 36.2894C83.0658 36.8373 82.8817 37.3367 82.4305 37.7879C82.1842 38.0342 81.9034 38.1884 81.5881 38.2506C81.275 38.3104 80.962 38.2713 80.6489 38.1332C80.8423 38.4554 80.9148 38.788 80.8665 39.131C80.8204 39.4763 80.6558 39.7904 80.3727 40.0736C79.8894 40.5569 79.3691 40.7687 78.8121 40.7089C78.2551 40.649 77.6888 40.336 77.1134 39.7697L75.1592 37.8155ZM78.384 36.6623L77.0271 38.0192L77.9144 38.9066C78.1584 39.1505 78.4059 39.2829 78.6567 39.3036C78.9122 39.3243 79.1424 39.2323 79.3473 39.0274C79.8076 38.567 79.803 38.0952 79.3335 37.6118L78.384 36.6623ZM79.116 35.9304L79.8824 36.6969C80.4142 37.2101 80.8837 37.2631 81.2911 36.8557C81.519 36.6278 81.6157 36.3976 81.5812 36.1651C81.5512 35.9327 81.3936 35.6737 81.1081 35.3883L80.3831 34.6632L79.116 35.9304ZM84.2963 40.5238L85.1043 41.3317C85.6958 41.9233 86.0204 42.5355 86.0779 43.1685C86.1401 43.8015 85.9283 44.3609 85.4426 44.8465C84.9546 45.3345 84.3896 45.5543 83.7474 45.506C83.1098 45.4577 82.5033 45.1504 81.9278 44.5841L80.0392 42.6955L85.0663 37.6684L86.109 38.7111L84.2963 40.5238ZM85.2838 47.9401L84.248 46.9043L89.2751 41.8772L90.3109 42.913L85.2838 47.9401ZM83.4608 41.3593L81.914 42.9061L82.7392 43.7313C83.0039 43.996 83.287 44.1341 83.5885 44.1456C83.8924 44.1595 84.1663 44.0444 84.4103 43.8004C84.6382 43.5725 84.7417 43.317 84.721 43.0339C84.7049 42.7508 84.5679 42.4757 84.3101 42.2087L83.4608 41.3593ZM91.7037 47.7723L94.3795 46.9817L95.5707 48.1728L91.6139 49.2017L90.5816 53.2379L89.3766 52.0329L90.1707 49.3053L87.4431 50.0994L86.2381 48.8944L90.2743 47.8621L91.3032 43.9053L92.4944 45.0965L91.7037 47.7723ZM97.2687 55.8164L96.6714 55.219L94.6171 57.2734L93.5813 56.2376L98.6083 51.2105L99.6441 52.2463L97.6312 54.2592L98.1043 54.7322L101.346 53.9485L102.61 55.2121L98.6809 56.0408L97.7452 60.4015L96.5091 59.1654L97.2687 55.8164ZM107.614 60.2164L102.587 65.2435L101.548 64.2043L105.736 60.0162L104.396 58.6765L102.539 60.3684C101.906 60.9323 101.358 61.3282 100.895 61.5561C100.435 61.7816 100.012 61.8622 99.6248 61.7978C99.2404 61.731 98.8514 61.5031 98.4578 61.1141L98.1885 60.8448L99.0206 60.0127L99.2105 60.1681C99.5051 60.3937 99.84 60.4294 100.215 60.2751C100.595 60.1209 101.141 59.7181 101.852 59.0667L104.244 56.8466L107.614 60.2164ZM111.887 64.4888L112.926 65.528L107.899 70.5551L106.86 69.5159L110.198 66.1771L104.847 67.503L103.811 66.4672L108.838 61.4401L109.874 62.4759L106.528 65.8215L111.887 64.4888ZM114.353 72.6523L112.364 70.6635L111.018 72.0101L113.352 74.3441L112.52 75.1762L109.15 71.8064L114.177 66.7793L117.54 70.1422L116.701 70.9812L114.374 68.6541L113.176 69.8521L115.165 71.8409L114.353 72.6523ZM117.572 80.2288L116.537 79.193L118.691 77.0385L116.671 75.0187L114.517 77.1732L113.481 76.1374L118.508 71.1103L119.544 72.1461L117.507 74.1832L119.527 76.203L121.564 74.1659L122.6 75.2017L117.572 80.2288ZM126.703 80.9829L125.163 79.443L120.975 83.6311L119.939 82.5953L124.127 78.4072L122.608 76.888L123.447 76.049L127.542 80.1439L126.703 80.9829ZM129.894 87.7515C129.399 88.2464 128.878 88.5928 128.33 88.7907C127.782 88.9887 127.244 89.0255 126.714 88.9012C126.187 88.7792 125.713 88.5076 125.292 88.0864C124.875 87.6698 124.604 87.1979 124.477 86.6708C124.351 86.1437 124.383 85.6051 124.574 85.0549C124.767 84.5025 125.104 83.9835 125.585 83.4978L125.834 83.2492C126.329 82.7543 126.853 82.4079 127.405 82.2099C127.962 82.012 128.503 81.9752 129.028 82.0995C129.557 82.2238 130.031 82.4954 130.45 82.9143C130.869 83.3332 131.14 83.8062 131.262 84.3333C131.388 84.8604 131.351 85.4014 131.151 85.9561C130.955 86.5108 130.611 87.0345 130.119 87.5271L129.894 87.7515ZM129.073 86.474C129.6 85.9469 129.906 85.452 129.991 84.9893C130.076 84.5267 129.944 84.1204 129.594 83.7706C129.246 83.423 128.842 83.2906 128.382 83.3735C127.924 83.4541 127.433 83.7544 126.908 84.2746L126.663 84.5198C126.149 85.0331 125.846 85.5257 125.751 85.9975C125.657 86.4694 125.787 86.8826 126.141 87.237C126.489 87.5846 126.892 87.7158 127.35 87.6306C127.81 87.5432 128.303 87.2393 128.827 86.7191L129.073 86.474ZM128.601 91.2573L133.628 86.2302L135.389 87.9911C135.999 88.6011 136.344 89.1811 136.425 89.7312C136.508 90.2791 136.323 90.7786 135.872 91.2297C135.626 91.476 135.345 91.6302 135.03 91.6924C134.717 91.7522 134.404 91.7131 134.091 91.575C134.284 91.8972 134.357 92.2298 134.308 92.5728C134.262 92.9181 134.098 93.2322 133.815 93.5154C133.331 93.9987 132.811 94.2105 132.254 94.1507C131.697 94.0908 131.131 93.7778 130.555 93.2115L128.601 91.2573ZM131.826 90.1041L130.469 91.461L131.356 92.3484C131.6 92.5924 131.848 92.7247 132.099 92.7454C132.354 92.7661 132.584 92.6741 132.789 92.4692C133.249 92.0089 133.245 91.537 132.775 91.0536L131.826 90.1041ZM132.558 89.3722L133.324 90.1387C133.856 90.652 134.326 90.7049 134.733 90.2975C134.961 90.0696 135.057 89.8394 135.023 89.6069C134.993 89.3745 134.835 89.1155 134.55 88.8301L133.825 88.105L132.558 89.3722Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='140.714' height='140.714' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      right: 0;
      top: 0;
    }

    &--for-new::after{
      content: '';
      position: absolute;
      width: 140px;
      height: 140px;
      z-index: 2;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url("../../assets/images/for-new.svg");
      right: 0;
      top: 0;
    }
  }

  &__prices{
    display: flex;
    justify-content: space-between;
  }

  &__price-block{
    display: flex;
  }

  &__addition{
    display: flex;
    flex-direction: column;
    padding: 30px 40px;

    h3{
      font-family: 'Roboto',sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 20px;
      color: #152438;
    }
  }

  &__old-price{
    text-decoration-line: line-through;
    margin-right: 10px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #152438;
  }

  &__sale{
    font-size: 15px;
    line-height: 20px;
    color: #FF1037;
  }

  &__price{
    font-weight: bold;
    color: #152438;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;

    &--red{
      color: #FF1037;
    }
  }

  &__list{
    li{
      font-size: 15px;
      line-height: 20px;
      color: #152438;
      padding: 12px 26px 12px 0;
      border-top: 1px solid #EBEDF2;
      position: relative;
    }
  }
}

.tariff__choice--display{
  opacity: 1;
}

.tariff__card--chosen{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: -3px;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 175, 236, 0.2);
  border: 2px solid #00AFEC;
}

.tariff-footer{
  display: flex;

  &__text{
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #79818B;
  }

  a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #79818B;
    position: relative;
    padding-left: 30px;

    &::after{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 20px;
      height: 100%;
      background-image: url("../../assets/images/icon-arrow-gray.svg");
      left: 0;
      top: -4px;
      transform: rotate(180deg);
    }
  }

  &__position{
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;

    @media (max-width: 767px){
      flex-direction: column;
    }
  }

  &__block{
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: space-around;
    padding: 15px 5px;
    margin-bottom: 10px;
  }

  &__info{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;

    span{
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: #929FAB;
      margin-bottom: 2px;
    }

    p{
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #152438;
      margin-bottom: 0;
    }
  }

  &__total-wrapper{
    display: flex;
    align-items: center;

    @media (max-width: 767px){
      flex-direction: column;
    }
  }

  &__total{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    margin-right: 30px;

    @media (max-width: 767px){
      margin-right: 0 !important;
    }

    p{
      font-size: 18px;
      line-height: 20px;
      text-align: right;
      margin-bottom: 7px;
    }

    span{
      font-size: 13px;
      line-height: 20px;
      text-align: right;
      color: #929FAB;
    }
  }

  &__btn{
    background: #00AFEC;
    border-radius: 4px;
    padding: 20px 69px 20px 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 24px;
      height: 100%;
      background-image: url("../../assets/images/icon-arrow-white.svg");
      right: 25px;
      top: 23px;
    }

    &:hover{
      background: #0D8EBB;
    }
  }
}

.container--small{
  max-width: 930px;
}

.container--small-two{
  max-width: 814px;
}
