.user-profile-table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;

  @media (max-width: 767px) {
    margin-top: 20px;
  }

  & th {
    position: relative;
    padding: 20px 20px 20px 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #818B95;
    border-bottom: 1px solid #E6E8ED;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      left: -10px;
      width: 20px;
      height: 1px;
      background-color: #CCCFD6;
    }

    &:first-of-type {
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }

  & td {
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #E6E8ED;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: 767px) {
      border: none;
    }
  }

  & tr {
    @media (max-width: 767px) {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #E6E8ED;

      &:nth-child(2) {
        border-top: 1px solid #E6E8ED;
      }
    }
  }
}

.user-profile-table__show-all {
  display: block;
  padding: 12px 20px;
  margin: 30px auto 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #00AFEC;
  background-color: transparent;
  border: 1px solid #00AFEC;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: 767px) {
    width: 100%;
    max-width: 335px;
    margin: 20px auto 0;
  }
}
