.add-user {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 1000;
}

.add-user__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.add-user__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 360px;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border-radius: 5px;
  z-index: 1001;

  @media (max-width: 767px) {
    max-width: none;
    height: 100vh;
    background: #EBEDF2;
    border-radius: initial;
  }
}

.add-user__check-all {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 9px;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #00AFEC;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed #00AFEC;
  cursor: pointer;

  @media (max-width: 767px) {
    margin: 20px;
  }
}

.add-user__item-wrap {
  overflow-y: auto;
  max-height: 271px;

  @media (max-width: 767px) {
    max-height: 436px;
  }
}

.add-user__item {
  display: flex;
  align-items: center;
  padding: 19px 20px 18px 38px;
  box-sizing: border-box;
  border-top: 1px solid #DFE1E7;
  border-bottom: 1px solid #DFE1E7;

  @media (max-width: 767px) {
    border-top: 1px solid rgba(21, 36, 56, 0.15);
    border-bottom: 1px solid rgba(21, 36, 56, 0.15);
  }

  &:not(:first-child) {
    margin-top: -1px;
  }

  &.gray {
    background-color: #F7F8FB;

    @media (max-width: 767px) {
      background-color: #FFFFFF;
    }
  }
}

.add-user__img {
  width: 48px;
  height: 49px;
  margin-right: 15px;
  border-radius: 50%;
}

.add-user__label {
  display: flex;
  align-items: center;
  padding-left: 22px;
}

.add-user__name {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.add-user__position {
  font-size: 16px;
  line-height: 20px;
  color: #929FAB;
}

.add-user__label {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -18px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 3px;
  }
}

.add-user__input:checked + .add-user__label::before {
  background-color: transparent;
  background-image: url("../../../../assets/icons/icon-input-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.add-user__buttons-wrap {
  padding: 20px;

  @media (max-width: 767px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.add-user__button {
  display: block;
  margin: 0 auto;
  padding: 10px 14px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 4px;

  @media (max-width: 767px) {
    width: 100%;
    padding: 12px 14px;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
  }

  &--new {
    color: #FFFFFF;
    background: #00AFEC;
    border: 1px solid #00AFEC;
  }

  &--add {
    margin-right: 0;
    margin-left: auto;
    color: #00AFEC;
    background: #FFFFFF;
    border: 1px solid #00AFEC;
  }
}

.add-user__header {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: #FFFFFF;
  }
}

.add-user__header-title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.add-user__header-close {
  position: relative;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 24px;
    width: 2px;
    background-color: #152438;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
