@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  //height: calc(100vh - 140px);
}

.corp-search {
  flex: 1 0 auto;
  background: $g__form_background;
}

.corp-search__expert {
  flex: 0 0 auto;
  z-index: initial;
}

.search_header {
  text-align: center;
  padding: 39px 0 20px 0;
  background: $g__form_background;
  position: relative;
  @media (max-width: 1200px) {
    margin-bottom: -10px;
  }

  @media (max-width: 768px) {
    padding: 30px 0 20px 0;
  }

  .search-wrapper {
    //width: 1070px;
    margin: 0 auto;
  }

  .app-title-dropdown {
    display: block;
    position: relative;
  }

  .app-ip-id-search-input {
    display: block;
    position: relative;
    margin: 20px 0 0 0;
    z-index: 2;
  }
}

.section-top-search.not-loaded .search_header {
  padding-bottom: 192px;
  transition: padding ease 1s;
}

.section-top-search.is-loading .search_header {
  padding-bottom: 20px;
  transition: padding ease .4s;
}


.search-history-main-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 48px;

  svg {
    width: 48px;
    height: 48px;
    margin-top: 24px;
  }
}
