<table class="table-control table-control__{{className}}">
  <tr>
    <th *ngFor="let column of def.columns">{{column.name}}</th>
  </tr>
  <tr *ngFor="let row of def.rows">
    <td *ngFor="let td of row.cells">
      <p [class.table-control__minus]="td.value">
        <span>{{td.value || td}}</span>
        <span *ngIf="td.value" class="table-control__question">?
          <span class="table-control__prompt">
            <span>
              {{td.help}}
            </span>
          </span>
        </span>
      </p>
    </td>
  </tr>
</table>
