.table-control {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  border-collapse: collapse;

  @media (max-width: 790px) {
    tr:first-of-type, tr:last-of-type {
      display: none;
    }

    tr {
      display: flex;
      flex-direction: column;

      td {
        width: 100%;

        &::before {
          display: block;
          font-size: 13px;
          line-height: 18px;
          font-weight: normal;
        }

        &:nth-child(2)::before {
          content: "Сумма требований";
        }

        &:nth-child(3)::before {
          content: "Присуждено судом";
        }

        &:nth-child(4)::before {
          content: "Разница";
        }

        &:first-of-type {
          font-weight: bold;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  th {
    position: relative;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    background: #E8DFD4;

    @media (max-width: 790px) {
      padding: 8px 10px;
    }

    &:first-of-type {
      border-radius: 3px 0 0 3px;
    }

    &:last-of-type {
      border-radius: 0 3px 3px 0;
    }

    &:not(:last-of-type)::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      right: 0;
      top: 0;
      background: #D9D0C6;
    }
  }

  tr {
    text-align: left;
    background: #FCF6EE;

    &:nth-child(2n) {
      background: #FFFBF6;
    }

    @media (max-width: 790px) {
      background: #FFFBF6;

      &:nth-child(2n) {
        background: #FCF6EE;
      }
    }
  }

  td {
    padding: 8px 20px;
    font-size: 18px;
    width: 22%;

    & p {
      position: relative;
      margin: 0;
    }

    @media (max-width: 790px) {
      padding: 8px 10px;
      font-size: 13px;
      line-height: 18px;

      &:first-of-type {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &::before {
      display: none;
    }

    @media (max-width: 790px) {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }

    &:first-of-type {
      border-radius: 3px 0 0 3px;
      width: 34%;
    }

    &:last-of-type {
      position: relative;
      border-radius: 0 3px 3px 0;
      z-index: 5;
    }

    &:not(:last-of-type)::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      right: 0;
      top: 0;
      background: #D9D0C6;
    }
  }

  &__minus {
    display: flex;
    align-items: center;
    color: #00AFEC;

    & span:first-child {
      margin-right: 10px;
      border-bottom: 1px dashed #00AFEC;
    }
  }

  &__sum {
    position: relative;

    p {
      display: none;
    }

    @media (max-width: 790px) {
      p {
        display: block;
        font-size: 13px;
        line-height: 18px;
      }

      .table-control__question {
        display: none;
      }
    }
  }

  &__question {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 13px;
    line-height: 16px;
    color: #00AFEC;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      border: 1px solid #00AFEC;
    }
  }

  &__prompt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 200px;
    display: none;
    width: 320px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 13px;
    border: 1px solid rgba(21, 36, 56, 0.15) !important;
    background: #FFFFFF;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 3;

    & span {
      color: #000000;
      border-bottom: none !important;
    }
  }

  /* Стиль  ТаблицаСПодвалом */
  &__with-footer tr:last-of-type {
    & td {
      font-weight: 700;
    }
  }
}

.table-control__question:hover .table-control__prompt {
  display: block;
  z-index: 3;
}

.table-control__question .table-control__prompt p {
  font-size: 13px;
  line-height: 15px;
}
