@import "projects/themes/1c-start/variables";

form {
  background: #f7f8fb;
}

.section-position {
  background: white;

  &--bg {
    background: #f7f8fb;
  }

  &--main {
    position: initial;
    z-index: auto;
    @media(max-width: 1100px) {
      padding-top: 0;
    }
  }

  &.empty {
    width: 100%;
    padding: 0 0 40px;

    & .container {
      padding: 0 10px;
    }

    @media(max-width: 767px) {
      padding-bottom: 20px;

      & .container {
        padding: 0 20px;
      }
    }
  }
}

.container {
  &--bg {
    //max-width: 1280px;
    background: #f7f8fb;
    //padding: 0 20px 40px;
    padding-bottom: 40px;
  }
}

.search__wrapper {
  width: 100%;
}

.search {
  padding: 20px 0 30px;
}

.search::before {
  display: none;
}

app-filter-select {
  padding: 0 6px;
  max-height: 50px;

  &:first-child {
    padding-left: 0;
  }
}


/* Rows */
.table-corp {
  display: grid;
  width: 100%;
  margin: auto;

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    button {
      background: #FFFFFF;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      border-radius: 5px;
      padding: 12px;
      color: #00AFEC;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 211px 8.9% 12.6% 125px repeat(2, 1fr) 11.3% 58px;
    padding: 0 20px;

    &:first-child {
      & span {
        margin-left: -20px;
      }
    }

    @media (max-width: 1100px) {
      display: none;
    }

    p {
      font-size: 13px;
      line-height: 18px;
      color: #929FAB;
      margin-bottom: 15px;

      &.head-table__six {
        & span {
          position: relative;
          right: -45px;
        }
      }
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 211px 8.9% 12.6% 125px repeat(2, 1fr) 11.3% 58px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    min-height: 92px;
    cursor: pointer;
    border: 1px solid transparent;

    @media (max-width: 1100px) {
      grid-template-areas: "legalname inn ogrn registerDate"
      "region okved state checkbox";
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 768px) {
      grid-template-areas: "legalname"
      "inn"
      "ogrn"
      "registerDate"
      "region"
      "okved"
      "state"
      "checkbox";
      grid-template-columns: 100%;
    }

    &--active {
      background: #F2FCFF;
      border: 1px solid #00AFEC;
    }
  }

  &__mobile-blue {
    display: none;
    @media (max-width: 1100px) {
      display: block;
      font-size: 13px;
      line-height: 18px;
      color: #00AFEC !important;
      border: 1px solid #00AFEC;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 12px;
      width: 100%;
      max-width: 350px;
      text-align: center;
    }

    @media (max-width: 768px) {
      max-width: none;
    }

    &--delete {
      background: #00AFEC;
      border: 1px solid #00AFEC;
      color: #FFFFFF !important;
    }
  }

  &__mobile-txt {
    display: none;
    @media (max-width: 1100px) {
      display: block;
      font-weight: bold;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #929FAB;
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #929FAB;
      text-transform: none;
      margin-right: 23px;
      white-space: nowrap;
    }

    &--none {
      @media (max-width: 768px) {
        display: none;
      }

    }

    &--state {
      @media (max-width: 768px) {
        margin: 4px 0;
      }
    }
  }

  &__legalname {
    font-weight: bold;
    position: relative;
    @media (max-width: 1100px) {
      grid-area: legalname;
      margin-bottom: 10px;
    }

    @media (max-width: 768px) {
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
      padding-bottom: 10px;
    }
  }

  &__inn {
    @media (max-width: 1100px) {
      grid-area: inn;
      margin-bottom: 10px;
    }
    @media (max-width: 768px) {
      margin-top: 10px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__ogrn {
    @media (max-width: 1100px) {
      grid-area: ogrn;
      margin-bottom: 10px;
    }
    @media (max-width: 768px) {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__registerDate {
    @media (max-width: 1100px) {
      grid-area: registerDate;
      margin-bottom: 10px;
    }
    @media (max-width: 768px) {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__region {
    @media (max-width: 1100px) {
      grid-area: region;
    }
    @media (max-width: 768px) {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__okved {
    @media (max-width: 1100px) {
      grid-area: okved;
    }
    @media (max-width: 768px) {
      padding-bottom: 15px;
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
      border-top: 1px solid rgba(21, 36, 56, 0.15);
    }
  }

  &__state {
    @media (max-width: 1100px) {
      grid-area: state;
    }
    @media (max-width: 768px) {
      padding-bottom: 15px;
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
    }
  }


  &__checkbox {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;

    @media (max-width: 1100px) {
      grid-area: checkbox;
    }
    @media (max-width: 768px) {
      padding-top: 0;
    }

    &--label {
      width: 18px;
      height: 18px;
      position: relative;
      right: -5px;
      top: 0;

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 1100px) {
        height: fit-content;
        right: auto;
        margin-right: auto;
        width: 100%;
      }

      &:before {
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        border-radius: 5px;
        left: 0;
        top: 0;

        @media (max-width: 1100px) {
          display: none;
        }
      }
    }
  }

  &__type {
    display: grid;
    height: fit-content;
    padding-top: 10px;
    padding-right: 20px;

    span {
      font-weight: bold;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #929FAB;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__owner {
    padding-top: 10px;
    padding-right: 20px;

    p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;
    }
  }

  &__date {
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
    display: grid;
    padding-right: 20px;
    height: fit-content;

    span {
      color: #929FAB;
      margin-right: 5px;
    }

    p {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

    }
  }

  &__class {
    &-wrapper {
      display: flex;
      height: fit-content;
      padding-top: 10px;
      padding-right: 20px;
      flex-wrap: wrap;
      min-width: 170px;
    }

    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    padding: 4px 13px;

    &:not(:last-of-type) {
      margin-right: 5px;
    }

    &--critical {
      background: #FFD7DD
    }
  }

  &__state {
    padding-top: 0;
    padding-right: 20px;
    @media (max-width: 768px) {
      padding-top: 10px;
      padding-right: 0;
    }
  }

}

.table-corp__region {
  padding-right: 8px;
  @media (max-width: 768px) {
    padding-right: 0;
  }
}

.table-corp__checkbox--input:checked + .table-corp__checkbox--label::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 13px;
  height: 11px;
  left: 3px;
  top: 3px;
  background-image: url('/assets/images/black-done.svg');
  background-repeat: no-repeat;
  background-size: 17px 11px;
  background-position: center;

  @media (max-width: 1100px) {
    display: none;
  }
}

.table-corp__checkbox--input:checked + .table-corp__checkbox--label::before {
  display: none;
}

.app-domain-modal {
  position: relative;
  z-index: 21;

  .parrent_modal > .modal > div {
    height: 100% !important;
  }
}

.comment-new__tooltip {
  position: absolute;
  display: none;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2px 8px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 20px;
  color: #414141;
  left: auto;
  z-index: 10;
  bottom: auto;
}

.table-corp__legalname:hover .comment-new__tooltip {
  display: block;
}

.empty-results {
  margin: 40px auto 0;
  padding: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 32px;
  color: $g__text_color_secondary;
  text-align: center;
  background: $g__white_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  @media (max-width: 767px) {
    margin: 20px 0 0;
    padding: 20px;
    font-size: 20px;
    line-height: 28px;
  }
}

:host ::ng-deep {
  .risk-badge {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    box-shadow: none;

    &--high {
      background: $g__alert_color;
    }

    &--medium {
      background: $g__warning_color;
    }

    &--none {
      background: $g__success_color;
    }

    &--low {
      background: $g__success_color;
    }
  }
}

.table-corp__legalname {
  position: inherit;
}
