@import "projects/themes/1c-start/variables";

.search-input {
  display: flex;
  flex-direction: row;
  //max-width: 1070px;
  padding-bottom: 65px;

  @media (max-width: 768px) {
    padding-bottom: 30px;
    z-index: 1;
    position: initial;
  }

  input {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 60px;
    padding-left: 20px;
    border: 0;
    font-size: 18px;
    line-height: 30px;
    background: #FFFFFF;
    box-shadow: 0 3px 6px rgba(21, 36, 56, 0.15);
    border-radius: 5px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.submit-btn__wrap {
  flex: none;
  min-width: 180px;
  //box-shadow: 4px 10px 20px rgb(255 16 55 / 25%);

  &.disabled {
    cursor: not-allowed;
  }

  @media (max-width: 600px) {
    margin-top: 30px;
  }
}

.submit-btn {
  width: 100%;
  height: 60px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  background: $g__alert_color;
  box-shadow: 4px 10px 20px rgba(255, 16, 55, 0.25);
  border: none;
  //border-top-right-radius: 5px;
  //border-bottom-right-radius: 5px;
  border-radius: 5px;
  margin-left: 10px;
  outline: 0;
  cursor: pointer;

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  @media (max-width: 600px) {
    width: 100%;
    border-radius: 5px;
    margin-top: 0;
    margin-left: 0;
  }
}

.search-error {
  position: absolute !important;
  top: 70px;
  left: 0;
  color: #FF1037;
  font-size: 15px;
  z-index: initial;

  @media (max-width: 1200px) {
    font-size: 13px;
  }
}

.invalid-red {
  &::placeholder {
    color: #FF1037;
  }
}
