<div class="search-input">
  <input type="text" [placeholder]="placeholder" [(ngModel)]="value" (keyup.enter)="isSearchAllowed(value)" [class.invalid-red]="searchError"/>
  <div class="submit-btn__wrap" [class.disabled]="!value">
    <button class="submit-btn" (click)="isSearchAllowed(value)" [class.disabled]="disabledButton || right === 'false'">Проверить</button>
  </div>
</div>
<!--<span class="search-error" *ngIf="searchError">{{ getSearchErrorText() }}</span>-->
