<app-tab-has-docs *ngIf="point.type ===1"></app-tab-has-docs>

<app-tab-adding-docs *ngIf="point.type ===2"></app-tab-adding-docs>

<app-tab-with-table *ngIf="point.type ===3"></app-tab-with-table>

<app-tab-common-info *ngIf="point.type ===4"></app-tab-common-info>

<app-tab-tariff *ngIf="point.type ===5"></app-tab-tariff>

<app-tab-results *ngIf="point.type ===6"></app-tab-results>

<app-tab-wrong *ngIf="point.type ===7"></app-tab-wrong>

<app-tab-doc-mix *ngIf="point.type ===8"></app-tab-doc-mix>

<app-tab-what-we-did *ngIf="point.type ===9"></app-tab-what-we-did>

<app-tab-complex-form *ngIf="point.type ===10"></app-tab-complex-form>

<div *ngIf="!point.type" class="events-steps__hidden">
  <div class="events-steps__hidden-text-wrapper hidden " [innerHTML]="point.popupText">
  </div>
</div>

