@import 'projects/themes/1c-start/variables';

.date {
  flex-direction: row;
  grid-area: date;
  width: 20%;
  justify-content: flex-start;

  .row-white__mobile-text {
    display: block !important;
    margin-right: 5px;
  }

  @media (max-width: 1260px) {
    width: 100%;
    justify-content: space-between;
    padding: 0;
  }
}

.search__btn-block {
  min-width: 219px;
}

.type-number {
  grid-area: type-number;
  flex-direction: row;
  justify-content: space-between;
  width: 31%;

  .type {
    width: 72%;
    justify-content: flex-start;

    @media (max-width: 1260px) {
      width: 100%;
      padding: 0 0 10px;
      height: fit-content;
    }
  }

  .number {
    width: fit-content;

    @media (max-width: 1260px) {
      height: fit-content;
    }
  }

  @media (max-width: 1260px) {
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    flex-wrap: wrap;
    max-width: none;
    width: initial;
    margin-bottom: auto;

    p {
      font-size: 16px;
      line-height: 20px;
      padding: 0;
    }
    .row-white__text {
      padding: 0;
      margin-right: 0;
    }
  }
}

.img {
  grid-area: img;
}

.number {
  grid-area: number;

  @media (max-width: 1260px) {
    justify-content: flex-start;

    p {
      font-size: 16px;
      line-height: 20px;
      padding: 0 0 10px;
    }
  }
}

.name {
  width: 32%;
  grid-area: name;

  @media (max-width: 1260px) {
    width: 100%;
    padding: 0 0 10px;
  }
}


.row-white {

  @media (max-width: 1260px) {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 160px 1fr;
    grid-template-areas:
     'state state'
     'img type-number'
     'name name'
     'date date';
  }

  &__img-text {
    width: fit-content;
    flex-shrink: 0;
  }
}

.image_text {
  margin-top: 5%;
  font-size: 12px;
  word-break: break-word;
}