<div class="table">
  <div class="table__wrapper--sign">
    <div
      *ngFor="let trademark of values$ | async; let i = index"
      id="tradeMarksTable"
      class="table__row row-white row-white--cont"
      (click)="trademark.isRequest ? toCasesPage(trademark.id) : openPopupInfo(trademark)"
    >
      <p *ngIf="trademark.isRequest" class="row-white__pro pro"><span>ПРО</span></p>

      <div class="row-white__img-text img">
        <div class="row-white__img">
          <img *ngIf="isImageUrl(trademark.imageURL); else text" src="{{trademark.imageURL | proxyImage}}" alt="">

          <ng-template #text>
            <p class="image_text">
              {{trademark.imageURL}}
            </p>
          </ng-template>
        </div>
      </div>

      <div class="row-white__title-text type-number">
        <div class="row-white__title-text type">
          <p class="row-white__text ">{{trademark.type}}</p>
        </div>
        <div class="row-white__title-text number">
          <p class="row-white__text row-white__text--gray" [id]="'tradeMarksTableId' + i">{{trademark.showId ? trademark.showId : trademark.id}}</p>
        </div>
      </div>

      <div class="row-white__title-text name">
        <span class="row-white__mobile-text">Правообладатель/Заявитель</span>
        <p class="row-white__text">{{trademark.rightHolder ? trademark.rightHolder : trademark.client}}</p>
      </div>

      <div class="row-white__title-text date">
        <span *ngIf="trademark.index" class="row-white__text row-white__text--gray">{{trademark.index[0]?.id === 'rutmap' ? 'Подачи:' : 'Действует до:' }}</span>
        <p class="row-white__text">
          {{trademark.index ? trademark.index[0]?.id === 'rutmap' ?  (trademark?.applicationDate | date:'dd.MM.yyyy') : (trademark.validUntil | date: 'dd.MM.yyyy') : trademark.dateEnd}}
        </p>
      </div>

      <div class="row-white__title-text row-white__title-text--state state">
        <button
          *ngIf="trademark.status && trademark.status !== 'нет статуса'"
          class="state__btn"
          [ngClass]="{
            'state__btn--valid': trademark.mappedStatus.status === 'действует',
            'state__btn--invalid': trademark.mappedStatus.status === 'не действует',
            'state__btn--registration': trademark.mappedStatus.status === 'регистрация'
          }"
        >{{trademark.mappedStatus.status}}</button>
      </div>
    </div>
  </div>
</div>

<app-portfolio-logotype
  *ngIf="showPopupInfoTMA"
  [data]="popupInfoData"
  [showRemoveBtn]="true"
  (modalEvent)="closePopupInfo()"
  (removeObject)="removeObject($event)"
></app-portfolio-logotype>

<app-portfolio-logotype-item
  *ngIf="showPopupInfoTM"
  [data]="popupInfoData"
  [showRemoveBtn]="true"
  (modalEvent)="closePopupInfo()"
  (removeObject)="removeObject($event)"
></app-portfolio-logotype-item>
