@import 'variables';

.log_out {
  width: 80px;
  height: 40px;
  //background-image: url("../../../../assets/images/logout.svg");
  margin-left: 20px;
  display: flex;
  align-items: center;

  img {
    margin-top: -3px;
    margin-right: 5px;
  }
}

// TODO: Удалить если все будет ок
//.main-nav__user-dropdown-list {
//  height: 44px;
//  width: 180px;
//  background: #FFFFFF;
//  border: 1px solid rgba(0, 0, 0, 0.1);
//  box-sizing: border-box;
//  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
//  border-radius: 5px;
//  position: absolute;
//  top: 26px;
//  right: 0;
//  z-index: 2;
//  li {
//    margin: 10px;
//    @media(max-width: 992px) {
//      margin: 12px;
//      a{
//        font-size: 13px;
//        line-height: 18px;
//        color: $g__link_color;
//      }
//
//    }
//  }
//
//  @media(max-width: 992px) {
//    box-shadow: none;
//    width: 100%;
//  }
//}

.open_modal {
  position: absolute;
  right: 230px;
  top: 10px;
  height: 40px;
  width: 250px;
}

.disabled-card {
  background-color: #d5d5d5;
  pointer-events: none;
}

.main-nav__link--dis {
  opacity: 0.3;
  cursor: none;
  pointer-events: none;


  &:hover {
    border: none;
  }
}

.main-nav__item {
  @media(max-width: 991px) {
    text-align: left;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
}

.btns-wrapper {
  display: flex;
  margin-left: auto;
  flex-grow: 1;
  justify-content: space-between;

  @media(max-width: 991px) {
    flex-direction: column;
  }
}

.main-nav__btn {
  margin-right: 20px;
  margin-left: 41px;
  background-color: $nav__btn_background;
  color: $nav__btn_color;

  @media(max-width: 991px) {
    margin-right: 20px;
    padding: 13px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 31px;
    margin-left: 20px;
    text-transform: none;
  }

}

.main-nav__user-name {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  @media(max-width: 991px) {
    font-size: 1rem;
    margin-right: 0;
    margin-bottom: 20px;

    &:after {
      display: none;
    }
  }
}

.main-nav__user-arrow {
  @media(min-width: 992px) {
    margin-left: 10px;
    & svg {
      fill: $nav__link_color;
    }
  }

  &--open {
    svg {
      transform: rotate(180deg);
    }
  }
}

.main-nav__user {
  padding-right: 0;
  @media(max-width: 991px) {
    margin-right: 0;
    margin-left: 0;
    background: #F7F8FB;
    padding: 36px 20px;
    a {
      flex-direction: column;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .main-nav__user-dropwdown-list {
      position: relative;
      top: auto;
      right: auto;
      width: 100%;
    }
  }
}

.main-nav__user-dropwdown-list {

  @media(max-width: 450px) {
    width: fit-content;
  }
}


.modal-menu {
  position: fixed;
  width: 100vw;
  height: calc(100% + 90vh);
  top: 60px;
  left: 0;
  min-width: 375px;
  background-color: rgba(21, 36, 56, 0.5);
  overflow: hidden;
  @media(min-width: 992px) {
    display: none;
  }
}

.modal-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: $request_modal__background;
  z-index: 102;
  overflow: hidden;

  @media (max-width: 768px) {
    background: #EBEDF2;
    min-width: 375px;
    overflow: auto;
  }
}

.modal__title {
  @media (max-width: 768px) {
    color: #152438;
  }
}

.open {
  display: block;
  overflow: auto;
  height: 100vh;
  @media(min-width: 992px) {
    position: relative;
    top: 0;
    height: calc(100% + 80vh);
    overflow: auto;
  }

  @media(max-width: 790px) {
    height: calc(100% + 75vh);
  }
}

.modal-wrapper {
  width: 100%;
  z-index: 200;
  position: absolute;
  background: none;
  top: 200px;
  margin: auto;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);

  @media(max-width: 768px) {
    top: 15px;
  }
}

.header {
  min-width: 375px;
}

.red-count {
  background: #FF1037;
  border-radius: 15px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin-left: 10px;
  margin-right: 0;
}

.main-nav__user-dropwdown-list-link {
  color: $g__text_color_primary;
  padding: 5px 10px;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &:hover, &:active {
    background: $header__light_background;
    border-radius: 3px;
  }

  &--disable {
    opacity: .4;
    cursor: default;

    pointer-events: none;

    &:hover, &:active {
      cursor: default;
    }
  }

  @media(max-width: 992px) {
    color: $g__link_color;
    flex-direction: row !important;
    justify-content: space-between !important;
  }

  &--exit {
    padding: 5px 10px;
  }
}

.main-nav__user-dropwdown-count {
  background: $g__alert_color;
  border-radius: 15px;
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  color: $g__alert_text_color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  min-width: 18px;
  height: 17px;
}

.main-nav__user-dropwdown-list {
  width: 248px;
  position: absolute;
  top: 47px;
  right: 0;
  z-index: 2;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;

  &:hover {
    cursor: default;
  }

  li:hover, li:active {
    cursor: default;
  }

  & li:last-of-type {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #E8E9EB;
  }

  @media(max-width: 991px) {
    box-shadow: none;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
  }
}

.z-ind {
  z-index: initial;
}

.disable__widget {

}

.choose_org {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  color: $nav__link_color;

  ul {
    position: absolute;
    right: 20px;
    z-index: 100;
    background-color: #FFFFFF;;
    border: 1px solid #D2D2D2;
    border-radius: 5px;

    li {
      padding: 5px;
      color: $g__text_color_primary;
    }

    .list_org_item:hover {
      background-color: #efefef;
    }
  }

}

.company-list {
  position: absolute;
  top: 37px;
  left: -120%;
  z-index: 102;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  @media(max-width: 991px) {
    top: 38px;
    left: 10px
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 10px;
  }

  &__item {
    padding: 5px 10px;

    a {
      text-align: left;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: $g__text_color_primary;
      text-transform: none !important;
    }

    &--selected {
      background: $header__light_background;
      border-radius: 5px;
    }

    &:hover, &:active {
      background: $header__light_background;
      border-radius: 3px;
    }
  }
}

.main-nav__link--search {
  position: relative;
  padding-right: 15px;

  &:after {
    position: absolute;
    content: '';
    right: 0;
    top: 5px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7px;
    height: 6px;;
    background-image: url("/assets/images/icon-arrow-black.svg");
  }

  @media (max-width: 991px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main-nav__link--open {
  &:after {
    transform: rotate(180deg);
  }
}

.main-nav__link--spec {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;

  &:hover {
    border-bottom-color: transparent;
  }

  @media (max-width: 991px) {
    height: fit-content;
  }
}

.overlay--searchList {
  background: none;
  z-index: 100;
  @media (max-width: 991px) {
    display: none;
  }
}

.personal-data {
  margin-bottom: 10px;

  &__title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    color: $request_modal__title_color;
  }

  &__form {
    display: flex;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__input-wrap {
    position: relative;
    flex-grow: 1;
    margin-right: 10px;

    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &--code {
      margin-right: 0;
      max-width: 203px;

      @media (max-width: 768px) {
        margin-bottom: 0;
        max-width: none;
      }
    }
  }

  &__input {
    padding-top: 23px;
    padding-bottom: 24px;
    color: #162941;

    &--code {
      &.successCode {
        border: 1px solid $g__success_color;
      }

      &.errorCode {
        border: 1px solid $g__alert_color;
      }
    }

    &:focus,
    &:valid {
      padding-top: 33px;
      padding-bottom: 14px;
    }

    &:focus + .personal-data__label,
    &:valid + .personal-data__label {
      top: 14px;
      font-size: 13px;
      line-height: 15px;
      transform: none;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 18px;
    line-height: 21px;
    color: #162941;
    opacity: 0.5;
  }

  &__btn-wrap {
    display: flex;
    flex-shrink: 0;
    min-width: 203px;
  }

  &__button {
    flex-grow: 1;
    padding-top: 24px;
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
  }

  &__desc-wrap {
    position: relative;
    padding-top: 70px;

    @media (max-width: 768px) {
      padding-top: 80px;
    }
  }

  &__desc {
    position: absolute;
    top: 15px;

    & p {
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 15px;
      color: $g__text_color_secondary;
    }

    & a {
      font-size: 13px;
      line-height: 15px;
      text-decoration-line: underline;
      color: $g__link_color;
    }
  }

  & .success {
    padding: 19px;
    background: $g__success_background;
    border: 1px solid $g__success_color;
    box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;

    & .success__title-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      & h3 {
        font-size: 18px;
        line-height: 24px;
        color: $g__success_color;
      }

      & p.success__desc {
        margin-bottom: 0;
      }
    }

    & button {
      position: relative;
      width: 24px;
      height: 24px;
      background: transparent;
      border: none;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        height: 24px;
        width: 2px;
        background-color: $g__link_color;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.error {
  color: red;
}

.error_validation {
  border: 1px solid red;
}

.modal__container {
  overflow: auto;
  height: 100vh;
}

.check-label {
  svg {
    fill: #FFFFFF;
    path {
      fill: #FFFFFF;
    }
  }
}
