<div class="screenshots">
  <div id="payment-form" style="min-height: 480px;" [class.disabled]="yaLastPaymentId && !payer">
    <div *ngIf="!yaLastPaymentId" style="padding-top: 190px;">
      <div class="loader"></div>
    </div>
  </div>
</div>