@import 'variables';

.about-risk__title {
  color: #152438;
  margin-bottom: 15px;

  @media(max-width: 767px) {
    margin-bottom: 10px;
  }
}

.about-risk__source-wrap {
  @media(max-width: 767px) {
    background-color: #F7F8FB;

    &--your {
      background-color: #fff;
    }
  }
}

.about-risk__source {
  margin-bottom: 15px;

  @media(max-width: 767px) {
    margin-bottom: 0;
  }
}

.about-risk__date {
  padding-left: 10px;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #F4F6FA;

  &--your {
    padding-left: 0;
  }

  & p {
    font-size: 18px;
    line-height: 24px;
  }

  @media(max-width: 767px) {
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 0;

    & p {
      font-size: 16px;
      line-height: 20px;
    }

    &--your {
      padding-left: 10px;
      background-color: #fff;
    }
  }
}

.about-risk__applicant {
  margin: 0 0 20px;
  padding-left: 10px;

  @media(max-width: 767px) {
    background-color: #F4F6FA;

    & p {
      margin-bottom: 0;
    }
  }
}

.risk-modal__btn-wrapper {
  display: flex;

  .risk-modal__btn--decide {
    order: 1;
    text-transform: none;
    background: $g__btn_primary_background;
  }

  .risk-modal__btn--ask {
    order: 2;
    font-size: 15px;
    line-height: 18px;
    color: $g__btn_primary_background;
    background: #ffffff;
    border: 1px solid $g__btn_primary_background;
    text-transform: none;
  }

  @media(max-width: 767px) {
    .risk-modal__btn--decide {
      margin-left: 0px;
    }
  }
}


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.risk-modal__footer {
  padding: 0;
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;
}

.risk-modal__btn-wrapper[_ngcontent-esw-c99] {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.risk-modal__btn-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.risk-modal__btn-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 20px;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.success_header {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  color: #152438;
  background-color: #f8f8f8;
  height: 50px;

  @media(max-width: 767px) {
    border: none;
    background: none;
  }

  h3 {
    margin-top: 10px;
  }
}

.risk-modal__close {
  @media (max-width: 767px) {
    top: 7px;
    right: 7px;
  }
}
