:host {
  display: block;
  width: 100%;

  max-height: 50px;
}

:host.size--md {
  .search__btn-block {
    width: 356px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.search__btn-block__icon-date .search__label {
  padding-left: 30px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/images/calendar.svg");
    width: 20px;
    height: 22px;
    top: -3px;
    left: 0;
  }
}

.search__btn-block {
  @media (max-width: 767px) {
    min-height: 50px;
  }
}
