@import 'variables';

::ng-deep {
  // elements search
  .main__form {
    //left: 0 !important;
    left: 0;
  }
  .ip-id_search_container {
    margin-bottom: 10px !important;
  }
}

.heading-h1 {
  margin-top: 36px;

  &--red{
    color: $g__alert_color;
  }
}
.form-card {
  &:hover {
    border: 1px solid $g__link_color;
  }
}
.image-application {
  width: 230px;
  height: 70px;
  margin: auto;
  img {
    max-width: 230px;
    max-height: 70px;
  }
}
.image-text {
  color: black !important;
  text-align: center;
}

.img-downloaded {
  font-size: 13px;
}
.image-error {
  color: red;
  font-size: 13px
}
.okved {
  margin-top: 20px;
  .okved-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #929FAB;
    padding-bottom: 5px;
  }
  .okved-codes {
    display: flex;
    flex-wrap: wrap;
    .okved-code {
      background: #F4F6FA;
      border-radius: 5px;
      text-wrap: none;
      margin: 0 10px 10px 0px;
      padding: 5px;
      position: relative;
      cursor: default;
      .okved-tooltip {
        display: none;
        position: absolute;
        bottom: 33px;
        cursor: pointer;
        background: #FFFFFF;
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-sizing: border-box;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
        max-width: 370px;
        z-index: 2;
      }
      &:hover {
        background: #DFE2E8;
        .okved-tooltip {
          display: block;
        }
      }
    }
  }
}
.back-button {
  position: absolute;
  left: 0;
  top: 50%;
  width: 84px;
  height: 21px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding-left: 41px;
  .back-icon{
    min-width: 24px;
    min-height: 15px;
    background-image: url("/assets/images/icon-arrow-grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
  }
  .text {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #79818B;
  }

}
//.rates {
//  display: flex;
//  flex-direction: row;
//  justify-content: center;
//  margin-bottom: 20px;
//
//  @media (max-width: 767px) {
//    width: 100%;
//    flex-direction: column;
//    justify-content: center;
//    margin-bottom: 0;
//  }
//
//  .rate-card {
//    width: 33%;
//    max-width: 260px;
//    height: 562px;
//    background: #F2F4F8;
//    box-sizing: border-box;
//    border-radius: 5px;
//    border: 1px solid rgba(21, 36, 56, 0.15);
//    margin-right: 20px;
//    &:last-child {
//      margin-right: 0;
//    }
//
//    @media (max-width: 767px) {
//      width: 100%;
//      height: auto;
//      max-width: none;
//      margin: 0 auto 15px;
//    }
//
//    .info-icon {
//      min-width: 20px;
//      min-height: 20px;
//      max-height: 20px;
//      background-image: url("/assets/images/info-icon.svg");
//      background-repeat: no-repeat;
//      background-size: contain;
//      position: relative;
//      margin-left: 5px;
//      cursor: pointer;
//      .info-tooltip {
//        position: absolute;
//        display: none;
//        background-color: #FFFFFF;
//        border: 1px solid rgba(21, 36, 56, 0.15);
//        box-sizing: border-box;
//        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
//        border-radius: 5px;
//        padding: 10px;
//        max-width: 212px;
//        width: 212px;
//        z-index: 2;
//        bottom: 30px;
//        left: 50%;
//        transform: translateX(-50%);
//
//        @media (max-width: 767px) {
//          left: auto;
//          right: 0;
//          transform: none;
//        }
//      }
//      &:hover {
//        background-image: url("/assets/images/info-icon-active.svg");
//        .info-tooltip {
//          display: block;
//        }
//      }
//    }
//
//    & hr {
//      margin-top: 4px;
//    }
//
//    &--highlight {
//      position: relative;
//      background: #FFFFFF;
//      box-shadow: 0px 3px 8px rgba(0, 175, 236, 0.2);
//
//      &::before {
//        content: "";
//        position: absolute;
//        top: 0;
//        left: 0;
//        width: 100%;
//        height: 100%;
//        border: 2px solid #00AFEC;
//        border-radius: 5px;
//      }
//
//      &::after {
//        content: "Выбран";
//        position: absolute;
//        top: -13px;
//        left: 0;
//        right: 0;
//        padding-top: 2px;
//        padding-bottom: 2px;
//        background: #00AFEC;
//        border-radius: 5px 5px 0 0;
//        font-weight: 700;
//        font-size: 12px;
//        line-height: 20px;
//        letter-spacing: 0.1em;
//        text-align: center;
//        text-transform: uppercase;
//        color: #FFFFFF;
//      }
//    }
//
//    &:hover {
//      background: #FFFFFF;
//    }
//
//    &__name {
//      margin-top: 30px;
//      text-align: center;
//      font-family: Roboto, serif;
//      font-style: normal;
//      font-weight: 500;
//      font-size: 18px;
//      line-height: 21px;
//      color: #152438;
//    }
//    .progress-risk {
//      padding-top: 20px;
//      height: 200px;
//      text-align: center;
//      .text {
//        position: relative;
//        top: -18px;
//        display: flex;
//        justify-content: center;
//        font-weight: normal;
//        font-size: 16px;
//        color: #152438;
//      }
//    }
//    .price {
//      padding: 15px 20px 0;
//      display: flex;
//      flex-direction: row;
//      justify-content: space-between;
//      align-items: baseline;
//      .old-price {
//        line-height: 20px;
//        text-decoration-line: line-through;
//        color: #929FAB;
//      }
//      .discount {
//        line-height: 20px;
//        margin-right: 30px;
//        margin-left: 15px;
//        color: #FF1037;
//
//        @media (max-width: 991px) {
//          margin: 0;
//        }
//
//        @media (max-width: 767px) {
//          flex-grow: 1;
//          text-align: right;
//          margin-right: 30px;
//          margin-left: 15px;
//        }
//      }
//
//      &__full {
//        font-family: Roboto, serif;
//        font-style: normal;
//        font-weight: bold;
//        font-size: 20px;
//        line-height: 20px;
//        color: #152438;
//        text-align: right;
//      }
//    }
//    .choosed-rate-btn {
//      width: 219px;
//      height: 50px;
//      border: 1px solid #00AFEC;
//      box-sizing: border-box;
//      border-radius: 4px;
//      text-transform: uppercase;
//      color: #00AFEC;
//      margin: auto;
//      text-align: center;
//      padding-top: 15px;
//      font-weight: bold;
//      font-size: 15px;
//      cursor: pointer;
//      &:hover {
//        background-color: #00AFEC;
//        color: #FFFFFF;
//      }
//    }
//    .rate-description {
//      font-family: Roboto, serif;
//      font-style: normal;
//      color: #152438;
//      padding: 20px;
//
//      & hr {
//        margin-top: 10px;
//        margin-bottom: 10px;
//      }
//      &__title {
//        font-weight: bold;
//        font-size: 13px;
//      }
//      &__item {
//        font-weight: normal;
//        font-size: 15px;
//        display: flex;
//        justify-content: space-between;
//        padding: 3px 0;
//
//      }
//    }
//  }
//
//}
.duty {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 30px;
  background: #F2F4F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;

  @media (max-width: 576px) {
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__text {
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  &__description {
    font-size: 13px;
    line-height: 18px;
    color: #79818B;
  }
}

.rate__btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: flex-start;
  }

  & .back-button {
    position: static;

    @media (max-width: 576px) {
      order: 2;
    }
  }
}

//width: 221px;
//height: 58px;
//padding: 20px 25px;
//
//@media (max-width: 576px) {
//  width: 200px;
//  padding: 15px;
//  height: auto;
//}
//
//  .btn-body {
//    display: flex;
//    justify-content: center;
//    .arrow {
//      margin-left: 12px;
//    }
//    .repeat {
//      margin-left: 20px
//    }
//  }
//}

.error-message {
  color: red;
  text-align: end;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rate__amount {
  display: flex;
  align-items: center;

  @media (max-width: 576px) {
    margin-bottom: 20px;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
  }
}

.rate__amount-price {
  margin: 0;
  font-size: 15px;
  line-height: 20px;

  @media (max-width: 576px) {
    text-align: left;
  }

  &--old {
    color: #929FAB;
    text-decoration: line-through;
  }

  &--new {
    font-weight: 700;
  }
}

.duty__price-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 767px) {
    width: 50%;
  }

  @media (max-width: 576px) {
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
  }
}

.duty__price {
  display: flex;
  margin: 0 0 9px;

  @media (max-width: 576px) {
    flex-grow: 1;
    margin: 0 30px 0 0;
    justify-content: space-between;
  }
}

.duty__old-price {
  margin-right: 10px;
  font-size: 15px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: #929FAB;
}

.duty__discount {
  font-size: 15px;
  line-height: 20px;
  color: #FF1037;
}

.duty__full {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

// loader
.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
