.access__title-wrap {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;

  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.access__title {
  margin: 0;
  font-size: 25px;
  line-height: 32px;

  @media (max-width: 767px) {
    flex-direction: column;
    font-size: 20px;
    line-height: 28px;
  }
}

.access__select {
  font-size: 25px;
  line-height: 32px;
  color: #00AFEC;
  border: none;
  border-bottom: 1px dashed #00AFEC;
  cursor: pointer;
}
