.user-card {
  background-color: #F7F8FB;
  border-bottom: 1px solid #CBCFD6;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0;
  border-bottom: 1px solid #D5D6DC;

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.user__wrap {
  padding: 0;
}

.user__button-block {
  margin-top: 20px;
  padding: 10px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
  background-color: transparent;
  border: 1px solid #929FAB;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: 991px) {
    margin-top: 10px;
  }

  @media (max-width: 767px) {
    width: 100%;
    max-width: 335px;
  }
}

.user__settings-wrap {
  display: flex;
  align-items: baseline;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: 991px) {
    flex-direction: column;
  }

  @media (max-width: 767px) {
    padding-top: 20px;
  }
}

.user__settings-desc {
  margin: 0;
  font-size: 25px;
  line-height: 32px;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.user-card__container {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #FFFFFF;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.confirm {
  padding: 42px 50px 50px;
  margin-bottom: 40px;
  background: #F7F8FB;
  border: 1px solid rgba(21, 36, 56, 0.1);
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  @media (max-width: 991px) {
    padding: 30px;
  }

  @media (max-width: 767px) {
    padding: 10px 15px;
  }
}

.confirm__title {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.confirm__steps {
  display: flex;

  @media (max-width: 767px) {
    display: block;
  }
}

.confirm__step {
  width: 50%;
  box-sizing: border-box;

  &--1 {
    padding-right: 50px;
    border-right: 1px solid #E0E3E8;
  }

  &--2 {
    padding-left: 50px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 0;
    border: 0;
  }
}

.confirm__step-title {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #929FAB;
}

.confirm__desc {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #152438;
}

.confirm__attorney {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 15px 17px;
  margin-top: 13px;
  max-width: 387px;
  background: #FFFFFF;
  border: 1px solid #E9ECF2;
  box-sizing: border-box;
  border-radius: 5px;

  @media (max-width: 767px) {
    width: 100%;
    max-width: none;
    margin: 15px 0;
    padding: 5px 5px 10px 15px;
  }
}

.confirm__attorney-desc {
  margin: 0;
}

.confirm__attorney-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #152438;

  @media (max-width: 767px) {
    font-size: 15px;
    line-height: 20px;
  }
}

.confirm__attorney-doc {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #929FAB;

  @media (max-width: 767px) {
    font-size: 15px;
    line-height: 20px;
  }
}

.confirm__file {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.confirm__file-del {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("/assets/icons/icon-delete.svg");
  }
}

.confirm__add {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 15px;
  margin-top: 15px;
  border: 1px solid #00AFEC;
  box-sizing: border-box;
  border-radius: 5px;
}

.confirm__add-img {
  margin-right: 15px;
}

.confirm__add-label {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: #00AFEC;
  cursor: pointer;
}

.confirm__add-desc {
  font-size: 16px;
  line-height: 20px;
  color: #929FAB;
}

.confirm-tooltip {
  position: absolute;
  top: 9px;
  right: 9px;

  &:hover {
    & .confirm-tooltip__wrap {
      bottom: 30px;
      opacity: 1;
      visibility: visible;
      transition: all 0.2s ease;
    }
  }
}

.confirm-tooltip__block {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 13px;
  line-height: 16px;
  color: #00AFEC;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.confirm-tooltip__wrap {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 212px;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  @media (max-width: 1240px) {
    left: 40px;
    transform: translateX(-100%);
  }
}

.confirm__button-send-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  @media (max-width: 767px) {
    justify-content: flex-start;
  }
}

.user-card__button-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    margin-top: 20px;
    display: block;
  }
}

.user-card__button {
  display: inline-block;
  padding: 15px 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background: #00AFEC;
  border: 1px solid #00AFEC;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: 767px) {
    width: 100%;
    max-width: 335px;
    display: block;
    margin: 0 auto;
  }

  &--revoke {
    color: #FF1037;
    background-color: transparent;
    border: 1px solid #FF1037;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  &--send {
    @media (max-width: 992px) {
      display: block;
      width: 100%;
      margin: 0;
    }
  }
}

//Заблокированный пользователь

.user-block {
  & .user__name {
    color: #929FAB;
  }

  & .user__links {
    color: #929FAB;
    pointer-events: none;
  }

  & .user__settings-desc {
    color: #929FAB;
  }

  & .organization-dropdown {
    pointer-events: none;
  }

  & .organization-dropdown__text {
    color: #929FAB;
    border-bottom: 1px dashed #929FAB;
  }

  & .user-card__button {
    background: #929FAB;
    border: 1px solid #929FAB;
    pointer-events: none;
  }

  & .user-card__button--revoke {
    background: transparent;
    color: #929FAB;
  }
}

.user__button-block--unblock {
  color: #00AFEC;
  border: 1px solid #00AFEC;
}

.user__info-item--block {
  color: #FF1037;
}
