<div class="table">
  <div class="table__wrapper table__wrapper--brandsName">
    <div *ngIf="values" class="table-portfolio">
      <p style="width: 34.5%;">Наименование</p>
      <p style="width: 33.5%;">Правообладатель</p>
      <p style="width: 21%;">Дата регистрации</p>
      <p style="width: 128px;">Статус</p>
    </div>

    <div *ngFor="let brandsName of values; index as i"
         class="table__row row-white row-white--cont">

      <div class="row-white__title-text name">
        <p class="row-white__text ">{{brandsName.name}}</p>
      </div>

      <div class="row-white__title-text rightsHolder">
        <span class="row-white__mobile-text">Правообладатель</span>
        <p class="row-white__text">{{ brandsName.rightsHolder }}</p>
      </div>

      <div class="row-white__title-text date">
        <span class="row-white__mobile-text">Действует до</span>
        <p class="row-white__text ">{{ brandsName.registrationDate | date:'dd.MM.yyyy' }}</p>
      </div>

      <div class="row-white__title-text row-white__title-text--state state" >
        <button *ngIf="i < 2 " class="state__btn state__btn--valid">? Действует</button>
        <button *ngIf="i >= 2" class="state__btn state__btn--invalid">? Не действует</button>
      </div>

    </div>
  </div>
</div>