@import 'projects/themes/1c-start/variables';

.name {
  grid-area: name;
  width: 33%;
  padding-right: 20px;

  @media (max-width: 1260px) {
    padding: 0 0 10px;
    width: 100%;

    p{
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.rightsHolder {
  grid-area: rightsHolder;
  width: 33%;
  padding-right: 20px;

  @media (max-width: 1260px) {
    padding: 0 0 10px;
    width: 100%;
  }
}


.date {
  grid-area: date;
  width: 20%;

  @media (max-width: 1260px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }
}

.state{
  padding-right: 10px;

  button{
    margin-left: auto;
  }

  @media (max-width: 1260px) {
    padding: 0 0 10px;
    width: 100%;

    button{
      margin-left: initial;
    }
  }
}

.search__btn-block{
  min-width: 219px;
}

.row-white {
  align-items: flex-start;

  @media (max-width: 1260px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
     'state'
     'name'
     'rightsHolder'
     'date';
  }
}