<section class="section-position ">
  <div class="container container--small ">
    <div *ngIf="first" class="payment">
      <div  class="add-object " >
<!--        <h2 class="add-object__header" style="margin-bottom: 32px;">Выбор способа оплаты</h2>-->
        <div class="add-object__btns-pay-wrapper">
          <button class="add-object__btns-pay " (click)="online=!online; bill=!bill" [class.add-object__btns-pay--blue]="online">Оплата онлайн</button>
          <button class="add-object__btns-pay" (click)="online=!online; bill=!bill" [class.add-object__btns-pay--blue]="bill">Выставить счет для безналичной оплаты</button>
        </div>
        <div *ngIf="online==true">
          <div  class="payment__component">
            <p>Компонент яндекс денег</p>
          </div>
          <div class="payment__btn-wrapper">
            <button class="btn-blue-arrow" style="margin-top: 20px" (click)="second=true; first=false" >Продолжить</button>
          </div>
        </div>
        <form *ngIf="bill==true" class="form" >
          <div  class="form__group">
            <div class="form__input-wrap">
              <input class="form__input field" type="text" required formControlName="name">
              <span class="form__input-label">ИНН</span>
            </div>
          </div>
          <div  class="form__group">
            <div class="form__input-wrap">
              <input class="form__input field" type="text" required formControlName="name">
              <span class="form__input-label">ОГРН</span>
            </div>
          </div>
          <div  class="form__group">
            <div class="form__input-wrap">
              <input class="form__input field" type="text" required formControlName="name">
              <span class="form__input-label">Наименование юрлица или ИП</span>
            </div>
          </div>
          <div  class="form__group">
            <div class="form__input-wrap">
              <input class="form__input field" type="text" required formControlName="name">
              <span class="form__input-label">Юридический адрес</span>
            </div>
          </div>
          <div  class="form__group">
            <div class="form__input-wrap">
              <input class="form__input field" type="text" required formControlName="name">
              <span class="form__input-label">Сумма</span>
            </div>
          </div>
          <div class="payment__btn-wrapper">
            <button class="btn-blue-arrow" (click)="second=true; first=false">Выставить счет</button>
          </div>
        </form>
      </div>

    </div>
    <div *ngIf="second" class="payment">
      <h1>Дополнительное соглашение оплачено</h1>
      <a class="payment__link" routerLink="/index/item">
        <img src="/assets/images/logo_gardium.svg" width="50">
        <p>Мы начали подготовку дополнительного соглашения и его согласования с должником.
          За ходом оказания услуг вы можете следить в личном кабинете 24/7.
        </p>
      </a>
    </div>
  </div>
</section>
