<button type="button" class="forms-search__select-big-wrapper" [class.rotate-after]="open === true">
  <input (click)="changeDropdown()" class="forms-search__select" id="selectIndex" type="text" value="{{selected.text}}" readonly>
  <div *ngIf="open === true" class="forms-search__select-wrapper">
    <ul class="forms-search__select">
      <li
        *ngFor="let option of options"
        [id]="option.index + option.id"
        class="forms-search__select-options"
        [class.forms-search__select-options--selected]="option === selected"
        (click)="changeOption(option)"
      >{{option.text}}</li>
    </ul>
  </div>
  <div *ngIf="open === true" class="overlay overlay--transparent" (click)="changeDropdown()"></div>
</button>
