@import 'variables';

.forms-search {

  @media (max-width: 980px) {
    display: flex;
    flex-direction: column;
  }

  &__select-big-wrapper {
    width: 280px;
    position: relative;
    background: none;
    background: #FFFFFF;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0;
    border: 1px solid $g__outline_color;
    box-shadow: 0 2px 4px rgb(80 80 80 / 15%);
    cursor: pointer;

    @media (max-width: 980px) {
      margin-bottom: 20px;
      width: 100%;
      margin-right: 0;
    }

    &:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 6px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url('./../../../../../app-ipid/src/assets/icons/arr-down.svg');
      right: 15px;
      top: 46%;
      z-index: 10;

      @media (max-width: 980px) {
        right: 22px;
        top: 22px;
      }
    }
  }

  &__select-wrapper {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 61px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
  }

  &__select {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: $g__text_color_primary;
    padding: 15px 10px;
    width: 100%;
    margin-right: 10px;
    background-color: white;
    position: relative;
    z-index: 10;
    border-radius: 5px;
    cursor: pointer;

    @media (max-width: 980px) {
      padding: 15px;
      font-size: 16px;
      line-height: 20px;
      box-shadow: 0 2px 4px $g__outline_color;
    }
  }

  &__table-search {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    width: 100%;
    top: 51px;
    display: none;
  }

  &__text {
    position: relative;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgb(80 80 80 / 15%);
    border-radius: 5px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: $g__text_color_primary;
    padding: 16px 19px;
    display: flex;
    flex-grow: 1;

    &::placeholder {
      font-size: 15px;
      line-height: 18px;
      font-family: inherit;
      color: $g__text_color_secondary;
    }

    @media (max-width: 980px) {
      padding: 15px;
      font-size: 16px;
      line-height: 20px;

      &::placeholder {
        font-size: 12px;
      }
    }


    &--wrapper {
      display: flex;
      flex-grow: 1;
      margin-right: 10px;
      position: relative;
      border: none;
      padding: 0;
      overflow-x: hidden;

      .legal-name {
        position: absolute;
        color: #AAAAAA;
        font-size: 15px;
        top: 17px;
        z-index: 10;
        white-space: nowrap;
      }
    }
  }


  &__btn {
    background-color: $g__btn_primary_background;
    border: 1px solid $g__btn_primary_background;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 64px;
    color: $g__btn_primary_color;
    cursor: pointer;

    @media (max-width: 980px) {
      font-size: 18px;
      line-height: 24px;
      text-transform: none;
      padding: 12px;
    }
  }

  &__select-options {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: $g__text_color_primary;
    padding: 10px;

    &--selected {
      background: $header__light_background;
    }
  }
}
.overlay--transparent {
  background: none;
  z-index: 8;
}
