<div class="container container--small">
  <div class="payment payment--no-padding">
    <h1>Подготовка претензии</h1>
    <a class="payment__link" routerLink="/index">
      <img [src]="logo2path | proxyImage">
      <p>Подготовкой претензии уже занимается наш юрист. При необходимости вам поступит запрос на предоставление дополнительных документов.
        Отслеживать статус работы над претензией можно в Личном кабинете.
      </p>
    </a>
  </div>
</div>
