$gray:                             #929FAB;

$white:                            #ffffff;
$black:                            #000000;
$text-color:                       #152438;
$secondary-text-color:             #162941;
$tertiary-text-color:              $gray;
$highlighted-color:                #00AFEC;
$highlighted-color-secondary:      #FF1037;

//Кнопки
$g__link_color: #00AFEC; // Цвет ссылок
$g__btn_attr_border_color: #79818B; // Цвет обводки атрибутивных кнопок в формах
$g__btn_attr_text_color: #79818B; // Цвет текста атрибутивных кнопок в формах

$request_modal__item_text_color:  #505050; // Цвет текста в неактивной плашке в модалке подать заявку
$request_modal__item_hovered_color: #505050; // Цвет текста и иконки в плашке при наведении в модалке подать заявку
$request_modal__item_icon_color: #FF1037; // Цвет иконки в неактивной плашке в модалке подать заявку
$request_modal__item_hovered_background: #FBDD60; // Цвет фона плашки при наведении в модалке подать заявку
$g__form_background: #F7F8FB; // Цвет фона формы

// Шрифты
$primary-font-family:              Roboto,"Helvetica Neue",Arial,sans-serif;
$secondary-font-family:            "Roboto Condensed","Helvetica Neue",Arial,sans-serif;
$base-font-size:                   15px;

// Брейкпоинты
$screen-xs:                        0;
$screen-sm:                        480px;
$screen-md:                        768px;
$screen-lg:                        992px;
$screen-xl:                        1200px;

//Сетка

$grid-gutter-width:                20px;
$gutter:                           $grid-gutter-width;
$grid-columns:                     12;
$columns:                          $grid-columns;
