/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@import "./fonts/fonts.scss";
@import "normalize";
@import "./variables";

@import "./global/_mixins.scss";
@import "./global/buttons.scss";
@import "./global/footer.scss";
@import "./global/global.scss";
@import "./global/header.scss";
@import "./global/heading.scss";
@import "./global/helpers.scss";
@import "./global/layout.scss";
@import "./global/links.scss";
@import "./global/main-nav.scss";

@import "./blocks/btn-wrap";
@import "./blocks/company-info";
@import "./blocks/field";
@import "./blocks/form";
@import "./blocks/form-card";
@import "./blocks/form-section";
@import "./blocks/highlighted-remark";
@import "./blocks/info-card";
@import "./blocks/info-plate";
@import "./blocks/loading";
@import "./blocks/modal";
@import "./blocks/price-card";
@import "./blocks/price-section";
@import "./blocks/progress-card";
@import "./blocks/screenshots";
@import "./blocks/section";
@import "./blocks/service-card";
@import "./blocks/service-cards";
@import "./blocks/steps";
@import "./blocks/subtitle";
@import "./blocks/success-remark";
@import "./blocks/tabs";
@import "./blocks/tooltip";
@import "./blocks/monitoring-modal";
@import "./blocks/risk-modal";
@import "./blocks/classes";
@import "./blocks/pay-modal";
@import "./blocks/add-object";
@import "./blocks/expert";
@import "./blocks/chart";
@import "./blocks/controls";
@import "./blocks/search";
@import "./blocks/index-debitorka";
@import "../../../shared/scss/materialdesignicons.scss";
@import "./blocks/attention";
@import "./blocks/prompt";
@import "./blocks/tariff";
@import "./blocks/input-checkbox";
@import "./blocks/input-text";
@import "./blocks/input-textarea";
@import "./blocks/payment";
@import "./blocks/modal-universal";
@import "./blocks/add-file-form";
@import "./blocks/user-header";
@import "./blocks/user-profile-table";
@import "./blocks/dropdown-select";
@import "./blocks/filter-select";
@import "./blocks/header-court";
@import "./blocks/hidden";
@import "./blocks/docs";
@import "./blocks/events-steps";
@import "./blocks/hidden-table";
@import "./blocks/inputs";
@import "./blocks/add-file";
@import "./node_modules/@mdi/font/scss/materialdesignicons.scss";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
.eye-toggle {
  font-size: 27px !important;
  right: 20px;
  top: 20px;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
}
