<div class="container container--small tariff" [class.container--small-two]="tariffCounter === 2">
  <div tabindex="0" class="tariff__card-wrapper"
       [class.tariff__card-wrapper--three]="tariffCounter === 3"
       [class.tariff__card-wrapper--alone]="tariffCounter === 1" (click)="selectTariff(rates?.opty)">
    <div class="tariff__choice" [class.tariff__choice--display]="tariff === 'opt'">Выбран</div>
    <div class="tariff__card" [class.tariff__card--chosen]="tariff === 'opt'" (click)="getCurrentTariff('opt')">
      <div class="tariff__head">
        <h2>{{rates?.opty?.title}}</h2>
        <span class="tariff__head--hit" *ngIf="rates?.opty?.hit"></span>
        <div class="tariff__prices">
          <p class="tariff__price">{{(+rates?.opty?.sumDiscount).toLocaleString('ru')}} ₽</p>
        </div>
      </div>
      <div class="tariff__addition">
        <h3>В тариф включено</h3>
        <ul *ngFor="let item of rates?.opty?.descriptions" class="tariff__list">
          <li>{{item.description}}
            <span class="prompt prompt__question">?
              <span class="prompt__hidden">
                <p>{{item.hint}}</p>
              </span>
                </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div tabindex="0" class="tariff__card-wrapper"
       [class.tariff__card-wrapper--three]="tariffCounter === 3"
       [class.tariff__card-wrapper--alone]="tariffCounter === 1"
       (click)="selectTariff(rates?.max)">
    <div class="tariff__choice"
         [class.tariff__choice--display]="tariff === 'max'">
      Выбран
    </div>
    <div class="tariff__card"
         [class.tariff__card--chosen]="tariff === 'max'"
         (click)="getCurrentTariff('max')">
      <div class="tariff__head">
        <h2>{{rates?.max?.title}}</h2>
        <span class="tariff__head--hit" *ngIf="rates?.max?.hit"></span>
        <div class="tariff__prices">
          <p class="tariff__price">{{(+rates?.max?.sumDiscount).toLocaleString('ru')}} ₽</p>
        </div>
      </div>
      <div class="tariff__addition">
        <h3>Плюс к тарифу «Оптимальный»</h3>
        <ul *ngFor="let item of rates?.max?.descriptions" class="tariff__list">
          <li>{{item.description}}
            <span class="prompt prompt__question">?
                <span class="prompt__hidden">
                  <p>{{item.hint}}</p>
                </span>
                </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="tariffCounter === 3" tabindex="0" class="tariff__card-wrapper"
       [class.tariff__card-wrapper--three]="tariffCounter === 3"
       [class.tariff__card-wrapper--alone]="tariffCounter === 1">
    <div class="tariff__choice" [class.tariff__choice--display]="tariff === 'all'">Выбран</div>
    <div class="tariff__card" [class.tariff__card--chosen]="tariff === 'all'" (click)="getCurrentTariff('all')">
      <div class="tariff__head tariff__head--hit">
        <h2>Все включено</h2>
        <div class="tariff__prices">
          <p class="tariff__old-price">21 890 ₽</p>
          <p class="tariff__price" [class.tariff__price--red]="true">16 890 ₽</p>
        </div>
      </div>
      <div class="tariff__addition">
        <h3>Плюс к тарифу «Оптимальный»</h3>
        <ul class="tariff__list">
          <li>Розыск открытых счетов должника во всех банках
            <span class="prompt prompt__question">?
                    <span class="prompt__hidden">
                      <p>???</p>
                    </span>
                  </span>
          </li>
          <li>Подготовка заявления на взыскание и подача в банк
            <span class="prompt prompt__question">?
                    <span class="prompt__hidden">
                      <p>???</p>
                    </span>
                  </span>
          </li>
          <li>Предъявление исполнительного листа по очередно в каждый банк
            <span class="prompt prompt__question">?
                    <span class="prompt__hidden">
                      <p>???</p>
                    </span>
                  </span>
          </li>
          <li>Переговоры с должником по фактическому исполнению судебного решения
            <span class="prompt prompt__question">?
                    <span class="prompt__hidden">
                      <p>???</p>
                    </span>
                  </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container container--small">
  <div class="tariff-footer tariff-footer__position">
    <a class="tariff-footer__back" (click)="backStep()">Назад</a>
    <div *ngIf="tariff" class="tariff-footer__total-wrapper">
      <div class="tariff-footer__total">
        <p>Итого к оплате: <b>{{(+paymentSum ? +paymentSum : +requestClaimService.paymentSum).toLocaleString('ru')}} ₽</b></p>
        <!--          <span>Будет включена в сумму иска</span>-->
      </div>
      <button class="btn-blue-arrow" type="button" (click)="nextStep()">Оплатить</button>
    </div>
  </div>
</div>
