@import "projects/app-debit/src/scss/_variables";
.section-position--tariff{
  padding: 40px;
  flex-direction: column;
  flex-grow: 1;
  //height: 100%;

  @media (max-width: 767px){
    padding: 20px;
  }
}

.prompt__question {
  right: 0;
  top: 12px;
}

.tariff{
  margin-bottom: 50px;
}

.container--small h1{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #152438;
  margin-bottom: 20px;
}

.attention--in-card {
  margin-bottom: 20px;
}

.tariff-footer{
  display: flex;

  &__text{
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #79818B;
  }

  a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #79818B;
    position: relative;
    padding-left: 30px;

    @media (max-width: 767px){
      margin-bottom: 20px;
    }


    &::after{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 20px;
      height: 100%;
      background-image: url("/assets/images/icon-arrow-gray.svg");
      left: 0;
      top: -4;
      transform: rotate(180deg);
    }
  }

  &__position{
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
  }

  &__block{
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: space-around;
    padding: 15px 5px;
    margin-bottom: 10px;
  }

  &__info{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;

    span{
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: #929FAB;
      margin-bottom: 2px;
    }

    p{
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #152438;
      margin-bottom: 0;
    }
  }

  &__total-wrapper{
    display: flex;
    align-items: center;
  }

  &__total{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    margin-right: 30px;

    p{
      font-size: 18px;
      line-height: 20px;
      text-align: right;
      margin-bottom: 7px;
    }

    span{
      font-size: 13px;
      line-height: 20px;
      text-align: right;
      color: #929FAB;
    }
  }

  &__btn{
    background: #00AFEC;
    border-radius: 4px;
    padding: 20px 69px 20px 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 24px;
      height: 100%;
      background-image: url("/assets/images/icon-arrow-white.svg");
      right: 25px;
      top: 23px;
    }

    &:hover{
      background: #0D8EBB;
    }
  }
}

.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}


