@import 'variables';

.risks-item__title {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 25px;
  padding: 0 20px 15px;
  border-bottom: 1px solid rgba(21, 36, 56, 0.15);

  @media (max-width: 767px) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 18px;
    padding: 0 0 20px;
  }
}

.risks-item__total-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &:first-of-type {
    width: 48%;

    @media (max-width: 767px) {
      width: 54%;
    }
  }
}

.risks-item__total {
  margin-right: 12px;
  font-size: 60px;
  line-height: 60px;
  color: $g__text_color_primary;

  @media (max-width: 767px) {
    margin-right: 0;
    font-size: 50px;
    line-height: 60px;
  }
}

.risks-item__total-desc {
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
  }
}
