@import 'variables';

.tabs-act {
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.tabs__item {
  padding: 0;
  @media (max-width: 768px) {
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-right: 0;
  }
}

.tabs__item a {
  @media (max-width: 768px) {
    background: #F7F8FB;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 13px;
    line-height: 18px;

    &.is-active {
      @media (max-width: 768px) {
        background: #FFFFFF;
      }
    }
  }
}


.is-active {
  @media (max-width: 768px) {
    border-bottom: none;
    color: #00AFEC;
  }
}

.tabs__list {
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}

.tabs__list--half-cols {
  margin-right: -5px;
  margin-left: -5px;
}

