$gray:                             #929FAB;

$white:                            #ffffff;
$black:                            #000000;
$text-color:                       #152438;
$secondary-text-color:             #162941;
$tertiary-text-color:              $gray;
$highlighted-color:                #00AFEC;
$highlighted-color-secondary:      #FF1037;

// Шрифты
$primary-font-family:              Roboto,"Helvetica Neue",Arial,sans-serif;
$secondary-font-family:            "Roboto Condensed","Helvetica Neue",Arial,sans-serif;
$base-font-size:                   15px;

// Брейкпоинты
$screen-xs:                        0;
$screen-sm:                        480px;
$screen-md:                        768px;
$screen-lg:                        992px;
$screen-xl:                        1200px;

//Сетка

$grid-gutter-width:                20px;
$gutter:                           $grid-gutter-width;
$grid-columns:                     12;
$columns:                          $grid-columns;
