<div class="attention attention--in-card" >
  <h3>Рекомендация</h3>
  <p>Должник согласился удволетворить главное требование по претензии и заплатить основной долг в сумме
    80 000 ₽, но отказался платить пени и неустойку в размере 20 000 ₽. Мы считаем, что данное решение
    выгодное и рекомендуем его принять. Однако, окончательное решение всегда остается за вами, мы готовы
    его поддержать и продолжить работу по взысканию.</p>
</div>
