<!--<div class="input-checkbox-control" [formGroup]="form" [class.disabled]="filesLength">-->
<!--  <fieldset>-->
<!--    <div class="input-checkbox">-->
<!--      <input-->
<!--        type="checkbox"-->
<!--        formControlName="option"-->
<!--        [attr.id]="id"-->
<!--        [attr.disabled]="savedFormState || dynamicFormService.disabledValueChange ? true : null"-->
<!--        [value]="true"-->
<!--        (ngModelChange)="onValueChange()"-->
<!--      >-->
<!--      <label class="input-checkbox__label" [attr.for]="id">-->
<!--        {{def.placeholder}}-->
<!--      </label>-->
<!--    </div>-->
<!--  </fieldset>-->
<!--</div>-->
<div class="input-checkbox-control" [formGroup]="form" [class.disabled]="filesLength">
  <label class="switch">
    <input
           type="checkbox"
           class="visual-hidden switch__input"
           formControlName="option"
           [disabled]="savedFormState || dynamicFormService.disabledValueChange ? true : null"
           (ngModelChange)="onValueChange()"
    >
    <span class="switch__slider round"></span>
  </label>
  <div class="intellectual__text-wrap">
    <span>{{ def?.placeholder }}</span>
  </div>
</div>


