@import 'variables';

.input-checkbox-control {
  margin: 15px 0;
  display: flex;

  &__submit-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    @media (max-width: 500px){
      margin-top: 10px;
    }

    button {
      @media (max-width: 500px){
        width: 100%;
      }
    }

  }

  fieldset{
    border: none;
    padding: 0;
  }

  .input-checkbox {
    background: #FFFFFF;
    width: 100%;
    margin-bottom: 10px;
    min-height: 50px;

    input{
      opacity: 0;
      position: absolute;

      &:checked ~.input-checkbox__label::after{
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        z-index: 2;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("/assets/images/icon-circle-check.svg");
        right: 10px;
        top: 12px;
      }

      &:checked ~.input-checkbox__label{
        border: 1px solid #72CA49;
      }
    }

    &__label{
      font-size: 16px;
      line-height: 19px;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
      border-radius: 5px;
      padding: 15px 35px 15px 20px;
      background: #FFFFFF;
      width: 100%;
      position: relative;
      display: flex;

      &:hover{
        border: 1px solid #72CA49;
        cursor: pointer;
      }
    }

    &__input-text-wrapper{
      display: none;
    }
  }

  .input-checkbox__wrapper:focus-within .input-checkbox__input-text-wrapper{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .btn-blue {
    background: #00AFEC;
    border: 1px solid #00AFEC;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding:14px 20px;
    border: 1px solid #00AFEC;

    &:hover{
      background: #0D8EBB;
      border: 1px solid #0D8EBB;
      cursor: pointer;
    }
  }
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}

.switch {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: 34px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.switch__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EBEDF2;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.switch__slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: #fff;
  transition: all 0.2s ease;
}

.switch__input:checked + .switch__slider {
  background-color: $g__link_color;
}

.switch__input.check:checked + .switch__slider {
  background-color: #A5D7E9;
}

.switch__input:checked + .switch__slider::before {
  transform: translateX(12px);
  transition: all 0.2s ease;
}

.switch__slider.round {
  border-radius: 20px;
}

.switch__slider.round:before {
  border-radius: 50%;
}
