@import 'variables';

:host {
  margin-top: 5px;
}

.risk-badge {
  padding: 3px 5px;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-radius: 3px;

  &--high {
    background: #FFF2F2;
    border: 1px solid $g__alert_color;
  }

  &--medium {
    background: #FFF4EA;
    border: 1px solid #FF8310;
  }

  &--none {
    background: #F2FCF1;
    border: 1px solid #A4E7A2;
  }

  &--low {
    background: #F2FCF1;
    border: 1px solid #A4E7A2;
    box-shadow: 0 5px 15px rgba(164, 231, 162, 0.15);
  }
}
