@import "variables";

.double-block{
  display: flex;

  @media (max-width: 540px) {
    flex-direction: column;
  }
  fieldset{
    margin-right: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    @media (max-width: 540px) {
      margin-right: 0;
    }
    &:last-of-type{
      margin-right: 0;
    }
  }
}
.heading-h1{
  margin-top: 40px;
}

.one-block:last-of-type{
  margin-bottom: 40px;
}

.input-checkbox {
  margin-bottom: 20px;
  @media (max-width: 590px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.form-item__input {
  @media (max-width: 590px) {
    padding: 13px 15px;
  }
}

.input-checkbox__label{
  @media (max-width: 590px) {
    padding: 13px 15px;
  }
}

.form-item__placeholder{
  @media (max-width: 590px) {
    text-align: left;
    margin-left: 0;
    margin-top: 10px;
  }
}

.form-item__input input:checked ~ .form-item__placeholder-wrapper--no-padding {
  padding-right: 20px;
}

.check{
  display: none;
}

.form-item__input input:checked ~ .check {
  display: block;
  margin: 0 -5px 0 0;
  width: 20px;
  height: 20px;
  z-index: 2;
  opacity: 1;
}

.form-item__input input:hover {
  cursor: pointer;
}

.form-item__input:hover{
  border: 1px solid #72CA49;
}

.form-item__input--checked{
  border: 1px solid #72CA49;
}

.input-checkbox input {
  z-index: 10;
}
.form-item__input input:checked ~ .form-item__placeholder-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #72CA49;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  left: 0;
  top: 0;
  border-radius: 5px;
  z-index: 2;
}
.chosen {
  border: 1px solid #72CA49;
  border-radius: 5px;
}

.input-checkbox__checked{
  border: 1px solid #72CA49;
}
.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
