@import "variables";

.ipid-main {
  background: $g__body_background;
  min-width: 375px;
}


.open-container {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1144px;

  @media(max-width: 768px) {
    padding: 0 20px;
  }
}
