@import "variables";
.yandex{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #CACACA;
  height: 400px;
}

.add-object__content {
  padding: 0;
}

.pay-form{
  display: flex;
  flex-direction: column;
  width: 100%;

  &__wrapper{
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 14px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    &:last-of-type{
      margin-bottom: 30px;
    }
  }

  &__label{
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $g__text_color_secondary;
    margin-bottom: 4px;
  }

  &__input {
    font-size: 18px;
    line-height: 21px;
    color: #162941;
    border: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0;

    &--font {
      font-size: 25px;
      line-height: 40px;
    }

    ::placeholder {
      color: $g__text_color_secondary;
    }
  }
}

.pay {
  display: flex;
  justify-content: space-between;

  @media(max-width: 991px) {
    display: block;
    margin-top: -20px;
  }

  @media(max-width: 767px) {
    margin-top: -30px;
  }

  &__text-wrapper {
    @media(max-width: 991px) {
      margin-bottom: 20px;
    }

    @media(max-width: 767px) {
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
    }
  }

  &__text{
    font-size: 13px;
    line-height: 24px;
    color: $g__btn_attr_text_color;
    margin-bottom: 0;

    @media(max-width: 767px) {
      margin-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__sum{
    font-size: 18px;
    line-height: 1.11;
    text-align: right;
    margin-bottom: 0;
  }

  &__sum-wrap{
    display: flex;
    align-items: center;

    @media(max-width: 991px) {
      justify-content: space-between;
    }

    @media(max-width: 767px) {
      display: block;
      margin-top: 20px;
    }
  }

  &__sum {
    margin-right: 20px;

    @media(max-width: 767px) {
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__btn-wrap{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &__btn{
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 1px solid #00AFEC;
    box-sizing: border-box;
    border-radius: 4px;
    width: fit-content;
    background: $g__btn_primary_background;
    color: $g__btn_primary_color;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

    @media(max-width: 767px) {
      width: 100%;
      padding: 12px;
      font-size: 18px;
      line-height: 24px;
      text-transform: none;
    }



    &--big{
      font-size: 18px;
      line-height: 18px;
      padding: 19px 24px;

      @media(max-width: 767px) {
        line-height: 24px;
        padding: 12px;
        text-transform: none;
      }
    }

    //&--white{
    //  background-color: white;
    //  color: #00AFEC;
    //}
  }
}

.add-object__header-main{
  display: flex;
  align-items: center;
  @media(max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}


.add-object__btns-pay--blue {
  @media (max-width: 767px){
    margin-top: 0;
  }
}
.add-object__btns-pay {
  @media (max-width: 767px){
    &:last-child{
      margin-top: 10px;
    }
  }
}


.form__group:not(:last-child){
  @media (max-width: 767px) {
    margin-top: unset;
  }
}


.add-object__header{
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}

.add-object__btns-pay-wrapper{
  width: 100%;
}

.form-item__btn-block{
  margin-top: 40px;

  @media(max-width: 767px) {
    margin-top: 20px;
  }

  .btn-blue{
    margin-bottom: 20px;
  }
}

.btn-blue-attr {
  border: 1px solid $g__btn_attr_border_color;
  color: $g__btn_attr_text_color;
}

.add-object__content {
  box-shadow: none;
}
.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.first {
  //display: flex;
  //align-content: center;
  .act_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.second {
  margin-bottom: 20px;
}

.btn-offline {
  text-align: end;
  position: relative;
  top: 30px;

  @media (max-width: 790px) {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 15px;
  }
}

.disabled-payment {
  pointer-events: none;
  opacity: 0.4;
}

.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
