.open-dashboard {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1144px;

  @media(max-width: 768px) {
    padding: 0 20px;
  }
}

.open-cases {
  margin-bottom: 40px;
}

.open-search {
  margin-bottom: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid #DDE0EB;

  @media(max-width: 768px) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.open-search__title {
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 26px;
}

.open-search__desc {
  font-size: 18px;
  line-height: 22px;
  color: #818A97;
}

.open-slider {
  margin-bottom: 40px;
}

.open-services {
  display: grid;
  grid-template-columns: 29.6% 1fr;
  grid-column-gap: 64px;
  margin-bottom: 40px;

  @media(max-width: 1200px) {
    grid-template-columns: initial;
  }
}

.open-expert {
  margin-bottom: 40px;
}


:host ::ng-deep {
  .form-sign {
    margin-bottom: 8px !important;

    &::after {
      display: none;
    }

    & .field-input {
      width: 100%;
      padding: 20px 15px;
      font-size: 18px;
      box-shadow: none;
      border: 1px solid #C9CDD4;
      border-right-color: transparent;
      border-radius: 6px 0 0 6px;

      @media(max-width: 768px) {
        border-right-color: #C9CDD4;
        border-radius: 6px;
      }

      &::placeholder {
        font-size: 18px;
        color: #9BA4B1;
      }
    }

    & .btn__black {
      padding: 20px 56px;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      text-transform: none;
      background-color: #00BBE4;
    }
  }

  .slider-wrapper .prev svg,
  .slider-wrapper .next svg, {
    stroke: #C9CDD4 !important;
  }

  .slider-wrapper .slider-dots_item {
    background: #E2E9EE;
  }

  .slider-wrapper .slider-dots_item.active {
    background: #00BBE4;
  }

  .open-services h2 {
    font-size: 22px;
    line-height: 26px;
    color: #1A1B1C;
  }

  .service-wrapper__title button {
    display: block !important;
    opacity: 0.3;
    cursor: not-allowed;
  }

  .service-wrapper {
    & .info-card {
      padding: 24px;
      box-shadow: 0 6px 16px rgba(38, 55, 70, 0.08);
      border-radius: 6px;

      &:not(:last-of-type) {
        margin-bottom: 24px;
      }

      & .btn__blue {
        padding: 4px 8px !important;
        font-size: 12px !important;
        line-height: 16px !important;
        background: #7DC66D !important;
      }

      & .info-card__price {
        margin-top: 23px;
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
        color: #1A1B1C;

        & span {
          font-size: 40px;
          line-height: 46px;
        }
      }
    }

    & h3 {
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #1A1B1C;
    }

    & .info-card__text {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 18px;
      color: #818A97;
    }
  }
}

