:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

:host-context(.spinner-full) {
  width: 100%;
  height: 100%;
}

img {
  width: 30px;
  height: 30px;
}

:host-context(.sm) {
  img {
    width: 15px;
    height: 15px;
  }
}

:host-context(.inline) {
  width: 32px;
  height: 32px;
}

