@import 'projects/themes/1c-start/variables';

.type{
  grid-area: type;
  width: 13%;
  justify-content: flex-start;

  @media (max-width: 1260px) {
    padding: 0 0 10px;
    width: unset;
  }
}

.number{
  grid-area: number;

  @media (max-width: 1260px) {
    padding: 0 0 10px;
  }
}

.pro{
  grid-area: pro;

  @media (max-width: 1260px) {
    display: flex;
    position: relative;
    writing-mode: unset;
    border-radius: 5px;
    left: initial;
    top: initial;
    bottom: initial;
    text-align: center;
    width: 43px;
    height: 22px;
    margin-bottom: 10px;

    span{
      transform: none;
      margin: 0 auto;
    }
  }
}

.name{
  grid-area: name;
  width: 60%;
  padding-right: 20px;

  @media (max-width: 1260px) {
    padding: 0 0 10px;
    width: 100%;

    p{
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.search__btn-block{
  min-width: 219px;
}

.date{
  grid-area: date;
  width: 10%;

  @media (max-width: 1260px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}

.state{
  grid-area: state;
}

.row-white{
  align-items: initial;

  @media (max-width: 1260px) {
    display: grid;
    grid-template-areas:
     'pro pro'
     'type number'
     'name name'
     'date date';
  }

  &__mobile-text {
    @media (max-width: 1260px){
      margin-bottom: 0;
    }
  }
}
