<div class="table">
  <div class="table__wrapper--base">
    <div
      *ngFor="let base of values$ | async; let i = index"
      id="programsTable"
      class="table__row row-white row-white--cont"
      (click)="openPopupInfo(base)"
    >
      <div class="row-white__title-text type">
        <p class="row-white__text ">{{base.type}}</p>
      </div>

      <div class="row-white__title-text number">
        <p class="row-white__text row-white__text--gray">{{base.id}}</p>
      </div>

      <div class="row-white__title-text name">
        <p class="row-white__text">{{base.name}}</p>
      </div>

      <div class="row-white__title-text date">
        <span class="row-white__mobile-text">Действует до</span>
        <p class="row-white__text ">{{base.registrationDate | date:'dd.MM.yyyy'}}</p>
      </div>
    </div>
  </div>
</div>

<app-portfolio-db-evm
  *ngIf="showPopupInfoDb"
  [data]="popupInfoData"
  [showRemoveBtn]="true"
  (modalEvent)="closePopupInfo()"
  (removeObject)="removeObject($event)"
></app-portfolio-db-evm>