@import 'variables'; // не исправлять, иначе путь будет неправильный

.h2_new {
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.error_container_pass {
  display: flex;
  margin-top: 10px;
  margin-bottom: 26px;
}

.loaderAuth {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid $g__timeline_color;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .form {
    &__input {
      &:focus, &:not(:focus):valid, &:-webkit-autofill, &:not(:empty), &[type=tel]:not(:focus):invalid, &[type=tel]:disabled {
        padding-bottom: 14px;
      }
    }
  }
}

.form-section__account {
  margin-top: 30px;
}

.error {
  border: 1px solid #FF1037FF;
}

.support-link {
  display: block;
  text-align: center;
}
