<div class="page-wrapper">
  <main>
    <section class="form-section profile">
      <div class="container-sm">
        <h1 class="heading-h1 heading-h1--centered">Изменить пароль</h1>
        <form [formGroup]="userPassForm">
          <div class="form__group">
            <div class="form__input-wrap">
              <input formControlName="password"
                     class="form__input field"
                     type="password"
                     required>
              <span class="form__input-label">Старый пароль</span>
            </div>
          </div>
          <div class="form__group">
            <div class="form__input-wrap">
              <input formControlName="newPassword"
                     class="form__input field"
                     type="password"
                     required>
              <span class="form__input-label">Новый пароль</span>
            </div>
          </div>
          <div class="form__group">
            <div class="form__input-wrap">
              <input formControlName="confirmPassword"
                     class="form__input field"
                     type="password"
                     required>
              <span class="form__input-label">Подтвердите новый пароль</span>
            </div>
          </div>
          <div class="form__footer">
            <button class="btn btn__auth"
                    type="button">Сохранить
            </button>
          </div>
        </form>
      </div>
    </section>
  </main>
</div>
