<form class="form form--cards js-form" [formGroup]="form">
  <div class="form__cards" data-intercom-target="trademark name">
    <div class="form__card-image" *ngIf="requestCheckLabelService.labels.length">
      <div class="image-application" *ngFor="let image of requestCheckLabelService.labels, index as i">
        <img [src]="image">
        <span class="delete-image" (click)="removeImage(i, requestCheckLabelService.labels)"></span>
      </div>
    </div>
    <div class="form__card">
      <div class="form__file js-form__file">
        <div class="form__file-wrap" style="text-align: center">
          <div style="max-height: 53px">
            <svg width="42" height="38" viewBox="0 0 42 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.8302 15.353C17.4238 15.353 18.7157 14.0612 18.7157 12.4675C18.7157 10.8739 17.4238 9.58203 15.8302 9.58203C14.2366 9.58203 12.9447 10.8739 12.9447 12.4675C12.9447 14.0612 14.2366 15.353 15.8302 15.353Z"/>
              <path d="M39.5153 23.0877C38.1527 21.8053 36.4294 20.9637 34.5458 20.7232V6.0553C34.5458 4.49233 33.9046 3.08966 32.9027 2.04767C31.8607 1.00569 30.458 0.404541 28.895 0.404541H5.65076C4.08779 0.404541 2.68511 1.04576 1.64313 2.04767C0.601145 3.08966 0 4.49233 0 6.0553V24.5305V26.2538V29.9809C0 31.5439 0.641221 32.9465 1.64313 33.9885C2.68511 35.0305 4.08779 35.6316 5.65076 35.6316H28.1336C29.6164 36.8339 31.4599 37.5954 33.5038 37.5954C35.8683 37.5954 37.9924 36.6335 39.5153 35.1106C41.0382 33.5877 42 31.4637 42 29.0992C42 26.7347 41.0382 24.6106 39.5153 23.0877ZM2.12405 6.0553C2.12405 5.09347 2.52481 4.21179 3.16603 3.57057C3.80725 2.92935 4.68893 2.52859 5.65076 2.52859H28.895C29.8569 2.52859 30.7385 2.92935 31.3798 3.57057C32.021 4.21179 32.4218 5.09347 32.4218 6.0553V18.5591L26.4905 12.6679C26.0897 12.2671 25.4084 12.2271 24.9676 12.6679L16.0305 21.645L9.97901 15.5534C9.57824 15.1526 8.89695 15.1126 8.45611 15.5534L2.12405 21.9656V6.0553ZM5.61069 33.5477V33.5076C4.64885 33.5076 3.76718 33.1068 3.12595 32.4656C2.52481 31.8244 2.12405 30.9427 2.12405 29.9809V26.2538V24.9713L9.25763 17.8377L15.3092 23.8893C15.7099 24.29 16.3912 24.29 16.8321 23.8893L25.7691 14.9122L31.6202 20.8034C31.5 20.8435 31.3798 20.8835 31.2595 20.9236C31.0992 20.9637 30.9389 21.0038 30.7385 21.0839C30.5782 21.124 30.4179 21.2042 30.2576 21.2442C30.1374 21.2843 30.0572 21.3244 29.937 21.4045C29.7767 21.4847 29.6565 21.5248 29.5363 21.6049C29.3359 21.7252 29.1355 21.8454 28.9351 21.9656C28.8149 22.0458 28.7347 22.0858 28.6145 22.166C28.5343 22.2061 28.4943 22.2461 28.4141 22.2862C28.0534 22.5267 27.7328 22.8072 27.4523 23.1278C25.9294 24.6507 24.9676 26.7748 24.9676 29.1393C24.9676 29.7404 25.0477 30.3015 25.1679 30.9026C25.208 31.0629 25.2481 31.1832 25.2882 31.3435C25.4084 31.7442 25.5286 32.145 25.6889 32.5458V32.5858C25.8492 32.9065 26.0095 33.2671 26.2099 33.5477H5.61069ZM37.9523 33.5877C36.7901 34.75 35.2271 35.4313 33.4637 35.4313C31.7805 35.4313 30.2176 34.75 29.0954 33.6679C28.9351 33.5076 28.7748 33.3072 28.6145 33.1469C28.4943 33.0267 28.374 32.8664 28.2538 32.7461C28.0935 32.5458 27.9733 32.3053 27.8531 32.0648C27.7729 31.9045 27.6927 31.7843 27.6126 31.624C27.5324 31.4236 27.4523 31.1832 27.4122 30.9427C27.3721 30.7824 27.292 30.582 27.2519 30.4217C27.1718 30.021 27.1317 29.5801 27.1317 29.1393C27.1317 27.3759 27.8531 25.8129 28.9752 24.6507C30.1374 23.4885 31.7004 22.8072 33.4637 22.8072C35.2271 22.8072 36.7901 23.5286 37.9523 24.6507C39.1145 25.7729 39.7958 27.3759 39.7958 29.1393C39.7958 30.8626 39.0744 32.4255 37.9523 33.5877Z"/>
              <path d="M36.9503 28.0172H34.5057V25.5725C34.5057 24.9714 34.0247 24.4905 33.4236 24.4905C32.8225 24.4905 32.3415 24.9714 32.3415 25.5725V28.0172H29.8969C29.2957 28.0172 28.8148 28.4981 28.8148 29.0993C28.8148 29.7004 29.2957 30.1813 29.8969 30.1813H32.3415V32.626C32.3415 33.2271 32.8225 33.708 33.4236 33.708C34.0247 33.708 34.5057 33.2271 34.5057 32.626V30.1813H36.9503C37.5515 30.1813 38.0324 29.7004 38.0324 29.0993C38.0324 28.4981 37.5515 28.0172 36.9503 28.0172Z"/>
            </svg>
          </div>
          <label class="form__file-label" for="file" [class.not-labels]="requestCheckLabelService.validation && !requestCheckLabelService.labels.length">Загрузите изображение
            <span>Одно изображение является одной этикеткой (упаковкой)</span>
          </label>
          <input
            class="form__file-input"
            type="file" id="file"
            name="file"
            accept=".jpg, .jpeg, .png"
            multiple
            (change)="onImageUpload($event)"
          >
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showOwner" (click)="showOwner = false;"
       class="overlay overlay--searchList"
       style="background: none;
                      z-index: 4;">
  </div>
  <h2 class="heading-h2">Выберите правообладателя (получателя затрат)</h2>
  <div class="dropdown dropdown-user-version" style="max-width: initial;">
    <button class="dropdown__button" (click)="showOwner = !showOwner" style="outline: none;">
      <span *ngIf="getOwnerName()?.length > 0" class="dropdown__button-text dropdown__button-text--check">{{getOwnerName()}}</span>
      <span *ngIf="getOwnerName()?.length === 0" class="dropdown__button-text">Правообладатель</span>
      <img
        class="dropdown__button-img"
        [ngClass]="showOwner ? 'rotate': ''"
        src="/assets/icons/icon-dropdown.svg" alt="" width="9" height="5"/>
    </button>
    <div *ngIf="showOwner" class="dropdown__menu-wrap">
      <div class="dropdown__menu">
        <ng-container *ngFor="let org of organizations">
          <input class="search__option-input"
                 type="radio"
                 formControlName="owner"
                 name="owner"
                 value="{{org.name}}"
                 id="{{org.id + 'type'}}"
                 [(ngModel)]="org.checked"
                 (ngModelChange)="setValue(org.checked, org)">
          <label class="search__option-label search__option-label--round" for="{{org.id + 'type'}}">{{org.name}}</label>
        </ng-container>
      </div>
    </div>
  </div>
  <h2 class="heading-h2">Тегирование проекта</h2>
  <div class="input-tag">
    <mat-form-field style="width: 100%" class="example-chip-list">
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip
          *ngFor="let selectedTag of requestCheckLabelService.tags"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(selectedTag)">
          {{selectedTag.value || selectedTag.name}}
          <button matChipRemove *ngIf="removable">
            <mat-icon>x</mat-icon>
          </button>
        </mat-chip>
        <input
          class="placeholder-tag"
          placeholder="Новый тег..."
          #tagInput
          [formControl]="tagCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag.value}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

<!--    <tag-input-->
<!--      formControlName="tag"-->
<!--      [onTextChangeDebounce]="500"-->
<!--      [secondaryPlaceholder]="'Укажите теги для быстрого поиска'"-->
<!--      [placeholder]="'Добавить еще теги'"-->
<!--      (onAdd)="createTag($event)"-->
<!--      class="form__tag-input">-->
<!--      <tag-input-dropdown-->
<!--        [autocompleteObservable]="requestAutocompleteItems"-->
<!--        displayBy="name"-->
<!--        identifyBy="id"-->
<!--        [showDropdownIfEmpty]="true"-->
<!--      >-->
<!--      </tag-input-dropdown>-->
<!--    </tag-input>-->
  </div>
  <h2 class="heading-h2">Товары или продукты</h2>
  <div class="form__input-wrap">
    <input
      formControlName="product"
      placeholder="Напишите"
      class="form__input field"
      type="text"
      [class.invalid]="requestCheckLabelService.validation && !form.controls.product.value"
      (ngModelChange)="setValue()">
  </div>
  <h2 class="heading-h2">Классы МКТУ (не обязательно)</h2>
  <div>
    <app-ip-id-search
      (eventSelected)="eventApplyClasses($event)"
      (eventDeleted)="eventDeletedClass($event)"
      [options]="requestCheckLabelService.optionsMKTU">
    </app-ip-id-search>
  </div>
  <h2 class="heading-h2" [ngStyle]="getDynamicMarginForComment()">Комментарий</h2>
  <div class="form__input-wrap">
    <input
      formControlName="comment"
      placeholder="Ваш комментарий"
      class="form__input field"
      type="text"
      (ngModelChange)="setValue()">
  </div>
</form>
<!--<span class="price-label"-->
<!--      *ngIf="requestCheckLabelService.paymentSum">-->
<!--  Стоимость услуг {{(requestCheckLabelService.paymentSum).toLocaleString('ru')}} ₽-->
<!--  <span class="price-label-count"> (за {{requestCheckLabelService.labels.length}} этикеток/упаковок)</span>-->
<!--</span>-->
