@import 'variables';

.form__cards {
  flex-direction: column;
}

.form__card {
  border: none;
  width: 100%;

  &-image {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    flex-wrap: wrap;

    @media (max-width: 767px)  {
      justify-content: center;
    }
  }
}

.image-application {
  width: 218px;
  height: 170px;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  img {
    max-width: 160px;
    height: 100px;
  }
}

.heading-h2{
  margin-top: 30px;
  margin-bottom: 13px;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}

.form__file-wrap svg {
  fill: #D1D7DD;
}

.image-application span {
  position: relative;

  &::after{
    width: 15px;
    height: 15px;
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("/assets/images/delete.png");
    left: 5px;
    top: -70px;
  }
}
.search__option-label:before, .search__option-input:checked+.search__option-label:after {
  border-radius: 50%;
}

.search__option-label {
  margin: 5px;
}

.dropdown__button {
  width: 99%;
}

.form__input {
  padding: 15px;
  height: auto;
}

:host ::ng-deep {
  .ip-id_search_container {
    max-width: none !important;
    margin-bottom: 30px !important;
  }

  .search-container {
    max-width: none !important;
    padding: 0 !important;
  }

  .main__form {
    left: 0 !important;
    width: 100% !important;
  }
  .main__form > div {
    width: 100% !important;
  }

  .not-mobile-mktu {
    margin-left: 0 !important;
  }

  //.added-number {
  //  background: $g__body_background !important;
  //}

  .added-number__number {
    color: $g__text_color_primary !important;
  }

  .added-number__title {
    color: $g__alert_color !important;
  }

  .dropdown__menu-wrap {
    max-height: 300px !important;
    overflow: auto !important;
  }

  .ng2-tag-input__text-input {
    width: 270px;
  }



  //.plus_button {
  //  color: $g__text_color_secondary !important;
  //  background-color: $g__body_background !important;
  //}
}

.form__tag-input {
  background-color: white;
  border: 1px solid rgba(21, 36, 56, 0.15);
  border-radius: 5px;
}

.delete-image {
  cursor: pointer;
}

.form__input-wrap {
  input {
    &::placeholder {
      font: inherit;
      font-size: 16px;
      color: #929FAB;
    }
  }
}

.price-label {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 70px;
  right: 120px;
  font-size: 20px;

  @media (max-width: 767px) {
    position: inherit;
  }

  &-count {
    color: #929FAB;
    white-space: pre;
  }
}

.input-tag {
  border-radius: 5px;
  font-size: 18px;
  line-height: 21px;
  outline: 0;
  color: #929FAB;
  color: var(--g__text_color_secondary, #929FAB);
  width: 100%;
  border: 1px solid rgba(21, 36, 56, 0.15);
  border: 1px solid var(--g__outline_color, rgba(21, 36, 56, 0.15));
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  background-color: #FFF;
  padding: 10px;

}

:host ::ng-deep {
  .mat-form-field-label-wrapper {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    сolor: var(--g__text_color_secondary, #929FAB) !important;
  }
}

.invalid {
  border: 1px solid #FF1037;
}

.not-labels {
  color: #FF1037;
}
