
.service-wrapper {
  @media (min-width: 768px) {
    flex: 1;

    .info-card__wrapper {
      display: flex;
      flex-direction: row;
    }

    .info-card {
      display: block;
      flex: 1;
      height: 161px;
      vertical-align: top;

      &:first-child {
        margin-right: 40px;
      }

      .info-card__text {
        max-width: 340px;
      }

      .btn__blue {
        padding: 4px 14px;
        font-size: 13px;
      }
    }
  }
}
