@import "variables";

.ipid-search-header {
  background-color: $header__light_background;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 49px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: $g__text_color_primary;

  @media (max-width: 767px) {
    & br {
      display: none;
    }
  }
}

.ipid-search-header-with-result {
  background-color: $header__light_background;
  width: 100%;
  padding-top: 39px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
  .text-title {
    width: 1070px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    text-align: left;
    color: $g__text_color_primary;
    margin: auto;

    @media (max-width: 1069px) {
      width: auto;
      padding-left: 20px;
      margin-bottom: 20px;
    }
  }
}

.align-empty-block {
  width: 100%;
  height: 17vh;
  background-color: $header__light_background;
}
