<div class="page-wrapper">
  <main>
    <section  class="organization-added">
      <div class="organization-added__wrap">
        <div class="container">
          <img src="/assets/icons/icon-pay-plus.svg" alt="" class="organization-added__img" width="32" height="32">
          <p class="organization-added__title">Организация ООО «Гардиум» добавлена</p>
        </div>
      </div>
      <div class="container">
        <p class="organization-added__desc">
          Вы можете от имени организации создать свою первую претензию для взыскания задолженности.
          Наш сервис и специалисты помогут вам на всех этапах взаимодействия с должником.
        </p>
        <button class="btn">Взыскать долг</button>
      </div>
    </section>
  </main>
</div>
