@import 'variables';

.patent-card__in-row {
  display: flex;
  gap: 30px
}

.monitoring-modal {
  &__header {
    justify-content: space-between;
  }

  &__header-block {
    display: flex;
    align-items: center;
  }

  &__header-btn {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 11px 20px;
    border-radius: 5px;

    &--delete {
      color: $g__alert_color;
      border: 1px solid $g__alert_color;
      background: none;
      margin-right: 10px;
    }

    &--toAsk {
      color: #FFFFFF;
      background: $g__text_color_primary;
      border: 1px solid $g__text_color_primary;
    }
  }
}

.risk-modal {

  &__title--big {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #162941;
    margin-bottom: 45px;
    @media (max-width: 970px) {
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 20px;
    }
  }

  &__criticality-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }

  &__question {
    background: #F4F6FA;
    border: 1px solid $g__outline_color;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $g__text_color_primary;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: translateX(8px);
    position: relative;
    cursor: pointer;

    .risk-tooltip {
      display: none;
      position: absolute;
      top: -27px;
      left: 37px;
      width: 340px;
      background: #F4F6FA;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 20px;
      font-weight: normal;

      @media (max-width: 767px) {
        top: 100%;
        left: 50px;
        transform: translateX(-50%);
        margin-top: 10px;
      }
    }

    &:hover {
      .risk-tooltip {
        display: block;
      }
    }
  }

  &__criticality {
    max-width: none;
    width: fit-content;
    padding: 4px 12px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
  }

  &__desc {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #162941;
  }

  @media(max-width: 767px) {
    &__about div:last-of-type {
      margin-bottom: 20px;
    }

    &__about div.risk-modal__in-row:last-of-type {
      margin-bottom: 0;
    }
  }
}

.monitoring-modal__desc {
  margin-bottom: 45px;
}

.monitoring-modal__table-wrap {
  border: none;
  background: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 0;
  padding: 0 6px;
}

.monitoring-modal__table-title {
  width: 100%;
  font-size: 35px;
  line-height: 45px;
  color: #307ABD;
  position: relative;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #D9DBE1;
  padding: 30px 0px;
  margin-bottom: 0;

  &:after {
    content: '';
    position: absolute;
    border: 1px solid #307ABD;
    width: 1px;
    height: 14px;
    transform: rotate(-45deg);
    right: 0;
    background: #307ABD;
    top: 43%;
  }

  &:before {
    content: '';
    position: absolute;
    border: 1px solid #307ABD;
    width: 1px;
    height: 14px;
    transform: rotate(-135deg);
    right: 9px;
    background: #307ABD;
    top: 43%;
  }

  &--active {

    border-bottom: none;

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(135deg);
    }
  }

  &--dis {
    color: #B1B5B9;

    &:after {
      border: 1px solid #B1B5B9;
    }

    &:before {
      border: 1px solid #B1B5B9;
    }
  }

  &--border {
    border-bottom: none;
  }
}

.monitoring-modal__btn-to {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #307ABD;
  position: absolute;
  right: 90px;
  top: 36px;
  padding: 10px 15px;
  border: 1px solid #307ABD;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.monitoring-modal__counter {
  background: #EEF1F4;
  border: 1px solid rgba(21, 36, 56, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  right: 29px;
  top: 36px;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  text-align: right;
  text-transform: uppercase;
  color: $g__text_color_primary;
  padding: 8px 18px;
}

.risk-modal__content {
  padding: 40px;

  @media (max-width: 970px) {
    position: relative;
    padding: 20px;
  }
}

.not-mobile {
  @media (max-width: 970px) {
    display: none;
  }
}

.monitoring-modal__close-mobile {
  border: none;
  display: block;
  width: 22px;
  height: 22px;
  margin-right: 20px;
  background-color: transparent;
  cursor: pointer;

  & svg {
    width: 22px;
    height: 22px;
    fill: $g__link_color;
    @media (max-width: 970px) {
      fill: $g__text_color_primary;
    }
  }
}

.mobile {
  padding-top: 20px;
  border-top: 1px solid $g__outline_color;
  bottom: auto;
  right: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 12px 20px;
    font-size: 18px;
    line-height: 24px;

    &:first-of-type {
      color: $g__btn_attr_text_color;
      border: 1px solid $g__btn_attr_border_color;
      box-sizing: border-box;
      border-radius: 5px;
      margin-right: 0;
    }

    &:last-of-type {
      color: $g__btn_primary_color;
      background: $g__btn_primary_background;
      border: none;
    }
  }


  @media (max-width: 970px) {
    flex-direction: column-reverse;
    button {
      width: 100%;

      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
}

.divider {
  margin: 0;
  border-top: 1px solid #D9DBE1;
  height: 1px;
}

.mktu-class {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 32px;

  @media (max-width: 767px) {
    display: block;
    margin-bottom: 20px;
  }

  .class-number {
    width: 91px;
    height: 28px;
    background: $g__white_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    margin-right: 20px;
    padding-top: 3px;

    @media (max-width: 767px) {
      display: inline-block;
      width: auto;
      height: auto;
      margin: 0 0 10px;
      padding: 4px 14px;
      font-size: 15px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .class-description {
    width: 769px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 90px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: $g__text_color_primary;

    @media (max-width: 767px) {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .class-description-long {
    width: 769px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: $g__text_color_primary;

    @media (max-width: 767px) {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.show-all-btn {
  width: 100%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid $g__btn_primary_background;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: $g__btn_primary_background;
  cursor: pointer;

  &:hover {
    color: $g__alert_color;
    border: 1px solid $g__alert_color;
  }

  @media (max-width: 767px) {
    height: auto;
    margin-bottom: 20px;
    padding: 11px;
    font-size: 13px;
    line-height: 18px;
    color: $g__btn_primary_background;
    border: 1px solid $g__btn_primary_background;
  }
}

.file-card-object {
  border: 1px solid $g__link_color;
  box-sizing: border-box;
  border-radius: 5px;
  height: 80px;
  padding: 16px;
  cursor: pointer;

  input {
    opacity: 0;
    width: 0;
    position: absolute;
  }

  .add-file-label {
    display: flex;
    align-items: center;
    cursor: pointer;

    & svg {
      fill: $g__link_color;
    }

    .add-file-text {
      display: flex;
      flex-direction: column;
      padding-left: 15px;
      cursor: pointer;

      .title-file {
        text-decoration: underline;
        color: $g__link_color;
        cursor: pointer;
      }

      .description-file {
        padding-top: 5px;
        color: $g__text_color_secondary;
      }
    }
  }
}

.files-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: row;
    border: 1px solid #E9ECF2;
    box-sizing: border-box;
    border-radius: 5px;
    width: 287px;
    height: 80px;
    padding: 17px;
    margin-bottom: 9px;

    .about {
      display: flex;
      flex-direction: column;
      padding-right: 20px;

      .files-btn {
        display: flex;
        gap: 5px;
        color: $g__text_color_secondary;
        padding-top: 5px;

        &__see {
          color: $g__link_color;
        }

        a {
          text-decoration: underline;
        }

        p {
          margin-bottom: 0;
        }
      }
    }

    .docs__icon-wrapper {
      position: relative;

      .docs__icon--mini {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

  }
}

.no-risk-label {
  background: $g__text_color_primary;
  color: #FFFFFF;
}

//.risk-hint {
//  position: relative;
//  height: 28px;
//  width: 28px;
//  cursor: pointer;
//  left: 9px;
//  background-image: url("/assets/images/risk-hint.svg");
//  background-position: center;
//  background-repeat: no-repeat;
//  .risk-tooltip {
//    display: none;
//    position: absolute;
//    top: -27px;
//    left: 37px;
//    width: 340px;
//    background: #F4F6FA;
//    border: 1px solid $g__outline_color;
//    box-sizing: border-box;
//    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
//    border-radius: 5px;
//    padding: 20px;
//  }
//  &:hover {
//    background-image: url("/assets/images/risk-hint-active.svg");
//    .risk-tooltip {
//      display: block;
//    }
//  }
//}

.risk-modal__criticality-header {
  display: flex;
  align-items: center;
}

:host ::ng-deep {
  .spinner-full {
    & img {
      width: 23px;
      height: 23px;
    }
  }
}

.top-hat {
  width: 100%;
  max-width: 960px;
  height: 85px;
  padding: 16px 20px;
  z-index: 5;
  background: $header__light_background;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  @media (max-width: 767px) {
    padding: 5px;
    height: 60px;
    background: #F7F8FB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }


  &__logo-hat {
    margin-right: 17px;
    background-image: url("/assets/images/wipo.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 54px;
    border-radius: 5px;

    @media (max-width: 767px) {
      width: 66px;
      height: 50px;
    }
  }

  &__info {
    font-size: 18px;
    line-height: 30px;
    color: $g__text_color_primary;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__button {
    cursor: pointer;
    margin: 20px 20px 20px auto;
    border: 0;
    width: 231px;
    height: 45px;
    background: $g__alert_color;
    font-size: 18px;
    border-radius: 5px;
    color: #FFFFFF;

    &:hover {
      background: $g__text_color_primary;
    }
  }
}
.file-error {
  color: $g__alert_color !important;
  padding-bottom: 10px;
  margin-top: -5px;
  font-size: 13px !important;
  line-height: 18px !important;
}
