@import 'variables';

.user {
  background-color: $header__light_background;
}

.user__wrap {
  padding-right: 0;
  padding-top: 15px;

  @media (max-width: 767px) {
    padding: 15px 20px 0;
  }
}

.user__wrapper {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.user__wrap-info {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
  }
}

.user-tabs {
  background-color: $header__light_background;
}

.user-tabs__list-wrap {
  border-bottom: 1px solid $g__outline_color;

  @media (max-width: 991px) {
    border-bottom: none;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.user-tabs__list {
  display: flex;
  justify-content: space-between;

  @media (max-width: 991px) {
    padding-bottom: 20px;
    min-width: max-content;
    width: 100%;
  }

  @media (max-width: 767px) {
    padding-top: 20px;
  }
}

.user-tabs__item {
  position: relative;
  width: 599px;
  background-color: $header__light_background;
  border-radius: 10px 10px 0 0;
  border: 1px solid $g__outline_color;
  border-bottom-color: $header__light_background;
  cursor: pointer;

  & button {
    color: $g__text_color_primary;

    &:disabled {
      cursor: initial;
    }
  }

  &.mono-account,
  &.waiting-account {
    width: 387px;

    @media (max-width: 991px) {
      width: 33.3%;
    }
  }

  &.administrator {
    width: 280px;

    @media (max-width: 991px) {
      width: 25%;
    }
  }

  @media (max-width: 991px) {
    width: 50%;
    min-width: 151px;
    min-height: 103px;
    padding: 0;
    margin-right: 5px;
    background: $g__body_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 9px 20px;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 10px;
      line-height: 20px;
    }

    &:disabled {
      color: $g__text_color_secondary;
    }
  }

  &.is-active {
    background-color: $g__body_background;
    border: 1px solid $g__outline_color;

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      width: 100%;
      height: 10px;
      background-color: $g__body_background;
    }

    @media (max-width: 991px) {
      background: $header__light_background;
      box-shadow: none;

      &::before {
        display: none;
      }
    }
  }
}

.user-tabs__count {
  font-size: 25px;
  line-height: 40px;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
}

.user-tabs__content {
  padding-top: 35px;
  padding-bottom: 60px;
  background-color: $g__body_background;

  @media (max-width: 767px) {
    padding: 20px 0;
  }
}

.block-user {
  order: 2;
  margin-top: 50px;
  margin-left: auto;
  background-color: transparent;
  width: 255px;
  height: 40px;
  border: 1px solid #929FAB;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
  cursor: pointer;

  @media (max-width: 767px) {
    margin: 0 auto 20px;
    width: 100%;
  }
}

.disabled__tab {
  opacity: 0.3;
  pointer-events: none;
}

.back-link {
  margin-bottom: 20px;
}
