<div class="patents-container">
  <div *ngIf="patents.result?.length" class="table__wrapper">
    <div class="table__header-wrapper">
      <h2 class="table__header">
        <span id="patentsHeader">Патенты</span>
        <span class="table__header-count">{{patents.totalCount}}</span>
      </h2>
      <button class="table__header-btn"
              (click)="checkAllPatents()"> {{!allPatentsChecked ? 'Выбрать все' : 'Снять все'}}</button>
    </div>
    <div class="table__big-block" *ngFor="let obj of patents.result; let i = index" (click)="openPopupInfo(obj)" [id]="'patents' + i">
      <div class="table__row row-white" [class.row-white__blue-border]="obj.checked">
        <div class="row-white__img-text">
          <div class="row-white__img">
            <img class="tm_image_stub" src="assets/portfolio/patents.svg">
          </div>

          <div class="row-white__title-text row-white__title-text--four">
            <div class="row-white__subtitle-wrapper">
              <p class="row-white__subtitle">{{obj.title}}</p>
            </div>
            <p class="row-white__text row-white__text--bold">{{trimString(obj._source.inventionName, 50)}}</p>
          </div>
        </div>

        <div class="row-white__title-text row-white__title-text--four line">
          <p class="row-white__subtitle">Автор</p>
          <p class="row-white__text">{{trimString(obj._source.authors, 50)}}</p>
        </div>

        <div class="row-white__title-text row-white__title-text--four line">
          <p class="row-white__subtitle">Правообладатель</p>
          <p class="row-white__text">{{trimString(obj._source.patentHolders, 50)}}</p>
        </div>

        <div class="row-white__title-text row-white__title-text--four line">
          <p class="row-white__subtitle">Дата регистрации</p>
          <p class="row-white__text">{{obj._source.registrationDate | date:'dd.MM.yyyy'}}</p>
        </div>

        <div class="row-white__checkbox">

          <input
            class="row-white__checkbox--input"
            type="checkbox"
            #patentRef
            id="{{'patents' + obj._id}}"
            (click)="checkPatent($event, obj)"
          >
          <label class="row-white__checkbox-label"
                 [class.row-white__checkbox-label--checked]="getPatentChecked(obj._id)">
            <span class="row-white__tooltip">{{obj.checked ? 'Выбрано' : 'Выбрать для добавления' }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <app-pagination
    *ngIf="patents.totalCount / patents.pagination.size > 1"
    [currentPageNumber]="currentPage"
    [totalCount]="patents.totalCount"
    [itemPerPage]="patents.pagination.size"
    (eventChangePage)="onChangePage($event)"
  ></app-pagination>

</div>

<app-portfolio-patent
  *ngIf="showPopupInfoPatent"
  [data]="popupInfoData"
  (modalEvent)="closePopupInfo()"
></app-portfolio-patent>
