@import "variables";

.mktu-list {
  display: flex;
  height: fit-content;
  padding-top: 10px;
  padding-right: 20px;
  flex-wrap: wrap;
  min-width: 170px;
  position: relative;

  @media (max-width: 768px) {
    padding-right: 0;
    width: fit-content;
    min-width: 0;
    max-width: 165px;
    justify-content: flex-end;
  }
}

.mktu-list__item {
  background: #FFFFFF;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 13px;
  line-height: 18px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 36px;
  height: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &--red {
    color: $g__link_color;
  }

  &--critical {
    background: $corp_search__mktu_background;
  }
}
