@import 'projects/themes/1c-start/variables';
@import '../../common';

form {
  background: #f7f8fb;
}

.search_header {
  background: $g__form_background;
}

.control__btn span {
  color: #152438;
}

.control {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;

  @media (max-width: 768px) {
    padding-bottom: 20px;
    min-width: max-content;
    margin-bottom: 0;
  }

  &__btn {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    width: 49%;
    padding: 20px;
    color: #152438;
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    margin-bottom: -1px;

    & span {
      color: #152438;
    }

    @media(max-width: 768px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      height: 103px;
      width: 150px;
      padding: 15px 10px;
      background: #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    &:hover {
      opacity: 1;
    }

    &--active {
      background: #f7f8fb;
      border-radius: 10px 10px 0 0;
      border: 1px solid #CBCFD6;
      border-bottom-color: #f7f8fb;

      @media(max-width: 768px) {
        background: #F7F8FB;
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-sizing: border-box;
        box-shadow: none;
        border-radius: 5px;
      }
    }

    &--court {
      width: 48.5%;

      @media(max-width: 375px) {
        width: 165px;
      }
    }

  }

  &__count {
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 25px;
    line-height: 40px;

    @media (max-width: 768px) {
      position: static;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.section-position {
  position: relative;
  background: white;

  &__tabs {
    //z-index: 3;
    background: $g__form_background;
    border-bottom: 1px solid #CBCFD6;

    @media (max-width: 790px) {
      border-bottom: none;
    }
  }

  &--bg {
    background: #f7f8fb;
    border-top: 1px solid #CBCFD6;
  }

  &--main {
    position: relative;
  }
}

.container {
  &--bg {
    background: #f7f8fb;
    padding: 20px 10px;
  }
}

.search__wrapper {
  width: 100%;
}

.search {
  padding: 20px 0 30px;
}

.search::before {
  display: none;
}

.search__btn-block {
  padding: 15px;
  max-height: 50px;
}

.section-top-search {
  position: relative;
  z-index: 0;
}
