@import 'variables';

.portfolio-security {
  position: relative;
  height: 100%;
  min-height: 320px;
  flex-grow: 1;
  border-radius: 10px;
  overflow-y: hidden;

  @media (max-width: 1190px) {
    margin: 0;
  }

  @media (max-width: 793px) {
    width: 100%;
    height: auto;
    min-height: auto;
    margin: 0;
    overflow: visible;

    &:last-of-type,
    &:first-of-type {
      margin: 0;
    }
  }
}

.chart__block {
  width: auto;
  height: 100%;
  max-width: 387px;
  min-height: 320px;
  border-radius: 10px;

  @media (max-width: 793px) {
    width: 100%;
    max-width: none;
    min-height: auto;
    height: auto;
    background: none;
    border: none;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: initial;
    backdrop-filter: none;
  }
}

.chart__status {
  @media (max-width: 793px) {
    backdrop-filter: blur(5px);

    &.open {
      display: flex;
    }
  }
}

.chart-date__big-count {
  margin-right: 8px;

  @media (max-width: 991px) {
    font-size: 40px;
    line-height: 1;
  }

  @media (max-width: 793px) {
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    border-radius: 20px;
    display: inline-block;
    padding: 2px 8px;
    margin-right: 17px;
  }
}

.chart-date__numbers:before {
  height: 0;
  width: 0;
}

.chart-date__numbers {
  margin-top: 17px;
  margin-bottom: 21px;

  &--mg {
    margin-right: 12px;
  }

  @media (max-width: 991px) {
    margin-bottom: 20px;
  }

  @media (max-width: 793px) {
    margin-top: 0;
    margin-bottom: 5px;
  }

}

.chart-date__numbers-wrapper {
  width: 100%;
  margin-bottom: 28px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    width: 111%;
    left: -18px;

    @media (max-width: 793px) {
      display: none;
    }
  }

  &--no-line::before {
    display: none;
  }

  @media (max-width: 793px) {
    position: static;
    margin-bottom: 5px;

    &--no-line {
      margin-bottom: 30px;
    }
  }
}

.chart-date__btn-add {
  position: relative;
  color: $g__widgets_link_color;
}

.chart-date__numbers-top-wrapper {
  display: flex;
  width: 100%;

  @media (max-width: 991px) {
    flex-wrap: wrap;
  }

  @media (max-width: 793px) {
    display: block;
  }
}

.chart__name {
  margin-bottom: 5px;
  span {
    @media (max-width: 793px) {
      width: auto !important;

      &.prompt__question {
        flex-shrink: 0;
        width: 20px !important;
      }
    }
  }

  & span.opacity {
    opacity: 0;
  }
}

