<div
  class="portfolio-security"
  [ngClass]="{'is-active-wrap': !data.allCount && mobileOpenSecondChart === true}"
>
  <div class="chart__block" (click)="mobileOpenSecondCard()">
    <p
      class="chart__name chart-date"
      [class.chart-date--open]="mobileOpenSecondChart===true"
    >
      Защищенность портфеля
      <span
        *ngIf="data.allCount"
        class="chart-date__risk-rate"
        [ngClass]="{
          'chart-date__risk-rate--alert': securityLevelLabel === 'низкая',
          'chart-date__risk-rate--warning': securityLevelLabel === 'средняя',
          'chart-date__risk-rate--success': securityLevelLabel === 'высокая'
        }"
      >
        {{securityLevelLabel}}
      </span>
    </p>

    <div class="chart-date__wrapper" *ngIf="isLoading || !data.allCount">
      <span class="chart__status chart__status--security">{{isLoading ? 'Загрузка...' : 'Нет данных'}}</span>
    </div>

    <div class="chart-date__wrapper" *ngIf="!isLoading && data.allCount && mobileOpenSecondChart===true">
      <div class="chart-date__numbers-wrapper">
        <div class="chart-date__numbers-top-wrapper">
          <div class="chart-date__numbers">
            <p class="chart-date__big-count">{{data.allCount}}</p>
            <p class="chart-date__big-count-text">Cобытий</p>
          </div>
        </div>
      </div>

      <div class="chart-date__charts">

        <div class="chart-date__row row">
        <span class="row__color">
          <span
            class="row__color--chart row__color--chart--red"
            [style.width.%]="data.fatal/data.allCount*200">
          </span>
        </span>
          <p class="row__number row__number--red">{{data.fatal}}</p>
          <p class="row__text">Критичные</p>
        </div>

        <div class="chart-date__row row">
        <span class="row__color">
          <span
            class="row__color--chart row__color--chart--orange"
            [style.width.%]="data.critical/data.allCount*200">
          </span>
        </span>
          <p class="row__number row__number--orange">{{data.critical}}</p>
          <p class="row__text">Высокие</p>
        </div>

        <div class="chart-date__row row">
        <span class="row__color">
          <span
            class="row__color--chart row__color--chart--yellow"
            [style.width.%]="data.possible/data.allCount*200">
          </span>
        </span>
          <p class="row__number row__number--yellow">{{data.possible}}</p>
          <p
            class="row__text">Средние</p>
        </div>
        <div class="chart-date__btn-add-wrapper">
          <button class="chart-date__btn-add" [routerLink]="'/monitoring'" id="viewRecomendation">
            Смотреть рекомендации
          </button>
        </div>
      </div>

    </div>
  </div>
</div>