@import 'variables';

.heading-h1 {
  @media (max-width: 768px) {
    margin-top: 0;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }
}

.form {
  &__card {
    padding: 20px;

    @media (max-width: 768px) {
      padding: 16px 20px;
      border-radius: 5px;
      background: #FFFFFF;
      box-sizing: border-box;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    }
  }

  &__input-wrap {
    @media (max-width: 768px) {
      padding: 0;
  
      input{
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  &__file {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__file-download {
    margin-right: 10px;

    @media (max-width: 768px) {
      padding: 12px;
      font-size: 13px;
      line-height: 18px;
      border-radius: 5px;
      margin-right: 20px;
      background: #FFFFFF;
      box-sizing: border-box;
      border: 1px solid rgba(21, 36, 56, 0.15);
    }
  }

  &__file-delete {
    @media (max-width: 768px) {
      padding: 12px;
      font-size: 13px;
      line-height: 18px;
      margin-right: 20px;
      border-radius: 5px;
      background: #FFFFFF;
      box-sizing: border-box;
      border: 1px solid rgba(21, 36, 56, 0.15);
    }
  }

  &__file-wrap svg {
    fill: $g__link_color;
  }

  &__card-input:focus-within ~ &__card-input-label,
  &__card-input:not(:focus):valid ~ &__card-input-label {
    top: 5px;
    left: 15px;
    transform: none;
    pointer-events: auto;
    font-size: 0.5625rem;
    line-height: 1.1538461538;
  }
}

.image {
  &-text {
    text-align: center;
    color: black !important;
  }

  &-error {
    color: red;
    font-size: 13px
  }
  
  &-application {
    width: 230px;
    height: 70px;
    margin: auto;
  
    img {
      max-width: 230px;
      max-height: 70px;
    }
  }
  
  &-downloaded {
    font-size: 13px;
  }
}
