@import 'variables';

.section-position--treaty{
  flex-direction: column;
  background: $g__form_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 42px 50px;
  max-width: 1240px;
  margin: 40px auto;

  @media(max-width: 991px) {
    padding: 40px 30px;
    max-width: 95%;
  }

  @media(max-width: 768px) {
    padding: 20px;
  }

  @media(max-width: 500px) {
    padding: 20px 10px;
  }
}

h1{
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 27px;

  @media(max-width: 767px) {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
  }
}

.container {
  padding-left: 0;
  padding-right: 0;
}

textarea {
  background: #FFFFFF;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  resize: none;
  padding: 16px 20px;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  overflow: hidden;
  height: fit-content;
  font-family: 'Roboto', sans-serif;
  outline: none;
  margin-bottom: 40px;
  &::placeholder {
    color: $g__text_color_secondary;
  }
  &.with-error {
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}
.info-plate__text{
  max-width: 65%;
  margin: auto auto 25px;
  text-align: center;

  @media (max-width: 500px) {
    max-width: 95%;
  }
}

.heading-h1{
  text-align: center;
  margin-bottom: 40px;
}

.add-file__btns-block{
  display: flex;
  width: 100%;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    margin-bottom: 0;
    .btn-blue{
      margin-bottom: 20px;
    }
    button{
      width: 100%;
    }
  }
  &--mobile{
    @media (max-width: 768px) {
      margin: 0;

      button{
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

.bordered-blue{
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.attention--in-card {
  margin-bottom: 20px;
  margin-top: 0;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.btn-back {
  &::after {
    display: none;
  }

  & svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 15px;
    fill: $g__btn_attr_text_color;
    @media(max-width: 767px) {
      display: none;
    }
  }
}


.lead-error {
  color: $g__alert_color;
}

.info-plate__img {
  width: 40px !important;
  height: auto;
}
.spinner_container {
  position: relative;
  display: flex;
}
.spinner-1 {
  width:20px;
  height:20px;
  border-radius:50%;
  border:4px solid;
  border-color:#000 #0000;
  animation:s1 1s infinite;
  margin: 2px 5px 0;
}
@keyframes s1 {to{transform: rotate(.5turn)}}


.spinner-3 {
  width:20px;
  height:20px;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#000);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation:s3 1s infinite linear;
  margin: 2px 5px 0;

}
@keyframes s3 {to{transform: rotate(1turn)}}
.loader_treaty {
  margin: 0;
  border: 6px solid #ebebeb;
  border-top: 6px solid #FF1037;
  border-bottom: 6px solid #FF1037;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  -webkit-animation: spin 0.6s linear infinite;
  animation: spin 0.6s linear infinite;
}
