@import "variables";

.payment {
  padding-top: 0;
  padding-bottom: 0;

  &__title {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
  }

  &__tabs {
    margin-bottom: 20px;
  }
}

.payment-actions {
  display: flex;
  margin-top: 20px;
  align-items: baseline;
  justify-content: space-between;

  &__pay {
    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__cancel {
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}
