@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin rem($size) {
  font-size: ($size / 16) * 1rem;
}

@mixin radius($value) {
  border-radius: $value;
}

@mixin line-height($line-height, $font-size) {
  line-height: $line-height/$font-size;
}

@mixin inline-block {
  display: inline-block;
  vertical-align: middle;
}

@mixin make-row() {
  display: flex;
  flex-wrap: wrap;
  margin-right: ($gutter / -2);
  margin-left: ($gutter / -2);
}

@mixin make-col-ready() {
  position: relative;
  width: 100%;
  padding-right: ($gutter / 2);
  padding-left: ($gutter / 2);
}

@mixin make-col($size) {
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}

@mixin breakpoint-sm {
  @media (min-width: $screen-sm) {
    @content
  }
}

@mixin breakpoint-up-to-sm {
  @media (max-width: $screen-sm - 1) {
    @content
  }
}

@mixin breakpoint-md {
  @media (min-width: $screen-md) {
    @content
  }
}

@mixin breakpoint-up-to-md {
  @media (max-width: $screen-md - 1) {
    @content
  }
}

@mixin breakpoint-lg {
  @media (min-width: $screen-lg) {
    @content
  }
}

@mixin breakpoint-up-to-lg {
  @media (max-width: $screen-lg - 1) {
    @content
  }
}

@mixin breakpoint-xl {
  @media (min-width: $screen-xl) {
    @content
  }
}

@mixin breakpoint-up-to-xl {
  @media (max-width: $screen-xl - 1) {
    @content
  }
}

@mixin breakpoint($screen-size) {
  @media (min-width: $screen-size) {
    @content
  }
}

@mixin breakpoint-up-to($screen-size) {
  @media (max-width: $screen-size) {
    @content
  }
}
