@import '../variables';
@import 'variables';

.btn {
  @include radius(4px);
  @include rem(16); /*Необходимо уточнение по мобильной версии*/
  @include line-height(18, 18);
  @extend .text-center;
  font-family: $primary-font-family;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 15px; /*Необходимо уточнение по мобильной версии*/
  display: inline-block;
  background-color: $highlighted-color;
  color: $white;

  @include breakpoint-md {
    @include rem(18);
    padding: 20px 25px;
  }

  &[disabled] {
    //background-color: $gray;
    pointer-events: none;
  }

  &--full {
    width: 100%;
  }

  &--sm {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
    @include breakpoint-md {
      @include rem(18);
      @include line-height(21, 18);
      text-transform: none;
      font-weight: 400;
    }
  }

  &--arrowed {
    position: relative;
    padding-right: 40px;

    @include breakpoint-lg {
      padding-right: 69px;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url("../../assets/images/icon-arrow-white.svg");
      background-repeat: no-repeat;
      background-size: contain;
      @include size(24px, 10px);
      right: 2%;
      top: 50%;
      transform: translateY(-50%);

      @include breakpoint-lg {
        @include size(24px, 15px);
        right: 10%;
      }
    }
  }
  &__auth {
    background-color: $g__btn_primary_background;
    color: $g__btn_primary_color;
  }
  &__pay {
    background-color: $request-button-background;
    color: $request-button-color;

    @media (max-width: 576px) {
      width: 100%;
    }
  }
}

.btn--request {
  @include radius(4px);
  @include rem(16); /*Необходимо уточнение по мобильной версии*/
  @include line-height(18, 18);
  @extend .text-center;
  font-family: $primary-font-family;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 15px; /*Необходимо уточнение по мобильной версии*/
  display: inline-block;
  background-color: $nav-button-request-background;
  color: $nav-button-request-text;

  &:hover{
    background: #0D8EBB;
  }

  @include breakpoint-md {
    @include rem(18);
    padding: 20px 25px;
  }

  &[disabled] {
    background-color: $gray;
    pointer-events: none;
  }

  &--full {
    width: 100%;
  }

  &--sm {
    font-weight: 400;
    text-transform: none;

    @include breakpoint-md {
      @include rem(18);
      @include line-height(21, 18);
    }
  }

  &--arrowed {
    position: relative;
    padding-right: 40px;

    @include breakpoint-lg {
      padding-right: 69px;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url("../../assets/images/icon-arrow-white.svg");
      background-repeat: no-repeat;
      background-size: contain;
      @include size(24px, 10px);
      right: 2%;
      top: 50%;
      transform: translateY(-50%);

      @include breakpoint-lg {
        @include size(24px, 15px);
        right: 10%;
      }
    }
  }
}

// на подаче заявки
.rate__btn {
  display: flex;
  padding: 20px 25px;
  margin-left: 20px;
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: $request-button-color;
  background: $request-button-background;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;

  svg {
    position: absolute;
    right: 25px;
    fill: $request-button-color;
    path {
      fill: $request-button-color;
    }
  }

  @media (max-width: 576px) {
    font-size: 1rem;
    line-height: 1;
    padding: 15px;
    height: auto;
    width: 200px;
  }

  &:disabled {
    color: $request-button-color;
    background: $request-button-background;
  }

  &::after {
    content: "";
    display: block;
    margin-left: 20px;
    width: 25px;
    height: 16px;
    //background-image: url("/assets/images/icon-arrow-white.svg");
    background-repeat: no-repeat;
  }
}


// Кнопки 2 степ
.step2to3-btn {
  position: relative;
  width: 222px;
  display: flex;
  align-items: center;
  color: $request-button-color;
  background: $request-button-background;
  &:disabled {
    color: $request-button-color;
    background: $request-button-background;
  }

  & img {
    margin-left: 20px;
  }

  & .btn-body {
    display: flex;
    align-items: center;
  }

  @media (max-width: 576px) {
    width: 200px;
    padding: 15px;
    height: auto;
  }

  .arrow-request-icon {
    position: absolute;
    right: 25px;
    top: 20px;
    svg {
      fill: $request-button-color;
      path {
        fill: $request-button-color;
      }
    }
  }
  .loaderAuth {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 12px;
    border: 4px solid $request-button-2step-loader-color;
    border-top: 4px solid $request-button-background;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
}

.repeat {
  margin-bottom: 10px;
  position: absolute;
  right: 25px;
  top: 17px;
  svg {
    fill: $request-button-color;
    path {
      fill: $request-button-color;
    }
  }
}

.repeat-code {
  margin-bottom: 10px;
  right: 25px;
  top: 17px;
}

.btn-blue{
  background: #00AFEC;
  border: 1px solid #00AFEC;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  padding:14px 20px;
  border: 1px solid #00AFEC;

  @media (max-width: 768px) {
    width: 100%;
  }

  &:hover{
    background: #0D8EBB;
    border: 1px solid #0D8EBB;
    cursor: pointer;
  }

  &:disabled{
    opacity: 0.5;
    &:hover{
      cursor: not-allowed;
    }
  }
}

.btn-blue-small{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  background: #00AFEC;
  border-radius: 4px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding:10px 14px;
  border: 1px solid #00AFEC;

  &:hover{
    background: #0D8EBB;
    border: 1px solid #0D8EBB;
    cursor: pointer;
  }
}

.btn-blue-attr{
  background:none;
  border: 1px solid #00AFEC;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #00AFEC;
  padding:15px 20px;
  border: 1px solid #00AFEC;

  &:hover{
    border: 1px solid #0D8EBB;
    color: #0D8EBB;
    cursor: pointer;
  }

  &--thin{
    font-weight: normal;
    width: 100%;
  }
}


.btn-blue-arrow {
  background: #00AFEC;
  border-radius: 4px;
  padding: 20px 69px 20px 25px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 100%;
    background-image: url("../../assets/images/icon-arrow-white.svg");
    right: 25px;
    top: 23px;
  }

  &:hover{
    background: #0D8EBB;
  }
}
