.footer {
  padding-top: 20px;
  //padding-bottom: 26px;

  &--centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__lisence-info {
    @extend .text-gray;

    @include breakpoint-up-to-md {
      text-align: center;
    }
  }

  @include breakpoint-xl {
    min-width: 1100px;
  }
}
