.header {
  background-color: $nav-background;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 999;
  position: relative;
  border-bottom: 1px solid rgba(21, 36, 56, 0.1);
  min-width: 375px;

  @include breakpoint-lg {
    padding-top: 11px;
    padding-bottom: 0;
  }

  @include breakpoint-xl {
    min-width: 1100px;

  }

  &--centered {
    padding: 0;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .header__logo {
      padding-top: 0;
      margin-right: 0;
      min-width: 240px;
    }
  }

  &__logo {
    display: inline-block;
    width: 105px;

    img {
      vertical-align: middle;
      max-height: 100%;
    }


    @include breakpoint-lg {
      margin-right: 20px;
      width: 291px;
    }

    @include breakpoint-xl {
      padding-top: 4px;
      margin-right: 65px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-lg {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__nav {
    @include breakpoint-lg {
      flex-grow: 1;
    }
  }
}
