a {
  &:hover {
    cursor: pointer;
  }
}

.bordered-gray {
  color: $tertiary-text-color;
  text-decoration: underline;
  //border-bottom: 1px solid $tertiary-text-color;
}

.bordered-blue {
  color: $links-color;
  text-decoration: underline;
  //border-bottom: 1px solid $highlighted-color;
}

.dashed-blue {
  @include rem(13);
  @include line-height(18, 13);
  color: $links-color;
  border-bottom: 1px dashed $links-color;
}

.dotted-blue {
  display: inline;
  color: $links-color;
  border-bottom: 1px dotted $links-color;
}

.blue {
  color: $links-color;
}
