.main-nav {
  &__wrapper {
    display: none;
    position: absolute;
    width: 100%;
    padding: 10px 15px 20px 10px;
    top: 45px;
    left: 0;
    z-index: 999;
    background-color: $white;

    @media (max-width: 992px) {
      padding: 0;
    }

    @include breakpoint-lg {
      background-color: transparent;
      position: static;
      padding: 0;
      display: flex !important;
      align-items: flex-start;
    }
  }

  &__list {
    @include breakpoint-lg {
      display: flex;
    }
    @media (max-width: 992px) {
      padding: 15px;
    }

    & + .main-nav__btn {
      @include breakpoint-lg {
        margin-left: 20px;
      }

      @include breakpoint-xl {
        margin-left: 41px;
      }
    }
  }


  &__toggle {
    @extend .hide-lg;
    @include size(20px, 17px);
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    border: none;

    position: relative;
    background-image: url("../../assets/images/burger.svg");

    &.open {
      background-image: url("../../assets/images/close-icon.svg");
    }

    &--count {
      background: #FF1037;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 13px;
      text-transform: uppercase;
      color: #FFFFFF;
      min-width: 20px;
      min-height: 19px;
      position: absolute;
      left: -14px;
      top: -8px;
      z-index: 10;
      border: 2px solid white;
    }
  }

  &__link {
    @extend .bold;
    @extend .uppercase;
    @include rem(15);
    @include line-height(18, 13);
    display: inline-block;
    color: $nav-link;
    border-bottom: 3px solid transparent;

    &--has-dropdown {
      span {
        position: relative;
        padding-right: 14px;

        &::before {
          content: '';
          position: absolute;
          @include size(9px, 5px);
          top: 50%;
          margin-top: -2.5px;
          right: 0;
          background-image: url("../../assets/images/icon-arrow-black.svg");
          background-repeat: no-repeat;
        }
      }
    }

    @include breakpoint-lg {
      @include rem(13);
      padding-top: 11px;
      padding-bottom: 17px;
    }

    &.is-active, &:hover {
      border-bottom-color: $nav-link-highlight;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include breakpoint-lg {
      &:not(:last-child) {
        margin-right: 15px;
        margin-bottom: 0;
      }
    }

    @include breakpoint-xl {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__btn {
    @include rem(13);
    @include line-height(18, 13);
    padding: 10px 14px;
    margin-top: 20px;

    @include breakpoint-lg {
      margin-top: 0;
    }
  }

  &__user {
    position: relative;
    color: $black;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 17px;
    margin-top: 15px;
    //align-items: center;

    @include breakpoint-lg {
      margin-top: 0;
    }

    @include breakpoint-xl {
      margin-top: 7px;
    }

    &::before {
      content: '';
      position: absolute;
      @include size(9px, 5px);
      top: 50%;
      margin-top: -2.5px;
      right: 0;
      background-image: url("../../assets/images/icon-arrow-black.svg");
      background-repeat: no-repeat;
      display: none;

      @include breakpoint-lg {
        display: block;
      }
    }

    &-name {
      @include rem(13);
      @include line-height(24, 15);
      margin-right: 9px;

      @include breakpoint-lg {
        @include rem(15);
      }
    }

    &-num {
      @extend .bold;
      @include size(24px, 24px);
      @include rem(13);
      @include line-height(16, 13);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $highlighted-color-secondary;
      color: $white;
    }

    &-dropwdown {
      display: block;

      @media(max-width: 992px) {
        display: flex;
        width: 100%;
        flex-grow: 1;
      }
    }
  }
}

.main-nav__user {
  &:before {
    display: none;
  }
}

.main-nav__user-name {
  position: relative;


  //&:after {
  //  content: '';
  //  position: absolute;
  //  width: 9px;
  //  height: 5px;
  //  top: 50%;
  //  margin-top: -2.5px;
  //  right: -20px;
  //  background-image: url("../../assets/images/icon-arrow-black.svg");
  //  background-repeat: no-repeat;
  //}
}
