@import 'variables';

.trademark-search__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.trademark-search {
  display: flex;
  flex: 0 0 auto;
  margin-top: 5px;
  border: 1px solid rgba(21, 36, 56, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  @media (max-width: 767px) {
    display: block;
    margin-top: 0;
    border: none;
    box-shadow: none;
  }
}

.trademark-search__input {
  flex-grow: 1;
  padding: 15px 18px;
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border: none;
  -webkit-appearance: none;

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(21, 36, 56, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 15px;
    line-height: 18px;
    color: $g__text_color_secondary;
  }

  &:focus::placeholder {
    opacity: 0;
  }

  &_disabled {
    background: $dashboard__search_btn_accent_color;
    cursor: not-allowed;
    opacity: 0.8;
  }
}

.trademark-search__btn {
  padding: 17px 36px 15px;
  font-family: inherit;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $dashboard__search_btn_accent_color;
  background-color: $dashboard__search_btn_accent_background;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;

  @media (max-width: 991px) {
    padding-left: 17px;
    padding-right: 17px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
  }
}

.history-search {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-top: 28px;

  @media (max-width: 767px) {
    margin-top: 20px;
  }
}

.history-search__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $header__dark_text_color_primary;
}

.history-search__table {
  flex: 1 0 auto;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  & tr {
    border-top: 1px solid rgba(21, 36, 56, 0.15);
    display: grid;
    grid-template-areas: 'first second third fourth';
    grid-template-columns: 105px 1fr 1fr 50px;

    @media (max-width: 767px) {
      grid-template-areas: 'first third'
      'second fourth';
      grid-template-columns: 50% 50%;
      grid-row-gap: 5px;
      padding: 10px 0;
    }

    &:last-of-type {
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
    }
  }

  & td {
    vertical-align: top;
    padding-top: 15px;
    padding-bottom: 14px;
    font-size: 13px;
    line-height: 18px;
    color: $header__dark_text_color_primary;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media (max-width: 767px) {
      padding: 0;
      text-overflow: inherit;
      white-space: normal;
      overflow: visible;
    }

    .history-search__counter {
      padding: 4px;
      display: inline-block;
      background: #414B5A;
      border-radius: 5px;
    }

    //&.history-search__request {
    //  width: 23%;
    //  text-transform: uppercase;
    //  text-align: center;
    //  margin: auto;
    //
    //  @media (max-width: 767px) {
    //    width: 100%;
    //    grid-row: 2/3;
    //    grid-column: 1/2;
    //    padding-top: 0;
    //    padding-bottom: 10px;
    //    text-align: left;
    //    margin: 0;
    //  }
    //}

    //&:first-of-type {
    //  //width: 19%;
    //
    //  @media (max-width: 767px) {
    //    width: 100%;
    //    grid-row: 1/2;
    //    grid-column: 1/2;
    //    padding-top: 10px;
    //    padding-bottom: 5px;
    //  }
    //}
    //
    //&:nth-child(2) {
    //  padding-right: 10px;
    //  padding-left: 10px;
    //  overflow: hidden;
    //  text-overflow: ellipsis;
    //  width: 45%;
    //
    //  @media (max-width: 767px) {
    //    padding-left: 0;
    //    max-width: 80%;
    //    width: initial;
    //  }
    //}

    //&:nth-child(3) {
    //  width: 25%;
    //  @media (max-width: 767px) {
    //    width: 100%;
    //    grid-row: 2/3;
    //    grid-column: 2/3;
    //    text-align: right;
    //    padding-top: 0;
    //    padding-bottom: 10px;
    //  }
    //}

    //&:last-of-type {
    //  text-align: right;
    //
    //  @media (max-width: 767px) {
    //    grid-row: 1/2;
    //    grid-column: 2/3;
    //    padding-top: 10px;
    //    padding-bottom: 5px;
    //  }
    //}
  }
}

.trademark-search-item__btn {
  align-self: flex-start;
  margin-top: 15px;
  padding: 9px 14px;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  border: 1px solid $g__btn_primary_background;

  @media (max-width: 767px) {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid $g__outline_color;
  }
}

.trademark-search__nothing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid $g__outline_color;

  & svg {
    display: block;
    margin-bottom: 6px;
    fill: #FFFFFF;
  }
}

.history-search__first {
  grid-area: first;

  @media (max-width: 767px) {
    padding-right: 20px;
  }
}

.history-search__second {
  grid-area: second;
  padding-right: 40px;
  padding-left: 40px;

  @media (max-width: 767px) {
    padding-left: 0;
  }
}

.history-search__third {
  grid-area: third;

  @media (max-width: 767px) {
    text-align: right;
  }
}

.history-search__fourth {
  grid-area: fourth;
  text-align: right;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
