<section class="section-position section-position__exp">
  <div class="container section-position__expert">
    <div class="section-position__expert-img">
      <picture>
        <source
          media="(max-width: 768px)"
          srcset="/assets/images/gardium_pro_girl.png"
          width="314"
        />
        <img src="/assets/images/gardium_pro_girl.png" alt="" width="314"/>
      </picture>

    </div>
    <div class="expert">
      <h2>Задать вопрос юристу</h2>
      <div class="expert__btn-wrapper">
        <button type="button" class="expert__btn" *ngFor=" let btn  of btns" (click)="onClickBtn()">{{ btn }}</button>
      </div>
    </div>
  </div>
</section>
