@import 'variables';

.container {
  max-width: 1260px;
  padding-left: 20px;
  padding-right: 20px;
}

.section-position__color {
  background: $header__dark_background;
}

.container__top {
  background: none;
  display: flex;
  justify-content: space-between;

  @media(max-width: 1200px) {
    display: block;
    margin-bottom: 40px;
  }

  @media(max-width: 768px) {
    margin-bottom: 20px;
  }

  h1 {
    color: $header__dark_text_color_primary;
    font-size: 25px;
    line-height: 32px;
    font-weight: normal;
    margin-bottom: 0;
    padding: 25px 0;

    @media(max-width: 768px) {
      font-size: 24px;
      padding: 20px 0;
    }
  }
}

.package {
  display: flex;
  align-items: center;
  gap: 0.93rem;

  @media(max-width: 768px) {
    display: block;
  }

  p {
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $header__dark_text_color_secondary;
    margin-bottom: 0;

    @media(max-width: 768px) {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__btns {
    gap: .625rem;
    display: flex;

    @media(max-width: 768px) {
      display: block;
      gap: 0;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__btn {
    border: 1px solid $header__dark_text_color_secondary;
    box-sizing: border-box;
    border-radius: 3px;
    padding: .625rem;
    font-weight: bold;
    font-size: .68rem;
    line-height: 1.45;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $header__dark_text_color_primary;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

    @media(max-width: 768px) {
      width: 100%;
      font-size: 11px;
      line-height: 16px;
    }

    &--active {
      background: $g__success_color;
      border: 1px solid $g__success_color;
    }
  }
}

.top-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-bottom: 60px;

  @media(max-width: 991px) {
    //display: flex;
    //justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    padding-bottom: 0;
  }

  &__card {
    flex-grow: 1;
    margin-right: 40px;
    padding: 20px 19px;
    background: $dashboard_cards__background;
    box-sizing: border-box;
    border-radius: 10px;

    &:last-of-type {
      margin-right: 0;
    }

    @media(max-width: 991px) {
      margin-right: 0;
    }

    @media(max-width: 768px) {
      padding: 19px;
      margin-right: 0;
      margin-bottom: 10px;

      &:nth-child(3) {
        margin-right: 0;
      }
    }

    .prompt__question {
      position: static;
      color: $header__dark_text_color_secondary;
      border-color: $header__dark_text_color_secondary;
      cursor: pointer;
    }

    .prompt__hidden {
      top: 20px;
      bottom: initial;
    }

    .prompt__hidden p {
      color: $header__dark_text_color_secondary;
      margin-bottom: 0;
    }
  }

  &__card-subtitles {
    display: flex;
    justify-content: space-between;
    position: relative;

    p {
      font-size: 18px;
      line-height: 22px;
      color: $header__dark_text_color_primary;
      margin-bottom: 15px;
    }

    .prompt__hidden p {
      font-size: 13px;
      line-height: 15px;
    }
  }

  &__numbers {
    font-size: 40px;
    line-height: 47px;
    color: $header__dark_text_color_primary;
  }

  &__numbers-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__numbers-subtitle {
    font-size: 1.125rem;
    line-height: 1.22;
    color: $header__dark_text_color_primary;
    margin-bottom: 1rem;
  }
}

.services {
  display: grid;
  grid-template-areas: "card-wrapper top-btns"
  "card-wrapper attention";
  grid-template-rows: min-content 1fr;
  grid-template-columns: 65% auto;
  grid-gap: 40px;
  align-items: start;
  margin-top: -20px;

  @media(max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas: "top-btns"
    "card-wrapper"
    "attention";
    margin-top: 0;
    padding: 0;
    grid-gap: 20px;
    background: $g__form_background;
  }

  &__card-wrapper {
    grid-area: card-wrapper;
    margin-bottom: 60px;

    @media(max-width: 991px) {
      margin-bottom: 40px;
    }

    @media(max-width: 768px) {
      padding: 0 20px;
      margin-bottom: 0;
    }
  }

  &__card {
    width: 100%;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 40px;

    @media(max-width: 991px) {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 0;

      @media(max-width: 768px) {
        margin-bottom: 0;
      }
    }
  }

  &__card-top {
    background: $header__light_background;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    line-height: 26px;
    padding: 1.81rem;
    position: relative;

    @media(max-width: 768px) {
      padding: 15px;
      font-size: 18px;
      line-height: 24px;
    }

    p {
      max-width: 85%;
      display: flex;
      margin-bottom: 0;

      @media(max-width: 768px) {
        max-width: none;
      }
    }
  }

  &__card-bottom {
    background: $g__white_background;
    border-radius: 0 0 10px 10px;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;

    &--padding {
      padding: 30px;

      @media(max-width: 768px) {
        padding: 15px;
      }
    }
  }

  &__card-bottom--block {
    h3 {
      font-size: 18px;
      line-height: 24px;
      color: $g__text_color_secondary;
      padding: 1.25rem 1.875rem;
      border-bottom: 1px solid $g__outline_color;
      margin-bottom: 0;
      border-top: 1px solid $g__outline_color;

      @media(max-width: 768px) {
        padding: 15px;
        font-size: 16px;
        line-height: 20px;
      }
    }

    &:first-of-type h3 {
      border-top: none;
    }

    p {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 24px;

      @media(max-width: 768px) {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 20px;
      }
    }

    & div:last-of-type p {
      margin-bottom: 0;
    }
  }

  &__card-bottom--text {
    p {
      margin-bottom: 10px;
      white-space: pre-wrap;

      @media(max-width: 768px) {
        margin-bottom: 5px;
      }
    }

    p:nth-child(2n) {
      margin-bottom: 30px;

      @media(max-width: 768px) {
        margin-bottom: 15px;
      }
    }
  }
}

.attention {
  grid-area: attention;
  padding: 29px;
  margin: 0;

  @media(max-width: 768px) {
    margin-bottom: 30px;
  }

  @media(max-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
    padding: 9px;
  }

  p:first-of-type {
    margin-bottom: 10px;

    @media(max-width: 768px) {
      margin-bottom: 5px;
    }
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 10px;

    @media(max-width: 768px) {
      margin-bottom: 5px;
    }
  }
}

.attention__list {
  margin: 0;
  padding: 1.25rem;

  li:last-of-type {
    margin-bottom: 0;
  }

  @media(max-width: 768px) {
    padding: 15px;
  }
}

.attention__list li:after {
  width: 1.3rem;
  height: 1.3rem;

  @media(max-width: 768px) {
    top: 3px;
  }
}

.attention__list li:not(:last-of-type) {
  margin-bottom: .93rem;
}

.attention__list li {
  padding: 0 0 0 3.25rem;
  max-width: 90%;
  font-size: 18px;
  line-height: 24px;

  @media(max-width: 768px) {
    padding: 0 0 0 39px;
    max-width: none;
    font-size: 16px;
    line-height: 20px;
  }
}

.table-economy {
  display: grid;

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &:first-of-type span:nth-child(2n) {
      border-radius: 5px 5px 0 0;
      color: $g__text_color_primary;
    }

    &:first-of-type span {
      padding: 17px 20px 10px 0;
      font-size: 18px;
      line-height: 24px;
      border-radius: 0 0 5px 5px;

      @media(max-width: 768px) {
        padding: 11px 10px 14px 0;
        font-size: 16px;
        line-height: 20px;
      }
    }

    &:last-of-type span:nth-child(2n) {
      padding: 17px 20px 10px;
      border-radius: 0 0 5px 5px;

      @media(max-width: 768px) {
        padding: 11px 10px 14px;
      }
    }

    span {
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      padding: 10px 20px 19px 0;

      @media(max-width: 768px) {
        padding: 11px 10px 14px;
      }

      &:nth-child(2n) {
        background: rgba($header__light_background, 0.5);
        color: $g__text_color_secondary;
        padding: 10px 20px 19px;

        @media(max-width: 768px) {
          padding-left: 10px;
        }
      }
    }

    p {
      padding: 7px 11px;
      background: $header__light_background;
      grid-column-start: 1;
      grid-column-end: 3;
      display: grid;
      font-size: 15px;
      line-height: 20px;

      @media(max-width: 768px) {
        padding: 7px 11px 9px;
        font-size: 13px;
        line-height: 18px;
      }
    }
  }
}

.top-btns {
  display: flex;
  padding: 0;
  flex-direction: column;
  grid-area: top-btns;

  @media(max-width: 768px) {
    padding: 21px 20px 20px;
    margin-top: -1px;
    background: #536072;
  }

  &__btn {
    position: relative;
    background: $g__white_background;
    border: 1px solid $g__btn_attr_border_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1.25rem;
    width: 100%;
    text-align: center;
    color: $g__btn_attr_text_color;
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    line-height: 1.11;
    flex-grow: 1;
    margin-bottom: 20px;
    cursor: pointer;

    & p {
      margin: 0;
    }

    &:first-of-type {
      font-weight: 700;
      background: $g__btn_primary_background;
      color: $g__btn_primary_color !important;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .prompt {
    background: $g__white_background;
    right: 0;
  }

  .prompt__question {
    position: relative;
    top: auto;
    right: 0;
    margin-left: .625rem;
    color: $g__link_color;

    @media(max-width: 768px) {
      position: absolute;
      right: 15px;
    }
  }
}

.services__card-top p {
  max-width: 100%;
}
.data-loader {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
  }
}
.back-button {
  padding-top: 20px;
}
