@import 'variables';

.container {
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.attention {
  margin: 0 0 40px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.attention__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FF9330;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.attention__desc {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 24px;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.attention__link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: underline;
  color: $g__link_color;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.user-organization {
  display: flex;
  padding: 50px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (max-width: 991px) {
    display: block;
    padding: 40px;
  }

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.user-organization__wrap {
  width: 50%;

  @media (max-width: 991px) {
    width: 100%;
    padding-bottom: 20px;
  }
}

.user-organization__name {
  font-size: 24px;
  line-height: 32px;
  text-decoration: underline;
  color: $g__link_color;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
  }
}

.user-organization__list {
  margin-top: 10px;

  @media (max-width: 991px) {
    flex-direction: row;
    align-items: flex-start;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    margin-top: 10px;
  }
}

.user__info-item {
  @media (max-width: 991px) {
    margin-bottom: 0;
    margin-right: 11px;

    &::after {
      display: block;
    }

    @media (max-width: 767px) {
      margin-bottom: 10px;
      margin-right: 0;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::after {
        display: none;
      }
    }
  }

  &:last-of-type {
    &::after {
      display: none;
    }
  }
}

.user-organization__about {
  display: flex;
  justify-content: flex-end;
  width: 50%;

  @media (max-width: 991px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    display: block;
  }
}

.user-organization__about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  font-size: 16px;
  line-height: 24px;
  color: $g__text_color_secondary;

  @media (max-width: 991px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid $g__outline_color;

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.user-organization__about-value {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
  color: $g__text_color_primary;

  @media (max-width: 767px) {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

a.user-organization__about-value {
  &:hover {
    color: $g__link_color;
    text-decoration: underline;
  }
}

.user-organization__about-rub {
  color: $g__text_color_secondary;
}

.user-organization__add {
  display: block;
  margin-top: 40px;
  width: 100%;
  padding: 30px;
  background: $g__white_background;
  border: 1px dashed $g__link_color;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: 767px) {
    margin-top: 20px;
    padding: 20px;
  }
}

.user-organization__add-img {
  display: block;
  margin: 0 auto 20px;
  width: 60px;
  height: 60px;

  & circle {
    fill: $g__link_color;
  }

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.user-organization__add-text {
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: $g__link_color;
}

//Личный кабинет сотрудника с ожиданием подтверждения прав от админа

.waiting-conf {
  display: block;
  padding: 0;

  & .user-organization__wrap {
    padding: 50px 50px 43px;
    width: 100%;
    background: $header__light_background;
    border-radius: 5px 5px 0 0;
  }

  & .user-organization__name {
    color: $g__text_color_secondary;
    pointer-events: none;
  }
}

.user-organization__waiting-account {
  padding: 30px 30px 50px;

  &--empty {
    padding-bottom: 40px;
    border: 1px solid $g__outline_color;
    border-radius: 5px;

    & .waiting-account__desc {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.waiting-account__img {
  display: block;
  margin: 0 auto 20px;
  width: 120px;
  height: 32px;
}

.waiting-account__title {
  margin: 0 0 15px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.waiting-account__desc {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $g__text_color_secondary;

  & a {
    text-decoration: underline;
    color: $g__link_color;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.user-organization__waiting-account-btn {
  display: block;
  padding: 10px 15px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.user_name__list {
  cursor: pointer;
}

.waiting-tab-org {
  pointer-events: none;
}
