@import 'variables';

.slider-wrapper {
  position: relative;

  @media(max-width: 575px) {
    padding: 20px 0;
    border-top: 1px solid rgba(21, 36, 56, 0.15);
    border-bottom: 1px solid rgba(21, 36, 56, 0.15);
  }
}

.slider__dots__wrapper {
  position: absolute;
  left: 108px;
  bottom: 0;

  @media(max-width: 575px) {
    display: none;
  }
}

.slider-dots_item {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 0 4px;
  background: $g__outline_color;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active,
.slider-dots_item:hover {
  background: $g__alert_color;
}

.slide {
  position: relative;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide__wrapper {
  display: flex;

  @media(max-width: 575px) {
    align-items: flex-start;
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.slide__text {
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: $g__text_color_secondary;
  font-size: 13px;

  @media(max-width: 575px) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.slide__head {
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: bold;
  color: $g__text_color_primary;
}

.slide__img {
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
  margin-right: 30px;
  object-fit: contain;

  @media(max-width: 575px) {
    margin-right: 20px;
  }
}

.slide__link {
  border: none;
}

.prev {
  position: absolute;
  width: 9px;
  height: 16px;
  transform: translateY(2px);
  cursor: pointer;

  & svg {
    stroke: $g__text_color_primary;
  }
}

.next {
  position: absolute;
  width: 9px;
  height: 16px;
  cursor: pointer;
  transform: translate(98px, -17px);

  & svg {
    stroke: $g__text_color_primary;
  }
}
