<div *ngIf="showModalDoc">
  <app-modal-edit-doc
    (modalEvent)="closeModal()"
    [type]="'addDoc'"
  >
  </app-modal-edit-doc>
</div>

<div *ngIf="showModalMoreDocs">
  <app-modal-edit-doc
    (modalEvent)="closeModal()"
    [type]="'addMoreDocs'"
  >
  </app-modal-edit-doc>
</div>

<div *ngIf="showModalConfirmingDoc">
  <app-modal-edit-doc
    (modalEvent)="closeModal()"
    [type]="'addConfirmingDoc'"
  >
  </app-modal-edit-doc>
</div>

<div *ngIf="showModalPayment">
  <app-modal-edit-doc
    (modalEvent)="closeModal()"
    [type]="'addPayment'"
  >
  </app-modal-edit-doc>
</div>

<div *ngIf="showModalOther">
  <app-modal-edit-doc
    (modalEvent)="closeModal()"
    [type]="'addOther'"
  >
  </app-modal-edit-doc>
</div>

<div *ngIf="showModalGuessWho">
  <app-modal-edit-doc
    (modalEvent)="closeModal()"
    [type]="'guessWho'"
    (who)="getWho($event)"
  >
  </app-modal-edit-doc>
</div>

<div *ngIf="showModalGuessWhat">
  <app-modal-edit-doc
    (modalEvent)="closeModal()"
    [type]="'guessWhat'"
    (what)="getWhat($event)"
  >
  </app-modal-edit-doc>
</div>

<div *ngIf="showModalGuessWhatWant">
  <app-modal-edit-doc
    (modalEvent)="closeModal()"
    [type]="'guessWhatWant'"
    (whatWant)="getWhatWant($event)"
  >
  </app-modal-edit-doc>
</div>
<div [class.disabled-section]="isDisabled" *ngIf="!requestClaimService.isLoading; else load">
  <form [formGroup]="claimForm" class="stage">
    <div *ngIf="requestClaimService.startOfFirstStep === true; then first; else second"></div>
    <ng-template #first>
      <!--  <h1>Кто должник?</h1>-->
      <div class="stage__form">
        <div tabindex="0" class="stage__input-wrapper">
          <input
            type="text"
            formControlName="nameOrganization"
            (keyup)="requestClaimService.getLegal(claimForm.value.nameOrganization)"
            placeholder="Добавить по ОГРН или ИНН">
          <div class="loading__request_contract" *ngIf="requestClaimService.loadingOwner">
            <div class="loading__inner loading-claim__inner"></div>
          </div>
        </div>

        <div class="stage__options-wrapper" *ngIf="requestClaimService.dropdown">
          <div class="stage__option" (click)="setValueDefendant()">
            <h4><b>{{requestClaimService.data._source.name}}</b></h4>
            <div class="stage__about">
              <p><span class="stage__option--gray">{{requestClaimService.data._source.directors[0].postTitle}}</span>{{requestClaimService.data._source.directors[0].surname}} {{requestClaimService.data._source.directors[0].name}} {{requestClaimService.data._source.directors[0].patronymic}}</p>
              <p><span class="stage__option--gray">ИНН</span>{{requestClaimService.data._source.TIN}}</p>
              <p><span class="stage__option--gray">ОГРН </span>{{requestClaimService.data._source.PSRN}}</p>
            </div>
          </div>
        </div>
        <button class="btn-blue-attr btn-blue-attr--thin" (click)="setValueDefendant()">Не знаю</button>
      </div>
    </ng-template>
    <ng-template #second>
      <div class="stage__who">
        <p>{{requestClaimService.defendantLabel}}</p>
        <a class="stage__edit" (click)="openModalGuessWho()"></a>
      </div>
      <div *ngIf="requestClaimService.whatHappenedSelect=== true" class="flex">
        <h1>{{requestClaimService.reasonTitle}}</h1>
        <div *ngFor="let reason of requestClaimService.reasons">
          <div>
            <fieldset>
              <div tabindex="0"
                   class="input-checkbox__wrapper">
                <div class="input-checkbox">
                  <input
                    type="radio"
                    name="reason"
                    formControlName="reason"
                    id="{{reason.id}}">
                  <label
                    class="input-checkbox__label"
                    for="{{reason.id}}"
                    (click)="sendReason(reason)">
                    {{reason.title}}
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div *ngIf="requestClaimService.whatHappenedSelect === false" class="flex">
        <h1>Что случилось?</h1>
        <div class="stage__who">
          <p>{{requestClaimService.reasonLabel}}</p>
          <a class="stage__edit" (click)="openModalGuessWhat()"></a>
        </div>
        <h1>{{requestClaimService.actionTitle}}</h1>
        <div *ngIf="!requestClaimService.actionSelected">
          <div *ngFor="let action of requestClaimService.filteredActions">
            <fieldset>
              <div class="input-checkbox">
                <input type="radio"
                       name="action"
                       formControlName="action"
                       id="{{action.id}}">
                <label  class="input-checkbox__label"
                        for="{{action.id}}"
                        (click)="sendAction(action)">
                  {{action.title}}
                </label>
              </div>
            </fieldset>
          </div>
        </div>
        <div *ngIf="requestClaimService.actionSelected && !requestClaimService.endOfFirstStep">
          <div class="stage__who stage__who--margin">
            <p>Иное</p>
            <a class="stage__edit" (click)="openModalGuessWhatWant()"></a>
          </div>
          <div  class="input-textarea" >
          <textarea
            placeholder="Ваш комментарий"
            rows="5"
            formControlName="other">
          </textarea>
          </div>
          <div class="stage__btn-wrapper">
            <button type="submit" class='btn-blue-arrow' (click)="sendAction(actionOther)">Продолжить</button>
          </div>
        </div>
        <div *ngIf="requestClaimService.actionSelected && requestClaimService.endOfFirstStep">
          <div class="stage__who stage__who--margin">
            <p>{{requestClaimService.actionLabel}}</p>
            <a class="stage__edit" (click)="openModalGuessWhatWant()"></a>
          </div>
          <h1 class="stage__head">Доказательства (сканы, фото, электронный документооборот)</h1>
          <p class="stage__explanation">Каждый дополнительный документ, связанный с задолженностью, увеличивает шансы на взыскание долга. Просим приложить указанные ниже документы:</p>
          <!--        <div style="margin-bottom: 20px">-->

          <!--        <span  style="color: white; padding: 3px; border-radius: 5px; margin-right: 15px; background-color: #CAB1FF"-->
          <!--               (click)="var1 = true;var2 = false;var21 = false;var3 = false;var4 = false;"-->
          <!--        >var 1</span>-->
          <!--          <span  style="color: white; padding: 3px; border-radius: 5px; margin-right: 15px; background-color: #CAB1FF"-->
          <!--                 (click)="var1 = false;var2 = true;var21 = false;var3 = false;var4 = false;"-->
          <!--          >var 2</span>-->
          <!--          <span  style="color: white; padding: 3px; border-radius: 5px; margin-right: 15px; background-color: #CAB1FF"-->
          <!--                 (click)="var1 = false;var2 = false;var21 = true;var3 = false;var4 = false;"-->
          <!--          >var 2.1</span>-->
          <!--          <span  style="color: white; padding: 3px; border-radius: 5px; margin-right: 15px; background-color: #CAB1FF"-->
          <!--                 (click)="var1 = false;var2 = false;var21 = false;var3 = true;var4 = false;"-->
          <!--          >var 3</span>-->
          <!--          <span  style="color: white; padding: 3px; border-radius: 5px; margin-right: 15px; background-color: #CAB1FF"-->
          <!--                 (click)="var1 = false;var2 = false;var21 = false;var3 = false;var4 = true;"-->
          <!--          >var 4</span>-->
          <!--        </div>-->
          <!--              3 класса для "<div class="docs__card>" полностью определяют
                            внешний вид карточек: docs__card--active, docs__card--badly, docs__card--done-->
          <div class="docs">
            <div
              class="docs__card"
              [ngClass]="{
              'docs__card--active': requestClaimService.docs[0].disabled && !requestClaimService.docs[0].files?.length,
              'docs__card--badly': !requestClaimService.docs[0].disabled && !requestClaimService.docs[0].files?.length && !requestClaimService.docs[0].link?.length,
              'docs__card--done': requestClaimService.docs[0].filesLinks?.length || requestClaimService.docs[0].link?.length
            }">
              <div class="docs__card-wrapper">
                <div class="docs__icon-wrapper">
                  <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="docs__icon" d="M18.9688 14H30.0312L18.9688 3.03125V14ZM5
              0.03125H21.0312L33.0312 12.0312V36.0312C33.0312 37.0938 32.625 38 31.8125 38.75C31.0625 39.5625
              30.125 39.9688 29 39.9688H5C3.875 39.9688 2.90625 39.5625 2.09375 38.75C1.34375 38 0.96875 37.0938
              0.96875 36.0312V3.96875C0.96875 2.90625 1.34375 2  2.09375 1.25C2.90625 0.4375 3.875 0.03125 5 0.03125ZM15.0312
              26V20H11V26H5V30.0312H11V36.0312H15.0312V30.0312H21.0312V26H15.0312Z" fill="#00AFEC"/>
                  </svg>
                </div>
                <button
                  class="docs__title"
                  (click)="openModalDoc()">
                  Договор
                </button>
                <p class="docs__info" *ngIf="!requestClaimService.docs[0].files.length && !requestClaimService.docs[0].link.length; else docs">
                  Договор с приложениями или URL-ссылка на договор
                </p>
                <ng-template #docs>
                  <p class="docs__info" *ngFor="let item of getLabelForDocs(requestClaimService.docs[0])">
                    {{item}}
                  </p>
                </ng-template>
              </div>
              <span
                class="docs__state"
                (click)="noDocument('docs')">
              Нет договора
            </span>
            </div>
            <div
              class="docs__card"
              [ngClass]="{
              'docs__card--active': (requestClaimService.docs[1].disabled && !requestClaimService.docs[0].disabled) || requestClaimService.docs[0].filesLinks.length && requestClaimService.docs[1].disabled,
              'docs__card--badly': !requestClaimService.docs[1].disabled && !requestClaimService.docs[1].filesLinks.length && !requestClaimService.docs[1].link?.length,
              'docs__card--done': !requestClaimService.docs[1].disabled && (requestClaimService.docs[1].filesLinks?.length || requestClaimService.docs[1].link?.length)
            }">
              <div class="docs__card-wrapper">
                <div class="docs__icon-wrapper">
                  <svg  width="34" height="46" viewBox="0 0 34 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="docs__icon"  d="M12.9688 35H5V30.9688H12.9688V35ZM12.9688
              27.0312H5V23H12.9688V27.0312ZM12.9688 0.96875V3.03125H5C3.875 3.03125 2.90625 3.4375 2.09375
              4.25C1.34375 5 0.96875 5.90625 0.96875 6.96875V39.0312C0.96875 40.0938 1.34375 41 2.09375 41.75C2.90625
              42.5625 3.875 42.9688 5 42.9688H12.9688V45.0312H17V0.96875H12.9688ZM33.0312 15.0312V39.0312C33.0312
              40.0938 32.625 41 31.8125 41.75C31.0625 42.5625 30.125 42.9688 29
              42.9688H21.0312V39.0312H29V21.0312H21.0312V17H30.0312L21.0312 8V3.03125L33.0312 15.0312ZM24.9688
               27.0312H21.0312V23H24.9688V27.0312ZM24.9688 35H21.0312V30.9688H24.9688V35Z" fill="#929FAB"/>
                  </svg>
                </div>
                <button
                  class="docs__title"
                  [disabled]="requestClaimService.docs[0].disabled && !requestClaimService.docs[0].files?.length"
                  (click)="openModalConfirmingDoc()">
                  Подтверждающие документы
                </button>
                <p class="docs__info" *ngIf="!requestClaimService.docs[1].files.length && !requestClaimService.docs[1].link.length; else confDocs">
                  Подтверждающие документы (акты приема-передачи, письма, накладные или др.)
                </p>
                <ng-template #confDocs>
                  <p class="docs__info" *ngFor="let item of getLabelForDocs(requestClaimService.docs[1])">
                    {{item}}
                  </p>
                </ng-template>
              </div>
              <span
                class="docs__state"
                (click)="noDocument('confirmingDocs')">
              Нет документов
            </span>
            </div>
            <div
              class="docs__card"
              [ngClass]="{
              'docs__card--active': (requestClaimService.docs[2].disabled && !requestClaimService.docs[1].disabled) || requestClaimService.docs[1].filesLinks.length && requestClaimService.docs[2].disabled,
              'docs__card--badly': !requestClaimService.docs[2].disabled && !requestClaimService.docs[2].filesLinks.length && !requestClaimService.docs[2].link?.length,
              'docs__card--done': !requestClaimService.docs[2].disabled && (requestClaimService.docs[2].filesLinks?.length || requestClaimService.docs[2].link?.length)
            }">
              <div class="docs__card-wrapper">
                <div class="docs__icon-wrapper">
                  <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="docs__icon " d="M31.9688 0H4.03125C2.90625 0 1.9375 0.40625 1.125 1.21875C0.375 1.96875 0 2.90625 0 4.03125V31.9688C0 33.0938 0.375 34.0625 1.125 34.875C1.9375 35.625 2.90625 36 4.03125 36H31.9688C33.0938 36 34.0312 35.625 34.7812 34.875C35.5938 34.0625 36 33.0938 36 31.9688V4.03125C36 2.90625 35.5938 1.96875 34.7812 1.21875C34.0312 0.40625 33.0938 0 31.9688 0ZM31.9688 31.9688H4.03125V4.03125H31.9688V31.9688ZM12 30H6V25.9688H12V30ZM19.9688 30H13.9688V25.9688H19.9688V30ZM12 24H6V19.9688H12V24ZM19.9688 24H13.9688V19.9688H19.9688V24ZM12 18H6V13.9688H12V18ZM19.9688 18H13.9688V13.9688H19.9688V18Z" fill="#929FAB"/>
                  </svg>
                </div>
                <button
                  class="docs__title"
                  [disabled]="(requestClaimService.docs[1].disabled && !requestClaimService.docs[0].disabled)
                  || requestClaimService.docs[0].filesLinks.length && requestClaimService.docs[1].disabled
                  || requestClaimService.docs[0].disabled && !requestClaimService.docs[0].files?.length"
                  (click)="openModalPayment()">Факт оплаты
                </button>
                <p class="docs__info" *ngIf="!requestClaimService.docs[2].files.length && !requestClaimService.docs[2].link.length; else paymentDocs">
                  Документы, подтверждающие факт оплаты (платежное поручение, чек или др.)
                </p>
                <ng-template #paymentDocs>
                  <p class="docs__info" *ngFor="let item of getLabelForDocs(requestClaimService.docs[2])">
                    {{item}}
                  </p>
                </ng-template>
              </div>
              <span
                class="docs__state"
                (click)="noDocument('paymentDocs')">
              Нет документов
            </span>
            </div>
            <div
              class="docs__card"
              [ngClass]="{
              'docs__card--active': (requestClaimService.docs[3].disabled && !requestClaimService.docs[2].disabled) || requestClaimService.docs[2].filesLinks.length && requestClaimService.docs[3].disabled,
              'docs__card--badly': !requestClaimService.docs[3].disabled && !requestClaimService.docs[3].filesLinks.length && !requestClaimService.docs[3].link?.length,
              'docs__card--done': !requestClaimService.docs[3].disabled && (requestClaimService.docs[3].filesLinks?.length || requestClaimService.docs[3].link?.length)
            }">
              <div class="docs__card-wrapper">
                <div class="docs__icon-wrapper">
                  <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="docs__icon" d="M18.9688 14H30.0312L18.9688 3.03125V14ZM5 0.03125H21.0312L33.0312 12.0312V36.0312C33.0312 37.0938 32.625 38 31.8125 38.75C31.0625 39.5625 30.125 39.9688 29 39.9688H5C3.875 39.9688 2.90625 39.5625 2.09375 38.75C1.34375 38 0.96875 37.0938 0.96875 36.0312V3.96875C0.96875 2.90625 1.34375 2 2.09375 1.25C2.90625 0.4375 3.875 0.03125 5 0.03125ZM5 36.0312H23H29V20L21.0312 27.9688L17 24.0312L5 36.0312ZM9.03125 14C7.90625 14 6.9375 14.4062 6.125 15.2188C5.375 15.9688 5 16.9062 5 18.0312C5 19.0938 5.375 20.0312 6.125 20.8438C6.9375 21.5938 7.875 21.9688 8.9375 21.9688C10.0625 21.9688 11 21.5938 11.75 20.8438C12.5625 20.0312 12.9688 19.0938 12.9688 18.0312C12.9688 16.9062 12.5625 15.9688 11.75 15.2188C11 14.4062 10.0938 14 9.03125 14Z" fill="#929FAB"/>
                  </svg>
                </div>
                <button
                  class="docs__title"
                  (click)="openModalOther()"
                  [disabled]="(requestClaimService.docs[1].disabled && !requestClaimService.docs[0].disabled)
                  || requestClaimService.docs[0].filesLinks.length && requestClaimService.docs[1].disabled
                  || requestClaimService.docs[0].disabled && !requestClaimService.docs[0].files?.length
                  || (requestClaimService.docs[2].disabled && !requestClaimService.docs[1].disabled)
                  || requestClaimService.docs[1].filesLinks.length && requestClaimService.docs[2].disabled">
                  Иное
                </button>
                <p class="docs__info" *ngIf="!requestClaimService.docs[3].files.length && !requestClaimService.docs[3].link.length; else otherDocs">
                  Дополнительные документы, имеющие отношение к делу (доверенности, письма и др. при наличии)
                </p>
                <ng-template #otherDocs>
                  <p class="docs__info" *ngFor="let item of getLabelForDocs(requestClaimService.docs[3])">
                    {{item}}
                  </p>
                </ng-template>
              </div>
              <span
                class="docs__state"
                (click)="noDocument('otherDocs')">
              Нет документов
            </span>
            </div>
          </div>
          <!--        <div *ngIf="var2 === true" class="docs">-->
          <!--          <div class="docs__card docs__card&#45;&#45;done" (click)="openModalMoreDocs()">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon" d="M18.9688 14H30.0312L18.9688 3.03125V14ZM5-->
          <!--              0.03125H21.0312L33.0312 12.0312V36.0312C33.0312 37.0938 32.625 38 31.8125 38.75C31.0625 39.5625-->
          <!--              30.125 39.9688 29 39.9688H5C3.875 39.9688 2.90625 39.5625 2.09375 38.75C1.34375 38 0.96875 37.0938-->
          <!--              0.96875 36.0312V3.96875C0.96875 2.90625 1.34375 2  2.09375 1.25C2.90625 0.4375 3.875 0.03125 5 0.03125ZM15.0312-->
          <!--              26V20H11V26H5V30.0312H11V36.0312H15.0312V30.0312H21.0312V26H15.0312Z" fill="#00AFEC"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Договор</div>-->
          <!--              <p class="docs__info">nazvanie_dogovora.pdf-->
          <!--                dopolnitelnoe_siglashenie_23144.docx</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--          <div class="docs__card docs__card&#45;&#45;active" (click)="openModalConfirmingDoc()">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg  width="34" height="46" viewBox="0 0 34 46" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon"  d="M12.9688 35H5V30.9688H12.9688V35ZM12.9688-->
          <!--              27.0312H5V23H12.9688V27.0312ZM12.9688 0.96875V3.03125H5C3.875 3.03125 2.90625 3.4375 2.09375-->
          <!--              4.25C1.34375 5 0.96875 5.90625 0.96875 6.96875V39.0312C0.96875 40.0938 1.34375 41 2.09375 41.75C2.90625-->
          <!--              42.5625 3.875 42.9688 5 42.9688H12.9688V45.0312H17V0.96875H12.9688ZM33.0312 15.0312V39.0312C33.0312-->
          <!--              40.0938 32.625 41 31.8125 41.75C31.0625 42.5625 30.125 42.9688 29-->
          <!--              42.9688H21.0312V39.0312H29V21.0312H21.0312V17H30.0312L21.0312 8V3.03125L33.0312 15.0312ZM24.9688-->
          <!--               27.0312H21.0312V23H24.9688V27.0312ZM24.9688 35H21.0312V30.9688H24.9688V35Z" fill="#929FAB"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Подтверждающие документы</div>-->
          <!--              <p class="docs__info">Накладная, Акт приема-передачи,-->
          <!--                Акт оказанных услуг, Акт сверки</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--          <div class="docs__card">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon " d="M31.9688 0H4.03125C2.90625 0 1.9375 0.40625 1.125 1.21875C0.375 1.96875 0 2.90625 0 4.03125V31.9688C0 33.0938 0.375 34.0625 1.125 34.875C1.9375 35.625 2.90625 36 4.03125 36H31.9688C33.0938 36 34.0312 35.625 34.7812 34.875C35.5938 34.0625 36 33.0938 36 31.9688V4.03125C36 2.90625 35.5938 1.96875 34.7812 1.21875C34.0312 0.40625 33.0938 0 31.9688 0ZM31.9688 31.9688H4.03125V4.03125H31.9688V31.9688ZM12 30H6V25.9688H12V30ZM19.9688 30H13.9688V25.9688H19.9688V30ZM12 24H6V19.9688H12V24ZM19.9688 24H13.9688V19.9688H19.9688V24ZM12 18H6V13.9688H12V18ZM19.9688 18H13.9688V13.9688H19.9688V18Z" fill="#929FAB"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Факт оплаты</div>-->
          <!--              <p class="docs__info">Электронный чек, Онлайн оплата, Платежное поручение, Выписка по счету</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--          <div class="docs__card">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon" d="M18.9688 14H30.0312L18.9688 3.03125V14ZM5 0.03125H21.0312L33.0312 12.0312V36.0312C33.0312 37.0938 32.625 38 31.8125 38.75C31.0625 39.5625 30.125 39.9688 29 39.9688H5C3.875 39.9688 2.90625 39.5625 2.09375 38.75C1.34375 38 0.96875 37.0938 0.96875 36.0312V3.96875C0.96875 2.90625 1.34375 2 2.09375 1.25C2.90625 0.4375 3.875 0.03125 5 0.03125ZM5 36.0312H23H29V20L21.0312 27.9688L17 24.0312L5 36.0312ZM9.03125 14C7.90625 14 6.9375 14.4062 6.125 15.2188C5.375 15.9688 5 16.9062 5 18.0312C5 19.0938 5.375 20.0312 6.125 20.8438C6.9375 21.5938 7.875 21.9688 8.9375 21.9688C10.0625 21.9688 11 21.5938 11.75 20.8438C12.5625 20.0312 12.9688 19.0938 12.9688 18.0312C12.9688 16.9062 12.5625 15.9688 11.75 15.2188C11 14.4062 10.0938 14 9.03125 14Z" fill="#929FAB"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Иное</div>-->
          <!--              <p class="docs__info">Переписка, в том числе e-mail, СМС подтверждения оплаты, Скриншот онлайн перевода</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--        </div>-->
          <!--        <div *ngIf="var21 === true" class="docs">-->
          <!--          <div class="docs__card docs__card&#45;&#45;badly" (click)="openModalDoc()">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon" d="M18.9688 14H30.0312L18.9688 3.03125V14ZM5-->
          <!--              0.03125H21.0312L33.0312 12.0312V36.0312C33.0312 37.0938 32.625 38 31.8125 38.75C31.0625 39.5625-->
          <!--              30.125 39.9688 29 39.9688H5C3.875 39.9688 2.90625 39.5625 2.09375 38.75C1.34375 38 0.96875 37.0938-->
          <!--              0.96875 36.0312V3.96875C0.96875 2.90625 1.34375 2  2.09375 1.25C2.90625 0.4375 3.875 0.03125 5 0.03125ZM15.0312-->
          <!--              26V20H11V26H5V30.0312H11V36.0312H15.0312V30.0312H21.0312V26H15.0312Z" fill="#00AFEC"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Нет договора</div>-->
          <!--              <p class="docs__info">Договор на сайте в виде URL, письменный договор, договор в электронном виде</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--          <div class="docs__card docs__card&#45;&#45;active" (click)="openModalConfirmingDoc()">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg  width="34" height="46" viewBox="0 0 34 46" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon"  d="M12.9688 35H5V30.9688H12.9688V35ZM12.9688-->
          <!--              27.0312H5V23H12.9688V27.0312ZM12.9688 0.96875V3.03125H5C3.875 3.03125 2.90625 3.4375 2.09375-->
          <!--              4.25C1.34375 5 0.96875 5.90625 0.96875 6.96875V39.0312C0.96875 40.0938 1.34375 41 2.09375 41.75C2.90625-->
          <!--              42.5625 3.875 42.9688 5 42.9688H12.9688V45.0312H17V0.96875H12.9688ZM33.0312 15.0312V39.0312C33.0312-->
          <!--              40.0938 32.625 41 31.8125 41.75C31.0625 42.5625 30.125 42.9688 29-->
          <!--              42.9688H21.0312V39.0312H29V21.0312H21.0312V17H30.0312L21.0312 8V3.03125L33.0312 15.0312ZM24.9688-->
          <!--               27.0312H21.0312V23H24.9688V27.0312ZM24.9688 35H21.0312V30.9688H24.9688V35Z" fill="#929FAB"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Подтверждающие документы</div>-->
          <!--              <p class="docs__info">Накладная, Акт приема-передачи,-->
          <!--                Акт оказанных услуг, Акт сверки</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--          <div class="docs__card">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon " d="M31.9688 0H4.03125C2.90625 0 1.9375 0.40625 1.125 1.21875C0.375 1.96875 0 2.90625 0 4.03125V31.9688C0 33.0938 0.375 34.0625 1.125 34.875C1.9375 35.625 2.90625 36 4.03125 36H31.9688C33.0938 36 34.0312 35.625 34.7812 34.875C35.5938 34.0625 36 33.0938 36 31.9688V4.03125C36 2.90625 35.5938 1.96875 34.7812 1.21875C34.0312 0.40625 33.0938 0 31.9688 0ZM31.9688 31.9688H4.03125V4.03125H31.9688V31.9688ZM12 30H6V25.9688H12V30ZM19.9688 30H13.9688V25.9688H19.9688V30ZM12 24H6V19.9688H12V24ZM19.9688 24H13.9688V19.9688H19.9688V24ZM12 18H6V13.9688H12V18ZM19.9688 18H13.9688V13.9688H19.9688V18Z" fill="#929FAB"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Факт оплаты</div>-->
          <!--              <p class="docs__info">Электронный чек, Онлайн оплата, Платежное поручение, Выписка по счету</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--          <div class="docs__card">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon" d="M18.9688 14H30.0312L18.9688 3.03125V14ZM5 0.03125H21.0312L33.0312 12.0312V36.0312C33.0312 37.0938 32.625 38 31.8125 38.75C31.0625 39.5625 30.125 39.9688 29 39.9688H5C3.875 39.9688 2.90625 39.5625 2.09375 38.75C1.34375 38 0.96875 37.0938 0.96875 36.0312V3.96875C0.96875 2.90625 1.34375 2 2.09375 1.25C2.90625 0.4375 3.875 0.03125 5 0.03125ZM5 36.0312H23H29V20L21.0312 27.9688L17 24.0312L5 36.0312ZM9.03125 14C7.90625 14 6.9375 14.4062 6.125 15.2188C5.375 15.9688 5 16.9062 5 18.0312C5 19.0938 5.375 20.0312 6.125 20.8438C6.9375 21.5938 7.875 21.9688 8.9375 21.9688C10.0625 21.9688 11 21.5938 11.75 20.8438C12.5625 20.0312 12.9688 19.0938 12.9688 18.0312C12.9688 16.9062 12.5625 15.9688 11.75 15.2188C11 14.4062 10.0938 14 9.03125 14Z" fill="#929FAB"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Иное</div>-->
          <!--              <p class="docs__info">Переписка, в том числе e-mail, СМС подтверждения оплаты, Скриншот онлайн перевода</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--        </div>-->
          <!--        <div *ngIf="var3 === true" class="docs">-->
          <!--          <div class="docs__card docs__card&#45;&#45;done" (click)="openModalMoreDocs()">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon" d="M18.9688 14H30.0312L18.9688 3.03125V14ZM5-->
          <!--              0.03125H21.0312L33.0312 12.0312V36.0312C33.0312 37.0938 32.625 38 31.8125 38.75C31.0625 39.5625-->
          <!--              30.125 39.9688 29 39.9688H5C3.875 39.9688 2.90625 39.5625 2.09375 38.75C1.34375 38 0.96875 37.0938-->
          <!--              0.96875 36.0312V3.96875C0.96875 2.90625 1.34375 2  2.09375 1.25C2.90625 0.4375 3.875 0.03125 5 0.03125ZM15.0312-->
          <!--              26V20H11V26H5V30.0312H11V36.0312H15.0312V30.0312H21.0312V26H15.0312Z" fill="#00AFEC"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Договор</div>-->
          <!--              <p class="docs__info">Договор на сайте в виде URL, письменный договор, договор в электронном виде</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--          <div class="docs__card docs__card&#45;&#45;done" (click)="openModalConfirmingDoc()">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg  width="34" height="46" viewBox="0 0 34 46" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon"  d="M12.9688 35H5V30.9688H12.9688V35ZM12.9688-->
          <!--              27.0312H5V23H12.9688V27.0312ZM12.9688 0.96875V3.03125H5C3.875 3.03125 2.90625 3.4375 2.09375-->
          <!--              4.25C1.34375 5 0.96875 5.90625 0.96875 6.96875V39.0312C0.96875 40.0938 1.34375 41 2.09375 41.75C2.90625-->
          <!--              42.5625 3.875 42.9688 5 42.9688H12.9688V45.0312H17V0.96875H12.9688ZM33.0312 15.0312V39.0312C33.0312-->
          <!--              40.0938 32.625 41 31.8125 41.75C31.0625 42.5625 30.125 42.9688 29-->
          <!--              42.9688H21.0312V39.0312H29V21.0312H21.0312V17H30.0312L21.0312 8V3.03125L33.0312 15.0312ZM24.9688-->
          <!--               27.0312H21.0312V23H24.9688V27.0312ZM24.9688 35H21.0312V30.9688H24.9688V35Z" fill="#929FAB"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Подтверждающие документы</div>-->
          <!--              <p class="docs__info">Накладная, Акт приема-передачи,-->
          <!--                Акт оказанных услуг, Акт сверки</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--          <div class="docs__card docs__card&#45;&#45;done" (click)="openModalPayment()">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon " d="M31.9688 0H4.03125C2.90625 0 1.9375 0.40625 1.125 1.21875C0.375 1.96875 0 2.90625 0 4.03125V31.9688C0 33.0938 0.375 34.0625 1.125 34.875C1.9375 35.625 2.90625 36 4.03125 36H31.9688C33.0938 36 34.0312 35.625 34.7812 34.875C35.5938 34.0625 36 33.0938 36 31.9688V4.03125C36 2.90625 35.5938 1.96875 34.7812 1.21875C34.0312 0.40625 33.0938 0 31.9688 0ZM31.9688 31.9688H4.03125V4.03125H31.9688V31.9688ZM12 30H6V25.9688H12V30ZM19.9688 30H13.9688V25.9688H19.9688V30ZM12 24H6V19.9688H12V24ZM19.9688 24H13.9688V19.9688H19.9688V24ZM12 18H6V13.9688H12V18ZM19.9688 18H13.9688V13.9688H19.9688V18Z" fill="#929FAB"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Факт оплаты</div>-->
          <!--              <p class="docs__info">Электронный чек, Онлайн оплата, Платежное поручение, Выписка по счету</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--          <div class="docs__card docs__card&#45;&#45;active" (click)="openModalOther()">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon" d="M18.9688 14H30.0312L18.9688 3.03125V14ZM5 0.03125H21.0312L33.0312 12.0312V36.0312C33.0312 37.0938 32.625 38 31.8125 38.75C31.0625 39.5625 30.125 39.9688 29 39.9688H5C3.875 39.9688 2.90625 39.5625 2.09375 38.75C1.34375 38 0.96875 37.0938 0.96875 36.0312V3.96875C0.96875 2.90625 1.34375 2 2.09375 1.25C2.90625 0.4375 3.875 0.03125 5 0.03125ZM5 36.0312H23H29V20L21.0312 27.9688L17 24.0312L5 36.0312ZM9.03125 14C7.90625 14 6.9375 14.4062 6.125 15.2188C5.375 15.9688 5 16.9062 5 18.0312C5 19.0938 5.375 20.0312 6.125 20.8438C6.9375 21.5938 7.875 21.9688 8.9375 21.9688C10.0625 21.9688 11 21.5938 11.75 20.8438C12.5625 20.0312 12.9688 19.0938 12.9688 18.0312C12.9688 16.9062 12.5625 15.9688 11.75 15.2188C11 14.4062 10.0938 14 9.03125 14Z" fill="#929FAB"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Иное</div>-->
          <!--              <p class="docs__info">Переписка, в том числе e-mail, СМС подтверждения оплаты, Скриншот онлайн перевода</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--        </div>-->
          <!--        <div *ngIf="var4 === true" class="docs">-->
          <!--          <div class="docs__card docs__card&#45;&#45;done" (click)="openModalDoc()">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon" d="M18.9688 14H30.0312L18.9688 3.03125V14ZM5-->
          <!--              0.03125H21.0312L33.0312 12.0312V36.0312C33.0312 37.0938 32.625 38 31.8125 38.75C31.0625 39.5625-->
          <!--              30.125 39.9688 29 39.9688H5C3.875 39.9688 2.90625 39.5625 2.09375 38.75C1.34375 38 0.96875 37.0938-->
          <!--              0.96875 36.0312V3.96875C0.96875 2.90625 1.34375 2  2.09375 1.25C2.90625 0.4375 3.875 0.03125 5 0.03125ZM15.0312-->
          <!--              26V20H11V26H5V30.0312H11V36.0312H15.0312V30.0312H21.0312V26H15.0312Z" fill="#00AFEC"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Договор</div>-->
          <!--              <p class="docs__info">Договор на сайте в виде URL, письменный договор, договор в электронном виде</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--          <div class="docs__card docs__card&#45;&#45;done" (click)="openModalConfirmingDoc()">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg  width="34" height="46" viewBox="0 0 34 46" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon"  d="M12.9688 35H5V30.9688H12.9688V35ZM12.9688-->
          <!--              27.0312H5V23H12.9688V27.0312ZM12.9688 0.96875V3.03125H5C3.875 3.03125 2.90625 3.4375 2.09375-->
          <!--              4.25C1.34375 5 0.96875 5.90625 0.96875 6.96875V39.0312C0.96875 40.0938 1.34375 41 2.09375 41.75C2.90625-->
          <!--              42.5625 3.875 42.9688 5 42.9688H12.9688V45.0312H17V0.96875H12.9688ZM33.0312 15.0312V39.0312C33.0312-->
          <!--              40.0938 32.625 41 31.8125 41.75C31.0625 42.5625 30.125 42.9688 29-->
          <!--              42.9688H21.0312V39.0312H29V21.0312H21.0312V17H30.0312L21.0312 8V3.03125L33.0312 15.0312ZM24.9688-->
          <!--               27.0312H21.0312V23H24.9688V27.0312ZM24.9688 35H21.0312V30.9688H24.9688V35Z" fill="#929FAB"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Подтверждающие документы</div>-->
          <!--              <p class="docs__info">Накладная, Акт приема-передачи,-->
          <!--                Акт оказанных услуг, Акт сверки</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--          <div class="docs__card docs__card&#45;&#45;done" (click)="openModalPayment()">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon " d="M31.9688 0H4.03125C2.90625 0 1.9375 0.40625 1.125 1.21875C0.375 1.96875 0 2.90625 0 4.03125V31.9688C0 33.0938 0.375 34.0625 1.125 34.875C1.9375 35.625 2.90625 36 4.03125 36H31.9688C33.0938 36 34.0312 35.625 34.7812 34.875C35.5938 34.0625 36 33.0938 36 31.9688V4.03125C36 2.90625 35.5938 1.96875 34.7812 1.21875C34.0312 0.40625 33.0938 0 31.9688 0ZM31.9688 31.9688H4.03125V4.03125H31.9688V31.9688ZM12 30H6V25.9688H12V30ZM19.9688 30H13.9688V25.9688H19.9688V30ZM12 24H6V19.9688H12V24ZM19.9688 24H13.9688V19.9688H19.9688V24ZM12 18H6V13.9688H12V18ZM19.9688 18H13.9688V13.9688H19.9688V18Z" fill="#929FAB"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Факт оплаты</div>-->
          <!--              <p class="docs__info">Электронный чек, Онлайн оплата, Платежное поручение, Выписка по счету</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--          <div class="docs__card docs__card&#45;&#45;done" (click)="openModalOther()">-->
          <!--            <div>-->
          <!--              <div class="docs__icon-wrapper">-->
          <!--                <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                  <path class="docs__icon" d="M18.9688 14H30.0312L18.9688 3.03125V14ZM5 0.03125H21.0312L33.0312 12.0312V36.0312C33.0312 37.0938 32.625 38 31.8125 38.75C31.0625 39.5625 30.125 39.9688 29 39.9688H5C3.875 39.9688 2.90625 39.5625 2.09375 38.75C1.34375 38 0.96875 37.0938 0.96875 36.0312V3.96875C0.96875 2.90625 1.34375 2 2.09375 1.25C2.90625 0.4375 3.875 0.03125 5 0.03125ZM5 36.0312H23H29V20L21.0312 27.9688L17 24.0312L5 36.0312ZM9.03125 14C7.90625 14 6.9375 14.4062 6.125 15.2188C5.375 15.9688 5 16.9062 5 18.0312C5 19.0938 5.375 20.0312 6.125 20.8438C6.9375 21.5938 7.875 21.9688 8.9375 21.9688C10.0625 21.9688 11 21.5938 11.75 20.8438C12.5625 20.0312 12.9688 19.0938 12.9688 18.0312C12.9688 16.9062 12.5625 15.9688 11.75 15.2188C11 14.4062 10.0938 14 9.03125 14Z" fill="#929FAB"/>-->
          <!--                </svg>-->
          <!--              </div>-->
          <!--              <div class="docs__title">Иное</div>-->
          <!--              <p class="docs__info">Переписка, в том числе e-mail, СМС подтверждения оплаты, Скриншот онлайн перевода</p>-->
          <!--            </div>-->
          <!--            <span class="docs__state">Нет документов</span>-->
          <!--          </div>-->
          <!--        </div>-->
          <!--        <div *ngIf="var4 === true" class="stage__btn-wrapper">-->
          <!--          <button type="submit" class='btn-blue-arrow' (click)="step=2">Продолжить</button>-->
          <!--        </div>-->
          <div class="flex" *ngIf="requestClaimService.docs[3].disabled === false || requestClaimService.docs[3].files?.length">
            <h1>Комментарий</h1>
            <div tabindex="0" class="comment-input">
              <input
                type="text"
                formControlName="comment"
                [(ngModel)]="comment"
                (ngModelChange)="setComment()"
                placeholder="Ваш комментарий">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </form>
</div>
<ng-template #load>
  <div class="loader"></div>
</ng-template>
