@import "projects/app-debit/src/scss/_variables";

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

fieldset{
  border: none;
  padding: 0;
}

.flex{
  display: flex;
  flex-direction: column;
}

.creating-claim{
  padding: 40px 0;
}

.steps{
  margin-bottom: 36px;
}

.steps__element{
  width: 25%;
}

.stage{
  &__edit{
    width: 15px;
    content: '';
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15px;
    background-image: url("/assets/images/edit.svg");
    margin-left: 20px;
    display: flex;
  }

  &__explanation{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 26px;
  }

  h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #152438;
    margin-bottom: 20px;
  }

  &__form{
    display: flex;
    flex-direction: column;

    input{
      background: #FFFFFF;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
      border-radius: 5px;
      padding: 20px;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 20px;

      placeholder{
        color: #162941;
        opacity: 0.5;
      }
    }

    button{
      text-align: left;
    }
  }

  &__about{
    display: flex;
    gap: 10px;

    @media(max-width: 768px) {
      display: block;
    }
  }

  &__who{
    background: #F4F6FB;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #162941;
    justify-content: space-between;
    padding: 20px;
    display: flex;
    margin-bottom: 40px;
    max-height: 63px;

    p{
      margin-bottom: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 95%;
    }

    &--margin{
      margin-bottom: 15px;
    }
  }

  &__options-wrapper{
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 276px;
    cursor: pointer;
    width: 53%;
  }

  &__option{
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &--gray{
      color: #929FAB;
      margin-right: 3px;
    }

    h4{
      font-size: 18px;
      line-height: 21px;
      color: #162941;
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      margin-bottom: 3px;
    }

    p{
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 0;
    }
  }

  &__input-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.loading__request_contract{
  position: absolute;
  right: 45px;
  top: 20px;
}

.stage__input-wrapper:focus-within .stage__options-wrapper{
  display: flex;
}

.stage__btn-wrapper{
  display: flex;
  justify-content: flex-end;
}

.input-textarea{
  margin-bottom: 20px;
}

.stage .stage__head {
  margin-bottom: 12px;
  margin-top: 30px;
}

.stage__form {
  position: relative;
}

.stage__options-wrapper {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 62px;
  cursor: pointer;
  width: 100%;
}


.docs{
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(2, 47.5%);
  margin-bottom: 40px;

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  &__card{
    background: #F4F6FB;
    box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 28px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    position: relative;

    &--active{
      background: #FFFFFF;
    }

    &--done{
      border: 1px solid #72CA49;

      &::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: 2;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("/assets/images/icon-circle-check.svg");
        right: 20px;
        top: 20px;
      }
    }

    &--badly {

      &::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: 2;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("/assets/images/red-cancel.svg");
        right: 20px;
        top: 20px;
      }
    }

  }

  &__info{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #929FAB;
  }

  &__title{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #929FAB;
    margin-bottom: 14px;
    cursor: pointer;
    background: none;
    border: none;

    &--active{
      color: #00AFEC;
    }

  }

  &__state{
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #FF1037;
    display: none;
    cursor: pointer;
    margin-top: 40px;
  }

  &__icon-wrapper{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto 14px;
    cursor: pointer;

  }

  &__icon {
    fill: #929FAB;
    opacity: 0.5;

    &--active {
      fill: #00AFEC;
      opacity: 1;
    }
  }

  &__card-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.docs__card--active .docs__title{
  color: #00AFEC;
}

.docs__card--active .docs__icon{
  fill:#00AFEC;
  opacity:1;
}

.docs__card--active .docs__state{
  display: block;
}

.docs__card--done .docs__state,
.docs__card--badly .docs__state{
  display: block;
  font-size: 0;
  background-image: url("/assets/images/edit.svg");
  background-size: 100%;
  width: 18px;
  height: 18px;
}

.docs__card--badly .docs__title{
  text-decoration-line: line-through;
  color: #162941;
}

.docs__card--badly .docs__icon{
  fill: #152438;
  opacity:1;
}

.tariff__card-wrapper {
  width: 48%;
}

.prompt__question {
  right: 0;
  top:10px;
}

.tariff__addition{
  padding: 40px;
}

.tariff__price-block {
  margin: auto;
}

.tariff__addition h3 {
  font-size: 16px;
  line-height: 20px;
}

.tariff__head {
  gap: 20px;
  flex-direction: column;
}

.tariff{
  margin-bottom: 40px;
}

.payment--no-padding{
  padding: 0;
}

.loading-claim{
  position: relative;
  top: -57%;

  &__inner{
    left: 95%;
  }
}

.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

.disabled-section {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: 100;
    background: $g__form_background;
  }
}

.comment-input {
  display: flex;
  flex-direction: column;
  position: relative;

  input{
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;

    placeholder{
      color: #162941;
      opacity: 0.5;
    }
  }
}
