@import "../../../../themes/debit/variables";

.personal-data {
  margin-bottom: 30px;

  &__error-wrap{
    margin-top: 15px;
  }

  &__error-text{
    color: $g__alert_color;
    margin-right: 5px;
    font-size: 13px;
    line-height: 15px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    color: $request_modal__title_color;
  }

  &__form {
    display: flex;

    &.shake {
      animation: 1s ease-in-out 0s normal none running trambling-animation;
    }

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__input-wrap {
    position: relative;
    flex-grow: 1;
    margin-right: 10px;

    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &--code {
      margin-right: 0;
      max-width: 566px;

      @media (max-width: 768px) {
        margin-bottom: 0;
        max-width: none;
      }
    }

    &--has-code {
      max-width: 565px;
      margin-right: 10px;

      @media (max-width: 768px) {
        margin-bottom: 0;
        max-width: none;
      }
    }
  }

  &__input {
    padding-top: 23px;
    padding-bottom: 24px;
    color: #162941;

    &--code {
      &.successCode {
        border: 1px solid $g__success_color;
      }

      &.errorCode {
        border: 1px solid $g__alert_color;
      }
    }

    &:focus,
    &:valid {
      padding-top: 33px;
      padding-bottom: 14px;
    }

    &:focus + .personal-data__label,
    &:valid + .personal-data__label {
      top: 14px;
      font-size: 13px;
      line-height: 15px;
      transform: none;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 18px;
    line-height: 21px;
    color: #162941;
    opacity: 0.5;
  }

  &__btn-wrap {
    display: flex;
    flex-shrink: 0;
    min-width: 203px;

    &--grow {
      flex-grow: 1;
    }

  }

  &__button {
    flex-grow: 1;
    padding-top: 24px;
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    max-width: 203px;

    @media (max-width: 768px) {
     max-width: none;
      padding-top: 13px;
      padding-bottom: 15px;
    }
  }

  &__desc-wrap {
    position: relative;
    padding-top: 70px;

    @media (max-width: 768px) {
      padding-top: 80px;
    }
  }

  &__desc {
    position: absolute;
    top: 15px;
    display: flex;
    flex-direction: column;

    div:first-of-type {
      margin-bottom: 10px;
    }

    & p {
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 15px;
      color: $g__text_color_secondary;
    }

    & a {
      font-size: 13px;
      line-height: 15px;
      text-decoration-line: underline;
      color: $g__link_color;
    }
  }

  & .success {
    padding: 19px;
    background: $g__success_background;
    border: 1px solid $g__success_color;
    box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;

    & .success__title-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      & h3 {
        font-size: 18px;
        line-height: 24px;
        color: $g__success_color;
      }

      & p.success__desc {
        margin-bottom: 0;
      }
    }

    & button {
      position: relative;
      width: 24px;
      height: 24px;
      background: transparent;
      border: none;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        height: 24px;
        width: 2px;
        background-color: $g__link_color;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.shake {
  animation: 1s ease-in-out 0s normal none running trambling-animation;
}

@keyframes trambling-animation {
  0%, 50%, 100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  10%, 30% {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
  }
  20%, 40% {
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
  }
}
