@import 'variables';

.container {
  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.organization {
  padding-top: 15px;
  padding-bottom: 46px;
  background-color: $header__light_background;

  @media (max-width: 767px) {
    padding: 30px 0;
  }
}

.organization__name {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;

  @media (max-width: 991px) {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.organization__wrap {
  display: grid;
  grid-template-columns: 65.5% 31.5%;
  margin-top: 40px;
  margin-bottom: 10px;

  @media (max-width: 991px) {
    grid-template-columns: 52% 48%;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
}

.organization__balance {
  grid-row: 1/2;
  grid-column: 1/2;

  @media (max-width: 767px) {
    grid-column: 1/3;
  }
}

.organization__users {
  grid-row: 2/3;
  grid-column: 1/2;

  @media (max-width: 767px) {
    grid-row: 3/4;
    grid-column: 1/3;
  }
}

.organization__right-side {
  grid-row: 1/3;
  grid-column: 2/3;
  padding-left: 40px;

  @media (max-width: 991px) {
    padding-left: 20px;
  }

  @media (max-width: 767px) {
    grid-row: 2/3;
    grid-column: 1/3;
    padding-left: 0;
    margin-bottom: 30px;
  }
}

.organization__caption {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $g__text_color_primary;

  @media (max-width: 767px) {
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 24px;
  }

  &--balance {
    @media (max-width: 767px) {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &--users {
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
}

.balance__wrap {
  margin-bottom: 46px;
  background-color: $g__white_background;
  border-radius: 5px;
  border: 1px solid $g__outline_color;

  @media (max-width: 991px) {
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    order: 1;
    margin-bottom: 20px;
  }
}

.balance {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $header__light_background;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;

  @media (max-width: 991px) {
    display: block;
    padding: 20px;
  }
}

.balance__total {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 60px;
  color: $g__text_color_secondary;

  @media (max-width: 767px) {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
  }

  & span {
    color: $g__text_color_primary;
  }
}

.balance__bonus {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $g__text_color_secondary;

  & span {
    font-weight: 700;
    color: $g__text_color_primary;
  }
}

.balance__buttons-wrap {
  @media (max-width: 991px) {
    margin-top: 20px;
  }
}

.balance__button {
  display: block;
  padding: 7px 15px;
  margin-bottom: 15px;
  min-width: 200px;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $g__btn_attr_text_color;
  background-color: $g__white_background;
  border: 1px solid $g__btn_attr_border_color;
  border-radius: 3px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (max-width: 991px) {
    width: 100%;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.payments__admin {
  padding-bottom: 20px;
}

.payments {
  padding: 30px 30px 0;

  @media (max-width: 991px) {
    padding: 20px 20px 0;
  }
}

.payments__title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $g__text_color_secondary;
  border-bottom: 1px solid #DFE1E7;

  @media (max-width: 767px) {
    padding-bottom: 14px;
  }
}

.payments__no-rights {
  padding: 0 30px 20px;

  & p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $g__text_color_secondary;
  }
}

.payments__table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;

  & tr {
    border-bottom: 1px solid #DFE1E7;

    @media (max-width: 991px) {
      display: grid;
      grid-template-columns: 1fr max-content;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @media (max-width: 767px) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  & td {
    vertical-align: top;
    height: 100%;
    padding: 20px 0;
    font-size: 16px;
    line-height: 20px;

    &:first-of-type {
      width: 330px;

      @media (max-width: 991px) {
        width: auto;
      }
    }
  }
}

.payments__table {
  .payments__date {
    min-width: 81px;
    width: 25%;

    @media (max-width: 991px) {
      grid-row: 1/1;
      grid-column: 1/3;
      padding: 0;
      margin-bottom: 5px;
    }
  }

  .payments__name-wrap {
    @media (max-width: 991px) {
      grid-row: 2/3;
      grid-column: 1/3;
      padding: 0 0 10px;
    }
  }

  .payments__name {
    width: 85%;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  .payments__total-wrap {
    @media (max-width: 991px) {
      grid-row: 3/4;
      grid-column: 1/2;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .payments__total-wrap {
    width: auto;
    margin-right: 18px;
    text-align: right;

    @media (max-width: 991px) {
      width: auto;
      text-align: left;
    }
  }

  .payments__bonus {
    font-size: 13px;
    line-height: 18px;
    color: $g__text_color_secondary;

    @media (max-width: 991px) {
      margin-top: 5px;
    }
  }

  .payments__bonus-sum {
    color: $g__text_color_primary;
  }

  .payments__total {
    display: block;
    font-weight: 700;
    white-space: nowrap;
  }

  .payments__payment-type-wrap {
    display: inline-block;
    text-align: right;
    @media (max-width: 991px) {
      grid-row: 3/4;
      grid-column: 2/3;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }

    &--btn{
      width: 150px ;
      padding-left: 10px;
    }

  }

  .payments__payment-type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 5px 8px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $g__text_color_secondary;
    border: 1px solid $g__text_color_secondary;
    box-sizing: border-box;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
  }
}

.cases {
  margin-bottom: 40px;
  padding: 30px 30px 20px;
  background-color: $g__form_background;
  border-radius: 5px;
  border: 1px solid $g__outline_color;

  @media (max-width: 991px) {
    padding: 20px;
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  &--archive {
    background-color: $g__form_background;

    @media (max-width: 767px) {
      margin-bottom: 0;
    }

    & .cases__name {
      @media (max-width: 991px) {
        order: 2;
      }
    }
  }
}

.cases__list {
  margin-top: 20px;
  margin-bottom: -10px;

  @media (max-width: 991px) {
    margin-top: 17px;
  }

  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.cases__item {
  padding: 20px 20px 25px;
  margin-bottom: 10px;
  background: #FFFFFF;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;

  &:last-of-type {
    margin-bottom: 20px;
  }

  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px;
  }
}

.cases__response {
  display: inline-block;
  margin-bottom: 15px;
  padding: 5px 12px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  border-radius: 5px;

  @media (max-width: 991px) {
    order: 2;
    margin-bottom: 0;
  }

  &.wait {
    background-color: #FEEEDD;
  }

  &.recovery {
    background-color: #BEF2C5;
  }

  &.claim {
    background-color: #FFEA9F;
  }

  &.complete {
    background-color: #E6E6E6;

    @media (max-width: 991px) {
      order: 1;
      margin-bottom: 10px;
    }
  }
}

.cases__name {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: $g__text_color_primary;
  text-decoration: underline;

  @media (max-width: 991px) {
    margin-bottom: 10px;
  }
}

.show-all {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: underline;
  color: $g__link_color;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: 767px) {
    padding: 12px;
    width: 100%;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.cases__download {
  display: block;
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $g__link_color;
  text-align: center;
  border: 1px solid $g__link_color;
  box-sizing: border-box;
  border-radius: 3px;

  @media (max-width: 991px) {
    order: 3;
    margin: 0;
  }

  @media (max-width: 767px) {
    width: 100%;
    max-width: 295px;
  }
}

.users__form {
  margin-top: 26px;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }

  @media (max-width: 479px) {
    display: none;
  }
}

.users__form-input {
  width: 100%;
  padding: 17px 54px;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: $g__text_color_secondary;
  background: $g__white_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;

  &::placeholder {
    font-size: 15px;
    line-height: 18px;
    color: $g__text_color_secondary;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.users__form-input-wrap {
  position: relative;

  & svg {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    stroke: $g__link_color;
    fill: transparent;
  }
}

.users__wrap {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 991px) {
    display: block;
  }
}

.users__title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    display: block;
  }
}

.users__title-btn {
  padding: 10px 14px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: $g__btn_primary_color;
  background: $g__btn_primary_background;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 17px;
    text-transform: none;
  }
}

.users__item {
  position: relative;
  width: 47%;
  max-width: 387px;
  margin-bottom: 40px;
  margin-right: 6%;
  background-color: #fff;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  border-radius: 5px;

  &.admin {
    cursor: pointer;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (max-width: 991px) {
    width: 100%;
    max-width: none;
    margin-right: 0;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.users__attorney {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $g__text_color_secondary;
  border: 1px solid #72CA49;
  border-radius: 5px;
  box-sizing: border-box;

  & span {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      flex-shrink: 0;
      width: 14px;
      height: 14px;
      margin-right: 5px;
      background-image: url("/assets/icons/icon-check-green.svg");
    }
  }
}

.users__info {
  padding: 30px;
  background: $header__light_background;

  @media (max-width: 767px) {
    &--admin {
      padding: 20px;
    }
  }
}

.users__photo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 50%;
  max-height: none;
  object-fit: cover;
  max-width: 100%;
}

.users__desc-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users__name {
  margin: 0 0 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.users__position {
  margin: 0 0 5px;
  font-size: 16px;
  line-height: 20px;
  color: $g__text_color_secondary;
}

.users__email {
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: $g__link_color;
}

.users__access {
  padding: 20px 30px 30px;
  background: #FFFFFF;
  border-radius: 0 0 5px 5px;

  @media (max-width: 991px) {
    padding: 20px;
  }
}

.users__access-title {
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $g__text_color_secondary;
}

.users__access-list {
  margin: 0;
}

.users__access-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  & dd {
    margin: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.users__access-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  &--rights__no {
    color: $g__text_color_secondary;
  }
}

.rights__list-wrap {
  position: relative;
  min-width: 75px;
  cursor: pointer;

  &:hover {
    & .rights__tooltip-wrap {
      bottom: 23px;
      opacity: 1;
      visibility: visible;
      transition: all 0.2s ease;
    }
  }
}

.rights__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rights__item {
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  background: $g__link_color;
  border-radius: 50%;

  & span {
    display: none;
  }
}

.rights__no {
  display: block;
  font-size: 11px;
  line-height: 18px;
  color: $g__text_color_secondary;
}

.rights__tooltip-wrap {
  position: absolute;
  bottom: 33px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 371px;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  @media (max-width: 767px) {
    left: 105px;
    transform: translateX(-100%);
    width: 310px;
    min-width: auto;
  }
}

.rights__tooltip {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url("/assets/icons/icon-check.svg");
  }
}


// Новая организация

.payments__no-payments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  @media (max-width: 767px) {
    padding: 30px;
  }
}

.organization__empty-img {
  margin-bottom: 10px;
}

.organization__empty-text {
  font-size: 16px;
  line-height: 20px;
  color: $g__text_color_secondary;
}

.users__admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 73px;
  padding-bottom: 91px;

  @media (max-width: 767px) {
    padding: 20px 20px 30px;
  }
}

.users__admin-img {
  margin-bottom: 20px;

  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.users__admin-title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 24px;
}

.users__admin-desc {
  font-size: 16px;
  line-height: 20px;
  color: $g__text_color_secondary;
}

.cases__no-cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;

  @media (max-width: 767px) {
    padding: 15px 15px 10px;
  }
}

.cases__no-cases-btn {
  padding: 10px 14px;
  margin-top: 30px;
  font-size: 13px;
  line-height: 18px;
}

.back-link {
  @media (max-width: 767px) {
    margin-left: 20px;
  }
}
