@import "variables";

.support-modal-wrapper  {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(21, 36, 56, 0.4);
  z-index: 102;
  overflow: hidden;
}

.support-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 24px;
  position: fixed;
  width: 680px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0  10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  z-index: 103;
  height: calc(100vh - 40px);
  overflow-y: auto;

  @media (max-width: 768px) {
    width: 95%;
    padding: 15px;
    overflow-y: auto;
    height: calc(100vh - 20px);
    overflow-x: hidden;
  }

  @media (max-width: 320px) {
    width: 80%;
  }

  @media (min-height: 830px) {
    height: auto;
  }
}

.modal__close {
  top: 5px;

  & svg {
    fill: #00AFEC;
  }
}

.modal__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-right: 150px;
  color: #152438;

  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.modal__top {
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.support-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 620px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.form__group{
  width: 100%;
}

.support-form__input-label {
  font-size: 18px;
  line-height: 24px;
  color: $g__text_color_secondary;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.form__input-wrap {
  height: auto;
  margin-bottom: 3px;
}

textarea {
  background: #FFFFFF;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  resize: none;
  padding: 25px 20px;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  overflow: hidden;
  height: fit-content;
  font-family: 'Roboto', sans-serif;
  outline: none;
  margin-bottom: 12px;
  color: $g__text_color_primary;

  &::placeholder {
    color: $g__text_color_secondary;
  }

  &.with-error {
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }

  &:focus, &:not(:focus):valid {
    & ~ .textarea-label {
      font-size: 13px;
      line-height: 15px;
      //left: 50px;
      top: 6%;
      transform: none;
      pointer-events: auto;
      padding-bottom: 14px;
    }
  }
  &:focus, &:not(:focus):invalid {
    top: 50%;
  }
}

.textarea-label {
  top: 20%;
}

.files-info {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #152438;
}

.files-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 20px;
  gap: 10px;
  width: 100%;
  height: 70px;
  background: #F7F8FB;
  border: 1px dashed rgba(21, 36, 56, 0.15);
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    min-height: 104px;
    flex-direction: column;
  }
}

.support-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #929FAB;
  width: 285px;
}

.btn-submit {
  width: 100%;
  margin-bottom: 15px;
}

.warning-text {
  width: 100%;
  display: block;
  text-align: center;

  span {
    color: #00AFEC;
    cursor: pointer;
  }
}

.support-add-file {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 50px;
}

.add-file__del {
  margin-left: 5px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  background-image: url("/assets/icons/icon-delete.svg");
  cursor: pointer;

  &-disabled {
    cursor: not-allowed;
    :hover {
      pointer-events: none;
    }
  }
}

.upload-icon {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.upload-file-info {
  width: 260px;

  @media (max-width: 768px) {
    margin-right: 20px;
  }
}

.invalid-field {
  font-size: 13px;
  color: #FF1037;
}

.form__input-wrap {
  display: flex;
  flex-direction: column;
}
