.h2_new {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.heading-h1{
  margin-bottom: 18px;
}

.error_container_pass {
  display: flex;
  margin-top: 10px;
  margin-bottom: 26px;
}
.loaderAuth {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #00AFEC;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error_label{
  text-align: left;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.2;
}


.error{
  border: 1px solid #FF1037;
}
