@import "variables";
.section-position{
  padding: 0 50px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1180px) {
    padding: 0 20px 10px;
  }
  @media (max-width:653px) {
    padding:10px;
  }
}

.hidden__blocks-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.hidden__subtitle {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $g__text_color_secondary;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}

.hidden__block{
  width: 50%;
  padding-right: 50px;
  position: relative;

  @media (max-width: 768px) {
    padding-right: 0;
    &:first-of-type {
      margin-bottom: 15px;
    }
  }

  &:last-of-type{
    padding-right: 0;
    padding-left: 50px;

    @media (max-width:768px) {
      padding-left: 0;
    }
    &::before{
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      background: #E0E3E8;
      width: 1px;

      @media (max-width:768px) {
        display: none;
      }
    }
  }
  @media (max-width:768px) {
    width: 100%;
  }

}

.hidden__text-mini{
  p{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    max-width: 90%;
  }
  &:first-of-type{
    margin-bottom: 30px;

    @media (max-width:653px) {
      margin-bottom: 15px;
    }
  }
}

.hidden__blocks-wrapper{
  margin-bottom: 0;
  @media (max-width:653px) {
    margin-bottom: 20px;
  }
}

.btn-blue-attr {
  border: 1px solid $g__btn_attr_border_color;
  color: $g__btn_attr_text_color;
}

.attention{
  @media (max-width:653px) {
    margin-bottom: 15px;
  }
}

