$mainColor: #55BEEE;;
$selected_mktu_background: #FFFFFF; // Цвет фона для выбранного класса МКТУ
$selected_mktu: #55BEEE; // Цвет выбранного класса МКТУ
$border_mktu: 1px solid #FFFFFF; // Рамка на классе МКТУ при наведении
$height_search_field: 53px; // Высота поля поиска
$search_field_padding: 0px 0px 0px 24px; // Отступы в поле поиска
$width_search_button: 200px; // Ширина кнопки поиска
$background_button: #EC0039; // Цвет кнопки
$mktu_background: none; // Цвет фона для классов МКТУ
$margin_cards: -197px; // Отступ для скрытых карточек
