<section class="portfolio-table-container">
  <div class="portfolio-table" [ngClass]="'portfolio-table--' + (currentTab$ | async)">
    <div class="container">
      <div class="portfolio-table-header__row" *ngIf="(values$ | async).length">
        <div
          *ngFor="let column of columns$ | async"
          class="portfolio-table__column"
          [ngClass]="'portfolio-table__column--' + column.field"
        >
          {{column.header}}
        </div>
      </div>
    
      <ng-container [ngSwitch]="(currentTab$ | async)">
          <app-trademarks-table *ngSwitchCase="'tradeMarks'"></app-trademarks-table>
          <app-patents-table *ngSwitchCase="'patents'"></app-patents-table>
          <app-programs-table *ngSwitchCase="'programs'"></app-programs-table>
          <app-contracts-table *ngSwitchCase="'contracts'"></app-contracts-table>
          <app-other-tables *ngSwitchCase="'other'"></app-other-tables>
      </ng-container>

      
    <div style="margin: 10px" *ngIf="(tableValueCount$ | async) > 10">
      <app-pagination
        [currentPageNumber]="currentPage$ | async"
        [totalCount]="tableValueCount$ | async"
        [itemPerPage]="10"
        (eventChangePage)="changePage($event)"
      ></app-pagination>
    </div>
    </div>
  </div>
</section>
