@import 'variables';

.portfolio-table {
  $self: &;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  flex-direction: column;
  color: $g__text_color_primary;
  background-color: $g__white_background;
  
  &-header__row {
    display: flex;
    flex-direction: row;
    padding: 38px 0 15px 0;
    color: $g__text_color_secondary;
  }

  &--tradeMarks {
    #{$self}__column {
      &--imageURL { width: 13%; }
      &--type { width: 24%; }
      &--number { width: 7%; }
      &--rightHolder { width: 32%; }
      &--date { width: 20%; display: flex; }
      &--status { width: 128px; }
    }
  }

  &--patents {
    #{$self}__column {
      &--type { width: 25%; }
      &--number { width: 10%; }
      &--name { width: 39%; }
      &--registrationDate { width: 17%; }
      &--status { width: 128px; }
    }
  }

  &--programs {
    #{$self}__column {
      &--type { width: 17.2%; }
      &--number { width: 10%; }
      &--name { width: 62%; }
      &--registrationDate { width: 12%; }
    }
  }

  &--contracts {
    #{$self}__column {
      &--number { width: 35%; }
      &--parties { width: 36%; }
      &--count { width: 16.5%; }
      &--status { width: 2%; }
    }
  }

  @media (max-width: 1260px) {
    &-header__row {
      display: none;
    }
  }
}
