.file-control {
  background: #FFFFFF;
  border: 1px solid #E9ECF2;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  width: 384px;
  max-width: 366px;
  min-width: 260px;

  @media (max-width: 500px) {
    padding: 4px 14px;
    max-width: 325px;
    margin-bottom: 10px;
  }


  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      width: 100%;

      @media (max-width: 500px) {
        width: 40px;
        height: 40px;
      }
    }

    &--mini {
      width: 24px !important;
      height: 24px;
      position: absolute;
      z-index: 5;
      right: -7px;
      top: -6px;
    }
  }

  &__icon-wrapper span {
    margin-bottom: 0;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }


  span {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #152438;
    //margin-bottom: 5px;

    @media (max-width: 500px) {
      font-size: 15px;
      line-height: 20px;
    }
  }

  a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #929FAB;
    margin-bottom: 2px;
  }
}

.file-control__download {
  a {
    font-size: 14px;
  }

  svg {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    fill: #CDCFD6;
    position: relative;
    top: 2px;
  }
}

.file-control:hover .file-control__download svg {
  fill: #00AFEC;
}

.file-control:hover .file-control__download a {
  color: #00AFEC;
}

.file-control:hover .file-control__icon-wrapper svg  circle{
  fill: #00AFEC;
}

.file-control__icon-wrapper {
  svg {
    circle {
      fill: #CDCFD6;
    }
    path {
      fill: #FFFFFF;
    }
  }
}
