<div class="file-control" (click)="downloadFiles.downloadFile(def)" >
  <div class="file-control__text-wrapper">
    <a >{{trimString(def.fileName, 30)}}</a>
    <div class="file-control__download">
      <svg width="14" height="17" viewBox="0 0 14 17" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 6H10V0H4V6H0L7 13L14 6ZM0 15V17H14V15H0Z"/>
      </svg>
      <a>Скачать файл</a>
    </div>
  </div>
  <div class="file-control__icon-wrapper">
    <span class="file-control__icon">

      <svg width="50" height="50" viewBox="0 0 50 50" *ngIf="isDefaultStyle">
        <circle cx="25" cy="25" r="25"/>
        <path d="M25.9844 22H31.5156L25.9844 16.5156V22ZM19 15.0156H27.0156L33.0156 21.0156V33.0156C33.0156 33.5469 32.8125 34 32.4062 34.375C32.0312 34.7812 31.5625 34.9844 31 34.9844H19C18.4375 34.9844 17.9531 34.7812 17.5469 34.375C17.1719 34 16.9844 33.5469 16.9844 33.0156V16.9844C16.9844 16.4531 17.1719 16 17.5469 15.625C17.9531 15.2188 18.4375 15.0156 19 15.0156ZM24.0156 28V25H22V28H19V30.0156H22V33.0156H24.0156V30.0156H27.0156V28H24.0156Z"/>
      </svg>

      <ng-container *ngIf="isImportantStyle">
        <img src="/assets/images/red-attention.png" class="file-control__icon--mini">
        <img src="/assets/icons/orange-empty.svg">
      </ng-container>

    </span>
  </div>
</div>
