.page-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 136px;
    width: 100%;
    background-color: #F7F8FB;
  }

  @media (max-width: 767px) {
    &::before {
      height: 126px;
    }
  }
}

.heading-h1 {
  margin-bottom: 30px;
}

.pay-modal__tabs {
  margin: 40px 0;

  @media (max-width: 767px) {
    display: block;
  }
}

.pay-modal__tab {
  @media (max-width: 767px) {
    width: 100%;
    max-width: none;
    padding: 15px;

    &:first-of-type {
      margin-bottom: 17px;
    }
  }
}

.form-section {
  position: relative;
  z-index: 2;
  @media (min-width: 768px) {
    padding-top: 40px;
  }
}

.form__input {
  -webkit-appearance: none;
}

.btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  @media (max-width: 767px) {
    margin-top: 40px;
  }
}

.btn {
  display: flex;
  justify-content: center;

  @media (max-width: 479px) {
    width: 100%;
  }

  & svg {
    margin-left: 20px;
  }
}

.form__input:focus ~ .form__input-label, .form__input:not(:focus):valid ~ .form__input-label, .form__input:-webkit-autofill ~ .form__input-label, .form__input:not(:empty) ~ .form__input-label, .form__input[type=tel]:disabled ~ .form__input-label {
  left: 20px;
}
