@import "variables";

.form__input-wrap{
  margin-bottom: 20px;
  @media (max-width: 1180px) {
    width: 100%;
  }
  @media (max-width: 650px) {
    margin-bottom: 10px;
  };

}
.form-sides{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__big-block{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__heading{
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
  }

  &__switch-wrapper{
    position: absolute;
    right: 0;
    top: -45px;
    display: flex;
    justify-content: space-between;
  }

  &__delete{
    color: #FF1037;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    padding-left: 28px;
    position: relative;

    &::before{
      position: absolute;
      content: '';
      background-image: url("/assets/icons/icon-delete.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 18px;
      height: 18px;
      left: 2px;
      top: 0;
    }


  }

  &__form{
    position: relative;

    &:not(:first-of-type){
      margin-top: 80px;
    }
  }

  &__switch{
    position: relative;
    display: flex;
    p{
      margin-bottom: 0;
      font-size: 16px;
      line-height: 20px;
      padding-right: 32px;
    }
  }

  &__block{
    display: flex;
    flex-wrap: wrap;

    .form__input-wrap{
      width: 32.1%;
      margin-right: 20px;

      &:nth-child(3n){
        margin-right: 0;
      }

      @media (max-width: 1180px) {
        width: 100%;
        margin-right: 0;
        &:last-of-type{
          margin-bottom: 10px;
        }
      }

    }
  }
}

.invalid {
  border: 1px solid #FF1037;
}

.invalid-field {
  font-size: 13px;
  color: #FF1037;
}

.inn-blocked{
  pointer-events: none;
}
.form-card-hover {
  &:hover {
    border: 1px solid $g__link_color;
  }
}
