@font-face {
  font-family: 'Roboto';
  src:
    url('/assets/fonts/roboto-regular-v1/roboto-regular.woff2') format('woff2'),
    url('/assets/fonts/roboto-regular-v1/roboto-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('/assets/fonts/roboto-italic-v1/roboto-italic.woff2') format('woff2'),
    url('/assets/fonts/roboto-italic-v1/roboto-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('/assets/fonts/roboto-bold-v1/roboto-bold.woff2') format('woff2'),
    url('/assets/fonts/roboto-bold-v1/roboto-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('/assets/fonts/roboto-light-v1/roboto-light.woff2') format('woff2'),
    url('/assets/fonts/roboto-light-v1/roboto-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('/assets/fonts/roboto-medium/roboto-medium.woff2') format('woff2'),
    url('/assets/fonts/roboto-medium/roboto-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/assets/fonts/roboto-condensed-regular-v1/roboto-condensed-regular.woff2') format('woff2'),
    url('/assets/fonts/roboto-condensed-regular-v1/roboto-condensed-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/assets/fonts/roboto-condensed-bold-v1/roboto-condensed-bold.woff2') format('woff2'),
    url('/assets/fonts/roboto-condensed-bold-v1/roboto-condensed-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/assets/fonts/roboto-condensed-light-v1/roboto-condensed-light.woff2') format('woff2'),
    url('/assets/fonts/roboto-condensed-light-v1/roboto-condensed-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src:
    url('/assets/fonts/whitney/whitney.woff2') format('woff2'),
    url('/assets/fonts/whitney/whitney.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
