@import 'variables';

.obj-btn {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 5px;
  width: fit-content;
  position: relative;
  max-width: 359px;

  &:last-of-type {
    margin-right: 0;
  }

  @media(max-width: 767px) {
    max-width: none;
    width: 100%;
    margin-bottom: 5px;
    margin-right: 0;
    padding: 6px 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--refresh {
    background: #EBEDF2;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
  }

  &__show-more {
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: flex-start;
    position: relative;

    &--mobile {
      display: none;
    }

    &--number {
      display: inline-block;
      margin-left: 10px;
      font-weight: 700;
      font-size: 10px;
      line-height: 13px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 2px 6px;
      background: #FF1037;
      border-radius: 15px;
    }

    @media(max-width: 767px) {
      margin-top: 0;

      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
      }
    }

    &--btn {
      padding: 0;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      text-decoration: underline;
      color: #00AFEC;
      border: none;
      background: none;
      cursor: pointer;

      @media(max-width: 767px) {
        display: block;
        padding: 12px;
        font-size: 13px;
        text-decoration: none;
        border: 1px solid $g__outline_color;
        box-sizing: border-box;
        border-radius: 5px;
        background: #fff;
      }
    }

    &--gradient {
      position: absolute;
      width: 100%;
      bottom: 30px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      height: 50px;
    }
  }

  &__name {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    color: #79818B;
    margin-bottom: 2px;

    @media(max-width: 767px) {
      grid-column: 1/3;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 11px;
      line-height: 16px;
    }
  }

  &__text {
    grid-row: 2/3;
    grid-column: 1/3;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media(max-width: 767px) {
      grid-column: 1/2;
      font-size: 16px;
      line-height: 20px;
      text-transform: none;
    }
  }

  &__hidden {
    display: none;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    line-height: 18px;
    z-index: 5;
    bottom: 15px;
    max-width: 184px;
    width: max-content;

    @media(max-width: 767px) {
      right: 100%;
      transform: translateX(25px);
    }
  }

  &__btn {
    grid-row: 1/2;
    grid-column: 2/3;
    position: relative;
    background: none;
    border: none;
    width: 10px;
    height: 10px;
    margin-left: 8px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:hover {
      .obj-btn__hidden {
        display: block;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 10.79px;
      height: 1px;
      left: 0;
      top: 4px;
      background: #B4B8BF;
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      position: absolute;
      width: 10.79px;
      height: 1px;
      left: 0;
      top: 4px;
      background: #B4B8BF;
      transform: rotate(-45deg);
    }

    @media(max-width: 767px) {
      grid-row: 2/3;
      grid-column: 2/3;
      margin: 0;
      align-self: center;

      &::before,
      &::after {
        width: 14px;
        height: 2px;
        background: $g__text_color_primary;
      }
    }

    & .obj-btn__btn-refresh {
      display: none;
    }

    &--refresh {
      padding: 0;

      &::before, &::after {
        display: none;
      }

      & .obj-btn__btn-refresh {
        display: block;
        margin-bottom: 2px;
        width: 10px;
        height: 10px;

        & svg {
          stroke: $g__link_color;
          margin-bottom: 2px;

          @media(max-width: 767px) {
            width: 12px;
            height: 12px;
            stroke: $g__text_color_primary;
            stroke-width: 2px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media(max-width: 991px) {
    flex-wrap: wrap;
  }

  &__period {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
    color: #000000;
    margin-bottom: 25px;
    padding-bottom: 16px;
    border-bottom: 1px solid #DCDEE1;
    width: 120%;
    text-align: center;

    @media(max-width: 991px) {
      width: 100%;
    }

    @media(max-width: 767px) {
      padding: 19px;
      margin-bottom: 0;
      line-height: 28px;
      font-weight: 400;
      border-radius: 5px;
    }
  }

  &__choose {
    background: $g__btn_primary_background;
    border-radius: 5px 5px 0px 0px;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $g__btn_primary_color;
    position: absolute;
    top: -24px;
    left: -2px;
    width: 101.5%;
    text-align: center;
    padding: 2px;
    z-index: 4;

    @media(max-width: 767px) {
      position: relative;
      top: -2px;
      left: 0;
      right: 0;
      width: 100%;
      margin-bottom: 0;
      font-weight: 700;
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 767px) {
      padding: 19px;
      display: none;
    }
  }

  &__old-price {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #929FAB;
    width: 100%;
    flex-grow: 1;
    display: flex;
    white-space: nowrap;
  }

  &__discount {
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    background-image: url("/assets/images/sale-empty.svg");
    z-index: 3;
    height: 100%;
    width: 50px;

    span {
      font-size: 10px;
      line-height: 16px;
      position: absolute;
      top: 10px;
      right: 5px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      transform: rotate(45deg);
      width: 29px;
    }

    &--top {
      top: -2px
    }
  }

  &__price {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
    flex-grow: 1;
    width: 100%;
    white-space: nowrap;

    @media(max-width: 767px) {
      text-align: right;
    }
  }

  &__block {
    position: relative;
    width: 22%;
    height: 132px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 17px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;

    &--active {
      border: 2px solid #00AFEC;
      box-sizing: border-box;
      box-shadow: 0px 3px 8px rgba(0, 175, 236, 0.2);
    }

    @media(max-width: 991px) {
      width: 48%;
      margin-bottom: 20px;
    }

    @media(max-width: 767px) {
      width: 100%;
      height: auto;
      padding: 0;
      border: 1px solid #00AFEC;
      border-radius: 5px;

      &--active {
        border: 2px solid #00AFEC;

        & .prices__wrapper {
          display: flex;
        }

        & .prices__period {
          padding-top: 18px;
          border-radius: 5px 5px 0 0;
        }

        & .prices__discount {
          top: 22px;
        }
      }
    }
  }
}

.individual__wrap {
  @media(max-width: 767px) {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid $g__outline_color;
    border-radius: 5px;
  }
}

.individual {
  display: flex;
  justify-content: center;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  border-radius: 4px;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 31px;

  @media(max-width: 767px) {
    padding: 0;
    border: none;
    margin-bottom: 0;
  }

  &__header {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $g__text_color_primary;
    margin-bottom: 10px;

    @media(max-width: 767px) {
      margin-bottom: 13px;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $g__text_color_primary;
    margin-bottom: 18px;

    @media(max-width: 767px) {
      margin-bottom: 0;
      line-height: 20px;
    }
  }

  &__btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 14px 20px;
    background: #00AFEC;
    border-radius: 4px;
    border: none;
    width: fit-content;
    font-family: inherit;
    cursor: pointer;
  }

  &__btns-wrap {
    display: flex;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;

    @media(max-width: 767px) {
      display: block;
      width: 100%;
    }
  }

  &__btn {
    margin-right: 20px;

    @media(max-width: 767px) {
      margin-bottom: 20px;
      margin-right: 0;
      width: 100%;
    }
  }

  &__or {
    margin-right: 5px;
    @media(max-width: 767px) {
      display: none;
    }
  }

  &__btn-blue {
    color: #00AFEC;
    text-decoration: underline;
    cursor: pointer;

    @media(max-width: 767px) {
      display: block;
      width: 100%;
      padding: 12px;
      text-align: center;
      font-weight: 700;
      text-decoration: none;
      border: 1px solid #00AFEC;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }
}


.pay {
  display: flex;
  justify-content: space-between;

  @media(max-width: 991px) {
    display: block;
    margin-top: -20px;
  }

  @media(max-width: 767px) {
    margin-top: -30px;
  }

  &__text-wrapper {
    @media(max-width: 991px) {
      margin-bottom: 20px;
    }

    @media(max-width: 767px) {
      margin-bottom: 10px;
      border-bottom: 1px solid $g__outline_color;
    }
  }

  &__text {
    font-size: 13px;
    line-height: 24px;
    color: #79818B;
    margin-bottom: 0;

    @media(max-width: 767px) {
      margin-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__sum {
    font-size: 18px;
    line-height: 1.11;
    text-align: right;
    margin-bottom: 0;
  }

  &__sum-wrap {
    display: flex;
    align-items: center;

    @media(max-width: 991px) {
      justify-content: space-between;
    }

    @media(max-width: 767px) {
      display: block;
      margin-top: 20px;
    }
  }

  &__sum {
    margin-right: 20px;

    @media(max-width: 767px) {
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__btn-wrap {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .btn-blue {
    position: relative;
  }

}

// TODO: fix me
::ng-deep {
  .app-button--loading::after {
    right: 18px !important;
  }
}
