<form class="choice-dialog-control" [formGroup]="form">
  <fieldset>
    <div
      class="input-checkbox"
      *ngFor="let item of def.items; index as index">
      <input
        type="radio"
        [value]="item.id"
        [attr.id]="itemId(item)"
        formControlName="option"
        [attr.disabled]="savedFormState || dynamicFormService.disabledValueChange ? true : null"
        (ngModelChange)="setValue()">
      <label class="input-checkbox__label" [attr.for]="itemId(item)">
        {{item.name}}
      </label>
    </div>
  </fieldset>
  <div class="choice-dialog-control__submit-wrapper" *ngIf="def.buttonText && !savedFormState">
    <button type="submit" class="btn-blue" [class.btn-disabled]="!selectedOption" [attr.disabled]="!selectedOption ? true : null" (click)="onSubmit()">{{def.buttonText}}</button>
  </div>
</form>
