$g__body_background: var(--g__body_background, #EBEDF2); // Цвет фона <body>
$g__text_color_primary: var(--g__text_color_primary, #152438); // Цвет основного текста
$g__text_color_secondary: var(--g__text_color_secondary, #929FAB); // Цвет вспомогательного текста
$g__btn_primary_background: var(--g__btn_primary_background, #00AFEC); // Цвет фона основных кнопок в формах
$g__btn_primary_color: var(--g__btn_primary_color, #FFFFFF); // Цвет текста основных кнопок в формах
$g__btn_attr_border_color: var(--g__btn_attr_border_color, #79818B); // Цвет обводки атрибутивных кнопок в формах
$g__btn_attr_text_color: var(--g__btn_attr_text_color, #79818B); // Цвет текста атрибутивных кнопок в формах

$g__alert_color: var(--g__alert_color, #FF1037); // Цвет Alert
$g__warning_color: var(--g__warning_color, #FF9330); // Цвет Warning
$g__success_color: var(--g__success_color, #72CA49); // Цвет Success
$g__alert_text_color: var(--g__alert_text_color, #FFFFFF); // Цвет текста внутри Alert, Warning, Success
$g__link_color: var(--g__link_color, #00AFEC); // Цвет ссылок
$g__timeline_color: var(--g__timeline_color, #00AFEC); // Цвет таймлайна
$g__form_background: var(--g__form_background, #F7F8FB); // Цвет фона формы
$g__outline_color: var(--g__outline_color, rgba(21, 36, 56, 0.15)); // Цвет обводки

$g__mark_background: var(--g__mark_background, #00AFEC); // Цвет фона маркированного списка
$g__mark_icon_color: var(--g__mark_icon_color, #FFFFFF); // Цвет галки маркированного списка

$g__white_background: var(--g__white_background, #FFFFFF); // Белый фон

$request__tab_background: var(--request__tab_background, #F2F4F8); // Цвет фона не активного таба (в процессе оплаты)
$request__tab_color: var(--request__tab_color, #152438); // Цвет текста не активного таба (в процессе оплаты)
$request__tab_active_background: var(--request__tab_active_background, #00AFEC); // Цвет фона активного таба (в процессе оплаты)
$request__tab_active_color: var(--request__tab_active_color, #FFFFFF); // Цвет текста активного таба (в процессе оплаты)

$nav__background: var(--nav__background, #FFFFFF); // Цвет фона шапки
$nav__link_color: var(--nav__link_color, #152438); // Цвет ссылок в шапке
$nav__link_underline: var(--nav__link_underline, #FF1037); // Цвет подчеркивания активной ссылки в шапке
$nav__btn_background: var(--nav__btn_background, #00AFEC); // Цвет кнопки в шапке
$nav__btn_color: var(--nav__btn_color, #FFFFFF); // Цвет текста в кнопке в шапке

$header__light_background: var(--header__light_background, #F2F4F8); // Цвет фона светлой шапки

$header__dark_background: var(--header__dark_background, #536072); // Цвет фона темной шапки
$header__dark_text_color_primary: var(--header__dark_text_color_primary, #FFFFFF); // Цвет основного текста темной шапки
$header__dark_text_color_secondary: var(--header__dark_text_color_secondary, #929FAB); // Цвет атрибутивного текста темной шапки
$header__dark_link_color: var(--header__dark_link_color, #00AFEC); // Цвет ссылок темной шапки
$header__dark_btn_background: var(--header__dark_btn_background, #FFFFFF); // Цвет фона кнопки на темной шапке
$header__dark_btn_color: var(--header__dark_btn_color, #152438); // Цвет текста кнопки на темной шапке

$dashboard__search_btn_accent_background: var(--dashboard__search_btn_accent_background, #FF1037); // Цвет фона акцентной кнопки “Проверить”
$dashboard__search_btn_accent_color: var(--dashboard__search_btn_accent_color, #FFFFFF); // Цвет текста акцентной кнопки “Проверить”

$request_modal__item_hovered_background: var(--request_modal__item_hovered_background, #00afec); // Цвет фона плашки при наведении в модалке подать заявку
$request_modal__item_hovered_color: var(--request_modal__item_hovered_color, #FFFFFF); // Цвет текста и иконки в плашке при наведении в модалке подать заявку
$request_modal__item_icon_color: var(--request_modal__item_icon_color, #00AFEC); // Цвет иконки в неактивной плашке в модалке подать заявку
$request_modal__item_text_color: var(--request_modal__item_text_color, #152438); // Цвет текста в неактивной плашке в модалке подать заявку
$request_modal__background: var(--request_modal__background, rgba(235, 237, 242, 0.95)); // Цвет полупрозрачного фона у модальных окон
$request_modal__title_color: var(--request_modal__title_color, #152438); // Цвет заголовка на полупрозрачном фоне у модальных окон
$request_modal__icon_close_color: var(--request_modal__icon_close_color, #00AFEC); // Цвет крестика закрытия на полупрозрачном фоне у модальных окон

$g__attention_background: var(--g__attention_background, #FFFBF6); // Фон для рекомендаций (и комментариев)
$g__warning_background: var(--g__warning_background, #FFF3F5); // Фон для важных сообщений
$g__success_background: var(--g__success_background, #F9FFF8); // Фон для успешных сообщений

$monitoring_promo__icon_color: var(--monitoring_promo__icon_color, #FFFFFF); // Цвет иконок в промо-блоках (страница мониторинга) - Кастомные цвета, см макет

$dashboard_cards__background: var(--dashboard_cards__background, rgba(42, 56, 75, 0.15)); // Цвет фона блоков информеров в дашбоарде (мониторинг, портфель, услуги)
$dashboard_checked_objects__background: var(--dashboard_checked_objects__background, #F2FCFF); // Цвет фона выделенного элемента в списке у мониторинга и портфеля
$dashboard_checked_objects__outline_color: var(--dashboard_checked_objects__outline_color, #00AFEC); // Цвет обводки выделенного элемента в списке у мониторинга и портфеля

$g__checkbox_background: var(--g__checkbox_background, #00AFEC); // Цвет фона выделенного Checkbox

$corp_search__sticky_background: var(--corp_search__sticky_background, rgba(146, 159, 171, 0.8)); // Цвет фона плавающего элемента на странице результатов поиска (корпораты)
$corp_search__sticky_text_color: var(--corp_search__sticky_text_color, #FFFFFF); // Цвет текста и не активной кнопки плавающего элемента на странице результатов поиска (корпораты)
$corp_search__sticky_btn_active_background: var(--corp_search__sticky_btn_active_background, #00AFEC); // Цвет фона активной кнопки плавающего элемента на странице результатов поиска (корпораты)
$corp_search__sticky_btn_active_color: var(--corp_search__sticky_btn_active_color, #FFFFFF); // Цвет текста активной кнопки плавающего элемента на странице результатов поиска (корпораты)
$corp_search__mktu_background: var(--corp_search__mktu_background, #FFD7DD); // Цвет фона пересечения классов МКТУ в результатах поиска (корпораты)

$g__toggle_active_background: var(--g__toggle_active_background, #00AFEC); // Цвет активного Toggle
$g__toggle_active_disabled_background: var(--g__toggle_active_disabled_background, #A5D7E9); // Цвет активного не рабочего Toggle
$g__toggle_no_active_background: var(--g__toggle_no_active_background, #EBEDF2); // Цвет не активного Toggle

$expert__background: var(--expert__background, #F7F8FB); // Цвет фона блока с консультантом #F5F5F6;

$corp_contract_form__radio_background: var(--corp_contract_form__radio_background, #F1F2F5); // Цвет фона переключателей в форме заявки на договор #F5F5F6;

$service__cards_background: var(--service__cards_background, #FFFFFF); // Цвет карточек услуг - Кастомные цвета, см макет
$service__cards_text_color: var(--service__cards_text_color, #FFFFFF); // Цвет текста в карточке услуги
$search__btn: #00AFEC; // Цвет кнопки поиска

$cases__backgroud: var(--cases__backgroud, #FFFFFF); // Цвет фона черновиков
$g__widgets_link_color: var(--g__widgets_link_color, #00AFEC); // Цвет ссылок в виджете портфеля