@import "variables";

.control__btn{
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(21, 36, 56, 0.15);
  color: $g__text_color_primary ;
  width: 23.7%;
  z-index: 1;
  border-bottom: none;
  font-size: 16px;
  line-height: 22px;
  padding: 17px 60px 17px 15px;
  @media (max-width: 768px) {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    width: 155px;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
  }

  &:disabled{
    opacity: 0.6;
  }
}

.control__btn--active{
  background: #FFFFFF !important;
  border: 1px solid #CBCFD6;
  color: $g__text_color_primary ;
  z-index: 3;
  border-bottom: none;

  @media (max-width: 768px) {
    background: $g__body_background;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-shadow: none;
  }

}

.control__count{
  color: $g__text_color_primary !important;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
  right: 17px;
  top: 11px;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    right: initial;
    top: 0;
  }
}

.control__division{
  color: $g__text_color_primary !important;
}

.section-position--white{
  background: white;
  border-top: 1px solid #D8DBDF;
  z-index: 2;
  position: relative;

  @media (max-width: 768px) {
    border: none;
    z-index: auto;
  }
}



.section-position--gradient{
  padding: 0 40px;
  margin-bottom: -2px;
  overflow: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar-button {
    display: none;
    width: 0px;
    height: 0px
  }

  &::-webkit-scrollbar-track {
    display: none;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    display: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    display: none;
  }

  &::-webkit-resizer {
    background-repeat: no-repeat;
    width: 0px;
    height: 0px
  }

  &::-webkit-scrollbar {
    width: 0px;
  }

  @media (max-width: 768px) {
    padding: 0;
    margin: 0;
  }

}

.control__division--green{
  color: #72ca49
}

.search{
  background: white !important;
  padding: 20px 0;
  position: relative;

  @media (max-width: 797px) {
    background: #EBEDF2 !important;
  }

  &__input{
    max-width: 51.5%;
  }

  &__wrapper{
    flex-grow: 1;
  }

  &__options-wrapper {
    max-height: 300px;
  }
}

.control__mobile{
  display: none;
  z-index: 50;
  position: absolute;
  left: 0;
  width: 100%;
  top: 106px;
  background: none;

  p{
    width: fit-content;
    margin: 0 auto;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 15px 10px 40px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 30px;
    z-index: 2;
    top: -86px;
    display: flex;
    justify-content: space-between;

    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      background-image: url('/assets/images/icon-search-blue.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      left: 14px;
      top: 11px;
      z-index: 30;
    }
  }

  @media(max-width:500px){
    display: block;
  }

  &--active{
    background: #FFFFFF;
    border: none;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 15px;
    position: fixed;
    top: 10px;
    z-index: 1000;

    @media(max-width:500px){
      top: 0;

      p{
        top: 0;
        border: none;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        text-transform: none;
        padding: 0;
        font-weight: bold;
        left: 7px;

        &::before {
          display: none;
        }
      }
    }

    &::before {
      display: none;
    }

  }

  &--close{
    display: none;

    @media (max-width: 500px) {
      width: 24px;
      height: 24px;
      display: block;
      position: fixed;
      top: 16px;
      right: 16px;
      z-index: 1000;
      &:before{
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-image: url("/assets/images/close-icon.svg");
      }
    }

  }
}

.container__tabs{
  padding: 0 50px 40px;

  @media (max-width: 768px){
    padding: 80px 15px 15px;
  }

  &--footer{
    background: $g__form_background;
    padding: 40px 50px 50px;
  }

  &--pag{
    @media (max-width: 768px){
      padding:  5px 10px 20px;
    }
  }
}
.container__bottom{
  padding-bottom: 15px;
}

.row-white {
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid rgba(21, 36, 56, 0.15);

  &--green{
    border: 1px solid #72CA49;
  }

  @media (max-width: 960px) {
    flex-direction: column;
  }

  &__btn-choose{
    font-size: 13px;
    line-height: 18px;
    color: $g__btn_primary_background;
    text-decoration: none;
    padding: 12px;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    width: fit-content;
    font-family: 'Roboto', sans-serif;

    &:hover{
      cursor: pointer;
    }

    &--done{
      width: max-content;
      display: flex;
    }
  }

  &__img-text{
    display: flex;
    flex-grow: 1;
    width: 60%;

    @media (max-width: 960px) {
      .row-white__title-text, .row-white__title-text--four {
        max-width: 65%;
        width: auto;
        padding: 0;
      }
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
      padding-bottom: 10px;
      width: 100%;
    }

    &--reestr{
      width: 43%;
      .row-white__title-text--text {
        width: 60%;
      }
      @media (max-width: 960px){
        width: 100%;
      }
    }
  }


  &__subtitle-wrapper {
    display: flex;
    align-content: center;
  }

  &__attention {
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FF1037;
    border: 1px solid #FF1037;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 9px;
    width: fit-content;
    height: fit-content;

    @media (max-width: 960px) {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 5px 10px;
    }

    @media (max-width: 767px) {
      padding: 0 8px;
    }
  }

  &__title-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 23%;

    @media (max-width: 960px) {
      width: 100%;
      padding: 10px 0;

      &:not(:last-of-type){
        border-bottom: 1px solid rgba(21, 36, 56, 0.15);
      }
    }

    &--text{
      width: auto;
    }

    &--date{
      width: 15%;
      @media (max-width: 960px){
        width: 100%;
      }
    }
    &--owner{
      width: 20%;
      @media (max-width: 960px){
        width: 100%;
      }
    }


    &--btn{
      width: 14%;
      height: fit-content;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      input{
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      @media (max-width: 960px){
        width: 100%;

        label{
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  &--red {
    border: 1px solid rgba(255, 16, 55, 0.4);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    @media (max-width: 960px) {
      border: none;
      box-shadow: none;
      padding-top: 46px;
      position: relative;
    }

    @media (max-width: 767px) {
      padding-top: 35px;
      margin-bottom: 10px;
      font-size: 11px;
      line-height: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  &__choose{
    font-size: 13px;
    line-height: 18px;
    color: #72CA49;
    padding: 12px 12px 12px 46px;
    position: relative;
    margin-right: 10px;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    &:hover{
      cursor: pointer;
    }

    &::before{
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      left: 12px;
      top: 9px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url("/assets/icons/icon-check-green.svg");
    }
  }

  &__delete{
    padding: 11px 20px;
    background-image: url("/assets/icons/icon-delete.svg");
    background-position: center;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    &:hover{
      cursor: pointer;
    }

  }

  &__addition {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    position: relative;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      //background-image: url('../../../assets/icons/gray-arrow.svg');
      background-repeat: no-repeat;
      width: 13px;
      height: 15px;
      background-size: 100%;
      left: 0;
      top: 0;
    }
  }

  &__more {
    color: $g__text_color_secondary;
  }

  &__text-wrap {
    &:last-of-type .row-white__text {
      margin-bottom: 0;
    }

    @media (max-width: 767px) {
      margin-bottom: 4px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    margin-bottom: 9px;

    &--bold {
      margin-top: -2px;
      margin-bottom: 0;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      margin-right: 15px;
    }

    &--gray {
      color: $g__text_color_secondary;
      margin-right: 5px;
    }

    @media (max-width: 960px) {
      margin-bottom: 0;
      font-size: 13px;
      line-height: 18px;

      &--bold {
        @media (max-width: 767px) {
          margin-top: 0;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  &__subtitle {
    margin-bottom: 9px;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
    font-weight: normal;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: fit-content;

    .prompt__question{
      right: -30px;
      top: 0;
    }

    .prompt__hidden {
      left: 20px;
      height: max-content;
      top: 0;
    }

    &--margin {
      margin-bottom: 5px
    }

    @media (max-width: 960px) {
      font-size: 13px;
      line-height: 18px;
    }

    @media (max-width: 767px) {
      margin-bottom: 4px;
    }
  }

  &__question {
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    color: $g__link_color;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
    transform: translateX(8px);
    font-size: 13px;
    line-height: 16px;
    padding: 1px;
  }

  &__reg-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    position: relative;
    margin-bottom: 22px;
  }

  &__date-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__img{
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 91px;
    overflow: hidden;

    @media (max-width: 960px) {
      width: 90px;
      height: 68px;
      margin-right: 10px;
    }
  }

  &__date {
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
  }

  &__reg-progress {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
}

.line {
  position: relative;
  padding-left: 20px;
  padding-right: 15px;

  &:last-of-type {
    padding-right: 20px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 1px;
    height: 96%;
    background: #F0E0E3;
  }

  @media (max-width: 960px) {
    &::before{
      display: none;
    }
  }

  @media (max-width: 960px){
    padding-left: 0;
  }
}

.btn-blue-attr {
  border: 1px solid $g__btn_attr_border_color;
  color: $g__btn_attr_text_color;
}

.pagination{
  display: flex;
  margin: 0 auto;
  width: fit-content;
  &__btn{
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 19px;
    font-size: 13px;
    line-height: 18px;
    color: $g__btn_attr_text_color;

    svg path{
      stroke: $g__btn_attr_text_color;
    }

    &:not(:last-of-type){
      margin-right: 5px;
    }

    &--active{
      background: #EDEFF4;
      color: $g__text_color_primary;
    }

    &:disabled{
      background: $g__form_background;

      svg path{
        stroke: $g__text_color_secondary;
      }
    }
  }

  &--back{

  }
}
.search {
  @media (max-width: 793px) {
    //display: block;
    //height: 100%;
    //flex-wrap: wrap;
    //gap: 10px;
    //z-index: 1000;
    //top: 47px;
    //position: fixed;
    //flex-direction: column;
    //background: $g__body_background;
    //left: 0;
    //padding: 20px;
    //right: 0;
    display: block;
    height: 100%;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1000;
    position: fixed;
    flex-direction: column;
    background: $g__body_background;
    left: 0;
    right: 0;
    bottom: 0;
    top: -47px;
    padding: 20px 20px 70px;
    transform: translateY(70px);
  }
}

.overlay--search{
  display: none;

  @media (max-width: 793px) {
    display: block;
  }
}
.overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #3d5779;
  opacity: 0.4;
  z-index: 50;
  min-width: 375px;
}

.search__input{
  @media (max-width: 793px){
    width: 100%;
    max-width: none;
    margin-right: 0;
    margin-bottom: 13px;
  }
}

.search__wrapper{
  @media (max-width: 793px){
    gap: 10px;
    align-items: flex-start;
    width: 100%;
    height: 75%;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.form__input-wrap--select{
  flex-grow: 1;
  max-width: 280px;
  height: 50px !important;

  @media (max-width: 797px) {
    max-width: 380px;
  }

  .form__link{
    padding: 15px;
  }
}


.search::before {
  left: 20px;
  @media (max-width: 793px) {
    top: 34px;
    left: 39px;
  }
}

.form__select-list {
  top: 49px;
}
.search--noIcon::before{
  display: none;
}

.form__input-wrap--select::after {
  right: 20px;
  top: 22px;
}

.form__input-wrap--select--after::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(/assets/images/icon-arrow-black.svg);
  width: 9px;
  height: 7px;
  transform: rotate(180deg);
}
.input_container__special {
  max-width: 667px;
}

.search__input--special{
  padding: 14px 15px;
  max-width: 100%;
  flex-grow: 1;
  font-size: 15px;
  line-height: 18px;
  padding-left: 50px;
  height: 50px;
}
.disabled-button {
  opacity: 0.5;
  pointer-events: none;
}

.search__btns{
  display: block;
  height: 50px !important;
  @media (max-width: 793px) {
    display: none;
  }
}
.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
.search-text-result {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 0 10px;

  &--nothing {
    text-align: center;
    margin: 30px auto 50px;
  }

  @media(max-width: 793px){
    padding: 65px 20px 0;

    &--nothing {
      padding: 0;
      margin-top: 60px;
      margin-bottom: 0;
    }
  }

  @media(max-width: 768px){
    &--nothing {
      margin-top: 20px;
    }
  }
}
.btn-clean-blue {
   order: 1;
   border: 1px solid $g__btn_primary_background;
   color: $g__btn_primary_background;
}

.search__btns-wrapper {
  display: none;

  @media(max-width: 793px) {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 60px;
    padding: 0;
    display: flex;
  }
}

.one_time__background {
  background: #f7f8fb !important;
}
.btn-search {
  border-radius: 5px !important;
  margin-right: 0;

  @media (max-width: 797px) {
    width: 100%;
    margin-top: 10px;
  }
}
.search_with__icon {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.input_icon_wrapper {
  position: relative;
  min-width: 61%;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;

  @media(max-width: 768px){
    margin: 0;
  }

  .loop {
    position: absolute;
    left: 18px;
    top: 15px;
    z-index: 2;
    width: 20px;
  }
}

.form__input-wrap {
  @media (max-width: 797px) {
    height: auto;
    margin-bottom: 10px;
  }
}

.btn-blue {
  width: 150px;

  @media (max-width: 797px) {
    width: auto;
  }
}

