@import 'variables';

.container {
  &--slider {
    max-width: 1240px;
    padding: 0;

    & h1 {
      font-weight: 400;
      font-size: 25px;
      line-height: 32px;
    }
  }

  &--search {
    padding: 20px 0.625rem 40px;
    position: relative;

    @media (max-width: 793px) {
      background-color: $expert__background;
      padding: 40px 20px 20px;
    }
  }
}

.slider {
  padding: 20px 20px 40px;
  background: $header__dark_background;
  overflow-x: hidden;
}

.slider__wrap {
  position: relative;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $g__btn_primary_background;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 2;

  &.disabled {
    display: none;
  }

  &:active {
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.25);
  }

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, - 50%);
    width: 18px;
    height: 18px;
    fill: $g__btn_primary_color;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.slider__item {
  padding: 10px;
  width: 160px;
  height: 200px;
  border-radius: 10px;
  background-color: $service__cards_background;

  & p {
    display: block;
    padding-top: 93px;
    white-space: normal;
    font-size: 16px;
    line-height: 22px;
    color: $service__cards_text_color;
  }
}

//--

.search {
  padding: 20px 0;

  &::before {
    display: none;
  }

  &__select-btn {
    font-size: .937rem;
    line-height: 1.125rem;
    position: static;
    padding-right: 1.43rem;
    height: 1.25rem;
  }

  &__btn-submit {
    border: none;
    padding: .625rem .875rem;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8125rem;
    line-height: 1.38;
    text-transform: uppercase;
  }

  &__input-wrap {
    position: relative;
    flex-grow: 1;
    margin-right: .31rem;
    max-width: 28rem;

    & svg {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 30;
      stroke: $g__link_color;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 0;
  }

  &__label {
    margin-bottom: 0;
  }
}

.search__options-head {
  font-size: 0.81rem;
  line-height: 1.38;
  color: $g__text_color_secondary;
  font-weight: normal;
}

.search__options-wrapper {
  max-height: none;
  width: 90%;
}

.hide-block {
  display: none;
}

.services {
  display: flex;
  flex-direction: column;
  padding: 20px 0 2.5rem;
  @media (max-width: 700px) {
    padding-bottom: 0
  }

  h2 {
    font-weight: normal;
    font-size: 25px;
    line-height: 1;
    margin-bottom: 30px;

    @media (max-width: 700px) {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__card-wrapper {
    display: flex;
    flex-direction: column;

    &:not(:first-of-type) {
      margin-top: 27px;
      @media (max-width: 700px) {
        margin-top: 7px;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 700px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 24.2%;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 13px;
    margin-bottom: 13px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    @media (max-width: 1300px) {
      min-width: 335px;
    }

    @media (max-width: 700px) {
      margin-right: 0;
    }
  }

  &__card-top {
    flex: 0 0 auto;
    background: $header__light_background;
    border-radius: 10px 10px 0 0;
    font-size: 1.25rem;
    line-height: 1.3;
    padding: 1.25rem;
    min-height: 5.75rem;
    position: relative;

    @media (max-width: 700px) {
      min-height: fit-content;
      font-size: 20px;
      line-height: 26px;
      padding: 15px 20px;
    }

    p {
      max-width: 85%;
      display: flex;
      margin-bottom: 0;
      position: relative;

      span {
        display: none;
      }

      &:hover {
        span {
          position: absolute;
          display: block;
          width: fit-content;
          top: -26px;
          white-space: nowrap;
          background-color: white;
          border-radius: 5px;
          font-size: 12px;
          padding: 5px;
        }
      }
    }
  }

  &__card-bottom {
    flex: 1 0 auto;
    background: $g__white_background;
    border-radius: 0 0 10px 10px;
    padding: 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 12.25rem;

    @media (max-width: 700px) {
      font-size: 16px;
      line-height: 24px;
      min-height: fit-content;
    }

    a {
      color: $g__link_color;

      &:not(:last-of-type) {
        margin-bottom: 20px;
        @media (max-width: 700px) {
          margin-bottom: 15px;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.slider-card__card {
  background: $service__cards_background;
  color: $service__cards_text_color;
}

.prompt__question {
  background: $g__white_background;
}

::ng-deep {
  .carousel {
    z-index: 1 !important;
  }

  .carousel-container {
    overflow: visible !important;
  }

  .carousel-cell {
    margin-bottom: 20px !important;
  }
}

.filter-text-result {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 0 10px;

  &--nothing {
    text-align: center;
    margin: 30px auto 50px;
  }

  @media(max-width: 793px) {
    padding: 65px 20px 0;

    &--nothing {
      padding: 0;
      margin-top: 60px;
      margin-bottom: 0;
    }
  }

  @media(max-width: 768px) {
    &--nothing {
      margin-top: 20px;
    }
  }
}

.show-all-link {
  margin-left: 5px;
  color: $g__link_color;
  border-bottom: 1px dotted $g__link_color;
}

.control__mobile {
  background: #F7F8FB;
}

.control__mobile p {
  top: 0;
}

.control__mobile--active {
  background: #F7F8FB;
  border: none;
  //width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 1000;
  @media (max-width: 793px) {
    display: block;

    p {
      top: 0;
      left: 6px;
    }
  }
}

.search {
  min-height: 54px;

  @media(max-width: 793px) {
    position: fixed;
    top: 47px;
    right: 0;
    left: 0;
    z-index: 1000;
    display: block;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    height: 110vh;
    background: $g__body_background;
  }

  & .search__btns {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 20px;
    justify-content: space-between;
  }

  &__options-wrapper {
    max-height: none;

    &--height {
      max-height: 173px
    }
  }

  &__label {
    margin-bottom: 0;
    white-space: nowrap;
    color: $g__text_color_secondary;
    padding-left: 8px;
  }

  &__wrapper {
    margin-right: 0;
    flex-grow: 1;

    @media (max-width: 793px) {
      align-items: flex-start;
      width: 100%;
      height: auto;
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
}

.search__input {
  @media (max-width: 793px) {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
    padding-left: 30px;
  }
}

.search__input-wrap svg {
  @media (max-width: 793px) {
    width: 15px;
    height: 15px;
    left: 10px;
    top: 42%;
  }
}

.search__input-wrap {
  @media (max-width: 793px) {
    margin-right: 0;
  }
}

.search__btns {
  display: none;

  @media(max-width: 793px) {
    position: fixed;
    left: 40px;
    right: 20px;
    bottom: 20px;
    padding: 0;
    display: flex;
  }
}

.srv-button-active {
  border-radius: 5px;
  max-width: 140px;
  padding: 16px 35px;
}

.srv-button-passive {
  border-radius: 5px;
  max-width: 140px;
  padding: 16px 35px;
  color: #00AFEC;
  border: 1px solid #00AFEC;
  background: transparent;
}

.btn-clean {
  order: 1;
  border: 1px solid $g__btn_primary_background;
  color: $g__btn_primary_background;
}

.btn-search {
  order: 2;
  margin: 0;
}

.control__mobile-close {
  position: fixed;
  top: 13px;
  right: 15px;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: block;
  z-index: 1001;

  &::before, &::after {
    position: absolute;
    content: '';
    height: 24px;
    width: 2px;
    top: 0;
    background-color: $g__text_color_primary;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.search__btns-wrapper {
  display: none;

  @media(max-width: 793px) {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 0;
    display: flex;
  }
}
