@import 'variables';

.section-position {
  background: white;
  z-index: 1;

  &--bg {
    background: $g__form_background;
  }

  &--main {
    position: initial;
    z-index: auto;
    @media(max-width: 1100px) {
      padding-top: 0;
    }
  }

  &.empty {
    padding: 40px 0;
    width: 100%;

    & .container {
      padding: 0 10px;
    }

    @media(max-width: 767px) {
      padding: 20px 0;

      & .container {
        padding: 0 20px;
      }
    }
  }
}

.container {
  &--bg {
    //max-width: 1280px;
    background: $g__form_background;
    //padding: 0 20px 40px;
    padding-bottom: 40px;
  }
}

.search__wrapper {
  width: 100%;
}

.search {
  padding: 20px 0 30px;
}

.search::before {
  display: none;
}

app-filter-select {
  padding: 0 6px;
  max-height: 50px;

  &:first-child {
    padding-left: 0;
  }
}

.empty-results__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px 20px 30px;
  max-width: 1240px;
  background: $g__success_background;
  border: 1px solid $g__success_color;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  & .empty-results__title {
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 32px;
  }

  & .empty-results__desc {
    margin: 0 auto;
    width: 60%;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    @media(max-width: 767px) {
      width: 100%;
    }
  }
}

.empty-results-owners {
  margin: 0 auto;
  padding: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 32px;
  color: $g__text_color_secondary;
  text-align: center;
  background: $g__white_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  @media (max-width: 767px) {
    padding: 20px;
    font-size: 20px;
    line-height: 28px;
  }
}
