<section class="section-position section-position--gradient2">
  <div class="container chart">
    <div class="chart__headers-wrapper">
      <app-selection-organizations
        [color]="'#ffffff'"
        [kontragents]="kontragents"
        [selectedCompany]="selectedCompany"
        (selectCompany)="onSelectedCompany($event)"
      ></app-selection-organizations>

      <button
        *ngIf="addButtonLabel"
        class="chart__btn-add-obj"
        id="addObjectToPortfolioOne"
        [disabled]="disabledAddObjects"
        (click)="toggleAddButton()"
      >
        {{addButtonLabel}}
        <div *ngIf="!selectedCompany?.id && this.kontragents.length > 1" class="tooltiptext">
          Необходимо выбрать организацию
        </div>
      </button>
    </div>

    <app-portfolio-widgets-container (openModal)="toggleAddButton()"></app-portfolio-widgets-container>
  </div>
  <app-portfolio-add-object *ngIf="isShowModal$ | async"></app-portfolio-add-object>
</section>
<app-portfolio-tabs
  [tabs]="tabs$ | async"
  [currentTab]="currentTab$ | async"
  (changeTab)="changeCurrentTab($event)"
></app-portfolio-tabs>

<section class="portfolio-tab-content">
  <div class="portfolio-other" *ngIf="(currentTab$ | async) === 'other'">
    <button
      *ngFor="let tab of otherTabs$ | async"
      [id]="'otherTab' + tab.type"
      class="portfolio-other__btn"
      [disabled]="tab.count === 0 ? true : null"
      [class.portfolio-other__btn--active]="tab.type === (currentOtherTab$ | async)"
    >
      {{tab.header}}
      <span class="portfolio-other__num">{{tab.count ? tab.count : '-'}}</span>
    </button>
  </div>
  <app-portfolio-filters
    [filters]="filters$ | async"
    [clear$]="clearFilter$"
    [currentTable]="currentTable$ | async"
    [filtersValue]="filtersValue$ | async"
    [domainAdministrator]="domainAdministrator$ | async"
    (applyFilters)="applyFilters($event)"
  ></app-portfolio-filters>

  <div class="sections container found-objects"
    *ngIf="((totalCout$ | async) > (tableValueCount$ | async)) && !(isLoading$ | async) && !(isLoadingComposition$ | async)"
  >
    <app-ui-objects-found
      [total]="totalCout$ | async"
      [found]="tableValueCount$ | async"
      (clearFilter)="clearFilters()"
    ></app-ui-objects-found>
  </div>

  <app-spinner
    *ngIf="(isLoading$ | async); else tabContent"
    class="spinner-full spinner-full--modal scroll"
  ></app-spinner>

  <ng-template #tabContent>
    <app-empty-objects
      *ngIf="isEmptyPortfolio$ | async"
      [disabled]="disabledAddObjects"
      (openModal)="toggleAddButton()"
    ></app-empty-objects>

    <ng-container *ngIf="!(isEmptyPortfolio$ | async) && (tableValueCount$ | async)">
      <app-portfolio-table-container></app-portfolio-table-container>
    </ng-container>

    <ng-container *ngIf="!(isEmptyPortfolio$ | async) && !(tableValueCount$ | async)">
      <div  class="search-result search-result__future-result" id="emptyRequest">
        <p>К сожалению, ничего не найдено, попробуйте изменить запрос. </p>
      </div>
    </ng-container>
  </ng-template>
</section>

<app-expert></app-expert>
