@import 'variables';

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 5px;
  height: 0
}

::-webkit-scrollbar-track {
  background: $g__outline_color;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  background: $g__text_color_primary;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(21, 36, 56, 0.7);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-clean {
  border: 1px solid $g__btn_attr_border_color;
  color: $g__btn_attr_text_color;
}

.prompt__question--trans {
  right: -35px;
  top: 0;
  background: rgba(146, 159, 171, 0.5);
  border: 1px solid $g__text_color_secondary;
  box-sizing: border-box;

  .prompt__hidden {
    top: 20px;
    right: -12px;
    width: max-content;
    width: 171px !important;
    bottom: auto;
  }
}

.btn-search {
  color: $g__btn_primary_color;
  background: $g__btn_primary_background;
  border: 1px solid $g__btn_primary_background;
  margin-right: 10px;
  cursor: pointer;

  @media (max-width: 793px) {
    display: block;
  }
}

.search__btns-wrapper {
  display: none;

  @media(max-width: 793px) {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
  }
}

.search__btns {
  display: flex;

  @media (max-width: 793px) {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.search__btn {
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding: 14px 20px;
  height: 100%;
  margin-bottom: auto;
  cursor: pointer;

  @media (max-width: 793px) {
    margin: 0;
  }
}

.section-position {
  min-width: 375px;
}

.curves {
  display: flex;
  width: 100%;
  height: 120px;
  position: relative;
  max-width: 344px;

  @media (max-width: 793px) {
    margin: auto;
  }

  &__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;

    &--before {
      left: 0;
      align-items: flex-start;
      bottom: 20%
    }

    &--after {
      right: 0;
      align-items: flex-end;
      bottom: 90%
    }
  }

  &__name {
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: $g__text_color_secondary;
  }

  &__value {
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
}

.chart__block {
  width: auto;
  height: 100%;
  max-width: 387px;
  min-height: 320px;
  border-radius: 10px;

  &--position {
    position: relative;
    z-index: 2;
  }

  &--kpi {
    position: absolute;
    left: 0;
    right: 0;
  }

  @media (max-width: 793px) {
    width: 100%;
    max-width: none;
    min-height: auto;
    height: auto;
    background: none;
    border: none;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: initial;
    backdrop-filter: none;
  }
}

.chart__block--position.loading {
  @media (max-width: 793px) {
    padding-bottom: 0;
    & .chart__name {
      margin-bottom: 20px;
    }
  }
}

.chart__block--main.loading {
  position: absolute;
  top: 0;
  background-color: transparent;

  @media (max-width: 793px) {
    & .btn-mobile {
      display: none;
    }

    & .chart-date span {
      opacity: 0;
    }
  }
}

.chart-date__wrapper-mobile {
  @media (max-width: 793px) {
    display: none;

    &.open {
      display: block;
    }
  }
}

.chart__status {
  @media (max-width: 793px) {
    backdrop-filter: blur(5px);

    &.open {
      display: flex;
    }
  }

  &--over-date {
    @media (max-width: 793px) {
      margin: 0 auto;
      height: auto;
      width: 100%;
    }
  }

  &--security {
    padding-top: 43px;
  }
}

.chart__mobile {
  display: none;
  @media (max-width: 793px) {
    display: block;
    font-size: 20px;
    line-height: 1;
  }
}

.chart-date__numbers-wrapper {
  margin-bottom: 28px
}

.chart-date__big-count {
  margin-right: 8px;

  @media (max-width: 991px) {
    font-size: 40px;
    line-height: 1;
  }

  @media (max-width: 793px) {
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    border-radius: 20px;
    display: inline-block;
    padding: 2px 8px;
    margin-right: 17px;
  }
}

.chart-date__numbers--portfolio {
  @media (max-width: 793px) {
    display: grid;
    grid-template-columns: 14% 1fr;

    & .chart-date__big-count {
      margin-right: 0;
    }
  }
}

.chart-date__numbers:before {
  height: 0;
  width: 0;
}

.chart-date__numbers {
  margin-bottom: 21px;

  &--mg {
    margin-right: 12px;
  }

  @media (max-width: 991px) {
    margin-bottom: 20px;
  }

  @media (max-width: 793px) {
    margin-bottom: 5px;
  }

}

.chart-date__numbers-wrapper {
  width: 100%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    width: 111%;
    left: -18px;

    @media (max-width: 793px) {
      display: none;
    }
  }

  &--no-line::before {
    display: none;
  }

  @media (max-width: 793px) {
    position: static;
    margin-bottom: 5px;

    &--no-line {
      margin-bottom: 30px;
    }
  }
}

.chart-date__bottom {
  margin-bottom: 10px;
}

.chart-date__btn-add {
  position: relative;
}

.chart-date__numbers-top-wrapper {
  display: flex;
  width: 100%;

  @media (max-width: 991px) {
    flex-wrap: wrap;
  }

  @media (max-width: 793px) {
    display: block;
  }
}

.chart-date__numbers-top-wrapper--mobile {
  @media (max-width: 793px) {
    flex-direction: row;
    display: flex;
  }
}

.section-position--gradient {
  background: $header__dark_background;
  flex-direction: column;
  position: relative;

  &.container {
    background: $g__body_background;
  }

  @media (max-width: 768px) {
    padding-bottom: 30px;
    overflow: scroll;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.section-position--gradient2 {
  background: $header__dark_background;
  margin-bottom: -1px;
  animation: all ease 1s;
}

.section-position--loading {
  background: $dashboard_cards__background;
  margin-bottom: -1px;

  min-height: 300px;
  display: flex;
  align-content: center;
  justify-content: center;

  animation: all ease 1s;
}

.container-wrapper {
  display: flex;
  background: $g__body_background;
  justify-content: center;
  flex-direction: column;
}

.container--gray {
  background: $g__body_background;
  padding: 0 10px 55px;

  @media (max-width: 960px) {
    padding: 30px 0;
  }
}

.company-list {
  position: absolute;
  top: 100%;
  left: 148px;
  z-index: 5;
  margin-top: 5px;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 10px;
    cursor: pointer;

    p {
      text-align: left;
    }

    &--selected {
      background: $header__light_background;
      border-radius: 5px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    margin-left: 7px;

    @media (max-width: 793px) {
      margin-left: 0;
    }

    & span {
      color: $header__dark_link_color;
      text-decoration: underline;
      text-decoration-style: dashed;
      text-decoration-color: $header__dark_link_color;
    }

    &-disabled {
      cursor: not-allowed;
    }
  }
}

:host ::ng-deep {
  .spinner-organization {
    margin-right: 20px;
    flex-shrink: 0;
    justify-content: flex-start;
  }

  .spinner-organization .spinner {
    height: 30px;
    margin-left: 15px;
  }
}

.chart__mini-wrapper {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-size: 25px;
  line-height: 32px;
  text-align: left;

  @media (max-width: 793px) {
    display: block;
    padding: 0;
    text-align: left;
    margin-left: 0;
    position: relative;

    &--several::after {
      position: absolute;
      content: '';
      right: 0;
      bottom: 10px;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 12px;
      height: 8px;
      background-image: url("../../../../../app-ipid/src/assets/icons/icon-dropdown-blue.svg");
    }
  }
}

.chart__mini-wrapper--several-2::after {
  transform: rotate(180deg);
}

.chart__companies-wrapper {
  width: 470px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $g__text_color_primary;
  display: flex;
  overflow-x: auto;
  z-index: 10;
  max-height: 335px;


  @media (max-width: 793px) {
    width: 100%;
    min-width: auto;
    left: 0;
  }
}

.overlay--transparent {
  background: none;
  z-index: 8;
}

.hide {
  display: none;
}

.chart__block-wrap {
  position: relative;
}

.chart__header select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $g__text_color_primary;
  font-size: 18px;
  animation: show .5s 1;
  padding: 78px 0;

  &--technical {
    padding: 30px 0;
  }

  &__head {
    font-size: 25px;
    margin-bottom: 13px;

    &--no {
      margin-bottom: 30px
    }
  }

  &__btn {
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: $g__btn_primary_color;
    padding: 10px 14px;
    background: $g__btn_primary_background;
    border-radius: 4px;
    border: none;
  }
}

.control__btn {
  width: 19.4%;
  @media (max-width: 768px) {
    width: 150px;
    height: 103px;
  }
  outline: none;
}

.control__btn.control__btn--active.control__btn--dark {
  color: $g__text_color_primary;
}

.control__btn.control__btn--active.control__btn--dark span {
  color: $g__text_color_primary;
}

.control__mobile--active p {
  @media(max-width: 793px) {
    top: 0;
  }
}

.no-opacity {
  opacity: 0 !important;
  height: 0 !important;
  margin: 0 !important;
}

.chart__name--mobile {
  @media (max-width: 768px) {
    margin-bottom: 25px;
    z-index: 10;
  }
}

.chart__name--mobile--margin {
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.chart__name {
  span {
    @media (max-width: 793px) {
      width: auto !important;

      &.prompt__question {
        flex-shrink: 0;
        width: 20px !important;
      }
    }
  }

  & span.opacity {
    opacity: 0;
  }
}

.table {
  animation: show .5s 1;
  max-width: 1260px;
  margin: auto;
  border-bottom: 1px solid rgba(69, 69, 69, 0.15);

  &--debates {
    & .row-white__title-text {
      &:nth-child(2) {
        width: 27%;
      }

      &:nth-child(3) {
        width: 25%;
      }

      &:nth-child(4) {
        width: 13%;
      }

      @media (max-width: 960px) {
        &:nth-child(2) {
          width: 100%;
        }

        &:nth-child(3) {
          width: 100%;
        }

        &:nth-child(4) {
          width: 100%;
          padding-bottom: 0;
        }
      }
    }
  }

  @media (max-width: 960px) {
    padding: 0 0 30px;
  }

  &__no-data {
    display: flex;
    background: $g__body_background;
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    border-radius: 5px;
    flex-direction: row;
    padding: 25px;
    margin: auto auto 30px;

    &--text {
      font-size: 18px;
      line-height: 18px;
      color: #808895;
      display: flex;
      align-items: center;
      margin-left: 20px;
    }

    @media (max-width: 960px) {
      padding: 15px;
      margin-bottom: 0;

      &--text {
        font-size: 13px;
        line-height: 13px;
        margin-left: 10px;
      }

      img {
        width: 25px;
      }
    }
  }

  &__header-count {
    background: #FFFFFF;
    min-width: 32px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $g__text_color_primary;
    padding: 9px 10px;
    height: fit-content;
    margin: auto 0 auto 20px;

    @media (max-width: 960px) {
      border-radius: 50%;
      font-size: 16px;
      line-height: 20px;
      padding: 6px 8px;
      margin-left: 10px;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
  }

  &__btn {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: $g__btn_attr_text_color;
    border: 1px solid $g__btn_attr_border_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 37px 10px 10px;
    position: relative;
    margin-top: 5px;
    cursor: pointer;
    background: none;
    font-family: 'Roboto', sans-serif;

    &--counter {
      display: none;
      @media (max-width: 960px) {
        display: flex;
        color: #FFFFFF;
        background: $g__alert_color;
        border: 2px solid #FFFFFF;
        border-radius: 15px;
        padding: 2px 6px;
        margin-left: 10px;
        width: fit-content;
        font-size: 10px;
        line-height: 13px;
      }
    }

    & svg {
      position: absolute;
      width: 14px;
      height: 9px;
      right: 11px;
      top: 17px;
      stroke: $g__btn_attr_border_color;
    }

    &:after {
      display: none;
    }

    @media (max-width: 960px) {
      width: 100%;
      background: #FFFFFF;
      border: 1px solid $g__outline_color !important;
      box-sizing: border-box;
      border-radius: 5px;
      color: $g__link_color;
      font-weight: normal;
      padding: 10px;
      font-size: 13px;
      line-height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        display: none;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: auto auto 30px;
    padding-top: 38px;

    @media (max-width: 960px) {
      padding-bottom: 30px;
      padding-top: 20px;
      margin-bottom: 0;
      position: relative;
      &:not(:last-of-type)::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 110%;
        background-color: $g__outline_color;
        bottom: 0;
        left: -7%;
      }

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0
      }
    }

    @media (max-width: 768px) {
      padding-top: 30px;

      &--contract {
        padding-top: 0;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    color: $g__text_color_primary;
    justify-content: center;
    margin-bottom: 19px;

    @media (max-width: 960px) {
      font-size: 24px;
      line-height: 32px;
      font-weight: normal;
      text-align: left;
      justify-content: flex-start;
    }
  }
}

.line {
  position: relative;
  padding-left: 25px;
  padding-right: 15px;

  &:last-of-type {
    padding-right: 20px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 1px;
    height: 96%;
    background: #F0E0E3;
  }

  @media (max-width: 960px) {
    &::before {
      display: none;
    }
  }
}

.row-white {
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 15px 0 10px 10px;
  margin-bottom: 0;
  border-top: 1px solid $g__outline_color;
  align-items: center;
  cursor: pointer;
  position: relative;

  &__pro {
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    background: #EBEDF2;
    border-radius: 5px 0px 0px 5px;
    padding: 2px;
    width: 20px;
    writing-mode: vertical-lr;
    display: flex;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    height: 100%;
    grid-area: pro;

    span {
      margin: auto;
      transform: rotate(180deg);
    }

    @media (max-width: 1260px) {
      display: none;
    }
  }

  &__img-text {
    display: flex;
    flex-grow: 1;
    width: 42%;
    @media (max-width: 1260px) {
      .row-white__title-text, .row-white__title-text--four {
        max-width: 65%;
        width: auto;
        padding: 0;
      }
      padding-bottom: 10px;
      width: 100%;
    }
  }


  &--debates {
    padding: 15px 19px;

    @media (max-width: 960px) {
      padding: 0 10px 10px;
    }
  }

  &__subtitle-wrapper {
    display: flex;
    align-content: center;
  }

  &__attention {
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $g__alert_color;
    border: 1px solid $g__alert_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 9px;
    width: fit-content;
    height: fit-content;

    @media (max-width: 960px) {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 5px 10px;
    }

    @media (max-width: 767px) {
      padding: 0 8px;
    }
  }

  &__mobile-text {
    display: none;
    font-size: 13px;
    line-height: 18px;
    color: #929FAB;
    margin-bottom: 4px;

    @media (max-width: 1260px) {
      display: block;
    }
  }

  &__title-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 23%;
    justify-content: center;

    @media (max-width: 1260px) {
      width: 100%;
      padding: 10px 0;
    }
  }

  &--red {
    border: 1px solid rgba(255, 16, 55, 0.4);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    @media (max-width: 960px) {
      border: none;
      box-shadow: none;
      padding-top: 46px;
      position: relative;
    }

    @media (max-width: 767px) {
      padding-top: 35px;
      margin-bottom: 10px;
      font-size: 11px;
      line-height: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  &__addition {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    position: relative;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../../../../../app-ipid/src/assets/icons/gray-arrow.svg');
      background-repeat: no-repeat;
      width: 13px;
      height: 15px;
      background-size: 100%;
      left: 0;
      top: 0;
    }
  }

  &__more {
    color: $g__text_color_secondary;
  }

  &__text-wrap {
    &:last-of-type .row-white__text {
      margin-bottom: 0;
    }

    @media (max-width: 767px) {
      margin-bottom: 4px;
    }
  }

  &__text {
    font-weight: normal;
    color: $g__text_color_primary;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;

    &--bold {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      margin-right: 15px;
    }

    &--gray {
      color: $g__text_color_secondary;
      margin-right: 5px;
    }

    @media (max-width: 1260px) {
      margin-bottom: 0;
      font-size: 13px;
      line-height: 18px;
    }
  }

  &__subtitle {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: $g__text_color_secondary;
    font-weight: normal;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    width: fit-content;
    position: relative;

    &--margin {
      margin-bottom: 5px
    }

    @media (max-width: 960px) {
      font-size: 13px;
      line-height: 18px;
    }

    @media (max-width: 767px) {
      margin-bottom: 4px;
    }
  }

  &__question {
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    color: #00AFEC;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
    transform: translateX(8px);
    font-size: 13px;
    line-height: 16px;
    padding: 1px;
  }

  &__reg-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    position: relative;
    margin-bottom: 22px;
  }

  &__date-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 91px;
    overflow: hidden;

    @media (max-width: 1260px) {
      width: 150px;
      height: 112px;
      margin-right: 10px;
    }
  }

  &__date {
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
  }

  &__reg-progress {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
}

.prompt__question {
  right: -30px;
  top: 0;
  cursor: pointer;
}

.prompt__hidden {
  width: max-content;
  max-width: 200px;
}

.overlay--search {
  display: none;

  @media (max-width: 793px) {
    display: block;
  }
}

.progress {
  max-width: 300px;
  height: 4px;
  background: $g__outline_color;
  position: relative;
  margin-bottom: 5px;

  &__rate {
    position: absolute;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #000000;
    top: -15px;
    margin-left: -9px;
    font-weight: normal;
    margin-bottom: 2px;
  }

  &__line {
    position: absolute;
    height: 4px;
    left: 0;
    background: $g__timeline_color;
  }
}

.zero {
  left: 10px !important;
}

.completed {
  left: auto !important;
  right: 0 !important;
}

.row-white__title-text--width {
  flex-grow: 2;
}

.search__input, .search__select-btn, .search__btn-block {
  background-color: white;
}

.search__input-wrap {
  margin-right: 10px;
}

.search__input {
  max-width: none !important;
}

.search__mobile-settings {
  display: none;

  @media (max-width: 793px) {
    display: block;
    margin-left: 15px;
  }
}


.search__btn-block {
  flex-grow: 1;
  min-width: 280px;
  position: relative;
  margin-bottom: auto;

  @media (max-width: 793px) {
    width: 100%;
    padding: 15px;
    margin-right: 0;
    margin-bottom: 5px;
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}

.search__option-input:checked + .search__option-label::before {
  display: none;
}

.search__option-input:checked + .search__option-label::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;;
  box-sizing: border-box;
  left: 0;
  top: 0;
  background-color: white;
  background-image: url("../../../../../app-ipid/src/assets/images/black-done.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.search__select {
  background: none;
  width: 100%;
  position: static;
}

.search__select-btn {
  background: none;
  width: 100%;
  position: static;

  @media (max-width: 793px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.search {
  min-height: 54px;

  @media(max-width: 1260px) {
    flex-direction: column;
  }

  @media(max-width: 793px) {
    padding: 20px 20px 0;
    background: $g__body_background;
  }

  &__options-wrapper {
    max-height: none;

    &--height {
      max-height: 173px
    }
  }

  &__label {
    margin-bottom: 0;
    white-space: nowrap;
    color: $g__text_color_secondary;
    padding-left: 8px;
  }

  &__wrapper {
    margin-right: 0;
    flex-grow: 1;

    @media (max-width: 793px) {
      align-items: flex-start;
      width: 100%;
      height: auto;
      flex-direction: column;
      margin-right: 0;
    }
  }
}


.search__input {
  margin-bottom: auto;
  box-sizing: border-box;
  min-width: 250px;

  @media(max-width: 1260px) {
    margin-bottom: 10px;
  }

  @media(max-width: 793px) {
    margin-bottom: 20px;
  }
}

.search::before {
  display: none;
}

.search__input-wrap {
  position: relative;
  width: 100%;
  flex-grow: 1;

  & svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    z-index: 2;
    stroke: $g__link_color;

    @media(max-width: 793px) {
      top: 40%;
    }
  }

  @media (max-width: 793px) {
    display: flex;
    width: 100%;
    max-width: none;
    margin-right: 0;
  }
}

.search__select-btn {
  display: flex;
  align-items: center;
  height: 20px;
}

.portfolio-shadow {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__shadow {
    position: absolute;
    height: 19px;
    display: flex;
    width: 100%;
    bottom: -1px;
    z-index: 100;
    background: linear-gradient(180deg, #EBEDF2 0%, #EBEDF2 6.85%, rgba(235, 237, 242, 0) 100%);
  }
}

.tm_image_stub {
  min-width: 100%;
  min-height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.bold_contract {
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 0;
}

.main_desc {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.state__btn {
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 13px;
  line-height: 13px;
  color: #152438;
  padding: 7px 10px;
  width: 100%;

  @media(max-width: 1260px) {
    margin-top: 0;
    padding: 2px 5px;
    width: 125px;
  }

  &--valid {
    background: #DBF3A8;
  }

  &--invalid {
    background: #E6E6E6;
  }

  &--registration {
    background: #C9E0FF;
  }

  &--cancellation {
    background: #FFCBD3;
  }

  &--expiring {
    background: #FFEA9F;
  }
}

.chart__block-wrapper {
  position: relative;
  min-height: 320px;
  width: 31%;
  border-radius: 10px;
  overflow-y: hidden;

  @media (max-width: 1190px) {
    margin: 0;
  }

  @media (max-width: 793px) {
    width: 100%;
    height: auto;
    min-height: auto;
    margin: 0;
    overflow: visible;
    &:last-of-type {
      margin: 0;
    }
    &:first-of-type {
      margin: 0;
    }
  }
}


.row-white__text--bold--cont {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0;
  margin-right: .2em;

  @media(max-width: 767px) {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.row-white--cont {
  @media(max-width: 960px) {
    height: auto;
    padding: 15px 20px;
  }

}

.row-white__title-text--cont {
  padding: 0;
  width: 33%;
  max-width: none;

  @media(max-width: 1260px) {
    width: 100%;
  }
}

.row-white__title-text--state {
  margin-left: auto;
  width: 10%;

  @media(max-width: 1260px) {
    width: fit-content;
    margin-left: 0;
  }
}

.row-white__title-text--position {
  display: flex;
  max-width: none;
  width: 14%;

  @media(max-width: 1260px) {
    width: 100%;
  }

  @media(max-width: 960px) {
    padding: 5px 0;
    width: 100%;
    justify-content: space-between;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  p {
    display: flex;
    margin: 0;
  }
}

.row-white__title-text--cont-width {
  max-width: none;
  padding-right: 20px;
  width: 41%;
  flex-direction: row;
  padding-left: 10px;

  @media(max-width: 1260px) {
    padding: 0 0 10px;
    width: 100%;
  }
}

.row-white__text--show-more {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 43%;
  margin-bottom: 0;

  @media(max-width: 1260px) {
    width: 100%;
    max-width: none;
  }

  &:first-of-type {
    position: relative;
    padding-right: 30px;

    @media(max-width: 1260px) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 5px;
    }
  }

  &:first-of-type::after {
    position: absolute;
    content: '';
    right: 5px;
    top: 0;
    width: 20px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("../../../../../app-ipid/src/assets/icons/Arrow-black.svg");

    @media (max-width: 1260px) {
      display: none;
    }
  }

  &:last-of-type {
    @media (max-width: 1260px) {
      font-size: 13px;
      line-height: 18px;
      position: relative;
      padding-left: 25px;
    }
  }

  &:last-of-type::after {
    display: none;

    @media (max-width: 1260px) {
      display: block;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 13px;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      background-image: url("../../../../../app-ipid/src/assets/icons/gray-arrow.svg");
    }
  }

}

.row-white__text--span {
  color: #adb7c0;
  margin-left: .2rem;
  font-size: 15px;
  line-height: 20px;
}

.row-white__subtitle-wrapper--cont {
  padding-right: 10px;

  @media(max-width: 1260px) {
    padding-right: 0;
    padding-bottom: 10px;
    p:first-of-type {
      padding-right: 5px;
    }
  }

  @media(max-width: 767px) {
    display: block;
  }
}

.row-white__title-text--four {
  width: 19%;

  @media (max-width: 960px) {
    width: 100%;
    padding: 10px 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid $g__outline_color;
    }
  }
}

.btn-mobile {
  @media (max-width: 793px) {
    position: absolute;
    bottom: 20px;
    width: 344px;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
  }
  @media (max-width: 400px) {
    margin-left: 4px;
  }
}

.chart-date__wrapper-mobile {
  @media (max-width: 793px) {
    margin-bottom: 60px;

    .chart-date__big-count {
      font-size: 20px;
      line-height: 28px;
      color: #FFFFFF;
      background: none;
      margin-right: 10px;
      padding: 0;

      &:last-of-type {
        padding: 0;
        color: $g__text_color_secondary;
      }
    }

    .chart-date__big-count-img {
      width: 22px;
      margin-top: 3px;
      background-image: url("../../../../../app-ipid/src/assets/icons/white-arrow.svg");
      height: 18px;
    }
  }
}

.no-objects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 5px 0;

  img {
    margin-bottom: 22px;
    width: 62px;
  }

  p {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  @media (max-width: 793px) {
    p {
      font-size: 20px;
      line-height: 28px;
      color: $g__text_color_secondary;
      margin-bottom: 10px;
    }
    img {
      margin-bottom: 10px;
    }

  }
}

.attention {
  max-width: 1260px;
  margin: 20px auto auto;
}

.filter-text-result {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 0 10px;

  &--nothing {
    text-align: center;
    margin: 30px auto 50px;
  }

  @media(max-width: 793px) {
    padding: 0 20px 20px;

    &--nothing {
      padding: 0;
      margin-top: 60px;
      margin-bottom: 0;
    }
  }

  @media(max-width: 768px) {
    &--nothing {
      margin-top: 20px;
    }
  }
}

.show-all-link {
  margin-left: 5px;
  color: $g__link_color;
  border-bottom: 1px dotted $g__link_color;
}

.tooltiptext {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 1000;
  padding: 10px;
  margin-bottom: 5px;
  width: fit-content;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  color: $g__text_color_primary;
  white-space: nowrap;
  background: $g__white_background;
  border: 1px solid rgba(21, 36, 56, 0.15);
  border-radius: 5px;
  box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.chart__btn-add-obj {
  position: relative;

  & .tooltiptext {
    right: 0;
    left: auto;
    @media (max-width: 800px) {
      left: -1px;
    }
  }
}

.chart__btn-add-obj:hover, .chart-date__btn-add:hover {
  .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

.state {
  position: relative;
  grid-area: state;

  @media (max-width: 1260px) {
    padding: 0 0 10px;
  }

  &--pro:after {
    display: none;
    position: absolute;
    content: 'ПРО';
    right: -62px;
    top: 0;
    background: #EBEDF2;
    border-radius: 5px;
    font-size: 12px;
    line-height: 16px;
    width: 55px;
    text-align: center;
    height: fit-content;
    padding: 2px 5px;
    align-items: center;
    justify-content: center;

    @media (max-width: 1260px) {
      display: flex;
    }
  }
}

.number {
  width: 10%;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;;
  align-items: center;
  height: fit-content;
  justify-content: flex-start;
  grid-area: number;

  @media (max-width: 1260px) {
    width: 100%;
    padding: 0;
    justify-content: flex-end;
  }
}

.portfolio-tab-content {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $g__white_background;
}

.portfolio-other {
  display: flex;
  animation: show 0.5s 1;
  max-width: 1260px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 18px auto auto;
  height: 45px;

  @media (max-width: 1260px) {
    margin-top: 0;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__btn {
    display: flex;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background: #FFFFFF;
    flex-shrink: 0;
    height: fit-content;
    outline: none;

    &--active {
      background: #F7F8FB;
    }

    :disabled {
      opacity: 0.7;
    }
  }

  &__num {
    margin-left: 10px;
    color: #929FAB;
  }
}

.search-result {
  display: flex;
  max-width: 1260px;
  width: 100%;
  margin: auto;

  &__result {
    padding: 10px 0;
    background: #FFFFFF;
    justify-content: center;

    @media (max-width: 980px) {
      padding: 10px 0;
    }
  }

  &__future-result {
    padding: 10px 0;
    background: #FFFFFF;
    justify-content: center;
    max-width: 1541px;
    flex-direction: column;
    align-items: center;
    @media (max-width: 980px) {
      padding: 10px 0;
    }

    p {
      display: flex;
      width: 100%;
      background: #FFFFFF;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      line-height: 1.33;
      text-align: center;
      font-weight: normal;
      color: $g__text_color_secondary;
      padding: 34px;
      justify-content: center;
      align-items: center;
      max-width: 1240px;
      margin: 40px 0;

      @media (max-width: 980px) {
        margin: 20px 0;
      }
    }

    img {
      margin-bottom: 40px;
    }

    &--here {
      padding: 0;
      margin-top: 16px;
      margin-bottom: -16px;

      @media (max-width: 980px) {
        margin-top: 0;
        margin-bottom: 0;
      }

      p {
        margin: 0;
      }
    }

    @media (max-width: 980px) {

      p {
        padding: 20px 30px;
        font-size: 20px;
        line-height: 28px;

      }
    }
  }
}
