.modal {
  overflow: scroll;
  position: absolute;
  margin: 0;
  z-index: 5;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 960px;
  min-width: 375px;
  height: 88%;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: Roboto, "serif";
  display: flex;
  flex-direction: column;

  div {
    box-sizing: border-box;
  }
}

