body {
  margin: 0;
}

.search-result__wrap {
  position: relative;
  background-color: #EBEDF2;
  overflow-y: hidden;
  padding: 1px 0 60px;
  font-family: 'Roboto', sans-serif;

  @media(max-width: 768px) {
    padding-bottom: 50px;
  }
}

.search-result {
  padding: 0 20px;
  max-width: 1240px;
  margin: 30px auto 0;
}

.search-result__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #307ABD;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 28px;
  }

  & span {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #307ABD;
  }

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 6px;
    background-image: url("../assets/images/arrow-icon.svg");
    background-size: 12px 6px;
  }

  &--no-result {
    cursor: initial;

    span {
      color: #929FAB;
      text-decoration: none !important;
    }

    &::after {
      display: none;
    }
  }
}

.search-result__modal {
  position: relative;
  z-index: 100;
}
