//@import "../ipid/app.style";
// у gardium-online такие же стили как ipid
@import 'variables';

.risk-level__toggle {
  &--high,
  &--low {
    @media (max-width: 767px) {
      padding: 9px 20px !important;
    }
  }
}

.info-card.info-card--main,
.info-card.info-card__small {
  box-shadow: none !important;
  border: 1px solid $g__outline_color !important;
}

.trademarks .trademarks-list .trade-mark-item,
.legal-names .legal-names-list .legal-name-item,
.domain-names .domain-names-list .domain-name-item {
  box-shadow: none !important;
  border: 1px solid $g__outline_color;
}

.chart__block-wrapper.is-active-wrap .chart__block {
  background: rgba(11, 31, 53, 0.9) !important;

  @media(max-width: 793px) {
    background: transparent !important;
  }
}

.control__btn {
  &--white {
    color: #fff !important;
    background: rgba(235, 237, 242, 0.1) !important;

    @media (max-width: 768px) {
      color: $g__text_color_primary !important;
      background: $g__white_background !important;
    }
  }

  &--active.control__btn--white {
    color: $g__text_color_primary !important;
    background: $g__body_background !important;

    @media (max-width: 768px) {
      background: $g__body_background !important;
    }
  }
}
