$g__body_background: #F3F4F5; // Цвет фона <body>
$g__text_color_primary: #0B1F35; // Цвет основного текста
$g__text_color_secondary: #6D7986; // Цвет вспомогательного текста
$g__btn_primary_background: #F15045; // Цвет фона основных кнопок в формах
$g__btn_primary_color: #FFFFFF; // Цвет текста основных кнопок в формах
$g__btn_attr_border_color: #B6BCC3; // Цвет обводки атрибутивных кнопок в формах
$g__btn_attr_text_color: #0B1F35; // Цвет текста атрибутивных кнопок в формах

$g__alert_color: #F15045; // Цвет Alert
$g__warning_color: #F1C145; // Цвет Warning
$g__success_color: #2FC26E; // Цвет Success
$g__alert_text_color: #FFFFFF; // Цвет текста внутри Alert, Warning, Success
$g__link_color: #0B1F35; // Цвет ссылок
$g__timeline_color: #6D7986; // Цвет таймлайна
$g__form_background: #FFFFFF; // Цвет фона формы
$g__outline_color: rgba(11, 31, 53, 0.15); // Цвет обводки

$g__mark_background: #0B1F35; // Цвет фона маркированного списка
$g__mark_icon_color: #FFFFFF; // Цвет галки маркированного списка

$g__white_background: #FFFFFF; // Белый фон

$request__tab_background: #F3F4F5; // Цвет фона не активного таба (в процессе оплаты)
$request__tab_color: #0B1F35; // Цвет текста не активного таба (в процессе оплаты)
$request__tab_active_background: #0B1F35; // Цвет фона активного таба (в процессе оплаты)
$request__tab_active_color: #FFFFFF; // Цвет текста активного таба (в процессе оплаты)

$nav__background: #0B1F35; // Цвет фона шапки
$nav__link_color: #FFFFFF; // Цвет ссылок в шапке
$nav__link_underline: #F15045; // Цвет подчеркивания активной ссылки в шапке
$nav__btn_background: #F15045; // Цвет кнопки в шапке
$nav__btn_color: #FFFFFF; // Цвет текста в кнопке в шапке

$header__light_background: #FAFAFA; // Цвет фона светлой шапки

$header__dark_background: #0B1F35; // Цвет фона темной шапки
$header__dark_text_color_primary: #FFFFFF; // Цвет основного текста темной шапки
$header__dark_text_color_secondary: #6D7986; // Цвет атрибутивного текста темной шапки
$header__dark_link_color: #6D7986; // Цвет ссылок темной шапки
$header__dark_btn_background: #F15045; // Цвет фона кнопки на темной шапке
$header__dark_btn_color: #FFFFFF;  // Цвет текста кнопки на темной шапке

$dashboard__search_btn_accent_background: #F15045; // Цвет фона акцентной кнопки “Проверить”
$dashboard__search_btn_accent_color: #FFFFFF; // Цвет текста акцентной кнопки “Проверить”

$request_modal__item_hovered_background: #F15045; // Цвет фона плашки при наведении в модалке подать заявку
$request_modal__item_hovered_color: #FFFFFF; // Цвет текста и иконки в плашке при наведении в модалке подать заявку
$request_modal__item_icon_color: #F15045; // Цвет иконки в неактивной плашке в модалке подать заявку
$request_modal__item_text_color: #0B1F35; // Цвет текста в неактивной плашке в модалке подать заявку
$request_modal__background: rgba(11, 31, 53, 0.8); // Цвет полупрозрачного фона у модальных окон
$request_modal__title_color: #FFFFFF; // Цвет заголовка на полупрозрачном фоне у модальных окон
$request_modal__icon_close_color: #FFFFFF;  // Цвет крестика закрытия на полупрозрачном фоне у модальных окон

$g__attention_background: #F8F2E4; // Фон для рекомендаций (и комментариев)
$g__warning_background: #FCF4F3; // Фон для важных сообщений
$g__success_background: #F4FFF9; // Фон для успешных сообщений

$monitoring_promo__icon_color: #F15045; // Цвет иконок в промо-блоках (страница мониторинга) - Кастомные цвета, см макет

$dashboard_cards__background: rgba(6, 13, 21, 0.2); // Цвет фона блоков информеров в дашбоарде (мониторинг, портфель, услуги)
$dashboard_checked_objects__background: #EEF0F2; // Цвет фона выделенного элемента в списке у мониторинга и портфеля
$dashboard_checked_objects__outline_color: #F15045; // Цвет обводки выделенного элемента в списке у мониторинга и портфеля

$g__checkbox_background: #F15045; // Цвет фона выделенного Checkbox

$corp_search__sticky_background: rgba(11, 31, 53, 0.7); // Цвет фона плавающего элемента на странице результатов поиска (корпораты)
$corp_search__sticky_text_color: #FFFFFF; // Цвет текста и не активной кнопки плавающего элемента на странице результатов поиска (корпораты)
$corp_search__sticky_btn_active_background: #F15045; // Цвет фона активной кнопки плавающего элемента на странице результатов поиска (корпораты)
$corp_search__sticky_btn_active_color: #FFFFFF; // Цвет текста активной кнопки плавающего элемента на странице результатов поиска (корпораты)
$corp_search__mktu_background: #FFD2CF; // Цвет фона пересечения классов МКТУ в результатах поиска (корпораты)

$g__toggle_active_background: #0B1F35; // Цвет активного Toggle
$g__toggle_active_disabled_background: #6D7986; // Цвет активного не рабочего Toggle
$g__toggle_no_active_background: #F5F5F6; // Цвет не активного Toggle

$expert__background: #FFFFFF; // Цвет фона блока с консультантом #F5F5F6;

$corp_contract_form__radio_background: #F3F4F5; // Цвет фона переключателей в форме заявки на договор #F5F5F6;

$service__cards_background: #6D7986; // Цвет карточек услуг - Кастомные цвета, см макет
$service__cards_text_color: #FFFFFF; // Цвет текста в карточке услуги
$search__btn: #00AFEC; // Цвет кнопки поиска

$cases__backgroud: #F3F4F5; // Цвет фона черновиков
$g__widgets_link_color: var(--g__widgets_link_color, #00AFEC); // Цвет ссылок в виджете портфеля