<ng-container [ngSwitch]="currentOtherTab$ | async">
  <app-copyright-table *ngSwitchCase="'copyright'" [values]="values$ | async"></app-copyright-table>
  <app-brandname-table *ngSwitchCase="'brandNames'" [values]="values$ | async"></app-brandname-table>

  
  <div class="table" *ngSwitchCase="'domains'">

    <div class="table__wrapper table__wrapper--domain">
      <div class="table-portfolio">
        <p style="width: 22%;">Домен</p>
        <p style="width: 22%;">Правообладатель</p>
        <p style="width: 22%;">Регистратор</p>
        <p style="width: 22%;">Действует до</p>
        <p style="width: 128px;">Статус</p>
      </div>
  
      <div
        *ngFor="let domain of values$ | async; let i = index"
        id="domainsTable"
        class="table__row row-white row-white--cont"
        (click)="openPopupInfo(domain)"
      >
  
        <div class="row-white__title-text name">
          <p class="row-white__text ">{{domain.name}}</p>
        </div>
  
        <div class="row-white__title-text rightsHolder">
          <span class="row-white__mobile-text">Правообладатель</span>
          <p class="row-white__text">{{domain.domainOwner}}</p>
        </div>
  
        <div class="row-white__title-text admin">
          <span class="row-white__mobile-text">Регистратор</span>
          <p class="row-white__text">{{ domain.domainAdministrator }}</p>
        </div>
  
        <div class="row-white__title-text date">
          <span class="row-white__mobile-text">Действует до</span>
          <p class="row-white__text ">{{ domain.validUntil | date:'dd.MM.yyyy' }}</p>
        </div>
  
        <div class="row-white__title-text row-white__title-text--state state" >
          <button
            [ngClass]="domain.mappedStatus.label === 'свободен' ? 'state__btn state__btn--valid' : 'state__btn state__btn--invalid'">
            {{domain.mappedStatus.label}}
          </button>
        </div>
  
      </div>
    </div>
  </div>
</ng-container>

<app-portfolio-domain
  *ngIf="showPopupInfoDomain"
  [data]="popupInfoData"
  [showRemoveBtn]="true"
  (modalEvent)="closePopupInfo()"
  (removeObject)="removeObject($event)"
></app-portfolio-domain>