@import 'projects/themes/1c-start/variables';

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.portfolio-other {
  display: flex;
  animation: show 0.5s 1;
  max-width: 1260px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 18px auto auto;
  height: 45px;

  @media (max-width: 1260px) {
    margin-top: 0;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__btn {
    display: flex;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background: #FFFFFF;
    flex-shrink: 0;
    height: fit-content;
    outline: none;

    &--active {
      background: #F7F8FB;
    }

    :disabled {
      opacity: 0.7;
    }
  }

  &__num {
    margin-left: 10px;
    color: #929FAB;
  }
}
