<div class="table">
  <div class="table__wrapper table__wrapper--authorsRight">
    <div *ngIf="values" class="table-portfolio">
      <p style="width: 19%;">Форма</p>
      <p style="width: 39%;">Обозначение</p>
      <p style="width: 14%;">Авторы</p>
      <p style="width: 17%;">Правообладатель</p>
      <p style="width: 128px;">Статус</p>
    </div>

    <div *ngFor="let authorsRight of values; index as i"
         class="table__row row-white row-white--cont">

      <div class="row-white__title-text form">
        <p class="row-white__text row-white__text--gray">{{authorsRight.form}}</p>
      </div>

      <div class="row-white__title-text name">
        <p class="row-white__text ">{{authorsRight.name}}</p>
      </div>

      <div class="row-white__title-text authors">
        <span class="row-white__mobile-text">Авторы</span>
        <p class="row-white__text">{{ authorsRight.authors }}</p>
      </div>

      <div class="row-white__title-text rightsHolder">
        <span class="row-white__mobile-text">Правообладатель/Заявитель</span>
        <p class="row-white__text">{{ authorsRight.rightsHolder }}</p>
      </div>

      <div class="row-white__title-text row-white__title-text--state state" >
        <button *ngIf="i < 2 " class="state__btn state__btn--valid">? Действует</button>
        <button *ngIf="i >= 2" class="state__btn state__btn--invalid">? Не действует</button>
      </div>

    </div>

  </div>
</div>