<div class="page-wrapper">
  <main>
    <button (click)="changeAdministratorRights()">
      Временная кнопка для смены администратор/без прав;
      администратор - {{ administrator }}
    </button>
    <button (click)="changeNewOrganization()">
      Временная кнопка для переключения на новую организацию;
      новая организация - {{ newOrganization }}
    </button>
    <section class="organization">
      <div class="container">
        <p class="organization__name">{{ organization?.name }}</p>
        <ul class="user__info-list">
          <li class="user__info-item">{{ organization?.ogrnip }}</li>
          <li class="user__info-item">{{ organization?.city }}</li>
          <li class="user__info-item">{{ organization?.tel }}</li>
          <li class="user__info-item">
            <a href="mailto:{{ organization?.email }}">{{ organization?.email }}</a>
          </li>
          <li class="user__info-item user__info-item--links">
            <a href="" class="user__links">Изменить контактную информацию</a>
          </li>
        </ul>
      </div>
    </section>
    <div class="organization__wrap container">
      <div class="organization__left-side organization__balance">
        <section class="balance__wrap">
          <div class="balance">
            <div>
              <h3 class="organization__caption organization__caption--balance">Остаток на счете</h3>
              <p class="balance__total">
                <span *ngIf="administrator === false">*****,93</span>
                <span *ngIf="administrator === true && newOrganization === false">17 325,93</span>
                <span *ngIf="administrator === true && newOrganization === true">0,00</span>
                ₽
              </p>
              <p class="balance__bonus">
                Из них бонусных:
                <span *ngIf="administrator === false">* ***,00</span>
                <span *ngIf="administrator === true && newOrganization === false">3 900,00</span>
                <span *ngIf="administrator === true && newOrganization === true">0,00</span>
                ₽
              </p>
            </div>
            <div class="balance__buttons-wrap" *ngIf="administrator === true">
              <button class="balance__button">Пополнить</button>
              <button class="balance__button balance__button--act">Получить Акт сверки</button>
            </div>
          </div>
          <div class="payments">
            <h4 class="payments__title">История платежей</h4>
            <table class="payments__table" *ngIf="newOrganization === false && paymentHistory.length > 0">
              <tr *ngFor="let payment of paymentHistory.slice(0,  showPayment)">
                <td class="payments__name-wrap">
                  <p class="payments__name">{{ payment?.name }}</p>
                </td>
                <td class="payments__date">
                  <span *ngIf="administrator === false">__.__.____</span>
                  <span *ngIf="administrator === true">{{ payment?.date }}</span>
                </td>
                <td class="payments__total-wrap">
                  <span class="payments__total"
                        [ngStyle]="{'color': payment?.minus === false ? '#72CA49' : '' }"
                  >
                    <span>{{ payment?.minus === true ? '-' : '+' }}&nbsp;</span>
                    <span *ngIf="administrator === false"> *** ***,00</span>
                    <span *ngIf="administrator === true">{{ payment?.sum }}</span>
                    ₽
                  </span>
                  <span *ngIf="payment?.bonus != null" class="payments__bonus">
                    Из них бонусных: <span class="payments__bonus-sum">{{ payment?.bonus }} ₽</span>
                  </span>
                </td>
                <td class="payments__payment-type-wrap">
                  <p class="payments__payment-type">
                    {{ payment?.method }}
                  </p>
                </td>
              </tr>
            </table>
            <div class="payments__admin" *ngIf="administrator === true && newOrganization === false">
              <button *ngIf="showPayment < paymentHistory.length" (click)="paymentShow()"
                      class="show-all">Показать всю историю
              </button>
            </div>
            <div class="payments__no-payments" *ngIf="paymentHistory.length === 0 || newOrganization === true">
              <img src="/assets/icons/icon-no-payments.svg" alt=""
                   class="organization__empty-img" width="24" height="24">
              <span class="organization__empty-text">Нет истории платежей</span>
            </div>
          </div>
          <div class="payments__no-rights" *ngIf="administrator === false">
            <p class="">Нет доступа к информации</p>
          </div>
        </section>
      </div>
      <div class="organization__right-side">
        <aside class="cases">
          <h3 class="organization__caption">Активные дела</h3>
          <ul class="cases__list" *ngIf="newOrganization === false && organization?.cases.length !== 0">
            <li class="cases__item" *ngFor="let case of organization?.cases.slice(0,  showCases)">
              <div class="cases__response"
                   [ngClass]="{
                        'wait': case?.response === 'Ждем ответ от роспатента',
                        'recovery': case?.response === 'Взыскание',
                        'claim': case?.response === 'Претензия, ожидание ответа'}">
                <span class="">{{ case?.response }}</span>
              </div>
              <a href="" class="cases__name">{{ case?.name }}</a>
            </li>
          </ul>
          <button *ngIf="showCases < organization?.cases.length && newOrganization === false" (click)="casesShow()" class="show-all">
            Показать все
          </button>
          <div class="cases__no-cases" *ngIf="newOrganization === true || organization?.cases.length === 0">
            <img src="/assets/icons/icon-no-cases.svg" alt=""
                 class="organization__empty-img" width="24" height="24">
            <span class="organization__empty-text">Нет активных дел</span>
            <button class="btn cases__no-cases-btn">Взыскать долг</button>
          </div>
        </aside>
        <aside class="cases cases--archive">
          <h3 class="organization__caption">Архив</h3>
          <ul class="cases__list" *ngIf="newOrganization === false && archive.length !== 0">
            <li class="cases__item" *ngFor="let case of archive.slice(0,  showCases)">
              <div class="cases__response"
                   [ngClass]="{
                        'complete': case?.response === 'Завершено'}">
                <span class="">{{ case?.response }} {{ case?.date }}</span>
              </div>
              <a href="" class="cases__name">{{ case?.name }}</a>
              <a href="" class="cases__download">Скачать акт</a>
            </li>
          </ul>
          <button *ngIf="showCases < archive.length && newOrganization === false" (click)="casesShow()" class="show-all">
            Показать все
          </button>
          <div class="cases__no-cases" *ngIf="newOrganization === true || archive.length === 0">
            <img src="/assets/icons/icon-no-archive.svg" alt=""
                 class="organization__empty-img" width="24" height="24">
            <span class="organization__empty-text">Нет архивных дел</span>
          </div>
        </aside>
      </div>
      <div class="organization__left-side organization__users">
        <section class="users">
          <div class="users__title-wrap">
            <h3 class="organization__caption organization__caption--users">Представители</h3>
            <button (click)="openModalAddUser()"
                    *ngIf="administrator === true && newOrganization === false"
                    class="users__title-btn">
              Добавить представителя
            </button>
          </div>
          <form [formGroup]="form" class="users__form" *ngIf="newOrganization === false">
            <div class="users__form-input-wrap">
              <input formControlName="search"
                     class="users__form-input"
                     type="text"
                     placeholder="Укажите ФИО или должность">
            </div>
          </form>

          <div class="users__wrap" *ngIf="administrator === true && newOrganization === true">
            <aside class="users__item">
              <div class="users__info users__info--admin" [ngStyle]="{'border-radius': administrator ? '5px 5px 0 0' : '5px'}">
                <img *ngIf="userAdmin?.photo !== null" src="{{ userAdmin?.photo }}" alt="" class="users__photo" width="100"
                     height="100">
                <img *ngIf="userAdmin?.photo === null" src="/assets/images/avatar.png" alt="" class="users__photo" width="100"
                     height="100">
                <div class="users__desc-wrap">
                  <p class="users__name">{{ userAdmin?.name }}</p>
                  <p class="users__position">{{ userAdmin?.position }}</p>
                  <a href="mailto:{{ userAdmin?.email }}" class="users__email">{{ userAdmin?.email }}</a>
                </div>
              </div>
              <div class="users__admin">
                <img src="/assets/icons/icon-admin-account.svg" alt="" class="users__admin-img" width="120" height="32">
                <p class="users__admin-title">Администратор аккаунта</p>
                <span class="users__admin-desc">Доступны все права</span>
              </div>
            </aside>
          </div>

          <div class="users__wrap" *ngIf="newOrganization === false">
            <aside class="users__item" *ngFor="let user of users">
              <div class="users__info" [ngStyle]="{'border-radius': administrator ? '5px 5px 0 0' : '5px'}">
                <div class="users__attorney" *ngIf="user?.attorney === true && administrator === true">
                  <span>Доверенность</span>
                </div>
                <img *ngIf="user.photo !== null" src="{{ user.photo }}" alt="" class="users__photo" width="100"
                     height="100">
                <img *ngIf="user.photo === null" src="/assets/images/avatar.png" alt="" class="users__photo" width="100"
                     height="100">
                <div class="users__desc-wrap">
                  <p class="users__name">{{ user.name }}</p>
                  <p class="users__position">{{ user.position }}</p>
                  <a href="mailto:{{ user.email }}" class="users__email">{{ user.email }}</a>
                </div>
              </div>
              <div *ngIf="administrator === true" class="users__access">
                <h4 class="users__access-title">Доступные Права</h4>

                <dl class="users__access-list" *ngFor="let right of user?.rights">
                  <div class="users__access-item">
                    <dt class="users__access-name"
                        [ngClass]="right?.trademarks?.length < 1 ? 'users__access-name--rights__no': ''"
                    >
                      Товарные знаки
                    </dt>
                    <dd class="rights__list-wrap">
                      <ul class="rights__list" *ngIf="right?.trademarks?.length > 0">
                        <li *ngFor="let trademark of right?.trademarks">
                          <div class="rights__item">
                            <span>
                              {{ trademark?.name }}
                            </span>
                          </div>
                        </li>
                        <li *ngIf="right?.trademarks?.length < 1" class="rights__no">
                          Нет доступа
                        </li>
                      </ul>
                      <div class="rights__tooltip-wrap" *ngIf="right?.trademarks?.length > 0">
                        <ng-container *ngFor="let trademark of right?.trademarks">
                          <span class="rights__tooltip">
                            {{ trademark?.name}}
                          </span>
                        </ng-container>
                      </div>
                    </dd>
                  </div>
                  <div class="users__access-item">
                    <dt class="users__access-name"
                        [ngClass]="right?.patents?.length < 1 ? 'users__access-name--rights__no': ''"
                    >
                      Патенты
                    </dt>
                    <dd class="rights__list-wrap">
                      <ul class="rights__list">
                        <li *ngIf="right?.patents?.length > 0">
                          <div *ngFor="let patent of right?.patents" class="rights__item">
                            <span>{{ patent?.name }}</span>
                          </div>
                        </li>
                        <li *ngIf="right?.patents?.length < 1" class="rights__no">
                          Нет доступа
                        </li>
                      </ul>
                      <div class="rights__tooltip-wrap" *ngIf="right?.patents?.length > 0">
                        <ng-container *ngFor="let patent of right?.patents">
                          <span class="rights__tooltip">
                            {{ patent?.name}}
                          </span>
                        </ng-container>
                      </div>
                    </dd>
                  </div>
                  <div class="users__access-item">
                    <dt class="users__access-name"
                        [ngClass]="right?.databases?.length < 1 ? 'users__access-name--rights__no': ''"
                    >
                      Программы и БД
                    </dt>
                    <dd class="rights__list-wrap">
                      <ul class="rights__list">
                        <li *ngIf="right?.databases?.length > 0">
                          <div *ngFor="let database of right?.databases" class="rights__item">
                            <span>{{ database?.name }}</span>
                          </div>
                        </li>
                        <li *ngIf="right?.databases?.length < 1" class="rights__no">
                          Нет доступа
                        </li>
                      </ul>
                      <div class="rights__tooltip-wrap" *ngIf="right?.databases?.length > 0">
                        <ng-container *ngFor="let database of right?.databases">
                          <span class="rights__tooltip">
                            {{ database?.name}}
                          </span>
                        </ng-container>
                      </div>
                    </dd>
                  </div>
                  <div class="users__access-item">
                    <dt class="users__access-name"
                        [ngClass]="right?.disputes?.length < 1 ? 'users__access-name--rights__no': ''"
                    >
                      Суды и споры
                    </dt>
                    <dd class="rights__list-wrap">
                      <ul class="rights__list">
                        <li *ngIf="right?.disputes?.length > 0">
                          <div *ngFor="let dispute of right?.disputes" class="rights__item">
                            <span>{{ dispute?.name }}</span>
                          </div>
                        </li>
                        <li *ngIf="right?.disputes?.length < 1" class="rights__no">
                          Нет доступа
                        </li>
                      </ul>
                      <div class="rights__tooltip-wrap" *ngIf="right?.disputes?.length > 0">
                        <ng-container *ngFor="let dispute of right?.disputes">
                          <span class="rights__tooltip">
                            {{ dispute?.name}}
                          </span>
                        </ng-container>
                      </div>
                    </dd>
                  </div>
                  <div class="users__access-item">
                    <dt class="users__access-name"
                        [ngClass]="right?.copyrights?.length < 1 ? 'users__access-name--rights__no': ''"
                    >
                      Авторские права
                    </dt>
                    <dd class="rights__list-wrap">
                      <ul class="rights__list">
                        <li *ngIf="right?.copyrights?.length > 0">
                          <div *ngFor="let copyright of right?.copyrights" class="rights__item">
                            <span>{{ copyright?.name }}</span>
                          </div>
                        </li>
                        <li *ngIf="right?.copyrights?.length < 1" class="rights__no">
                          Нет доступа
                        </li>
                      </ul>
                      <div class="rights__tooltip-wrap" *ngIf="right?.copyrights?.length > 0">
                        <ng-container *ngFor="let copyright of right?.copyrights">
                          <span class="rights__tooltip">
                            {{ copyright?.name}}
                          </span>
                        </ng-container>
                      </div>
                    </dd>
                  </div>
                </dl>

              </div>
            </aside>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>

<div *ngIf="showModalAddUser">
  <app-modal-add-user
    (modalEvent)="closeModal()"
  >
  </app-modal-add-user>
</div>
