@import 'variables';

.company-list {
  top: 100%;
  z-index: 5;
  left: 148px;
  margin-top: 5px;
  position: absolute;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 10px;
    cursor: pointer;

    p {
      text-align: left;
    }

    &--selected {
      border-radius: 5px;
      background: $header__light_background;
    }
  }
  
  &__link {
    display: flex;
    margin-left: 7px;
    align-items: center;

    @media (max-width: 793px) {
      margin-left: 0;
    }

    & span {
      color: $header__dark_link_color;
      text-decoration: underline;
      text-decoration-style: dashed;
      text-decoration-color: $header__dark_link_color;
    }

    &-disabled {
      cursor: not-allowed;
    }
  }
}

.chart__mini-wrapper {
  border: none;
  display: flex;
  font-size: 25px;
  background: none;
  text-align: left;
  align-items: center;
  line-height: 32px;

  &--several-2::after {
    transform: rotate(180deg);
  }

  @media (max-width: 793px) {
    display: block;
    padding: 0;
    margin-left: 0;
    text-align: left;
    position: relative;
    
    &--several::after {
      right: 0;
      content: '';
      height: 8px;
      width: 12px;
      bottom: 10px;
      display: block;
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url("../../../../../app-ipid/src/assets/icons/icon-dropdown-blue.svg");
    }
  }
}

.chart__companies-wrapper {
  z-index: 11;
  width: 470px;
  padding: 10px;
  display: flex;
  font-size: 15px;
  overflow-x: auto;
  line-height: 18px;
  max-height: 335px;
  border-radius: 5px;
  font-weight: normal;
  background: #FFFFFF;
  flex-direction: column;
  color: $g__text_color_primary;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  @media (max-width: 793px) {
    left: 0;
    width: 100%;
    min-width: auto;
  }
}

.overlay--transparent {
  z-index: 8;
  background: none;
}

.hide {
  display: none;
}
