<div class="chart__header" [class.chart__header--mobile-row]="kontragents?.length === 1">
  <button
    class="chart__mini-wrapper chart__mini-wrapper--several"
    [class.chart__mini-wrapper--several-2]="showCompanyList === true"
  >
    <span [ngStyle]="{ color: color }">
      {{textHeader[0]}}
      <span *ngIf="corporate || selectedCompany?.id">{{textHeader[1]}}</span>
    </span>
    <a
      id="selectedCompany"
      class="company-list__link {{styleLink}}"
      *ngIf="corporate || selectedCompany?.id"
      (click)="hideShowCompanyList()"
    >
      <span>{{ selectedCompany?.id ? trimString(selectedCompany?.name, 55) : 'всем организациям'}}</span>
    </a>

    <div
      *ngIf="showCompanyList===true"
      class="overlay overlay--transparent"
      (click)="showCompanyList=false"
    ></div>

    <div class="chart__companies-wrapper company-list" [class.hide]="showCompanyList===false">
      <ul class="company-list__list">
        <li
          class="company-list__item"
          [class.company-list__item--selected]="company?.name === selectedCompany?.name"
          *ngFor="let company of kontragents; let i = index"
          (click)="onSelect(company)"
          [id]="'selectedCompany' + i"
        >
          <p>{{company.name}}</p>
        </li>
      </ul>
    </div>
  </button>
</div>
