.alfa-landing__wrap {
  min-height: 100vh;
  background-color: #FFFFFF;
}

.alfa-landing {
  padding: 56px 20px;
  max-width: 1050px;

  @media(max-width: 768px) {
    padding: 30px 20px;
  }
}

.alfa-landing__title {
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 48px;

  @media(max-width: 768px) {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
  }
}

.alfa-landing__desc {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 22px;

  @media(max-width: 768px) {
    line-height: 20px;
  }
}

.alfa-landing__risk-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 31px;
  margin-bottom: 60px;

  @media(max-width: 768px) {
    display: block;
    margin-bottom: 30px;
  }
}

.alfa-landing__risk {
  display: grid;
  grid-template-areas: "title img"
  "desc img";
  grid-template-rows: min-content 1fr;
  align-items: start;
  padding: 14px 24px;
  border-radius: 8px;

  @media(max-width: 768px) {
    grid-template-rows: 1fr;
    grid-template-areas: "title"
    "img"
    "desc";
    padding: 9px;
  }

  & h3 {
    grid-area: title;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 22px;

    @media(max-width: 768px) {
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 18px;
      text-transform: uppercase;
    }
  }

  & p {
    grid-area: desc;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: rgba(11, 31, 53, 0.6);
  }

  & span {
    display: block;
    font-weight: 700;

    @media(max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
      color: #152438;
    }
  }

  & .alfa-landing__img-wrap {
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: auto;
    width: 100px;
    height: 80px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    border-radius: 5px;

    @media(max-width: 768px) {
      margin: 0 0 10px;
    }

    & img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &--source {
    background: #FEF5F4;
    border: 1px solid #FCD6D3;
    box-shadow: 0 8px 24px rgba(202, 74, 74, 0.32);

    @media(max-width: 768px) {
      margin-bottom: 20px;
    }

    & h3 {
      color: rgba(243, 85, 74, 0.95);
    }
  }

  &--object{
    background: #EFF1F4;
    border: 1px solid #ECEDEF;
    box-shadow: 0 8px 24px rgba(7, 53, 79, 0.32);

    & h3 {
      color: rgba(11, 31, 53, 0.95);
    }
  }
}

.alfa-landing__subtitle {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 36px;

  @media(max-width: 768px) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
  }
}

.alfa-landing__btn-wrap {
  margin-bottom: 40px;

  @media(max-width: 768px) {
    margin-bottom: 20px;
  }

  & .btn {
    padding: 15px 19px;
    text-transform: none;
    border: 1px solid #F3554A;

    &--attr {
      margin-left: 30px;
      border: 1px solid #9DA5AE;
    }

    @media(max-width: 768px) {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 15px 19px;

      &--attr {
        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }
}

.alfa-landing__subdesc {
  font-size: 16px;
  line-height: 22px;
  color: #0B1F35;
  opacity: 0.6;
}

.alfa-landing__attention {
  margin-bottom: 30px;
  padding: 19px;
  font-size: 18px;
  line-height: 24px;
  background: #FCF4F3;
  border: 1px solid #F15045;
  border-radius: 5px;

  @media(max-width: 768px) {
    margin-bottom: 20px;
    padding: 9px;
    font-size: 16px;
    line-height: 20px;
  }

  & span {
    font-weight: 700;
    color: #F15045;
  }
}

.alfa-landing__subtext-wrap {
  margin-bottom: 60px;

  @media(max-width: 768px) {
    margin-bottom: 30px;
  }
}

.alfa-landing__subtext {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 24px;
  color: #6D7986;

  @media(max-width: 768px) {
    font-size: 13px;
    line-height: 18px;
  }

  &--bold {
    font-weight: 700;
    color: #0B1F35;

    @media(max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
