@import 'variables';

.page-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 146px;
    width: 100%;
    background-color: $header__light_background;
  }

  @media (max-width: 767px) {
    &::before {
      height: 186px;
    }
  }
}

.container-sm {
  padding: 0;
}

.form-section {
  position: relative;
  z-index: 2;
  @media (min-width: 768px) {
    padding-top: 20px;
  }
}

.form__input {
  -webkit-appearance: none;
}

.form__group:not(:last-child) {
  margin-bottom: 5px;
}

.form__group:first-of-type {
  margin-bottom: 20px;
}

.form__group + .form__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.tel-confirm {
  cursor: pointer;
  padding-top: 23px;
  padding-bottom: 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: $g__white_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;

  @media (max-width: 767px) {
    padding-top: 14px;
    padding-bottom: 15px;
  }
}

.tel-confirm.verified {
  color: $g__success_color;
  border: 1px solid $g__success_color;
}

.profile__avatar-wrap {
  position: relative;
  width: 120px;
  display: flex;
  justify-content: center;
  margin: 30px auto;

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px;
    width: 100%;
  }

  & .profile__avatar-field {
    display: none;
  }
}

.profile__avatar-img {
  width: 120px;
  height: 120px;
  background: $g__white_background;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (max-width: 767px) {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }

  img {
    max-height: none;
    object-fit: cover;
    max-width: 100%;
  }
}

.profile__avatar-label-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -140px;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: 767px) {
    position: static;
    display: flex;
    font-size: 13px;
    line-height: 18px;
    transform: none;
  }
}

.profile__avatar-label {
  display: block;
  color: $g__link_color;
  text-decoration: underline;
  cursor: pointer;

  @media (max-width: 767px) {
    padding: 12px;
    text-decoration: none;
    background: $g__white_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.profile__avatar-delete {
  position: absolute;
  bottom: -23px;
  left: 0;
  color: $g__alert_color;
  text-decoration: underline;
  cursor: pointer;

  @media (max-width: 767px) {
    position: static;
    margin-left: 10px;
    padding: 12px;
    text-decoration: none;
    background: $g__white_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.btn {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.form__input:focus ~ .form__input-label, .form__input:not(:focus):valid ~ .form__input-label, .form__input:-webkit-autofill ~ .form__input-label, .form__input:not(:empty) ~ .form__input-label, .form__input[type=tel]:disabled ~ .form__input-label {
  left: 20px;
  margin-bottom: 4px;
}

.loaderAuth {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid $g__outline_color;
  border-top-color: $g__link_color;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.form__input--dis{
  border: 1px solid $g__outline_color;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
}

.btn--red{
  color: #FFF;
  background: $g__alert_color;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.disabled-field-delete {
  pointer-events: none;
}
