.heading-h2{
  margin-top: 40px;
  
  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}

:host ::ng-deep app-ui-input section {
  margin-bottom: 10px;
}

.form {
  position: relative;
}

.error-text {
  color: red;
}