@import 'colors';

.accordion-tab__wrap {
  position: relative;
  padding: 1px 0;
  background-color: #EBEDF2;
  overflow-y: hidden;
}

.accordion-tab__search-result {
  padding: 0 20px;
  max-width: 1240px;
  margin: 30px auto 0;

  @media (max-width: 768px) {
    margin: 20px auto 0;
  }
}

.accordion-tab__show-wrap {
  position: relative;
  top: 0;
  padding-bottom: 30px;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 90px;
    background: linear-gradient(180deg, rgba(235, 237, 242, 0) 0%, #EBEDF2 10.94%);

    @media (max-width: 768px) {
      bottom: -15px;
      height: 80px;
      background: linear-gradient(180deg, rgba(235, 237, 242, 0) 0%, #EBEDF2 19.79%);
    }
  }

  @media (max-width: 768px) {
    padding-bottom: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1240px;
    height: 1px;
    background-color: rgba(21, 36, 56, 0.1);

    @media (max-width: 768px) {
      left: 20px;
      width: calc(100% - 40px);
      transform: none;
    }
  }
}

.accordion-tab__show {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #929FAB;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed #929FAB;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 13px;
    line-height: 20px;
  }
}

.accordion-tab__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #307ABD;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 28px;
  }

  & span {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #307ABD;
  }

  &--no-result {
    cursor: initial;

    & span {
      color: #929FAB;
      text-decoration: none;
    }

    & svg {
      display: none;
    }
  }
}

.accordion-tab__arrow--open {
  transform: rotate(180deg);
}

.accordion-tab__content.margin {
  margin-bottom: $margin_cards;

  @media (max-width: 768px) {
    margin-bottom: -215px;
  }
}
