<div class="accordion-tab accordion-tab__wrap">
  <section class="accordion-tab__search-result">
    <h2 class="{{className(dataLength === 0)}}" (click)="openAccordion()" *ngIf="!isShowTrademarks">
      <span>Найдено {{getItemType(type)}}</span>
      <svg *ngIf="dataLength!==0"
           class="accordion-tab__arrow"
           [class.accordion-tab__arrow--open]="isShowResult" width="14" height="10" viewBox="0 0 20 12" fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1.5L10 10.5L19 1.5" stroke="#307ABD" stroke-width="2"/>
      </svg>
    </h2>

    <div class="accordion-tab__content"
         [class.margin]="(isShowResult || isShowTrademarks) && dataLength - startQuantity > 0 && showMoreBtn">
      <ng-content *ngIf="isShowResult || isShowTrademarks">
      </ng-content>
    </div>

  </section>

  <div class="accordion-tab__show-wrap"
       *ngIf="(isShowResult || isShowTrademarks) && dataLength - startQuantity > 0 && showMoreBtn">
    <button (click)="clickShowMore()"
            class="accordion-tab__show">
      Показать еще {{getShowMoreCount(dataLength)}} из {{getLengthShowMore(dataLength)}}
    </button>
  </div>
</div>


