<div class="chart__wrapper">
  <div class="chart__block-wrapper">
    <app-portfolio-composition
      [kontragents]="kontragents"
      [data]="composition$ | async"
      [isLoading]="isLoadingComposition$ | async"
      [selectedCompany]="selectedCompany$ | async"
      (openModal)="openModal.emit()"
    ></app-portfolio-composition>
  </div>
  <div class="chart__block-wrapper">
    <app-portfolio-security
      [data]="securityRisks$ | async"
      [isLoading]="isLoadindSecurityRisks$ | async"
      [selectedCompany]="selectedCompany$ | async"
    ></app-portfolio-security>
  </div>
  <div class="chart__block-wrapper">
    <app-portfolio-value
      [data]="portfolioCost$ | async"
      [isLoading]="isLoadingPortfolioCost$ | async"
    ></app-portfolio-value>
  </div>
</div>