.chart__block-wrapper {
  width: 31%;
  min-height: 320px;
  position: relative;
  overflow-y: hidden;
  border-radius: 10px;

  @media (max-width: 1190px) {
    margin: 0;
  }

  @media (max-width: 793px) {
    margin: 0;
    width: 100%;
    height: auto;
    min-height: auto;
    overflow: visible;

    &:last-of-type,
    &:first-of-type {
      margin: 0;
    }
  }
}
