<div class='container inset inset--docs'>
  <div class='docs'>

    <div class='docs__main-wrapper' [class.arr]='docsPreClaim===true'>
      <h4 *ngIf='mobile' class='docs-header' (click)='docsPreClaim = !docsPreClaim'> Документы </h4>
    </div>

    <div class='docs__main-wrapper' *ngFor='let fileCategory of filesByCategory' [class.arr]='docsPreClaim===true'>
      <h4 *ngIf='!mobile'> {{ fileCategory.name }} </h4>

      <div *ngIf='docsPreClaim === true'>
        <div *ngFor='let subCategory of fileCategory.subcategories' class='docs__blocks-border'>
          <div class='docs-sub-header'>{{ subCategory.name }}</div>
          <div *ngIf='subCategory?.files.length && docsPreClaim === true' class='docs__blocks'>
            <div *ngFor='let subCategoryfile of subCategory.files'>
              <div class='docs__block' (click)='downloadFiles.downloadFile(subCategoryfile)'>
                <div class='docs__text-wrapper'>
                  <span>{{trimString(subCategoryfile.representation, 30)}}</span>
                  <div>
                    <svg width='14' height='17' viewBox='0 0 14 17' xmlns='http://www.w3.org/2000/svg'>
                      <path d='M14 6H10V0H4V6H0L7 13L14 6ZM0 15V17H14V15H0Z' />
                    </svg>
                    <a>Скачать файл</a>
                  </div>
                </div>
                <div class='docs__icon-wrapper'>
                  <svg width='50' height='50' viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'>
                    <circle cx='25' cy='25' r='25' />
                    <path
                      d='M25.9844 22H31.5156L25.9844 16.5156V22ZM19 15.0156H27.0156L33.0156 21.0156V33.0156C33.0156 33.5469 32.8125 34 32.4062 34.375C32.0312 34.7812 31.5625 34.9844 31 34.9844H19C18.4375 34.9844 17.9531 34.7812 17.5469 34.375C17.1719 34 16.9844 33.5469 16.9844 33.0156V16.9844C16.9844 16.4531 17.1719 16 17.5469 15.625C17.9531 15.2188 18.4375 15.0156 19 15.0156ZM24.0156 28V25H22V28H19V30.0156H22V33.0156H24.0156V30.0156H27.0156V28H24.0156Z' />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf='fileCategory?.files.length && docsPreClaim === true' class='docs__blocks-border docs__blocks'>
        <div *ngFor='let file of fileCategory.files'>
          <div class='docs__block' (click)='downloadFiles.downloadFile(file)'>
            <div class='docs__text-wrapper'>
              <span>{{trimString(file.representation, 30)}}</span>
              <div>
                <svg width='14' height='17' viewBox='0 0 14 17' xmlns='http://www.w3.org/2000/svg'>
                  <path d='M14 6H10V0H4V6H0L7 13L14 6ZM0 15V17H14V15H0Z' />
                </svg>
                <a>Скачать файл</a>
              </div>
            </div>
            <div class='docs__icon-wrapper'>
              <svg width='50' height='50' viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'>
                <circle cx='25' cy='25' r='25' />
                <path
                  d='M25.9844 22H31.5156L25.9844 16.5156V22ZM19 15.0156H27.0156L33.0156 21.0156V33.0156C33.0156 33.5469 32.8125 34 32.4062 34.375C32.0312 34.7812 31.5625 34.9844 31 34.9844H19C18.4375 34.9844 17.9531 34.7812 17.5469 34.375C17.1719 34 16.9844 33.5469 16.9844 33.0156V16.9844C16.9844 16.4531 17.1719 16 17.5469 15.625C17.9531 15.2188 18.4375 15.0156 19 15.0156ZM24.0156 28V25H22V28H19V30.0156H22V33.0156H24.0156V30.0156H27.0156V28H24.0156Z' />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--  Previous docs  -->
<!--    <br>-->
<!--    <hr>-->
<!--    <br>-->
<!--    <div class='docs__main-wrapper' [class.arr]='docsPreClaim===true'>-->
<!--      <h4 *ngIf='mobile' class='docs-header' (click)='docsPreClaim = !docsPreClaim'>Документы по претензии</h4>-->
<!--      <h4 *ngIf='!mobile'>Документы по претензии</h4>-->
<!--      <div *ngIf='docsPreClaim === true' class='docs__blocks'>-->
<!--        <div *ngFor='let doc of $docs'>-->
<!--          <div class='docs__block' (click)='downloadFiles.downloadFile(doc)'>-->
<!--            <div class='docs__text-wrapper'>-->
<!--              <span>{{trimString(doc.representation, 30)}}</span>-->
<!--              <div>-->
<!--                <svg width='14' height='17' viewBox='0 0 14 17' xmlns='http://www.w3.org/2000/svg'>-->
<!--                  <path d='M14 6H10V0H4V6H0L7 13L14 6ZM0 15V17H14V15H0Z' />-->
<!--                </svg>-->
<!--                <a>Скачать файл</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class='docs__icon-wrapper'>-->
<!--              <svg width='50' height='50' viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'>-->
<!--                <circle cx='25' cy='25' r='25' />-->
<!--                <path-->
<!--                  d='M25.9844 22H31.5156L25.9844 16.5156V22ZM19 15.0156H27.0156L33.0156 21.0156V33.0156C33.0156 33.5469 32.8125 34 32.4062 34.375C32.0312 34.7812 31.5625 34.9844 31 34.9844H19C18.4375 34.9844 17.9531 34.7812 17.5469 34.375C17.1719 34 16.9844 33.5469 16.9844 33.0156V16.9844C16.9844 16.4531 17.1719 16 17.5469 15.625C17.9531 15.2188 18.4375 15.0156 19 15.0156ZM24.0156 28V25H22V28H19V30.0156H22V33.0156H24.0156V30.0156H27.0156V28H24.0156Z' />-->
<!--              </svg>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->




    <!--    <div class="docs__main-wrapper" [class.arr]="docsPreClaim===true">-->
    <!--      <h4  (click)="docsPreClaim=!docsPreClaim">Документы по претензии</h4>-->
    <!--      <div *ngIf="docsPreClaim===true" class="docs__blocks">-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Претензия</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/gray-empty.svg">-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Претензия</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/gray-empty.svg">-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Претензия</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/gray-empty.svg">-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Претензия</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/gray-empty.svg">-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Претензия</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/gray-empty.svg">-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="docs__main-wrapper" [class.arr]="docsClaim===true">-->
    <!--      <h4 (click)="docsClaim=!docsClaim">Претензия</h4>-->
    <!--      <div *ngIf="docsClaim===true" class="docs__blocks">-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Доверенность</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/red-attention.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/orange-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Требуется согласование</p>-->
    <!--                <a>Перейти к согласованию</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Претензия</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/orange-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Документ подписан ЭЦП</p>-->
    <!--                <a href="" download>Скачать подпись</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Почтовое уведомление</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/orange-empty.svg">-->
    <!--              &lt;!&ndash;              <span class="docs__icon-prompt">&ndash;&gt;-->
    <!--              &lt;!&ndash;                <p>Требуется согласование</p>&ndash;&gt;-->
    <!--              &lt;!&ndash;                <a>Перейти к согласованию</a>&ndash;&gt;-->
    <!--              &lt;!&ndash;              </span>&ndash;&gt;-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="docs__main-wrapper" [class.arr]="docsTalk==true">-->
    <!--      <h4 (click)="docsTalk=!docsTalk">Переговоры с должником</h4>-->
    <!--      <div *ngIf="docsTalk===true" class="docs__blocks">-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Ответ #1</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/purple-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Документ подписан ЭЦП</p>-->
    <!--                <a href="" download>Скачать подпись</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Уточнение #1</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/red-attention.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/purple-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Требуется согласование</p>-->
    <!--                <a>Перейти к согласованию</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Телефонный разговор #1</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/purple-empty.svg">-->
    <!--              &lt;!&ndash;              <span class="docs__icon-prompt">&ndash;&gt;-->
    <!--              &lt;!&ndash;                <p>Требуется согласование</p>&ndash;&gt;-->
    <!--              &lt;!&ndash;                <a>Перейти к согласованию</a>&ndash;&gt;-->
    <!--              &lt;!&ndash;              </span>&ndash;&gt;-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="docs__main-wrapper" [class.arr]="docsCourt===true">-->
    <!--      <h4 (click)="docsCourt=!docsCourt">Суд</h4>-->
    <!--      <div *ngIf="docsCourt===true" class="docs__blocks">-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Исковое заявление</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/blue-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Документ подписан ЭЦП</p>-->
    <!--                <a href="" download>Скачать подпись</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Уведомление о подаче иска</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/blue-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Документ подписан ЭЦП</p>-->
    <!--                <a href="" download>Скачать подпись</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Отзыв на иск</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/blue-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Документ подписан ЭЦП</p>-->
    <!--                <a href="" download>Скачать подпись</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Электронные материалы дела</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/blue-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Документ подписан ЭЦП</p>-->
    <!--                <a href="" download>Скачать подпись</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Доверенность</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/blue-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Документ подписан ЭЦП</p>-->
    <!--                <a href="" download>Скачать подпись</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Оплата гос. пошлины</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/blue-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Документ подписан ЭЦП</p>-->
    <!--                <a href="" download>Скачать подпись</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Определения суда</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/blue-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Документ подписан ЭЦП</p>-->
    <!--                <a href="" download>Скачать подпись</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Решение суда</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/blue-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Документ подписан ЭЦП</p>-->
    <!--                <a href="" download>Скачать подпись</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Исполнительный лист</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">-->
    <!--              <img src="/assets/icons/blue-empty.svg">-->
    <!--              <span class="docs__icon-prompt">-->
    <!--                <p>Документ подписан ЭЦП</p>-->
    <!--                <a href="" download>Скачать подпись</a>-->
    <!--              </span>-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="docs__main-wrapper" [class.arr]="docsPenalty===true">-->
    <!--      <h4 (click)="docsPenalty=!docsPenalty">Взыскание</h4>-->
    <!--      <div *ngIf="docsPenalty===true" class="docs__blocks">-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Завяление в ВТБ</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/green-empty.svg">-->
    <!--              &lt;!&ndash;              <span class="docs__icon-prompt">&ndash;&gt;-->
    <!--              &lt;!&ndash;                <p>Требуется согласование</p>&ndash;&gt;-->
    <!--              &lt;!&ndash;                <a>Перейти к согласованию</a>&ndash;&gt;-->
    <!--              &lt;!&ndash;              </span>&ndash;&gt;-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Ответ с отметкой ВТБ</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/green-empty.svg">-->
    <!--              &lt;!&ndash;              <span class="docs__icon-prompt">&ndash;&gt;-->
    <!--              &lt;!&ndash;                <p>Требуется согласование</p>&ndash;&gt;-->
    <!--              &lt;!&ndash;                <a>Перейти к согласованию</a>&ndash;&gt;-->
    <!--              &lt;!&ndash;              </span>&ndash;&gt;-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Лист с отметкой ВТБ</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/green-empty.svg">-->
    <!--              &lt;!&ndash;              <span class="docs__icon-prompt">&ndash;&gt;-->
    <!--              &lt;!&ndash;                <p>Требуется согласование</p>&ndash;&gt;-->
    <!--              &lt;!&ndash;                <a>Перейти к согласованию</a>&ndash;&gt;-->
    <!--              &lt;!&ndash;              </span>&ndash;&gt;-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Завяление в Сбербанк</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/green-empty.svg">-->
    <!--              &lt;!&ndash;              <span class="docs__icon-prompt">&ndash;&gt;-->
    <!--              &lt;!&ndash;                <p>Требуется согласование</p>&ndash;&gt;-->
    <!--              &lt;!&ndash;                <a>Перейти к согласованию</a>&ndash;&gt;-->
    <!--              &lt;!&ndash;              </span>&ndash;&gt;-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="docs__main-wrapper" [class.arr]="docsResult===true">-->
    <!--      <h4 (click)="docsResult=!docsResult" >Результат</h4>-->
    <!--      <div *ngIf="docsResult===true" class="docs__blocks">-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Акт оказанных услуг</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/green-empty.svg">-->
    <!--              &lt;!&ndash;              <span class="docs__icon-prompt">&ndash;&gt;-->
    <!--              &lt;!&ndash;                <p>Требуется согласование</p>&ndash;&gt;-->
    <!--              &lt;!&ndash;                <a>Перейти к согласованию</a>&ndash;&gt;-->
    <!--              &lt;!&ndash;              </span>&ndash;&gt;-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="docs__block">-->
    <!--          <div class="docs__text-wrapper">-->
    <!--            <span>Юридические стратегии</span>-->
    <!--            <a href="" download>nazvanie_dogovora.pdf</a>-->
    <!--          </div>-->
    <!--          <div class="docs__icon-wrapper">-->
    <!--            <span class="docs__icon">-->
    <!--&lt;!&ndash;              <img src="/assets/images/green-key.png" class ="docs__icon&#45;&#45;mini">&ndash;&gt;-->
    <!--              <img src="/assets/icons/green-empty.svg">-->
    <!--              &lt;!&ndash;              <span class="docs__icon-prompt">&ndash;&gt;-->
    <!--              &lt;!&ndash;                <p>Документ подписан ЭЦП</p>&ndash;&gt;-->
    <!--              &lt;!&ndash;                <a href="" download>Скачать подпись</a>&ndash;&gt;-->
    <!--              &lt;!&ndash;              </span>&ndash;&gt;-->
    <!--            </span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class='docs__btn-wrapper'>
      <a href='{{linkArchive}}' download>Скачать все документы</a>
    </div>
  </div>
</div>
