.inset{
  background-color: white;
  padding: 40px 0;
  @media (max-width: 1280px){
    padding: 40px 15px;
  }

  @media (max-width: 500px){
    padding: 10px 15px;
  }
}

.container {
  min-width: 375px;
}

.docs-header {
  margin-right: 14px;
}

.docs__blocks-border {
  background: #F7F8FB;
  border: 1px solid rgba(21, 36, 56, 0.15);
  border-radius: 10px;
  padding: 16px 19px;
  margin-bottom: 10px;
}

.docs__blocks {
  grid-gap: 10px;
  //gap: 0;
}

.docs-sub-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #152438;
  margin-bottom: 10px;
}

.docs__block {
  cursor: pointer;
  width: 399px;
  max-width: 399px;
  @media (max-width: 500px) {
    // ideal for iphone 12pro
    max-width: 320px;
  }
}

.docs__block:hover .docs__text-wrapper svg {
  fill: #00AFEC;
}

.docs__block:hover .docs__text-wrapper a {
  color: #00AFEC;
}

.docs__block:hover .docs__icon-wrapper svg circle {
  fill: #00AFEC;
}

.docs__text-wrapper {
  a {
    text-decoration: underline;
    font-size: 14px;
  }

  svg {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    fill: #CDCFD6;
    position: relative;
    top: 2px;
  }
}

.docs__icon-wrapper {
  svg {
    circle {
      fill: #CDCFD6;
    }
    path {
      fill: #FFFFFF;
    }
  }
}
