@import 'variables';

.mktu {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  &__search{
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    min-width: 50%;
    flex-grow: 1;
    display: flex;
  }

  &__empty{
    font-size: 13px;
    line-height: 1.25;
    color: $g__text_color_secondary;
    margin: auto 0;
    padding: 8px 0;
  }

  &__search-wrapper{
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 5px;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
  }

  &__btn{
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    color: $g__link_color;
    padding: 12px;
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    height: fit-content;
    margin: auto;
    font-size: 13px;
    line-height: 1.38;

    @media (min-width:600px ){
      max-width: 450px;
    }

  }

  &__card{
    background: #F7F8FB;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 7px 10px;
    display: flex;
    flex-direction: column;
    width: 104px;
  }

  &__subtitle{
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $g__text_color_secondary;
    font-size: 11px;
    line-height: 1.45;
    margin-bottom: 0;
  }

  &__inner-card{
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }

  &__number{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 0;
  }

  &__close-card{
    position: relative;
    width: 12px;
    height: 12px;
    &::after{
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      background-size: 100%;
      top: 2px;
      background-repeat: no-repeat;
      background-image: url("/assets/images/close-icon.svg");
    }
  }

}
