@import "variables";

.container{
  max-width: 1240px;
  padding: 0;
}

.heading-h1{
  @media (max-width: 768px) {
    margin-bottom: 20px;
  }

  @media (max-width: 540px) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
  }
}

.section{
  @media (max-width: 1180px) {
    padding: 10px 20px;
  }

  @media (max-width:653px) {
    padding: 10px;
  }
}

.form-item__btn-block--special{
  padding: 40px 50px;
  @media (max-width: 1180px) {
    padding: 20px;
  }


  @media (max-width: 653px) {
    padding: 0 10px 10px;
  }
}

.steps__element-text {
  padding: 3px 5px 3px 22px;
}

.steps__element {
  padding: 0 10px 0 0;

  &:last-of-type {
    white-space: nowrap;

    @media (max-width: 1000px) {
      white-space: normal;
    }
  }
}

.steps__element--active .steps__element-text::after {
  background-image: url('/assets/icons/rounded-done-white.svg');
}
.steps__element--finished .steps__element-text::before {
  background-image: url('/assets/icons/rounded-done-black.svg');
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.steps__element-text::before{
  background-image: url('/assets/icons/rounded-done.svg');
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-position: center;
}

//.steps__element--active .steps__element-text::before {
//  background-image: url('/assets/icons/rounded-done-white.svg');
//  width: 18px;
//  height: 18px;
//  background-repeat: no-repeat;
//  background-position: center;
//  box-sizing: border-box;
//}

.step-box {
  background: $g__form_background;
  margin-top: 40px;
  padding: 40px 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  @media (max-width: 768px) {
    padding: 20px 10px 10px;
    margin-top: 10px;
  }

  &__special{
    padding: 0;
    margin-bottom: 0;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

}

.heading-h1__special{
  padding: 40px 50px 30px 50px;
  width: 100%;
  margin-bottom: 0;
  @media (max-width: 1180px) {
    padding: 20px;
  }
  @media (max-width:653px) {
    padding: 20px 15px;
    font-size: 20px;
    line-height: 28px;
  }
}

.btn-blue-attr {
  border: 1px solid $g__btn_attr_border_color;
  color: $g__btn_attr_text_color;
}

.form-item__btn-block{
  button:last-of-type{
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

.container__tabs--paddings{
  padding: 40px 50px 50px;

  @media (max-width: 768px) {
    padding: 20px 20px 20px;
  }
}
.mobile-pay {
  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}
.form-item__btn-block--mini {
  @media (max-width: 768px) {
    width: 100%;
    //margin-bottom: 10px;
  }
  p {
    @media (max-width: 768px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }
}
.btn-contract {
  @media (max-width: 768px) {
    width: 100%;
  }
}

.payment-buttons {
  position: relative;
  bottom: 52px;
  margin-bottom: -55px;

  @media (max-width: 790px) {
    bottom: 0;
    margin-bottom: 0;
  }
}
