@import 'variables';

.autocomplete {
  position: relative;

  @media (max-width: 793px) {
    margin-right: 0;
  }

  &__icon {
    top: 50%;
    left: 15px;
    z-index: 1;
    position: absolute;
    transform: translateY(-50%);
    
    @media (max-width: 793px) {
      top: 42%;
      left: 10px;
      width: 15px;
      height: 15px;
    }
  }

  .search__input {
    @media (max-width: 793px) {
      width: 100%;
      margin-bottom: 10px;
      margin-right: 0;
      padding-left: 30px;
    }

    &_without-icon {
      padding: 15px;
    
      @media (max-width: 793px) {
        padding-left: 15px;
      }
    }
  }

  &-dropdown {
    z-index: 1;
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    padding: 15px;
    cursor: pointer;
    margin-top: 2px;
    margin-right: 5px;
    border-radius: 5px;
    position: absolute;
    box-sizing: border-box;
    background: $g__white_background;
    border: 1px solid $g__outline_color;
    box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);

    @media (max-width: 793px) {
      min-width: 250px;
      margin-bottom: 10px;
    }
  
  
    &:last-of-type {
      margin-right: 0;
    }
  
    &--calendar {
      width: 159px;
    }

    &__option {
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
