.button-control {
  //margin-top: 20px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 11px;
  }
}

.btn-blue-attr {
  background: none;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #00AFEC;
  padding: 15px 20px;
  border: 1px solid #00AFEC;
  margin-right: auto;

  @media (max-width: 500px) {
    margin: auto;
    width: 100%;
    padding: 13px 15px;
  }

  &:hover {
    border: 1px solid #0D8EBB;
    color: #0D8EBB;
    cursor: pointer;
  }
}

.btn-blue {
  background: #00AFEC;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  padding: 14px 20px;
  border: 1px solid #00AFEC;
  display: inline-flex;
  //margin-right: 7px;

  &:hover {
    background: #0D8EBB;
    border: 1px solid #0D8EBB;
    cursor: pointer;
  }
}

.btn-disabled{
  opacity: 0.6;

  &:hover {
    cursor: not-allowed;
  }
}
//
//.submit_btn {
//  left: 380px;
//  position: relative;
//  margin-top: 10px;
//}

.spinner-sending{
  height: 25px;
  margin-left: 9px;
  width: auto;
  justify-content: flex-end;
  position: relative;
  top: 2px;
  left: 6px;

  @media (max-width: 500px){
    margin-left: 0;
    flex-grow: 0;
  }
}
.btn-name {
  @media (max-width: 500px){
    margin: auto;
  }
}
