<button class="button-control {{className}}"
        (click)="onClick()"
        [class.btn-disabled]="(isSending && !savedFormState) || uploadDocButton ? true : null"
        [attr.disabled]="isSending && !savedFormState || uploadDocButton ? true : null">
  <span class="btn-name">{{def.name}}</span>
  <app-spinner *ngIf="isSending && (def.action.type === 'submit' || def.action.type === 'payment')" class="spinner-full spinner-sending"></app-spinner>
</button>
