@import "variables";

textarea {
  min-height: 45px;
}
.conditions {
  display: flex;
  flex-direction: column;

  &__row{
    display: grid;
    grid-template-columns: 1fr 2.26fr;
    grid-template-areas: "title-wrapper radio-wrapper" ;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 35px;
    }
  }

  &__title{
    position: relative;
    width: fit-content;
    padding-right: 32px;
    .prompt{
      right: 0;
      top: 0;
      color: $g__text_color_primary;
    }
    @media (max-width: 860px) {
      margin-bottom: 10px;
    }
    @media (max-width: 500px) {
      width: 100%;
    }

  }

  &__title-wrapper{
    grid-area: title-wrapper;
    padding-top: 14px;
    margin-right: 10px;

    @media (max-width: 860px) {
      padding-top: 0;
    }
  }

  &__checkbox-option{
    display: flex;

    @media (max-width: 1150px) {
      margin-bottom: 27px;

      &:last-of-type{
        margin-bottom: 11px;
      }
    }
  }

  &__checkbox{
    display: flex;
    justify-content: space-between;
    @media (max-width: 1150px) {
      flex-direction: column;
      width: fit-content;
    }

    input{
      opacity: 0;
      position: absolute;
      z-index: -1;

      &:checked ~ label::before{
        background: url("/assets/images/black-done.svg") no-repeat center;
        background-size: 12px 10px;
      }
    }

    label{
      font-size: 16px;
      line-height: 20px;
      position: relative;
      padding: 0 0 0 27px;
      cursor: pointer;

      &::before{
        position: absolute;
        content: '';
        left: 0;
        background: #FFFFFF;
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-sizing: border-box;
        width: 18px;
        height: 18px;
        border-radius: 3px;
      }
    }

    .prompt__question {
      left: 0;
      top: 0;
    }

  }

  &__radio-wrapper{
    grid-area: radio-wrapper;
  }

  &__radio{
    background: #F1F2F5;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 4px;
    width: fit-content;
    display: flex;
    min-height: 50px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    input{
      opacity: 0;
      position: absolute;
      z-index: -1;
      white-space: nowrap;

      &:checked ~ label{
        border: 1px solid rgba(21, 36, 56, 0.15);
        box-sizing: border-box;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        background: #FFFFFF;
      }
    }

    label{
      padding: 9px 13px;
      font-size: 16px;
      line-height: 20px;

      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
      &:hover{
        cursor: pointer;
      }

      &:not(:last-of-type){
        margin-right: 3px;
      }
    }
  }

  &__radio-option{
    display: flex;
  }

  &__fields-wrapper{
    display: flex;
    @media (max-width: 840px) {
      flex-direction: column;
    }
  }

  &__add-doc{
    display: flex;
    label{
      position: relative;
      z-index: 5;

      &:hover{
        cursor: pointer;
      }
    }

    input{
      z-index: -1;
      opacity: 0;
      position: absolute;
    }

    &--flex{
      display: flex;
      flex-flow: row nowrap;
      flex-direction: column;
      align-items: normal;
    }
  }

  &__text-blue{
    text-decoration: underline;
    color: $g__link_color;
    font-size: 16px;
    line-height: 20px;
    margin-right: 4px;

    &--flex{
      display: flex;
    }
  }

  &__text-gray{
    text-decoration: none;
    color: $g__text_color_secondary;
    margin-right: 0;
  }

  &__delete{
    position: relative;
    width: 18px;
    height: 18px;
    background-image: url("/assets/images/delete.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 13px;
    z-index: 10;

    &:hover{
      cursor: pointer;
    }
  }

  &__complex{
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0 2px 4px $g__outline_color;
    border-radius: 5px;
    display: flex;
    width: 100%;
    margin-right: 10px;

    input, textarea{
      display: flex;
      flex-grow: 1;
      border: none;
      padding: 15px;
      font-size: 16px;
      line-height: 20px;

      &::placeholder{
        color: $g__text_color_secondary;
      }
    }

    textarea{
      overflow: hidden;
      resize: none;

      @media (max-width:1125px) {
        height: 50px;
      }
    }

    span {
      color: $g__text_color_secondary;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      line-height: 20px;
      padding: 15px;
    }

    &--top{
      margin-top: 10px;
    }

  }
}
.search__btn-block--top{
  margin-top: 10px;
}

.search__label{
  color: $g__text_color_primary;
}

.form__input-wrap{
  height: fit-content;
  margin-top: 10px;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 2px 4px $g__outline_color;
}

.form__link {
  padding: 15px ;
  font-size: 16px;
  line-height: 20px;
}

.form__input-wrap--select::after {
  right: 22px;
  top: 22px;
  width: 7px;
  height: 7px;
}

.form__select-list{
  top: 50px;
  padding: 15px;
}

.form__li {
  padding: 0;
  margin-bottom: 15px;

  &:last-of-type{
    margin-bottom: 0;
  }

  &:hover{
    cursor: pointer;
  }
}

.nds{
  max-width: 253px;
  min-width: fit-content;
  width: 100%;
  margin-top: 0;
  @media (max-width: 840px) {
    margin-top: 10px;
    max-width: none;
  }

}

.search__btn-block{
  padding: 14px;
}

.money{
  width: 83px;
  margin-top: 0;
  border: none;
  box-shadow: none;
}

.prompt__hidden {
  width: max-content;
  max-width: 15vw;
  left: 0;
  right: initial;
}

.search__hidden-options-wrapper{
  max-height: none;
}

.invalid {
  border: 2px solid #FF1037;
}

.invalid-field {
  font-size: 13px;
  color: #FF1037;
}

.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

.file-error {
  color: $g__alert_color !important;
  padding-bottom: 10px;
  margin-top: 4px;
  font-size: 13px !important;
  line-height: 18px !important;
}
