.open-cases__tabs {
  margin-bottom: 24px;
}

.open-cases__tabs-btn {
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  color: #9BA4B1;
  background: transparent;
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &.active {
    color: #1A1B1C;
  }

  &:not(:last-of-type) {
    margin-right: 32px;
  }
}

.open-case__wrap {
  display: grid;
  grid-template-columns: repeat(4, 23.3%);
  grid-gap: 24px;
  align-items: stretch;

  @media(max-width: 991px) {
    grid-template-columns: repeat(2, 47.8%);
  }

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 10px;
  }
}

.open-no-cases {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open-no-cases__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  width: 96px;
  height: 96px;
  background: #FFFFFF;
  border-radius: 50%;
}

.open-no-cases__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 22px;
  color: #1A1B1C;
  text-align: center;
}

.open-no-cases__desc {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 18px;
  color: #263C4E;
  text-align: center;
}

.open-no-cases__btn {
  padding: 14px 30px;
  min-width: 232px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #00BBE4;
  border: 1px solid #00BBE4;
  border-radius: 24px;
  cursor: pointer;
}

.open-case__new {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 123px;
  font-size: 18px;
  line-height: 22px;
  color: #1A1B1C;
  border: 1px dashed #818A97;
  border-radius: 6px;
  cursor: pointer;
}
