@import 'variables.scss';

button:hover, a:hover{
  opacity: 0.7;
}

.scroll{
  max-height: 650px;
  padding-left: 30px;
  margin-left: -30px;

  &::-webkit-scrollbar-button {
    display: none;
    width:0px;
    height:0px
  }

  &::-webkit-scrollbar-track {
    display: none;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    display: none;
  }

  &::-webkit-scrollbar-thumb:hover{
    display: none;
  }

  &::-webkit-resizer{
    background-repeat:no-repeat;
    width:0px;
    height:0px
  }

  &::-webkit-scrollbar{
    width: 0px;
  }
}

@keyframes show{
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


.section-position{
  min-width: 375px;
}

.head-table {
  &__first{
    width: 37%;
  }

  &__second{
    width: 32%;
    padding-left: 41px;
    position: relative;

    &:before{
      position: absolute;
      content: "";
      width: 1px;
      height: 20px;
      left:0;
      top: 0;
      background: #CCCFD6;
    }
  }

  &__third{
    width: 34%;
    padding-left: 18px;
    position: relative;

    &:before{
      position: absolute;
      content: "";
      width: 1px;
      height: 20px;
      left:0;
      top: 0;
      background: #CCCFD6;
    }
  }

  &__fourth{
    width: 9%;
    text-align: end
  }

}

.monitoring-card{
  display: flex;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 5px;
  justify-content:space-between;
  z-index: 10;
  position: relative;

  &__block{
    width: 260px;
    min-width: 260px;
    margin-right: 20px;

    @media(max-width:1280px){
      width: 230px;
      min-width: 230px;
    }
  }

  &__btn-wrapper{
    width: 140px;
    text-align: right;
  }

  &__notice-wrapper{
    width: 360px;
    padding-left: 40px;
  }

  &__description-wrapper{
    width: 306px;
  }

  &__description {
    position: relative;
    padding-left: 12px;

    &:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 68px;
      background: #EBEDF2;
      left: -9px;
    }
  }

  &__btn{
    padding: 10px 26px 10px 11px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    position: relative;

    &:before {
      background-image: url('/assets/images/icon-arrow-blue-right.svg');
      position: absolute;
      content: "";
      width: 8px;
      height: 14px;
      background-repeat: no-repeat;
      background-size: 100%;
      right: 12px;
      top: 14px;
    }
  }

  &__img-wrapper{
    width: 90px;
    min-width: 90px;
    height: 68px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width:1280px){
      width: 60px;
      min-width: 60px;
    }
  }

  &__item{
    font-size: 15px;
    line-height: 20px;
    color: #929FAB;
    margin-bottom: 6px;
  }

  &__text{
    font-size: 15px;
    line-height: 20px;
    color: #152438;
    width: 100%;
  }

  &__notice{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #152438;
    position:relative;
    margin-bottom: 3px;

    &:before{
      position: absolute;
      content: "";
      width: 1px;
      height: 68px;
      background: #EBEDF2;
      left: -42px;
    }
  }

  &__date{
    font-size: 15px;
    line-height: 20px;
    color: #929FAB;
    position:relative;
  }

  &__lamp{
    position: absolute;
    width: 12px;
    height: 12px;
    background: #FF1037;
    border-radius: 50%;
    transform: translate(-27px, 5px);

    &--orange{
      background: #FF8310;
      width: 10px;
      height: 10px;
    }

    &--yellow{
      background: #FCD770;
      width: 8px;
      height: 8px;
    }
  }
}

.container {
  padding: 40px 10px 0px;
  min-width: 355px;

  @media(max-width:1280px){
    padding: 40px 30px 55px;
  }

  @media(max-width:820px){
    padding: 30px 10px 35px;
  }

  &--gray {
    background: #ebedf2;

    @media (max-width:1100px) {
      padding: 30px;
    }

    @media (max-width:500px) {
      position: fixed;
      top: 50px;
      z-index: 1000;
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
      height: auto;
      padding: 20px;
    }

  }

  &--light-gray {
    background:linear-gradient(#F4F6FA 0px, #F4F6FA 57px, white 57px, white 100%);
    padding: 0;

    @media(max-width:1280px){
      padding: 0 30px 55px;
    }

    @media(max-width:540px){
      background: white;
    }

    @media(max-width:500px){
      background: #ebedf2;
      padding: 0 20px 25px;
    }
  }

  &--white {
    background: white;
  }


  &__mobile{
    @media(max-width:500px){
      margin-top: 30px;
    }
  }

}

.control{
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
  padding-bottom: 0;

  @media(max-width:500px){
    padding: 0;
    background: #475363;
    flex-direction: column-reverse;
    overflow: scroll;
    box-sizing: content-box;
    position: relative;

    &::-webkit-scrollbar {

      display: none;
    }
    &::-webkit-scrollbar {

      display: none;
    }
  }

  &__wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media(max-width:500px){
      background-color: rgba(70, 82, 98, 0.75);
      box-sizing: content-box;
      min-width: max-content;
      padding: 17px 20px 40px;
    }

  }

  &__mobile{
    display: none;
    z-index: 50;
    position: absolute;
    left: 0;
    width: 100%;
    top: 106px;

    p{
      width: fit-content;
      margin: 0 auto;
      font-size: 13px;
      line-height: 18px;
      padding: 10px 15px 10px 40px;
      position: relative;
      background: #FFFFFF;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      border-radius: 30px;
      z-index: 2;
      top: 34px;


      &::before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        background-image: url('../../../assets/images/icon-search-blue.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        left: 14px;
        top: 11px;
        z-index: 30;
      }
    }

    @media(max-width:500px){
      display: block;
    }

    &--active{
      background: #FFFFFF;
      border: none;
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      border-radius: 0;
      padding: 15px;
      position: fixed;
      top: 10px;
      z-index: 1000;

      @media(max-width:500px){
        top: 0;

        p{
          top: 0;
          border: none;
          font-size: 16px;
          line-height: 20px;
          margin: 0;
          text-transform: none;
          padding: 0;
          font-weight: bold;

          &::before {
            display: none;
          }
        }
      }

      &::before {
        display: none;
      }

      &::after {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        background-image: url('/assets/images/x_black.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        right: 20px;
        top: 17px;
        z-index: 30;
      }
    }
  }

  &__btn{
    background: rgba(235, 237, 242, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    width: 216px;
    padding: 20px;
    color: rgba(255,255,255,0.3);
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;

    p{
      margin-bottom: 0;
    }

    @media(max-width:1280px){
      width: 190px;
      padding: 15px;
    }

    @media(max-width:1280px){
      width: 170px;
      padding: 13px;
    }

    @media(max-width:930px){
      width: 150px;
      padding: 10px;
      font-size: 13px;
      line-height: 18px;
    }

    @media(max-width:780px){
      width: 120px;
      padding: 8px;
    }

    @media(max-width:640px){
      width: 109px;
      padding: 6px;
    }

    @media(max-width:500px){
      width: 139px;
      height: 103px;
      margin-right: 5px;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      padding: 15px;
      font-size: 16px;
      line-height: 20px;
      color: white;
    }

    &:hover{
      opacity: 1;
    }

    &--active{
      //background: linear-gradient(180deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0) 100%), #F2F4F8;
      background: #ebedf2;
      border: 1px solid rgba(21, 36, 56, 0.15);
      color: #929FAB;
      border-bottom-color:#ebedf2;

      @media(max-width:500px){
        background: white;
        color: #152438;
        border-bottom-color: rgba(21, 36, 56, 0.1);
      }
    }

  }

  &__count{
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 25px;
    line-height: 40px;

    @media(max-width:1100px){
      font-size: 19px;
      line-height: 30px;
    }

    @media(max-width:930px){
      font-size: 15px;
      line-height: 15px;
    }

    @media(max-width:640px){
      font-size: 12px;
      line-height: 12px;
      top: auto;
      right: 8px;
    }
    @media(max-width:600px){
      font-size: 11px;
      line-height: 14px;
      top: auto;
      right: 5px;
    }

    @media(max-width:500px){
      right: auto;
      font-size: 20px;
      line-height: 28px;
      font-weight: bold;
      position: relative;
    }

    &--all{
      color: #FF889B;
    }

    &--fatal{
      color: #FF889B;
    }

    &--critical{
      color: #FFB36D;
    }

    &--possible{
      color: #FCD770;
    }

    &--recommendation{
      color: #A7E889;
    }
  }
}

.search__select-btn:focus-within .search__select-btn-span{
  transform: rotate(180deg);
  background-image: url('../../../assets/images/icon-arrow-black.svg');
}

.search {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media(max-width: 960px){
    display: flex;
    flex-wrap: wrap;
    gap: 10px
  }

  &::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('../../../assets/images/icon-search-blue.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    left: 17px;
    top: 15px;
    z-index: 30;

    @media(max-width: 1100px){
      width: 20px;
      height: 20px;
      left: 15px;
      top: 16px;
    }
  }

  &__select-btn{
    font-size: 15px;
    line-height: 18px;
    color: #152438;
    border: none;
    background: white;
    cursor: pointer;
    position: relative;
    padding-right: 23px;
    width: 100%;
    text-align: left;

    @media (max-width: 500px){
      font-size: 16px;
      line-height: 20px;
    }

    &--dis{
      color:#929FAB;
    }

    &:hover, &:focus-within{
      opacity: 1;
    }
  }

  &__select-btn-span{
    content: "";
    width: 10px;
    height: 6px;
    position: absolute;
    right: 4px;
    top: 8px;
    background-image: url('../../../assets/images/icon-arrow-black.svg');;
    background-repeat: no-repeat;
    background-size: 10px 6px;
    background-position: center;

    &--dis{
      // todo: where is icon?
      //background-image: url('../../../assets/images/icon-arr-down.svg');
    }
  }

  &__hidden-options-wrapper{
    display: none;
    width: 280px;
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    left: -77px;
    top: 35px;
    z-index: 1000;
  }

  &__options-wrapper{
    max-height: 168px;
    overflow-y: auto;
    margin-bottom: 0;
  }

  &__option{
    font-size: 15px;
    line-height: 18px;
    color: #152438;
    margin-bottom: 10px;
  }

  &__option-input{
    opacity: 0;
    position: absolute;
  }

  &__option-label{
    position: relative;
    padding-left: 30px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #152438;


    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: #FFFFFF;
      border: 1px solid rgba(146, 159, 171, 0.4);
      box-sizing: border-box;
      border-radius: 3px;
      left: 0;
    }

  }

  &__btns-wrapper{
    text-align: end;
  }

  &__btn-cancel{
    padding: 10px 14px;
    border: 1px solid #00AFEC;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: uppercase;
    color: #00AFEC;
    background-color: white;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    margin-right: 15px;
    cursor: pointer;
  }

  &__btn-submit{
    border: none;
    padding: 10px 14px;
    background: #00AFEC;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
  }

  &__input{
    flex-grow: 0;
    margin-right: 40px;
    padding: 15px 15px 15px 54px;
    font-size: 15px;
    line-height: 18px;
    background: white;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    min-width: 316px;

    @media(max-width:1100px){
      padding: 14px 14px 14px 44px;
      font-size: 16px;
      line-height: 20px;
    }

    @media(max-width:1010px){
      margin-right: 10px;
    }

    &::placeholder{
      color: #929FAB;
    }

    @media(max-width:1280px){
      min-width: 300px;
    }

    @media(max-width:500px){
      margin-bottom: 0;
      margin-right: 0;
      width: 100%;
    }

  }

  &__wrapper{
    display: flex;
    align-items: center;
    flex-grow: 1;

    @media (max-width:650px) {
      flex-wrap: wrap;
      gap: 10px;
      align-items: flex-start;
      min-height: 450px;
      height: 100%;
    }
  }

  &__btn-block{
    padding: 14px 10px;
    background: white;
    box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
    margin: 0;
    color: #929FAB;
    font-size: 15px;
    line-height: 18px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;

    p{
      margin-bottom: 0;
    }
    @media(max-width:1100px){
      padding: 13px;
      font-size: 16px;
      line-height: 20px;
    }


    &:not(:last-child){
      margin-right: 5px;

      @media(max-width:500px){
        margin-right: 0;
      }

    }

  }

  &__btns{
    display: flex;
    @media (max-width: 500px){
      width: 100%;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-top: auto;
      button{
        margin: 0;
      }
    }
  }

  &__select{
    color: #929FAB;
    font-size: 15px;
    line-height: 18px;
    border: none;
    background: #F4F6FA;
    width: 53px;
    position: relative;
    display: flex;
    flex-grow: 1;
  }
}

.search__select:focus-within .search__hidden-options-wrapper{
  display: block;
}

.search__option-input:checked + .search__option-label::after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #00AFEC;
  box-sizing: border-box;
  border-radius: 3px;
  left: 0;
  top: 0;
  background-image: url('../../../assets/images/icon-done.svg');
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: center;
}
.lbeloz {
  position: relative;
  padding-left: 30px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #152438;
}
.test_labels {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #00AFEC;
  box-sizing: border-box;
  border-radius: 3px;
  left: 0;
  top: 0;
  background-image: url('../../../assets/images/icon-done.svg');
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: center;
}

.monitoring{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #152438;
  font-size: 18px;
  animation: show .5s 1;
  padding:78px 0 ;

  &__risks{
    display: flex;
    width: 100%;
    padding-top: 25px;

    a{
      font-size: 15px;
      line-height: 18px;
      color: #818B95;
      border-bottom: 1px dotted #818B95;
    }

    span{
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      color: #FFFFFF;
      padding: 4px 8px;
      background: #FF1037;
      border-radius: 15px;
      margin-left: 14px;
      margin-top: -4px;
    }

  }

  &__shadow{
    position: absolute;
    height: 19px;
    display: flex;
    width: 100%;
    top: -1px;
    z-index: 100;
    background: linear-gradient(180deg, #EBEDF2 0%, #EBEDF2 6.85%, rgba(235, 237, 242, 0) 100%);
  }

  &__card-wrapper{
    position: relative;
  }

  &__inwork{
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #A3ACC2;
    transform: rotate(-90deg);
    background: #DDE0E8;
    border-radius: 5px 5px 0 0;
    padding: 6px 14px;
    left: -56px;
    bottom: 31px;
    z-index: 2;
  }

  &--fatal{
    padding:0 0 24px 0 ;
    position: relative;
  }

  &__head{
    font-size: 25px;
    margin-bottom: 13px;
  }

  &__head-table{
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
    p{
      font-size: 15px;
      line-height: 20px;
      color: #818B95;
      margin-bottom: 10px;
    }

  }

  &__wrapper{
    width: 100%;
  }

  &__wrapper-double{
    margin-bottom: 20px;
  }
}

.chart{
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;

  @media (max-width:1100px) {
    padding-bottom: 40px;
  }
  @media (max-width:870px) {
    padding-bottom: 0;
    padding-top: 0;
  }
  @media (max-width:500px) {
    padding: 0;
  }

  &__table{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;

    @media (max-width:970px) {
      font-size: 13px;
      line-height: 20px;
    }

    @media (max-width:720px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media(max-width:500px){
      font-size: 13px;
      line-height: 18px;

      &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: #697180;
        bottom:-16px;
        left: 0;
      }
    }

    &--sum{
      text-align: right;
      font-weight: bold;
      color: white;

    }

    tr{
      height: 35px;
      @media (max-width:960px) {
        font-size: 13px;
        line-height: 18px;
      }
      @media (max-width:720px) {
        height: 42px;
      }
      @media (max-width:500px) {
        height: 30px;
        color: #8B99AC;
      }

    }
  }

  &__question{
    border-radius: 50%;
    border: 1px solid #697481;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 16px;

    &:hover{
      border: 1px solid #00AFEC;
      .widget__hidden {
        display: flex;
      }
    }

    @media (max-width:500px) {
      display: none;
    }
  }

  &__hidden{
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    position: absolute;
    top: 20px;
    right: 12px;
    z-index: 12;
    width: 120px;
    display: none;

    p {
      font-size: 13px;
      line-height: 15px;
      color: #152438;
    }
  }

  &__header-wrap{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__block-wrapper{
    height: 325px;
    overflow-y: hidden;

    @media(max-width:970px){
      height: 295px;
    }
    @media(max-width:720px){
      margin-bottom: 20px;
    }
    @media(max-width:500px){
      margin-bottom: 0;
      height: fit-content;
    }
  }

  &__block{
    width: 384px;
    background: rgba(70, 82, 98, 0.75);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 20px;
    position: relative;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 325px;
    overflow: hidden;

    &--main{
      position: relative;
      z-index: 1;
    }
    @media(max-width:1280px){
      width: 340px;
    }
    @media(max-width:1100px){
      width: 300px;
    }
    @media(max-width:970px){
      width: 250px;
      height: 295px;
    }
    @media(max-width:820px){
      width: 230px;
      min-width: 230px;
    }
    @media(max-width:720px){
      width: 100%;
      min-width: fit-content;
    }
    @media(max-width:500px){
      height: fit-content;
      border: none;
      border-radius: 0;
    }
  }

  &__name{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;

    @media (max-width:970px) {
      font-size: 15px;
      line-height: 19px;
    }

    @media(max-width:720px){
      font-size: 20px;
      line-height: 24px;
    }

    @media(max-width:500px){
      font-size: 13px;
      line-height: 18px;
    }

    &--main{
      margin-bottom: 16px;
    }
  }

  &__status{
    font-weight: 300;
    font-size: 40px;
    line-height: 120px;
    justify-content: center;
    display: flex;

    @media (max-width:970px) {
      font-size: 30px;
      line-height: 90px;
    }

    @media (max-width:500px) {
      font-size: 18px;
      line-height: 60px;
    }
  }


  &__header{
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 24px;
    font-weight: normal;
    position: relative;

    @media(max-width:1100px){
      font-size: 24px;
      line-height: 32px;
    }

    @media (max-width:500px) {
      background: rgba(70, 82, 98, 0.75);
      margin-bottom: 0 ;
      padding: 30px 20px 25px 20px;

      &:before{
        position: absolute;
        content: "";
        width: 89%;
        height: 1px;
        background: #697180;
        bottom: 4px;
        left: 20px;
      }
    }
  }
}

.chart-date__numbers {
  position: relative;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;

  @media(max-width:720px){
    margin-bottom: 25px;
  }
  @media(max-width:500px){
    margin-bottom: 0;

  }

  &:before {
    content: "";
    position: absolute;
    bottom: -23px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    left: 0;

    @media(max-width:500px){
      display: none;
    }
  }
}

.chart-date{

  &__charts{
    height: 130px;
  }

  &__wrapper{
    margin-bottom: 17px;
    position: relative;
    @media(max-width:500px){
      margin-bottom: 0;
      padding-right: 25px;
    }
  }

  &__row{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
  }


  &__numbers{
    display: flex;
    align-items:flex-start;
    position: relative;

    p{
      margin-bottom: 0;
    }

  }

  &__big-count{
    font-size: 60px;
    line-height: 56px;
    color: #FFFFFF;
    margin-right: 12px;

    &--yellow{
      font-weight: normal;
      font-size: 50px;
      line-height: 48px;
      color: #FCD770;
      margin-bottom: 15px;

      @media(max-width:1100px){
        font-size: 42px;
        line-height: 46px;
      }
      @media(max-width:1100px){
        font-size: 30px;
        line-height: 35px;
      }
      @media(max-width:500px){
        position: absolute;
        right: 0;
        top: -42px;
        font-size: 20px;
        line-height: 20px;
        margin-right: 0;
        margin-bottom: 20px;
      }

    }

    &--orange{
      font-weight: normal;
      font-size: 50px;
      line-height: 48px;
      color: #FFB36D;
      margin-bottom: 15px;

      @media(max-width:1100px){
        font-size: 42px;
        line-height: 46px;
      }
      @media(max-width:1100px){
        font-size: 30px;
        line-height: 35px;
      }
      @media(max-width:500px){
        position: absolute;
        right: 0;
        top: -42px;
        font-size: 20px;
        line-height: 20px;
        margin-right: 0;
        margin-bottom: 20px;
      }

    }

    &--green{
      font-weight: normal;
      font-size: 50px;
      line-height: 48px;
      color: #A7E88A;
      margin-bottom: 15px;

      @media(max-width:1100px){
        font-size: 42px;
        line-height: 46px;
      }
      @media(max-width:1100px){
        font-size: 30px;
        line-height: 35px;
      }
      @media(max-width:500px){
        position: absolute;
        right: 0;
        top: -42px;
        font-size: 20px;
        line-height: 20px;
        margin-right: 0;
        margin-bottom: 20px;
      }

    }

    &--red{
      color: #FF889B;

      @media(max-width:1100px){
        font-size: 42px;
        line-height: 46px;
      }
      @media(max-width:1100px){
        font-size: 30px;
        line-height: 35px;
      }
      @media(max-width:500px){
        position: absolute;
        right: 0;
        top: -42px;
        font-size: 20px;
        line-height: 20px;
        margin-right: 0;
        margin-bottom: 20px;
      }

    }
  }

  &__big-count-text{
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

    &--align{
      align-self:flex-end;
      width: 105px;
      margin-right: 16px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__addition{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 22px;
    align-self:flex-end;

    &--yellow{
      color: #FCD770;
    }

    &--green{
      color: #A7E889;
    }
  }
}

.row{
  &__color{
    width: 31%;
    display: flex;
    justify-content: flex-end;


    &--chart{
      height: 10px;
      width: 100%;
      background: #A7E889;


      &--red{
        background: #FF889B;
      }

      &--orange{
        background: #FFB36D;
      }

      &--yellow{
        background: #FCD770;
      }

      &--gray{
        background:#B6C4D0;}

      &--blue{
        background:#8CD5FE
      }

      &--purple{
        background: #CAB1FF;
      }

      &--lemon{
        background: #FFE8BB;
      }
    }
  }

  &__number{
    width: 15%;
    margin-bottom: 0;
    text-align: center;
    font-size: 13px;
    line-height: 18px;

    &--red{
      color: #FF889B;
    }

    &--orange{
      color: #FFB36D;
    }

    &--yellow{
      color: #FCD770;
    }

    &--gray{
      color:#B6C4D0;
    }

    &--green{
      color:#A7E889;
    }

    &--blue{
      color:#8CD5FE
    }

    &--purple{
      color: #CAB1FF;
    }

    &--lemon{
      color: #FFE8BB;
    }
  }

  &__text{
    width: 55%;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
}


.chart-date__results{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-top: 15px;

  @media(max-width:1100px){
    font-size: 15px;
    line-height: 20px;
  }
  @media(max-width:1100px){
    font-size: 12px;
    line-height: 15px;
  }
  @media(max-width:720px){
    font-size: 15px;
    line-height: 20px;
  }

  @media(max-width:500px){
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  &--regions{
    font-weight: normal;
    color: #FFFFFF;
    opacity: 0.4;
  }
}

.btn--request-small{
  font-size: 13px;
  line-height: 18px;
  padding: 10px 14px;
}

.btn-clean{
  border: 1px solid #00AFEC;
  background: none;
  color: #00AFEC;
}

.btn-search{
  color: #FFFFFF;
  background: #00AFEC;
  border: 1px solid #00AFEC;
  margin-right: 10px;
}

.search__btn{
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding: 14px 20px;

  @media(max-width:1100px){
    font-size: 15px;
    line-height: 18px;
    padding: 10px 15px;
  }
}

.courts{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #152438;
  font-size: 18px;
  animation: show 0.5s 1;

  padding-top: 40px;
  padding-bottom: 5px;
}

.search__wrapper-btns-blocks{
  margin-right: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  @media(max-width:1010px){
    margin-right: 10px;
  }

  @media(max-width:500px){
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-right: 0;
  }

}

.search__hidden-options-wrapper{
  padding-bottom: 0;
  padding-right: 0;

  @media(max-width:540px){
    left: -85px;
    margin-top: 2px;
  }

}

.containers-wrapper{
  display: flex;
  background:#ebedf2;
  flex-direction: column;
  margin-top: -2px;
  padding-bottom: 45px;
  @media(max-width:500px){
    margin-top: 0;
  }

  &--light-gray{
    background:linear-gradient(#F4F6FA 0px, #F4F6FA 57px, white 57px, white 100%);
    @media(max-width:540px){
      background: white;
    }

    @media(max-width:500px){
      background: #ebedf2;
      margin-top: 0;
    }
  }

  &--white{
    background: white;
  }
}


.section-position{
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.table-gr{
  width: 100%;
  font-family: 'Roboto',sans-serif;
  border-collapse: collapse;
  z-index: 3;
  position: relative;

  @media (max-width: 650px) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__head{
    height: 57px;
    @media (max-width:650px) {
      display: flex;
      width: 100%;
      align-items: center;
    }

    @media (max-width:540px) {
      display: none;
    }

    th{
      text-align: left;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: #818B95;
      padding: 0 10px;

      @media (max-width:650px) {
        flex-grow: 1;
      }
    }
  }

  &__row{
    cursor: pointer;
    @media (max-width:650px) {
      display: flex;
      width: 100%;
    }

    @media (max-width:540px) {
      flex-wrap: wrap;
      position: relative;
    }

    @media (max-width:500px) {
      background: #FFFFFF;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    td{
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: #152438;
      padding: 20px 10px;
      max-width: 263px;
      border-bottom: 1px solid #DFE1E7;
      height: 35px;

      @media (max-width:730px) {
        font-size: 12px;
        line-height: 19px;
      }

      @media (max-width:650px) {
        flex-grow: 1;
        height: auto;
        max-width: 100px;
        min-width: 100px;
      }

      @media (max-width:540px) {
        padding: 10px 20px;
        &:first-of-type{
          min-width: 140px;
          max-width: 140px;
        }

        &:last-of-type{
          border-bottom: none;
          position: absolute;
          font-size: 13px;
          line-height: 18px;
          top: 25px;
        }

      }

      @media (max-width:500px) {
        font-size: 18px;
        line-height: 24px;
        border: none;
        min-width: 0;
        max-width: none;


        &:first-of-type{
          position: relative;
          font-size: 13px;
          line-height: 18px;
          text-align: right;
          margin-left: auto;
          max-width: 58%;
          padding-top: 25px;
          padding-bottom: 7px;
        }

        &:last-of-type{
          padding: 15px 10px 10px;
          width: 40%;
          top: 10px;
          left: 8px;
        }
      }
    }
  }
}

.table-gr__row .table-gr__bold{
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 193px;
  @media (max-width:500px) {
    font-size: 16px;
    line-height: 20px;
  }

}
.table-gr__row .table-gr__main-text{
  @media (max-width:500px) {
    width: 100%;
    padding-bottom: 0;
  }
}
.table-gr__row .table-gr__city{
  @media (max-width:500px) {
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #929FAB;
    padding-bottom: 20px;
  }
}


.table-gr__row .table-gr__state{
  padding: 6px 10px;
  border-radius: 3px;
  background: #EDEFF4;
  color: #152438;
  height: fit-content;

  @media (max-width:540px) {
    white-space: nowrap;
    padding: 8px 10px;
  }

  &--yellow{
    background: #FFE395;
  }

  &--green{
    background: #BEF2C5;
  }

  &--blue{
    background: #CFE2FF;
  }

  &--dark-gray{
    background: #E7E7E7;
  }

  &--white{
    background: #FFFFFF;
  }
}

.pagination{
  padding: 30px 0;
  display: flex;
  width: 100%;

  @media (max-width: 500px){
    padding: 0;
  }

}

.section-position--mobile{
  @media(max-width:500px){
    padding: 0;
  }
}

.section-position--gradient{
  @media(max-width:500px){
    padding: 0;
    position: relative;
  }
}


.mobile{
  display: none;

  @media (max-width:500px){
    display: block;
    position: relative;
    top: 0;
    padding-right: 24px;

    &::before {
      background-image: url('/assets/icons/arrow-icon-white.svg');
      position: absolute;
      content: "";
      width: 10px;
      height: 9px;
      background-repeat: no-repeat;
      background-size: 100%;
      right: 0;
      top: 8px;
    }
  }

}

.mobile--rotate::before{
  transform: rotate(180deg);
  top: 2px;
  background-image: url('/assets/icons/arrow-icon-white.svg');
  position: absolute;
  content: "";
  width: 10px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: 100%;
  right: 0;
}

//.chart__block-wrapper:focus-within .chart-date__wrapper{
//  display: block;
//}
//.chart__block-wrapper:focus-within .mobile::before{
//  transform: rotate(180deg);
//  top: 2px;
//}
//
//.chart__block-wrapper:focus-within .chart-date__wrapper::after{
//    position: absolute;
//    content: "";
//    width: 100%;
//    height: 1px;
//    background: #697180;
//    bottom:-20px;
//    left: 0;
//}

.not-mobile{
  @media (max-width:500px) {
    display: none;
  }
}

.overlay {
  display: none;
  @media (max-width:500px) {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
    background: none;
  }

}
.search-style{
  z-index: 2;
  border-top: 1px solid $g__outline_color;
  background-color: #ebedf2;

  &--filter {
    @media (max-width: 767px) {
      padding-top: 20px;
    }
  }
}
:host ::ng-deep {
  .spinner-full {
    margin-bottom: 23px;
    & img {
      width: 23px;
      height: 23px;
    }
  }
}

.filter-text-result {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 0 10px;

  &--nothing {
    text-align: center;
    margin: 30px auto 50px;
  }

  @media(max-width: 793px) {
    padding: 0 20px 20px;

    &--nothing {
      padding: 0;
      margin-top: 60px;
      margin-bottom: 0;
    }
  }

  @media(max-width: 768px) {
    &--nothing {
      margin-top: 20px;
    }
  }
}

.show-all-link {
  margin-left: 5px;
  color: $g__link_color;
  border-bottom: 1px dotted $g__link_color;
}

.debtor-block {
  width: calc(100% + 87px);

  @media (max-width: 540px) {
    width: calc(100% + 96px);
  }
}

.filter-block {
  left: -65px;
  width: calc(100% + 74px);

  @media (max-width: 540px) {
    left: -70px;
    width: calc(100% + 83px);
  }
}

.chart__question:hover .chart__hidden{
  display: flex;
}
