<app-index-widget
  [totalWidget]="totalWidget"
  [inProcessWidget]="inProcessWidget"
  [exactWidget]="exactWidget"
  [isLoadingWidgets]="isLoadingWidgets"
>
</app-index-widget>
<!--todo new component-->
<section class="section-position section-position--gradient">
      <span class="control__mobile" [class.control__mobile--active]="showMobileControl===true"
            (click)="showMobileControl=!showMobileControl; makeBodyHidden()">
        <p>Поиск по делам</p>
      </span>
  <div *ngIf="showMobileControl===true" (click)="showMobileControl=false;makeBodyHidden()" class="overlay"></div>
  <div tabindex="0" class="container control">

    <div *ngIf="stages" class="control__wrapper">
      <button class="control__btn " (click)="all=!all; toCheckAll(); "
              [class.control__btn--active]="all"><p>Все</p><span class="control__count"
                                                                 [class.control__count--white]="!noObjects"
                                                                 [class.control__count--all]="all && !noObjects">{{noObjects ? 0 : totalCount}}</span>
      </button>
      <button [disabled]="stages?.claims === 0" class="control__btn "
              (click)="claims=!claims; toCheckClaims('claims'); noObjects=false"
              [class.control__btn--active]="claims"><p>Претензии</p><span class="control__count"
                                                                          [class.control__count--white]="!noObjects"
                                                                          [class.control__count--fatal]="claims && !noObjects">{{stages.claims}}</span>
      </button>
      <button [disabled]="stages?.tribunal === 0" class="control__btn "
              (click)="courts=!courts;toCheckCourts('tribunal')"
              [class.control__btn--active]="courts"><p>Суды</p><span class="control__count"
                                                                     [class.control__count--white]="!noObjects"
                                                                     [class.control__count--critical]="courts && !noObjects">{{stages.tribunal}}</span>
      </button>
      <button [disabled]="stages?.penalty === 0" class="control__btn "
              (click)="penalties=!penalties; toCheckPenalties('penalty')"
              [class.control__btn--active]="penalties"><p>Взыскания</p><span class="control__count"
                                                                             [class.control__count--white]="!noObjects"
                                                                             [class.control__count--possible]="penalties && !noObjects">{{stages.penalty}}</span>
      </button>
      <button [disabled]="stages.completed === 0" class="control__btn"
              (click)="finished=!finished; toCheckFinished('completed') "
              [class.control__btn--active]="finished"><p>Завершено</p><span class="control__count"
                                                                            [class.control__count--white]="!noObjects"
                                                                            [class.control__count--recommendation]="finished && !noObjects">{{stages.completed}}</span>
      </button>
    </div>
  </div>
  <div class="containers-wrapper">
    <div class="container container--gray" *ngIf="showMobileControl===true">
      <div *ngIf="noObjects" class="courts">
        <img src="/assets/images/money-bag1.svg" alt="" width="80" style="margin-bottom: 17px;"/>
        <p class="monitoring__head">У вас пока нет дел</p>
        <button class="btn--request btn--request-small">Взыскать долг</button>
      </div>

      <div *ngIf="!noObjects">
        <form class="search">
          <input class="search__input"
                 [(ngModel)]="searchQuery"
                 [ngModelOptions]="{standalone: true}"
                 (ngModelChange)="filterByText()"
                 placeholder="Поиск по делам"/>
          <div class="search__wrapper">
            <div class="search__wrapper-btns-blocks">
              <div class="search__btn-block">
                <p class="search__label">Должник:</p>
                <div class="search__select">
                  <button class="search__select-btn"
                          [class.search__select-btn--bold]="getCountCheckedObjects(debtorSelect)>0"
                          [attr.disabled]="(noObjects || tasks?.length === 0) && searchQuery.length === 0 && debtorsParam.length === 0 && stagesParam.length === 0 && regionsParam.length === 0 ? true : null"
                          [class.search__select-btn--dis]="(noObjects || tasks?.length === 0) && searchQuery.length === 0 && debtorsParam.length === 0 && stagesParam.length === 0 && regionsParam.length === 0">
                    {{ getCountCheckedObjects(debtorSelect) === 0 ? 'Все' : getCountCheckedObjects(debtorSelect)}}
                    <span class="search__select-btn-span" [class.search__select-btn-span--dis]="(noObjects || tasks?.length === 0) && searchQuery.length === 0 && debtorsParam.length === 0 && stagesParam.length === 0 && regionsParam.length === 0"></span>

                    <div class="search__hidden-options-wrapper debtor-block">
                      <div class="search__options-wrapper">

                        <div *ngFor="let option of debtorSelect" class="search__option">
                          <input class="search__option-input" type="checkbox" name="{{option.value}}" id="{{option.debtorId}}"
                                 [(ngModel)]="option.checked"
                                 (ngModelChange)="filterByDebtor(option)"
                          >
                          <label class="search__option-label" for="{{option.debtorId}}">{{option.value}}</label>
                        </div>

                      </div>

<!--                      <div class="search__btns-wrapper">-->
<!--                        <button type="button" class="search__btn-cancel" (click)="cleanCheckedObj(typeOfObjects)">-->
<!--                          Отмена-->
<!--                        </button>-->
<!--                        <button type="submit" class="search__btn-submit">Выбрать</button>-->
<!--                      </div>-->
                    </div>
                  </button>

                </div>
              </div>

              <div class="search__btn-block">
                <p class="search__label">Регион:</p>
                <div class="search__select">
                  <button class="search__select-btn"
                          [class.search__select-btn--bold]="getCountCheckedObjects(regionsSelect)>0"
                          [attr.disabled]="(noObjects || tasks?.length === 0) && searchQuery.length === 0 && debtorsParam.length === 0 && stagesParam.length === 0 && regionsParam.length === 0 ? true : null"
                          [class.search__select-btn--dis]="(noObjects || tasks?.length === 0) && searchQuery.length === 0 && debtorsParam.length === 0 && stagesParam.length === 0 && regionsParam.length === 0">
                    {{ getCountCheckedObjects(regionsSelect) === 0 ? 'Все' : getCountCheckedObjects(regionsSelect)}}
                    <span class="search__select-btn-span" [class.search__select-btn-span--dis]="(noObjects || tasks?.length === 0) && searchQuery.length === 0 && debtorsParam.length === 0 && stagesParam.length === 0 && regionsParam.length === 0"></span>


                    <div class="search__hidden-options-wrapper filter-block">
                      <div class="search__options-wrapper">

                        <div *ngFor="let option of regionsSelect" class="search__option">
                          <input class="search__option-input" type="checkbox" name="{{option.value}}" id="{{option.regionId}}"
                                 [(ngModel)]="option.checked"
                                 (ngModelChange)="filterByRegion(option)"
                          >
                          <label class="search__option-label" for="{{option.regionId}}">{{option.value}}</label>
                        </div>

                      </div>

<!--                      <div class="search__btns-wrapper">-->
<!--                        <button type="button" class="search__btn-cancel" (click)="cleanCheckedObj(typeOfObjects)">-->
<!--                          Отмена-->
<!--                        </button>-->
<!--                        <button type="submit" class="search__btn-submit">Выбрать</button>-->
<!--                      </div>-->
                    </div>
                  </button>

                </div>
              </div>

              <div *ngIf="all" class="search__btn-block">
                <p class="search__label">Стадия:</p>
                <div class="search__select">
                  <button class="search__select-btn"
                          [class.search__select-btn--bold]="getCountCheckedObjects(stagesSelect)>0"
                          [attr.disabled]="(noObjects || tasks?.length === 0) && searchQuery.length === 0 && debtorsParam.length === 0 && stagesParam.length === 0 && regionsParam.length === 0 ? true : null"
                          [class.search__select-btn--dis]="(noObjects || tasks?.length === 0) && searchQuery.length === 0 && debtorsParam.length === 0 && stagesParam.length === 0 && regionsParam.length === 0">
                    {{ getCountCheckedObjects(stagesSelect) === 0 ? 'Все' : getCountCheckedObjects(stagesSelect)}}
                    <span class="search__select-btn-span" [class.search__select-btn-span--dis]="(noObjects || tasks?.length === 0) && searchQuery.length === 0 && debtorsParam.length === 0 && stagesParam.length === 0 && regionsParam.length === 0"></span>


                    <div class="search__hidden-options-wrapper filter-block">
                      <div class="search__options-wrapper">

                        <div *ngFor="let option of stagesSelect" class="search__option">
                          <input class="search__option-input" type="checkbox" name="{{option.value}}" id="{{option.stageId}}"
                                 [(ngModel)]="option.checked"
                                 (ngModelChange)="filterByStage(option)"
                          >
                          <label class="search__option-label" for="{{option.stageId}}">{{option.name}}</label>
                        </div>

                      </div>

<!--                      <div class="search__btns-wrapper">-->
<!--                        <button type="button" class="search__btn-cancel" (click)="cleanCheckedObj(objectsSelect)">-->
<!--                          Отмена-->
<!--                        </button>-->
<!--                        <button type="submit" class="search__btn-submit">Выбрать</button>-->
<!--                      </div>-->
                    </div>
                  </button>

                </div>
              </div>

            </div>

            <div class="search__btns">
              <button (click)="getTasks(this.caseStage)" class="search__btn btn-search">Найти</button>
              <button (click)="clearAllFilters()" class="search__btn btn-clean">Очистить</button>
            </div>

          </div>
        </form>
      </div>


    </div>
  </div>
  <div *ngIf="!isLoadingTasks; else loader"
       class="containers-wrapper"
       [class.containers-wrapper--light-gray]="!noObjects && tasks?.length">
    <div class="container"
         [class.container--light-gray]="!noObjects && tasks?.length">
      <div *ngIf="!noObjects && tasks?.length; else noTasks" class="container__mobile">

        <table class="table-gr">
          <tr class="table-gr__head">
            <th>Должник</th>
            <th>Предмет</th>
            <th>Сумма</th>
            <th>Номер дела</th>
            <th>Регион</th>
            <th>Стадия</th>
          </tr>
          <tr class="table-gr__row" *ngFor="let task of tasks index as i" (click)="sendDraft(task.ID, task.caseType)">
            <td
              class="table-gr__bold">{{getLabelDefendant(task)}}</td>
            <td class="table-gr__main-text">{{getLabelReason(task)}}</td>
            <td class="table-gr__bold">{{task.sum}}</td>
            <td class="table-gr__main-text">{{task.number}}</td>
            <td class="table-gr__city">{{getLabelRegion(task)}}</td>
            <td><a class="table-gr__state"
                   [ngClass]="{
                      'table-gr__state--yellow':  task.caseStage === 'Претензия',
                      'table-gr__state--green':  task.caseStage === 'Взыскание',
                      'table-gr__state--blue':  task.caseStage === 'Суд',
                      'table-gr__state--dark-gray':  task.caseStage === 'Завершено',
                      'table-gr__state--white':  task.caseStage === 'Черновик'
                   }"
            >{{task.caseStage}}</a></td>
          </tr>
        </table>

        <div style="margin-top: 20px; margin-bottom: 60px">
          <app-pagination-debit
            [page]="pages"
            [currentPageNumber]="pages"
            [totalCount]="paginationTotalCount"
            [itemPerPage]="10"
            (eventChangePage)="changePage($event, caseStage)"
          ></app-pagination-debit>
        </div>

<!--        <div *ngIf="!showDynamicPagination" style="margin-top: 20px">-->
<!--          <app-pagination-debit-->
<!--            [page]="pages"-->
<!--            [currentPageNumber]="pages"-->
<!--            [totalCount]="paginationTotalCount"-->
<!--            [itemPerPage]="10"-->
<!--            (eventChangePage)="changePage($event)"-->
<!--          ></app-pagination-debit>-->
<!--        </div>-->
<!--        <div *ngIf="showDynamicPagination" style="margin-top: 20px">-->
<!--          <app-pagination-debit-->
<!--            [page]="pages"-->
<!--            [currentPageNumber]="pages"-->
<!--            [totalCount]="filteredCount"-->
<!--            [itemPerPage]="10"-->
<!--            (eventChangePage)="changePage($event)"-->
<!--          ></app-pagination-debit>-->
<!--        </div>-->
      </div>
      <ng-template #noTasks>
        <div *ngIf="searchQuery.length || debtorsParam.length || stagesParam.length || regionsParam.length"
             class="filter-text-result filter-text-result--nothing">
          Не найдены объекты, соответствующие запросу.<br>
          Попробуйте изменить поиск<br>
          <a class="show-all-link" (click)="clearAllFilters()">Показать все</a>
        </div>
        <div *ngIf="searchQuery.length === 0 && debtorsParam.length === 0 && stagesParam.length === 0 && regionsParam.length === 0"
             class="filter-text-result filter-text-result--nothing">
          Вы еще не создали ни одной претензии.<br>
          <a class="show-all-link" routerLink="/request-claim">Создать претензию</a>
        </div>
      </ng-template>
    </div>
  </div>

</section>

<ng-template #loader>
  <div class="search-style search-style--filter">
    <app-spinner style="height: 300px" class="spinner-full"></app-spinner>
  </div>
</ng-template>

<app-expert></app-expert>
