@import 'variables';

.paragraph_header {
  display: flex;
}

.promo_text {
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  color: $g__link_color;

  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.promo_input {
  top: 564px;
  left: 699px;
  width: 220px;
  height: 50px;
  padding: 13px 20px;
  border-radius: 5px;
  margin-right: 10px;
  background: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-shadow: 0px 2px 4px rgba(21, 36, 56, 0.1);

  @media (max-width: 768px) {
    width: 100%;
    height: 50px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.btn-blue_promo {
  top: 564px;
  left: 929px;
  width: 137px;
  height: 50px;
  cursor: pointer;
  padding: 13px 20px;
  border-radius: 5px;
  background: #FFFFFF;
  box-sizing: border-box;
  color: $g__btn_attr_text_color;
  border: 1px solid $g__btn_attr_border_color;

  @media (max-width: 768px) {
    width: 100%;
    height: 50px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.btn-blue_promo::placeholder {
  margin: 0 10px;
  font-size: 16px;
  color: #929FAB;
  line-height: 20px;
}
.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.success_paragraph {
  font-size: 18px;
  color: #152438;
  line-height: 24px;
  text-align: right;
}
