@import 'variables';

::-webkit-scrollbar-button {
  background-repeat:no-repeat;
  width:5px;
  height:0
}

::-webkit-scrollbar-track {
  background: $g__outline_color;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  background: $g__text_color_primary;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
  background:rgba(21,36,56, 0.7);
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-resizer{
  background-repeat:no-repeat;
  width:8px;
  height:0
}

button:hover, a:hover{
  opacity: 0.7;
}

.quarter {
  position: relative;
  display: flex;
  height: 128px;
  margin-top: -10px;
  margin-left: auto;
  width: 94%;

  @media(max-width: 793px) {
    width: 90%;
    margin-top: -15px;
    margin-right: -7px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 32%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #697481;
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 64%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #697481;
    opacity: 0.3;
  }
}

.quarter__count {
  position: absolute;
  height: 100%;

  & li {
    position: absolute;
    width: 15px;
    left: -22px;
    font-size: 13px;
    line-height: 20px;
    color: $g__text_color_secondary;
    text-align: right;

    &:first-of-type {
      top: 20%;
    }

    &:nth-child(2) {
      top: 53%;
    }

    &:last-of-type {
      top: 84%;
    }
  }
}

.quarter__item {
  position: relative;
  width: 25%;
  border-right: 1px solid #687483;

  &::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #697481;
    opacity: 0.3;
  }

  &:nth-child(odd) {
    background: rgba(79, 91, 106, 0.6);
  }

  &:first-of-type {
    border-left: 1px solid #687483;
  }

  & span {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-top: 7px;
    font-size: 13px;
    line-height: 18px;
    color: $g__text_color_secondary;
    text-align: center;
    background-color: transparent;
    z-index: 3;

    & span {
      position: relative;
      z-index: 4;
    }

    @media(max-width: 793px) {
      background-color: #4E5A6B;
    }
  }
}

.quarter__chart-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-left: 10px;
  padding-right: 10px;
}

.quarter__chart-item {
  position: relative;
  width: 10px;
  z-index: 2;
  background: $g__text_color_secondary;

  &--yellow {
    background-color: #FCD871;
  }

  &--green {
    background-color: #A7E88A;
  }

  &--red {
    background-color: #FF889B;
  }
}

.section-position {
  &--controls {
    @media(max-width: 1120px) {
      padding-bottom: 50px;
    }
  }

  &--gradient-monitoring-column {
    background: $header__dark_background;
    flex-direction: column;

    &::-webkit-scrollbar {
      display: none;
    }

    @media(max-width: 1120px) {
      background: $header__dark_background;
    }
  }
}

.search {
  margin-bottom: 20px;

  @media(max-width: 793px) {
    display: none;
  }
}

.control__mobile--not-active {
  position: relative;
  bottom: 40px;
  background: none;
}

.control__mobile p {
  top: 65px;

  @media(max-width: 768px) {
    top: 21px;
  }
}

.control__mobile--active {
  @media(max-width: 793px) {
    top: 0;
    width: 100%;
    left: 0;

    p {
      top: 0;
      left: 6px;
    }
  }
}

.control__mobile-close {
  position: fixed;
  top: 13px;
  right: 22px;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: block;
  z-index: 1001;

  &::before, &::after {
    position: absolute;
    content: '';
    height: 24px;
    width: 2px;
    top: 0;
    background-color: $g__text_color_primary;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.search__btns-wrapper {
  display: none;

  @media(max-width: 793px) {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 0;
    display: flex;
  }
}

.search.mobile {
  position: fixed;
  top: 50px;
  display: block;
  z-index: 1000;
  height: 100%;
  width: 100%;
  right: 0;

  & .search__wrapper {
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }

  & .search__btn-block {
    margin-right: 0;
    margin-bottom: 10px;
  }

  & .search__input {
    margin-bottom: 0;
    max-width: 100%;
    box-shadow: none;
  }

  & .search__btns {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 20px;
    justify-content: space-between;
  }

  & .btn-clean {
    order: 1;
    border: 1px solid $g__btn_primary_background;
    color: $g__btn_primary_background;
  }

  & .btn-search {
    order: 2;
    margin: 0;
  }
}

.search-style{
  display: flex;
  background: $g__body_background;
  flex-direction: column;
  margin-top: -1px;

  @media(max-width: 793px) {
    position: relative;
    margin-top: 0;
  }
}


@keyframes show{
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.container{
  &--search{
    background: $header__light_background;
    padding: 40px 10px 55px;
    position: relative;
  }
}

.search__btn-block {
  //overflow: hidden;
  white-space: nowrap;
}

.search__label{
  margin-bottom: 0;
  text-overflow: ellipsis;
}

.head-table{
  &__first{
    width: 37%;
  }

  &__second{
    width: 32%;
    padding-left: 41px;
    position: relative;

    &:before{
      position: absolute;
      content: "";
      width: 1px;
      height: 20px;
      left:0;
      top: 0;
      background: #CCCFD6;
    }
  }

  &__third{
    width: 34%;
    padding-left: 18px;
    position: relative;

    &:before{
      position: absolute;
      content: "";
      width: 1px;
      height: 20px;
      left:0;
      top: 0;
      background: #CCCFD6;
    }
  }

  &__fourth{
    width: 9%;
    text-align: end
  }

}

.monitoring-card {
  display: flex;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
  z-index: 10;
  position: relative;

  @media(max-width: 1120px) {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 10px;
  }

  &__block {
    width: 260px;
    min-width: 220px;
    margin-right: 20px;

    @media(max-width: 1120px) {
      padding-top: 5px;
      padding-bottom: 5px;
      width: auto;
      min-width: auto;
      grid-row: 3/4;
      grid-column: 2/3;
      margin-right: 0;
    }
  }

  &__btn-wrapper {
    width: 140px;
    text-align: right;

    @media(max-width: 1120px) {
      grid-column: 1/3;
      width: 100%;
      margin-top: 10px;
      text-align: left;
    }
  }

  &__notice-wrapper {
    width: 360px;
    padding-left: 40px;

    @media(max-width: 1120px) {
      width: auto;
      padding-left: 40px;
      grid-row: 1/2;
      grid-column: 1/3;
    }
  }

  &__description-wrapper {
    width: 306px;

    @media(max-width: 1120px) {
      width: auto;
      grid-row: 2/3;
      grid-column: 1/3;
      margin-bottom: 10px;
      border-bottom: 1px solid $g__outline_color;
    }
  }

  &__description {
    position: relative;
    padding-left: 12px;

    @media(max-width: 1120px) {
      padding-left: 40px;
      margin-bottom: 10px;
    }

    @media(max-width: 1120px) {
      font-size: 13px;
      line-height: 18px;
    }

    &:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 68px;
      background: #EBEDF2;
      left: -9px;

      @media(max-width: 1120px) {
        display: none;
      }
    }
  }

  &__btn {
    padding: 10px 26px 10px 11px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    position: relative;
    cursor: pointer;

    @media(max-width: 1120px) {
      width: 100%;
      padding: 11px;
      font-size: 13px;
      line-height: 18px;
      color: $g__link_color;
      border: 1px solid $g__link_color;
    }

    &:before {
      background-image: url('../../../assets/images/icon-arrow-blue-right.svg');
      position: absolute;
      content: "";
      width: 8px;
      height: 14px;
      background-repeat: no-repeat;
      background-size: 100%;
      right: 12px;
      top: 14px;

      @media(max-width: 767px) {
        display: none;
      }
    }
  }

  &__img-wrapper {
    width: 90px;
    min-width: 90px;
    height: 68px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 1120px) {
      grid-row: 3/4;
      grid-column: 1/2;
      margin-right: 0;
    }
  }

  &__item {
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
    margin-bottom: 6px;

    @media(max-width: 767px) {
      font-size: 13px;
      line-height: 18px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    width: 100%;

    @media(max-width: 767px) {
      font-size: 13px;
      line-height: 18px;
    }
  }

  &__notice {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_primary;
    position: relative;
    margin-bottom: 3px;

    @media(max-width: 1120px) {
      white-space: normal;
      margin-bottom: 5px;
      font-size: 16px;
    }

    &:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 68px;
      background: #EBEDF2;
      left: -42px;

      @media(max-width: 1120px) {
        display: none;
      }
    }
  }

  &__date {
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
    position: relative;

    @media(max-width: 1120px) {
      display: none;
    }
  }

  &__lamp {
    position: absolute;
    width: 12px;
    height: 12px;
    background: $g__alert_color;
    border-radius: 50%;
    transform: translate(-27px, 5px);

    &--orange {
      background: #FF8310;
      width: 10px;
      height: 10px;
    }

    &--yellow {
      background: #FCD770;
      width: 8px;
      height: 8px;
    }

    &--green {
      background: #A7E889;
      width: 8px;
      height: 8px;
    }
  }
}

.control{
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;

  @media(max-width: 1120px) {
    overflow-x: auto;
    margin-bottom: 0;
    width: max-content;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    background: rgba(235, 237, 242, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    width: 216px;
    padding: 19px 20px;
    color: #FFF;
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    outline: none;

    &:last-of-type {
      margin-right: 0;
    }

    @media(max-width: 1120px) {
      margin-right: 5px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    @media(max-width: 1120px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
      padding: 15px 10px;
      width: 150px;
      color: $g__text_color_primary;
      background: #FFF !important;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;
    }

    &:hover{
      opacity: 1;
    }
     &--has{
       color: white;

       @media(max-width: 1120px) {
         color: $g__text_color_primary;
       }
     }

    &--active{
      background: $g__body_background;
      border: 1px solid $g__outline_color;
      color: $g__text_color_secondary;
      border-bottom-color: $g__body_background;

      @media(max-width: 1120px) {
        color: $g__text_color_primary;
        background-color: #EBEDF2 !important;
      }
    }

  }

  &__count{
    position: static;
    margin-left: 10px;
    font-size: 25px;
    line-height: 1;

    @media(max-width: 1120px) {
      font-size: 20px;
      line-height: 28px;
    }

    @media(max-width: 1120px) {
      //position: static;
      margin-left: 0;
      color: $g__text_color_primary;
      font-size: 20px;
      line-height: 28px;
    }

    &--critical{
      color: #FF889B;
    }

    &--high{
      color: #FFB36D;
    }

    &--possible{
      color: #FCD770;
    }

    &--recommendation{
      color: #A7E889;
    }
  }
}

//.overlay{
//  background: none;
//  max-height: 593px;
//  position: absolute;
//  width: 100%;
//  top: 147px;
//}

.overlay--search{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3d5779;
  opacity: 0.4;
  z-index: 999;

  @media (max-width: 793px) {
    display: block;
  }
}

.search__select-btn:focus-within .search__select-btn-span{
  transform: rotate(180deg);
  background-image: url('../../../assets/images/icon-arr-down-active.svg');
}

.search__input-wrap {
  position: relative;
  width: 100%;
  flex-grow: 1;
  margin-right: 5px;

  & svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    z-index: 2;
    stroke: $g__link_color;
  }

  @media (max-width: 500px) {
    width: 100%;
    max-width: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.search {
  &::before {
    display: none;
  }

  &__input {
    max-width: none;
  }

  &__select-btn{
      font-size: 15px;
      line-height: 18px;
      color: $g__text_color_primary;
      border: none;
      background: #FFF;
      cursor: pointer;
      position: static;
      padding-right: 23px;
      height: 20px;

      &--dis{
        color:$g__text_color_secondary;
      }

      &:hover, &:focus-within{
        opacity: 1;
      }

      &:hover{
        cursor: auto;
      }
    }

  &__select-btn-span{
    content: "";
    width: 10px;
    height: 6px;
    background-image: url('../../../assets/images/icon-arr-down-active.svg');
    background-repeat: no-repeat;
    background-size: 10px 6px;
    background-position: center;
    position: absolute;
    right: 15px;
    top: 22px;

    &--dis{
      background-image: url('../../../assets/images/icon-arr-down.svg');
    }
  }

  &__hidden-options-wrapper{
    display: none;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    right: 0;
    top: 52px;
    z-index: 1000;

    @media (max-width: 793px) {
      top: 54px;
    }
  }

  &__options-wrapper{
    max-height: 168px;
    overflow-y: auto;
    margin-bottom: 10px;

  }

  &__option{
    font-size: 15px;
    line-height: 18px;
    color: $g__text_color_primary;
    margin-bottom: 10px;
  }

  &__option-input{
    opacity: 0;
    position: absolute;
  }

  &__option-label{
    position: relative;
    padding-left: 30px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: $g__text_color_primary;


    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: #FFFFFF;
      border: 1px solid rgba(146, 159, 171, 0.4);
      box-sizing: border-box;
      border-radius: 3px;
      left: 0;
    }
  }

  &__wrapper{
    width: 100%;
  }

  //Временно
  //@media(max-width: 768px) {
  //  display: none;
  //}
}

.search__btns {
  display: flex;
}

.search__btn-block:focus-within .search__hidden-options-wrapper{
  display: block;
}

.monitoring-attention{
  background: #EBEDF2;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  width: 100%;
  position: fixed;
  top: 70%;
  max-width: 1240px;
  padding: 17px;
  justify-content: space-between;
  text-align: center;
  z-index: 100;
  align-items: center;
  margin:auto;
  left:0;
  right:0;
  flex-wrap: wrap;

  @media(max-width: 1120px) {
    padding: 10px;
    display: block;
    border: none;
    text-align: left;
  }

  p{
    font-size: 15px;
    line-height: 18px;
    margin: 0 auto;

    @media(max-width: 1120px) {
      font-size: 13px;
      line-height: 18px;
    }
  }

  span{
    color: $g__link_color;
    &:hover{
      cursor: pointer;
    }
  }

  &__close{
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-image: url("/assets/images/close-blue.svg");

    @media(max-width: 1120px) {
      display: inline-block;
      margin-top: 10px;
      background-image: none;
      width: auto;
      height: auto;
      padding: 11px;
      border: 1px solid $g__link_color;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }

  &__close-text {
    display: none;

    @media(max-width: 1120px) {
      display: block;
      font-size: 13px;
      line-height: 18px;
      color: $g__link_color;
    }
  }

}

.search__option-input:checked + .search__option-label::after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: $g__link_color;
  box-sizing: border-box;
  border-radius: 3px;
  left: 0;
  top: 0;
  background-image: url('../../../assets/images/icon-done.svg');
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: center;
}

.monitoring{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $g__text_color_primary;
  font-size: 18px;
  animation: show .5s 1;
  padding: 60px 0;
  margin: 0 auto;
  max-width: 1260px;
  width: 100%;
  //background: $g__body_background;

  @media(max-width: 767px) {
    padding: 30px 0;
  }

  &__risks{
    display: flex;
    width: 100%;
    padding-top: 0;

    a{
      font-size: 15px;
      line-height: 18px;
      color: #818B95;
      border-bottom: 1px dotted #818B95;

      @media(max-width: 767px) {
        border: none;
        font-size: 13px;
        line-height: 18px;
        color: $g__link_color;
      }
    }

    span{
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      color: #FFFFFF;
      padding: 4px 8px;
      background: $g__alert_color;
      border-radius: 15px;
      margin-left: 14px;
      margin-top: -4px;

      @media(max-width: 767px) {
        margin-top: 0;
        margin-left: 10px;
      }
    }

    @media(max-width: 767px) {
      padding: 11px;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }

  &__shadow{
    position: absolute;
    height: 19px;
    display: flex;
    width: 100%;
    top: -1px;
    z-index: 100;
    background: linear-gradient(180deg, #EBEDF2 0%, #EBEDF2 6.85%, rgba(235, 237, 242, 0) 100%);
  }

  &__card-wrapper{
    position: relative;
  }

  &__inwork{
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #A3ACC2;
    transform: rotate(-90deg);
    background: #DDE0E8;
    border-radius: 5px 5px 0 0;
    padding: 6px 14px;
    left: -56px;
    bottom: 31px;
    z-index: 2;

    @media(max-width: 1120px) {
      display: none;
    }
  }

  &--critical{
    position: relative;
    padding: 0 0 24px;

    @media(max-width: 1120px) {
      padding-bottom: 30px;
    }

    @media(max-width: 793px) {
      padding-top: 65px;
    }

    @media(max-width: 767px) {
      padding-top: 8px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__head{
    font-size: 25px;
    margin-bottom: 13px;

    @media(max-width: 767px) {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: $g__text_color_secondary;
    }
  }

  &__desc {
    margin-bottom: 0;
    @media(max-width: 767px) {
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: $g__text_color_secondary;
    }
  }

  &__img{
    width:62px;
    margin-bottom: 17px;

    @media(max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  &__head-table{
    display: flex;
    justify-content: space-between;

    p{
      font-size: 15px;
      line-height: 20px;
      color: #818B95;
      margin-bottom: 10px;
    }

    @media(max-width: 1120px) {
      display: none;
    }
  }

  &__wrapper{
    width: 100%;
  }

  &__wrapper-double{
    @media(max-width: 1120px) {
      margin-bottom: 0;
    }
  }
}

.btn-blue--add{
  margin-top:30px ;

  @media(max-width: 767px) {
    margin-top: 0;
  }
}

.chart{
  padding-top: 23px;

  &__name-counter {
    display: none;

    @media(max-width: 793px) {
      display: block;
      font-size: 20px;
      line-height: 1;
    }
  }

  @media(max-width: 793px) {
    padding: 30px 20px 20px;
  }

  &__block-wrapper{
    position: relative;
    max-width: 387px;
    width: 32%;
    min-height: 293px;
    height: auto;
    margin: 0;
    overflow-y: hidden;
    border-radius: 10px;

    &:first-of-type {
      @media(max-width: 1190px) {
        margin: 0;
      }
    }

    @media(max-width: 793px) {
      width: 100%;
      padding-top: 25px;
      padding-bottom: 10px;
      max-width: none;
      min-height: auto;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 0;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  &__block{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    &--main{
      position: relative;
      top: 0;
      z-index: 1;
      border: 1px solid rgba(255, 255, 255, 0.2);
      min-height: 293px;
      height: 100%;
      overflow: hidden;
      border-radius: 10px;
      color: #FFFFFF;
      width: 100%;
      background: transparent;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      padding: 19px;
    }

    @media(max-width: 793px) {
      top: 70px;
      height: 78%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: auto;
      padding: 0 0 20px;
      background-color: transparent;
      border: none;
      border-radius: initial;
      box-shadow: none;
      overflow: visible;

      & .chart__name {
        display: none;
      }

      &--main{
        top: 0;
        height: auto;
        display: block;
        padding-bottom: 0;
        padding-right: 7px;

        & .chart__name {
          display: flex;
          width: 100%;
        }
      }
    }
  }

  &__name{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;

    @media(max-width: 793px) {
      font-size: 13px;
      line-height: 18px;
    }

    &--main{
      margin-bottom: 14px;

      @media(max-width: 793px) {
        display: flex;
        justify-content: space-between;

        &.is-active {
          margin-bottom: 0;
        }
      }
    }
  }

  &__status{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 83px 0 98px;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;

    @media (max-width: 1120px) {
      font-size: 30px;
      line-height: 1;
    }

    @media(max-width: 793px) {
      font-size: 24px;
      line-height: 32px;
      padding: 0;
    }
  }

  &__wrapper{
    display: flex;
    justify-content: space-between;

    @media(max-width: 793px) {
      border-top: 1px solid rgba(255, 255, 255, 0.15);
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
  }

  &__header{
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 24px;
    font-weight: normal;
    position: relative;

    @media(max-width: 793px) {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.chart__block-wrapper.is-active-wrap .chart__block {
  display: flex;
  flex-direction: column;
  //background: $corp_search__sticky_background;

  @media(max-width: 793px) {
    top: 65px;
    background: transparent;

    &--main {
      top: 0;
    }
  }
}

.chart__block.chart__block--main {
  background: $dashboard_cards__background;

  @media(max-width: 793px) {
    background: $header__dark_background;
  }
}

.chart-date__numbers {
  position: relative;
  margin-bottom: 45px;

  &--special{
    margin-bottom: 31px;

    @media(max-width: 793px) {
      margin-bottom: 15px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -22px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    width: 111%;
    left: -18px;

    @media(max-width: 793px) {
      display: none;
    }
  }
}

.chart-date{

  @media(max-width: 793px) {
    padding-right: 20px;
  }

  &__charts{
    height: auto;
    flex-grow: 1;

    @media(max-width: 793px) {
      margin-top: 20px;
    }
  }

  &__wrapper{
    margin-bottom: 0;
  }

  &__row{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;

    @media(max-width: 793px) {
      margin-bottom: 10px;
    }
  }

  &__big-count-wrap {
    display: flex;

    @media(max-width: 793px) {
      margin-bottom: 5px;
    }
  }

  &__big-count{
    font-size: 60px;
    line-height: 56px;
    color: #FFFFFF;
    margin-right: 12px;

    @media(max-width: 793px) {
      margin-right: 17px;
    }

    @media(max-width: 793px) {
      padding: 2px 8px;
      color: $g__text_color_primary;
      font-size: 13px;
      line-height: 18px;
      font-weight: 700;
      border-radius: 20px;
      background-color: #FF889B;
    }
  }

  &__numbers{
    display: flex;
    align-items:center;
    position: relative;

    p{
      margin-bottom: 0;

      @media(max-width: 793px) {
        &.chart-date__addition--yellow {
          margin-bottom: 5px;
        }
      }
    }

    @media(max-width: 1180px) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media(max-width: 793px) {
      display: none;
    }

    &--special {
      @media(max-width: 1180px) {
        flex-direction: column;
        align-items: flex-start;
      }

      @media(max-width: 793px) {
        display: block;
        margin-top: 20px;
      }
    }
  }

  &__big-count-text{
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

    &--align{
      align-self:flex-end;
      width: 105px;
      margin-right: 16px;
      font-size: 16px;
      line-height: 22px;

      @media(max-width: 793px) {
        align-self: flex-start;
        width: 100%;
        margin-right: 0;
        font-size: 13px;
        line-height: 18px;
        color: #FF889B;

        & br {
          display: none;
        }
      }
    }
  }

  &__addition-span {
    @media(max-width: 793px) {
      display: block;
      max-width: 39px;
      padding: 2px 8px;
      margin-right: 17px;
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      color: $g__text_color_primary;
      border-radius: 20px;
    }
  }

  &__addition{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 22px;
    align-self:flex-end;

    &--yellow{
      color: #FFF;

      & span {
        color: #FFF;

        @media(max-width: 793px) {
          color: $g__text_color_primary;
        }
      }

      @media(max-width: 793px) {
        display: flex;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 5px;
      }

      & .chart-date__addition-span {
        @media(max-width: 793px) {
          background: #FCD770;
        }
      }
    }

    &--green{
      color: #FFF;

      & span {
        color: #FFF;

        @media(max-width: 793px) {
          color: $g__text_color_primary;
        }
      }

      @media(max-width: 793px) {
        display: flex;
        font-size: 13px;
        line-height: 18px;
      }

      & .chart-date__addition-span {
        @media(max-width: 793px) {
          background: #A7E889;
        }
      }
    }

    @media(max-width: 1180px) {
      align-self: flex-start;
    }
  }
}

.row{
  &__color{
    width: 31%;
    display: flex;
    justify-content: flex-end;

    @media(max-width: 793px) {
      width: 27%;
    }

    &--chart{
      height: 10px;
      width: 100%;
      background: #A7E889;


      &--red{
        background: #FF889B;
      }

      &--orange{
        background: #FFB36D;
      }

      &--yellow{
        background: #FCD770;
      }

      &--gray{
        background:#B6C4D0;}

      &--blue{
        background:#8CD5FE
      }

      &--purple{
        background: #CAB1FF;
      }

      &--lemon{
        background: #FFE8BB;
      }
    }
  }

  &__number{
    width: 15%;
    margin-bottom: 0;
    text-align: center;
    font-size: 13px;
    line-height: 18px;

    @media(max-width: 793px) {
      width: 11%;
    }

    &--red{
      color: #FF889B;
    }

    &--orange{
      color: #FFB36D;
    }

    &--yellow{
      color: #FCD770;
    }

    &--gray{
      color:#B6C4D0;
    }

    &--green{
      color:#A7E889;
    }

    &--blue{
      color:#8CD5FE
    }

    &--purple{
      color: #CAB1FF;
    }

    &--lemon{
      color: #FFE8BB;
    }
  }

  &__text{
    width: 55%;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
}

.unconnected-table{
  display: flex;
  flex-direction: column;
  //padding-left: 10px;
  //padding-right: 10px;
  max-width: 1260px;
  margin: auto;
  position: relative;
  width: 100%;

  @media(max-width: 1120px) {
    padding-bottom: 30px;
  }

  @media(max-width: 767px) {
    margin-top: 30px;
    //padding-left: 20px;
    //padding-right: 20px;
  }

  &--opened{
    margin-bottom: 60px;

    @media(max-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__head{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    color: $g__text_color_primary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;

    @media(max-width: 767px) {
      display: block;
      margin-bottom: 20px;
      width: 65%;
      font-family: inherit;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
      text-align: left;
    }
  }

  &__head-count{
    padding: 9px 10px;
    background: $g__white_background;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-left: 20px;
    min-width: 35px;

    @media(max-width: 767px) {
      margin-left: 0;
      padding: 6px 8px;
      font-size: 16px;
      line-height: 20px;
      border-radius: 20px;
    }
  }

  &__row{
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    margin-bottom: 5px;
    padding: 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    justify-content: space-between;
    color: $g__text_color_primary;
    border: 1px solid $g__outline_color;
    cursor: pointer;

    &--active{
      background: #F2FCFF;
      border: 1px solid $g__link_color;
    }

    @media(max-width: 767px) {
      position: relative;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      margin-bottom: 10px;

      &::before {
        content: "";
        position: absolute;
        top: 86px;
        left: 10px;
        right: 10px;
        height: 1px;
        background-color: $g__outline_color;
      }
    }
  }

  &__main-row{
    display: flex;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
    justify-content: space-between;
    padding: 10px 0 17px;


    @media(max-width: 767px) {
      display: none;
    }
  }

  &__my-obj{
    width: 110px;
  }

  &__name{
    margin-left: 26px;
    margin-right: 30px;
    width: 396px
  }

  &__category{
    width: 126px;
  }

  &__choose{
    width: 166px;
    text-align: end;
    padding-right: 10px;
  }

  &__icon{
    width: 90px;
    background: white;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media(max-width: 767px) {
      grid-row: 1/2;
      grid-column: 1/2;
      margin-bottom: 10px;
    }

    p{
      font-size: 9px;
      line-height: 11px;
      text-align: center;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #A3ACC2;
      margin-top: 5px;
    }
  }

  &__text{
    width: 396px;
    font-size: 18px;
    line-height: 24px;
    color: $g__text_color_primary;
    padding: 5px 0;
    margin-left: 30px;
    margin-right: 30px;
    box-sizing: border-box;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: $g__text_color_secondary;
      border-radius: 50%;
      left: -22px;
      top: 12px;
    }

    @media(max-width: 767px) {
      width: auto;
      padding-left: 20px;
      grid-row: 1/2;
      grid-column: 2/5;
      margin: 0;
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 16px;
      line-height: 20px;

      &::before {
        display: none;
      }
    }
  }

  &__checkbox{
    width: 125px;
    display: flex;
    justify-content: flex-end;
    position: relative;

    @media(max-width: 767px) {
      grid-row: 3/4;
      grid-column: 1/5;
      width: auto;
      margin-top: 10px;
    }

    &--input{
      opacity: 0;
      position: absolute;
      width: 24px;
      height: 24px;
      right: 17px;
      top: 6px;
      z-index: 30;
      cursor: pointer;

      @media(max-width: 767px) {
        width: 100%;
        height: 100%;
      }
    }

    &--label{
      width: 24px;
      height: 24px;
      position: relative;
      right: 17px;
      top: 6px;

      @media(max-width: 767px) {
        width: 100%;
        height: auto;
        display: block;
        position: static;
        padding: 11px;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid $g__outline_color;
        box-sizing: border-box;
        border-radius: 5px;
        font-weight: normal;
      }

      &:before{
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        border-radius: 5px;
        left:0;
        top: 1px;

        @media(max-width: 767px) {
          display: none;
        }
      }

      & span {
        display: none;

        @media(max-width: 767px) {
          display: block;
          font-size: 13px;
          line-height: 18px;
          color: $g__link_color;
        }
      }
    }
  }

  .unconnected-table__checkbox--input:checked + .unconnected-table__checkbox--label::after{
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    background-color: $g__checkbox_background;
    box-sizing: border-box;
    left: 1px;
    top: 1px;
    border: 1px solid $g__outline_color;
    border-radius: 5px;
    background-image: url('../../../assets/images/icon-done.svg');
    background-repeat: no-repeat;
    background-size: 17px 11px;
    background-position: center;

    @media(max-width: 767px) {
      display: none;
    }
  }

  .unconnected-table__checkbox--input:checked ~.unconnected-table__row{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0) 100%), #F2F4F8;
    border: 1px solid $g__outline_color;
    color: $g__text_color_secondary;
    border-bottom-color:#ebedf2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    margin-bottom: 5px;
    padding: 9px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    justify-content: space-between;
  }

  &__after{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-size: 15px;
    line-height: 18px;
    color: $g__text_color_primary;
    align-items: center;
    min-height: 55px;
    margin-bottom: 60px;

    &--toRight{
      justify-content: flex-end;
    }

    @media(max-width: 1120px) {
      display: block;
      margin-bottom: 20px;
      min-height: auto;
      font-size: 16px;
      line-height: 20px;

      & p {
        color: $g__text_color_primary;

        & .unconnected-table__filter {
          display: block;
        }
      }
    }
  }

  &__btn-wrap{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: sticky;
    bottom: 60px;
    right: 10px;
  }

  &__btn{
    padding: 14px 24px;
    background: #A3ACC2;
    border: 1px solid #A3ACC2;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "Roboto",sans-serif;
    z-index: 10;
    width: fit-content;
    transform: translateX(0%);
    pointer-events: none;
    position: relative;

    & span {
      color: $g__btn_primary_color;
    }

    @media(max-width: 767px) {
      position: static !important;
      text-transform: none;
      width: 100%;
      display: block;
    }

    &--active{
      background: $g__btn_primary_background;
      border: 1px solid $g__btn_primary_background;
      color: $g__btn_primary_color;
      pointer-events: auto;
      cursor: pointer;
    }
    &--notfixed{
      position: relative;
    }
  }

  &__link{
    margin-left: 5px;
    color:$g__link_color;
    border-bottom: 1px dotted $g__link_color;

    &-wrap{
      margin-bottom: 0;
      width: 100%;
    }

    @media(max-width: 767px) {
      width: 100%;
      padding: 11px;
      margin-left: 0;
      margin-top: 20px;
      display: block;
      font-size: 13px;
      line-height: 18px;
      color: $g__link_color;
      text-align: center;
      background: #FFFFFF;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }
}

.unconnected-table__count{
  width: 114px ;
  box-sizing: border-box;
  position: relative;
  padding: 5px 5px 5px 25px;

  @media(max-width: 767px) {
    width: auto;
    margin-top: 10px;
    margin-right: 9px;
    padding: 4px 0;
    text-align: center;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
  }

  small {
    display: none;
    @media(max-width: 767px) {
      display: block;
      font-size: 10px;
      line-height: 16px;
      text-align: center;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #818B95;
    }
  }

  span {
    @media(max-width: 767px) {
      display: block;
      font-size: 10px;
      line-height: 16px;
      text-align: center;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #818B95;

      &.unconnected-table__count-number {
        padding-left: 21px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $g__text_color_primary;
      }
    }
  }

  &:before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #FCD770;
    border-radius: 50%;
    left: 0px;
    top: 12px;

    @media(max-width: 767px) {
      left: 35%;
      top: 24px;
    }
  }

  &--bigNumber {
    &:before{
      @media(max-width: 767px) {
        left: 23%;
        top: 24px;
      }
    }
  }

  &--red{
    @media(max-width: 767px) {
      grid-row: 2/3;
      grid-column: 1/2;
    }
  }

  &--orange{
    @media(max-width: 767px) {
      grid-row: 2/3;
      grid-column: 2/3;
    }
  }

  &--yellow{
    @media(max-width: 767px) {
      grid-row: 2/3;
      grid-column: 3/4;
    }
  }

  &--green{
    @media(max-width: 767px) {
      grid-row: 2/3;
      grid-column: 4/5;
      margin-right: 0;
    }
  }

  &--red:before{
    background: $g__alert_color;
  }

  &--orange:before{
    width: 10px;
    height: 10px;
    background: #FF8310;
  }

  &--yellow:before{
    width: 8px;
    height: 8px;
    background: #FCD770;
  }

  &--green:before{
    width: 8px;
    height: 8px;
    background: #72CA49;
  }
}

.unconnected-table__row--active{
  background: $dashboard_checked_objects__background;
  border: 1px solid $dashboard_checked_objects__outline_color;
}

.disabled-tab-btn {
  pointer-events: none;
  cursor: not-allowed;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.3);

  & span {
    color: rgba(255, 255, 255, 0.3);
  }

  & .control__count {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (max-width: 1120px) {
    background: rgba(235, 237, 242, 0.1) !important;
  }
}

.filter-text-description {
  margin: 0 auto 40px;
  max-width: 1240px;
  width: 100%;

  @media(max-width:793px){
    padding: 65px 20px 0;
  }
}
.loaderAuth {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid $g__link_color;
  border-top-color: #ebedf2;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.is-active-wrap{
  & .chart__name-title {
    opacity: 0;

    @media(max-width: 793px) {
      opacity: 1;
    }
  }
}

.is-active {
  &::after {
    transform: rotate(180deg);
  }
}
.filter-text-result {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 0 10px;

  &--nothing {
    text-align: center;
    margin: 30px auto 50px;
  }

  @media(max-width: 793px){
    padding: 65px 20px 0;

    &--nothing {
      padding: 0;
      margin-top: 60px;
      margin-bottom: 0;
    }
  }

  @media(max-width: 768px){
    &--nothing {
      margin-top: 20px;
    }
  }
}

.show-all-link {
  margin-left: 5px;
  color: $g__link_color;
  border-bottom: 1px dotted $g__link_color;
}

.chart__header-blue:hover{
  cursor: pointer;
}

.company-list__list li:hover {
  cursor: pointer;
}

.chart__mini-wrapper--several-2::after {
  transform: rotate(180deg);
}

.chart__companies-wrapper {
  width: 470px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $g__text_color_primary;
  display: flex;
  z-index: 10;
  overflow-x: auto;
  max-height: 335px;

  @media (max-width: 793px) {
    width: 100%;
    left: 0;
  }
}

.hide {
  display: none;
}


.overlay--transparent {
  background: none;
  z-index: 8;
}

.company-list {
  position: absolute;
  top: 100%;
  left: 180px;
  z-index: 10;
  margin-top: 5px;

  @media(max-width: 767px) {
    left: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 10px;
    cursor: pointer;

    p {
      text-align: left;
    }

    &--selected {
      background: $header__light_background;
      border-radius: 5px;
    }
  }

  &__link {
    margin-left: 7px;

    & span {
      max-width: 85vw;
      color: $header__dark_link_color;
      text-decoration: underline;
      text-decoration-style: dashed;
      text-decoration-color: $header__dark_link_color;

      @media (max-width: 793px) {
        display: block;
      }
    }
  }
}

.chart__mini-wrapper {
  position: relative;
  border: none;
  background: none;
  font-size: 25px;
  line-height: 32px;

  &:hover{
    opacity: 1;
  }

  @media (max-width: 793px) {
    padding: 0;
    text-align: left;
    margin-left: 0;
    position: relative;

    &--several::after{
      position: absolute;
      content: '';
      right: 0;
      bottom: 10px;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 12px;
      height: 8px;
      background-image: url("/assets/icons/icon-dropdown-blue.svg");
    }
  }
}

.chart__mini-wrapper--several-2::after{
  transform: rotate(180deg);
}

.chart__mini-wrapper {
  text-align: left;
  width: 100%;
}

.tooltiptext {
  position: absolute;
  bottom: 100%;
  right: 0;
  left: auto;
  z-index: 1000;
  padding: 10px;
  margin-bottom: 5px;
  width: fit-content;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  color: $g__text_color_primary;
  white-space: nowrap;
  background: $g__white_background;
  border: 1px solid rgba(21, 36, 56, 0.15);
  border-radius: 5px;
  box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  @media (max-width: 793px) {
    visibility: visible;
    opacity: 1;
  }
}

.unconnected-table__btn-wrap:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
