@import 'variables';

.heading-h1 {
  @media (max-width: 768px) {
    margin-top: 0;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }
}
.img-downloaded {
  font-size: 13px;
}
.image-error {
  color: red;
  font-size: 13px
}
.form-card {
  tbody {
    tr {
      &:hover {
        border: 1px solid $g__link_color;
      }
    }
  }
}
.image-application {
  width: 230px;
  height: 70px;
  margin: auto;
  img {
    max-width: 230px;
    max-height: 70px;
  }
}
.image-text {
  color: black !important;
  text-align: center;
}
.btn-wrap{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.form__card{
  padding: 20px;
  @media (max-width: 768px) {
    padding: 16px 20px;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
  }
}

.form__input-wrap {
  @media (max-width: 768px) {
    padding: 0;

    input{
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.form__card-input:focus-within ~ .form__card-input-label, .form__card-input:not(:focus):valid ~ .form__card-input-label {
  font-size: 0.5625rem;
  line-height: 1.1538461538;
  left: 15px;
  top: 5px;
  transform: none;
  pointer-events: auto;
}

.heading-h2{
  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}

.form__file-download {
  @media (max-width: 768px) {
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    font-size: 13px;
    line-height: 18px;
    margin-right: 20px;
  }
}

.form__file-delete{
  @media (max-width: 768px) {
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    font-size: 13px;
    line-height: 18px;
    margin-right: 20px;
  }

}

@media (max-width: 768px){
  .form__card-input:focus ~ .form__card-input-label--top{
    display: none;
  }
}

.form__file-wrap svg {
  fill: $g__link_color;
}
.non-border {
  border: none;
}
.payer-check-loader {
  width: 40px;
  height: 40px;
  border-width: 4px;
  right: 20px;
  bottom: -45px;
  position: absolute
}

.error-text {
  color: red;
}

.form__group {
  @media (max-width: 767px) {
    margin-top: 10px;
  }
}

.form__file {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__file-download{
  margin-right: 10px;
}
