@import 'variables';

h2 {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: normal;
  color: $g__text_color_primary;
  line-height: 1.33;

  @media(max-width: 768px) {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

h3 {
  margin-bottom: 10px;
  color: $g__text_color_primary;
  font-size: 20px;
  font-weight: bold;

  @media(max-width: 768px) {
    font-size: 18px;
  }
}

button:hover,
a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.container {
  padding-left: 10px;
  padding-right: 10px;

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 60px;
    width: 100%;

    @media(max-width: 768px) {
      flex-direction: column;
      padding: 20px 20px 30px;
    }

    @media(max-width: 575px) {
      background: #F7F8FB;
    }

    &--no-top{
      padding-top: 0;
    }
  }
}

.monitoring__wrap {
  width: 68%;
  padding-left: 30px;

  @media(max-width: 768px) {
    padding-left: 0;
    width: 100%;
  }
}

.possibility {
  flex-grow: 1;
  width: 100%;
  padding-right: 73px;

  @media(max-width: 991px) {
    width: 55%;
    padding-right: 30px;
  }

  @media(max-width: 768px) {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 0;
  }
  @media(max-width: 575px) {
    margin-bottom: 20px;
  }
}

.cases_wrapper {
  width: 100%;
  max-width: 387px;

  @media(max-width: 991px) {
    width: 40%;
    max-width: none;
  }

  @media(max-width: 768px) {
    width: 100%;
  }
}

.info-card__wrapper {
  margin-bottom: 25px;

  @media(max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.info-card {
  margin-bottom: 11px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border: none;

  @media(max-width: 768px) {
    width: 49%;
  }

  @media(max-width: 575px) {
    width: 100%;
    padding: 15px;
  }

  &__text {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
    color: #929FAB;

    &--small {
      font-size: 13px;
      line-height: 24px;
      color: $g__text_color_secondary;
    }

    &--big {
      margin-bottom: 26px;
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__price {
    font-size: 20px;
    color: $g__text_color_primary;
    font-weight: 700;
  }

  &--main {
    width: 100%;
    padding: 45px 15px;
    text-align: center;
    font-size: 20px;

    @media(max-width: 575px) {
      padding: 30px 15px;

      & p {
        margin-bottom: 15px;
      }
    }
  }

  &--hasdeal {
    padding: 15px 20px 20px;
    text-align: left;
    font-weight: 700;

    @media(max-width: 575px) {
      padding: 15px;
    }
  }

  &__main-text {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: $g__text_color_primary;
  }

  &__state {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
}

.service-wrapper h2 {
  @media(max-width: 575px) {
    margin-bottom: 20px;
  }
}

.section-position--mobile {
  flex-wrap: nowrap;
  padding-top: 40px;
  @media(max-width: 768px) {
    padding-bottom: 30px;
    flex-direction: column;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.service-link {
  position: relative;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: $g__link_color;

  &__arrow {
    fill: $g__link_color;
  }

  &__wrapper {
    left: -3px;
    right: 0;
    bottom: -13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    width: 103%;
    text-align: right;
    background: $g__body_background;
    z-index: 10;

    @media(max-width: 575px) {
      bottom: -17px;
    }
  }

  &__left {
    justify-content: flex-start;
    width: 100%;
    bottom: -3px;
    z-index: 100;
    left: 0;
  }

  //&::after{
  //  position: absolute;
  //  //background: url("../../../assets/images/arrow.svg") no-repeat 100% ;
  //  content: "";
  //  width: 21px;
  //  height: 16px;
  //  transform: translateX(13px);
  //}
}

.btn__red {
  margin-right: 12px;
  padding: 6px 10px;
  font-weight: bold;
  font-size: 13px;
  background: $g__alert_color;
}

.btn__blue {
  padding: 5px 10px;
}

.progress-bar {
  margin-bottom: 20px;

  &__background {
    position: relative;
    width: 100%;
    height: 8px;
    background: #DEE2EA;
    border-radius: 4px;
  }

  &__indicator {
    position: absolute;
    width: 80%;
    max-width: 100%;
    height: 8px;
    background: $g__timeline_color;
    border-radius: 4px;
  }

  &__rate {
    position: absolute;
    top: -12px;
    left: 80%;
    margin-left: -20px;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: $g__text_color_secondary;
    font-weight: 400;
  }
}

.my-deal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding-right: 32px;

  @media(max-width: 768px) {
    margin-bottom: 15px;
  }

  h2 {
    margin: 0;
  }
}


.service-wrapper {
  position: relative;
}

.service-wrapper {
  width: 31%;

  @media(max-width: 768px) {
    width: 100%;
  }
}

.monitoring__wrapper {
  width: 100%;
}


.disabled {
  pointer-events: none;
  background: $g__text_color_secondary;
}

.slider-section {
  display: flex;
  align-items: flex-start;
  padding-bottom: 58px;
  margin-right: 20px;

  &__empty-block {
    min-width: 385px;
    display: flex;
    flex-grow: 1;
  }

  &__block {
    width: 113px;
    height: 78px
  }
}

.search-section {
  margin-right: 70px;
  flex-grow: 1;


  h2 {
    margin-bottom: 0
  }
}

.service-link {
  position: relative;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: $g__link_color;

  &__arrow {
    fill: $g__link_color;
  }

  &__wrapper {
    left: -3px;
    right: 0;
    bottom: -13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    width: 103%;
    text-align: right;
    background: var(--page-background);
    z-index: 10;

    @media(max-width: 575px) {
      bottom: -17px;
    }
  }

  &__left {
    justify-content: flex-start;
    width: 100%;
    bottom: -3px;
    z-index: 100;
    left: 0;
  }

}

.section-position__top {
  background: $header__light_background;
  padding-top: 10px;
  @media(max-width: 575px) {
    background: #F7F8FB;
  }
}

.section-position--wrapper {
  display: flex;
}

:host ::ng-deep {
  & .cases_wrapper .spinner-full {
    max-height: 180px;
  }
}
.recommendation{
  max-width: 1260px;
  margin-right:auto;
  margin-left: auto;
  a{
    color: $g__link_color;
  }
  img{
    float: right;
    width: 20px;
    height: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 5px;
  }

}

.attention {
  margin: 0 0 20px;
  margin-left: auto;
  margin-right: auto;

  @media(max-width: 768px) {
    margin: 0 0 10px;
  }

  & .attention__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    & h3 {
      margin-bottom: 0;
    }
  }

  & button {
    position: relative;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      height: 24px;
      width: 2px;
      background-color: $g__link_color;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
