@import 'variables';

.about-risk {
  display: grid;
  grid-template-columns: 57% auto;

  @media(max-width: 991px) {
    grid-template-columns: 50% 50%;
  }

  @media(max-width: 767px) {
    display: block;
  }
}

.about-risk__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $g__text_color_secondary;

  @media(max-width: 767px) {
    margin-bottom: 10px;
    color: $g__text_color_primary;
  }
}

.about-risk__source-wrap {
  grid-row: 1/2;
  grid-column: 1/2;

  &--your {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  @media(max-width: 767px) {
    padding: 9px;
    border: 1px solid $g__outline_color;
    border-bottom: none;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;

    &--your {
      background: #FFFFFF;
    }
  }
}

.about-risk__source {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;

  & dl {
    margin: 0;

    & dt {
      margin-bottom: 5px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      color:$g__text_color_secondary;

      @media(max-width: 767px) {
        font-size: 13px;
        line-height: 18px;
      }
    }

    & dd {
      margin: 0;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: $g__text_color_primary;
      word-break: break-all;
      max-width: 97%;

      @media(max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  @media(max-width: 767px) {
    display: block;
    margin-bottom: 0;
  }
}

.about-risk__source-img {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 112px;
  margin-right: 20px;
  background: #FFFFFF;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 5px;

  & img {
    flex-shrink: 0;
    object-fit: contain;
  }

  @media(max-width: 767px) {
    margin-bottom: 10px;
  }
}

.about-risk__caption {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #838F99;

  @media(max-width: 767px) {
    letter-spacing: normal;
    text-transform: none;
  }
}

.about-risk__mktu,
.about-risk__date {
  padding: 10px 15px 15px;
  margin-bottom: 5px;
  background: $header__light_background;
  border-radius: 5px 0 0 5px;

  &--your {
    border-radius: 0 5px 5px 0;
    padding-left: 0;
  }

  @media(max-width: 767px) {
    margin: 0;
    padding: 0 9px 10px;
    background: transparent;
    border-radius: 0;
    border-left: 1px solid $g__outline_color;
    border-right: 1px solid $g__outline_color;

    &--your {
      background: #FFFFFF;
    }
  }
}

.about-risk__mktu {
  padding-bottom: 5px;
  grid-row: 2/3;
  grid-column: 1/2;

  &--your {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

.about-risk__date {
  grid-row: 3/4;
  grid-column: 1/2;

  &--your {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  @media(max-width: 767px) {
    &--your {
      border: 1px solid $g__outline_color;
      border-top: none;
      border-radius: 0 0 5px 5px;
    }
  }
}

.about-risk__applicant {
  grid-row: 4/5;
  grid-column: 1/2;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 15px;

  @media(max-width: 767px) {
    margin: 0 0 20px;
    padding: 0 9px 10px;
    border: 1px solid $g__outline_color;
    border-top: none;
    border-radius: 0 0 5px 5px;
  }

  & p {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 24px;

    &.about-risk__applicant-name {
      margin-bottom: 8px;
      font-size: 15px;
    }

    &.about-risk__applicant-spec {
      margin-bottom: 0;
      font-size: 13px;
      line-height: 20px;
      color:$g__text_color_secondary;
    }

    @media(max-width: 767px) {
      font-size: 16px;
      line-height: 20px;

      & span {
        display: block;
        margin-bottom: 5px;

        &.about-risk__applicant-slash {
          display: none;
        }
      }

      &.about-risk__applicant-name {
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 18px;
      }

      &.about-risk__applicant-spec {
        line-height: 18px;
      }
    }
  }
}
