@import 'variables';

.add-object{
  &__content{
    padding: 40px;
    position: relative;

    @media(max-width: 767px) {
      padding: 15px 10px 30px;
    }
  }

  &__btns-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__block{
    &:not(:last-of-type){
      margin-bottom: 44px;

      @media(max-width: 991px) {
        margin-bottom: 20px;
      }
    }
  }

  &__header{
    margin-bottom: 24px;
    font-size: 25px;
    line-height: 32px;
    color: $g__text_color_primary;
    font-weight: normal;

    &--mini{
      margin-bottom: 13px;
    }

    @media(max-width: 767px) {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__btns-pay-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    width: 65%;

    @media(max-width: 991px) {
      width: 100%;
      margin-bottom: 20px;
    }

    @media(max-width: 767px) {
      display: block;
    }
  }

  &__btns-pay{
    padding: 14px 25px;
    background: #F2F4F8;
    border: 1px solid rgba(21, 36, 56, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: $g__text_color_primary;
    width: 47%;
    font-family: 'Roboto', sans-serif;

    @media(max-width: 991px) {
      padding: 11px;
      width: 49%;
    }

    @media(max-width: 767px) {
      width: 100%;
      color: #00AFEC;
      text-transform: none;
      background: #FFFFFF;
      border: 1px solid rgba(21, 36, 56, 0.15);
    }

    &--blue{
      background: $g__link_color;
      box-shadow: 0px 2px 4px rgba(21, 36, 56, 0.1);
      border: 1px solid $g__link_color;
      color: #FFFFFF;

      @media(max-width: 767px) {
        margin-top: 10px;
        color: #152438;
        background: #F7F8FB;
        border: 1px solid rgba(21, 36, 56, 0.15);
      }
    }
  }


  &__thanks-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;

    @media(max-width: 767px) {
      padding-top: 5px;
    }

    h3{
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 40px;
    }
  }

  & img {
    margin-bottom: 33px;

    @media(max-width: 767px) {
      margin-bottom: 20px;
      width: 48px;
      height: 57px;
    }
  }

  &__thanks{
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 33px;
    width: 65%;

    @media(max-width: 767px) {
      width: 80%;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.add-object__header-main{
  display: flex;
  justify-content: space-between;
  gap: 7%;

  @media(max-width: 991px) {
    display: block;
  }

  @media(max-width: 767px) {
    & .add-object__header {
      font-size: 24px;
      line-height: 32px;
    }
  }
}
