.add-file-form{
  display: flex;
  flex-direction: column;
  gap: 15px;

  button{
    margin-left: auto;

    @media (max-width: 767px) {
      display: block;
      width: 100%;
    }
  }

  &__wrap{
    margin-bottom: 20px;
    @media (max-width: 500px) {
      margin-bottom: 15px;
    }

  }

  &__file{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E9ECF2;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 19px;
    font-size: 16px;
    line-height: 20px;
    color: $g__text_color_primary;
    margin-bottom: 10px;

    @media (max-width: 500px) {
      font-size: 12px;
      line-height: 14px;
    }

    p{
      margin-bottom: 0 !important;
    }

    span{
      position: relative;

      &::after{
        width: 18px;
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        background-size: 100%;
        height: 18px;
        background-image: url("/assets/images/delete.png");
        left: -15px;

        @media (max-width: 768px) {
          width: 14px;
          height: 14px;

          left: -15px;
          top: 2px;
        }
      }
    }
  }
}
