@import "variables";

.attention {
  background: $g__attention_background;
  border: 1px solid $g__warning_color;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 19px;
  margin-bottom: 40px;
  margin-top: 40px;

  @media (max-width: 768px) {
    padding: 10px 7px;
  }

  &__switch {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  h3 {
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 24px !important;
    color: $g__warning_color !important;
    margin-bottom: 5px !important;

    @media (max-width: 768px) {
      font-size: 16px !important;
      line-height: 20px !important;
    }
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
    color: $g__text_color_primary !important;
    //margin-bottom: 15px !important;

    @media (max-width: 768px) {
      font-size: 16px !important;
      line-height: 20px !important;
    }

    & a {
      color: $g__link_color;
      text-decoration: underline;
    }
  }

  button {
    border: none !important;
    background: none !important;
    padding: 0 !important;
  }

  &--gray {
    background: #EEF0F7;
    border-radius: 0 0 4px 4px;
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 42px 50px;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 20px !important;
    }

    a {
      width: fit-content !important;
    }
  }

  &__link {
    font-family: 'Roboto', sans-serif;
    text-decoration-line: underline;
    color: $g__link_color;
    font-size: 18px;
    line-height: 24px;

    &:hover {
      cursor: pointer;
    }

  }

  &__list {
    text-align: left;
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-bottom: 14px;

    @media(max-width: 767px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    li {
      font-size: 18px;
      line-height: 24px;
      color: $g__text_color_primary;
      position: relative;
      padding: 0 10px 0 38px;
      font-family: 'Roboto', sans-serif;

      @media(max-width: 767px) {
        padding: 0 0 0 30px;
        font-size: 16px;
        line-height: 20px;
      }

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      &:after {
        width: 18px;
        height: 18px;
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('/assets/images/blue-done.svg');
        top: 3px;
        left: 9px;
        content: '';
        border-radius: 50%;

        @media(max-width: 767px) {
          left: 0;
          top: 0;
        }
      }
    }
  }

  &--in-card {
    p {
      margin-bottom: 0 !important;
    }

    margin-bottom: 30px;
    margin-top: 0;
  }

  &__show {
    display: flex;
    flex-direction: column;

    &--open {
      flex-direction: column-reverse;
    }
  }

  &--white {
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    margin-bottom: 0;
  }
}

.attention--in-card__price {
  font-size: 24px;
  line-height: 1.33;
  font-weight: 700;

  @media(max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }
}
