.back-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1;
  color: $g__text_color_secondary;

  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }

  & svg {
    fill: $g__link_color;
  }
}
