$corp_chart_red: #FF889B; // Красный цвет в графике
$corp_chart_orange: #FFB36D; // Оранжевый цвет в графике
$corp_chart_yellow: #FCD770; // Желтый цвет в графике
$corp_chart_green: #A7E889; // Зеленый цвет в графике
$corp_chart_grey: #B6C4D0; // Серый цвет в графике
$corp_chart_blue: #8CD5FE; // Голубой цвет в графике
$corp_chart_purple: #CAB1FF; // Фиолетовый цвет в графике
$corp_chart_pink: #FC9CDB; // Розовый цвет в графике
$corp_chart_mint: #68F2C9; // Мятный цвет в графике

.chart-corp {
  width: 100%;
  border-collapse: collapse;

  & td {
    padding-bottom: 9px;
  }

  @media (max-width: 767px) {
    margin-bottom: -10px;
  }
}

.chart-corp__item {
  &.fatal {
    & .chart-corp__line {
      background-color: $corp_chart_red;
    }

    & .chart-corp__value {
      color: $corp_chart_red;
    }
  }

  &.high {
    & .chart-corp__line {
      background-color: $corp_chart_orange;
    }

    & .chart-corp__value {
      color: $corp_chart_orange;
    }
  }

  &.possible {
    & .chart-corp__line {
      background-color: $corp_chart_yellow;
    }

    & .chart-corp__value {
      color: $corp_chart_yellow;
    }
  }

  &.recommended {
    & .chart-corp__line {
      background-color: $corp_chart_green;
    }

    & .chart-corp__value {
      color: $corp_chart_green;
    }
  }

  &.disconnected {
    & .chart-corp__line {
      background-color: $corp_chart_grey;
    }

    & .chart-corp__value {
      color: $corp_chart_grey;
    }
  }

  &.trademark {
    & .chart-corp__line {
      background-color: $corp_chart_blue;
    }

    & .chart-corp__value {
      color: $corp_chart_blue;
    }
  }

  &.patent {
    & .chart-corp__line {
      background-color: $corp_chart_purple;
    }

    & .chart-corp__value {
      color: $corp_chart_purple;
    }
  }

  &.db {
    & .chart-corp__line {
      background-color: $corp_chart_yellow;
    }

    & .chart-corp__value {
      color: $corp_chart_yellow;
    }
  }

  &.domain {
    & .chart-corp__line {
      background-color: $corp_chart_pink;
    }

    & .chart-corp__value {
      color: $corp_chart_pink;
    }
  }

  &.copyright {
    & .chart-corp__line {
      background-color: $corp_chart_mint;
    }

    & .chart-corp__value {
      color: $corp_chart_mint;
    }
  }
}

.chart-corp__line-wrap {
  width: 50%;

  @media (max-width: 767px) {
    width: 34%;
  }
}

.chart-corp__line {
  display: block;
  margin-left: auto;
  margin-right: 0;
  height: 10px;
  text-align: right;
}

.chart-corp__value {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;

  @media (max-width: 767px) {
    padding-left: 11px;
    padding-right: 11px;
    text-align: center;
  }
}

.chart-corp__name {
  width: 48%;
  font-size: 13px;
  line-height: 1;

  @media (max-width: 767px) {
    width: 50%;
    line-height: 18px;
  }
}
