@import 'variables';

.chart{
  padding-top: 23px;
  padding-bottom: 38px;

  @media (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  &__block-wrapper{
    min-height: 320px;

    @media (max-width: 1190px) {
      margin: auto;

      &:last-of-type{
        margin-top: 30px;
      }
      &:first-of-type{
        margin-right: 30px;
      }
    }

    @media (max-width: 823px) {
      margin: auto;

      &:last-of-type{
        margin-top: 0;
      }
      &:first-of-type{
        margin-right: auto;
      }
    }
    @media (max-width: 793px) {
      margin: 0;
      &:last-of-type{
        margin: 0;
      }
      &:first-of-type{
        margin: 0;
      }
    }

    @media (max-width: 793px) {
      height: auto;
    }
  }

  &__select-blue {
    border: none;
    background: none;
    color: $g__link_color;
    font-size: 25px;
  }

  &__block{
    width: 384px;
    background: $dashboard_cards__background;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 20px 20px 0;
    position: relative;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 293px;
    overflow: hidden;

    @media (max-width: 793px) {
      padding-bottom: 20px;
      overflow: visible;
    }

    &--main{
      position: relative;
      z-index: 1;
    }
  }

  &__name{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
    color: #FFFFFF;

    & span {
      color: #FFFFFF;
    }

    @media (max-width: 793px) {
      font-size: 13px;
      line-height: 18px;
    }

    &--main{
      margin-bottom: 14px;

      @media (max-width: 793px) {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 18px;
      }
    }
  }

  &__headers-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    @media (max-width: 793px) {
      flex-direction: column-reverse;
    }
  }

  &__btn-add-obj {
    margin-bottom: 24px;
    background: $header__dark_btn_background;
    border-radius: 4px;
    padding: 10px 14px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: $header__dark_btn_color;
    border: none;
    height: fit-content;
    cursor: pointer;
    &__margin {
      margin-bottom: 16px;
      flex-shrink: 0;
    }
    &:disabled {
      cursor: not-allowed;
    }
    @media (max-width: 793px) {
      margin-bottom: 10px;
      width: fit-content;
      padding: 7px 8px;
      font-weight: bold;
      font-size: 11px;
      line-height: 14px;
    }
  }


  &__status{
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    justify-content: center;
    display: flex;
    padding: 83px 0;
    padding-bottom: 98px;
    color: #FFFFFF;

    @media (max-width: 991px) {
      font-size: 30px;
      line-height: 1;
    }

    @media (max-width: 793px) {
      padding: 83px 0;
    }
  }

  &__wrapper{
    display: flex;
    justify-content: space-between;
    @media (max-width: 1190px) {
      flex-wrap: wrap;
    }
    @media (max-width: 793px) {
      flex-direction: column;
      flex-wrap: nowrap;

      &:last-child{
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }
    }
  }

  &__header{
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 24px;
    font-weight: normal;
    position: relative;
    display: flex;

    &-blue{
      color: $header__dark_link_color;
      border-bottom: 1px dashed $header__dark_link_color;

      @media (max-width: 793px) {
        border-bottom: 0;
        margin-left: 0;
        display: flex;
        width: 100%;

        a{
          margin-left: 0;
          display: flex;
          flex-grow: 1;
        }
      }
    }

    &-white{
      color: $header__dark_text_color_primary;
      display: block;
      margin-left: 5px;
      //margin-top: -3px;
    }

    @media (max-width: 793px) {
      flex-direction: column;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;

      &-blue{
        text-align: left;
        margin-left: 0;
      }

      &-white{
        text-align: left;
        margin-left: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 61px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    &--mobile-row{
      @media (max-width: 793px) {
        flex-direction: row;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;

        //.chart__header-white{
        //  margin-left: 5px;
        //}
      }
    }
  }
}

.chart-date__numbers {
  position: relative;
  margin-bottom: 45px;

  &:before {
    content: "";
    position: absolute;
    bottom: -16px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    width: 111%;
    left: -18px;
  }
}

.chart-date{
  @media (max-width: 793px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
    position: relative;

    &--open {
      margin-bottom: 17px;
    }

    &::after{
      position: absolute;
      content: '';
      background-image: url("/assets/icons/icon-dropdown-white.svg");
      background-size: 100%;
      width: 11px;
      height: 7px;
      right: 0;
      top: 30%;
    }
  }

  &--open::after{
    transform: rotate(180deg);
    top: 37%;
  }

  &__risk-rate{
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF1037;
    border-radius: 5px;
    padding: 5px;
    height: fit-content;
    margin-left: 10px;
    letter-spacing: 0.02em;

    &--alert{
      background-color: #FF1037;
    }
    &--warning{
      background-color: $g__warning_color;
    }
    &--success{
      background-color: $g__success_color;
    }

    @media (max-width: 793px) {
      padding: 5px 10px;
      font-size: 11px;
      line-height: 16px;
    }
  }

  &__btn-add-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    @media (max-width: 793px) {
      margin-top: 0;
    }

    button{
      width: 63.4%;
      text-align: left;
      color: $g__link_color;

      &:disabled {
        cursor: not-allowed;
      }

      @media (max-width: 793px) {
        margin-top: 6px;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
      }
    }
  }

  &__btn-add{
    border: none;
    background: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    text-decoration-line: underline;
    color: $g__link_color;
    margin-bottom: 13px;
    cursor: pointer;
    width: fit-content;

    @media (max-width: 793px) {
      border: 1px solid $g__link_color;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 12px;
      text-decoration: none;
    }
  }

  &__charts{
    height: 130px;
    @media (max-width: 793px) {
      height: auto;
    }
  }

  &__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    height: 90%;

    @media (max-width: 793px) {
      height: auto;
    }
  }

  &__row{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;

    @media (max-width: 793px) {
      justify-content: flex-start;
      margin-bottom: 8px;
    }
  }

  &__big-count{
    font-size: 60px;
    line-height: 56px;
    color: #FFFFFF;
    margin-right: 12px;

    @media (max-width: 793px) {
      color: $g__text_color_primary;
      background: #FFFFFF;
    }

    &--red{
      color: #FF889B;
    }

    &--bids{
      @media (max-width: 793px) {
        color: #FFFFFF;
        background: $g__text_color_secondary;
      }
    }
  }

  &__big-count-img{
    width: 33px;
    height: 13px;
    background-image: url("../../assets/images/icon-huge-arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__numbers{
    display: flex;
    align-items:center;
    position: relative;

    p{
      margin-bottom: 0;
    }
  }

  &__big-count-text{
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

    @media (max-width: 793px) {
      text-transform: lowercase;
      font-size: 13px;
      line-height: 18px;
    }

    &--bids{
      color: $g__text_color_secondary;
    }

    &--align{
      align-self:flex-end;
      width: 105px;
      margin-right: 16px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__addition{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 22px;
    align-self:flex-end;

    &--yellow{
      color: #FCD770;
    }

    &--green{
      color: #A7E889;
    }
  }
}

.row{
  &__color{
    width: 31%;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 793px) {
      width: 50%;
    }

    &--chart{
      height: 10px;
      width: 100%;
      background: #A7E889;


      &--red{
        background: #FF889B;
      }

      &--orange{
        background: #FFB36D;
      }

      &--yellow{
        background: #FCD770;
      }

      &--gray{
        background:#B6C4D0;
      }

      &--blue{
        background:#8CD5FE
      }

      &--purple{
        background: #CAB1FF;
      }

      &--lemon{
        background: #FFE8BB;
      }

      &--light-red{
        background: #FFBBBB;
      }

      &--light-green{
        background: #BBFFEB;
      }
    }
  }

  &__number{
    width: 15%;
    margin-bottom: 0;
    text-align: center;
    font-size: 13px;
    line-height: 18px;

    @media (max-width: 793px) {
      width: 24%;
    }

    &--red{
      color: #FF889B;
    }

    &--orange{
      color: #FFB36D;
    }

    &--yellow{
      color: #FCD770;
    }

    &--gray{
      color:#B6C4D0;
    }

    &--green{
      color:#A7E889;
    }

    &--blue{
      color:#8CD5FE
    }

    &--purple{
      color: #CAB1FF;
    }

    &--lemon{
      color: #FFE8BB;
    }

    &--light-red{
      color: #FFBBBB;
    }

    &--light-green{
      color: #BBFFEB;;
    }
  }

  &__text{
    width: 55%;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;

    @media (max-width: 793px) {
      width: 100%;
    }
  }
}
