@import 'variables';

.classes__list {
  display: flex;
  flex-wrap: wrap;
  width: 85%;

  @media(max-width: 767px) {
    width: 100%;
  }
}

.classes__item-wrapper {
  margin-right: 5px;
  margin-bottom: 5px;

  &:last-of-type {
    margin-right: 0;
  }
}

.classes__item {
  display: flex;
  justify-content: center;
  padding: 5px;
  min-width: 28px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  @media(max-width: 767px) {
    padding: 5px 8px;
  }

  &--active {
    color: #FFFFFF;
    background: $g__alert_color;
  }
}
