@import 'variables';

.control{
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;

  @media (max-width: 768px) {
    overflow: auto;
    top: -102px;
    width: max-content;

    &::-webkit-scrollbar-button {
      display: none;
      width:0;
      height:0
    }

    &::-webkit-scrollbar-track {
      display: none;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0;
      border-radius: 0;
      display: none;
    }

    &::-webkit-scrollbar-thumb:hover{
      display: none;
    }

    &::-webkit-resizer{
      background-repeat:no-repeat;
      width:0;
      height:0
    }

    &::-webkit-scrollbar{
      width: 0;
    }

    -ms-overflow-style: none;
  }

  &__btn{
    background: rgba(235, 237, 242, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    width: 216px;
    padding: 17px 40px 17px 15px;
    color: rgba(255,255,255,0.3);
    text-align: left;
    position: relative;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 768px) {
      color: $g__text_color_primary;

      & span {
        color: $g__text_color_primary;
      }
    }

    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
      color: rgba(255, 255, 255, 0.3);

      & span {
        color: rgba(255, 255, 255, 0.3);
      }

      & .control__count {
        color: rgba(255, 255, 255, 0.3);
      }

      @media (max-width: 793px) {
        background: rgba(235, 237, 242, 0.1) !important;
      }
    }

    &:hover{
      opacity: 1;
    }

    @media (max-width: 768px) {
      margin-right: 5px;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      width: 150px;
      height: 103px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px 10px;
      font-size: 16px;
      line-height: 20px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &--active{
      background: $g__body_background;
      border: 1px solid $g__outline_color;
      color: $g__text_color_secondary;
      border-bottom-color: #FFFFFF;

      & span {
        color: $g__text_color_primary;
      }
    }

    &--white{
      color: $g__text_color_primary;
      background: rgba(255, 255, 255, 0.6);
      @media (max-width: 768px) {
        background: $g__body_background;
        color: $g__text_color_primary;
      }
    }

    &--dark{
      color: $g__text_color_primary;
      background: $g__body_background;
      @media (max-width: 768px) {
        background: #F2F4F8;
      }
    }
  }

  &__count{
    position: absolute;
    right: 17px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;

    @media (max-width: 768px) {
      position: relative;
      right: auto;
      top: auto;
      font-size: 20px;
      line-height: 28px;
    }

    &--active {
      color: $g__text_color_primary;
    }

    &--fatal{
      color: #FF889B;
    }

    &--critical{
      color: #FFB36D;
    }

    &--possible{
      color: #FCD770;
    }

    &--recommendation{
      color: #A7E889;
    }
  }
}

.control__mobile{
  display: none;
  z-index: 5;
  left: 0;
  width: 100%;
  background: #FFFFFF;

  p{
    width: fit-content;
    margin: 0 auto;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 15px 10px 40px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 30px;
    z-index: 2;

    &::before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      background-image: url('/assets/images/icon-search-blue.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      left: 14px;
      top: 11px;
      z-index: 30;
    }
  }

  @media(max-width:793px){
    display: block;
  }

  & button {
    display: none;
  }

  &--active{
    background: #FFFFFF;
    border: none;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 15px;
    position: fixed;
    top: 10px;
    z-index: 1000;

    @media(max-width:793px){
      top: 0;

      p{
        top: 0;
        border: none;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        text-transform: none;
        padding: 0;
        font-weight: bold;

        &::before {
          display: none;
        }
      }
    }

    &::before {
      display: none;
    }

    & button {
      display: block;
      position: absolute;
      right: 20px;
      top: 12px;
      z-index: 30;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;

      & svg {
        fill: $g__text_color_primary;
      }
    }
  }
}
