@import 'variables';

.dropdown__wrap {
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-width: 729px;

  @media (max-width: 991px) {
    width: 100%;
    min-width: auto;
  }
}

.dropdown {
  position: relative;
  min-width: 230px;
  width: 100%;
  height: 51px;
  margin-right: 5px;
  display: inline-block;
  background: $g__white_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
  border-radius: 5px;
  cursor: pointer;
  @media (max-width: 793px) {
    min-width: 250px;
    margin-bottom: 10px;
  }


  &:last-of-type {
    margin-right: 0;
  }

  &--calendar {
    width: 159px;
  }
}

.dropdown__button {
  position: relative;
  padding: 15px;
  width: 96%;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  color: $g__text_color_secondary;
  text-align: left;
  background-color: transparent;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.dropdown__button-img-calendar {
  display: flex;
  align-items: center;

  & img {
    margin-right: 10px;
  }
}

.dropdown__button-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  transition: all 0.2s ease;

  &.rotate {
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.2s ease;
  }
}

.dropdown__button-text {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $g__text_color_secondary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--check {
    color: $g__text_color_primary;
  }
}

.dropdown__menu-wrap {
  position: absolute;
  top: 50px;
  padding-top: 2px;
  z-index: 5;
  overflow: hidden;
  max-height: 500px;
  width: 100%;

  &:hover {
    overflow-y: scroll;
  }
}

.dropdown__menu {
  padding: 9px 14px 14px;
  background: $g__white_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
  border-radius: 5px;
}

.dropdown__menu-title {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  color: $g__text_color_secondary;
}

.dropdown__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  padding-left: 28px;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: $g__white_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 3px;
  }
}

.dropdown__input--radio + .dropdown__label {
  &::before {
    border-radius: 50%;
  }
}

.dropdown__input:checked + .dropdown__label::before {
  background-color: transparent;
  background-image: url('../../assets/icons/icon-input-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.dropdown__wrap.mobile {
  display: block;
  flex: 1 0 auto;
  padding: 20px 20px 0;

  & .dropdown {
    max-width: none;
    height: auto;
    margin-right: 0;
    margin-bottom: 10px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: inherit;
  }

  & .dropdown__button {
    width: 100%;
    background: $g__white_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 4px rgba(21, 36, 56, 0.1));
    border-radius: 5px;
  }

  & .dropdown__button-img {
    right: 20px;
  }

  & .dropdown--calendar {
    width: 100%;
  }

  & .dropdown__menu-wrap {
    position: static;
    width: 100%;
    padding-top: 0;
    filter: drop-shadow(0px 2px 4px rgba(21, 36, 56, 0.1));
  }

  & .dropdown__menu {
    min-width: auto;
  }
}
