.edit{
  background-image: url("/assets/images/gray-edit.svg");
  width: 15px;
  height: 26px;
  background-size: 100%;
  display: block;
  background-repeat: no-repeat;
  margin-top: 14px;
  right: 8px;
  margin-left: 8px;
  &:hover{
    cursor: pointer;
  }

  @media (max-width: 850px){
    display: none;
  }
}
