.external-reg {
  &__links-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__link{
    display: flex;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    cursor: pointer;

    &:not(:last-of-type){
      margin-bottom: 10px;
    }
    &:last-of-type{
      margin-bottom: 20px;
    }
  }

  &__icon{
    width: 28px;
  }

  &__txt{
    margin: 0 auto;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #162941;
    display: flex;
    align-items: flex-end;
  }

  &__alternative-text{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    p{
      font-size: 15px;
      line-height: 18px;
    }
  }



}
