input,
textarea {
  -webkit-appearance: none;
}

.field {
  @include radius(5px);
  font-size: 18px;
  line-height: 21px;
  outline: 0;
  color: $g__text_color_secondary;
  width: 100%;
  border: 1px solid $g__outline_color;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  background-color: #FFF;
  padding: 34px 20px 13px 20px;

  @include breakpoint-md {
    @include rem(18);
    height: 70px;
    padding: 27px 20px 25px 20px;
  }

  &--md {
    @include breakpoint-md {
      height: 60px;
    }
  }

  &.error {
    border: 1px solid $g__alert_color;
    //color: $highlighted-color-secondary !important;
  }

  &.success {
    padding-right: 45px;
  }

  &[disabled] {
    background-color: transparent;
  }
}

.error_label {
  color: $g__alert_color;
  font-size: 15px;
  line-height: 18px;
}

.errors {
  text-align: center;
  margin-bottom: 24px;

  @media (max-width: 767px) {
    text-align: left;
    margin-top: 10px;
  }

  .login_error {
    color: $g__alert_color;
    font-size: 18px;
    line-height: 24px;

    @media (max-width: 767px) {
      font-size: 15px;
      line-height: 18px;
    }
  }

}
