@import 'variables';

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 767px) {
    display: none;
  }
}

.filter__button {
  padding: 14px 19px;
  margin-right: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &--find {
    display: none;
    color: $g__btn_primary_color;
    background: $g__btn_primary_background;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &--clear {
    color: $g__btn_attr_text_color;
    border: 1px solid $g__btn_attr_border_color;
    background: transparent;
  }

  @media (max-width: 991px) {
    margin-top: 15px;
  }
}

//Форма поиска мобилка
.filter__search {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.filter__search-input-wrap {
  position: relative;
  width: auto;
  padding: 11px 15px 11px 40px;
  line-height: 1;
  background: $g__white_background;
  border: 1px solid $g__outline_color;
  box-sizing: border-box;
  border-radius: 30px;

  &::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("/assets/icons/icon-search-2.svg");
    background-size: 20px 20px;
  }
}

.filter__search-input-wrap span {
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 1;
  color: $g__text_color_primary;
}

.filter.mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 50px;
  height: 100vh;
  background-color: $g__body_background;
  overflow-y: scroll;

  & .filter__buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
  }

  & .filter__button {
    margin: 0;

    &--clear {
      order: 1;
      //color: #00AFEC;
      //border: 1px solid #00AFEC;
      opacity: 1;
    }

    &--find {
      order: 2;
    }
  }
}

.filter__search.mobile {
  position: fixed;
  top: 0;
  left: 0;
  padding: 13px 20px;
  background: $g__white_background;
  z-index: 1001;

  & .filter__search-input-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: $g__text_color_primary;
    background: transparent;
    border: none;
    border-radius: 0;

    &::before {
      display: none;
    }

    & span {
      width: auto;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
  }

  & .filter__search-close {
    position: relative;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    display: block;
    z-index: 2;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 24px;
      width: 2px;
      background-color: $g__text_color_primary;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
