.form-item {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__head{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: $g__text_color_primary;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px
    }
  }

  &__input{
    position: relative;
    display: flex;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 15px 50px 15px 20px;
    justify-content: flex-end;

    p{
      z-index: 2;
      margin-bottom: 0;
      position: relative;
      margin-right:auto;
      @media (max-width:768px){
        max-width: 89%;
      }
    }


    &:last-of-type{
      padding: 15px 20px;
    }

    &:hover{
      cursor: pointer;
    }

    input{
      height: 100%;
      position: absolute;
      opacity: 0;
      display: flex;
      width: 100%;
      top: 0;
      left: 0;

      &:checked~ .form-item__placeholder{
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          border: 1px solid $g__success_color;
          box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
          left: 0;
          top: 0;
          border-radius: 5px;
          z-index: 2;
        }
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: $g__success_background;
          left: 0;
          top: 0;
          z-index: 1;
        }
      }
    }

  }

  &__add{
    font-size: 13px;
    line-height: 18px;
    color: $g__link_color;
    text-decoration: underline;
    cursor: pointer;


    @media (max-width: 768px) {
      background: #FFFFFF;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;
      text-decoration: none;
      padding: 12px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

  }

  &__subtitle{
    font-size: 16px;
    line-height: 20px;
    color: $g__text_color_secondary;
    margin-bottom: 10px;
  }


  &__wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }


  &__placeholder{
    text-align: right;
    margin-bottom: 0;
    color: $g__text_color_secondary;
    margin-left: 10px;


    &-wrapper{
      padding-right: 30px;

      &--no-padding{
        padding-right: 0;
      }

      @media (max-width: 768px) {
        width: fit-content;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 0px;
      }
    }
  }


  &__text{
    padding:0;
    margin-bottom: 5px;
    justify-content: space-between;

    &:last-of-type{
      padding:0;
    }

    &--delete{
      position: absolute;
      width: 18px;
      height: 18px;
      margin-left: 20px;
      right: 15px;
      top: 14px;
      z-index: 5;

      &::after{
        width: 18px;
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        background-size: 100%;
        height: 18px;
        background-image: url("/assets/images/delete.png");
        right: 0;
        top:0;
      }
    }

    &--invalid{
      color: $g__alert_color;
      padding-bottom: 10px;
      margin-top: -5px;
      font-size: 13px;
      line-height: 18px;
    }

    input{
      font-size: 16px;
      line-height: 19px;
      color: #162941;
      justify-content: space-between;
      display: flex;
      width: 100%;
      opacity: 1;
      position: relative;
      padding: 15px 20px;
      border: none;
      background: none;


      &:invalid{
        border: 1px solid $g__alert_color;
        box-sizing: border-box;
        box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
        border-radius: 5px;
      }

      &::placeholder{
        color: $g__text_color_secondary;
        font-size: 16px;
        line-height: 19px;
        font-family: 'Roboto', sans-serif;
      }
    }
    &--padding{
      input{
        padding: 15px 40px 15px 20px;
      }
    }

  }

  &__payment{
    display: flex;
    align-items: center;
    p{
      margin-right: 20px;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__btn-block{
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column-reverse;

      & .back-button {
        margin-top: 20px;
      }
    }

    &--mini{
      display: flex;
      align-items: center;

      & p {
        margin-right: 20px;

        @media (max-width: 768px) {
          margin-right: 0;
        }
      }
    }

    p{
      font-size: 18px;
      line-height: 20px;
      text-align: right;
      color: $g__text_color_primary;
      margin-bottom: 0;
      font-family: 'Roboto', sans-serif;
    }

    &--back{
      font-size: 18px;
      line-height: 21px;
      color: $g__btn_attr_text_color;
      padding-left: 30px;
      border: none;
      background: none;
      position: relative;

      &::after{
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 20px;
        height: 100%;
        background-image: url("/assets/images/icon-arrow-gray.svg");
        transform: rotate(180deg);
        left: 0;
        top: -40%;
      }
    }
  }
}

.hide{
  display: none;
}
