@import 'variables';

.form-card {

  &__table {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    @media (max-width: 793px) {
      display: block;
      overflow: auto;
    }


    thead {
      background-color: $white;

      tr {
        //border-top-left-radius: 5px;
        //border-left: 1px solid rgba(0, 0, 0, 0.15);
        //border-right: 1px solid rgba(0, 0, 0, 0.15);
        //border-top: 1px solid rgba(0, 0, 0, 0.15);
      }

      th {
        @include rem(12);
        @include line-height(15, 13);
        font-weight: 400;
        color: $g__text_color_secondary;
        padding: 7px;
        text-align: left;
        //border-top: 1px solid rgba($black, 0.15);

        @include breakpoint-lg {
          @include rem(13);
          padding: 15px 20px 7px 20px;
        }

        &:first-child {
          border-top-left-radius: 5px;
          //border-left: 1px solid rgba($black, 0.15);
        }

        &:last-child {
          border-top-right-radius: 5px;
          //border-right: 1px solid rgba($black, 0.15);
        }
      }

    }

    tbody {
      background-color: #F7F7FA;

      td {
        padding: 7px;
        @include rem(14);
        @include line-height(21, 18);
        color: $g__text_color_primary;

        @include breakpoint-lg {
          @include rem(18);
          padding: 10px 20px 9px 20px;
        }

        &.black {
          color: $g__text_color_primary;
        }
      }
    }
  }
}
