.form-section {
  padding-bottom: 30px;
  padding-top: 30px;

  @include breakpoint-md {
    padding-bottom: 50px;
    padding-top: 80px;
  }

  &__account {
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 1.25;
    }

    @extend .text-center;
    margin-top: 106px;
    font-size: 18px;
    line-height: 24px;

  }
}
