.header-court{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  &__card-header-main{
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    margin-bottom: auto;
    position: relative;

    &:hover{
      .prompt__hidden{
        display: block;
        bottom: 100%;
      }
    }
    @media (max-width: 850px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  @media (max-width: 850px) {
    padding: 20px 20px 0;
  }

  &__card-extra{
    font-size: 13px;
    line-height: 18px;
    color: #929FAB;
    display: flex;
    flex-direction: column;

    @media (max-width: 850px) {
      display: none;
    }
  }

  &__card-subtitle{
    display: flex;
    width: 100%;
    position: relative;

    @media (max-width: 850px){
      align-items: center;
      width: auto;
      flex-grow: 1;
    }

    p{
      font-size: 16px;
      line-height: 24px;
      color: #152438;
      position: relative;
    }
  }

  &__card-mobile-hidden{
    @media (max-width: 850px){
      display: none;
    }
  }

  &__card-txt{
    color: #929FAB;
    font-size: 13px;
    line-height: 1.38;
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__card-bottom{
    margin-bottom: 7px;
    position: relative;
    padding-right: 40px;
    width: fit-content;

    .prompt__question{
      top:0;
      right: 10px;
    }
    @media (max-width: 850px) {
      font-size: 13px;
      line-height: 18px;
    }

  }

  &__card-bottom-txt{
    font-size: 13px;
    line-height: 18px;
  }

  &__card{
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 22.6%;
    margin-bottom: 26px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin-right: 40px;

    &:last-of-type{
      margin-right: 0;
    }

    @media (max-width: 850px) {
      width: 100%;
      margin-bottom: 20px;
      min-height: 0;
      padding: 10px;

      &:last-of-type{
        margin-bottom: 0;
      }
    }

    &--wrapper{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 22.6%;
      margin-bottom: 26px;
      z-index: 2;
      margin-right: 40px;
      min-height: 160px;
      .header-court__card{
        height: 100%;
      }

      @media (max-width: 850px) {
        width: 100%;
        min-height: 0;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .header-court__card{
        width: 100%;
        margin-bottom: 0;
      }
    }

    small{
      font-size: 13px;
      line-height: 18px;
      color: #929FAB;
      position: relative;
      @media (max-width: 850px) {
        margin-top: 20px;
      }

      &:hover{
        .prompt__hidden {
          font-size: 13px;
          line-height: 15px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          left: 0;
          min-width: 212px;

          p{
            color: #152438;
            margin-bottom: 10px;
          }

          span{
            color: #929FAB;
            padding-bottom: 10px;
            border-bottom: 1px solid #E0E3EA;
            margin-bottom: 10px;

            &:last-of-type{
              margin-bottom: 0;
              border-bottom: none;
              padding-bottom: 0}
          }
        }
      }
    }

    &--court{
      background: #C9E0FF;
      flex-grow: 1;
    }

    &--finished{
      flex-grow: 1;
      background: #E6E6E6;
    }

    &--claim{
      background: #FCD770;
    }

    &--penalty{
      background: #DBF3A8;
      flex-grow: 1;
    }

    &--request{
      background: #EDEFF4;
      flex-grow: 1;
    }
  }

  &__on-card{
    position: absolute;
    top: -20px;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    color: #6B757E;
    width: 100%;
    padding: 3px 3px 3px 20px;
    background: #DFE6EE;
    border-radius: 5px;
    left: 0;
    z-index: 1;
  }

  &__block{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: none;
    &:last-of-type{
      flex-direction: row;
    }

    @media (max-width: 850px) {
      &:first-of-type{
        padding-bottom: 72px;
      }
      &:last-of-type{
        flex-direction: column;
      }
      position: relative;
    }

    &--head{
      div{
        display: flex
      }

      span{
        text-decoration: underline;
      }

      button{
        background: none;
        font-size: 13px;
        line-height: 18px;
        color: #00AFEC;
        padding: 12px 12px 12px 35px;
        border: 1px solid #00AFEC;
        box-sizing: border-box;
        border-radius: 5px;
        position: relative;
        margin-left: auto;

        &::before {
          content: "";
          width: 16px;
          height: 16px;
          position: absolute;
          background-image: url('/assets/images/plus.svg');
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          left:13px;
          top: 13px;
        }

        &:hover{
          cursor: pointer;
        }

        @media (max-width: 850px) {
          position: absolute;
          bottom: 20px;
        }

        @media (max-width: 375px) {
          width: 100%;
          &::before {
            left:62px;
          }
        }
      }

      p{
        font-size: 18px;
        line-height: 24px;
        color: rgba(21, 36, 56, 0.5);
        margin-bottom: 40px;

        @media (max-width: 850px){
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 10px;
        }
      }

      .resizable{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 44px;
        color: #152438;
        margin-bottom: 7px;
        width: fit-content;
        min-width: 5px;
        position: relative;
        background: none;
        border: none;
        resize: none;

        @media (max-width: 850px){
          font-size: 24px;
          line-height: 32px;
        }

        &:focus{
          background-color: white;
          border-radius: 5px;
          padding: 0 3px;
        }

      }

    }
  }

  &__link-back{
    font-size: 18px;
    line-height: 24px;
    color: rgba(21, 36, 56, 0.5);
    margin-bottom: 0 !important;
    padding-left: 30px;
    position: relative;
    display: flex;
    align-items: center;

    span{
      font-size: 18px;
      line-height: 24px;
      text-decoration-line: underline;
      color: #00AFEC;
      margin-right: 5px;

      @media (max-width: 850px) {
        font-size: 13px;
        line-height: 18px;
      }
    }

    @media (max-width: 850px) {
      margin-bottom: 10px !important;
      display: block;
    }

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: "";
      width: 26px;
      height: 26px;
      position: absolute;
      background-image: url('/assets/images/back-arr.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      left: 0;
      top: 10px;
      @media (max-width: 850px) {
        top: -3px;
      }
    }
  }
}
