.hidden{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #152438;
    margin-bottom: 30px;
    position: relative;
    width: fit-content;

    @media (max-width: 500px){
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    span{
      position: relative;
      left: 30px;
    }

    span::after{
      width: 24px;
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: 100%;
      height: 32px;
      background-image: url("/assets/images/warning.png");
      top: 3px;
      right: 0;
    }
  }

  &--margin h3{
    margin-bottom: 22px;
  }

  &__blocks-wrapper{
    display: flex;
    justify-content: space-between;

    @media (max-width: 500px){
      flex-direction: column;
      gap: 20px;
    }

    &--column{
      flex-direction: column;
    }
  }

  &__blocks-table-wrapper{
    background: $g__attention_background;
    border: 1px solid #FF9330;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    padding: 20px;
    line-height: 133%;
    margin-bottom: 30px;

    @media (max-width: 500px){
      padding: 10px;
    }

    h4{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      color: #FF9330;
      margin-bottom: 5px;
    }

    p{
      font-size: 18px;
      line-height: 24px;
      color: #152438;
    }
  }

  &__blocks-after-table{
    display: flex;
    width: 100%;

    @media (max-width: 790px){
      flex-direction: column;
      gap: 10px;
    }
  }

  &__input-text-wrapper{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  &__block{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    flex-grow: 1;
    position:relative;

    &:not(:first-of-type){
      padding-left: 50px;
      @media (max-width: 790px){
        padding-left:0;
      }
    }

    &:first-of-type:after{
      position: absolute;
      content: '';
      width: 2px;
      background: #E0E3E8;
      height: 221px;
      top: 0;
      right: 0;

      @media (max-width: 790px){
        display: none;
      }
    }

    &--no-line:first-of-type:after{
      display: none;
    }

    &--separating{
      background: #F7F8FB;
      border: 1px solid rgba(21, 36, 56, 0.1);
      box-sizing: border-box;
      border-radius: 5px;
      padding: 42px 50px;
      width: 100%;

      @media (max-width: 500px){
        padding: 15px 10px;
      }

      h4{
        font-size: 24px;
        line-height: 32px;
        color: #152438;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        letter-spacing: normal;
        text-transform: none;
      }

      &:after{
        display: none;
      }

    }

    p{
      font-size: 16px;
      line-height: 20px;
      color: #152438;
      margin-bottom: 17px;
    }
  }

  &__file-wrapper{
    background: #FFFFFF;
    border: 1px solid #E9ECF2;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    width: 384px;

    span{
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #152438;
    }

    a{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #929FAB;
    }

  }

  &__btn-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    @media (max-width: 500px){
      margin-top: 10px;
    }

    &--position{
      justify-content: space-between;

      @media (max-width: 500px){
        flex-direction: column-reverse;
        gap: 10px;
      }
    }
    button {
      @media (max-width: 500px){
        width: 100%;
      }
    }

  }

  &__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 95%;

    li{
      font-size: 16px;
      line-height: 24px;
      color: #152438;
      margin-bottom: 10px;
      padding-left: 35px;
      position: relative;

      &:last-of-type{
        margin-bottom: 0;
      }

      &:after{
        width: 24px;
        height: 24px;
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('/assets/images/blue-done.svg');
        top: 0;
        left: 0;
        content: '';
        border-radius: 50%;
      }
    }
  }
}

.hidden .hidden__short {
  margin-bottom: 20px;
}

.hidden .hidden__subtitle {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #929FAB;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;

}

.hidden .hidden__chat{
  font-size: 16px;
  line-height: 20px;
  color: #00AFEC;
  padding-left: 28px;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 2;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/images/telegram.svg");
    left: 3px;
    top: 0;
  }

}

.hidden .hidden__text{
  width: 93%;
}

.hidden .hidden__choice{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #162941;
  padding: 16px 20px;
  background: #F7F8FB;
  border: 1px solid #72CA49;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  display: flex;
  width: 100%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 2;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/images/icon-circle-check.svg");
    right: 10px;
    top: 12px;
  }

  p{
    margin-bottom: 0;
  }
}
