.hidden-table{
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  border-collapse: collapse;


  @media (max-width: 790px){
    tr:first-of-type, tr:last-of-type{
      display: none;
    }

    tr{
      display: flex;
      flex-direction: column;

      td{
        width: 100%;

        p{
          display: block;
          font-size: 13px;
          line-height: 18px;
          font-weight: normal;
        }

        &:first-of-type{
          font-weight: bold;
        }
        &::after{
          display: none;
        }
      }
    }
  }

  th{
    background: #E8DFD4;
    padding: 8px 20px;
    position: relative;

    @media (max-width: 790px) {
      padding: 8px 10px;
    }

    &:first-of-type{
      border-radius: 3px 0 0 3px;
    }
    &:last-of-type{
      border-radius: 0 3px 3px 0;
    }

    &:not(:last-of-type)::after{
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      right:0 ;
      top: 0;
      background: #D9D0C6;
    }
  }

  tr{
    background: #FCF6EE;

    &:nth-child(2n) {
      background: $g__attention_background;
    }

    @media (max-width: 790px) {
      background: $g__attention_background;

      &:nth-child(2n) {
        background: #FCF6EE;
      }
    }
  }

  td{
    padding: 8px 20px;
    font-size: 18px;
    position: relative;
    width: 22%;

    @media (max-width: 790px) {
      padding: 8px 10px;
      font-size: 13px;
      line-height: 18px;

      &:first-of-type{
        font-size: 16px;
        line-height: 20px;
      }
    }

    p{
      display: none;
    }


    @media (max-width:790px) {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }

    &:first-of-type{
      border-radius: 3px 0 0 3px;
      width: 34%;
    }
    &:last-of-type{
      border-radius: 0 3px 3px 0;
    }

    &:not(:last-of-type)::after{
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      right:0 ;
      top: 0;
      background: #D9D0C6;
    }
  }

  &__minus{
    color: #00AFEC;
  }

  &__sum{
    position: relative;

    p{
      display: none;
    }

    @media (max-width:790px) {
      p{
        display: block;
        font-size: 13px;
        line-height: 18px;
      }

      .hidden-table__question{
        display: none;
      }
    }

  }

  &__question{
    color: #00AFEC;
    width: 20px;
    height: 20px;
    right: -30px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 13px;
    line-height: 16px;
    &:hover{
      border: 1px solid #00AFEC;
    }

  }

  &__prompt{
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    width: 320px;
    position: absolute;
    bottom: -11px;
    right: 100px;
    z-index: 3;
    display: none;
  }

  &__bold{
    font-weight: bold;
  }
}

.hidden-table__question:hover .hidden-table__prompt{
  display: block;
}

.hidden-table__question .hidden-table__prompt p {
  font-size: 13px;
  line-height: 15px;
}
