.input-text {
  background: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;

  input placeholder{
    font-size: 16px;
    line-height: 19px;
    color: #929FAB;
    font-family: 'Roboto', sans-serif;
  }

  input{
    width: 100%;
    display: flex;
    min-height: 50px;
    padding: 16px 20px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    color: #162941;
    border-radius: 5px;
  }
}
.input-checkbox input:checked ~ .input-checkbox__label--no-check::after {
 display: none;
}

.input-checkbox input:checked ~ .input-checkbox__label--no-check {
  border: none;
}
