.modal {
  display: flex;
  align-items: center;
  height: 100%;

  &--order {
    .modal__container {
      width: 100%;
      padding: 0 15px;
      max-width: 845px;
      //max-width: 1100px;
      margin: 0 auto;
      @media (max-width: 768px) {
        padding: 0 20px;
      }

    }
  }

  &__top {
    position: relative;
    padding-right: 35px;
    margin-bottom: 20px;
  }


  &__close {
    top: 10px;
    right: 0;
    position: absolute;
    cursor: pointer;
    display: block;
    @include size(25px, 25px);

    @media (max-width: 768px) {
      width: 21px;
      top: 1px;
      right: 2px;
    }

    & svg {
      fill: $request_modal__icon_close_color;

      @media (max-width: 768px) {
        width: 23px;
        height: 23px;
      }
    }
  }

  &__title {
    @include rem(25);
    @include line-height(32, 25);
    color: $request_modal__title_color;
    font-weight: 400;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.modal-wrapper {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba($black, 0.7);
  z-index: 99999;
}
