.modal-universal{


  @media (max-width: 500px) {
    position: fixed;
    margin-left: -20px;
  }

  &__btn-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 15px;
      button{
        padding: 13px 15px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  &__close{
    width: 46px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 46px;
    background-image: url('/assets/images/x.svg');
    right: 0;
    top: 0;
    cursor: pointer;
  }

  &__main-wrapper{
    background-color: white;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 37px 75px;
    max-width: 800px;
    position: relative;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    max-width: 850px;
    width: 100%;
    height: auto;
    max-height: 85%;
    //overflow-y: auto;
    z-index: 1001;
  }

  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

}
