@import 'variables';

.monitoring-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 1000;
  min-width: 375px;

  @media (max-width: 767px) {
    overflow-y: scroll;
  }
}

.monitoring-modal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.monitoring-modal__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 960px;
  width: 100%;
  height: auto;
  max-height: 95%;
  background: $g__white_background ;
  box-shadow: 0px 10px 30px rgba(47, 34, 87, 0.2);
  border-radius: 10px;
  overflow-y: auto;
  z-index: 1001;

  &--height{
    max-height: 100%;
  }

  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    max-height: none;
    top: 0;
    right: 0;
    left: 0;
    transform: none;
  }
}

.monitoring-modal__wrap::-webkit-scrollbar { width: 0; }
.monitoring-modal__wrap { -ms-overflow-style: none; }
.monitoring-modal__wrap { overflow: -moz-scrollbars-none; }

.monitoring-modal__header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background: $header__light_background;
  border-radius: 5px 5px 0 0;

  @media (max-width:970px){
    padding: 5px;
    border-radius: 10px 10px 0 0;
    img{
      width: 66.18px;
      height: 50px;
      overflow: hidden;
      margin-right: 10px;
    }

    p{
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.monitoring-modal__header-img {
  width: 80px;
  height: 54px;
  margin-right: 18px;
  border-radius: 5px;
}

.monitoring-modal__header-info {
  margin-top: 10px;
  font-size: 18px;
  line-height: 30px;
  color: $g__text_color_primary;
}

.monitoring-modal__info {
  padding: 45px 40.5px;
  box-sizing: border-box;

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.monitoring-modal__title {
  font-family: 'Roboto Condensed';
  margin: 0;
  font-size: 48px;
  line-height: 60px;
  color: $g__text_color_primary;

  @media (max-width: 767px) {
    font-weight: 400;
    font-family: inherit;
    font-size: 24px;
    line-height: 32px;
  }
}

.monitoring-modal__desc {
  margin: 10px 0 0;
  font-size: 18px;
  line-height: 24px;
  color: $g__text_color_primary;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.monitoring-modal__table-wrap {
  margin-top: 45px;

  @media (max-width: 767px) {
    margin-top: 20px;
  }
}

.monitoring-modal__table-title {
  font-family: 'Roboto Condensed';
  margin: 0;
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 45px;
  color: $g__text_color_primary;

  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-family: inherit;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
}

.monitoring-modal__table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  & tr {
    border-bottom: 1px solid #EAEAEA;

    @media (max-width: 767px) {
      display: grid;
      padding: 10px;
      margin-bottom: 5px;
      border: 1px solid $g__outline_color;
      box-sizing: border-box;
      border-radius: 5px;

      &:first-of-type {
        display: none;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  & th {
    padding: 11px 15px;
    font-size: 13px;
    line-height: 18px;
    color: #808895;
    font-weight: 400;
    background: #F7F7F7;

    &:first-child {
      width: 13.5%;
    }

    &:nth-child(2) {
      width: 18%;
    }
  }

  & td {
    padding: 12px 15px 9px;
    font-size: 13px;
    line-height: 18px;
    color: $g__text_color_primary;

    @media (max-width: 767px) {
      padding: 0;
    }
  }
}

.monitoring-modal__table-risk  {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    grid-row: 1/2;
    margin-bottom: 5px;

    & span {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.monitoring-modal__table-desc {
  @media (max-width: 767px) {
    grid-row: 2/3;
    margin-bottom: 5px;

    & span {
      display: block;
      padding-left: 22px;
    }
  }
}

.monitoring-modal__table-date {
  @media (max-width: 767px) {
    grid-row: 3/4;
    color: $g__text_color_primary;

    & span {
      padding-left: 22px;
    }
  }
}

.monitoring-modal__table-toDo{
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  padding: 5px 29px 5px 10px;
  width: 99px;
  max-width: 99px;
  display: flex;
  position: relative;
  cursor: pointer;

  &:after{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(/assets/icons/arrow-blue-right.svg);
    width: 7px;
    height: 13px;
    right: 6px;
    top: 9px;
  }
}

.monitoring-modal__table-risk__level {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: #FF1037;
  border-radius: 50%;

  &--fatal {
    background: #FF1037;

    @media (max-width: 767px) {
      width: 12px;
      height: 12px;
    }
  }

  &--critical {
    background: #FF8310;

    @media (max-width: 767px) {
      width: 10px;
      height: 10px;
      margin-right: 12px;
    }
  }

  &--possible {
    background: #FCD770;

    @media (max-width: 767px) {
      width: 8px;
      height: 8px;
      margin-right: 14px;
    }
  }

  &--recommendation {
    background: #72CA49;

    @media (max-width: 767px) {
      width: 8px;
      height: 8px;
      margin-right: 14px;
    }
  }
}

.monitoring-modal__footer {
  padding: 15px 40.5px 40px;
  background: $g__success_background;
  border-radius: 0px 0px 10px 10px;

  @media (max-width: 767px) {
    padding: 20px;
    border-top: 1px solid $g__outline_color;
  }
}

.monitoring-modal__footer-events {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FF1037;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.monitoring-modal__footer-object {
  margin: 0 0 34px;
  font-size: 18px;
  line-height: 24px;
  color: $g__text_color_primary;

  @media (max-width: 767px) {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 20px;
  }
}

.monitoring-modal__btn {
  font-family: inherit;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: $g__btn_primary_color;
  background: $g__btn_primary_background;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  @media (max-width: 767px) {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    background: $g__btn_primary_background;
  }
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3d5779;
  opacity: 0.4;
  z-index: 999;
}
