@import 'variables';

.organization-dropdown {
  position: relative;
  display: inline-block;
}

.organization-dropdown__button {
  position: relative;
  margin-left: 10px;
  padding: 0 25px 0 0;
  font-family: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;

  & .dropdown__button-img {
    stroke: $g__link_color;
    fill: none;

    @media (max-width: 767px) {
      top: 16px;
    }
  }

  @media (max-width: 991px) {
    margin: 5px 0 0;
  }
}

.organization-dropdown__text {
  font-size: 25px;
  line-height: 27px;
  color: $g__link_color;
  border-bottom: 1px dashed $g__link_color;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.organization-dropdown__menu-wrap {
  position: absolute;
  top: 100%;
  left: 10px;
  width: 338px;
  padding-top: 20px;
  z-index: 5;

  @media (max-width: 767px) {
    left: 0;
    right: 0;
    width: 100%;
  }
}
