.payment{
  padding: 40px 0;

  h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    color: #152438;
    margin-bottom: 20px;
  }

  &__btns-block{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;

  }

  &__btn {
    display: block;
    width: 48%;
    max-width: 420px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 25px;
    background: #F2F4F8;
    border: 1px solid rgba(21, 36, 56, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;

    &:focus-within {
      color: #FFFFFF;
      background: #00AFEC;
      box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
      border: none;
    }
  }

  &__component{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;

    p{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      color: #CACACA;
    }
  }

  &__btn-wrapper{
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;

    &--position{
      justify-content: space-between;
    }
  }


  &__link{
    display: flex;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(111, 132, 152, 0.1);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #152438;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 50px;

    img{
      margin-bottom: 30px;
    }

    p{
      max-width:75%
    }
  }
}
