.price-card {
  @include radius(5px);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: 1px solid rgba(21, 36, 56, 0.15);
  padding: 15px;
  width: 100%;
  min-height: 91px;
  transition: all 0.3s;

  @include breakpoint-lg {
    padding: 14px 80px 10px 15px;
  }


  &--active {
    background-color: $white;

  }

  &__sale {
    @include rem(13);
    @include line-height(16, 13);
    @extend .bold;
    @include radius(5px);
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px 5px;
    background-color: #72CA49;
    color: $white;

    @include breakpoint-lg {
      @include line-height(24, 13);
      position: absolute;
      right: 10px;
      top: 10px;
      margin-bottom: 0;
      padding: 2px 10px;
    }

    &--red {
      background-color: $g__alert_color;
    }
  }

  &__price {
    @extend .bold;
    margin-left: auto;
    white-space: nowrap;
  }

  &__inner {
    display: flex;
  }

  &__name {
    margin-bottom: 3px;
  }

  &__text {
    padding-right: 10px;
    flex-grow: 1;

    @include breakpoint-lg {
      flex-basis: 69%;
      padding-right: 15px;
    }
  }

  &__toggle {
    margin-right: 11px;
  }

  &__checkbox {
    @extend .visual-hidden;

    &:checked {
      & + label {
        background-color: #72CA49;

        &::before {
          left: calc(100% - 3px);
          transform: translate(-100%, -50%);
        }
      }
    }
  }

  &__label {
    @include radius(20px);
    @include size(34px, 20px);
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #EBEDF2;
    border: 1px solid rgba($black, 0.15);
    font-size: 0;

    &::before {
      content: '';
      position: absolute;
      @include radius(50%);
      @include size(14px, 14px);
      left: 3px;
      top: 50%;
      transform: translate(0, -50%);
      background-color: $white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      transition: all 0.3s;
    }
  }
}

.price-cards {
  &__element {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
