.price-section {
  &__row {
    @include breakpoint-md {
      @include make-row;
    }
  }

  &__left {
    @include breakpoint-md {
      @include make-col-ready;
      @include make-col(7.68);
    }
  }

  &__right {
    margin-top: 20px;
    @include breakpoint-md {
      @include make-col-ready;
      @include make-col(4.32);
      margin-top: 0;
    }
  }
}
