.progress-card {
  @include radius(5px);
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: $white;

  & + .info-card {
    margin-top: 10px;
  }

  &__progress {
    &-wrap {
      @extend .text-center;
      max-height: 150px;
      position: relative;

      & + .progress-card__top-remark {
        margin-top: -15px;
      }
    }

    &-img {
      img {
        vertical-align: middle;
        max-height: 100%;
      }
    }

    &-num {
      @include rem(50);
      @include line-height(60, 50);
      @extend .bold;
      font-family: $secondary-font-family;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -30%);
      position: absolute;
      display: block;
    }
  }

  &__top {
    padding: 20px 16px 14px 18px;

    &-remark {
      @extend .text-center;
      @include rem(13);
      @include line-height(20, 13);
      color: #79818B;
      display: block;
    }
  }

  &__bottom {
    padding: 12px 20px 21px 18px;
    border-top: 1px solid #D9D9D9;

    &-inner {
      margin-bottom: 15px;

      @include breakpoint-md {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__remark {
    @include rem(13);
    @include line-height(20, 13);
    display: block;
    margin-bottom: 6px;
  }

  &__old-price {
    @include rem(20);
    @include line-height(26, 20);
    display: inline-block;
    color: #79818B;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      top: 50%;
      background-color: $g__alert_color;
      transform: rotate(15deg) translateY(-50%);
    }
  }

  &__new-price {
    @include rem(20);
    @include line-height(26, 20);
    @extend .bold;
  }

  &__sale {
    @include rem(13);
    @include line-height(24, 13);
    @extend .bold;
    display: block;
    margin-bottom: 4px;
  }

  .btn {
    @extend .text-left;
    width: 100%;
  }
}
