@import 'variables';

.prompt{

  &__active{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    position: relative;

    .prompt__hidden {
      z-index: 100;
    }
  }

  &__question{
    color: $g__text_color_primary;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    flex-shrink: 0;

    &:hover{
      border: 1px solid $g__link_color;
    }
  }

  &__hidden{
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    right: -12px;
    z-index: 6000;
    display: none;
    width: fit-content;

    p {
      font-size: 13px;
      line-height: 15px;
      color: $g__text_color_primary;
      margin-bottom: 0;
    }
  }
}

.prompt__question:hover .prompt__hidden, .prompt__active:hover .prompt__hidden{
  display: flex;
  width: max-content;
  min-width: min-content;
  max-width: 200px;
  text-align: left;

  @media(max-width:600px) {
    max-width: 185px;
  }
}
