@import 'variables';

.risk-modal__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 960px;
  width: 100%;
  max-height: 90%;
  background: $white;
  box-shadow: 0 10px 30px rgba(47, 34, 87, 0.2);
  border-radius: 10px;
  overflow-y: auto;
  z-index: 1001;
}

.risk-modal__content {
  padding: 40px 40px 8px;
  border-bottom: 1px solid #E4E4E4;

  @media (max-width: 767px) {
    padding: 17px 20px;
  }
}

.risk-modal__criticality {
  margin-bottom: 10px;
  padding: 5px 10px;
  width: fit-content;
  font-size: 11px;
  line-height: 1.45;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;

  @media (max-width: 767px) {
    margin-bottom: 17px;
  }

  &--critical{
    color: #FFFFFF;
    background: $g__alert_color;
  }

  &--high{
    color: #FFFFFF;
    background: $g__warning_color;
  }

  &--middle{
    color: $g__text_color_primary;
    background: #FCD770;
  }

  &--recommendation{
    color: $g__text_color_primary;
    background: #FFE8BB;
  }
}

.risk-modal__big-big{
  @media (max-width:970px) {
    width: 80%;
    margin: auto;
  }
  @media (max-width:590px) {
    width: 100%;
  }
}

.risk-modal__title {
  margin: 0 0 23px;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-family: inherit;
    font-size: 24px;
  }
}

.risk-modal__desc {
  padding: 19px 20px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  background: $g__warning_background;
  border: 1px solid $g__alert_color;
  box-sizing: border-box;
  border-radius: 5px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
    padding: 9px;
    font-size: 16px;
    line-height: 20px;
  }
}

.risk-modal__desc-warning {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $g__alert_color;
}

.risk-modal__about-wrap {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #D9DBE1;

  & img {
    object-fit: contain;
  }

  @media (max-width:970px){
    flex-direction: column;
  }
}
.risk-modal__img-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 435px;

  @media (max-width:970px){
    width:100%;
  }
}

.risk-modal__big-img-wrapper{
  width:420px;
  height:296px;
  margin-right: 40px;
  border: 1px solid #DFE1E7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  box-sizing: border-box;

  & a {
    display: block;
    height: 100%;
  }

  &--mini{
    border: 1px solid #DFE1E7;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width:97px;
    height:68px;
    box-sizing: border-box;

    @media (max-width:970px){
      margin: 0 auto 10px;
    }

    img{
      max-height: 55px;
    }
  }

  @media (max-width:970px){
    width: 335px;
    height: 235px;
    overflow: hidden;
    margin: 0 auto 10px;
  }
}


.risk-modal__about-img-wrapper{
  background: #FFFFFF;
  border: 1px solid #DFE1E7;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  Width:420px;
  Height :296px;
  margin-right: 40px;
  margin-bottom: 45px;

  &--gray{
    background: #EBF0F6
  }

  @media (max-width:970px){
    width: 335px;
    height: 235px;
    overflow: hidden;
    margin: 0 auto 10px;
  }

}

.risk-modal__more-img{
  border: 1px solid #DFE1E7;
  border-radius: 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #307ABD;
  padding: 13px;
  margin-bottom: 10px;
  width: 97px;
  cursor: pointer;

  @media (max-width:970px){
    margin: auto;
  }
}


.risk-modal__domain{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-family: 'Roboto Condensed',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 44px;
  color: #162941;
  padding: 10px 30px;
}

.risk-modal__bold-text{
  font-weight: bold;
}

.risk-modal__about {
  margin: 0;
  font-size: 18px;
  line-height: 24px;

  & div {
    margin-bottom: 25px;

    @media (max-width:970px){
      margin-bottom: 20px;
    }

    @media (max-width: 767px) {
      margin-bottom: 15px;

    }
  }

  & dt {
    margin-bottom: 5px;
    color: $g__text_color_secondary;

    @media (max-width: 767px) {
      font-size: 13px;
      line-height: 18px;
    }
  }

  & dd {
    margin: 0;
    color: $g__text_color_primary;

    &.risk-modal__about-expire {
      color: $g__alert_color;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.risk-modal__about .risk-modal__in-row{
  display: flex;
  margin-bottom:0;
  div:first-of-type{
    margin-right: 30px;
  }

  @media (max-width:970px){
    flex-direction: column;
    div:first-of-type{
      margin-right: 0 ;
      margin-bottom: 20px;
    }
    div:last-of-type{
      margin-left: 0 !important;
    }
  }
}

.risk-modal__about .risk-modal__ceil-width{
  width: 190px;
}

.risk-modal__about .gray-text{
  color: #162941;
  opacity: 0.5;
  margin-right: 5px;
}

.risk-modal__about-name {
  font-weight: 700;
}

.risk-modal__footer {
  padding: 29px 40px 36px;
  background: $g__success_background;
  border-radius: 0 0 10px 10px;

  &--noText {
    padding-top: 7px;
  }

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.risk-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 2px;
    background-color: #00AFEC;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @media (max-width: 767px) {
    top: 17px;
    right: 17px;

    &::before,
    &::after {
      width: 23px;
      height: 2px;
      background-color: $g__text_color_primary;
    }
  }
}

.risk-modal__recommendation {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media (max-width: 767px) {
    margin-bottom: 10px;
    letter-spacing: normal;
  }
}

.risk-modal__recommendation-desc {
  font-size: 18px;
  line-height: 24px;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.risk-modal__btn-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;

  & div {
    display: flex;
    align-items: center;

    &.risk-modal__take-risk-wrap {
      @media (max-width: 991px) {
        display: block;
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  & p {
    font-size: 15px;
    line-height: 24px;
    color: $gray;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  @media (max-width: 767px) {
    display: block;
    margin-top: 15px;
  }
}

.risk-modal__btn-wrapper {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.risk-modal__btn {
  display: block;
  padding: 15px 20px;
  font-family: $primary-font-family;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;

  @media (max-width: 767px) {
    padding: 12px;
    text-transform: none;
  }

  &--decide {
    margin-right: 8px;
    color: $white;
    background: #72CA49;
    border: none;

    @media (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 24px;
      background: #00AFEC;
      border: 1px solid rgba(21, 36, 56, 0.15);
    }
  }

  &--ask {
    background: $white;
    border: 1px solid rgba(21, 36, 56, 0.15);

    @media (max-width: 767px) {
      font-size: 13px;
      line-height: 18px;
      color: #00AFEC;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.risk-modal__take-risk {
  padding: 0;
  margin-right: 10px;
  font-family: $primary-font-family;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  text-decoration-line: underline;
  color: $gray;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (max-width: 767px) {
    order: 2;
    margin-top: 5px;
    font-size: 16px;
    line-height: 20px;
  }
}

.risk-modal__table {
  margin-bottom: 10px;
  width: 100%;
  border-collapse: collapse;

  & th {
    width: 52%;
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    &:last-child {
      width: 48%;
    }
  }

  & tr {
    display: flex;
    border-bottom: 5px solid $white;

    &:first-of-type {
      border: none;
    }

    & td {
      width: 48%;
    }

    & td:first-of-type {
      width: 52%;
    }

    &.risk-modal__table-domain {
      & dt {
        font-size: 18px;
        line-height: 24px;
        text-transform: none;
        letter-spacing: normal;
      }

      & dd {
        font-weight: 700;
      }

      & td:first-child {
        padding-left: 0;
      }

      &--withImg td {
        padding: 0;
        margin-top: 15px;
        margin-bottom: 25px;
      }

      &--withImg dl {
        padding: 0;
      }
    }

    &.risk-modal__table-info {
      background: #F4F6FA;
      border-radius: 5px;

      &--classes {
        & dl {
          padding-bottom: 9px;
        }
      }
    }
  }

  & td {
    &:first-child {
      padding-left: 10px;
    }

    & dl {
      margin: 0;
      padding-top: 11px;
      padding-bottom: 11px;
    }

    & dt {
      margin-bottom: 4px;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.03em;
      color: $gray;
      text-transform: uppercase;
    }

    & dd {
      margin: 0;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.risk-modal__table-declarer {
  display: block;
  margin-top: 6px;
  font-size: 15px;
  line-height: 24px;

  &--desc {
    margin-top: 8px;
    font-size: 13px;
    line-height: 20px;
    color: $gray;
  }
}

.risk-modal__table-img {
  display: flex;
  align-items: flex-start;

  & dl {
    padding: 0;
  }

  & .risk-modal__table-imgWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 150px;
    height: 112.5px;
    margin-right: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.risk-modal__table-site {
  margin-right: 14px;
  font-size: 15px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #00AFEC;
}
