.scroll{
  //max-height: 650px;
  width: 100%;
  margin-top: 20px;

  //padding-left: 30px;
  //margin-left: -30px;

  &::-webkit-scrollbar-button {
    display: none;
    width:0px;
    height:0px
  }

  &::-webkit-scrollbar-track {
    display: none;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    display: none;
  }

  &::-webkit-scrollbar-thumb:hover{
    display: none;
  }

  &::-webkit-resizer{
    background-repeat:no-repeat;
    width:0px;
    height:0px
  }

  &::-webkit-scrollbar{
    width: 0px;
  }
}
