@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search__select-btn:focus-within .search__select-btn-span {
  transform: rotate(180deg);
  background-image: url('../../assets/images/icon-arr-down-active.svg');
}

.search__btn-block:focus-within .search__select-btn-span {
  transform: rotate(180deg);
}

.search__label {
  margin-bottom: 0;
}

.search__select:focus-within .search__hidden-options-wrapper {
  display: block;
}

.search__btn-block:focus-within .search__hidden-options-wrapper {
  display: block;
}

.search__option-input:checked + .search__option-label::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: $g__link_color;
  box-sizing: border-box;
  border-radius: 3px;
  left: 0;
  top: 0;
  background-image: url('../../assets/images/icon-done.svg');
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: center;
}

.search__option-label--special {
  font-weight: bold;
}

.search {
  display: flex;
  justify-content: space-between;
  animation: show .5s 1;
  position: sticky;
  top: 0;
  z-index: 20;
  background: $g__body_background;
  margin: auto;
  max-width: 1260px;
  width: 100%;
  padding: 20px 10px 20px;

  @media (max-width: 793px) {
    padding: 20px;
  }

  &__line {
    margin: 15px 0;
    width: 100%;
    height: 1px;
    position: relative;

    &::before {
      content: '';
      width: 91%;
      z-index: 300;
      left: 10px;
      height: 1px;
      background: $g__body_background;
      position: absolute;
    }
  }

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('../../assets/images/icon-search-blue.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    left: 27px;
    top: 35px;
    z-index: 30;
  }

  &__select-btn {
    font-size: 15px;
    line-height: 18px;
    color: $g__text_color_primary;
    border: none;
    background: none;
    padding-left: 5px;
    padding-right: 23px;
    width: 54px;

    &--bold {
      font-weight: bold;
    }

    &--dis {
      color: $g__text_color_secondary;
    }

    &:hover, &:focus-within {
      opacity: 1;
    }
  }

  &__select-btn-span {
    content: "";
    width: 10px;
    height: 6px;
    position: absolute;
    right: 15px;
    top: 22px;
    background-image: url('../../assets/images/icon-arr-down-active.svg');
    background-repeat: no-repeat;
    background-size: 10px 6px;
    background-position: center;

    &--dis {
      background-image: url('../../assets/images/icon-arr-down.svg');
    }
  }

  &__hidden-options-wrapper {
    display: none;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    right: 0;
    top: 54px;
    z-index: 1000;
    &::-webkit-scrollbar {
      display: none;
    }

    &--copyright {
      left: 0;
      width: max-content;

      & .search__options-wrapper {
        max-width: 420px;
      }

      @media (max-width: 1260px) {
        left: 0;
        width: 100%;

        & .search__options-wrapper {
          max-width: none;
        }
      }
    }
  }

  &__options-wrapper {
    max-height: 168px;
    overflow-y: auto;
    margin-bottom: 10px;
    text-align: left;
  }

  &__title {
    font-size: 13px;
    line-height: 1.38;
    color: $g__text_color_secondary;
    margin-bottom: 10px;
  }

  &__option {
    font-size: 15px;
    line-height: 18px;
    color: $g__text_color_primary;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &--add {
      margin-left: 10px;

      &:last-of-type {
        margin-bottom: 15px;
      }

      &:first-of-type {
        margin-top: 15px;
      }
    }
  }

  &__option-input {
    opacity: 0;
    position: absolute;
  }

  &__option-label {
    position: relative;
    padding-left: 30px;
    width: 100%;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: $g__text_color_primary;
    display: inline-block;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      background: #FFFFFF;
      border: 1px solid rgba(146, 159, 171, 0.4);
      box-sizing: border-box;
      border-radius: 3px;
      left: 0;
    }
  }

  &__btns-wrapper {
    text-align: end;
    display: flex;
    justify-content: space-between;
  }

  &__btn-cancel {
    padding: 10px 14px;
    border: 1px solid $g__btn_attr_border_color;
    box-sizing: border-box;
    border-radius: 4px;
    text-transform: uppercase;
    color: $g__btn_attr_text_color;
    background-color: white;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    margin-right: 15px;
    cursor: pointer;
  }

  &__btn-submit {
    border: none;
    padding: 10px 14px;
    background: $g__btn_primary_background;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
  }

  &__input {
    flex-grow: 1;
    margin-right: 5px;
    max-width: none;
    padding: 15px 15px 15px 54px;
    font-size: 15px;
    line-height: 18px;
    background: #FFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    position: relative;
    box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
    -webkit-appearance: none;

    &::placeholder {
      color: $g__text_color_secondary;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__btn-block {
    min-height: 50px;
    padding: 12px 7px;
    background: #FFF;
    box-shadow: 0 2px 4px rgba(21, 36, 56, 0.1);
    border: 1px solid $g__outline_color;
    color: $g__text_color_secondary;
    font-size: 15px;
    line-height: 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 100%;
    cursor: pointer;

    @media (max-width: 793px) {
      padding: 11px 7px;
      margin-bottom: 10px;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__select {
    color: $g__text_color_secondary;
    font-size: 15px;
    line-height: 18px;
    border: none;
    background: none;
    width: 53px;
  }
}
