.btn-clean{
  border: 1px solid $g__btn_attr_border_color;
  color: $g__btn_attr_text_color;
  background: none;
}

.btn-search{
  color: $g__btn_primary_color;
  background: $g__btn_primary_background;
  border: 1px solid $g__btn_primary_background;
  margin-right: 10px;
  cursor: pointer;
}

.search__btns{
  display: none;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.search__btn{
  background: $search__btn;
  border: 1px solid #00AFEC;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 52px;

}

.empty_button {
  border: 1px solid #00AFEC;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  width: 121px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #00AFEC;
  text-transform: uppercase;
}
