.service-cards {
  flex-wrap: wrap;

  @include breakpoint-md {
    display: flex;
    margin-right: -8px;
    margin-left: -8px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }

  .service-cards__element {
    flex-shrink: 0;
    margin-bottom: 16px;

    @include breakpoint-up-to-md {
      &:not(:last-child) {
        margin-bottom: 15px;
        @media (max-width: 768px) {
          margin-bottom: 10px;
        }

      }
    }

    @include breakpoint-md {
      padding-right: 8px;
      padding-left: 8px;
      //width: calc(100%/4);
      width: calc(100%/3);
    }
    @media (max-width: 768px) {
      width: 100%;
    }

  }
}
