@import 'variables';

.service-card {
  @include radius(10px);
  @extend .text-center;
  width: 100%;
  height: 100%;
  color: $request_modal__item_text_color;
  display: inline-block;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  padding: 20px 15px;

  &.disabled {
    background-color: #EBEDF2;
    pointer-events: none;

    & .service-card__icon svg {
      fill: $g__text_color_secondary;

      path {
        fill: $g__text_color_secondary;
      }
    }

    & h3,
    & p,
    & .service-card__title {
      color: $g__text_color_secondary;
    }
  }

  &:hover {
    background-color: $request_modal__item_hovered_background;
    color: $request_modal__item_hovered_color;

    p{
      color: $request_modal__item_hovered_color;
    }

    h3{
      color: $request_modal__item_hovered_color;
    }

    & .service-card__title,
    p {
      color: $request_modal__item_hovered_color;
    }

    .service-card__icon {
      svg {
        fill: $request_modal__item_hovered_color;
        path {
          fill: $request_modal__item_hovered_color;
        }
      }
    }

    .service-card__top-text {
      span {
        color: $request_modal__item_hovered_color;
      }
    }
  }

  @include breakpoint-md {
    padding: 30px 19px 25px 19px;
  }

  &__title {
    @extend .bold;
    @include rem(18);
    @include line-height(30,18);
    margin-bottom: 8px;
    color: $request_modal__item_text_color;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 8px;
    }
  }

  p {
    @include rem(15);
    @include line-height(18,15);

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;
    }
  }

  &__icon {
    @include size(42px,42px);
    margin: 0 auto 9px;
    align-items: center;
    justify-content: center;
    display: flex;
    svg {
      max-width: 100%;
      max-height: 100%;
      fill: $request_modal__item_icon_color;
      display: inline-block;
      vertical-align: middle;
      path {
        fill: $request_modal__item_icon_color;
      }
    }
    @media (max-width: 768px){
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      position:absolute;
      left: 20px;
    }
  }

  &__top-text {
    @include size(42px,42px);
    margin: 0 auto 9px auto;
    display: flex;
    align-items: center;

    span {
      @include rem(24);
      @include line-height(28,24);
      @extend .light;
      color: $request_modal__item_text_color;
    }
    @media (max-width: 768px){
      padding: 20px;
      display: flex;
      gap: 30px;
    }

    @media (max-width: 768px){
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      position:absolute;
      left: 20px;
    }

  }

  @media (max-width: 768px){
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    position: relative;
    text-align: left;
    justify-content: flex-start;
  }
}

.service-card__icon--rus{
  position: relative;

  &::after{
    position: absolute;
    content: '';
    right: -6px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-image: url("/assets/images/rus.svg");
    background-size: 100%;
    @media (max-width: 768px) {
      top: 7px;
      right: 2px;
    }
  }
  @media (max-width: 768px){
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    position:absolute;
    left: 20px;
  }
}
