@import "variables";
.switch {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: 34px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.switch__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EBEDF2;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.switch__slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: #fff;
  transition: all 0.2s ease;
}

.switch__input:checked + .switch__slider {
  background-color: $g__link_color;
}

.switch__input.check:checked + .switch__slider {
  background-color: #A5D7E9;
}

.switch__input:checked + .switch__slider::before {
  transform: translateX(12px);
  transition: all 0.2s ease;
}

.switch__slider.round {
  border-radius: 20px;
}

.switch__slider.round:before {
  border-radius: 50%;
}
