@import 'variables';

.table {
  animation: show .5s 1;
  max-width: 1260px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 38px auto auto;

  @media (max-width: 960px) {
    margin: 0 auto auto;
  }

  &--debates {
    & .row-white__title-text {
      &:nth-child(2) {
        width: 27%;
      }

      &:nth-child(3) {
        width: 25%;
      }

      &:nth-child(4) {
        width: 13%;
      }

      @media (max-width: 960px) {
        &:nth-child(2) {
          width: 100%;
        }

        &:nth-child(3) {
          width: 100%;
        }

        &:nth-child(4) {
          width: 100%;
          padding-bottom: 0;
        }
      }
    }
  }

  @media (max-width: 960px) {
    padding: 0;
  }

  &__no-data {
    display: flex;
    background: $g__body_background;
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    border-radius: 5px;
    flex-direction: row;
    padding: 25px;
    margin: auto auto 30px;

    &--text {
      font-size: 18px;
      line-height: 18px;
      color: #808895;
      display: flex;
      align-items: center;
      margin-left: 20px;
    }

    @media (max-width: 960px) {
      padding: 15px;
      margin-bottom: 0;

      &--text {
        font-size: 13px;
        line-height: 13px;
        margin-left: 10px;
      }

      img {
        width: 25px;
      }
    }
  }

  &__header-count {
    background: #FFFFFF;
    min-width: 32px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: $g__text_color_primary;
    padding: 9px 10px;
    height: fit-content;
    margin: auto 0 auto 20px;

    @media (max-width: 960px) {
      border-radius: 50%;
      font-size: 16px;
      line-height: 20px;
      padding: 6px 8px;
      margin-left: 10px;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
  }

  &__btn {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: $g__btn_attr_text_color;
    border: 1px solid $g__btn_attr_border_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 37px 10px 10px;
    position: relative;
    margin-top: 5px;
    cursor: pointer;
    background: none;
    font-family: 'Roboto', sans-serif;

    &--counter {
      display: none;
      @media (max-width: 960px) {
        display: flex;
        color: #FFFFFF;
        background: $g__alert_color;
        border: 2px solid #FFFFFF;
        border-radius: 15px;
        padding: 2px 6px;
        margin-left: 10px;
        width: fit-content;
        font-size: 10px;
        line-height: 13px;
      }
    }

    & svg {
      position: absolute;
      width: 14px;
      height: 9px;
      right: 11px;
      top: 17px;
      stroke: $g__btn_attr_border_color;
    }

    &:after {
      display: none;
    }

    @media (max-width: 960px) {
      width: 100%;
      background: #FFFFFF;
      border: 1px solid $g__outline_color !important;
      box-sizing: border-box;
      border-radius: 5px;
      color: $g__link_color;
      font-weight: normal;
      padding: 10px;
      font-size: 13px;
      line-height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        display: none;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: auto auto 30px;

    @media (max-width: 960px) {
      padding-bottom: 30px;
      padding-top: 40px;
      margin-bottom: 0;
      position: relative;

      &:not(:last-of-type)::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 110%;
        background-color: $g__outline_color;
        bottom: 0;
        left: -7%;
      }

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0
      }
    }

    @media (max-width: 793px) {
      padding-top: 0;

      &--contract {
        padding-top: 0;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    color: $g__text_color_primary;
    justify-content: center;
    margin-bottom: 19px;

    @media (max-width: 960px) {
      font-size: 24px;
      line-height: 32px;
      font-weight: normal;
      text-align: left;
      justify-content: flex-start;
    }
  }
}

.table-portfolio {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $g__text_color_secondary;

  @media (max-width: 1260px) {
    display: none;
  }
}
