@import "variables";
.tariff {
  display: flex;
  padding: 0;
  gap: 2%;

  &__big-price{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #152438;
    margin-right: 15px;
    margin-bottom: 0;

    &--old{
      text-decoration-line: line-through;
    }

    &--sale{
      color: #FF1037;
    }
  }

  &__card-wrapper{
    display: flex;
    flex-direction: column;
    width: 32%;
  }

  &__card{
    display: flex;
    flex-direction: column;
    background: #F2F4F8;
    border: 1px solid $request__tab_active_background;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: -3px;
    flex-grow: 1;
  }

  &__choice{
    background: $request__tab_active_background;
    border-radius: 5px 5px 0 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 20px;
    opacity: 0;
  }

  &__head{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid  #DCDEE1;
    position: relative;

    h2{
      font-family: 'Roboto',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #152438;
     margin-bottom: 0;
    }

    &--hit::after{
      content: '';
      position: absolute;
      width: 54px;
      height: 54px;
      z-index: 2;
      background-size: 100%;
      background-repeat: no-repeat;
      //background-image: url("assets/images/hit.svg");
      right: 0;
      top: 0;
    }

    &--for-new::after{
      content: '';
      position: absolute;
      width: 140px;
      height: 140px;
      z-index: 2;
      background-size: 100%;
      background-repeat: no-repeat;
      //background-image: url("assets/images/for-new.svg");
      right: 0;
      top: 0;
    }
  }

  &__prices{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__price-block{
    display: flex;
  }

  &__addition{
    display: flex;
    flex-direction: column;
    padding: 20px;

    h3{
      font-family: 'Roboto',sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 20px;
      color: #152438;
    }
  }

  &__old-price{
    font-size: 15px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #929FAB;
    margin-right: 10px;
    margin-bottom: 0;
  }

  &__sale{
    font-size: 15px;
    line-height: 20px;
    color: #FF1037;
  }

  &__price{
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #152438;
  }

  &__list{
    li{
      font-size: 15px;
      line-height: 20px;
      color: #152438;
      padding: 12px 26px 12px 0;
      border-top: 1px solid #EBEDF2;
      position: relative;
    }
  }
}

.tariff__card-wrapper:focus-within .tariff__choice{
  opacity: 1;
}

.tariff__card-wrapper:focus-within .tariff__card{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: -3px;
  background: #FFFFFF;
  box-shadow: 0 3px 8px rgba(0, 175, 236, 0.2);
  border: 2px solid $request__tab_active_background;
}

.tariff-footer{
  display: flex;

  &__text{
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #79818B;
  }

  a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #79818B;
    position: relative;
    padding-left: 30px;

    &::after{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 20px;
      height: 100%;
      //background-image: url("/assets/images/icon-arrow-gray.svg");
      left: 0;
      top: -4px;
      transform: rotate(180deg);
    }
  }

  &__position{
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
  }

  &__block{
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: space-around;
    padding: 15px 5px;
    margin-bottom: 10px;
  }

  &__info{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;

    span{
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: #929FAB;
      margin-bottom: 2px;
    }

    p{
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #152438;
      margin-bottom: 0;
    }
  }

  &__total-wrapper{
    display: flex;
    align-items: center;
  }

  &__total{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    margin-right: 30px;

    p{
      font-size: 18px;
      line-height: 20px;
      text-align: right;
      margin-bottom: 7px;
    }

    span{
      font-size: 13px;
      line-height: 20px;
      text-align: right;
      color: #929FAB;
    }
  }

  &__btn{
    background: #00AFEC;
    border-radius: 4px;
    padding: 20px 69px 20px 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 24px;
      height: 100%;
      //background-image: url("/assets/images/icon-arrow-white.svg");
      right: 25px;
      top: 23px;
    }

    &:hover{
      background: #0D8EBB;
    }
  }
}
