.tooltip {
  display: inline;
  color: $g__link_color;
  border-bottom: 1px dotted $g__link_color;
  cursor: pointer;
  position: relative;

  &:hover {
    color: $text-color;
    border-bottom-color: $text-color;

    .tooltip-text {
      height: auto;
      width: auto;
      opacity: 1;
      overflow: visible;
      z-index: 1;
      min-width: 212px;
    }
  }

  &-text {
    @include rem(13);
    @include line-height(15, 13);
    @include radius(5px);
    @extend .visual-hidden;
    //min-width: 212px;
    color: $black;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    background-color: $white;
    position: absolute;
    padding: 10px;
    transition: all 0.4s;
    left: -50%;
    top: -400%;
    transform: translateX(-20%);
  }
}
