@import 'variables';

.user__avatar {
  margin-left: 10px;
  margin-right: 25px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  filter: drop-shadow(0px 3px 6px rgba(111, 132, 152, 0.1));
  max-height: none;
  object-fit: cover;
  max-width: 100%;

  @media (max-width: 991px) {
    width: 100px;
    height: 100px;
    margin: 0 0 20px;
  }

  @media (max-width: 767px) {
    width: 80px;
    height: 80px;
  }
}

.user__wrap {
  display: flex;
  align-items: center;
  padding: 40px 0;

  @media (max-width: 991px) {
    flex-direction: column;
  }

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.user__name {
  margin: 0;
  font-size: 32px;
  line-height: 44px;

  @media (max-width: 991px) {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
}

.user__info-list {
  display: flex;
  margin-top: 20px;

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}

.user__info-item {
  display: flex;
  align-items: center;
  margin-right: 11px;
  font-size: 16px;
  line-height: 20px;
  color: $g__text_color_secondary;

  &:last-of-type {
    margin-right: 0;

    &::after {
      display: none;
    }
  }

  &::after {
    content: "";
    display: block;
    margin-left: 11px;
    width: 4px;
    height: 4px;
    background-color: $g__text_color_secondary;
    border-radius: 50%;
  }

  & a {
    text-decoration: underline;
    color: $g__link_color;
  }

  @media (max-width: 991px) {
    margin-bottom: 10px;
    margin-right: 0;

    &::after {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}

.user__info-item--links {
  margin-bottom: 0;

  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    & span {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.user__info-item--links .user__links {
  text-decoration: underline;
  color: $g__link_color;

  @media (max-width: 991px) {
    display: block;
    padding: 11px 12px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
