@import 'variables';

.section{
  min-width: 375px;
  @media (max-width: 768px) {
    padding-top: 10px;
  }
}

.container{
  max-width: 1240px;
  padding: 0;

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.steps__mobile{
  display: none;
  @media (max-width: 768px) {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 18px;
  }
}

.steps__element-check-label {
  width: 50%;
}

.steps__element--line-check-label {
  &::after {
    display: none;
  }
}

.step-box {
  background: $g__form_background;
  margin-top: 40px;
  padding: 40px 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  @media (max-width: 768px) {
    padding: 20px 10px 10px;
    margin-top: 10px;
  }

  &__special{
    padding: 0;
    margin-bottom: 0;

    @media (max-width: 768px) {
      padding: 0;
    }
  }
}

.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

.heading-h1{
  @media (max-width: 768px) {
    margin-bottom: 20px;
  }

  @media (max-width: 540px) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
  }
}

.form-item__btn-block {
  margin-top: 30px;
}

.btn-blue-attr {
  border: 1px solid $g__btn_primary_background;
  color: $g__btn_primary_background;
}

.disabled-btn {
  opacity: 0.3;
  pointer-events: none;
}

.form-item__btn-block{
  button:last-of-type{
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.payment-buttons {
  position: relative;
  width: 200px;
  bottom: 52px;
  margin-bottom: -55px;

  @media (max-width: 790px) {
    bottom: 0;
    margin-bottom: 0;
  }
}

