<h4 class="hidden__subtitle">{{def.title}}</h4>
<ul *ngIf="toggle || !def.collapsible" class="hidden__list">
  <li *ngFor="let item of def.items">{{item}}</li>
</ul>
<span *ngIf="def.collapsible"
  (click)="toggle = !toggle"
  class="link">{{getLabel()}}
</span>
