.hidden__subtitle {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #929FAB;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}

.hidden__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 95%;
  padding: 0;
  list-style: none;
  margin-left: 10px;
  margin-bottom: 7px;

  li {
    font-size: 16px;
    line-height: 24px;
    color: #152438;
    margin-bottom: 10px;
    padding-left: 35px;
    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:after {
      width: 24px;
      height: 24px;
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url('/assets/images/blue-done.svg');
      top: 0;
      left: 0;
      content: '';
      border-radius: 50%;
    }
  }
}
.link {
  text-decoration-line: underline;
  color: #00AFEC;
  position: relative;
  z-index: 3;

  &:hover {
    cursor: pointer;
    text-decoration-line: none;
  }
}
