@import "variables";

.section{
  min-width: 375px;
  @media (max-width: 768px) {
    padding-top: 10px;
  }
}

.step-box {
  background: $g__form_background;
  margin-top: 40px;
  padding: 40px 50px;
  border: 1px solid $g__outline_color;
  border-radius: 5px;

  @media (max-width: 768px) {
    padding: 18px 10px;
    margin-top: 10px;
  }
}

.attention{
  margin: 0 0 30px;
}

.payment {
  padding: 0;

}

.payment__link--end{
  background: none;
  padding: 0;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 65%;
  text-align: center;
  margin: auto;

  @media (max-width: 768px) {
    margin: 0;
    width: 100%;
  }

  h1{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 25px;
    }
  }
  img{
    margin-bottom: 30px;
    width: 40px;

    @media (max-width: 768px) {
      width: 48px;
      margin-bottom: 25px;
    }
  }

  p{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

}

.form--margin{
  margin-bottom: 20px;
}

.add-object__head{
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2{
    font-size: 24px;
    line-height: 24px;
  }
}

.add-object__btns-pay{
  padding: 15px ;
  width: 353px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.steps__mobile{
  display: none;
  @media (max-width: 768px) {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 18px;
  }
}

.duty {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 30px;
  background: $g__white_background;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;

  @media (max-width: 576px) {
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__text {
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 500;
    @media (max-width: 768px) {
      font-weight: 400;
      margin-bottom: 5px;
    }
  }

  &__description {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto';
    color: $g__text_color_primary;
  }
}
.duty__price-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 768px) {
    flex-direction: row;
    width: 100%;
    margin-top: 24px;
    justify-content: space-between;
  }
}

.duty__price {
  display: flex;
  margin: 0 0 9px;

  p{
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    justify-content: space-between;
    margin: auto 0;
  }
}
.duty__old-price {
  margin-right: 10px;
  font-size: 15px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: $g__text_color_secondary;
  font-weight: 400;

  @media (max-width: 768px) {
    margin-right: 15px;
    line-height: 20px;
    font-size: 16px;
  }
}

.duty__discount {
  font-size: 15px;
  line-height: 20px;
  color: #FF1037;

  @media (max-width: 768px) {
    line-height: 20px;
    font-size: 16px;
  }
}

.duty__full {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $g__text_color_primary;
}

// loader
.loader {
  margin: auto;
  border: 16px solid rgb(255, 255, 255, 0);
  border-top: 16px solid $g__link_color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form-item__head{
  margin-bottom: 40px;
}

.form-item__btn-block--mini{
  span{
    text-decoration:line-through;
    margin: 0 5px;
    font-size: 15px;
    line-height: 20px;
    color: $g__text_color_secondary;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 20px;
      margin-top: 20px;
    }

    button{
      width: 100%;
    }
  }
}

.btn-back{
  color: #929FAB;
  position: relative;
  &::after {
    display: block;
  }
  @media (max-width: 768px) {
    &::after {
      left: 41%;
    }
  }
  @media (max-width: 600px) {
    &::after {
      left: 38%;
    }
  }

  @media (max-width: 500px) {
    &::after {
      left: 36%;
    }
  }
}
.back-button {
  position: relative;;
  width: 84px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & svg {
    width: 24px;
    height: 15px;
    fill: $g__btn_attr_text_color;
  }

  .text {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $g__btn_attr_text_color;
  }
}
.back-button .back-icon {
  @media (max-width: 768px) {
    margin-right: 10px;
  }
}

.form-item__btn-block {
  align-items: center;
}

.form-item__btn-block--mini{
  @media (max-width: 768px) {
    width: 100%;
  }
}

.sum-block{
  @media (max-width: 768px) {
    order: 1;
  }
}

.back-button{
  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    align-items: center;
    height: fit-content;
    transform: none;
  }
}

.back-button .text {
  @media (max-width: 768px) {
    position: relative;
  }
}

.back-button .back-icon {
  @media (max-width: 768px) {
    margin-right: 10px;
  }
}

.heading-red{
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #FF1037;
  margin-bottom: 40px;
  font-weight: normal;
}

.info-plate__error{
  padding: 0;
  p{
    margin-bottom: 40px;
  }

  button{
    margin-bottom: 10px;
  }
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
