.container {
  min-width: 375px;
}

.control{
  display: flex;
  justify-content: space-between;
  margin-bottom: -2px;
  padding-bottom: 0;

  @media (max-width: 500px) {
    padding-bottom:30px ;
  }

  &__btn{
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    width: 48%;
    padding: 20px;
    color: #152438;
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    position: relative;
    z-index: 1;

    @media (max-width: 500px) {
      background: #F7F8FB;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      border-radius: 5px;
      height: 103px;
      align-content: flex-end;
      display: flex;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    }


    &:hover{
      opacity: 1;
    }

    &--active{
      background: #FFFFFF;
      border: 1px solid #CBCFD6;
      color: #152438;
      border-bottom-color: white;
      position: relative;
      z-index: 3;

      @media (max-width: 500px) {
        border-bottom-color: #CBCFD6;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }

  }

  &__division{
    margin-left: 8px;
    &--red{
      color: #ff889b;
    }
  }

  &__count{
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 25px;
    line-height: 40px;

    @media (max-width: 500px) {
      top: auto;
      bottom: 15px;
      left: 17px;
      border-bottom-color: #CBCFD6;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px
    }

    &--all{
      color: #FF889B;
    }

    &--fatal{
      color: #FF889B;
    }

    &--critical{
      color: #FFB36D;
    }

    &--possible{
      color: #FCD770;
    }

    &--recommendation{
      color: #A7E889;
    }
  }
}

.section-position {
  min-width: 375px;

  @media (max-width: 768px){
    padding: 0;
  }

  &--white{
    background-color: white;
    border-top: 1px solid #CBCFD6;
    position: relative;
    z-index: 2;
  }

  &__color-bg{
    background: #F7F8FB;
    padding: 0px 0;

    &--court{
      background: #ECF2FA;
    }

    &--finished{
      background: #FCFCFC;
    }

    &--claim{
      background: #FAF7EC;
    }

    &--penalty{
      background: #F5FBE9;
    }

    &--request{
      background: #F7F8FB;
    }
  }

  &--padding{
    padding-bottom: 0;
  }
}

.prompt__question {
  right: 10px;
  top: 10px;

  p{
    margin-bottom: 0;
  }
  @media (max-width: 850px) {
    display: none;
  }

}

.tab {
  margin: auto;
}
.header__container {
  display: flex;
  flex-direction: row;
}

.back_arrow {
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
