<div *ngIf="!isLoading; else loader">
  <app-request-page
    [caseData]="caseData"
    [caseID]="caseID"
    [mobile]="mobile"
    *ngIf="typeColor ==='request'">
  </app-request-page>

  <app-claim-page
    [caseData]="caseData"
    [caseID]="caseID"
    [mobile]="mobile"
    [declOfDaysPassed]="declOfDaysPassed"
    [declOfDaysLeft]="declOfDaysLeft"
    *ngIf="typeColor ==='claim'">
  </app-claim-page>

  <app-court-page
    [caseData]="caseData"
    [caseID]="caseID"
    [mobile]="mobile"
    [declOfDaysPassed]="declOfDaysPassed"
    [declOfDaysLeft]="declOfDaysLeft"
    *ngIf="typeColor ==='court'">
  </app-court-page>

  <app-penalty-page
    [caseData]="caseData"
    [caseID]="caseID"
    [mobile]="mobile"
    [declOfDaysPassed]="declOfDaysPassed"
    [declOfDaysLeft]="declOfDaysLeft"
    *ngIf="typeColor ==='penalty'">
  </app-penalty-page>

  <app-finished-page
    [caseData]="caseData"
    [caseID]="caseID"
    [mobile]="mobile"
    [declOfDaysPassed]="declOfDaysPassed"
    *ngIf="typeColor ==='finished'">
  </app-finished-page>

  <section class="section-position  section-position__color-bg section-position__color-bg--{{typeColor}} section-position--padding">
    <div class="container control">
      <button class="control__btn" (click)="showEvents=true; showDocs=false; "
              [class.control__btn--active]="showEvents">
        События<span class="control__count">{{$events?.length ? $events?.length : ''}}</span>
      </button>
      <button class="control__btn" (click)="showDocs=true; showEvents=false;"
              [class.control__btn--active]="showDocs"
      >Документы<span class="control__count">{{filesCount ? filesCount : 0}}
        <span *ngIf="typeColor==='claim'" class="control__division">/ <span class="control__division--red">{{filesClarificationRequired ? filesClarificationRequired : 0}}</span></span></span>
      </button>
    </div>
  </section>

  <section class="section-position section-position--white">

    <app-events-tab
      class="tab"
      *ngIf="showEvents && $events && !noObjects;"
      [$events]="$events"
      [caseID]="caseID"
    >
    </app-events-tab>

    <app-doc-tab
      class="tab"
      *ngIf="showDocs && $docs?.length && !noObjects;"
      [$docs]="$docs"
      [filesByCategory]="filesByCategory"
      [caseID]="caseID"
    >
    </app-doc-tab>
  </section>
</div>

<ng-template #loader>
  <div class="search-style search-style--filter">
    <app-spinner style="height: 300px" class="spinner-full"></app-spinner>
  </div>
</ng-template>

<app-expert></app-expert>

<!--<section class="section-position section-position__exp" >-->
<!--  <div class="container section-position__expert">-->
<!--    <div class="section-position__expert-img">-->
<!--      <picture>-->
<!--        <source-->
<!--          media="(max-width: 768px"-->
<!--          srcset="/assets/images/mobile_expert.png"-->
<!--          width="314"/>-->
<!--        <img src="/assets/images/expert.png" alt="" width="314"/>-->
<!--      </picture>-->
<!--    </div>-->

<!--    <div class="expert">-->
<!--      <h2>Задать вопрос адвокату</h2>-->
<!--      <div class="expert__btn-wrapper">-->
<!--        <button type="button" class="expert__btn" *ngFor=" let btn  of btns">{{ btn }}</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
