.users-rights__top {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    display: none;
  }
}

.users-rights__status-list {
  display: flex;
}

.users-rights__status-item {
  display: flex;
  align-items: center;
  padding: 16px 20px 16px 23px;
  margin-right: 10px;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 5px;

  @media (max-width: 991px) {
    padding: 16px 10px 16px 13px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    margin-right: 13px;
    background-image: url("../../../../assets/icons/icon-input-check.svg");
    background-size: 13px 13px;
  }

  &--active {
    background: #BEF2C5;
  }

  &--no-attorney {
    background: #FFD9D9;
  }

  &--no-rights {
    background: #EBEDF2;
  }
}

.users__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: -40px;

  @media (max-width: 991px) {
    margin-bottom: -30px;
  }

  @media (max-width: 767px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.users__item {
  position: relative;
  width: 31.18%;
  max-width: 387px;
  min-height: 440px;
  margin-bottom: 40px;
  margin-right: 3.2%;
  background-color: #fff;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  border-radius: 5px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media (max-width: 991px) {
    width: 48.4%;
    max-width: none;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 3.2%;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    min-height: auto;
    margin-bottom: 20px;
    margin-right: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--button-add {
    border: 1px dashed #00AFEC;
  }
}

.users__info {
  padding: 30px;
  background: #F7F8FB;
  border-radius: 5px 5px 0 0;
}

.users__photo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(111, 132, 152, 0.1);
  border-radius: 50%;
}

.users__desc-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users__name {
  margin: 0 0 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.users__position {
  margin: 0 0 5px;
  font-size: 16px;
  line-height: 20px;
  color: #929FAB;
}

.users__email {
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: #00AFEC;
}

.users__button-add {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.user-organization__add-img {
  display: block;
  margin: 0 auto 20px;
  width: 60px;
  height: 60px;

  @media (max-width: 767px) {
    margin: 0 auto 10px;
  }
}

.user-organization__add-text {
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: #00AFEC;
}

.users__organization {
  padding: 20px 30px 30px;

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.users__organization-title {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #929FAB;
}

.users__organization-list {
  margin: 0;
}

.users__organization-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  white-space: nowrap;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.users__organization-name {
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.users__organization-access {
  padding: 5px 12px;
  margin-left: 9px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-radius: 5px;

  &.active {
    background-color: #BEF2C5;
  }

  &.no-attorney {
    background-color: #FFD9D9;
  }

  &.no-rights {
    background-color: #EBEDF2;
  }
}

.users__item.invitation {
  & .users__name,
  & .users__position,
  & .users__email {
    color: #929FAB;
    pointer-events: none;
  }
}

.users__organization.invitation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  & img {
    margin-bottom: 20px;
    width: 120px;
    height: 32px;

    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}

.invitation__send {
  margin-bottom: 6px;
  font-size: 20px;
  line-height: 28px;
  color: #152438;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.invitation__wait {
  font-size: 16px;
  line-height: 20px;
  color: #929FAB;
}
