<div class="users-rights container">
  <h2 class="visual-hidden">Пользователи и права</h2>

  <div class="users-rights__top">

    <div class="dropdown">
      <button class="dropdown__button" (click)="showOrganization =! showOrganization">
        <span *ngIf="checkedList.length <= 0" class="dropdown__button-text">Организация</span>
        <span *ngIf="checkedList.length == 1" class="dropdown__button-text dropdown__button-text--check">
          {{ checkedList }}
        </span>
        <span *ngIf="checkedList.length > 1" class="dropdown__button-text dropdown__button-text--check">
          Выбрано: {{ checkedList.length }}
        </span>
        <img
          class="dropdown__button-img"
          [ngClass]="showOrganization ? 'rotate': ''"
          src="/assets/icons/icon-dropdown.svg" alt="" width="9" height="5"/>
      </button>
      <div *ngIf="showOrganization" class="dropdown__menu-wrap">
        <div class="dropdown__menu">
          <span class="dropdown__menu-title">Организация</span>
          <ng-container *ngFor="let organization of organizations">
            <input type="checkbox" [(ngModel)]="organization.checked"
                   class="visual-hidden dropdown__input"
                   id="{{ organization.id }}"
                   (change)="getSelectedValue(organization.checked,organization.name)"/>
            <label  class="dropdown__label" for="{{ organization.id }}">
              <span>{{ organization.name }}</span>
            </label>
          </ng-container>
        </div>
      </div>
    </div>

    <ul class="users-rights__status-list">
      <li class="users-rights__status-item users-rights__status-item--active">
        Активен
      </li>
      <li class="users-rights__status-item users-rights__status-item--no-attorney">
        Нет доверенности
      </li>
      <li class="users-rights__status-item users-rights__status-item--no-rights">
        Нет доступа
      </li>
    </ul>
  </div>
  <div class="users__wrap">
    <aside class="users__item"
           *ngFor="let user of users"
           [ngClass]="{'invitation': user?.active === false}"
    >
      <div class="users__info">
        <img *ngIf="user?.photo !== null" src="{{ user.photo }}" alt="" class="users__photo" width="100"
             height="100">
        <img *ngIf="user?.photo === null" src="/assets/images/avatar.png" alt="" class="users__photo" width="100"
             height="100">
        <div class="users__desc-wrap">
          <p class="users__name">{{ user.name }}</p>
          <p class="users__position">{{ user.position }}</p>
          <a href="mailto:{{ user?.email }}" class="users__email">{{ user?.email }}</a>
        </div>
      </div>
      <div class="users__organization" *ngIf="user?.active === true">
        <p class="users__organization-title">Представитель организаций: {{ user?.company?.length }}</p>
        <dl class="users__organization-list">
          <div class="users__organization-item" *ngFor="let item of user?.company">
            <dt class="users__organization-name">{{ item?.name }}</dt>
            <dd class="users__organization-access"
                [ngClass]="{
                        'active': item?.status === 'Активен',
                        'no-attorney': item?.status === 'Нет доверенности',
                        'no-rights': item?.status === 'Нет доступа'}"
                [ngStyle]="{'color': item?.status === 'Нет доступа' ? '#929FAB;' : '#152438;'}"
            >
              {{ item?.status }}
            </dd>
          </div>
        </dl>
      </div>
      <div class="users__organization invitation" *ngIf="user?.active === false">
        <img src="/assets/icons/icon-invitation.svg" alt="" width="120" height="32">
        <p class="invitation__send">Отправлено приглашение</p>
        <p class="invitation__wait">Ожидаем авторизации</p>
      </div>
    </aside>
    <aside class="users__item users__item--button-add">
      <button class="users__button-add">
        <img src="/assets/icons/icon-add.svg" class="user-organization__add-img" alt="" width="60" height="60">
        <span class="user-organization__add-text">Пригласить пользователя</span>
      </button>
    </aside>
  </div>
</div>
