<div class="container">
  <h2 class="visual-hidden">История платежей</h2>
  <div *ngIf="payments.length === 0">
    Нет платежей
  </div>

  <div class="filter__search">
    <form [formGroup]="form" class="filter__search-form">
      <div class="filter__search-input-wrap">
        <input formControlName="search"
               class="filter__search-input"
               type="text"
               placeholder="Поиск по истории платежей">
      </div>
    </form>
  </div>

  <div class="filter">
    <div class="dropdown__wrap">
      <div class="dropdown">
        <button class="dropdown__button" (click)="showOrganization = !showOrganization">
          <span *ngIf="checkedListOrganization.length <= 0" class="dropdown__button-text">Организация</span>
          <span *ngIf="checkedListOrganization.length == 1" class="dropdown__button-text dropdown__button-text--check">
            {{ checkedListOrganization }}
          </span>
          <span *ngIf="checkedListOrganization.length > 1" class="dropdown__button-text dropdown__button-text--check">
            Выбрано: {{ checkedListOrganization.length }}
          </span>
          <img
            class="dropdown__button-img"
            [ngClass]="showOrganization ? 'rotate': ''"
            src="/assets/icons/icon-dropdown.svg" alt="" width="9" height="5"/>
        </button>
        <div *ngIf="showOrganization" class="dropdown__menu-wrap">
          <div class="dropdown__menu">
            <span class="dropdown__menu-title">Организация</span>
            <ng-container *ngFor="let organization of organizations">
              <input type="checkbox" [(ngModel)]="organization.checked"
                     class="visual-hidden dropdown__input"
                     id="{{ organization?.id }}"
                     (change)="getSelectedValueOrganization(organization.checked,organization.name)"/>
              <label class="dropdown__label" for="{{ organization?.id }}">
                <span>{{ organization?.name }}</span>
              </label>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropdown__button" (click)="showPaymentType = !showPaymentType">
          <span *ngIf="radioSelected == null" class="dropdown__button-text">Тип платежа</span>
          <span *ngIf="radioSelected" class="dropdown__button-text dropdown__button-text--check">
            {{ radioSelected }}
          </span>
          <img
            class="dropdown__button-img"
            [ngClass]="showPaymentType ? 'rotate': ''"
            src="/assets/icons/icon-dropdown.svg" alt="" width="9" height="5"/>
        </button>
        <div *ngIf="showPaymentType" class="dropdown__menu-wrap">
          <div class="dropdown__menu">
            <span class="dropdown__menu-title">Тип платежа</span>
            <ng-container *ngFor="let payment of payments">
              <input type="radio"
                     class="visual-hidden dropdown__input dropdown__input--radio"
                     [value]='payment?.name'
                     [(ngModel)]="radioSelected"
                     id="{{ payment?.id }}">
              <label class="dropdown__label" for="{{ payment?.id }}">
                <span>{{ payment?.name }}</span>
              </label>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropdown__button" (click)="showServiceType = !showServiceType">
          <span *ngIf="checkedListService.length <= 0" class="dropdown__button-text">Тип услуги</span>
          <span *ngIf="checkedListService.length == 1" class="dropdown__button-text dropdown__button-text--check">
            {{ checkedListService }}
          </span>
          <span *ngIf="checkedListService.length > 1" class="dropdown__button-text dropdown__button-text--check">
            Выбрано: {{ checkedListService.length }}
          </span>
          <img
            class="dropdown__button-img"
            [ngClass]="showServiceType ? 'rotate': ''"
            src="/assets/icons/icon-dropdown.svg" alt="" width="9" height="5"/>
        </button>
        <div *ngIf="showServiceType" class="dropdown__menu-wrap">
          <div class="dropdown__menu">
            <span class="dropdown__menu-title">Тип услуги</span>
            <ng-container *ngFor="let service of services">
              <input type="checkbox" [(ngModel)]="service.checked"
                     class="visual-hidden dropdown__input"
                     id="{{ service?.id }}"
                     (change)="getSelectedValueService(service.checked,service.name)"/>
              <label class="dropdown__label" for="{{ service?.id }}">
                <span>{{ service?.name }}</span>
              </label>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="dropdown dropdown--calendar">
        <button class="dropdown__button" (click)="showPaymentFrom = !showPaymentFrom">
         <span class="dropdown__button-img-calendar">
            <img src="/assets/icons/icon-calendar.svg" alt="" class="" width="20" height="18">
            <span class="dropdown__button-text">Платеж от</span>
          </span>
          <img
            class="dropdown__button-img"
            [ngClass]="showPaymentFrom ? 'rotate': ''"
            src="/assets/icons/icon-dropdown.svg" alt="" width="9" height="5"/>
        </button>
        <div *ngIf="showPaymentFrom" class="dropdown__menu-wrap">
          <div class="dropdown__menu">
            <span class="dropdown__menu-title">Платеж от</span>
            <img src="/assets/images/calendar.png" alt="" width="308" height="240"/>
          </div>
        </div>
      </div>

      <div class="dropdown dropdown--calendar">
        <button class="dropdown__button" (click)="showPaymentTo = !showPaymentTo">
          <span class="dropdown__button-img-calendar">
            <img src="/assets/icons/icon-calendar.svg" alt="" class="" width="20" height="18">
            <span class="dropdown__button-text">Платеж до</span>
          </span>
          <img
            class="dropdown__button-img"
            [ngClass]="showPaymentTo ? 'rotate': ''"
            src="/assets/icons/icon-dropdown.svg" alt="" width="9" height="5"/>
        </button>
        <div *ngIf="showPaymentTo" class="dropdown__menu-wrap">
          <div class="dropdown__menu">
            <span class="dropdown__menu-title">Платеж до</span>
            <img src="/assets/images/calendar.png" alt="" width="308" height="240"/>
          </div>
        </div>
      </div>
    </div>

    <div class="filter__buttons">
      <button class="filter__button filter__button--find">Найти</button>
      <button class="filter__button filter__button--clear">Очистить</button>
    </div>
  </div>

  <div class="payment-table">
    <table class="payment-table__table user-profile-table">
      <tr>
        <th>Наименование платежа</th>
        <th>Дата платежа</th>
        <th>Организация</th>
        <th>Сумма платежа</th>
      </tr>
      <tr *ngFor="let payment of paymentHistory | slice:0:showPayment">
        <td class="payment-table__name">
          <span class="payment-table__text">{{ payment?.name }}</span>
        </td>
        <td class="payment-table__date-wrap">
          {{ payment?.date }}
        </td>
        <td class="payment-table__organization-wrap">
          <p class="payment-table__organization">
            <span>{{ payment?.organization }}</span>
            <a class="payment-table__organization-case">{{ payment?.case }}</a>
          </p>
          <a href="" class="payment-table__organization-doc">Подтверждающие документы</a>
        </td>
        <td class="payment-table__sum-wrap">
          <div class="payment-table__sum">
            <div class="payment-table__total-wrap">
              <span class="payment-table__total"
                    (click)="openModalPay(payment?.id)"
                    [ngStyle]="{'color': payment?.minus === false ? '#72CA49' : '' }"
              >
                <span>{{ payment?.minus === true ? '-' : '+' }}&nbsp;</span>
                <span>{{ payment?.sum }}</span>
                ₽
              </span>
              <span *ngIf="payment?.bonus != null" class="payment-table__bonus">
                Из них бонусных: <span class="payment-table__bonus-sum">{{ payment?.bonus }} ₽</span>
              </span>
            </div>
            <div class="payment-table__payment-type-wrap">
              <p class="payment-table__payment-type" (click)="openModalPay(payment?.id)">
                {{ payment?.method }}
              </p>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <button class="user-profile-table__show-all" *ngIf="showPayment < paymentHistory" (click)="paymentShow()">
      Показать еще
    </button>
  </div>
</div>

<div *ngIf="showModalPay">
  <app-modal-payment
    (modalEvent)="closeModal()"
    [pay]="selectedPay"
  >
  </app-modal-payment>
</div>
