.payment-table__table {
  @media (max-width: 767px) {
    display: block
  }

  & th {
    &:first-of-type {
      width: 29%;
    }

    &:last-of-type {
      width: 22%;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  & td {
    padding: 19px 18px 20px;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  & tr {
    @media (max-width: 767px) {
      position: relative;
      display: grid;
      padding-bottom: 77px;

      &:first-of-type {
        display: none;
      }
    }
  }
}

.payment-table__name {
  & span {
    display: block;
    width: 90%;
  }
}

.payment-table__organization {
  margin: 0;

  @media (max-width: 767px) {
    font-size: 13px;
    line-height: 18px;
    color: #929FAB;
  }
}

.payment-table__organization-case {
  margin-left: 5px;
  text-decoration: underline;
  color: #00AFEC;
}

.payment-table__date-wrap {
  @media (max-width: 767px) {
    grid-row: 1/2;
    margin-bottom: 10px;
  }
}

.payment-table__name {
  @media (max-width: 767px) {
    grid-row: 2/3;
    margin-bottom: 10px;
  }
}

.payment-table__organization-wrap {
  @media (max-width: 767px) {
    grid-row: 3/4;
    margin-bottom: 15px;
  }
}

.payment-table__organization-doc {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  color: #929FAB;

  @media (max-width: 767px) {
    position: absolute;
    bottom: 20px;
    display: block;
    width: 100%;
    max-width: 335px;
    padding: 12px;
    color: #00AFEC;
    text-align: center;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.payment-table__sum {
  display: flex;
  align-items: flex-start;
}

.payment-table__total-wrap {
  flex-grow: 1;
  text-align: right;

  @media (max-width: 767px) {
    text-align: left;
  }
}

.payment-table__total {
  display: block;
  font-weight: 700;
  cursor: pointer;

  @media (max-width: 991px) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.payment-table__bonus {
  font-size: 13px;
  line-height: 18px;
  color: #929FAB;
}

.payment-table__bonus-sum {
  color: #152438;
}

.payment-table__payment-type-wrap {
  width: 72px;
  margin-left: 20px;
}

.payment-table__payment-type {
  display: inline-block;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #929FAB;
  border: 1px solid #929FAB;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
