<div class="domains-container">
  <div *ngIf="domains.result?.length" class="table__wrapper">
    <div class="table__header-wrapper">
      <h2 class="table__header">
        <span id="domainsHeader">Домены</span>
        <span class="table__header-count">{{domains.totalCount}}</span>
      </h2>
      <button class="table__header-btn"
              (click)="checkAllDomains()">{{!allDomainsChecked ? 'Выбрать все' : 'Снять все'}}</button>
    </div>
    <div class="table__big-block" *ngFor="let obj of domains.result; let i = index" (click)="openPopupInfo(obj)" [id]="'domains' + i">
      <div class="table__row row-white" [class.row-white__blue-border]="obj.checked">
        <div class="row-white__img-text">
          <div class="row-white__img">
            <img class="tm_image_stub" src="assets/portfolio/domains.svg">
          </div>

          <div class="row-white__title-text">
            <div class="row-white__subtitle-wrapper">
              <p class="row-white__subtitle">Домен</p>
            </div>
            <p class="row-white__text row-white__text--bold" [innerText]="getDomain(obj)"></p>
          </div>
        </div>

        <div class="row-white__title-text line">
          <p class="row-white__subtitle">Регистратор</p>
          <p class="row-white__text">{{trimString(obj._source.domainRegistrator, 50)}}</p>
        </div>

        <div class="row-white__title-text line">
          <p class="row-white__subtitle">Действует до</p>
          <p class="row-white__text">{{obj._source.payDate | date:'dd.MM.yyyy'}}</p>
        </div>

        <div class="row-white__checkbox">

          <input
            class="row-white__checkbox--input"
            type="checkbox"
            #domainRef
            id="{{'domains' + obj._id}}"
            (click)="checkDomain($event, obj)"
          >
          <label class="row-white__checkbox-label"
                 [class.row-white__checkbox-label--checked]="getDomainChecked(obj._id)">
            <span class="row-white__tooltip">{{obj.checked ? 'Выбрано' : 'Выбрать для добавления' }}</span>
          </label>
        </div>

      </div>
    </div>
  </div>

  <app-pagination
    *ngIf="domains.totalCount / domains.pagination.size > 1"
    [currentPageNumber]="currentPage"
    [totalCount]="domains.totalCount"
    [itemPerPage]="domains.pagination.size"
    (eventChangePage)="onChangePage($event)"
  ></app-pagination>
</div>


<app-portfolio-domain
  *ngIf="showPopupInfoDomain"
  [data]="popupInfoData"
  (modalEvent)="closePopupInfo()"
></app-portfolio-domain>