@import "variables";

.heading {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (max-width: 768px) {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
  }
}

.duties {
  display: flex;
  margin-bottom: 40px;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  border-radius: 5px;

  @media (max-width: 768px) {
    display: block;
    margin-bottom: 20px;
  }
}

.duties__column {
  width: 50%;
  padding: 20px;
  border-radius: 0 5px 5px 0;

  @media (max-width: 768px) {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }

  &:first-of-type {
    background: #FFFFFF;
    border-radius: 5px 0 0 5px;

    @media (max-width: 768px) {
      border-radius: 5px 5px 0 0;
    }
  }
}

.duties__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.duties__list {
  & li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    border: 1px solid $g__outline_color;
    border-radius: 5px;
    cursor: pointer;

    & span:first-of-type {
      font-weight: 700;
    }

    & span:last-of-type {
      flex-shrink: 0;
      padding-left: 5px;
    }

    &.selected {
      padding: 24px 19px;
      border: 2px solid $g__link_color;
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    @media (max-width: 768px) {
      align-items: baseline;
      padding: 15px;

      &.selected {
        padding: 14px;
      }
    }
  }
}

.duties__decryption {
  padding-top: 20px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    margin-bottom: 15px;
    padding-top: 0;
  }

  & p {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 16px;
    line-height: 24px;

    & span:last-of-type {
      flex-shrink: 0;
      padding-left: 10px;
    }

    &:first-of-type {
      & span:last-of-type {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
      }
    }

    &:not(:first-of-type) {
      & span:first-of-type {
        color: $g__text_color_secondary;
      }

      @media (max-width: 768px) {
        font-size: 13px;
        line-height: 18px;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;

      @media (max-width: 768px) {
        margin-bottom: 5px;
      }
    }
  }
}

.duties__desc {
  font-size: 16px;
  line-height: 24px;
}
