<div class="monitoring-modal risk-modal">
  <div class="monitoring-modal__wrap monitoring-modal__wrap--height" *ngIf="sourceData._source">
    <div class="monitoring-modal__header">
      <div class="monitoring-modal__header-block">
        <a class="ext_link" href="{{getExternalLink(sourceData)}}" target="_blank">
          <img src="/assets/images/monitoring-modal-patent.png" alt="" class="monitoring-modal__header-img" width="80"
               height="54">
          <p class="monitoring-modal__header-info">{{ sourceData.indexType }}</p>
        </a>
      </div>
      <button class="monitoring-modal__close-mobile" (click)="closeModal()">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <rect x="1.41418" y="1.52588e-05" width="20" height="2" transform="rotate(45 1.41418 1.52588e-05)"/>
          <rect y="14.1421" width="20" height="2" transform="rotate(-45 0 14.1421)"/>
        </svg>
      </button>
    </div>
    <div class="risk-modal__content" *ngIf="sourceData">
      <div class="risk-modal__criticality-wrapper">
        <div class="risk-modal__criticality"
             [class.risk-modal__criticality--critical]="maxRiskLevel === 4"
             [class.risk-modal__criticality--high]="maxRiskLevel === 3"
             [class.no-risk-label]="(maxRiskLevel === 2) || (maxRiskLevel === 1)"
        >
          <span *ngIf="maxRiskLevel">{{getRiskByLevel(maxRiskLevel)}}</span>
        </div>
        <span class="risk-modal__question">?
          <div class="risk-tooltip"
               *ngIf="(maxRiskLevel === 4) || (maxRiskLevel === 3)"
          >Этот объект создает значительные риски для вашего товарного знака
          </div>
          <div class="risk-tooltip" *ngIf="(maxRiskLevel === 2) || (maxRiskLevel === 1)"
          >Этот объект создает незначительные риски для вашего товарного знака
          </div>
        </span>
      </div>

      <h1 class="risk-modal__title risk-modal__title--big">
        {{data.index === 'rugp' ? 'Заявка на наименование мест происхождения товаров' : 'Заявка на товарный знак'}}
        №{{sourceData._source.applicationString}}
      </h1>

      <div class="risk-modal__about-wrap">
        <div class="risk-modal__about-img-wrapper" *ngIf="imageUrl">
          <img [src]="imageUrl | proxyImage" alt="" width="165" height="91">
        </div>

        <dl class="risk-modal__about">

          <div *ngIf="getStatusTrademark(sourceData)">
            <dt>Статус рассмотрения в Роспатенте</dt>
            <dd class="risk-modal__bold-text" [innerText]="getStatusTrademark(sourceData)"></dd>
          </div>
          <div *ngIf="sourceData._source.applicantName">
            <dt>Заявитель</dt>
            <dd>{{sourceData._source.applicantName}}</dd>
          </div>
          <div class="risk-modal__in-row">
            <div class="risk-modal__ceil-width" *ngIf="sourceData._source.PSRN">
              <dt>ОГРН</dt>
              <dd>{{sourceData._source.PSRN}}</dd>
            </div>
            <div *ngIf="sourceData._source.applicationDate">
              <dt>Дата подачи заявки</dt>
              <dd>{{sourceData._source.applicationDate | date:'dd.MM.yyyy'}}</dd>
            </div>
          </div>

          <div class="risk-modal__in-row">
            <div class="risk-modal__ceil-width" *ngIf="sourceData._source.registrationDate">
              <dt>Дата регистрации</dt>
              <dd>{{sourceData._source.registrationDate | date:'dd.MM.yyyy'}}</dd>
            </div>
            <div *ngIf="sourceData._source.expiryDate">
              <dt>Дата истечения</dt>
              <dd>{{sourceData._source.expiryDate | date:'dd.MM.yyyy'}}</dd>
            </div>
          </div>
        </dl>
      </div>

      <app-ui-accordion
        [title]="'События мониторинга'"
        [count]="monitoringRisks"
        [monitoring]="{btn: true, style: true}">

        <table class="monitoring-modal__table" *ngIf="data.isMonitoring">
          <tr>
            <th>Дата</th>
            <th>Уровень риска</th>
            <th>Событие</th>
            <th></th>
          </tr>

          <tr *ngFor="let item of monitoringEvents">
            <td>{{item.date | date: 'dd.MM.yyyy'}}</td>
            <td class="monitoring-modal__table-risk">
              <span class="monitoring-modal__table-risk__level"
                    [class.monitoring-modal__table-risk__level--fatal]="item.level === 4"
                    [class.monitoring-modal__table-risk__level--critical]="item.level === 3"
                    [class.monitoring-modal__table-risk__level--possible]="item.level === 2"
                    [class.monitoring-modal__table-risk__level--recommendation]="item.level === 1"
              ></span>
              <span>{{getRiskByLevel(item.level)}}</span>
            </td>
            <td>{{item.description}}</td>
            <td>
              <span class="monitoring-modal__table-toDo" (click)="toLeadForm(item.id)">{{item.riskData.button}}</span>
            </td>
          </tr>

        </table>
        <table class="monitoring-modal__table" *ngIf="!data.isMonitoring">
          <tr>
            <th style="width: 50%">Уровень риска</th>
            <th style="width: 50%">Количество рисков</th>
          </tr>

          <tr *ngFor="let item of noMonitoringRisks">
            <td class="monitoring-modal__table-risk">
              <span class="monitoring-modal__table-risk__level"
                    [class.monitoring-modal__table-risk__level--fatal]="item.risk === 4"
                    [class.monitoring-modal__table-risk__level--critical]="item.risk === 3"
                    [class.monitoring-modal__table-risk__level--possible]="item.risk === 2"
                    [class.monitoring-modal__table-risk__level--recommendation]="item.risk === 1"
              ></span>
              <span>{{getRiskTitleByLevel(item.risk)}}</span>
            </td>
            <td>{{item.values}}</td>
          </tr>

        </table>
      </app-ui-accordion>

      <div class="divider"></div>
      <app-ui-accordion
        [title]="'Классы МКТУ'"
        [count]="sourceData && sourceData._source && sourceData._source.goodsServices && sourceData._source.goodsServices.length"
        [monitoring]="{btn: false, style: true}">
        <ul>
          <li *ngFor="let classes of getMktuClasses()">
            <div class="mktu-class">
              <div class="class-number">{{classes.classNumber}} <span>класс</span></div>
              <div class="class-description"
                   onclick="this.className = (this.className === 'class-description' ? 'class-description-long' : 'class-description')">{{classes.gsDescription}}</div>
            </div>
          </li>
        </ul>
        <button *ngIf="sourceData._source.goodsServices.length > 3 && viewClassesCount === 'short'"
                (click)="showAllClasses()" class="show-all-btn">Показать
          еще {{sourceData._source.goodsServices.length - 3}}</button>
      </app-ui-accordion>
      <div class="divider"></div>
      <app-ui-accordion
        [title]="'История рассмотрения заявок в Роспатенте'"
        [count]="sourceData && sourceData._source && sourceData._source.changesHistory && sourceData._source.changesHistory.length"
        [monitoring]="{btn: false, style: true}"
      >
        <div *ngIf="sourceData._source.changesHistory" style="margin-bottom: 20px">
          <ul class="change-history">
            <li *ngFor="let change of sourceData._source.changesHistory">
              <div class="change-date">{{change.registrationDate | date: 'dd.MM.yyyy'}}</div>
              <div class="change-description change-description__type">{{change.changeType}}</div>
              <div class="change-description change-description__width" [innerText]="getChangeCode(change)"></div>
            </li>
          </ul>
        </div>
      </app-ui-accordion>
      <div class="divider"></div>
      <app-ui-accordion
        [title]="'Споры и суды'"
        [count]="0"
        [monitoring]="{btn: false, style: true}"
      ></app-ui-accordion>

      <div class="divider" *ngIf="showRemoveBtn"></div>
      <app-ui-accordion
        *ngIf="showRemoveBtn"
        [title]="'Файлы'"
        [count]="files.length"
        [monitoring]="{btn: false, style: true}"
        [isOpen]="true"
      >
        <div class="files-container" *ngIf="files.length">
          <div class="files-container__item" *ngFor="let file of files; index as i"
               [style.margin-right.px]="((i+1) % 3) === 0 ? 0 : 9">
            <div class="about">
              <span>{{file.name}}</span>
              <div class="files-btn">
                <a class="files-btn__download" (click)="downloadFiles.downloadFile(file)">Скачать</a>
              </div>
            </div>
            <div class="docs__icon-wrapper">
                  <span class="docs__icon">
                   <img src="/assets/images/delete-small.png" class="docs__icon--mini"
                        (click)="removeFile(file.publicPath)">
                   <img src="/assets/icons/gray-empty-contracts.svg">
                  </span>
            </div>
          </div>
        </div>
        <p class="file-error" *ngIf="fileError?.length">{{fileError}}</p>
        <div class="file-card-object">
          <input type="file" id="100" (change)="fileChangeEvent($event)">
          <label for="100" class="add-file-label">
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M18.0586 14.6914H22.8086V17.8086H18.0586V22.5586H14.9414V17.8086H10.1914V14.6914H14.9414V9.94141H18.0586V14.6914ZM32.3086 5.93359V22.5586L22.8086 32.0586H6.18359C4.69922 32.0586 3.41276 31.5143 2.32422 30.4258C1.23568 29.3372 0.691406 28.0508 0.691406 26.5664V5.93359C0.691406 4.44922 1.23568 3.16276 2.32422 2.07422C3.41276 0.985677 4.69922 0.441406 6.18359 0.441406H26.8164C28.3008 0.441406 29.5872 0.985677 30.6758 2.07422C31.7643 3.16276 32.3086 4.44922 32.3086 5.93359ZM29.1914 6.45312C29.1914 5.66146 28.8945 4.99349 28.3008 4.44922C27.7565 3.85547 27.0885 3.55859 26.2969 3.55859H6.70312C5.91146 3.55859 5.21875 3.85547 4.625 4.44922C4.08073 4.99349 3.80859 5.66146 3.80859 6.45312V26.1953C3.80859 26.987 4.08073 27.6797 4.625 28.2734C5.21875 28.8177 5.91146 29.0898 6.70312 29.0898H21.25V26.7148C21.25 25.181 21.7943 23.8698 22.8828 22.7812C23.9714 21.6927 25.2826 21.1484 26.8164 21.1484H29.1914V6.45312Z"/>
            </svg>
            <div class="add-file-text">
              <span class="title-file">
              Прикрепить файл
            </span>
              <span class="description-file">
              Файл не более 2мб
            </span>
            </div>
          </label>
        </div>
      </app-ui-accordion>

      <div class="monitoring-modal__header-block mobile" [style]="showRemoveBtn ? '' : 'justify-content: flex-end'">
        <button *ngIf="showRemoveBtn" class="monitoring-modal__header-btn monitoring-modal__header-btn--delete" id="deletePortfolio"
                (click)="deleteObject()">Удалить из портфеля
        </button>
        <button class="monitoring-modal__header-btn monitoring-modal__header-btn--toAsk" (click)="onClickBtn('Задать вопрос онлайн')">Задать вопрос онлайн</button>
      </div>
    </div>

  </div>
  <div (click)="closeModal()" class="monitoring-modal__overlay"></div>
</div>
