@import 'variables';

.tabs-act {
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.tabs__item {
  padding: 0;

  @media (max-width: 768px) {
    &:not(:last-child) {
      margin-right: 0;
    }

    margin-right: 0;
  }
}

.tabs__item a {
  @media (max-width: 768px) {
    width: 100%;
    padding: 12px;
    display: flex;
    font-size: 13px;
    line-height: 18px;
    border-radius: 5px;
    align-items: center;
    background: #F7F8FB;
    box-sizing: border-box;
    justify-content: center;
    border: 1px solid rgba(21, 36, 56, 0.15);

    &.is-active {
      @media (max-width: 768px) {
        background: #FFFFFF;
      }
    }
  }
}

.is-active {
  @media (max-width: 768px) {
    color: #00AFEC;
    border-bottom: none;
  }
}

.tabs__list {
  @media (max-width: 768px) {
    gap: 10px;
    flex-direction: column;
  }
}

.tabs__list--half-cols {
  margin-left: -5px;
  margin-right: -5px;
}
