@import 'variables';

.header__logo img {
  max-width: 260px !important;
}

.info-card {
  box-shadow: none !important;
  border: 1px solid rgba(31, 31, 34, 0.1) !important;
}

.nothing img {
  width: 356px !important;
}

app-cases-item {
  .section-position--main,
  .container--main,
  .control__btn--active {
    background: $g__body_background !important;
  }

  .control__btn--active {
    border-bottom: 1px solid $g__body_background !important;
  }

  @media(max-width: 768px) {
    .control__btn--active {
      background: #FFF !important;
      border-bottom: 1px solid rgba(31, 31, 34, .1) !important;
    }
  }
}

.chart-date__btn-add {
  color: #FFFFFF !important;
}

.control__btn--white {
  color: #FFFFFF;
  background: rgba(235, 237, 242, 0.1);

  @media(max-width: 768px) {
    color: #FFFFFF;

    & span {
      color: #FFFFFF;
    }
  }
}

.control__btn--dark.control__btn--white {
  color: $g__text_color_primary;
  background: $g__body_background;

  @media(max-width: 768px) {
    color: $g__text_color_primary;

    & span {
      color: $g__text_color_primary;
    }
  }
}

.ip-id-search-risks.risk-orange.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-red.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-green.help-disabled .ip-id-search-risks-content .risks-notes.right > div > i,
.ip-id-search-risks.risk-green.help-enabled .ip-id-search-risks-content .risks-notes.left > div > i {
  padding: 4px 0 !important;
  background: $g__body_background !important;
  color: $g__text_color_secondary !important;
  border: 1px solid $g__outline_color;
}
