$g__body_background: #F2F4F7; // Цвет фона <body>
$g__text_color_primary: #1F1F22; // Цвет основного текста
$g__text_color_secondary: #7E8389; // Цвет вспомогательного текста
$g__btn_primary_background: #3A7D8A; // Цвет фона основных кнопок в формах
$g__btn_primary_color: #FFFFFF; // Цвет текста основных кнопок в формах
$g__btn_attr_border_color: #D2D7DD; // Цвет обводки атрибутивных кнопок в формах
$g__btn_attr_text_color: #1F1F22; // Цвет текста атрибутивных кнопок в формах

$g__alert_color: #B12A36; // Цвет Alert
$g__warning_color: #F19D39; // Цвет Warning
$g__success_color: #4D9D46; // Цвет Success
$g__alert_text_color: #FFFFFF; // Цвет текста внутри Alert, Warning, Success
$g__link_color: #2A59B9; // Цвет ссылок
$g__timeline_color: #D1D7DD; // Цвет таймлайна
$g__form_background: #FFFFFF; // Цвет фона формы
$g__outline_color: rgba(31, 31, 34, 0.1); // Цвет обводки

$g__mark_background: #1F1F22; // Цвет фона маркированного списка
$g__mark_icon_color: #FFFFFF; // Цвет галки маркированного списка

$g__white_background: #FFFFFF; // Белый фон

$request__tab_background: #FFFFFF; // Цвет фона не активного таба (в процессе оплаты)
$request__tab_color: #1F1F22; // Цвет текста не активного таба (в процессе оплаты)
$request__tab_active_background: #D1D7DD; // Цвет фона активного таба (в процессе оплаты)
$request__tab_active_color: #1F1F22; // Цвет текста активного таба (в процессе оплаты)

$nav__background: #FFFFFF; // Цвет фона шапки
$nav__link_color: #1F1F22; // Цвет ссылок в шапке
$nav__link_underline: #3A7D8A; // Цвет подчеркивания активной ссылки в шапке
$nav__btn_background: #3A7D8A; // Цвет кнопки в шапке
$nav__btn_color: #FFFFFF; // Цвет текста в кнопке в шапке

$header__light_background: #FFFFFF; // Цвет фона светлой шапки

$header__dark_background: #7E8389; // Цвет фона темной шапки
$header__dark_text_color_primary: #FFFFFF; // Цвет основного текста темной шапки
$header__dark_text_color_secondary: #D1D7DD; // Цвет атрибутивного текста темной шапки
$header__dark_link_color: #D1D7DD; // Цвет ссылок темной шапки
$header__dark_btn_background: #FFFFFF; // Цвет фона кнопки на темной шапке
$header__dark_btn_color: #1F1F22; // Цвет текста кнопки на темной шапке

$dashboard__search_btn_accent_background: #D1D7DD; // Цвет фона акцентной кнопки “Проверить”
$dashboard__search_btn_accent_color:  #1F1F22; // Цвет текста акцентной кнопки “Проверить”

$request_modal__item_hovered_background: #D1D7DD; // Цвет фона плашки при наведении в модалке подать заявку
$request_modal__item_hovered_color: #1F1F22; // Цвет текста и иконки в плашке при наведении в модалке подать заявку
$request_modal__item_icon_color: #3A7D8A; // Цвет иконки в неактивной плашке в модалке подать заявку
$request_modal__item_text_color: #1F1F22; // Цвет текста в неактивной плашке в модалке подать заявку
$request_modal__background: rgba(31, 31, 34, 0.4); // Цвет полупрозрачного фона у модальных окон
$request_modal__title_color: #FFFFFF; // Цвет заголовка на полупрозрачном фоне у модальных окон
$request_modal__icon_close_color: #FFFFFF; // Цвет крестика закрытия на полупрозрачном фоне у модальных окон

$g__attention_background: #FFFFFF; // Фон для рекомендаций (и комментариев)
$g__warning_background: #FFFFFF; // Фон для важных сообщений
$g__success_background: #FFFFFF; // Фон для успешных сообщений

$monitoring_promo__icon_color: #3A7D8A; // Цвет иконок в промо-блоках (страница мониторинга) - Кастомные цвета, см макет

$dashboard_cards__background: #7E8389; // Цвет фона блоков информеров в дашбоарде (мониторинг, портфель, услуги)
$dashboard_checked_objects__background: #EEF0F2; // Цвет фона выделенного элемента в списке у мониторинга и портфеля
$dashboard_checked_objects__outline_color: #3A7D8A; // Цвет обводки выделенного элемента в списке у мониторинга и портфеля

$g__checkbox_background: #3A7D8A; // Цвет фона выделенного Checkbox

$corp_search__sticky_background: rgba(31, 31, 34, 0.5); // Цвет фона плавающего элемента на странице результатов поиска (корпораты)
$corp_search__sticky_text_color: #FFFFFF; // Цвет текста и не активной кнопки плавающего элемента на странице результатов поиска (корпораты)
$corp_search__sticky_btn_active_background: #3A7D8A; // Цвет фона активной кнопки плавающего элемента на странице результатов поиска (корпораты)
$corp_search__sticky_btn_active_color: #FFFFFF; // Цвет текста активной кнопки плавающего элемента на странице результатов поиска (корпораты)
$corp_search__mktu_background: #FFD2CF; // Цвет фона пересечения классов МКТУ в результатах поиска (корпораты)

$g__toggle_active_background: #1F1F22; // Цвет активного Toggle
$g__toggle_active_disabled_background: #D1D7DD; // Цвет активного не рабочего Toggle
$g__toggle_no_active_background: #FFFFFF; // Цвет не активного Toggle

$expert__background: #FFFFFF; // Цвет фона блока с консультантом;
$corp_contract_form__radio_background: #F1F2F5; // Цвет фона переключателей в форме заявки на договор #F5F5F6;

$service__cards_background: #D1D7DD; // Цвет карточек услуг - Кастомные цвета, см макет
$service__cards_text_color: #1F1F22; // Цвет текста в карточке услуги
$search__btn: #00AFEC; // Цвет кнопки поиска

$cases__backgroud: #FFFFFF; // Цвет фона черновиков
$g__widgets_link_color: var(--g__widgets_link_color, #2A59B9); // Цвет ссылок в виджете портфеля