@import 'variables';

form {
  background: #f7f8fb;
}

.search__wrapper {
  width: 100%;
}

/*.search {
  padding: 20px 0 30px;
}*/
.search::before {
  display: none;
}

.search {
  // список имеет shadow который выбивается когда форма стикается
  // поэтому делаем форму чуть больше чем список
  width: 101%;
  padding: 20px 0.5%;
  margin-left: -0.5%;
  z-index: auto;
  position: relative;

  &__input {
    max-width: 304px;
    @media (max-width: 1100px) {
      width: 100%;
      position: relative;
      max-width: none;
      margin-right: 0;
    }
  }

  @media(max-width: 1100px) {
    display: none;
    top: 51px;
    position: fixed;
    flex-direction: column;
    background: #EBEDF2;
    left: 0;
    padding: 20px 15px;
    right: 0;
    height: 100%;
  }
  @media(max-width: 330px) {
    height: 100vh;
  }

  &__wrapper {
    @media (max-width: 1100px) {
      gap: 10px;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
}

.search::before {
  left: 26px;
  @media (max-width: 1100px) {
    left: 37px;
  }
}

.search__btns {
  display: none;
  @media (max-width: 1100px) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: auto;
    button {
      margin: 0;
    }
  }
}

.search_mobile_shown {
  z-index: 1000;
  display: block;
}

.filter-item {
  padding: 0 2.5px;
  width: 100%;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  @media (max-width: 767px) {
    padding: 0;
  }
}

.lv-pagination {
  display: block;
  padding: 10px 0 0 0;
}

.search__btn_ {
  cursor: pointer;
}

.overlay--search {
  display: none;
}

.control__mobile--active {
  justify-content: space-between;
  display: flex;
}

.control__mobile--active::after {
  display: none;
}

:host ::ng-deep {
  .search__btn-block {
    width: 100% !important;
  }

  @media (max-width: 767px) {
    .filter-daterange {
      filter: drop-shadow(0px 2px 4px rgba(21, 36, 56, 0.1));
    }
  }
}

.filter-text-result {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding: 15px 0;
}

.show-all-link {
  margin-left: 5px;
  color: $g__link_color;
  border-bottom: 1px dotted $g__link_color;
}

:host ::ng-deep {
  .filter-daterange {
    filter: none !important;
  }
}

.control__mobile-close {
  position: fixed;
  top: 13px;
  right: 10px;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: block;
  z-index: 1001;

  &::before, &::after {
    position: absolute;
    content: '';
    height: 24px;
    width: 2px;
    top: 0;
    background-color: $g__text_color_primary;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.search__btns-wrapper {
  display: none;

  @media(max-width: 793px) {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 0;
    display: flex;
  }
}

.btn-clean {
  order: 1;
  border: 1px solid $g__btn_primary_background;
  color: $g__btn_primary_background;
}

.btn-search {
  order: 2;
  margin: 0;
}

.control__mobile--not-active {
  position: relative;
  background: none;
  bottom: 8px;
  z-index: 0;
}

.control__mobile--filtered {
  position: relative;
  bottom: 116px;
  background: none;
}
