<div class="trademarks-container">
  <div *ngIf="trademarks.result?.length" class="table__wrapper">
    <div class="table__header-wrapper">
      <h2 class="table__header">
        <span id="tradeMarksHeader">Товарные знаки</span>
        <span class="table__header-count">{{trademarks.totalCount}}</span>
      </h2>
      <button class="table__header-btn"
              (click)="checkAllTrademarks()">{{!allTrademarksChecked ? 'Выбрать все' : 'Снять все'}}</button>
    </div>
    <div>
      <div class="table__big-block" *ngFor="let obj of trademarks.result; let i = index" (click)="openPopupInfo(obj)" [id]="'tradeMarks' + i">
        <div class="table__row row-white" [class.row-white__blue-border]="obj.checked">
          <div class="row-white__img-text">
            <div *ngIf="!obj._source.markImageFileName" class="row-white__img">
              <p class="image_text">
                {{obj._source.imageText}}
              </p>
            </div>
            <div *ngIf="obj._source.markImageFileName" class="row-white__img">
              <img class="tm_image" src="{{obj._source.imgUrl}}">
            </div>

            <div class="row-white__title-text">
              <div class="row-white__subtitle-wrapper">
                <p
                  class="row-white__subtitle">{{obj.title}}</p>
              </div>
              <p
                class="row-white__text row-white__text--bold">{{obj._source?.imageText?.substring(0, 50) || obj._source?.applicantName}}</p>
            </div>
          </div>

          <div class="row-white__title-text line">
            <p class="row-white__subtitle">Правообладатель</p>
            <p class="row-white__text">{{trimString(obj._source.applicantName, 50)}}</p>
          </div>

          <div class="row-white__title-text line">
            <p *ngIf="obj._index === 'rutm'" class="row-white__subtitle">Действует до</p>
            <p *ngIf="obj._index === 'rutm'"
               class="row-white__text">{{obj._source.expiryDate | date:'dd.MM.yyyy'}}</p>
          </div>

          <div class="row-white__checkbox">

            <input
              class="row-white__checkbox--input"
              type="checkbox"
              id="{{'tradeMarks' + obj._id}}"
              #trademarkRef
              (click)="checkTrademark($event, obj)"
            >
            <label class="row-white__checkbox-label"
                   [class.row-white__checkbox-label--checked]="getTrademarkChecked(obj._id)">
            <span class="row-white__tooltip">
              {{obj.checked ? 'Выбрано' : 'Выбрать для добавления'}}
            </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-pagination
    *ngIf="trademarks.totalCount / trademarks.pagination.size > 1"
    [currentPageNumber]="currentPage"
    [totalCount]="trademarks.totalCount"
    [itemPerPage]="trademarks.pagination.size"
    (eventChangePage)="onChangePage($event)"
  ></app-pagination>
</div>

<app-portfolio-logotype
  *ngIf="showPopupInfoTMA"
  [data]="popupInfoData"
  (modalEvent)="closePopupInfo()"
></app-portfolio-logotype>

<app-portfolio-logotype-item
  *ngIf="showPopupInfoTM"
  [data]="popupInfoData"
  (modalEvent)="closePopupInfo()"
></app-portfolio-logotype-item>