.user {
  background-color: #F7F8FB;
}

.user__wrap {
  padding-right: 0;
}

.user-tabs {
  background-color: #F7F8FB;
}

.user-tabs__list-wrap {
  border-bottom: 1px solid #CBCFD6;

  @media (max-width: 991px) {
    border-bottom: none;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.user-tabs__list {
  display: flex;
  justify-content: space-between;

  @media (max-width: 991px) {
    padding-bottom: 20px;
    min-width: max-content;
    width: 100%;
  }
}

.user-tabs__item {
  position: relative;
  width: 599px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;

  &.mono-account,
  &.waiting-account {
    width: 387px;

    @media (max-width: 991px) {
      width: 33.3%;
    }
  }

  &.administrator {
    width: 280px;

    @media (max-width: 991px) {
      width: 25%;
    }
  }

  @media (max-width: 991px) {
    width: 50%;
    min-height: 103px;
    padding: 0;
    margin-right: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 9px 20px;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 10px;
      line-height: 20px;
    }

    &:disabled {
      color: #929FAB;
    }
  }

  &.is-active {
    background-color: #fff;
    border: 1px solid #CBCFD6;

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      width: 100%;
      height: 10px;
      background-color: #fff;
    }

    @media (max-width: 991px) {
      background: #F7F8FB;
      box-shadow: none;

      &::before {
        display: none;
      }
    }
  }
}

.user-tabs__count {
  font-size: 25px;
  line-height: 40px;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.user-tabs__content {
  padding-top: 35px;
  padding-bottom: 60px;
  background-color: #FFFFFF;

  @media (max-width: 767px) {
    padding: 20px 0;
  }
}
