<div class="page-wrapper">
  <main>
    <button (click)="changeAdministratorRights()">
      Временная кнопка для администратора;
      администратор - {{ administrator }}
    </button>
    <button (click)="changeMonoAccount()">
      Временная кнопка для моно-аккаунта;
      моно-аккаунт - {{ monoAccount }}
    </button>
    <button (click)="changeWaitingAccount()">
      Временная кнопка для аккаунта с ожиданием подверждения прав;
      ожидание подверждения - {{ waitingAccount }}
    </button>

    <section class="user">
      <div class="user__wrap container">
        <h1 class="visual-hidden">Личный кабинет</h1>
        <img src="https://via.placeholder.com/120x120" alt="" class="user__avatar">
        <div>
          <p class="user__name">{{user.name}}</p>
          <ul class="user__info-list">
            <li class="user__info-item">Должность</li>
            <li class="user__info-item">
              {{user.phone}}
            </li>
            <li class="user__info-item">
              <a href="mailto:drozdov.m@yandex.ru">{{user.login}}</a>
            </li>
            <li class="user__info-item user__info-item--links">
              <a class="user__links" [routerLink]="'/user/change-profile'">Редактировать профиль</a>
              <span>&nbsp;или&nbsp;</span>
              <a class="user__links" [routerLink]="'/user/change-password'">Изменить пароль</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="user-tabs">
      <div class="user-tabs__list-wrap">
        <ul class="user-tabs__list container">
          <li class="user-tabs__item"
              [ngClass]="{
                        'is-active': userTab === 'organization',
                        'mono-account': monoAccount,
                        'waiting-account': waitingAccount,
                        'administrator': administrator}"
          >
            <button (click)="switchUserTab('organization')">
              <span>Организации и ИП</span>
              <span class="user-tabs__count">{{ organizations.length }}</span>
            </button>
          </li>
          <li class="user-tabs__item"
              *ngIf="administrator === false && monoAccount === false && waitingAccount === false"
              [ngClass]="userTab === 'access'? 'is-active': ''"
          >
            <button (click)="switchUserTab('access')">
              <span>Мои права доступа</span>
            </button>
          </li>
          <li class="user-tabs__item"
              *ngIf="administrator === true"
              [ngClass]="{
                        'is-active': userTab === 'users',
                        'administrator': administrator}"
          >
            <button (click)="switchUserTab('users')">
              <span>Пользователи и права</span>
              <span class="user-tabs__count">{{ users.length }}</span>
            </button>
          </li>
          <li class="user-tabs__item"
              *ngIf="administrator === true || monoAccount === true || waitingAccount === true"
              [ngClass]="{
                        'is-active': userTab === 'payment',
                        'mono-account': monoAccount,
                        'waiting-account': waitingAccount,
                        'administrator': administrator}"
          >
            <button (click)="switchUserTab('payment')">
              <span>История платежей</span>
              <span class="user-tabs__count">{{ paymentHistory.length }}</span>
            </button>
          </li>
          <li class="user-tabs__item"
              *ngIf="administrator === true || monoAccount === true || waitingAccount === true"
              [ngClass]="{
                        'is-active': userTab === 'attorney',
                        'mono-account': monoAccount,
                        'waiting-account': waitingAccount,
                        'administrator': administrator}"
          >
            <button (click)="switchUserTab('attorney')">
              <span>Доверенности</span>
              <span class="user-tabs__count">{{ attorney.length }}</span>
            </button>
          </li>
        </ul>
      </div>

      <div class="user-tabs__content">
        <div *ngIf="userTab === 'organization' && organisations">
          <app-tab-organizations-ip
            [organizations]="organizations"
            [administrator]="administrator"
            [waitingAccount]="waitingAccount"
            [organisations]="organisations"
          ></app-tab-organizations-ip>
        </div>

        <div *ngIf="userTab === 'access'">
          <app-tab-access [organizations]="organizations"></app-tab-access>
        </div>

        <div *ngIf="userTab === 'users'">
          <app-tab-users-rights
            [organizations]="organizations"
            [users]="users"
          ></app-tab-users-rights>
        </div>

        <div class="" *ngIf="userTab === 'payment'">
          <app-tab-payment-history
            [organizations]="organizations"
            [paymentHistory]="paymentHistory"
          ></app-tab-payment-history>
        </div>
        <div class="" *ngIf="userTab === 'attorney'">
          <app-tab-attorney
            [attorney]="attorney"
            [organizations]="organizations"
          ></app-tab-attorney>
        </div>
      </div>
    </section>

    <!--    <div class="expert__user-profile">-->
    <!--      <app-expert></app-expert>-->
    <!--    </div>-->

  </main>
</div>
