.mktu-modal{
  &__main{
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    right: 0;
  }

  &__head{
    background: #FFFFFF;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 1.4;
    display: flex;
    justify-content: space-between;
    p{
      margin-bottom: 0;
      width: fit-content;
    }
  }

  &__close{
    background-image: url("/assets/images/close-icon.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin: auto 0;
  }

  &__block{
    background: #F7F8FB;
    padding: 10px 20px 20px;
    height: 500px;
    overflow: scroll;
    .mktu-modal__item {
      &:last-of-type {
        margin-bottom: 50px;
        &::after {
          display: none;
        }
      }
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
  }

  &__row{
    display: flex;
    justify-content: space-between;
  }

  &__label{
    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    margin: auto 0;
    position: relative;
  }

  &__text{
      background: #FFFFFF;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 5px 8px;
      font-weight: bold;
      font-size: 13px;
      line-height: 1.38;
  }

  &__mktu{
    display: flex;
    gap: 10px;

    input{
      opacity: 0;
      position: absolute;
    }
  }

  &__show{
    flex-grow: 1;
    display: flex;
    height: 30px;
    position: relative;

    &::after{
      width: 11px;
      height: 7px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url("/assets/icons/mktu-arrow.svg");
      transform: rotate(180deg);
      right: 0;
      top: 10px;
      position: absolute;
      content: '';
    }

    &--open::after{
      transform: none;
      background-position-x:right;
    }
  }

  &__item{
    position: relative;
    padding: 10px 0;

    &::after{
      position: absolute;
      content: '';
      height: 1px;
      width: 93%;
      left: 30px;
      bottom: 0;
      background-color: rgba(21, 36, 56, 0.15);
    }

  }

  &__hidden{
    padding-left: 30px;
    padding-top: 10px;
  }
}

.mktu-modal__mktu input:checked ~ .mktu-modal__label::before{
  position: absolute;
  content: '';
  background-image: url("/assets/images/black-done.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 4px;
  width: 11px;
  height: 9px;
  left: 3px;
}

.mktu-modal__mktu input:checked ~ .mktu-modal__label{
  border: none;
  background: none;
}

.mktu-modal__mktu input:checked ~ .mktu-modal__text{
  background: #72CA49;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #FFFFFF;
}

.btn-blue{
  width: 90vw;
  position: fixed;
  top: 490px;
}
