@import 'variables';
@import '../../scss/_variables';

$request-button-color: $g__btn_primary_color;
$request-button-background: $g__btn_primary_color;

.btn {
  @include radius(4px);
  @include rem(16); /*Необходимо уточнение по мобильной версии*/
  @include line-height(18, 18);
  @extend .text-center;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 15px; /*Необходимо уточнение по мобильной версии*/
  display: inline-block;
  background-color: $g__btn_primary_background;
  color: $g__btn_primary_color;

  &--attr {
    color: $g__btn_attr_text_color;
    border: 1px solid $g__btn_attr_border_color;
    background-color: transparent;
  }

  @include breakpoint-md {
    @include rem(18);
    padding: 20px 25px;
  }

  @media (max-width: 767px) {
    padding: 20px;
    font-size: 18px;
    line-height: 18px;
  }

  &[disabled] {
    //background-color: $gray;
    pointer-events: none;
    cursor: pointer;
  }

  &--full {
    width: 100%;
    cursor: pointer;
  }

  &--sm {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
    @include breakpoint-md {
      @include rem(18);
      @include line-height(21, 18);
      text-transform: none;
      font-weight: 400;
    }
  }

  &--arrowed {
    position: relative;
    padding-right: 40px;

    @include breakpoint-lg {
      padding-right: 69px;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url("../../assets/images/icon-arrow-white.svg");
      background-repeat: no-repeat;
      background-size: contain;
      @include size(24px, 10px);
      right: 2%;
      top: 50%;
      transform: translateY(-50%);

      @include breakpoint-lg {
        @include size(24px, 15px);
        right: 10%;
      }
    }
  }
  &__auth {
    background-color: $g__btn_primary_background;
    color: $g__btn_primary_color;
  }
  &__pay {
    background-color: $g__btn_primary_background;
    color: $g__btn_primary_color;

    &--loading {
      &::after {
        content: '';
        display: inline-block;
        background: url("/assets/images/oval-white.svg");
        background-size: cover;
        width: 20px;
        height: 20px;
        position: relative;
        left: 10px;
      }
    }
  }
}

.btn__auth:disabled{
  background: #929FAB;
}


.btn--request {
  @include radius(4px);
  @include rem(16); /*Необходимо уточнение по мобильной версии*/
  @include line-height(18, 18);
  @extend .text-center;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 15px; /*Необходимо уточнение по мобильной версии*/
  display: inline-block;
  background-color: $g__btn_primary_background;
  color: $g__btn_primary_color;

  @include breakpoint-md {
    @include rem(18);
    padding: 20px 25px;
  }

  &[disabled] {
    background-color: $g__text_color_secondary;
    pointer-events: none;
  }

  &--full {
    width: 100%;
  }

  &--sm {
    font-weight: 400;
    text-transform: none;

    @include breakpoint-md {
      @include rem(18);
      @include line-height(21, 18);
    }
  }

  &--arrowed {
    position: relative;
    padding-right: 40px;

    @include breakpoint-lg {
      padding-right: 69px;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url("../../assets/images/icon-arrow-white.svg");
      background-repeat: no-repeat;
      background-size: contain;
      @include size(24px, 10px);
      right: 2%;
      top: 50%;
      transform: translateY(-50%);

      @include breakpoint-lg {
        @include size(24px, 15px);
        right: 10%;
      }
    }
  }
}

// на подаче заявки
.rate__btn {
  display: flex;
  padding: 20px 25px;
  margin-left: 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: $request-button-color;
  background: $request-button-background;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;

  svg {
    position: absolute;
    right: 25px;
    fill: $request-button-color;
    path {
      fill: $request-button-color;
    }
  }

  @media (max-width: 576px) {
    font-size: 1rem;
    line-height: 1;
    padding: 15px;
    height: auto;
    width: 200px;
  }

  &:disabled {
    color: $request-button-color;
    background: $request-button-background;
  }

  &::after {
    content: "";
    display: block;
    margin-left: 20px;
    width: 25px;
    height: 16px;
    //background-image: url("/assets/images/icon-arrow-white.svg");
    background-repeat: no-repeat;
  }
}


// Кнопки 2 степ
.step2to3-btn {
  position: relative;
  width: 222px;
  //display: flex;
  align-items: center;
  color: $g__btn_primary_color;
  background: $g__btn_primary_background;
  &:disabled {
    color: $request-button-color;
    background: $request-button-background;
  }

  & img {
    margin-left: 20px;
  }

  & .btn-body {
    display: flex;
    align-items: center;

    & span {
      color: $g__btn_primary_color;
    }
  }

  @media (max-width: 576px) {
    width: 200px;
    padding: 15px;
    height: auto;
  }

  .arrow-request-icon {
    position: absolute;
    right: 25px;
    top: 20px;
    svg {
      fill: $g__btn_primary_color;
      path {
        fill: $g__btn_primary_color;
      }
    }
  }
  .loaderAuth {
    display: block;
    width: 20px;
    height: 20px;
    border: 4px solid $g__btn_primary_color;
    border-top: 4px solid $g__btn_primary_background;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-bottom: 10px;
    position: absolute;
    right: 25px;
    top: 17px;
  }
}

.repeat {
  margin-bottom: 10px;
  position: absolute;
  right: 25px;
  top: 17px;
  svg {
    fill: $g__btn_primary_color;
    path {
      fill: $g__btn_primary_color;
    }
  }

  @media (max-width: 768px) {
    left: 24vw;
    top: -1px;
  }

  @media (max-width: 600px) {
    left: 30vw;
  }

  @media (max-width: 500px) {
    left: 27vw;
    top: -1px;
    svg{
      width: 23px;
    }
  }

  @media (max-width: 400px) {
    left: 120px;
  }
}

.repeat-code {
  margin-bottom: 10px;
  right: 25px;
  top: 17px;
}

.btn-blue{
  background: $g__btn_primary_background;
  border: 1px solid $g__btn_primary_background;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $g__btn_primary_color;
  padding:14px 20px;

  &:hover{
    opacity: 0.9;
    cursor: pointer;
  }

  &:disabled{
    opacity: 0.5;
    &:hover{
      background: $g__btn_primary_background;
      cursor: not-allowed;
    }
  }
}

.btn-blue-small{
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  background: $g__btn_primary_background;
  border-radius: 4px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: $g__btn_primary_color;
  padding:10px 14px;
  border: 1px solid $g__btn_primary_background;

  &:hover{
    opacity: 0.9;
    cursor: pointer;
  }

  &:disabled{
    opacity: 0.5;
    &:hover{
      cursor: not-allowed;
    }
  }
}

.btn-blue-attr{
  background:none;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $g__btn_attr_text_color;
  padding:15px 20px;
  border: 1px solid $g__btn_attr_border_color;

  &:hover{
    opacity: 0.9;
    cursor: pointer;
  }

  &--thin{
    font-weight: normal;
    width: 100%;
  }

  &:disabled{
    opacity: 0.5;
    &:hover{
      background:none;
      cursor: not-allowed;
    }
  }
}


.btn-blue-arrow {
  background: $g__btn_primary_background;
  border-radius: 4px;
  padding: 20px 69px 20px 25px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: $g__btn_primary_color;
  border: none;
  position: relative;
  cursor: pointer;

  & svg {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 100%;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    fill: $g__btn_primary_color;

    @media (max-width: 768px) {
      right: 15px;
    }
  }

  &:hover{
    opacity: 0.9;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &:hover{
      cursor: not-allowed;
    }
  }

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    padding: 15px 49px 15px 20px;
    text-transform: none;

    &::after {
      right: 15px;
      top: 21px;
      width: 20px;
    }
  }

}

.btn-back{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  color: $g__btn_attr_text_color;
  padding-left: 30px;
  border: none;
  background: none;
  align-items: center;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 100%;
    background-image: url("/assets/images/icon-arrow-gray.svg");
    transform: rotate(180deg);
    left: 0;
    top: -40%;
  }

  @media (max-width: 768px) {
    background: #FFFFFF;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    color: $g__link_color;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;

    &::after{
      display: none;
    }
  }
}
