.footer {
  padding-top: 29px;
  padding-bottom: 24px;

  &--centered {
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 768px) {
      justify-content: flex-start;
      padding: 20px;
    }
  }

  &__lisence-info {
    @extend .text-gray;

    @include breakpoint-up-to-md {
      text-align: center;
    }
  }

  @include breakpoint-xl {
    min-width: 1100px;
  }
}
