@import "variables";
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  //min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: $primary-font-family;
  @include rem(15);
  @include line-height(20, 15);
  color: $g__text_color_primary;
  background-color: $g__body_background;


  &.menu-open {
    @include breakpoint-up-to-lg {
      position: relative;
      overflow: hidden;


      //
      //&::before {
      //  content: '';
      //  background-color: rgba(#152438, 0.5);
      //  position: fixed;
      //  left: 0;
      //  right: 0;
      //  top: 0;
      //  bottom: 0;
      //  width: 100%;
      //  z-index: 1;
      //}
    }
  }

}

.container {
  max-width: 1260px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  @include push--auto;

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &--small{
    max-width: 814px;
    padding: 0;
  }

  &-sm {
    @extend .container;
    max-width: 620px;
  }

  &-md {
    @extend .container;
    max-width: 834px;

  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 68px);
  min-width: 375px;

  main {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.disabled-section {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: 100;
    background: $g__form_background;
  }
}
