.heading-h1 {
  @include rem(20);
  @include line-height(24, 20);
  font-weight: 400;
  margin-bottom: 20px;

  @include breakpoint-md {
    @include rem(25);
    @include line-height(32, 25);
    margin-bottom: 18px;
  }

  &--centered {
    @extend .text-center;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }
}

.heading-h2 {
  @include rem(18);
  @include line-height(22, 18);
  font-weight: 400;
  margin-bottom: 20px;

  @include breakpoint-md {
    @include rem(20);
    @include line-height(28, 20);
    margin-bottom: 23px;
  }

  &--centered {
    @extend .text-center;
  }
}
