.header {
  position: relative;
  background-color: $nav__background;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 375px;
  z-index: 999;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $nav__link_color;
    opacity: 0.2;
  }

  @include breakpoint-lg {
    padding: 0;
  }

  @include breakpoint-xl {
    min-width: 1100px;

  }

  &--centered {
    padding: 0;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .header__logo {
      padding-top: 0;
      margin-right: 0;
    }
  }

  &__logo {
    display: inline-block;
    //width: 105px;


    img {
      vertical-align: middle;
      max-height: 100%;
    }

    @include breakpoint-lg {
      margin-right: 20px;
      //width: 119px;
    }

    @include breakpoint-xl {
      margin-right: 41px;
      &--padding {
        padding-top: 2px;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-lg {
      justify-content: flex-start;
    }
  }

  &__nav {
    @include breakpoint-lg {
      flex-grow: 1;
    }
  }
}
