//helpers
//hidden classes
.hide-xs {
  display: none;
}

.hide-sm {
  @include breakpoint-sm {
    display: none;
  }
}

.hide-md {
  @include breakpoint-md {
    display: none;
  }
}

.hide-lg {
  @include breakpoint-lg {
    display: none;
  }
}

.hide-up-to-md {
  @include breakpoint-up-to-md {
    display: none;
  }
}

.hide-up-to-lg {
  @include breakpoint-up-to-lg {
    display: none;
  }
}

//text classes
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.d-flex-md {
  @include breakpoint-md {
    display: flex;
  }
}

.jc-sb-md {
  @include breakpoint-md {
    justify-content: space-between;
  }
}

.uppercase {
  text-transform: uppercase;
}

.text-sm {
  @include rem(13);
  @include line-height(20, 13);
}

.text-gray {
  color: $g__text_color_secondary;
}

.text-left {
  text-align: left;
}


.visual-hidden {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
