.row-md {
  @include breakpoint-md {
    @include make-row();
  }
}

.row-lg {
  @include breakpoint-lg {
    @include make-row();
  }
}

.col {

  &--1-2-md {
    @include breakpoint-md {
      @include make-col-ready();
      @include make-col(6);
    }
  }

  &--2-3-md {
    @include breakpoint-md {
      @include make-col-ready();
      @include make-col(8);
    }
  }

  &--1-3-md {
    @include breakpoint-md {
      @include make-col-ready();
      @include make-col(4);
    }
  }

  &--3-5-md {
    @include breakpoint-md {
      @include make-col-ready();
      @include make-col(7);
    }
  }

  &--2-5-md {
    @include breakpoint-md {
      @include make-col-ready();
      @include make-col(5);
    }
  }

  &--1-2-lg {
    @include breakpoint-lg {
      @include make-col-ready();
      @include make-col(6);
    }
  }

  &--2-3-lg {
    @include breakpoint-lg {
      @include make-col-ready();
      @include make-col(8);
    }
  }

  &--1-3-lg {
    @include breakpoint-lg {
      @include make-col-ready();
      @include make-col(4);
    }
  }
}
