a {
  &:hover {
    cursor: pointer;
  }
}

.bordered-gray {
  color: $g__text_color_secondary;
  text-decoration: underline;
  //border-bottom: 1px solid $tertiary-text-color;
}

.bordered-blue {
  color: $g__link_color;
  text-decoration: underline;
  //border-bottom: 1px solid $g__link_color;

  & span {
    color: $g__link_color;
  }
}

.dashed-blue {
  @include rem(13);
  @include line-height(18, 13);
  color: $g__link_color;
  border-bottom: 1px dashed $g__link_color;
}

.dotted-blue {
  display: inline;
  color: $g__link_color;
  border-bottom: 1px dotted $g__link_color;
}

.blue {
  color: $g__link_color;
}
