@import 'variables';

.grid-template {
  display: grid;
  width: 100%;
  gap: 10px;
  position: relative;

  @media (max-width: 793px) {
    grid-template-columns: 1fr !important;
    height: max-content !important;
  }

  &__item {
    &_float-right {
      display: flex;
      justify-content: flex-end;
    }

    &_checkbox-sm {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.header-template {
  margin: 20px 0 10px;
  padding: 0 10px;
  color: #929FAB;
}

.list-template {
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 100px;

  &_error {
    border: 1px solid #FF1037;
    background: #FFF3F5;
  }
}

.link {
  color: $g__link_color;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}
