.main-nav {
  &__wrapper {
    display: none;
    position: absolute;
    width: 100%;
    padding: 10px 15px 20px 10px;
    top: 45px;
    left: 0;
    z-index: 99;
    background-color: $nav__background;

    @include breakpoint-lg {
      background-color: transparent;
      position: static;
      padding: 0;
      display: flex !important;
      align-items: center;
    }

    @media (max-width: 991px) {
      padding: 0;
      padding-top: 50px;
    }
  }

  &__list {
    @include breakpoint-lg {
      display: flex;
      flex-wrap: wrap;
    }

    & + .main-nav__btn {
      @include breakpoint-lg {
        margin-left: 20px;
      }

      @include breakpoint-xl {
        margin-left: 41px;
      }
    }
  }

  &__toggle {
    @extend .hide-lg;
    @include size(24px,24px);
    padding-top: 3px;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    border: none;

    & svg {
      @include size(24px,24px);
      fill: $nav__link_color;

      &.close {
        display: block;
      }

      &.open {
        display: none;
      }
    }

    &.open {
      & svg {
        &.close {
          display: none;
        }

        &.open {
          display: block;
        }
      }
    }
  }

  &__link {
    @extend .bold;
    @extend .uppercase;
    @include rem(15);
    @include line-height(18, 13);
    display: inline-block;
    color: $nav__link_color;
    border-bottom: 3px solid transparent;

    &--has-dropdown {
      span {
        position: relative;
        padding-right: 14px;
        &::before {
          content: '';
          position: absolute;
          @include size(9px, 5px);
          top: 50%;
          margin-top: -2.5px;
          right: 0;
          background-image: url("../../assets/images/icon-arrow-black.svg");
          background-repeat: no-repeat;
        }
      }
    }

    @include breakpoint-lg {
      @include rem(13);
      padding: 20px 0;
    }

    &.is-active, &:hover {
      border-bottom-color: $nav__link_underline;

      @media(max-width: 991px) {
        border-bottom-color: white;
        border-left: 3px solid $nav__link_underline;
        padding-left: 12px;
      }
    }

    @media (max-width: 991px) {
      padding-left: 15px;
      padding-right: 48px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include breakpoint-lg {
      &:not(:last-child) {
        margin-right: 15px;
        margin-bottom: 0;
      }
    }

    @include breakpoint-xl {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__btn {
    @include rem(13);
    @include line-height(18, 13);
    padding: 10px 14px;
    margin-top: 20px;

    @include breakpoint-lg {
      margin-top: 0;
    }
  }

  &__user {
    position: relative;
    color: $nav__link_color;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 17px;
    margin-top: 0;
    //align-items: center;

    @include breakpoint-lg {
      margin-top: 0;
    }

    @include breakpoint-xl {
      margin-top: 0;
    }

    &-name {
      @include rem(13);
      @include line-height(24, 15);
      margin-right: 9px;

      @include breakpoint-lg {
        @include rem(15);
      }
    }

    &-num {
      @extend .bold;
      @include size(24px, 24px);
      @include rem(13);
      @include line-height(16, 13);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $g__alert_color;
      color: $white;
    }

    &-dropwdown {
      display: block;

      @media(max-width: 992px) {
        display: flex;
        width: 100%;
        flex-grow: 1;
      }

    }
  }
}

.main-nav__user{
  &:before{
    display: none;
  }
}
