/* Rows */
.table-corp {
  display: grid;
  width: 100%;
  margin: auto;

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    button {
      background: #FFFFFF;
      border: 1px solid rgba(21, 36, 56, 0.15);
      box-sizing: border-box;
      border-radius: 5px;
      padding: 12px;
      color: #00AFEC;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 28% 24% 18% 12% 13% 5%;
    @media (max-width: 1100px) {
      display: none;
    }

    p {
      font-size: 13px;
      line-height: 18px;
      color: #929FAB;
      margin-bottom: 15px;

      &.head-table__six {
        text-align: right;
      }
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 14% 13.5% 24.5% 18.5% 12.3% 12.3% 5%;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid transparent;

    &--active {
      background: #F2FCFF;
      border: 1px solid #00AFEC;
    }

    @media (max-width: 1100px) {
      grid-template-areas: "img type owner"
      "img date class"
      "img state checkbox";
      grid-template-columns: 240px 1fr 1fr !important;
    }

    @media (max-width: 768px) {
      grid-template-areas: "img type"
      "owner owner"
      "date date"
      "class class"
      "state state"
      "checkbox checkbox";
      grid-template-columns: 130px auto !important;
    }
  }

  &__checkbox {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;

    @media (max-width: 1100px) {
      grid-area: checkbox;
    }

    &--label {
      width: 18px;
      height: 18px;
      position: relative;
      right: 5px;
      top: 0;

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 1100px) {
        height: fit-content;
        right: auto;
        margin-right: auto;
        width: 100%;
      }

      &:before {
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        border-radius: 5px;
        left: 0;
        top: 0;

        @media (max-width: 1100px) {
          display: none;
        }
      }
    }
  }

  &__mobile-blue {
    display: none;
    @media (max-width: 1100px) {
      display: block;
      font-size: 13px;
      line-height: 18px;
      color: #00AFEC !important;
      border: 1px solid #00AFEC;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 12px;
      width: 100%;
      max-width: 350px;
      text-align: center;
    }

    @media (max-width: 768px) {
      max-width: none;
    }

    &--delete {
      background: #00AFEC;
      border: 1px solid #00AFEC;
      color: #FFFFFF !important;
    }
  }

  &__img {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    width: 150px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1100px) {
      grid-area: img;
      margin: auto;
    }

    @media (max-width: 768px) {
      width: 120px;
      height: 91px;
      margin: 0;
    }

    &-text {
      text-align: center;
    }
  }

  &__mobile-txt {
    display: none;
    @media (max-width: 1100px) {
      display: block;
      font-weight: bold;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #929FAB;
      margin-bottom: 15px;
    }

    @media (max-width: 768px) {
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #929FAB;
      text-transform: none;
      margin-right: 23px;
      white-space: nowrap;
    }

    &--none {
      @media (max-width: 768px) {
        display: none;
      }

    }

    &--state {
      @media (max-width: 768px) {
        margin: 4px 0;
      }
    }
  }

  &__type {
    height: 100%;
    padding-top: 10px;
    padding-right: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @media (max-width: 1100px) {
      grid-area: type;
    }

    span {
      font-weight: bold;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #929FAB;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__owner {
    padding-top: 10px;
    padding-right: 20px;
    //position: relative;

    @media (max-width: 1100px) {
      grid-area: owner;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
      padding-bottom: 10px;
    }
  }

  &__date {
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
    padding-right: 20px;
    height: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    @media (max-width: 1100px) {
      grid-area: date;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    @media (max-width: 768px) {
      border-bottom: 1px solid rgba(21, 36, 56, 0.15);
      margin: 0;
      padding-bottom: 10px;
      padding-right: 0;
    }
  }

  span {
    color: #929FAB;
    margin-right: 5px;
    @media (max-width: 768px) {
      font-size: 13px;
      line-height: 18px;
      color: #929FAB;
    }
  }

  p {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }


  }


  &__class {
    &-wrapper {
      display: flex;
      height: fit-content;
      padding-top: 10px;
      padding-right: 20px;
      flex-wrap: wrap;
      min-width: 170px;

      @media (max-width: 1100px) {
        grid-area: class;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 20px;
      }

      @media (max-width: 768px) {
        border-bottom: 1px solid rgba(21, 36, 56, 0.15);
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        flex-wrap: nowrap;
        padding-right: 0;
        .table-corp__mobile-txt {
          padding-top: 10px;
        }
      }
    }

    background: #FFFFFF;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    padding: 4px 13px;
    margin-right: 5px;
    margin-bottom: 5px;


    &--critical {
      background: #FFD7DD
    }
  }

  &__state {
    padding-top: 10px;
    padding-right: 20px;

    @media (max-width: 1100px) {
      grid-area: state;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
      padding-bottom: 0;
      padding-right: 0;
    }

  }
}


.table-corp__checkbox--input:checked + .table-corp__checkbox--label::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 13px;
  height: 11px;
  left: 3px;
  top: 3px;
  background-image: url('/assets/images/black-done.svg');
  background-repeat: no-repeat;
  background-size: 17px 11px;
  background-position: center;
  @media (max-width: 1100px) {
    display: none;
  }
}

.table-corp__checkbox--input:checked + .table-corp__checkbox--label::before {
  display: none;
}


.head-table__fourth {
  min-width: 170px;
}


.app-trademark-modal-new {
  position: relative;
  z-index: 21;

  ::ng-deep {
    .zzmodal {
      position: relative;
      z-index: 1000;
    }
  }
}

.comment-new__tooltip {
  position: absolute;
  display: none !important;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2px 8px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 20px;
  color: #414141 !important;
  left: auto;
  z-index: 10;
  bottom: auto;
}


.table-corp__owner:hover .comment-new__tooltip {
  display: block !important;
}

:host ::ng-deep {
  .mktu-list {
    padding-top: 0 !important;
  }
}
