.section-position--white {
  background-color: white;
}

.inset {
  background-color: white;
  padding: 40px 0;
  @media (max-width: 1280px) {
    padding: 40px 15px;
  }

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.show {
  width: 80px;
  margin-left: auto;

  @media (max-width: 1280px) {
    width: fit-content;
    margin-left: -50px;
  }

  .events-steps__link {
    display: none;
  }

  + .to-hide {
    display: block;
  }

  .events-steps__hidden {
    display: flex;
    position: relative;
    top: 27px;
    left: -1033px;
    margin: 26px 0;
    width: 93vw;
    flex-direction: column;
    text-align: left;
    min-width: 355px;
    max-width: 1240px;

    @media (max-width: 1280px) {
      top: 5px;
      left: 0;
      margin: 0;
      width: 93vw;

    }

    @media (max-width: 500px) {
      flex-direction: column;
      gap: 10px;
      left: -12px;
    }
  }
}

.to-hide {
  display: none;
  border: none;
  background: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #00AFEC;
  margin-left: 5px;
  width: 70px;

  @media (max-width: 1280px) {
    margin-left: 0;
  }

  &:hover {
    cursor: pointer;
    text-decoration-line: none;
  }

  &--display {
    display: block;
  }
}

.hidden {
  display: flex !important;
}
