@import 'variables';

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;

  @media (max-width: 767px) {
    margin-bottom: 15px;
  }

  tr {
    position: relative;
    @media (max-width: 767px) {
      display: grid;
      grid-template-columns: min-content auto;
      padding: 9px;
      margin-bottom: 5px;
      border: 1px solid rgba(21, 36, 56, 0.15);
      border-radius: 5px;

      &:first-of-type {
        display: none;
      }
    }

    th {
      text-align: left;
      border-top: 1px solid #EAEAEA;
      border-bottom: 1px solid #EAEAEA;
      padding: 8px;
      background: #F7F7F7;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: $g__text_color_secondary;
    }

    td {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: $g__text_color_primary;
      text-align: left;
      border-top: 1px solid #EAEAEA;
      border-bottom: 1px solid #EAEAEA;
      padding: 8px;
      position: relative;

      @media (max-width: 767px) {
        position: relative;
        padding: 0;
        margin-bottom: 5px;
        border: none;

        &:last-of-type {
          margin-bottom: 0;
        }

        &::before {
          content: attr(data-label);
          display: block;
          margin-bottom: 5px;
          font-size: 13px;
          line-height: 18px;
          color: #929FAB;
        }

        &.date-doc {
          grid-column: 1/2;
          grid-row: 1/2;
          padding-right: 10px;

          &::before {
            display: none;
          }
        }

        &.number {
          grid-column: 2/3;
          grid-row: 1/2;
          font-weight: 700;
          font-size: 13px;
          line-height: 18px;
          text-decoration-line: underline;
          color: $g__link_color;

          &::before {
            display: none;
          }
        }

        &.type-doc {
          grid-column: 1/3;
          grid-row: 2/3;
          text-decoration-line: underline;

          &::before {
            display: none;
          }
        }

        &.status {
          grid-column: 1/3;
          grid-row: 3/4;

          &::before {
            display: none;
          }
        }

        &.date-reg {
          grid-column: 1/3;
          grid-row: 1/2;
        }

        &.date-pub {
          grid-column: 1/3;
          grid-row: 2/3;
        }

        &.type-change {
          grid-column: 1/3;
          grid-row: 3/4;
        }
      }
    }
  }
}


.contract-tooltip {
  display: none;
  position: absolute;
  left: 60px;
  bottom: 20px;
  width: 520px;
  padding: 20px;
  background: $g__body_background;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 2;
  overflow-y: auto;

  @media (max-width: 991px) {
    width: 480px;
  }

  @media (max-width: 767px) {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
  }

  &.open {
    display: block;
  }

  dl {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    dt {
      margin-bottom: 5px;
      font-size: 13px;
      line-height: 18px;
      color: $g__text_color_secondary;
    }

    dd {
      margin: 0;
      font-size: 15px;
      line-height: 20px;
      color: $g__text_color_primary;
    }
  }
}

.contract-tooltip__close {
  display: none;

  @media (max-width: 767px) {
    display: block;
    position: relative;
    padding: 0;
    width: 24px;
    height: 24px;
    margin-left: auto;
    border: none;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      height: 24px;
      width: 2px;
      background-color: $g__text_color_primary;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

button {
  background: $g__btn_primary_color;
  border: 1px solid $g__btn_attr_border_color;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: $g__btn_attr_text_color;
  cursor: pointer;

  &.active {
    background: $header__light_background;
    border: 1px solid $g__outline_color;
    box-sizing: border-box;
    border-radius: 3px;
    color: $g__text_color_primary;
  }
}

.pagination {
  text-align: center;
  margin-bottom: 30px;
}

.show-all-btn {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding: 11px;
  font-family: inherit;
  color: $g__btn_primary_background;
  font-size: 13px;
  line-height: 18px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid $g__btn_primary_background;
}
