<div class="container">
  <h2 class="visual-hidden">Организации и ИП</h2>
  <div class="attention" *ngIf="administrator === true">
    <p class="attention__title">
      Важно!
    </p>
    <p class="attention__desc">
      У представителя «<span class="attention__desc-bold">Константинопольский Константин Андреевич</span>»
      в компании ООО «<span class="attention__desc-bold">Системные технологии</span>» заканчивается доверенность
      10.10.2020.
      Пожалуйста прикрепите новую доверенность.
    </p>
    <a href="" class="attention__link">Посмотреть</a>
  </div>
  <div>
    <section class="user-organization"
             *ngFor="let organization of orgData"
             [ngClass]="waitingAccount === true ? 'waiting-conf': ''"
    >
      <div class="user-organization__wrap">
        <div class="user-organization__info">
          <a [routerLink]="'/user/organization'" class="user-organization__name">{{ organization?.name }}</a>
          <ul class="user__info-list user-organization__list">
            <li class="user__info-item">PSRN {{ organization?.PSRN }}</li>
            <li class="user__info-item">TIN {{ organization?.TIN }}</li>
            <!--                    <li class="user__info-item">{{ organization?.city }}</li>-->
          </ul>
        </div>
        <!--        <div class="user-organization__balance" *ngIf="administrator === true">-->
        <!--          <div>-->
        <!--            <p class="user-organization__balance-total">Остаток: {{ organization?.balance }} <span>₽</span></p>-->
        <!--            <p *ngIf="organization?.bonus != null"-->
        <!--               class="user-organization__balance-bonus">Из них бонусных: <span>{{ organization?.bonus }}</span> ₽-->
        <!--            </p>-->
        <!--          </div>-->
        <!--          <button class="user-organization__balance-btn">Пополнить</button>-->
        <!--        </div>-->
      </div>
      <!--      <div *ngIf="!waitingAccount" class="user-organization__about">-->
      <div class="user-organization__about">

        <div class="cases">
          <h3 class="user-organization__title">Активные дела: {{ organization.cases.length }}</h3>
          <ul class="cases__list">
            <!--                    <li class="cases__item" *ngFor="let case of organization?.cases.slice(0,  showCases)">-->
            <li class="cases__item" *ngFor="let task of organization.cases">
              <a href="" class="cases__name">{{ task?.type }}#{{task?.number}}</a>
<!--              <div class="cases__response recovery" [ngClass]="{-->
<!--                                    'wait': task?.stage === 'Ждем ответ от роспатента',-->
<!--                                    'recovery': task?.stage === 'Взыскание',-->
<!--                                    'claim': task?.stage === 'Претензия, ожидание ответа'}">-->
<!--                <span class="recovery">{{ task?.stage }}</span>-->
<!--              </div>-->
              <div class="cases__response recovery">
                <span class="recovery">{{ task?.stage }}</span>
              </div>
            </li>
          </ul>
          <button *ngIf="showCases < organization?.cases?.length" (click)="casesShow()" class="show-all">
            Показать все дела
          </button>
          <div class="cases__create-wrap" *ngIf="organization?.cases?.length === 0">
            <button class="cases__create">
              Создать дело
            </button>
          </div>
        </div>

        <div *ngIf="showAllCases" class="cases">
          <h3 class="user-organization__title">Активные дела: {{ organization.cases.length }}</h3>
          <ul class="cases__list">
            <!--                    <li class="cases__item" *ngFor="let case of organization?.cases.slice(0,  showCases)">-->
            <li class="cases__item" *ngFor="let task of organization.cases">
              <a href="" class="cases__name">{{ task?.type }}#{{task?.number}}</a>
              <div class="cases__response recovery">
                <span class="recovery">{{ task?.stage }}</span>
              </div>
            </li>
          </ul>
          <button *ngIf="showCases < organization?.cases?.length" (click)="casesShow()" class="show-all">
            Показать все дела
          </button>
          <div class="cases__create-wrap" *ngIf="organization?.cases?.length === 0">
            <button class="cases__create">
              Создать дело
            </button>
          </div>
        </div>

        <div class="assignees">
          <h3 class="user-organization__title">Представители: {{ organization?.representatives?.length }}</h3>
          <ul class="assignees__list">
            <!--                    <li class="assignees__item" *ngFor="let user of organization?.representatives.slice(0,  showUsers)">-->
            <li class="assignees__item" *ngFor="let user of organization?.representatives">
              <a href="" class="">{{ user?.performance }}</a>
            </li>
          </ul>
          <button *ngIf="showUsers < organization?.users?.length" (click)="usersShow()"
                  class="show-all">Показать всех
          </button>
        </div>
      </div>
      <div *ngIf="waitingAccount" class="user-organization__waiting-account">
        <img src="/assets/icons/icon-waiting-account.svg" alt="" class="waiting-account__img" width="120" height="32">
        <p class="waiting-account__title">
          Ожидает подтверждение администратора организации
        </p>
        <p class="waiting-account__desc">
          Данная компания уже зарегистрирована в сервисе. Вы сможете использовать сервис для
          получения услуг от имени указанной организации, после подтверждения ваших прав администратором.
          Если вы считаете что должны являться администратором этой организации, то
          обратитесь в <a href="" class="waiting-account__link">службу поддержки</a>.
        </p>
      </div>
    </section>
  </div>

  <button *ngIf="administrator === true" (click)="addOrg()" class="user-organization__add">
    <img src="/assets/icons/icon-add.svg" class="user-organization__add-img" alt="" width="60" height="60">
    <span class="user-organization__add-text">Добавить организацию</span>
  </button>
</div>

