.container {
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.attention {
  margin: 0 0 40px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.attention__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FF9330;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.attention__desc {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 24px;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.attention__link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: underline;
  color: #00AFEC;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

// Дела

.cases {
  max-width: 786px;
  min-width: 393px;
  flex-grow: 1;

  @media (max-width: 767px) {
    min-width: auto;
  }
}

.cases__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    display: block;
  }
}

.cases__item {
  padding: 19px;
  margin-bottom: 15px;
  margin-right: 40px;
  min-width: 353px;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  border-radius: 5px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 10px;
    min-width: auto;
  }
}

.cases__name {
  display: block;
  max-width: 310px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: #152438;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 767px) {
    white-space: normal;
    overflow: visible;
    text-overflow: inherit;
  }
}

.cases__response {
  display: inline-block;
  padding: 5px 12px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  border-radius: 5px;

  &.wait {
    background-color: #FEEEDD;
  }

  &.recovery {
    background-color: #BEF2C5;
  }

  &.claim {
    background-color: #FFEA9F;
  }
}

.show-all {
  padding: 0;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  color: #929FAB;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: 767px) {
    display: block;
    margin: 10px 0 0;
    width: 100%;
    max-width: 295px;
    padding: 12px;
    color: #00AFEC;
    text-decoration: none;
    border: 1px solid rgba(21, 36, 56, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.cases__create-wrap {
  @media (max-width: 767px) {
    max-width: 295px;
    padding: 20px;
    border: 1px solid #DCDEE1;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.cases__create {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 10px 15px;
  background-color: #00AFEC;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  @media (max-width: 767px) {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 13px;
    line-height: 18px;
  }
}

.assignees {
  width: 360px;

  @media (max-width: 767px) {
    width: auto;
    margin-top: 20px;
  }
}

.assignees__list {
  margin-top: 22px;
  margin-bottom: 15px;

  @media (max-width: 767px) {
    margin-top: 10px;
  }
}

.assignees__item {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: #152438;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & a {
    text-decoration: underline;
    color: #152438;
  }
}

.attention__desc-bold {
  font-weight: 700;
}

.user-organization {
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid rgba(21, 36, 56, 0.15);
  box-sizing: border-box;
  border-radius: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.user-organization__wrap {
  display: flex;
  align-items: center;
  padding: 50px 50px 43px;
  background-color: #F7F8FB;
  border-radius: 5px 5px 0 0;

  @media (max-width: 991px) {
    display: block;
    padding: 40px;
  }

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.user-organization__info {
  max-width: 786px;
  flex-grow: 1;
}

.user-organization__balance {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 1;
  min-width: 360px;

  @media (max-width: 991px) {
    display: block;
    margin-top: 15px;
    min-width: auto;
  }
}

.user-organization__balance-total {
  margin: 0 0 15px;
  font-size: 24px;
  line-height: 32px;
  color: #152438;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }

  & span {
    color: #929FAB;
  }
}

.user-organization__balance-btn {
  padding: 7px 11px;
  margin-left: 13px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00AFEC;
  background-color: transparent;
  border: 1px solid #00AFEC;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;

  @media (max-width: 991px) {
    display: block;
    width: 100%;
    max-width: 295px;
    margin: 0;
  }
}

.user-organization__balance-bonus {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #929FAB;

  @media (max-width: 991px) {
    margin-bottom: 15px;
  }

  & span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #152438;
  }
}

.user-organization__name {
  font-size: 24px;
  line-height: 32px;
  text-decoration: underline;
  color: #00AFEC;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
  }
}

.user-organization__list {
  margin-top: 15px;

  @media (max-width: 991px) {
    flex-direction: row;
    align-items: flex-start;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    margin-top: 10px;
  }
}

.user__info-item {
  @media (max-width: 991px) {
    margin-bottom: 0;
    margin-right: 11px;

    &::after {
      display: block;
    }

    @media (max-width: 767px) {
      margin-bottom: 10px;
      margin-right: 0;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::after {
        display: none;
      }
    }
  }

  &:last-of-type {
    &::after {
      display: none;
    }
  }
}

.user-organization__about {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 25px;
  min-height: 211px;

  @media (max-width: 991px) {
    padding-left: 40px;
  }

  @media (max-width: 767px) {
    display: block;
    padding: 20px;
    min-height: auto;
  }
}

.user-organization__title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #929FAB;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.user-organization__add {
  display: block;
  margin-top: 40px;
  width: 100%;
  padding: 30px;
  background: #FFFFFF;
  border: 1px dashed #00AFEC;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: 767px) {
    margin-top: 20px;
    padding: 20px;
  }
}

.user-organization__add-img {
  display: block;
  margin: 0 auto 20px;
  width: 60px;
  height: 60px;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.user-organization__add-text {
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: #00AFEC;
}

//Личный кабинет сотрудника с ожиданием подтверждения прав от админа

.waiting-conf {
  & .user-organization__name {
    color: #929FAB;
    pointer-events: none;
  }
}

.user-organization__waiting-account {
  padding: 30px 30px 50px;

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.waiting-account__img {
  display: block;
  margin: 0 auto 20px;
  width: 120px;
  height: 32px;
}

.waiting-account__title {
  margin: 0 0 15px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.waiting-account__desc {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #929FAB;

  & a {
    text-decoration: underline;
    color: #00AFEC;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}
