<div class="events-steps__hidden">
  <div class="events-steps__hidden-text-wrapper hidden">
    <h3 class="hidden__short">Вам необходимо добавить документы с доказательствами</h3>
    <p>Текст с описанием того, что такое доказательства.</p>
  </div>
  <div class="events-steps__hidden-btn-wrapper">
    <button class="btn-blue-small">Добавить документы</button>
  </div>
</div>
