<div
  class="portfolio-cost"
  [ngClass]="!isLoading && !data && mobileOpenThirdChart===true ? 'is-active-wrap': ''"
>
  <div
    *ngIf="!isLoading && !data.after && !data.before"
    class="chart__block chart__block--position chart__block--kpi"
    (click)="mobileOpenThirdCard()"
  >
    <p class="chart__name chart-date" [class.chart-date--open]="mobileOpenThirdChart===true">
      KPI: Стоимость портфеля
    </p>
    <div class="chart-date__wrapper" *ngIf="!isLoading && !data.after && !data.before && mobileOpenThirdChart===true">
      <span class="chart__status">{{isLoading ? 'Загрузка...' : 'Нет данных'}}</span>
    </div>
  </div>

<div class="chart__block-wrap">
<div class="chart__block chart__block--position" *ngIf="isLoading"
    [ngClass]="isLoading ? 'loading': ''">
 <p class="chart__name" (click)="mobileOpenThirdCard()"
    [class.chart-date--open]="mobileOpenThirdChart===true"
    [class.chart__name--mobile--margin]="mobileOpenThirdChart===false"><span>KPI: Стоимость портфеля</span>
 </p>
 <span class="chart__status" *ngIf="mobileOpenThirdChart===true">Загрузка...</span>
</div>

<div class="chart__block chart__block--main" [ngClass]="isLoading ? 'loading': ''">
 <div (click)="mobileOpenThirdCard()" [class.chart-date--open]="mobileOpenThirdChart===true"
      class="chart__name chart-date chart__name--main chart__name--mobile"
      [class.chart__name--mobile--margin]="mobileOpenThirdChart===false">
 <span style="position: relative;width: 88%;display: block" [class.opacity]="!isLoading && !data">KPI: Стоимость портфеля
   <span class="prompt prompt__question prompt__question--trans">?
     <span class="prompt__hidden">
        <p>Увеличьте стоимость портфеля, интегрировав систему управления объектами ИС,
          в том числе мониторинг нарушений через {{brandName}}</p>
      </span>
    </span>
 </span>
 </div>
 <div [ngClass]="mobileOpenThirdChart===true ? 'open': ''"
      class="chart-date__wrapper chart-date__wrapper-mobile">
   <div class="chart-date__numbers-wrapper chart-date__numbers-wrapper--no-line">
     <div class="chart-date__numbers-top-wrapper chart-date__numbers-top-wrapper--mobile">
       <div class="chart-date__numbers chart-date__numbers--mg chart-date__bottom">
         <p class="chart-date__big-count chart-date__big-count--bids">{{(data | formatCostValue: 'before').cost}}</p>
         <span class="chart-date__big-count-img"></span>
       </div>
       <div class="chart-date__numbers chart-date__bottom">
         <p class="chart-date__big-count">{{(data | formatCostValue: 'after').cost}}</p>
         <p class="chart-date__big-count-text">{{(data | formatCostValue: 'after').suffix}}. рублей</p>
       </div>
     </div>
     <button
      id="increaseCost"
      (click)="toLeadForm('Увеличение стоимости портфеля')"
      class="chart-date__btn-add chart-date__btn-add--width btn-mobile"
     >
      Увеличить стоимость
     </button>
   </div>
   <div class="chart-date__charts">
     <div class="chart-date__curves curves">
       <div class="curves__wrapper curves__wrapper--before">
         <span class="curves__name">Текущая стоимость</span>
         <span class="curves__value">{{(data | formatCostValue: 'before').cost}} {{(data | formatCostValue: 'before').suffix}}</span>
       </div>

       <div class="curves__wrapper curves__wrapper--after">
         <span class="curves__name">Потенциальная стоимость</span>
         <span class="curves__value">{{(data | formatCostValue: 'after').cost}} {{(data | formatCostValue: 'after').suffix}}</span>
       </div>
       <app-portfolio-cost-widget></app-portfolio-cost-widget>
     </div>

   </div>
 </div>
</div>
</div>

</div>